/*缺失搜尋小工具*/
#side_float_bar {
  z-index: 1000;
  width: 350px;
  float: right;
  position: fixed;
  top: 52px;
  right: 2px;
}

#float_basket_header {
  height:80px;
  border: solid 1px silver;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px 12px 0px 0px;
  padding: 0px 10px 0px 10px;
  background: #C8DAB6;
  position: relative;
}

#float_basket {
  height:420px;
  overflow-y: scroll;
  border: solid 1px silver;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 0px 0px 12px 12px;
  padding: 10px;
  background: #E6F8D4;
  position: relative;
}

