html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-width: 800px;
    min-height: 600px;
    font-family: '微軟正黑體', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 0.9em;
}

#layout_head {
    max-height: 70px;
    border: 0px;
    overflow: hidden;
    font-size: 40px;
    color: white;
    line-height: 100%;
    text-shadow: 0px 3px 5px #888;
    background: rgb(30,87,153); /* Old browsers */
    background: linear-gradient(135deg,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(125,185,232,1) 100%); /* W3C */
    background: -moz-linear-gradient(-45deg,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(125,185,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(125,185,232,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

#layout_side {
    padding: 0px;
    overflow: hidden;
    display: none;
}

#layout_main {
    padding: 0px;
}

#layout_tools {
    padding: 0px;
    overflow: hidden;
}

#layout_images {
    padding: 0px 0px 200px 0px;
}

#loading_page {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/media/gallery/img/giphy.gif) no-repeat center;
}

#control {
    background-color: #EEE;
}

#control div {
    border-radius: 0px;
    margin: 0px;
    padding: 2px;
}

#control span {
    user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#edit_tools {
    position: fixed;
    bottom: 0px;
    margin: 0px;
    padding-bottom: 5px;
    z-index: 99;
    display: none;
}

#edit_photos_note {
    resize: none;
    margin: 5px 0px;
    width: 100%;
    height: 300px;
}

#edit_take_date {
    padding-top: 10px;
    margin: 0 auto;
}

#select_panel {
    display: none;
    position: fixed;
    overflow: hidden;
    float: left;
    width: 90%;
    padding: 5px;
    bottom: 0px;
    z-index: 90000;
    background-color: #272727;
}

#picking_note {
    height: 110px;
    margin: 0px;
    float: left;
    color: #FCFCFC;
    border-style: dashed;
    border-width: 3px;
    border-color: #FCFCFC;
    border-radius: 2px;
    box-shadow: 4px 4px 3px rgba(20%,20%,40%,0.5);
}

#picked_img {
    display: none;
    height: 110px;
    margin: 0px;
    float: left;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#picked_img::-webkit-scrollbar {
    cursor: pointer;
    height: 7px;
}

#picked_img::-webkit-scrollbar-track {
    background-color: #7B7B7B;
    border-left: 1px solid #7B7B7B;
}

#picked_img::-webkit-scrollbar-thumb {
    background-color: #0066FF;
}

#picked_img::-webkit-scrollbar-thumb:hover {
    background-color: #009FCC;
}

#select_panel > p {
    font-size: 1.2em;
}

#showbox {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

#showbox_photo {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: black;
    user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#showbox_info {
    overflow: hidden;
    padding: 0px;
}

#arrow_left {
    position: relative;
    float: left;
    margin-left: 10px;
}

#arrow_right {
    position: relative;
    float: right;
    margin-right: 10px;
}

#loading_img {
    position: absolute;
    visibility: hidden;
}

#view_tools {
    position: absolute;
    top: 0px;
    margin: 0px;
    padding-top: 5px;
    z-index: 5000;
    opacity: 0.3;
}

#view_tools:hover {
    opacity: 1;
}

#turn_ccw span {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

#anchor {
    position: absolute;
    overflow: hidden;
    width: 300%;
    height: 300%;
}

#panlayer {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#dock {
    position: relative;
}

#portrait {
    position: absolute;
    left: 0px;
    top: 0px;
}

#gird {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 0px;
}

#close_showbox {
    cursor: pointer;
    margin: 3px;
}

#info_list {
    margin: 0px;
}

#photo_date {
    margin: 5px 0px;
}

#photo_note {
    overflow: hidden;
    resize: none;
    margin: 5px 0px;
    width: 100%;
    height: 75px;
}

#comments_list {
    overflow-y: auto; 
    text-align: left;
}

#message {
    background-color: #edeff4;
}

#message textarea {
    overflow: hidden;
    resize: none;
    margin: 5px 0px;
    width: 100%;
    height: 50px;
}

#message a {
    cursor: pointer;
    display: block;
    text-align: right;
    color: #379FB3 !important;
}

#nocomment {
    top: 0px;
    margin: 10px;
    font-size: 1.2em;
}

#template_list {
    padding: 0px;
}

#template_tabs {
    height: 100%;
    overflow: hidden;
    padding: 0px!important;
    background: transparent;
    border: none;
}

#template_tabs .ui-widget-header{
    background: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #C0C0C0; 
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    
}

#template_tabs .ui-tabs-nav .ui-state-default { 
    background: transparent;
    border: none;
}

#template_tabs .ui-tabs-nav .ui-state-active { 
    background: transparent url(/media/gallery/img/uiTabsArrow.png) no-repeat bottom center; 
    border: none; 
}

#template_tabs .ui-tabs-nav .ui-state-default a { 
    color: #c0c0c0; 
}

#template_tabs .ui-tabs-nav .ui-state-active a { 
    color: #459e00; 
}

#download_menu {
    width: 200px!important;
}

#upload_dialog {
    border-bottom: #5B5B5B 2px solid;
    border-left: #5B5B5B 2px solid;
    border-right: #5B5B5B 2px solid;
}

.hidden {
    visibility: hidden;
}

.ui-dialog {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

/* jstree 右鍵選單 */
.jstree-proton-contextmenu {
    z-index: 10000!important;
}

/* jstree dnd 移動指標 */
.jstree-dnd-responsive {
    z-index: 10000!important;
}

.pointer {
    cursor: pointer
}

.breadcrumb {
    margin: 0px;
}

.control_option {
    z-index: 1000;
    width: 150px;
    display: none;
}

.menu_tab {
    padding: 0px!important;
    overflow: hidden;
}

.jstree-grid-col-0 {
    width: auto !important;
}

.jstree-grid-cell {
    width: auto!important;
    padding: 0px !important;
}

.jstree-grid-cell div{
    text-align: center;
}

.grid_image_count {
    float: left!important;
    margin-left: 5px;
}

.grid_image_count:before{
    content: '[';
}

.grid_image_count:after{
    content: ']';
}

.grid_sub_count {
    float: left!important;
    margin-left: 5px;
}

.grid_sub_count:before{
    content: '[';
}

.grid_sub_count:after{
    content: ']';
}

.tracks > ol{
    margin: 0px;
}

.tool_group {
    box-shadow: 0px 0px 8px rgba(123, 123, 123, 0.6);
}

.ctl_panel {
    position: absolute;
    display: none;
    width: 100%;
    bottom: 2px;
}

.panel_button {
/*    float: left;
    width: 50%;
    margin: 0 auto;
    border-radius: 0;*/
    font-size: 0.6em;
    user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.preview_ctl {
    display: table;
    width: 100px;
    margin: 0 auto;
    margin-top: 5px;
    border-radius: 0;
}

.subnode_unit {
    cursor: pointer;
    float: left;
    background: white;
    width: 300px;
    height: 300px;
    z-index: 1000;
    display: table;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(/media/gallery/images/folder-close.png);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.subnode_unit:hover {
    background-image: url(/media/gallery/images/folder-open.png);
}

.subnode_name {
    display: table-cell;
    vertical-align: top;
    font-size: 1.6em;
    color: white;
}

.subnode_name span {
    display: inline-block;
    position: relative;
    top: 170px;
    max-width: 220px;
}

.thumbnail_unit {
    cursor: hand;
    float: left;
    background: white;
    z-index: 1000;
    border: solid 3px transition;
    box-shadow: 0px 1px 5px #555;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.thumbnail_unit:hover {
    outline: none;
    border-color: rgba(26, 102, 216,.75);
    box-shadow: 0 0 15px rgba(26, 102, 216,.5);
    -moz-box-shadow: 0 0 8px rgba(26, 102, 216,.5);
    -webkit-box-shadow: 0 0 8px rgba(26, 102, 216,3);
    -moz-transition: border linear .1s,-moz-box-shadow linear .3s;
    -webkit-transition: border linear .1s,-webkit-box-shadow linear .3s;
    transition: border linear .1s,box-shadow linear .3s;
}

.img_mask {
    position: relative;
    overflow: hidden;
    float: left;
    width: 300px;
    height: 300px; 
}

.pages > .img_mask {
    border: 4px dotted #EEE;
}

.drag_div span{
    position: absolute;
    top: -30px;
    left: 15px;
    font-size: 48px;
    color: rgb(73, 182, 255);
}

.img_block {
    cursor: pointer;
    position: absolute;
    vertical-align: middle;
    text-align: center;
    top: 0px;
    height: 100%;
    line-height: 300px;
    z-index: 10;
    width: 100%;
}

.img_no {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5px 10px 10px 10px;
    border-radius: 0px 0px 10px 0px; 
    line-height: 20px;
    font-size: 20px;
    color: #000000;
    text-shadow: 0px 2px 5px white;
    box-shadow: 2px 2px 5px black;
    opacity: 0.8;
    background: rgb(252,255,244); /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmNmZmY0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDAlIiBzdG9wLWNvbG9yPSIjZGZlNWQ3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2IzYmVhZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg,  rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(179,190,173,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(40%,rgba(223,229,215,1)), color-stop(100%,rgba(179,190,173,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

/*.img_label {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
    font-size:14px;
}*/

.img_thumbnail {
    max-height: 95%;
    max-width: 95%;
}

.img_text {
    display: none;
    position: absolute;
    z-index: 30;
}

.img_head {
    cursor: move;
    text-align: center;
    color: white;
    background-color: rgb(49, 49, 49);
    width: 100%;
    padding: 10px 0px 10px 0px;
    
}

.img_name {
    padding: 0px 15px 0px 15px;
    width: 100%;
}

.img_name_text {
    word-wrap: break-word;
    width: 100%
}

.img_remove {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.img_label {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 1.3em;
    font-weight: 600;
    z-index: 900;
    background-color: rgba(255, 255, 255, 0.8);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
}

.img_info_box {
    left: 0px;
    bottom: 0px;
    padding-left: 5px;
    padding-right: 20px;
    border-radius: 0px 20px 0px 0px; 
    background-color: rgb(49, 49, 49);
    box-shadow: 0px -2px 5px black;
}

.img_info {
    position: relative;
    bottom: 0px;
    font-size: 14px; 
    line-height: 24px; 
    text-shadow: 0px 0px 5px black;
    color: white;
}

.img_selected {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0.7;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/media/gallery/images/selected.png);
}

.tool_text {
    padding: 5px;
    font-size: 18px;
}

.custom_overlay {
    background-color: black;
    background-image: none;
    opacity: 0.8;
    z-index: 1040;
}

.pages {
    width: 100%;
    height: 100%;
}

.grid_off {
    display: none;
}

.grid_unit {
    border-width: 2px;
    border-style: solid;
    outline: 2px solid;
    border-color: rgba(255, 0, 0, 0.2);
    color: rgba(255, 0, 0, 0.2);
    z-index: 999;
    border-collapse: collapse;
    padding: 5px;
    font-size: 24px;
    vertical-align: top;
}

.grid_unit:hover{
    cursor: pointer;
    border-color: rgba(255, 0, 0, 1);
    color: rgba(255, 0, 0, 1);
}

.gut {
    float: left;
    position: relative;
    left: 0px;
    top: 0px;
    padding: 0px;
    margin: 0px;
}

.preview_next {
    cursor: pointer;
    opacity: 0.3;
    z-index: 2000;
}
.preview_next:hover {
    opacity: 1;
}

.info_title {
    font-size: 16px;
    line-height: 20px;
}

.info_section {
    padding: 10px 3px;
    border-bottom: 1px solid;
    font-size: 1.5em;
}

.ui-tabs.ui-widget-content {
    border: none;
}

.list-group-item:first-child {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.template_selector {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.templates_holder {
    height: 80%;
    padding: 0px!important;
}

.templates_group {
    height: 100%;
    overflow: auto;
}

.name_filter {
    margin: 5px;
}

.template_unit {
    cursor: pointer;
}

.template_unit:hover {
    background-color: #D2E9FF;
}

.selected_unit {
    background-color: #ACD6FF;
}

.temp_insert_check {
    visibility: hidden;
    margin-right: 5px!important;
}

.oper_guide {
    display: none;
    position: absolute;
    z-index: 90000;
    background-color: rgba(0, 0, 0, 0.9);
    color: #FFFFFF;
    width: 100%;
    height: 100%;
}

/*.picked_unit {
    cursor: pointer;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 2px 3px 2px 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #FCFCFC;
    border-radius: 2px;
    box-shadow: 4px 4px 3px rgba(20%,20%,40%,0.5);
}*/

.picked_thumb {
    cursor: pointer;
    display: inline-block;
    background-size: cover;
    width: 100px;
    height: 100px;
    margin: 2px 3px 2px 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #FCFCFC;
    border-radius: 2px;
    box-shadow: 4px 4px 3px rgba(20%,20%,40%,0.5);
}

.picked_thumb:hover {
    opacity: 0.6;
}

.picked_num {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-position: center;
    /*background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1'><text x='50%' y='50%' text-anchor='middle' alignment-baseline='middle' fill='red' font-size='20'>12</text></svg>");*/
}

.picked_num:hover {
    opacity: 1;
}

.picked_ctl {
    display: table-cell;
    vertical-align: middle;
    width: 120px;
    height: 100px;
    padding: 0px;
    margin: 0px;
}

.divider {
    display: inline-block;
    border-right: 2px solid white;
    color: white;
    height: 80%;
    margin: 2px;
}

.picked_tip {
    max-width: 500px;
    background-color: hsla(240, 0%, 50%, 0.9);
    border-color: hsla(240, 0%, 50%, 0.9);
}

.cancel_pick {
    width: 400px;
    border-radius: 0px;
}

.picked_card {
    margin-bottom: 10px;
}

.unpick_temp {
    float: right;
    padding: 2px 5px 2px 5px!important;
    font-size: 0.6em!important;
}

.format_unit {
    display: inline-block;
    background-color: #D0D0D0;
    border-radius: 1px;
    border: 3px dashed black;
    width: 60px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    line-height: 60px;
}

.format_unit_fill {
    background-color: #00BB00;
    color: #DC0300;
}