    <script type="text/javascript" src="/media/jquery.ui-1.5.1/jquery-1.2.6.js"></script>
    <script type="text/javascript" src="/media/jquery-plugins/jquery.include.js"></script>
    <script type="text/javascript" src="/media/jquery-plugins/plugins.js"></script>
    <script type="text/javascript" src="/media/jquery-plugins/highlightFade.js"></script>
    <script type="text/javascript" src="/media/jquery-plugins/tree/js/jquery.simple.tree.js"></script>
    <link type="text/css" rel="stylesheet" href="/media/jquery-plugins/tree/tree.css"/>
    <script type="text/javascript" src="/media/jquery-plugins/splitter.js"></script>
    <link type="text/css" rel="stylesheet" href="/media/jquery-plugins/splitter.css"/>
    <script type="text/javascript" src="/media/jquery-plugins/ajaxfileupload/ajaxfileupload.js"></script>
    <script type="text/javascript" src="/media/jquery.ui-1.5.1/ui/ui.core.js"></script>
    <script type="text/javascript" src="/media/jquery.ui-1.5.1/ui/ui.datepicker.js"></script>
    <script type="text/javascript" src="/media/jquery.ui-1.5.1/ui/i18n/ui.datepicker-zh-TW.js"></script>
    <script type="text/javascript" src="/media/jquery.ui-1.5.1/ui/ui.dialog.js"></script>
    <script type="text/javascript" src="/media/jquery.ui-1.5.1/ui/ui.draggable.js"></script>
    <script type="text/javascript" src="/media/jquery.ui-1.5.1/ui/ui.resizable.js"></script>
    <script type="text/javascript" src="/media/jquery.ui-1.5.1/ui/ui.tabs.js"></script>
    <script type="text/javascript" src="/media/jquery.ui-1.5.1/ui/ui.accordion.js"></script>
    <link rel="stylesheet" type="text/css" href="/media/jquery.ui-1.5.1/themes/flora/flora.all.css" />

{% block content %}
{% include 'monitor/camimgblock.html' %}
{% endblock %}