<script>
    $(document).ready(function(){
        $.post("/monitor/matchAJAX/", {submit: "show_password"}, function(json){
            if (!json["status"]){
                alert(json["msg"]);
            }else{
                var $tbody = $('#cameras tbody');
                for (var i=0; i<json['cameras'].length; i++){
                    var r = json['cameras'][i];
                    var tr = '<tr>';
                    tr += '<td>'+(i+1)+'</td>';
                    tr += '<td><a name="camera_'+r['id']+'"></a>'+r['name']+'('+r['id']+')</td>';
                    tr += '<td>'+r['machine_no']+'</td>';
                    tr += '<td>'+r['location']+'</td>';
                    tr += '<td><a href="http://'+r['ip']+'/" target="'+r['ip']+'">'+r['ip']+'</a></td>';
                    tr += '<td>'+r['account']+'</td>';
                    tr += '<td>'+r['passwd']+'</td>';
                    if (r['account'] == 'admin' || r['account'] == 'fesadmin') {
                        tr += '<td rowspan="3"><a href="#" onClick=\'javascript:window.open("/monitor/record_action/start/'+r['id']+'/", "'+r['name']+'", "width=800,height=600"); \'>開啟</a>';
                        tr += ' <a href="#" onClick=\'javascript:window.open("/monitor/record_action/stop/'+r['id']+'/", "'+r['name']+'", "width=800,height=600")\'>關閉</a></td>';
                    } else {
                        tr += '';
                    }
                    tr += '</tr>';
                    var $tr = $(tr);
                    $tbody.append($tr);
                }
            }
        }, "json")
    })
</script>
<p>
    說明： fesadmin 或 admin 為管理員帳號; fesoper 為攝影機方向操作帳號; fesview 僅為觀看權限帳號。
</p>
<table id="cameras" width="100%" border="1" style="border-collapse: collapse;">
    <thead>
        <tr>
            <th>編號</th>
            <th>名稱</th>
            <th>型號</th>
            <th>地理位置</th>
            <th>IP</th>
            <th>帳號</th>
            <th>密碼</th>
            <th>錄影設定</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>