<div align="center">
    <div align="center">施工照片</div>
    <div style="width: 200px;" align="left">工程名稱：<div>
    <div style="width: 200px;" align="left">承包廠商：<div>

    <table class="preview_table" align="center" border="1" style="width: 200px; border-collapse:collapse; font-size: 10px;">
        <tr>
            <td align="center" style="">
                <div class="format_unit format_unit_1">1<div>
            </td>
            <td style="vertical-align: top;">施工項目：</td>
        </tr>
        <tr>
            <td align="center" style="">
                <div class="format_unit format_unit_2">2<div>
            </td>
            <td style="vertical-align: top;">施工項目：</td>
        </tr>
        <tr>
            <td align="center" style="">
                <div class="format_unit format_unit_3">3<div>
            </td>
            <td style="vertical-align: top;">施工項目：</td>
        </tr>
    </table>
</div>
