<div align="center">
    <div style="width: 200px;" align="center">----工程</div>
    <div style="width: 200px;" align="center">----施工照片</div>

    <table class="preview_table" align="center" border="1" style="width: 200px; border-collapse:collapse; font-size: 10px;">
        <tr>
            <td align="center" style="width: 50%;">
                <div class="format_unit format_unit_1">1<div>
            </td>
            <td align="center" style="width: 50%;">
                <div class="format_unit format_unit_2">2<div>
            </td>
        </tr>
        <tr align="left">
            <td>說明：</td>
            <td>說明：</td>
        </tr>
        <tr>
            <td align="center" style="width: 50%;">
                <div class="format_unit format_unit_3">3<div>
            </td>
            <td align="center" style="width: 50%;">
                <div class="format_unit format_unit_4">4<div>
            </td>
        </tr>
        <tr align="left">
            <td>說明：</td>
            <td>說明：</td>
        </tr>
        <tr>
            <td align="center" style="width: 50%;">
                <div class="format_unit format_unit_5">5<div>
            </td>
            <td align="center" style="width: 50%;">
                <div class="format_unit format_unit_6">6<div>
            </td>
        </tr>
        <tr align="left">
            <td>說明：</td>
            <td>說明：</td>
        </tr>
    </table>
</div>
