<div align="center">
    <div style="width: 250px;" align="center">----工程<div>
    <div style="width: 250px;" align="center">----施工照片<div>

    <table class="preview_table" align="center" border="1" style="width: 250px; border-collapse:collapse; font-size: 10px;">
        <tr>
            <td align="center" style="width: 33%;">
                <div class="format_unit format_unit_1">1<div>
            </td>
            <td align="center" style="width: 34%;">
                <div class="format_unit format_unit_2">2<div>
            </td>
            <td align="center" style="width: 33%;">
                <div class="format_unit format_unit_3">3<div>
            </td>
        </tr>
        <tr align="left" valign="top">
            <td>圖1：----<br>----</td>
            <td>圖2：----<br>----</td>
            <td>圖3：----<br>----</td>
        </tr>
        <tr>
            <td align="center" style="width: 33%;">
                <div class="format_unit format_unit_4">4<div>
            </td>
            <td align="center" style="width: 34%;">
                <div class="format_unit format_unit_5">5<div>
            </td>
            <td align="center" style="width: 33%;">
                <div class="format_unit format_unit_6">6<div>
            </td>
        </tr>
        <tr align="left" valign="top">
            <td>圖4：----<br>----</td>
            <td>圖5：----<br>----</td>
            <td>圖6：----<br>----</td>
        </tr>
        <tr>
            <td align="center" style="width: 33%;">
                <div class="format_unit format_unit_7">7<div>
            </td>
            <td align="center" style="width: 34%;">
                <div class="format_unit format_unit_8">8<div>
            </td>
            <td align="center" style="width: 33%;">
                <div class="format_unit format_unit_9">9<div>
            </td>
        </tr>
        <tr align="left" valign="top">
            <td>圖7：----<br>----</td>
            <td>圖8：----<br>----</td>
            <td>圖9：----<br>----</td>
        </tr>
        <tr>
            <td align="center" style="width: 33%;">
                <div class="format_unit format_unit_10">10<div>
            </td>
            <td align="center" style="width: 34%;">
                <div class="format_unit format_unit_11">11<div>
            </td>
            <td align="center" style="width: 33%;">
                <div class="format_unit format_unit_12">12<div>
            </td>
        </tr>
        <tr align="left" valign="top">
            <td>圖10：----<br>----</td>
            <td>圖11：----<br>----</td>
            <td>圖12：----<br>----</td>
        </tr>
    </table>
</div>
