<!--7/29  data-original=${thumb_url}  >>   sr=${thumb_url}  -->

<div class="thumbnail_unit {% templatetag openvariable %}if permissions.indexOf('update_photo') >= 0{% templatetag closevariable %}editable{% templatetag openvariable %}/if{% templatetag closevariable %}">
    <div class="img_mask">
        <div class="img_block">
            <div class="img_no">
                <strong class="no">${serial_no}</strong>
            </div>
            <!--<img class="img_thumbnail lazy" style="width: 95%; height: 95%;" data-original=${thumb_url} /> -->
            <img class="img_thumbnail lazy" style="width: 95%; height: 95%;" src=${thumb_url} />
        </div>
        <div class="img_head img_text">
            <div class="img_name">
                <span class="img_name_text">${origin}</span>
            </div>
        {% templatetag openvariable %}if permissions.indexOf('remove_photo') >= 0{% templatetag closevariable %}
            {% templatetag openvariable %}if !is_improve {% templatetag closevariable %}
            <i class="img_remove glyphicon glyphicon-remove"></i>
            {% templatetag openvariable %}/if{% templatetag closevariable %}
        {% templatetag openvariable %}/if{% templatetag closevariable %}
        </div>
        {% templatetag openvariable %}if is_improve{% templatetag closevariable %}
        <span class="img_label" style="">${is_improve}</span>
        {% templatetag openvariable %}/if{% templatetag closevariable %}
        {% templatetag openvariable %}if is_new{% templatetag closevariable %}
        <span class="img_label" style="">新照片!!</span>
        {% templatetag openvariable %}/if{% templatetag closevariable %}
        <div class="img_info_box img_text ">
            <div class="img_info">
                <strong>拍照時間: </strong><span class="take_time" value="${time}">${time}</span>
            </div>
            <div class="img_info">
                <strong>上傳時間: </strong><span class="upload_time">${create_time}</span>
            </div>
            <div class="img_info">
                <strong>上 傳 者: </strong><span class="upload_user">${creator__name}</span>
            </div>
        </div>
    </div>
</div>
