{% extends 'frcm/index.html' %}

{% load utiltags %}
{% block menu %}
    <ul id="menu" value ="/frcm/getproject/"></ul>
{% endblock %}
{% block style %}
.style1 {
	font-size: 36px;
	color: #CC6600;
}
{% endblock %}
{% block content %}
    <br><br><br>
    <span style="font-size: 18px">
        <br><br>請向您工程的『主辦工程師』或 『同群組帳號』索取工程認領碼<br>輸入完畢後，按下『認領』按鈕，即可完成認領<br><br>
        <table border="1" style="border-collapse: collapse">
            <tr bgcolor='#BBFFDD'>
                <td align="center"><span class="style1">工程認領碼</span><br>(大小寫不拘)</td>
                <td align="center"><span class="style1">公司統一編號</span><br>(必填)</td>
            </tr>
            <tr>
                <td><input style="font-size: 40px;" id="code" type="text" name="code" size="8" maxlength="6" vaiue=""/></td>
                <td><input style="font-size: 40px;" id="unit_no" type="text" name="unit_no" size="10" maxlength="15" vaiue=""/></td>
            </tr>
        </table><br>
        <input style="width:100px;height:50px;" id="getProject" type="button" value="認領" />
    </span>

    <br><br><br>

{% endblock %}