{% extends 'frcm/index.html' %}

{% load utiltags %}
{% block menu %}
    <ul id="menu" value ="/frcm/import/"></ul>
{% endblock %}
{% block style %}
.style1 {
	color: #CC9900;
	font-size: 24px;
}
.style2 {
	color: #FF0000;
}
{% endblock %}

{% block content %}
<br>
<span style="font-size: 18px">
<span style="color:#FF0000;">請從管考系統中搜尋您負責的工程案</span><br><br>
    <form action="./" method="POST">
        <table align="center">
            <tr>
            {% for field in form %}
                <th>{{ field.label_tag }}</th>
            {% endfor %}
            </tr>
            <tr>
            {% for field in form %}
                <td>{{ field }}</td>
            {% endfor %}
            </tr>
        </table>
        搜尋結果依照
        <select name="sortBy" id="id_sortBy">
            <option value="year" {% ifequal sortBy 'year' %}selected="selected"{% endifequal %}>年度</option>
            <option value="bid_no" {% ifequal sortBy 'bid_no' %}selected="selected"{% endifequal %}>標案編號</option>
            <option value="name" {% ifequal sortBy 'name' %}selected="selected"{% endifequal %}>工作名稱</option>
            <option value="plan" {% ifequal sortBy 'plan' %}selected="selected"{% endifequal %}>所屬計畫</option>
            <option value="unit" {% ifequal sortBy 'unit' %}selected="selected"{% endifequal %}>執行機關</option>
        </select>
        排序<br>

        <input type="submit" name="submit" value="開始搜尋" style="width:100px;height:50px;" onClick="loading(this)">
        <br><input url="/frcm/import/" type="button" name="clearSearchInfo" id="clearSearchInfo" value="清空資訊重新查詢" onClick="loading(this)">
    </form>

    {% pyif projects_num == 0 %}
        無資料，請重設搜尋條件
    {% endif %}
    
    {% pyif projects_num > 0 %}
        <div align="right" style="margin-right: 200px">共 {{ projects_num }} 個結果</div>
        {% ifnotequal page_list.all_pages 1 %}
            {% if page_list.previous_page %}
                <a href="./?{{ querystring }}&page={{ page_list.previous_page }}">上一頁</a>
            {% endif %}
            {% for page in page_list.page_list %}
                {% ifequal page page_list.now_page %}
                    <span class="page-number active">{{ page }}</span>
                {% else %}
                    <a href="./?{{ querystring }}&page={{ page }}">{{ page }}</a>
                {% endifequal %}
            {% endfor %}
            {% if page_list.next_page %}
                <a href="./?{{ querystring }}&page={{ page_list.next_page }}">下一頁</a>
            {% endif %}
        {% endifnotequal %}

        <table class="sortable" border="1" style="border-collapse: collapse">
            <thead bgcolor='#BBFFDD'>
                <tr>
                <th class="sorttable_nosort">匯入</th>
                <th>年度</th>
                <th>標案編號</th>
                <th>工作名稱</th>
                <th width="60">施工相片數量</th>
                <th>縣市</th>
                <th>計畫名稱</th>
                <!--<th>工程狀態</th>-->
                <th>執行機關</th>
                <th>發文(核定)日期</th>
                <th>連絡人</th>
                </tr>
            </thead>
            <tbody align="left">
                {% for p in projects %}
                    <tr class="{% cycle "odd" "even" %}">
                        <td align="center" id="importProject_{{ p.id }}">
                            {% if p.importuser %}
                            <span class="style2">已被匯入<br>({{ p.importuser }})</span>
                            {% if not p.inlist %}
                            <br><input project_id="{{ p.id }}" class="askToShareProject" name="askToShareProject"
                            project_name="{{ p.name }}" user_id="{{ user.id }}" type="button" value="要求共管">
                            {% endif %}
                            {% else %}
                            <input project_id="{{ p.id }}" class="importProject" name="importProject"
                            project_name="{{ p.name }}" user_id="{{ user.id }}" type="button" value="匯入工程">
                            {% endif %}
                        </td>
                        <td>{{ p.year }}</td>
                        <td><a href="/project/reproject/{{ p.id }}/" target="_blank">{{ p.bid_no|default_if_none:'' }}</a></td>
                        <td>{{ p.name }}</td>
                        <td>
                            {% if p.importuser %}
                            {% if p.use_gallery %}
                            {{ p.rGalleryPics }}
                            {% else %}
                            {{ p.rFRCMAlreadyUploadPics }}/{{ p.rFRCMNormalPics }}
                            {% endif %}
                            {% endif %}
                        </th>
                        <td>{% if p.place %}{{ p.place.name }}{% endif %}</td>
                        <td>{{ p.plan.name }}</td>
                        <!--<td {% ifequal p.status.value '待審查' %}class='style2'{% endifequal %}>{{ p.status.value }}</td>-->
                        <td>{% if p.unit %}{{ p.unit.name }}{% endif %}</td>
                        <td>{% if p.vouch_date %}{{ p.vouch_date }}{% endif %}</td>
                        <td>{% if p.self_contacter %}{{ p.self_contacter }}{% endif %}</td>
                    </tr>
                {% endfor %}
            <tbody>
        </table>
        {% ifnotequal page_list.all_pages 1 %}
            {% if page_list.previous_page %}
                <a href="./?{{ querystring }}&page={{ page_list.previous_page }}">上一頁</a>
            {% endif %}
            {% for page in page_list.page_list %}
                {% ifequal page page_list.now_page %}
                    <span class="page-number active">{{ page }}</span>
                {% else %}
                    <a href="./?{{ querystring }}&page={{ page }}">{{ page }}</a>
                {% endifequal %}
            {% endfor %}
            {% if page_list.next_page %}
                <a href="./?{{ querystring }}&page={{ page_list.next_page }}">下一頁</a>
            {% endif %}
        {% endifnotequal %}
        <div align="right" style="margin-right: 200px">共 {{ projects_num }} 個結果</div>
    {% endif %}
    </div>

</span>


{% endblock %}

