<div class="flora" style="overflow: auto">

    <span style="font-size: 28px;color:red;">無法匯出檔案</span><br>

    需匯出之工程案尚有 {{ num }} 件未填寫完成，如下列表示：
        <br><br>
    <table border="1" style="border-collapse: collapse">
        <thead bgcolor='#BBFFDD'>
            <th width="20"></th>
            <th width="50px">年度</th>
            <th width="100px">縣市</th>
            <th width="300px">工作名稱</th>
        </thead>
        <tbody>
            {% for p in projects %}
                <tr height="30" id="tr_project_{{ p.id }}" align="left" class="{% cycle "odd" "even" %}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ p.year }}</td>
                    <td align="center">{{ p.place.name|default_if_none:'' }}</td>
                    <td><a href="/project/reproject/{{ p.id }}/" target="_blank">{{ p.name }}</a></td>
                </tr>
            {% endfor %}
        <tbody>
    </table>
        <br><br>
    <ul>
        <li>1.請通知這些工程案之負責人進入工程基本資料頁面填寫資料，並按下『我已填寫完畢!!』按鈕</li>
        <li>2.所有工程案皆填寫完成後才可匯出檔案</li>
    </ul>

</div>