{% load utiltags %}
{% load humanize %}

            <tr align="center" valign="middle">
                <td bgcolor="#CDE5FF" colspan="4">設計規劃</td>
            </tr>
            <tr align="center" valign="middle">
                <td bgcolor="#FFE7CD">核定計畫</td>
                {% if edit %}
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="sch_eng_plan_approved_plan">
                        <a id="Show_Chase_Info_sch_eng_plan_approved_plan_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.sch_eng_plan_approved_plan|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="sch_eng_plan_approved_plan" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_sch_eng_plan_approved_plan_{{ chase_one_by_one.id }}"
                               type="text" name="sch_eng_plan_approved_plan" size="15"
                               value="{{ chase_one_by_one.sch_eng_plan_approved_plan|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.sch_eng_plan_approved_plan|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="act_eng_plan_approved_plan">
                        <a id="Show_Chase_Info_act_eng_plan_approved_plan_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.act_eng_plan_approved_plan|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="act_eng_plan_approved_plan" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_act_eng_plan_approved_plan_{{ chase_one_by_one.id }}"
                               type="text" name="act_eng_plan_approved_plan" size="15"
                               value="{{ chase_one_by_one.act_eng_plan_approved_plan|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.act_eng_plan_approved_plan|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="eng_plan_approved_plan_memo" align="left">
                        <a id="Show_Chase_Info_eng_plan_approved_plan_memo_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.eng_plan_approved_plan_memo|default_if_none:''|linebreaks }}
                        </a>
                        <textarea class="Hide_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="eng_plan_approved_plan_memo" table_name="CountyChaseProjectOneByOne"
                               input_type="str" style="display: none;" id="Edit_Chase_Info_eng_plan_approved_plan_memo_{{ chase_one_by_one.id }}"
                               type="text" name="eng_plan_approved_plan_memo" cols="25" rows="2"
                               old_value="{{ chase_one_by_one.eng_plan_approved_plan_memo|default_if_none:'' }}">{{ chase_one_by_one.eng_plan_approved_plan_memo|default_if_none:'' }}</textarea>
                    </td>
                {% else %}
                    <td>{{ chase_one_by_one.sch_eng_plan_approved_plan|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.act_eng_plan_approved_plan|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.eng_plan_approved_plan_memo|default_if_none:''|linebreaks }}</td>
                {% endif %}
            </tr>
            <tr align="center" valign="middle">
                <td bgcolor="#FFE7CD">簽辦招標</td>
                {% if edit %}
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="sch_eng_plan_signed_tender">
                        <a id="Show_Chase_Info_sch_eng_plan_signed_tender_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.sch_eng_plan_signed_tender|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="sch_eng_plan_signed_tender" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_sch_eng_plan_signed_tender_{{ chase_one_by_one.id }}"
                               type="text" name="sch_eng_plan_signed_tender" size="15"
                               value="{{ chase_one_by_one.sch_eng_plan_signed_tender|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.sch_eng_plan_signed_tender|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="act_eng_plan_signed_tender">
                        <a id="Show_Chase_Info_act_eng_plan_signed_tender_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.act_eng_plan_signed_tender|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="act_eng_plan_signed_tender" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_act_eng_plan_signed_tender_{{ chase_one_by_one.id }}"
                               type="text" name="act_eng_plan_signed_tender" size="15"
                               value="{{ chase_one_by_one.act_eng_plan_signed_tender|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.act_eng_plan_signed_tender|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="eng_plan_signed_tender_memo" align="left">
                        <a id="Show_Chase_Info_eng_plan_signed_tender_memo_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.eng_plan_signed_tender_memo|default_if_none:''|linebreaks }}
                        </a>
                        <textarea class="Hide_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="eng_plan_signed_tender_memo" table_name="CountyChaseProjectOneByOne"
                               input_type="str" style="display: none;" id="Edit_Chase_Info_eng_plan_signed_tender_memo_{{ chase_one_by_one.id }}"
                               type="text" name="eng_plan_signed_tender_memo" cols="25" rows="2"
                               old_value="{{ chase_one_by_one.eng_plan_signed_tender_memo|default_if_none:'' }}">{{ chase_one_by_one.eng_plan_signed_tender_memo|default_if_none:'' }}</textarea>
                    </td>
                {% else %}
                    <td>{{ chase_one_by_one.sch_eng_plan_signed_tender|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.act_eng_plan_signed_tender|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.eng_plan_signed_tender_memo|default_if_none:''|linebreaks }}</td>
                {% endif %}
            </tr>
            <tr align="center" valign="middle">
                <td bgcolor="#FFE7CD">公告招標</td>
                {% if edit %}
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="sch_eng_plan_announcement_tender">
                        <a id="Show_Chase_Info_sch_eng_plan_announcement_tender_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.sch_eng_plan_announcement_tender|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="sch_eng_plan_announcement_tender" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_sch_eng_plan_announcement_tender_{{ chase_one_by_one.id }}"
                               type="text" name="sch_eng_plan_announcement_tender" size="15"
                               value="{{ chase_one_by_one.sch_eng_plan_announcement_tender|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.sch_eng_plan_announcement_tender|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="act_eng_plan_announcement_tender">
                        <a id="Show_Chase_Info_act_eng_plan_announcement_tender_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.act_eng_plan_announcement_tender|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="act_eng_plan_announcement_tender" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_act_eng_plan_announcement_tender_{{ chase_one_by_one.id }}"
                               type="text" name="act_eng_plan_announcement_tender" size="15"
                               value="{{ chase_one_by_one.act_eng_plan_announcement_tender|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.act_eng_plan_announcement_tender|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="eng_plan_announcement_tender_memo" align="left">
                        <a id="Show_Chase_Info_eng_plan_announcement_tender_memo_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.eng_plan_announcement_tender_memo|default_if_none:''|linebreaks }}
                        </a>
                        <textarea class="Hide_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="eng_plan_announcement_tender_memo" table_name="CountyChaseProjectOneByOne"
                               input_type="str" style="display: none;" id="Edit_Chase_Info_eng_plan_announcement_tender_memo_{{ chase_one_by_one.id }}"
                               type="text" name="eng_plan_announcement_tender_memo" cols="25" rows="2"
                               old_value="{{ chase_one_by_one.eng_plan_announcement_tender_memo|default_if_none:'' }}">{{ chase_one_by_one.eng_plan_announcement_tender_memo|default_if_none:'' }}</textarea>
                    </td>
                {% else %}
                    <td>{{ chase_one_by_one.sch_eng_plan_announcement_tender|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.act_eng_plan_announcement_tender|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.eng_plan_announcement_tender_memo|default_if_none:''|linebreaks }}</td>
                {% endif %}
            </tr>
            <tr align="center" valign="middle">
                <td bgcolor="#FFE7CD">公開評選會議(限制性招標)</td>
                {% if edit %}
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="sch_eng_plan_selection_meeting">
                        <a id="Show_Chase_Info_sch_eng_plan_selection_meeting_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.sch_eng_plan_selection_meeting|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="sch_eng_plan_selection_meeting" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_sch_eng_plan_selection_meeting_{{ chase_one_by_one.id }}"
                               type="text" name="sch_eng_plan_selection_meeting" size="15"
                               value="{{ chase_one_by_one.sch_eng_plan_selection_meeting|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.sch_eng_plan_selection_meeting|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="act_eng_plan_selection_meeting">
                        <a id="Show_Chase_Info_act_eng_plan_selection_meeting_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.act_eng_plan_selection_meeting|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="act_eng_plan_selection_meeting" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_act_eng_plan_selection_meeting_{{ chase_one_by_one.id }}"
                               type="text" name="act_eng_plan_selection_meeting" size="15"
                               value="{{ chase_one_by_one.act_eng_plan_selection_meeting|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.act_eng_plan_selection_meeting|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="eng_plan_selection_meeting_memo" align="left">
                        <a id="Show_Chase_Info_eng_plan_selection_meeting_memo_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.eng_plan_selection_meeting_memo|default_if_none:''|linebreaks }}
                        </a>
                        <textarea class="Hide_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="eng_plan_selection_meeting_memo" table_name="CountyChaseProjectOneByOne"
                               input_type="str" style="display: none;" id="Edit_Chase_Info_eng_plan_selection_meeting_memo_{{ chase_one_by_one.id }}"
                               type="text" name="eng_plan_selection_meeting_memo" cols="25" rows="2"
                               old_value="{{ chase_one_by_one.eng_plan_selection_meeting_memo|default_if_none:'' }}">{{ chase_one_by_one.eng_plan_selection_meeting_memo|default_if_none:'' }}</textarea>
                    </td>
                {% else %}
                    <td>{{ chase_one_by_one.sch_eng_plan_selection_meeting|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.act_eng_plan_selection_meeting|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.eng_plan_selection_meeting_memo|default_if_none:''|linebreaks }}</td>
                {% endif %}
            </tr>
            <tr align="center" valign="middle">
                <td bgcolor="#FFE7CD">定約</td>
                {% if edit %}
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="sch_eng_plan_promise">
                        <a id="Show_Chase_Info_sch_eng_plan_promise_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.sch_eng_plan_promise|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="sch_eng_plan_promise" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_sch_eng_plan_promise_{{ chase_one_by_one.id }}"
                               type="text" name="sch_eng_plan_promise" size="15"
                               value="{{ chase_one_by_one.sch_eng_plan_promise|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.sch_eng_plan_promise|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="act_eng_plan_promise">
                        <a id="Show_Chase_Info_act_eng_plan_promise_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.act_eng_plan_promise|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="act_eng_plan_promise" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_act_eng_plan_promise_{{ chase_one_by_one.id }}"
                               type="text" name="act_eng_plan_promise" size="15"
                               value="{{ chase_one_by_one.act_eng_plan_promise|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.act_eng_plan_promise|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="eng_plan_promise_memo" align="left">
                        <a id="Show_Chase_Info_eng_plan_promise_memo_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.eng_plan_promise_memo|default_if_none:''|linebreaks }}
                        </a>
                        <textarea class="Hide_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="eng_plan_promise_memo" table_name="CountyChaseProjectOneByOne"
                               input_type="str" style="display: none;" id="Edit_Chase_Info_eng_plan_promise_memo_{{ chase_one_by_one.id }}"
                               type="text" name="eng_plan_promise_memo" cols="25" rows="2"
                               old_value="{{ chase_one_by_one.eng_plan_promise_memo|default_if_none:'' }}">{{ chase_one_by_one.eng_plan_promise_memo|default_if_none:'' }}</textarea>
                    </td>
                {% else %}
                    <td>{{ chase_one_by_one.sch_eng_plan_promise|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.act_eng_plan_promise|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.eng_plan_promise_memo|default_if_none:''|linebreaks }}</td>
                {% endif %}
            </tr>
            <tr align="center" valign="middle">
                <td bgcolor="#FFE7CD">基本設計</td>
                {% if edit %}
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="sch_eng_plan_basic_design">
                        <a id="Show_Chase_Info_sch_eng_plan_basic_design_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.sch_eng_plan_basic_design|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="sch_eng_plan_basic_design" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_sch_eng_plan_basic_design_{{ chase_one_by_one.id }}"
                               type="text" name="sch_eng_plan_basic_design" size="15"
                               value="{{ chase_one_by_one.sch_eng_plan_basic_design|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.sch_eng_plan_basic_design|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="act_eng_plan_basic_design">
                        <a id="Show_Chase_Info_act_eng_plan_basic_design_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.act_eng_plan_basic_design|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="act_eng_plan_basic_design" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_act_eng_plan_basic_design_{{ chase_one_by_one.id }}"
                               type="text" name="act_eng_plan_basic_design" size="15"
                               value="{{ chase_one_by_one.act_eng_plan_basic_design|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.act_eng_plan_basic_design|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="eng_plan_basic_design_memo" align="left">
                        <a id="Show_Chase_Info_eng_plan_basic_design_memo_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.eng_plan_basic_design_memo|default_if_none:''|linebreaks }}
                        </a>
                        <textarea class="Hide_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="eng_plan_basic_design_memo" table_name="CountyChaseProjectOneByOne"
                               input_type="str" style="display: none;" id="Edit_Chase_Info_eng_plan_basic_design_memo_{{ chase_one_by_one.id }}"
                               type="text" name="eng_plan_basic_design_memo" cols="25" rows="2"
                               old_value="{{ chase_one_by_one.eng_plan_basic_design_memo|default_if_none:'' }}">{{ chase_one_by_one.eng_plan_basic_design_memo|default_if_none:'' }}</textarea>
                    </td>
                {% else %}
                    <td>{{ chase_one_by_one.sch_eng_plan_basic_design|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.act_eng_plan_basic_design|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.eng_plan_basic_design_memo|default_if_none:''|linebreaks }}</td>
                {% endif %}
            </tr>
            <tr align="center" valign="middle">
                <td bgcolor="#FFE7CD">細部設計</td>
                {% if edit %}
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="sch_eng_plan_detail_design">
                        <a id="Show_Chase_Info_sch_eng_plan_detail_design_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.sch_eng_plan_detail_design|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="sch_eng_plan_detail_design" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_sch_eng_plan_detail_design_{{ chase_one_by_one.id }}"
                               type="text" name="sch_eng_plan_detail_design" size="15"
                               value="{{ chase_one_by_one.sch_eng_plan_detail_design|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.sch_eng_plan_detail_design|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="act_eng_plan_detail_design">
                        <a id="Show_Chase_Info_act_eng_plan_detail_design_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.act_eng_plan_detail_design|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="act_eng_plan_detail_design" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_act_eng_plan_detail_design_{{ chase_one_by_one.id }}"
                               type="text" name="act_eng_plan_detail_design" size="15"
                               value="{{ chase_one_by_one.act_eng_plan_detail_design|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.act_eng_plan_detail_design|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="eng_plan_detail_design_memo" align="left">
                        <a id="Show_Chase_Info_eng_plan_detail_design_memo_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.eng_plan_detail_design_memo|default_if_none:''|linebreaks }}
                        </a>
                        <textarea class="Hide_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="eng_plan_detail_design_memo" table_name="CountyChaseProjectOneByOne"
                               input_type="str" style="display: none;" id="Edit_Chase_Info_eng_plan_detail_design_memo_{{ chase_one_by_one.id }}"
                               type="text" name="eng_plan_detail_design_memo" cols="25" rows="2"
                               old_value="{{ chase_one_by_one.eng_plan_detail_design_memo|default_if_none:'' }}">{{ chase_one_by_one.eng_plan_detail_design_memo|default_if_none:'' }}</textarea>
                    </td>
                {% else %}
                    <td>{{ chase_one_by_one.sch_eng_plan_detail_design|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.act_eng_plan_detail_design|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.eng_plan_detail_design_memo|default_if_none:''|linebreaks }}</td>
                {% endif %}
            </tr>
            <tr align="center" valign="middle">
                <td bgcolor="#FFE7CD">驗收結案</td>
                {% if edit %}
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="sch_eng_plan_acceptance_closed">
                        <a id="Show_Chase_Info_sch_eng_plan_acceptance_closed_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.sch_eng_plan_acceptance_closed|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="sch_eng_plan_acceptance_closed" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_sch_eng_plan_acceptance_closed_{{ chase_one_by_one.id }}"
                               type="text" name="sch_eng_plan_acceptance_closed" size="15"
                               value="{{ chase_one_by_one.sch_eng_plan_acceptance_closed|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.sch_eng_plan_acceptance_closed|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="act_eng_plan_acceptance_closed">
                        <a id="Show_Chase_Info_act_eng_plan_acceptance_closed_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.act_eng_plan_acceptance_closed|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="act_eng_plan_acceptance_closed" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_act_eng_plan_acceptance_closed_{{ chase_one_by_one.id }}"
                               type="text" name="act_eng_plan_acceptance_closed" size="15"
                               value="{{ chase_one_by_one.act_eng_plan_acceptance_closed|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.act_eng_plan_acceptance_closed|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="eng_plan_acceptance_closed_memo" align="left">
                        <a id="Show_Chase_Info_eng_plan_acceptance_closed_memo_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.eng_plan_acceptance_closed_memo|default_if_none:''|linebreaks }}
                        </a>
                        <textarea class="Hide_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="eng_plan_acceptance_closed_memo" table_name="CountyChaseProjectOneByOne"
                               input_type="str" style="display: none;" id="Edit_Chase_Info_eng_plan_acceptance_closed_memo_{{ chase_one_by_one.id }}"
                               type="text" name="eng_plan_acceptance_closed_memo" cols="25" rows="2"
                               old_value="{{ chase_one_by_one.eng_plan_acceptance_closed_memo|default_if_none:'' }}">{{ chase_one_by_one.eng_plan_acceptance_closed_memo|default_if_none:'' }}</textarea>
                    </td>
                {% else %}
                    <td>{{ chase_one_by_one.sch_eng_plan_acceptance_closed|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.act_eng_plan_acceptance_closed|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.eng_plan_acceptance_closed_memo|default_if_none:''|linebreaks }}</td>
                {% endif %}
            </tr>
            <tr align="center" valign="middle">
                <td bgcolor="#CDE5FF" colspan="4">工程施作</td>
            </tr>
            <tr align="center" valign="middle">
                <td bgcolor="#FFE7CD">簽辦招標</td>
                {% if edit %}
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="sch_eng_do_signed_tender">
                        <a id="Show_Chase_Info_sch_eng_do_signed_tender_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.sch_eng_do_signed_tender|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="sch_eng_do_signed_tender" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_sch_eng_do_signed_tender_{{ chase_one_by_one.id }}"
                               type="text" name="sch_eng_do_signed_tender" size="15"
                               value="{{ chase_one_by_one.sch_eng_do_signed_tender|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.sch_eng_do_signed_tender|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="act_eng_do_signed_tender">
                        <a id="Show_Chase_Info_act_eng_do_signed_tender_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.act_eng_do_signed_tender|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="act_eng_do_signed_tender" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_act_eng_do_signed_tender_{{ chase_one_by_one.id }}"
                               type="text" name="act_eng_do_signed_tender" size="15"
                               value="{{ chase_one_by_one.act_eng_do_signed_tender|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.act_eng_do_signed_tender|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="eng_do_signed_tender_memo" align="left">
                        <a id="Show_Chase_Info_eng_do_signed_tender_memo_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.eng_do_signed_tender_memo|default_if_none:''|linebreaks }}
                        </a>
                        <textarea class="Hide_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="eng_do_signed_tender_memo" table_name="CountyChaseProjectOneByOne"
                               input_type="str" style="display: none;" id="Edit_Chase_Info_eng_do_signed_tender_memo_{{ chase_one_by_one.id }}"
                               type="text" name="eng_do_signed_tender_memo" cols="25" rows="2"
                               old_value="{{ chase_one_by_one.eng_do_signed_tender_memo|default_if_none:'' }}">{{ chase_one_by_one.eng_do_signed_tender_memo|default_if_none:'' }}</textarea>
                    </td>
                {% else %}
                    <td>{{ chase_one_by_one.sch_eng_do_signed_tender|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.act_eng_do_signed_tender|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.eng_do_signed_tender_memo|default_if_none:''|linebreaks }}</td>
                {% endif %}
            </tr>
            <tr align="center" valign="middle">
                <td bgcolor="#FFE7CD">公告招標</td>
                {% if edit %}
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="sch_eng_do_announcement_tender">
                        <a id="Show_Chase_Info_sch_eng_do_announcement_tender_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.sch_eng_do_announcement_tender|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="sch_eng_do_announcement_tender" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_sch_eng_do_announcement_tender_{{ chase_one_by_one.id }}"
                               type="text" name="sch_eng_do_announcement_tender" size="15"
                               value="{{ chase_one_by_one.sch_eng_do_announcement_tender|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.sch_eng_do_announcement_tender|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="act_eng_do_announcement_tender">
                        <a id="Show_Chase_Info_act_eng_do_announcement_tender_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.act_eng_do_announcement_tender|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="act_eng_do_announcement_tender" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_act_eng_do_announcement_tender_{{ chase_one_by_one.id }}"
                               type="text" name="act_eng_do_announcement_tender" size="15"
                               value="{{ chase_one_by_one.act_eng_do_announcement_tender|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.act_eng_do_announcement_tender|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="eng_do_announcement_tender_memo" align="left">
                        <a id="Show_Chase_Info_eng_do_announcement_tender_memo_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.eng_do_announcement_tender_memo|default_if_none:''|linebreaks }}
                        </a>
                        <textarea class="Hide_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="eng_do_announcement_tender_memo" table_name="CountyChaseProjectOneByOne"
                               input_type="str" style="display: none;" id="Edit_Chase_Info_eng_do_announcement_tender_memo_{{ chase_one_by_one.id }}"
                               type="text" name="eng_do_announcement_tender_memo" cols="25" rows="2"
                               old_value="{{ chase_one_by_one.eng_do_announcement_tender_memo|default_if_none:'' }}">{{ chase_one_by_one.eng_do_announcement_tender_memo|default_if_none:'' }}</textarea>
                    </td>
                {% else %}
                    <td>{{ chase_one_by_one.sch_eng_do_announcement_tender|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.act_eng_do_announcement_tender|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.eng_do_announcement_tender_memo|default_if_none:''|linebreaks }}</td>
                {% endif %}
            </tr>
            <tr align="center" valign="middle">
                <td bgcolor="#FFE7CD">定約</td>
                {% if edit %}
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="sch_eng_do_promise">
                        <a id="Show_Chase_Info_sch_eng_do_promise_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.sch_eng_do_promise|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="sch_eng_do_promise" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_sch_eng_do_promise_{{ chase_one_by_one.id }}"
                               type="text" name="sch_eng_do_promise" size="15"
                               value="{{ chase_one_by_one.sch_eng_do_promise|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.sch_eng_do_promise|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="act_eng_do_promise">
                        <a id="Show_Chase_Info_act_eng_do_promise_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.act_eng_do_promise|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="act_eng_do_promise" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_act_eng_do_promise_{{ chase_one_by_one.id }}"
                               type="text" name="act_eng_do_promise" size="15"
                               value="{{ chase_one_by_one.act_eng_do_promise|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.act_eng_do_promise|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="eng_do_promise_memo" align="left">
                        <a id="Show_Chase_Info_eng_do_promise_memo_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.eng_do_promise_memo|default_if_none:''|linebreaks }}
                        </a>
                        <textarea class="Hide_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="eng_do_promise_memo" table_name="CountyChaseProjectOneByOne"
                               input_type="str" style="display: none;" id="Edit_Chase_Info_eng_do_promise_memo_{{ chase_one_by_one.id }}"
                               type="text" name="eng_do_promise_memo" cols="25" rows="2"
                               old_value="{{ chase_one_by_one.eng_do_promise_memo|default_if_none:'' }}">{{ chase_one_by_one.eng_do_promise_memo|default_if_none:'' }}</textarea>
                    </td>
                {% else %}
                    <td>{{ chase_one_by_one.sch_eng_do_promise|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.act_eng_do_promise|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.eng_do_promise_memo|default_if_none:''|linebreaks }}</td>
                {% endif %}
            </tr>
            <tr align="center" valign="middle">
                <td bgcolor="#FFE7CD">開工</td>
                {% if edit %}
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="sch_eng_do_start">
                        <a id="Show_Chase_Info_sch_eng_do_start_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.sch_eng_do_start|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="sch_eng_do_start" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_sch_eng_do_start_{{ chase_one_by_one.id }}"
                               type="text" name="sch_eng_do_start" size="15"
                               value="{{ chase_one_by_one.sch_eng_do_start|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.sch_eng_do_start|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="act_eng_do_start">
                        <a id="Show_Chase_Info_act_eng_do_start_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.act_eng_do_start|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="act_eng_do_start" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_act_eng_do_start_{{ chase_one_by_one.id }}"
                               type="text" name="act_eng_do_start" size="15"
                               value="{{ chase_one_by_one.act_eng_do_start|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.act_eng_do_start|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="eng_do_start_memo" align="left">
                        <a id="Show_Chase_Info_eng_do_start_memo_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.eng_do_start_memo|default_if_none:''|linebreaks }}
                        </a>
                        <textarea class="Hide_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="eng_do_start_memo" table_name="CountyChaseProjectOneByOne"
                               input_type="str" style="display: none;" id="Edit_Chase_Info_eng_do_start_memo_{{ chase_one_by_one.id }}"
                               type="text" name="eng_do_start_memo" cols="25" rows="2"
                               old_value="{{ chase_one_by_one.eng_do_start_memo|default_if_none:'' }}">{{ chase_one_by_one.eng_do_start_memo|default_if_none:'' }}</textarea>
                    </td>
                {% else %}
                    <td>{{ chase_one_by_one.sch_eng_do_start|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.act_eng_do_start|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.eng_do_start_memo|default_if_none:''|linebreaks }}</td>
                {% endif %}
            </tr>
            <tr align="center" valign="middle">
                <td bgcolor="#FFE7CD">完工</td>
                {% if edit %}
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="sch_eng_do_completion">
                        <a id="Show_Chase_Info_sch_eng_do_completion_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.sch_eng_do_completion|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="sch_eng_do_completion" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_sch_eng_do_completion_{{ chase_one_by_one.id }}"
                               type="text" name="sch_eng_do_completion" size="15"
                               value="{{ chase_one_by_one.sch_eng_do_completion|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.sch_eng_do_completion|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="act_eng_do_completion">
                        <a id="Show_Chase_Info_act_eng_do_completion_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.act_eng_do_completion|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="act_eng_do_completion" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_act_eng_do_completion_{{ chase_one_by_one.id }}"
                               type="text" name="act_eng_do_completion" size="15"
                               value="{{ chase_one_by_one.act_eng_do_completion|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.act_eng_do_completion|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="eng_do_completion_memo" align="left">
                        <a id="Show_Chase_Info_eng_do_completion_memo_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.eng_do_completion_memo|default_if_none:''|linebreaks }}
                        </a>
                        <textarea class="Hide_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="eng_do_completion_memo" table_name="CountyChaseProjectOneByOne"
                               input_type="str" style="display: none;" id="Edit_Chase_Info_eng_do_completion_memo_{{ chase_one_by_one.id }}"
                               type="text" name="eng_do_completion_memo" cols="25" rows="2"
                               old_value="{{ chase_one_by_one.eng_do_completion_memo|default_if_none:'' }}">{{ chase_one_by_one.eng_do_completion_memo|default_if_none:'' }}</textarea>
                    </td>
                {% else %}
                    <td>{{ chase_one_by_one.sch_eng_do_completion|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.act_eng_do_completion|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.eng_do_completion_memo|default_if_none:''|linebreaks }}</td>
                {% endif %}
            </tr>
            <tr align="center" valign="middle">
                <td bgcolor="#FFE7CD">驗收</td>
                {% if edit %}
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="sch_eng_do_acceptance">
                        <a id="Show_Chase_Info_sch_eng_do_acceptance_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.sch_eng_do_acceptance|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="sch_eng_do_acceptance" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_sch_eng_do_acceptance_{{ chase_one_by_one.id }}"
                               type="text" name="sch_eng_do_acceptance" size="15"
                               value="{{ chase_one_by_one.sch_eng_do_acceptance|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.sch_eng_do_acceptance|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="act_eng_do_acceptance">
                        <a id="Show_Chase_Info_act_eng_do_acceptance_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.act_eng_do_acceptance|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="act_eng_do_acceptance" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_act_eng_do_acceptance_{{ chase_one_by_one.id }}"
                               type="text" name="act_eng_do_acceptance" size="15"
                               value="{{ chase_one_by_one.act_eng_do_acceptance|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.act_eng_do_acceptance|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="eng_do_acceptance_memo" align="left">
                        <a id="Show_Chase_Info_eng_do_acceptance_memo_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.eng_do_acceptance_memo|default_if_none:''|linebreaks }}
                        </a>
                        <textarea class="Hide_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="eng_do_acceptance_memo" table_name="CountyChaseProjectOneByOne"
                               input_type="str" style="display: none;" id="Edit_Chase_Info_eng_do_acceptance_memo_{{ chase_one_by_one.id }}"
                               type="text" name="eng_do_acceptance_memo" cols="25" rows="2"
                               old_value="{{ chase_one_by_one.eng_do_acceptance_memo|default_if_none:'' }}">{{ chase_one_by_one.eng_do_acceptance_memo|default_if_none:'' }}</textarea>
                    </td>
                {% else %}
                    <td>{{ chase_one_by_one.sch_eng_do_acceptance|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.act_eng_do_acceptance|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.eng_do_acceptance_memo|default_if_none:''|linebreaks }}</td>
                {% endif %}
            </tr>
            <tr align="center" valign="middle">
                <td bgcolor="#FFE7CD">結案</td>
                {% if edit %}
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="sch_eng_do_closed">
                        <a id="Show_Chase_Info_sch_eng_do_closed_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.sch_eng_do_closed|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="sch_eng_do_closed" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_sch_eng_do_closed_{{ chase_one_by_one.id }}"
                               type="text" name="sch_eng_do_closed" size="15"
                               value="{{ chase_one_by_one.sch_eng_do_closed|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.sch_eng_do_closed|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="act_eng_do_closed">
                        <a id="Show_Chase_Info_act_eng_do_closed_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.act_eng_do_closed|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="act_eng_do_closed" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_act_eng_do_closed_{{ chase_one_by_one.id }}"
                               type="text" name="act_eng_do_closed" size="15"
                               value="{{ chase_one_by_one.act_eng_do_closed|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.act_eng_do_closed|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="eng_do_closed_memo" align="left">
                        <a id="Show_Chase_Info_eng_do_closed_memo_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.eng_do_closed_memo|default_if_none:''|linebreaks }}
                        </a>
                        <textarea class="Hide_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="eng_do_closed_memo" table_name="CountyChaseProjectOneByOne"
                               input_type="str" style="display: none;" id="Edit_Chase_Info_eng_do_closed_memo_{{ chase_one_by_one.id }}"
                               type="text" name="eng_do_closed_memo" cols="25" rows="2"
                               old_value="{{ chase_one_by_one.eng_do_closed_memo|default_if_none:'' }}">{{ chase_one_by_one.eng_do_closed_memo|default_if_none:'' }}</textarea>
                    </td>
                {% else %}
                    <td>{{ chase_one_by_one.sch_eng_do_closed|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.act_eng_do_closed|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.eng_do_closed_memo|default_if_none:''|linebreaks }}</td>
                {% endif %}
            </tr>
            




