{% load utiltags %}
{% load humanize %}

            <tr align="center" valign="middle">
                <td bgcolor="#FFE7CD">核定計畫</td>
                {% if edit %}
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="sch_ser_approved_plan">
                        <a id="Show_Chase_Info_sch_ser_approved_plan_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.sch_ser_approved_plan|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="sch_ser_approved_plan" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_sch_ser_approved_plan_{{ chase_one_by_one.id }}"
                               type="text" name="sch_ser_approved_plan" size="15"
                               value="{{ chase_one_by_one.sch_ser_approved_plan|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.sch_ser_approved_plan|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="act_ser_approved_plan">
                        <a id="Show_Chase_Info_act_ser_approved_plan_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.act_ser_approved_plan|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="act_ser_approved_plan" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_act_ser_approved_plan_{{ chase_one_by_one.id }}"
                               type="text" name="act_ser_approved_plan" size="15"
                               value="{{ chase_one_by_one.act_ser_approved_plan|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.act_ser_approved_plan|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="ser_approved_plan_memo" align="left">
                        <a id="Show_Chase_Info_ser_approved_plan_memo_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.ser_approved_plan_memo|default_if_none:''|linebreaks }}
                        </a>
                        <textarea class="Hide_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="ser_approved_plan_memo" table_name="CountyChaseProjectOneByOne"
                               input_type="str" style="display: none;" id="Edit_Chase_Info_ser_approved_plan_memo_{{ chase_one_by_one.id }}"
                               type="text" name="ser_approved_plan_memo" cols="25" rows="2"
                               old_value="{{ chase_one_by_one.ser_approved_plan_memo|default_if_none:'' }}">{{ chase_one_by_one.ser_approved_plan_memo|default_if_none:'' }}</textarea>
                    </td>
                {% else %}
                    <td>{{ chase_one_by_one.sch_ser_approved_plan|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.act_ser_approved_plan|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.ser_approved_plan_memo|default_if_none:''|linebreaks }}</td>
                {% endif %}
            </tr>
            <tr align="center" valign="middle">
                <td bgcolor="#FFE7CD">簽辦招標</td>
                {% if edit %}
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="sch_ser_signed_tender">
                        <a id="Show_Chase_Info_sch_ser_signed_tender_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.sch_ser_signed_tender|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="sch_ser_signed_tender" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_sch_ser_signed_tender_{{ chase_one_by_one.id }}"
                               type="text" name="sch_ser_signed_tender" size="15"
                               value="{{ chase_one_by_one.sch_ser_signed_tender|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.sch_ser_signed_tender|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="act_ser_signed_tender">
                        <a id="Show_Chase_Info_act_ser_signed_tender_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.act_ser_signed_tender|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="act_ser_signed_tender" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_act_ser_signed_tender_{{ chase_one_by_one.id }}"
                               type="text" name="act_ser_signed_tender" size="15"
                               value="{{ chase_one_by_one.act_ser_signed_tender|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.act_ser_signed_tender|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="ser_signed_tender_memo" align="left">
                        <a id="Show_Chase_Info_ser_signed_tender_memo_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.ser_signed_tender_memo|default_if_none:''|linebreaks }}
                        </a>
                        <textarea class="Hide_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="ser_signed_tender_memo" table_name="CountyChaseProjectOneByOne"
                               input_type="str" style="display: none;" id="Edit_Chase_Info_ser_signed_tender_memo_{{ chase_one_by_one.id }}"
                               type="text" name="ser_signed_tender_memo" cols="25" rows="2"
                               old_value="{{ chase_one_by_one.ser_signed_tender_memo|default_if_none:'' }}">{{ chase_one_by_one.ser_signed_tender_memo|default_if_none:'' }}</textarea>
                    </td>
                {% else %}
                    <td>{{ chase_one_by_one.sch_ser_signed_tender|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.act_ser_signed_tender|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.ser_signed_tender_memo|default_if_none:''|linebreaks }}</td>
                {% endif %}
            </tr>
            <tr align="center" valign="middle">
                <td bgcolor="#FFE7CD">公告招標</td>
                {% if edit %}
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="sch_ser_announcement_tender">
                        <a id="Show_Chase_Info_sch_ser_announcement_tender_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.sch_ser_announcement_tender|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="sch_ser_announcement_tender" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_sch_ser_announcement_tender_{{ chase_one_by_one.id }}"
                               type="text" name="sch_ser_announcement_tender" size="15"
                               value="{{ chase_one_by_one.sch_ser_announcement_tender|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.sch_ser_announcement_tender|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="act_ser_announcement_tender">
                        <a id="Show_Chase_Info_act_ser_announcement_tender_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.act_ser_announcement_tender|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="act_ser_announcement_tender" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_act_ser_announcement_tender_{{ chase_one_by_one.id }}"
                               type="text" name="act_ser_announcement_tender" size="15"
                               value="{{ chase_one_by_one.act_ser_announcement_tender|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.act_ser_announcement_tender|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="ser_announcement_tender_memo" align="left">
                        <a id="Show_Chase_Info_ser_announcement_tender_memo_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.ser_announcement_tender_memo|default_if_none:''|linebreaks }}
                        </a>
                        <textarea class="Hide_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="ser_announcement_tender_memo" table_name="CountyChaseProjectOneByOne"
                               input_type="str" style="display: none;" id="Edit_Chase_Info_ser_announcement_tender_memo_{{ chase_one_by_one.id }}"
                               type="text" name="ser_announcement_tender_memo" cols="25" rows="2"
                               old_value="{{ chase_one_by_one.ser_announcement_tender_memo|default_if_none:'' }}">{{ chase_one_by_one.ser_announcement_tender_memo|default_if_none:'' }}</textarea>
                    </td>
                {% else %}
                    <td>{{ chase_one_by_one.sch_ser_announcement_tender|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.act_ser_announcement_tender|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.ser_announcement_tender_memo|default_if_none:''|linebreaks }}</td>
                {% endif %}
            </tr>
            <tr align="center" valign="middle">
                <td bgcolor="#FFE7CD">公開評選會議(限制性招標)</td>
                {% if edit %}
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="sch_ser_selection_meeting">
                        <a id="Show_Chase_Info_sch_ser_selection_meeting_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.sch_ser_selection_meeting|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="sch_ser_selection_meeting" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_sch_ser_selection_meeting_{{ chase_one_by_one.id }}"
                               type="text" name="sch_ser_selection_meeting" size="15"
                               value="{{ chase_one_by_one.sch_ser_selection_meeting|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.sch_ser_selection_meeting|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="act_ser_selection_meeting">
                        <a id="Show_Chase_Info_act_ser_selection_meeting_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.act_ser_selection_meeting|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="act_ser_selection_meeting" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_act_ser_selection_meeting_{{ chase_one_by_one.id }}"
                               type="text" name="act_ser_selection_meeting" size="15"
                               value="{{ chase_one_by_one.act_ser_selection_meeting|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.act_ser_selection_meeting|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="ser_selection_meeting_memo" align="left">
                        <a id="Show_Chase_Info_ser_selection_meeting_memo_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.ser_selection_meeting_memo|default_if_none:''|linebreaks }}
                        </a>
                        <textarea class="Hide_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="ser_selection_meeting_memo" table_name="CountyChaseProjectOneByOne"
                               input_type="str" style="display: none;" id="Edit_Chase_Info_ser_selection_meeting_memo_{{ chase_one_by_one.id }}"
                               type="text" name="ser_selection_meeting_memo" cols="25" rows="2"
                               old_value="{{ chase_one_by_one.ser_selection_meeting_memo|default_if_none:'' }}">{{ chase_one_by_one.ser_selection_meeting_memo|default_if_none:'' }}</textarea>
                    </td>
                {% else %}
                    <td>{{ chase_one_by_one.sch_ser_selection_meeting|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.act_ser_selection_meeting|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.ser_selection_meeting_memo|default_if_none:''|linebreaks }}</td>
                {% endif %}
            </tr>
            <tr align="center" valign="middle">
                <td bgcolor="#FFE7CD">定約</td>
                {% if edit %}
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="sch_ser_promise">
                        <a id="Show_Chase_Info_sch_ser_promise_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.sch_ser_promise|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="sch_ser_promise" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_sch_ser_promise_{{ chase_one_by_one.id }}"
                               type="text" name="sch_ser_promise" size="15"
                               value="{{ chase_one_by_one.sch_ser_promise|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.sch_ser_promise|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="act_ser_promise">
                        <a id="Show_Chase_Info_act_ser_promise_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.act_ser_promise|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="act_ser_promise" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_act_ser_promise_{{ chase_one_by_one.id }}"
                               type="text" name="act_ser_promise" size="15"
                               value="{{ chase_one_by_one.act_ser_promise|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.act_ser_promise|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="ser_promise_memo" align="left">
                        <a id="Show_Chase_Info_ser_promise_memo_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.ser_promise_memo|default_if_none:''|linebreaks }}
                        </a>
                        <textarea class="Hide_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="ser_promise_memo" table_name="CountyChaseProjectOneByOne"
                               input_type="str" style="display: none;" id="Edit_Chase_Info_ser_promise_memo_{{ chase_one_by_one.id }}"
                               type="text" name="ser_promise_memo" cols="25" rows="2"
                               old_value="{{ chase_one_by_one.ser_promise_memo|default_if_none:'' }}">{{ chase_one_by_one.ser_promise_memo|default_if_none:'' }}</textarea>
                    </td>
                {% else %}
                    <td>{{ chase_one_by_one.sch_ser_promise|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.act_ser_promise|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.ser_promise_memo|default_if_none:''|linebreaks }}</td>
                {% endif %}
            </tr>
            <tr align="center" valign="middle">
                <td bgcolor="#FFE7CD">工作計畫書</td>
                {% if edit %}
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="sch_ser_work_plan">
                        <a id="Show_Chase_Info_sch_ser_work_plan_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.sch_ser_work_plan|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="sch_ser_work_plan" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_sch_ser_work_plan_{{ chase_one_by_one.id }}"
                               type="text" name="sch_ser_work_plan" size="15"
                               value="{{ chase_one_by_one.sch_ser_work_plan|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.sch_ser_work_plan|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="act_ser_work_plan">
                        <a id="Show_Chase_Info_act_ser_work_plan_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.act_ser_work_plan|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="act_ser_work_plan" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_act_ser_work_plan_{{ chase_one_by_one.id }}"
                               type="text" name="act_ser_work_plan" size="15"
                               value="{{ chase_one_by_one.act_ser_work_plan|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.act_ser_work_plan|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="ser_work_plan_memo" align="left">
                        <a id="Show_Chase_Info_ser_work_plan_memo_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.ser_work_plan_memo|default_if_none:''|linebreaks }}
                        </a>
                        <textarea class="Hide_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="ser_work_plan_memo" table_name="CountyChaseProjectOneByOne"
                               input_type="str" style="display: none;" id="Edit_Chase_Info_ser_work_plan_memo_{{ chase_one_by_one.id }}"
                               type="text" name="ser_work_plan_memo" cols="25" rows="2"
                               old_value="{{ chase_one_by_one.ser_work_plan_memo|default_if_none:'' }}">{{ chase_one_by_one.ser_work_plan_memo|default_if_none:'' }}</textarea>
                    </td>
                {% else %}
                    <td>{{ chase_one_by_one.sch_ser_work_plan|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.act_ser_work_plan|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.ser_work_plan_memo|default_if_none:''|linebreaks }}</td>
                {% endif %}
            </tr>
            <tr align="center" valign="middle">
                <td bgcolor="#FFE7CD">期中報告</td>
                {% if edit %}
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="sch_ser_interim_report">
                        <a id="Show_Chase_Info_sch_ser_interim_report_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.sch_ser_interim_report|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="sch_ser_interim_report" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_sch_ser_interim_report_{{ chase_one_by_one.id }}"
                               type="text" name="sch_ser_interim_report" size="15"
                               value="{{ chase_one_by_one.sch_ser_interim_report|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.sch_ser_interim_report|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="act_ser_interim_report">
                        <a id="Show_Chase_Info_act_ser_interim_report_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.act_ser_interim_report|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="act_ser_interim_report" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_act_ser_interim_report_{{ chase_one_by_one.id }}"
                               type="text" name="act_ser_interim_report" size="15"
                               value="{{ chase_one_by_one.act_ser_interim_report|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.act_ser_interim_report|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="ser_interim_report_memo" align="left">
                        <a id="Show_Chase_Info_ser_interim_report_memo_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.ser_interim_report_memo|default_if_none:''|linebreaks }}
                        </a>
                        <textarea class="Hide_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="ser_interim_report_memo" table_name="CountyChaseProjectOneByOne"
                               input_type="str" style="display: none;" id="Edit_Chase_Info_ser_interim_report_memo_{{ chase_one_by_one.id }}"
                               type="text" name="ser_interim_report_memo" cols="25" rows="2"
                               old_value="{{ chase_one_by_one.ser_interim_report_memo|default_if_none:'' }}">{{ chase_one_by_one.ser_interim_report_memo|default_if_none:'' }}</textarea>
                    </td>
                {% else %}
                    <td>{{ chase_one_by_one.sch_ser_interim_report|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.act_ser_interim_report|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.ser_interim_report_memo|default_if_none:''|linebreaks }}</td>
                {% endif %}
            </tr>
            <tr align="center" valign="middle">
                <td bgcolor="#FFE7CD">期末報告</td>
                {% if edit %}
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="sch_ser_final_report">
                        <a id="Show_Chase_Info_sch_ser_final_report_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.sch_ser_final_report|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="sch_ser_final_report" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_sch_ser_final_report_{{ chase_one_by_one.id }}"
                               type="text" name="sch_ser_final_report" size="15"
                               value="{{ chase_one_by_one.sch_ser_final_report|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.sch_ser_final_report|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="act_ser_final_report">
                        <a id="Show_Chase_Info_act_ser_final_report_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.act_ser_final_report|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="act_ser_final_report" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_act_ser_final_report_{{ chase_one_by_one.id }}"
                               type="text" name="act_ser_final_report" size="15"
                               value="{{ chase_one_by_one.act_ser_final_report|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.act_ser_final_report|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="ser_final_report_memo" align="left">
                        <a id="Show_Chase_Info_ser_final_report_memo_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.ser_final_report_memo|default_if_none:''|linebreaks }}
                        </a>
                        <textarea class="Hide_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="ser_final_report_memo" table_name="CountyChaseProjectOneByOne"
                               input_type="str" style="display: none;" id="Edit_Chase_Info_ser_final_report_memo_{{ chase_one_by_one.id }}"
                               type="text" name="ser_final_report_memo" cols="25" rows="2"
                               old_value="{{ chase_one_by_one.ser_final_report_memo|default_if_none:'' }}">{{ chase_one_by_one.ser_final_report_memo|default_if_none:'' }}</textarea>
                    </td>
                {% else %}
                    <td>{{ chase_one_by_one.sch_ser_final_report|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.act_ser_final_report|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.ser_final_report_memo|default_if_none:''|linebreaks }}</td>
                {% endif %}
            </tr>
            <tr align="center" valign="middle">
                <td bgcolor="#FFE7CD">驗收結案</td>
                {% if edit %}
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="sch_ser_acceptance_closed">
                        <a id="Show_Chase_Info_sch_ser_acceptance_closed_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.sch_ser_acceptance_closed|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="sch_ser_acceptance_closed" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_sch_ser_acceptance_closed_{{ chase_one_by_one.id }}"
                               type="text" name="sch_ser_acceptance_closed" size="15"
                               value="{{ chase_one_by_one.sch_ser_acceptance_closed|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.sch_ser_acceptance_closed|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="act_ser_acceptance_closed">
                        <a id="Show_Chase_Info_act_ser_acceptance_closed_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.act_ser_acceptance_closed|default_if_none:'' }}
                        </a>
                        <input class="Hide_Chase_Info chooseChaseDate" chase_id="{{ chase_one_by_one.id }}" field_name="act_ser_acceptance_closed" table_name="CountyChaseProjectOneByOne"
                               input_type="date" style="text-align: right; display: none;" id="Edit_Chase_Info_act_ser_acceptance_closed_{{ chase_one_by_one.id }}"
                               type="text" name="act_ser_acceptance_closed" size="15"
                               value="{{ chase_one_by_one.act_ser_acceptance_closed|default_if_none:''|cutzero }}"
                               old_value="{{ chase_one_by_one.act_ser_acceptance_closed|default_if_none:''|cutzero }}"/>
                    </td>
                    <td class="Show_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="ser_acceptance_closed_memo" align="left">
                        <a id="Show_Chase_Info_ser_acceptance_closed_memo_{{ chase_one_by_one.id }}">
                            {{ chase_one_by_one.ser_acceptance_closed_memo|default_if_none:''|linebreaks }}
                        </a>
                        <textarea class="Hide_Chase_Info" chase_id="{{ chase_one_by_one.id }}" field_name="ser_acceptance_closed_memo" table_name="CountyChaseProjectOneByOne"
                               input_type="str" style="display: none;" id="Edit_Chase_Info_ser_acceptance_closed_memo_{{ chase_one_by_one.id }}"
                               type="text" name="ser_acceptance_closed_memo" cols="25" rows="2"
                               old_value="{{ chase_one_by_one.ser_acceptance_closed_memo|default_if_none:'' }}">{{ chase_one_by_one.ser_acceptance_closed_memo|default_if_none:'' }}</textarea>
                    </td>
                {% else %}
                    <td>{{ chase_one_by_one.sch_ser_acceptance_closed|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.act_ser_acceptance_closed|default_if_none:'' }}</td>
                    <td>{{ chase_one_by_one.ser_acceptance_closed_memo|default_if_none:''|linebreaks }}</td>
                {% endif %}
            </tr>