{% extends 'frcm/index.html' %}
{% load utiltags %}
{% block menu %}
    <ul id="menu" value ="/frcm/county_chase/"></ul>
{% endblock %}

{% block content %}
<br>
<table border="1" style="border-collapse: collapse">
    <tr bgcolor="#FFC991" align="center" valign="middle">
        <td rowspan="2">
            此為第 {{ countychasetime.time }} 次追蹤<br>
            追蹤日期：{{ countychasetime.chase_date }}<br>
            (已經過 {{ countychasetime.pastDay }} 天)<br><br>
        </td>
        <td bgcolor="#FFCECD" style="font-size:20px;"><b>追蹤狀態</b></td>
    </tr>
    <tr align="center" valign="middle">
        <td>
            <table border="1" style="border-collapse: collapse">
                <tr bgcolor="#CDE5FF" align="center" valign="middle">
                    <td rowspan="4"></td>
                    <td></td>
                    <td style="font-size: 20px;" {% if not places.south %}bgcolor="#CDFFE7"{% endif %} width="100" class="ShowChaseProject" place_id="{{ place.id }}" type="all"><b>{{ place.name }}</b></td>
                </tr>
                <tr height="40" align="center" valign="middle">
                    <td width="150" style="font-size: 16px;" bgcolor="#73FF75" class="ShowChaseProject" place_id="all" type="check">填寫完畢</td>
                    <td {% if place.check %}class="ShowChaseProject"{% endif %} place_id="{{ place.id }}" type="check">
                        {% ifnotequal place.check 0 %}{{ place.check }}{% endifnotequal %}
                    </td>
                </tr>
                <tr height="40" align="center" valign="middle">
                    <td style="font-size: 16px;" bgcolor="#FCFF19" class="ShowChaseProject" place_id="all" type="not_check">已匯入尚未填寫</td>
                    <td {% if place.not_check %}class="ShowChaseProject"{% endif %} place_id="{{ place.id }}" type="not_check">
                        {% ifnotequal place.not_check 0 %}{{ place.not_check }}{% endifnotequal %}
                    </td>
                </tr>
                <tr height="40" align="center" valign="middle">
                    <td style="font-size: 16px;" bgcolor="#FF9291" class="ShowChaseProject" place_id="all" type="not_in_frcm">尚未匯入</td>
                    <td {% if place.not_in_frcm %}class="ShowChaseProject"{% endif %} place_id="{{ place.id }}" type="not_in_frcm">
                        {% ifnotequal place.not_in_frcm 0 %}{{ place.not_in_frcm }}{% endifnotequal %}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{% endblock %}