<li id="${id}" class="list-group-item">
    <div class="creator__name">
        <span style="color:#2D92E0;font-size:16px;"><strong>${creator__name} 說:</strong></span>
        {% if 'remove_comment' in permissions %}
        <span class="glyphicon glyphicon-remove pull-right pointer delete_comment" style="display:none">
        </span>
        {% endif %}
    </div>
    <p style="word-wrap:break-word; overflow:hidden;">${content}</p>
    <div style="text-align:right;font-size:12px;">${create_time}</div>
</li>