<div id="defect_${id}" class="defect_unit ${stage}">
    <table>
        <thead>
            <tr><th colspan="4"><div class="steps"></div></th></tr>
            <tr><th colspan="4">${node}</th></tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img class="img_thumbnail lazy" data-original=${photo_thumb} />
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>