<div align="center">
    {% for page in image_list %}
    <div style="width: 600px;" align="left">工程名稱：{{ project_name }}<div>
    <div style="width: 600px;" align="right">第{{ forloop.counter }}頁 共{{ image_list|length }}頁<div>
    <table class="preview_table" align="center" border="1" style="width: 600px; border-collapse:collapse;">
        {% for photo in page %}
        <tr>
            <th valign="middle">
                <p align="center">查驗照片</p>
            </th>
            <td rowspan="2" style="vertical-align: top;">
                <p>拍攝日期：</p>
                <p align="center">{{ photo.time|date:"Y 年 m 月 d 日" }}</p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" style="width: 400px; height: 300px; text-align: center;" >
                <img src="/gallery/api/v1/image/view/{{ photo.id }}/?v={{ photo.rDTVersion }}&size=document">
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top;">
                <p>拍攝內容：</p>
                <p style="height: 200px;">{{ photo.node.rPath }}</p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p>說明：{{ photo.note|default_if_none:"" }}</p>
            </td>
        </tr>
        {% endfor %}
    </table>
    <hr style="margin-top: 30px; margin-bottom: 30px;">
    {% endfor %}

    <form id="preview_form_{{ doc }}" method="post" action="/gallery/api/v1/photo/image_docx/">
        {% csrf_token %}
        <section class="inputs"></section>
        <input name="doc_type" value="{{ doc }}" style="display: none;">
        <input class="download" name="submit" type="submit" value="下載" style="display: none;" />
    </form>
</div>
