{% if photos %}
<table align="center" style="min-width: 800px;">
    <thead>
        <tr>
            <th>{{ date }}</th>
        </tr>
    </thead>
    <tbody>
        {% for photo in photos %}
        <tr>
            <th align="left">
                <a>{{ photo.node.rPath }}</a><br>
                <a>{{ photo.note|default_if_none:"" }}</a>
            </th>
        </tr>
        <tr>
            <td>
                <img src="/gallery/api/v1/image/view/{{ photo.id }}/?size=compress" style="min-width: 800px; max-width: 800px;">
                <hr style="margin-top: 30px; margin-bottom: 30px;">
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
{% endif %}