{% load gallery_tags %}
<div align="center">
    {% for page in image_list %}
    <div style="width: 700px;" align="center"><h3>{{ project_name }}</h3></div>
    <div style="width: 700px;" align="center"><h3>施工照片</h3></div>
    <div style="width: 700px;" align="left"><h3>日期：{{ page.0.0.time.year|add:"-1911" }} 年 {{ page.0.0.time.month }} 月 {{ page.0.0.time.day }} 日</h3></div>

    <table class="preview_table" align="center" border="1" style="width: 700px; border-collapse:collapse;">
        {% for p1, p2, p3 in page %}
        <tr>
            <td align="center" style="height: 200px;">
                <img src="/gallery/api/v1/image/view/{{ p1.id }}/?v={{ photo.rDTVersion }}&size=document">
            </td>
            <td align="center" style="height: 200px;">
                {% if p2 %}
                <img src="/gallery/api/v1/image/view/{{ p2.id }}/?v={{ photo.rDTVersion }}&size=document">
                {% endif %}
            </td>
            <td align="center" style="height: 200px;">
                {% if p3 %}
                <img src="/gallery/api/v1/image/view/{{ p3.id }}/?v={{ photo.rDTVersion }}&size=document">
                {% endif %}
            </td>
        </tr>
        <tr align="left">
            <td>
                <p>圖{{ forloop.counter0|multiply:3|add:"1" }}：{{ p1.note|default_if_none:'' }}</p>
            </td>
            <td>
                <p>圖{{ forloop.counter0|multiply:3|add:"2" }}：{{ p2.note|default_if_none:'' }}</p>
            </td>
            <td>
                <p>圖{{ forloop.counter0|multiply:3|add:"3" }}：{{ p3.note|default_if_none:'' }}</p>
            </td>
        </tr>
        {% endfor %}
    </table>
    <hr style="margin-top: 30px; margin-bottom: 30px;">
    {% endfor %}

    <form id="preview_form_{{ doc }}" method="post" action="/gallery/api/v1/photo/image_docx/">
        {% csrf_token %}
        <section class="inputs"></section>
        <input name="doc_type" value="{{ doc }}" style="display: none;">
        <input class="download" name="submit" type="submit" value="下載" style="display: none;" />
    </form>
</div>
