<div align="center">
    <div style="width: 250px;" align="center">----工程</div>
    <div style="width: 250px;" align="center">施工照片</div>
    <div style="width: 250px;" align="left">日期：X 年 Y 月 Z 日</div>

    <table class="preview_table" align="center" border="1" style="width: 250px; border-collapse:collapse; font-size: 10px;">
        <tr>
            <td align="center">
                <div class="format_unit format_unit_1">1<div>
            </td>
            <td align="center">
                <div class="format_unit format_unit_2">2<div>
            </td>
            <td align="center">
                <div class="format_unit format_unit_3">3<div>
            </td>
        </tr>
        <tr align="left">
            <td>圖1：</td>
            <td>圖2：</td>
            <td>圖3：</td>
        </tr>
        <tr>
            <td align="center">
                <div class="format_unit format_unit_4">4<div>
            </td>
            <td align="center">
                <div class="format_unit format_unit_5">5<div>
            </td>
            <td align="center">
                <div class="format_unit format_unit_6">6<div>
            </td>
        </tr>
        <tr align="left">
            <td>圖4：</td>
            <td>圖5：</td>
            <td>圖6：</td>
        </tr>
        <tr>
            <td align="center">
                <div class="format_unit format_unit_7">7<div>
            </td>
            <td align="center">
                <div class="format_unit format_unit_8">8<div>
            </td>
            <td align="center">
                <div class="format_unit format_unit_9">9<div>
            </td>
        </tr>
        <tr align="left">
            <td>圖7：</td>
            <td>圖8：</td>
            <td>圖9：</td>
        </tr>
    </table>
</div>
