<div align="center">
    {% for page in image_list %}
    <div style="width: 600px;" align="left">工程名稱：{{ page.0.node.case.parent.name }}<div>
    <div style="width: 600px;" align="right">第{{ forloop.counter }}頁 共{{ image_list|length }}頁<div>

    <table class="preview_table" align="center" border="1" style="width: 600px; border-collapse:collapse;">
        {% for photo in page %}
        <tr>
            <th align="center">
                <p>查驗照片</p>
            </th>
            <td rowspan="2" style="vertical-align: top;">
                <p>拍攝日期：</p>
                <p>{{ photo.time|date:"Y 年 m 月 d 日" }}</p>
            </td>
        </tr>
        <tr>
            <td rowspan="2">
                <img src="/gallery/api/v1/image/view/{{ photo.id }}/?size=large" style="min-width: 400px; max-width: 400px;">
            </td>
        </tr>
        <tr style="height: 200px;">
            <td style="vertical-align: top;">
                <p>拍攝內容：</p>
                <p>{{ photo.node.rPath }}</p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p>說明：{{ photo.note|default_if_none:"" }}</p>
            </td>
        </tr>
        {% endfor %}
    </table>
    <hr style="margin-top: 30px; margin-bottom: 30px;">
    {% endfor %}

    <form id="preview_form" method="post" action="/gallery/api/v1/photo/image_docx/">
        {% csrf_token %}
        <section class="inputs"></section>
        <input class="download" name="submit" type="submit" value="下載" style="display: none;" />
    </form>
</div>
