<!DOCTYPE HTML>
<html>
    <head>
        <title>臺南市政府水利局遠端工程管理系統-瀏覽器說明</title>
        <style >
            body{
                margin: 0px;
                font-family: "微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", AppleGothic, Dotum, Lucida Grande, Verdana Sans-serif;
            }
            .content{
                padding:10px;
            }
            .header{
                padding: 10px;
                background-color:#7FC7DB;
                color:white;
                text-shadow:1px 2px 5px #555;

            }
        </style>
    </head>
    <body> 
        <div class="header" style="font-size:28px;">
            <strong>{{ display_name }}遠端工程管理系統 說明</strong>
            <div style="float:right"><a href="/">回首頁</a></div>
        </div>
        <div class="content">
        <h1>
            無法正常顯示嗎?
        </h1>
        <p>本系統部分功能使用HTML5 CANVAS元件，如無法正常顯示系統功能，代表其瀏覽器版本過舊(如IE6、7、8)</p>
        <h2>解決辦法</h2>
        <ol>
            <li>
                <h3>更新您的IE瀏覽器</h3>
                <div>
                    如您的IE瀏覽器過舊(如IE8以下版本)，請至<a href="http://windows.microsoft.com/zh-tw/internet-explorer/download-ie">IE官網</a>下載新版瀏覽器使用。   
                </div>
                <a href="http://windows.microsoft.com/zh-tw/internet-explorer/download-ie"><img src="http://res1.windows.microsoft.com/resbox/en/windows/main/8501c018-4188-44c3-b608-561f75482a46_6.png" style="height:80px;">按此進入下載頁</a>
                <div style="color:red">
                    <strong>**注意**如因其他系統(如機關未更新支援之系統)需要，或其作業軟體為windows XP以下之版本，而無法安裝新版IE之狀況，請參考下方進行安裝。</strong>
                </div>
            </li>
            <li>
                <h3>安裝其他瀏覽器</h3>
                <div>
                    <p>可選擇其他瀏覽器作為你使用網頁之選擇，如Chrome(google 瀏覽器)</p>
                    <a href="http://www.google.com/intl/zh-TW/chrome/">
                    <img alt="Chrome" data-g-event="nav-logo" data-g-label="consumer-home" id="logo" src="http://www.google.com/intl/zh-TW/chrome/assets/common/images/chrome_logo_2x.png">按此進入下載頁</a>
                    
                    <p>或是FireFox(火狐瀏覽器)。</p>
                    <a href="http://mozilla.com.tw/firefox/new/"><img src="http://mozilla.com.tw/media/img/firefox/new/header-firefox.png?2013-06" alt="Firefox 桌面版">按此進入下載頁</a>
                </div>
            </li>
        </ol>
        </div>
    </body>
</html>