<div id="template_editor" style="display: none">
    <div id="template_list">
        <div id="template_tabs">
            <ul>
                <li><a href="#templates_my">我的樣版</a></li>
                <li><a href="#templates_unit" class="uneditable">監造樣版</a></li>
                <li><a href="#templates_public" class="uneditable">標準樣版</a></li>
            </ul>
            <div id="templates_my" class="templates_holder">
                <div class="form-inline">
                    <input type="text" class="name_filter form-control" style="width: 200px!important;" placeholder="輸入名稱過濾樣版">
                    <input type="button" id="add_template" class="temp_edit btn btn-default" value="建立樣版">
                    <input type="button" id="del_template" class="temp_edit btn btn-default" value="刪除樣版">
                </div>
                <ul class="list-group templates_group"></ul>
            </div>
            <div id="templates_unit" class="templates_holder">
                <input type="text" class="name_filter form-control" style="width: 200px!important;" placeholder="輸入名稱過濾樣版">
                <ul class="list-group templates_group"></ul>
            </div>
            <div id="templates_public" class="templates_holder">
                <input type="text" class="name_filter form-control" style="width: 200px!important;" placeholder="輸入名稱過濾樣版">
                <ul class="list-group templates_group"></ul>
            </div>
        </div>
    </div>
    <div id="template_book">
        <div id="sample_book"></div>
    </div>
</div>