{% extends "sop/zh-tw/web/base.html" %}
{% block js%}
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script type="text/javascript" src="/media/sop/plupload/js/plupload.full.js{{ settings.SV_ }}"></script>
	<script type="text/javascript" src="/media/sop/plupload/jquery.plupload.queue/jquery.plupload.queue.js{{ settings.SV_ }}"></script>
	<script type="text/javascript" src="/media/sop/admin/js/index.js{{ settings.SV_ }}"></script>

	<script type="text/x-jquery-tmpl" id="file_list_tmpl">
		<tr id='file_${id}'>
			<td><input type="radio" name="${item_id}" value=${id} ${checked}></td>
			<td><a>${version}</a></td>
			<td>${name}</td>
			<td>${ext}</td>
			<td>${upload_time_format}</td>
		</tr>
	</script>

	<script type="text/x-jquery-tmpl" id="item_box_tmpl">
		<div id="ItemFilesBox_${id}" class="hide files_box">
	  	<table class="table">
	  		<thead>
	  		<tr>
		  		<th colspan="8" style="font-size:18px;">
		  		<strong>使用中版本</strong><a id="ModalChangeName_${id}" item_id="${id}" class='btn btn-mini just-form'><i class="icon-edit"></i></a>
		  		</th>
	  		</tr>  		
	  		<tr class="file-list-title">
		  		<th>使用</th>
		  		<th>版本號</th>
		  		<th>檔案名稱</th>
		  		<th>類型</th>
		  		<th>上傳時間</th>
	  		</tr>
	  		<tr>
		  		<th colspan = "6" style="font-size:18px;" ><strong>未使用版本</strong></th>
	  		</tr> 
	  		</thead>
	  		<tbody class="file-list-tbody">
	  		</tbody>
	  	</table>
	  </div>
	</script>
{% endblock%}

{% block css%}
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <style>
    tr td,tr th{text-align: center !important;
    	overflow:hidden;
    }

    #sop_tbody tr td{
    	line-height:50px;
    }
    col{height:1px;}
  </style>
{% endblock %}
{% block content%}
<div>
</div>
<div class="row-fluid">
	<div class="span12" >
		{% csrf_token %}
		<table id="sop_table" class="table table-striped" style="table-layout:fixed">
			<col width="30px" />
			<col width="40px" />
		    <col width="200px" />
		    <col width="50px" />
		    <col width="120px" />
		   	<col width="50px" />
		    <col width="50px" />
		    <col width="50px" />
		    <col width="50px" />
		    <col width="50px" />
		    <col width="50px" />
		    <col width="50px" />
		    <col width="50px" />
			<thead style="text-align:center;font-size:18px;">
				<tr  class="success">
				    <td colspan = "5"></td>
				    <td colspan = "2" style="text-align:center"><strong>標準流程圖</strong></td>
				    <td colspan = "2" style="text-align:center"><strong>vsd</strong></td>
				    <td colspan = "2"><strong>標準作業書</strong></td>
					<td colspan = "2"><strong>表單</strong></td>
				</tr>
				<tr  class="success">
					<td></td>
				    <td><strong>啟用</strong></td>
				    <td><strong>標準作業程序名稱</strong></td>
				    <td ><strong>排序</strong></th>
				    <td ><strong>發布時間</strong></th>
				    <td ><strong>上傳</strong></td>
				    <td ><strong>版本</strong></td>
				    <td ><strong>上傳</strong></td>
				    <td ><strong>版本</strong></td>
				    <td ><strong>上傳</strong></td>
				    <td ><strong>版本</strong></td>
				    <td ><strong>上傳</strong></td>
				    <td ><strong>列表</strong></td>
				 </tr>
			</thead>
			<tbody id="sop_tbody">
			{% for i in res%}
				<tr sop_id= "{{i.sop.id}}" style="height:50px;vertical-align:middle" {% if i.sop.is_use %} class=""{%else%}class=""{% endif %}>
					<td><button type="button" class="sop-delete close" style="line-height:50px;">×</button></td>
					<td ><input class="chb" type="checkbox" {% if i.sop.is_use %}checked{% endif %}><br></td>
					<td>
					<span class="sop-name">{{i.sop.title}}</span>
					<span class="hide sop-name-input">
					<input type="text" class="" value="{{i.sop.title}}" style="margin-bottom:0px;width:auto" ></input>
					</span>
					</td>
					<td><input class="sop_fields" type="text" value="{{i.sop.priority}}" style="width: 30px;" data-field="priority" /></td>
					<td><input class="sop_fields" type="text" value="{{i.sop.release_date}}" style="width: 100px;" data-field="release_date" /></td>
					<td>
						<a id="sop_{{i.sop.id}}_png" item_id="{{ i.png }}"  file_type="0" class='vsd btn btn-mini uploader'><i class="icon-upload"></i></a>
					</td>
					<td>
						<a id="sop_{{i.sop.id}}_png_list" href="#FilesListModal" file_type="0" class='btn btn-mini item-list'><i class=" icon-th-list"></i></a>
					</td>
					<td>
						<a id="sop_{{i.sop.id}}_vsd" item_id="{{ i.vsd }}"  file_type="3" class='vsd btn btn-mini uploader'><i class="icon-upload"></i></a>
					</td>
					<td>
						<a id="sop_{{i.sop.id}}_vsd_list" href="#FilesListModal" file_type="3" class='btn btn-mini item-list'><i class=" icon-th-list"></i></a>
					</td>
					<td>
						<a id="sop_{{i.sop.id}}_stb" item_id="{{ i.stb }}"  file_type="1" class='stb btn btn-mini uploader'><i class=" icon-upload"></i></a>
					</td>
					<td>
						<a id="sop_{{i.sop.id}}_stb_list" href="#FilesListModal" sop_id="{{i.sop.id}}" file_type="1"class='btn btn-mini item-list'><i class=" icon-th-list"></i></a>
					</td>
					<td>
						<a id="forms_{{i.sop.id}}" item_id="{{ i.forms }}" file_type="2" class='btn btn-mini forms-modal-uploader-buttom'><i class=" icon-upload"></i></a>
					</td>
					<td>
						<a id="forms_{{i.sop.id}}_list" href="#FilesListModal" items_id="{{i.forms}}" sop_id="{{i.sop.id}}" file_type="2" class='btn btn-mini item-list'><i class="icon-folder-close"></i></a>
					</td>
				</tr>
			{% endfor%}
			</tbody>
		</table>
	</div>
</div>
<!-- Modal -->

<div id="FilesListModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true" style="width:960px;margin-left:-480px;">
  <div class="modal-header" >
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 style="text-align:center" id="FilesListLabel"></h4>
  </div>
  <div id="FilesListBody" class="modal-body">
	  <div class="row-fluid">
	  	<div class="span4" style="overflow:auto;height:400px;">
				<ul class="nav nav-pills nav-stacked close-clear" id="ItemsTab">
				</ul>
	  	</div>
	  	<div class="span8" style="overflow:auto;height:400px;">
	  		<div id="ItemFilesPanel"class="tab-content close-clear">

	  		</div>
	  	</div>
	  </div>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">ok</button>
  </div>
</div>


<div id="FormsSelectModal" class="btn-group modal hide fade" abindex="-1" role="dialog" aria-hidden="true" style="width:400px;margin-left:-200px;">
	<div id="" class="modal-body">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h4 id="FormsSopName"></h4>表單選單
	    <select id="forms_select" style="margin:0px">
	    	<option value="-1">---選擇或創建表單---</option>
	    	<option value="0">---創建新表單---</option>
	    </select>
	 </div>
</div>

<div id="ItemNameModal" class="btn-group modal hide fade" abindex="-1" role="dialog" aria-hidden="true" style="width:400px;margin-left:-200px;">
	<div id="" class="modal-body">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <input id="FormNameInput" type="text"></input>
	 </div>
</div>
{% endblock %}


