{% extends "sop/zh-tw/web/base.html" %}
{% block js%}
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script type="text/javascript" src="/media/fishuser/v2/js/jquery.tmpl.min.js{{ settings.SV_ }}"></script>
	<script type="text/javascript" src="/media/sop/plupload/jquery.plupload.queue/jquery.plupload.queue.js{{ settings.SV_ }}"></script>
	<script type="text/javascript" src="/media/sop/admin/js/new.js{{ settings.SV_ }}"></script>
	<script type="text/javascript" src="/media/sop/plupload/js/plupload.full.js{{ settings.SV_ }}"></script>
{% endblock%}

{% block css%}
    <style>
        fieldset{
        	margin-bottom: 20px;
        }

    </style>
{% endblock %}
{% block content%}
<div>
</div>
<div class="row-fluid">
	<div class="span8">
	<h3 style="margin-bottom:0px;text-align:center">新SOP建置</h3>
		
			<fieldset style="padding-bottom:15px;margin:0px;">
				<legend>標準作業程序名稱</legend>
				<div class="row-fluid">
					<div class="span10 input-append">
						<input type="text" id="new_sop_title_input"><span><button id="cr_sop_btn" class="btn btn">確認創立SOP</button></span>				
					</div>
				</div>
			</fieldset>
			<div class="alert" id="title_help_block">請輸入新的標準作業程序名稱</div>
			<div class="hide step-2" >
			<fieldset class="" style="padding-bottom:15px;">
				<legend>上傳作業流程圖</legend>
				<div  class="row-fluid">
					<div class="file-up span6">
						<h4>上傳png檔:</h4>
						<div class="file-name"><strong>檔名:</strong><span>尚未選擇檔案</span></div>
						<div><button uploader file_type="0" class="btn btn-small" id="new_png_select">選擇檔案</button></div>
					</div>
					<div class="file-up span6">
						<h4>上傳vsd檔:</h4>
						<div class="file-name"><strong>檔名:</strong><span>尚未選擇檔案</span></div>
						<div><button uploader file_type="3" class="btn btn-small" id="new_vsd_select">選擇檔案</button></div>
					</div>
				</div>
			</fieldset>

			<fieldset class="" style="padding-bottom:15px;">
				<legend>上傳標準作業書</legend>
				<div  class="row-fluid">
					
					<div class="file-up span10">
					<h4>上傳doc,docx檔:</h4>
						<div class="file-name"><strong>檔名:</strong><span>尚未選擇檔案</span></div>
						<div><button uploader file_type="1" class="btn btn-small" id="new_stb_select">選擇檔案</button></div>
					</div>
				</div>
			</fieldset>

			<fieldset  class="" style="min-height:150px;margin:0px;padding-bottom:15px;">
				<legend>表單</legend>
				<div class="row-fluid">	
					<div class="span12">
					<h4>新加入表單</h4>
						<div>檔案列表</div>
						<div id="form-files-name"></div>
						<div><button class="btn btn-small" id="new_form_select">選擇檔案</button>
							<button class="btn btn-small" id="new_form_submit">上傳</button>
						</div>
					</div>
				</div>
				<div class="alert" id="title_help_block">可同時選擇多筆</div>
			</fieldset>
			<div class="row-fluid">	
				<a href="/sop/admin/"><button class="btn span6">完成</button></a>
				<a href="/sop/admin/create/"><button class="btn span6">繼續新增</button></a>
			</div>
		</div>
	</div>
	<div class="span4">
	<h3 style="margin-bottom:0px;text-align:center">已創之SOP</h3>
		<div id="aready_sop">
			{% for i in sops %}
				<p>{{i.title}}</p>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}
