{% extends 'fishuser/index.html' %}
{% load utiltags %}

{% block menu %}
    <ul id="menu" value ="/u/account/"></ul>
{% endblock %}


{% block content %}
<br><br><br>
<span style="font-size: 18px">
    <form action="./" method="POST">
        <table align="center">
            <tr>
            {% for field in form %}
                <th>{{ field.label_tag }}</th>
            {% endfor %}
            </tr>
            <tr>
            {% for field in form %}
                <td>{{ field }}</td>
            {% endfor %}
            </tr>
        </table>
        <input type="submit" name="submit" value="開始搜尋" onClick="loading(this)">
        <br><br><a href="/u/account/creatuser/">創新帳號</a>　　　
        <a href="/u/account/email_account_list/">叮催系統帳號管理</a><br><br>
    </form>
    {% pyif users_num == 0 %}
        無資料，請重設搜尋條件
    {% endif %}
    {% pyif users_num > 0 %}
        <div align="right" style="margin-right: 200px">共 {{ users_num }} 個結果</div>
        {% ifnotequal page_list.all_pages 1 %}
            {% if page_list.previous_page %}
                <a href="./?{{ querystring }}&page={{ page_list.previous_page }}">上一頁</a>
            {% endif %}
            {% for page in page_list.page_list %}
                {% ifequal page page_list.now_page %}
                    <span class="page-number active">{{ page }}</span>
                {% else %}
                    <a href="./?{{ querystring }}&page={{ page }}">{{ page }}</a>
                {% endifequal %}
            {% endfor %}
            {% if page_list.next_page %}
                <a href="./?{{ querystring }}&page={{ page_list.next_page }}">下一頁</a>
            {% endif %}
        {% endifnotequal %}

        <table border="1" style="border-collapse: collapse">
            <thead bgcolor='#BBFFDD'>
                <td>{% if user.is_staff %}轉換{% endif %}</td>
                <th>帳號</th>
                <th>姓名</th>
                <th>狀態</th>
                <th>最後豋入</th>
                <th>登入次數</th>
                <th>單位</th>
                <th>職稱</th>
                <th>群組</th>
            </thead>
            <tbody>
                {% for u in users %}
                    <tr class="{% cycle "odd" "even" %}">
                        <td>{% if user.is_staff %}<input class="updateStuffToUser" username="{{ u.user.username }}" user_fullname="{{ u.rName }}" type="button" value="轉換帳戶">{% endif %}</td>
                        <td><a href="/u/account/edituser/{{ u.user.id }}/">{{ u.user.username }}</a></td>
                        <td>{% if u.rName %}{{ u.rName }}{% endif %}</td>
                        <td bgcolor="{% if u.user.is_active %}#99FF99{% else %}#FF9999{% endif %}">
                            {% if u.user.is_active %}啟用{% else %}關閉{% endif %}
                        </td>
                        <td>{% if u.user.last_login %}{{ u.user.last_login }}{% endif %}</td>
                        <td>{% if u.login %}{{ u.login }}{% endif %}</td>
                        <td>{% if u.unit %}{{ u.unit.name }}{% endif %}</td>
                        <td>{% if u.title %}{{ u.title }}{% endif %}</td>
                        <td>{% if u.group %}{{ u.group.name }}{% endif %}</td>
                    </tr>
                {% endfor %}
            <tbody>
        </table>
        {% ifnotequal page_list.all_pages 1 %}
            {% if page_list.previous_page %}
                <a href="./?{{ querystring }}&page={{ page_list.previous_page }}">上一頁</a>
            {% endif %}
            {% for page in page_list.page_list %}
                {% ifequal page page_list.now_page %}
                    <span class="page-number active">{{ page }}</span>
                {% else %}
                    <a href="./?{{ querystring }}&page={{ page }}">{{ page }}</a>
                {% endifequal %}
            {% endfor %}
            {% if page_list.next_page %}
                <a href="./?{{ querystring }}&page={{ page_list.next_page }}">下一頁</a>
            {% endif %}
        {% endifnotequal %}
        <div align="right" style="margin-right: 200px">共 {{ users_num }} 個結果</div>
    {% endif %}
    </div>
</span>
{% endblock %}