{% extends 'fishuser/index.html' %}
{% block menu %}
    <ul id="menu" value ="/u/eps/"></ul>
{% endblock %}
{% block content %}
<span style="font-size: 18px">
    <br><br><br>
    <table>
        <tr>
            <td>
                <ul><h1>請設定您的新密碼</h1>
                <span class="notice">
                    <li>1.密碼格式須同時混合英文字母及數字。</li>
                    <li>2.不可含有標點符號及全形字。</li>
                    <li>3.總字數須在 8 個以上。</li>
                </span>
                </ul>
            </td>
        </tr>
    </table>
<br><br>
        <form method="POST">
            新密碼　　　　　: <input id="id_password" type="password" name="password" maxlength="32" />
            <br>
            再一次輸入新密碼: <input id="id_password1" type="password" name="password1" maxlength="32" />
            <br><br><br>
            <input id="editPassword" type="submit" value="重設密碼" /> 
            <a href="/u/vp/">取消-回基本資料</a>
            <span class="notice" id="message">{{ message }}</span>
        </form>
</span>
    <br><br><br>
{% endblock %}
