{% extends 'fishuser/index.html' %}
{% block menu %}
    <ul id="menu" value ="/u/ep/"></ul>
{% endblock %}
{% block content %}
<br><br><br>
<ul><h1>編輯個人基本資料</h1></ul><br><br>
    <span style="font-size: 18px">
    <form method="POST">
	    <table border="0">
		  <tr>
		    <td class="sign">姓　：</td>
		    <td><input id="id_last_name" type="text" name="last_name" maxlength="32" 
		    	value="{% if user.last_name %}{{ user.last_name }}{% endif %}"/></td>
		  </tr>
		  <tr>
		    <td class="sign">名　：</td>
		    <td><input id="id_first_name" type="text" name="first_name" maxlength="32" 
		    	value="{% if user.first_name %}{{ user.first_name }}{% endif %}"/></td>
		  </tr>
		  <tr>
		    <td class="sign">E-mail：</td>
		    <td><input id="id_email" type="text" name="email" maxlength="75"
		    	value="{% if user.email %}{{ user.email }}{% endif %}"/></td>
		  </tr>
		  <tr>
		    <td class="sign">職　稱：</td>
		    <td><input id="id_title" type="text" name="title" maxlength="32" 
		    	value="{% if user.user_profile.title %}{{ user.user_profile.title }}{% endif %}"/></td>
		  </tr>
		  <tr>
		    <td class="sign">電　話：</td>
		    <td><input id="id_phone" type="text" name="phone" maxlength="32" 
		    	value="{% if user.user_profile.phone %}{{ user.user_profile.phone }}{% endif %}"/></td>
		  </tr>
		  <tr>
		    <td class="sign">傳　真：</td>
		    <td><input id="id_fax" type="text" name="fax" maxlength="32" 
		    	value="{% if user.user_profile.fax %}{{ user.user_profile.fax }}{% endif %}"/></td>
		  </tr>
		</table>
        <br><br>
		<input id="editProfile" type="submit" value="確定修改" />
        <a href="/u/vp/">取消-回基本資料</a>
        <span class="notice" id="message">{{ message }}</span>
	</form>
    </span>
<br><br><br>
{% endblock %}
