<ul>
    <li>收件人：
        {% for u in mail_lists %}
            {{ u.last_name }}先生,
        {% endfor %}
    </li>
    <li>
        主旨： ({{ place.name }})漁業工程管理系統(FES)即時預警通知資訊
    </li>
</ul>
<table border="1" style="border-collapse: collapse">
    <tr>
        <td colspan="2" bgcolor="#EEEFA1">
            進度追蹤系統類別
        </td>
    </tr>
    <tr>
        <td width="100" bgcolor="#A1EEEF">
            追蹤資訊
        </td>
        <td width="750">
            此為第 {{ countychasetime.time }} 次追蹤紀錄<br>
            開始時間：{{ countychasetime.chase_date }}(已進行{{ countychasetime.pastDay }}天)<br>
        </td>
    </tr>
    <tr>
        <td bgcolor="#A1EEEF">
            已被追蹤工程，負責人尚未匯入遠端管理系統
        </td>
        <td>
            <br>
            {% for p in not_in_frcm %}
                {{ forloop.counter }}. ({{ p.project.year }}年度){{ p.project.name }}<br>
            {% endfor %}
            <br>
        </td>
    </tr>
    <tr>
        <td bgcolor="#A1EEEF">
            已被追蹤工程，負責人已匯入遠端系統，但尚未完成進度資訊填寫
        </td>
        <td>
            <br>
            {% for p in not_checks %}
                {{ forloop.counter }}. ({{ p.project.year }}年度){{ p.project.name }}(負責人：{{ p.project.frcmuser.user_profile.rName }})<br>
            {% endfor %}
            <br>
        </td>
    </tr>
    <tr>
        <td bgcolor="#A1EEEF">
            已被追蹤工程，負責人已完成進度資訊填寫，但進度落後
        </td>
        <td>
            <br>
            {% for p in checks %}
                {{ forloop.counter }}. ({{ p.project.year }}年度){{ p.project.name }}(負責人：{{ p.project.frcmuser.user_profile.rName }})(預定：{{ p.schedul_progress_percent }}%, 實際：{{ p.actual_progress_percent }}%)<br>
            {% endfor %}
            <br>
        </td>
    </tr>
    <tr>
        <td bgcolor="#A1EEEF">
            已被追蹤工程，負責人已匯入遠端系統，但營造廠商尚未進行認領
        </td>
        <td>
            <br>
            {% for p in no_contractors %}
                {{ forloop.counter }}. ({{ p.project.year }}年度){{ p.project.name }}(負責人：{{ p.project.frcmuser.user_profile.rName }})<br>
            {% endfor %}
            <br>
        </td>
    </tr>
    <tr>
        <td bgcolor="#A1EEEF">
            已被追蹤工程，負責人已匯入遠端系統，但監造廠商尚未進行認領
        </td>
        <td>
            <br>
            {% for p in no_inspectors %}
                {{ forloop.counter }}. ({{ p.project.year }}年度){{ p.project.name }}(負責人：{{ p.project.frcmuser.user_profile.rName }})<br>
            {% endfor %}
            <br>
        </td>
    </tr>
</table>
