{% load utiltags %}
{% load humanize %}
<tr id="tr_EmailList_{{ u.id }}" height="35">
    <td>{{ forloop.counter }}</td>
    
    <td><img src="/media/images/delete.png" class="deleteEmailListUser" 
        row_id="{{ u.id }}" user_name="{{ u.name }}" title="刪除"></td>
    
    <td><a href="/u/make_email_info/?place_id={{ u.place.id }}" target="_blank">GO!</a></td>

    <td><input type="checkbox" name="need_email" row_id="{{ u.id }}"
    	{% if u.need_email %}checked="checked"{% endif %} class="checkBoxNeedEmail"
    	value=""></td>
    
    <td class="ClickShowInfo" field_name="place" row_id="{{ u.id }}">
    	<a id="show_part_place_{{ u.id }}">{{ u.place.name|default_if_none:"" }}</a>
    	<select id="edit_part_place_{{ u.id }}" name="place"
    	class="BlurUpdateInfo" style="display: none;"
    	table_name="EmailList" row_id="{{ u.id }}" old_value="{{ u.name|default_if_none:"" }}">
    		{% if not u.place %}
				<option value="" selected="selected">請選擇縣市</option>
			{% endif %}
			{% for p in places %}
				<option {% ifequal p.id u.place.id %}selected="selected"{% endifequal %} value="{{ p.id }}">{{ p.name }}</option>
			{% endfor %}
		</select>
    </td>
    
    <td class="ClickShowInfo" field_name="name" row_id="{{ u.id }}">
    	<a id="show_part_name_{{ u.id }}">{{ u.name|default_if_none:"" }}</a>
    	<input id="edit_part_name_{{ u.id }}" type="text" class="BlurUpdateInfo" style="display: none;"
    	table_name="EmailList" row_id="{{ u.id }}" old_value="{{ u.name|default_if_none:"" }}"
    	name="name" value="{{ u.name|default_if_none:"" }}"/>
    </td>
    
    <td class="ClickShowInfo" field_name="departments" row_id="{{ u.id }}">
    	<a id="show_part_departments_{{ u.id }}">{{ u.departments|default_if_none:"" }}</a>
    	<input id="edit_part_departments_{{ u.id }}" type="text" class="BlurUpdateInfo" style="display: none;"
    	table_name="EmailList" row_id="{{ u.id }}" old_value="{{ u.departments|default_if_none:"" }}"
    	name="departments" value="{{ u.departments|default_if_none:"" }}"/>
    </td>

    <td class="ClickShowInfo" field_name="title" row_id="{{ u.id }}">
    	<a id="show_part_title_{{ u.id }}">{{ u.title|default_if_none:"" }}</a>
    	<input id="edit_part_title_{{ u.id }}" type="text" class="BlurUpdateInfo" style="display: none;"
    	table_name="EmailList" row_id="{{ u.id }}" old_value="{{ u.title|default_if_none:"" }}"
    	name="title" value="{{ u.title|default_if_none:"" }}"/>
    </td>

    <td class="ClickShowInfo" field_name="tel" row_id="{{ u.id }}">
    	<a id="show_part_tel_{{ u.id }}">{{ u.tel|default_if_none:"" }}</a>
    	<input id="edit_part_tel_{{ u.id }}" type="text" class="BlurUpdateInfo" style="display: none;"
    	table_name="EmailList" row_id="{{ u.id }}" old_value="{{ u.tel|default_if_none:"" }}"
    	name="tel" value="{{ u.tel|default_if_none:"" }}"/>
    </td>

    <td class="ClickShowInfo" field_name="phone" row_id="{{ u.id }}">
    	<a id="show_part_phone_{{ u.id }}">{{ u.phone|default_if_none:"" }}</a>
    	<input id="edit_part_phone_{{ u.id }}" type="text" class="BlurUpdateInfo" style="display: none;"
    	table_name="EmailList" row_id="{{ u.id }}" old_value="{{ u.phone|default_if_none:"" }}"
    	name="phone" value="{{ u.phone|default_if_none:"" }}"/>
    </td>

    <td class="ClickShowInfo" field_name="fax" row_id="{{ u.id }}">
    	<a id="show_part_fax_{{ u.id }}">{{ u.fax|default_if_none:"" }}</a>
    	<input id="edit_part_fax_{{ u.id }}" type="text" class="BlurUpdateInfo" style="display: none;"
    	table_name="EmailList" row_id="{{ u.id }}" old_value="{{ u.fax|default_if_none:"" }}"
    	name="fax" value="{{ u.fax|default_if_none:"" }}"/>
    </td>

    <td class="ClickShowInfo" field_name="email" row_id="{{ u.id }}">
    	<a id="show_part_email_{{ u.id }}">{{ u.email|default_if_none:"" }}</a>
    	<input id="edit_part_email_{{ u.id }}" type="text" class="BlurUpdateInfo" style="display: none;"
    	table_name="EmailList" row_id="{{ u.id }}" old_value="{{ u.email|default_if_none:"" }}" size="50"
    	name="email" value="{{ u.email|default_if_none:"" }}"/>
    </td>

    <td class="ClickShowInfo" field_name="memo" row_id="{{ u.id }}">
    	<a id="show_part_memo_{{ u.id }}">{{ u.memo|default_if_none:"" }}</a>
    	<textarea id="edit_part_memo_{{ u.id }}" class="BlurUpdateInfo" style="display: none;"
    	table_name="memoList" row_id="{{ u.id }}" old_value="{{ u.memo|default_if_none:"" }}"
    	name="memo" cols="20" rows="2">{{ u.memo|default_if_none:"" }}</textarea>
    </td>

</tr>