{% extends 'fishuser/index.html' %}
{% load utiltags %}

{% block menu %}
    <ul id="menu" value ="/u/account/"></ul>
{% endblock %}


{% block content %}
<br><br>
<h1>各縣市政府連絡窗口名單列表</h1>
<br><br>
<table border="1" style="border-collapse: collapse">
    <thead bgcolor='#BBFFDD'>
        <td>序號</td>
        <td>刪除</td>
        <td>觀看<br>信件<br>內容</td>
        <td>是否<br>寄信</td>
        <th width="50">縣市</th>
        <th width="50">姓名</th>
        <th width="120">科別</th>
        <th width="40">職稱</th>
        <th width="100">電話</th>
        <th width="100">手機</th>
        <th width="100">傳真</th>
        <th width="250">Email</th>
        <th width="100">備註</th>
    </thead>
    <tbody>
        {% for u in users %}
            {% include 'fishuser/email_account_tr.html' %}
        {% endfor %}
        <tr style="display: none;" id="insertEmailListUserPlace"><td></td></tr>
    <tbody>
</table>
<br>
<br>
<input id="addEmailListUser" type="submit" value="新增聯絡人" />

{% endblock %}