{% load utiltags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>登入系統</title>
    <script type="text/javascript" src="/media/jquery.ui-1.5.1/jquery-1.2.6.js"></script>
    <script type="text/javascript" src="/media/jquery-plugins/jquery.include.js"></script>
    <script type="text/javascript" src="/media/jquery-plugins/plugins.js"></script>
    <script type="text/javascript" src="/media/jquery-plugins/highlightFade.js"></script>
    <script type="text/javascript" src="/media/jquery-plugins/tree/js/jquery.simple.tree.js"></script>
    <link type="text/css" rel="stylesheet" href="/media/jquery-plugins/tree/tree.css"/>
    <script type="text/javascript" src="/media/jquery-plugins/splitter.js"></script>
    <link type="text/css" rel="stylesheet" href="/media/jquery-plugins/splitter.css"/>
    <script type="text/javascript" src="/media/jquery-plugins/ajaxfileupload/ajaxfileupload.js"></script>
    <script type="text/javascript" src="/media/jquery.ui-1.5.1/ui/ui.core.js"></script>
    <script type="text/javascript" src="/media/jquery.ui-1.5.1/ui/ui.datepicker.js"></script>
    <script type="text/javascript" src="/media/jquery.ui-1.5.1/ui/i18n/ui.datepicker-zh-TW.js"></script>
    <script type="text/javascript" src="/media/jquery.ui-1.5.1/ui/ui.dialog.js"></script>
    <script type="text/javascript" src="/media/jquery.ui-1.5.1/ui/ui.draggable.js"></script>
    <script type="text/javascript" src="/media/jquery.ui-1.5.1/ui/ui.resizable.js"></script>
    <script type="text/javascript" src="/media/jquery.ui-1.5.1/ui/ui.tabs.js"></script>
    <script type="text/javascript" src="/media/jquery.ui-1.5.1/ui/ui.accordion.js"></script>
    <link rel="stylesheet" type="text/css" href="/media/jquery.ui-1.5.1/themes/flora/flora.all.css" />
    <link rel="stylesheet" href="/media/fishuser/loginimages/style.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/media/js/default.js"></script>
    <script type="text/javascript" src="/media/fishuser/js/lib.js?v={% now 'His' %}"></script>
    <link rel="shortcut icon" href="image/favicon.ico" />
<style type="text/css">
</style>
</head>

<body>
<div id="container">
<!-- header -->
<div id="header">
    <h1><img src="/media/cim/images/fa.png" width="100"><br />漁業工程管理系統<br />
<span style="font-size:20px;">Fishery Engineering System</span></h1>
    <form method="POST">
        <table style="margin-left:60px;">
            <!--<tr>
                <td colspan="3" style="color: red; font-weight: bold; text-decoration: blink">
		FAPMS 預計 10/22 00:00 ~ 10/24 08:00 進行重大更新。屆時停止服務，請提早因應。
                </td>
            </tr>-->
            <tr>
                <td>
                    使用者帳號：
                </td>
                <td>
                    <input id="id_username" type="text" name="username" maxlength="36" />
                </td>
                <td rowspan="2">
                    <input class="style" id="login" type="submit" value="登入系統" style="width:100px;height:50px;"/>
                </td>
            </tr>
            <tr>
                <td>
                    密　　　碼：
                </td>
                <td colspan="2">
                    <input id="id_password" type="password" name="password" maxlength="36" />
                </td>
            </tr>
            <tr>
                <td>輸入驗證st碼：</td>
                <td>
                    <img border="3" bordercolor="white" id="id_verify_image" height="20" src="" alt="下載中"/><input style="display: none;" id="id_verifycode_id" name="verifycode_id" value="" />
                    <input id="id_verify" type="text" name="verify" size="6" maxlength="36" />
                </td>
                <td>
                    <input id="id_askNewNumber" type="submit" value="更換數字圖檔" />
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <span class="notice" id="message">{{ message }}</span>
                </td>
            </tr>
        </table>
    </form>

</div>
<div style="display: none;" id='next'>{{ next }}</div>
<!-- main menu -->
<div id="mainmenu">
  <ul>
    <li class="here"><a href="/u/account_list/" title="(漁業署、縣市政府、漁會人員)請洽詢相關帳號管理者">各縣市政府帳號管理員</a> </li>
    <li class="here"><a href="/u/reguser/" title="監造、營造廠商專用">廠商註冊帳號</a> </li>
    <li class="here"><a href="/help/" target="_blank" title="系統中的圖文教學頁面">系統線上教學手冊</a> </li>
    <!--<li class="here"><a href="http://weblive.nchu-cm.com/2/" target="_blank" title="港區監控系統(署外適用)">港區監控系統(署外)</a> </li>
    <li class="here"><a href="http://live.nchu-cm.com/1/" target="_blank" title="港區監控系統(署內適用)">港區監控系統(署內)</a> </li>-->
  </ul>
  </div>

<div id="footer">
        <p>Copyright &copy; <a href="http://www.fa.gov.tw/chnn/" target="_blank">(行政院農業部漁業署)</a>
        <br>2009 | Designed by <a href="http://www.tfm.org.tw/" target="_blank">財團法人臺灣漁業及海洋技術顧問社</a></p>
        <br>客服專線：漁業署(02-3343-6289)
</div>

</div>
{% get_or_post_div %}
{% insert_google_analytics %}

</body>
</html>
