{% extends 'fishuser/index.html' %}
{% block menu %}
    <ul id="menu" value ="/u/vp/"></ul>
{% endblock %}
{% block content %}

    <h1 style="margin-top: 20px; margin-bottom: 20px; clear: both">預警系統訊息</h1>
    <link rel="stylesheet" type="text/css" href="/media/alertcheck/alertcheck.css" />
    <script type="text/javascript" src="/media/alertcheck/alertcheck.js"></script>
    <table id="alertcheck_message" class="scroll" cellpadding="0" cellspacing="0"
        url="/alertcheck/embed/" submit="rOldMessages">
        <thead>
            <tr>
                <th width="100px">紀錄時間</th>
                <th width="50px">訊息<br/>類型</th>
                <th width="100px">紀錄對象</th>
                <th width="600px">內容</th>
                <th width="50px">附註</th>
            </tr>
        </thead>
        <tbody>
            <tr class="zero_data">
                <td>目前無資料</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <br/>
    <table border="0">
        <tr>
            <td>
                <table>
                    <tr>
                        <td bgcolor="#FFCECD">
                            <input id="CencelLoginEmail" type="submit" value="{% if email %}取消{% else %}啟用{% endif %}"/>登入Email安全性通知
                        </td>
                    </tr>
                    <tr><td> 　</td></tr>
                {% if logins %}
                    <tr><td>最近 15 次登入紀錄</td></tr>
                    {% for login in logins %}
                    <tr><td>　　{{ login.datetime }} ( {{ login.ip }} )</td></tr>
                    {% endfor %}
                {% endif %}
                
                </table>
            </td>
            <td>
                <h2>
                <table align="center" border="0" style="margin-left:30px">
                    <tr>
                        <td colspan="2">
                            <h1>
                                {{ user.user_profile.rName }} 個人資訊
                            </h1>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a href="/u/ep/"><img src="/media/fishuser/image/ep.png"></a>
                            <a href="/u/eps/"><img src="/media/fishuser/image/eps.png"></a>
                        </td>
                    </tr>
                    {% if user.is_staff %}
                    <tr>
                        <td colspan="2">
                            <input id="updateStuffToUser" type="text" value="">
                            <input class="updateStuffToUser" type="button" value="轉換帳戶">
                        </td>
                    </tr>
                    {% endif %}
                    <tr><td align="right">帳　　號：</td><td>{{ user.username }}</td></tr>
                    <tr><td align="right">登入時間：</td><td>{{ user.last_login }}(本次登入)</td></tr>
                    <tr><td align="right">登入次數：</td><td>{% if user.user_profile.login %}{{ user.user_profile.login }}{% endif %}</td></tr>
                    <tr><td align="right">職　　稱：</td><td>{% if user.user_profile.title %}{{ user.user_profile.title }}{% endif %}</td></tr>
                    <tr><td align="right">連絡電話：</td><td>{% if user.user_profile.phone %}{{ user.user_profile.phone }}{% endif %}</td></tr>
                    <tr><td align="right">傳　　真：</td><td>{% if user.user_profile.fax %}{{ user.user_profile.fax }}{% endif %}</td></tr>
                    <tr><td align="right">E - m a i l：</td><td>{% if user.email %}{{ user.email }}{% endif %}</td></tr>
                    <tr><td><font style="background: #EEEEBB">{{ message }}</div></td></tr>
                 </table>
                 </h2>
            </td>
        </tr>
    </table>
    
    <br><br><br>

{% endblock %}
