{% extends 'fishuser/index.html' %}

{% block style %}
    .style1 {color: #0066FF}
{% endblock %}
{% block bar %}
{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}

<span style="font-size: 28px;">
    <a href="/">回登入頁面</a>
</span>
<br><br><br>
<span style="font-size: 16px;">
    <table border="1" style="border-collapse: collapse">
        <thead bgcolor='#BBFFDD'>
            <th>單位</th>
            <th width="100">帳號</th>
            <th>姓名</th>
            <th>最後豋入</th>
            <th>職稱</th>
            <th>群組</th>
        </thead>
        <tbody>
            {% for u in users %}
            <tr align="center" height="28" class="{% cycle "odd" "even" %}">
                <td align="left">{{ u.user_profile.unit.name|default_if_none:'' }}</td>
                <td>{{ u.username }}</td>
                <td>{{ u.user_profile.rName|default_if_none:'' }}</td>
                <td>{{ u.last_login|default_if_none:'' }}</td>
                <td>{{ u.user_profile.title|default_if_none:'' }}</td>
                <td>{{ u.user_profile.group.name|default_if_none:'' }}</td>
                </tr>
            {% endfor %}
        <tbody>
    </table>
</span>

{% endblock %}
