{% extends 'fishuser/zh-tw/old/index.html' %}
{% block menu %}
    <ul id="menu" value ="/fishuser/auditing_statistics/"></ul>
{% endblock %}
{% block content %}
<br><br><br>

<iframe id="auditing_statistics_frame" src="" style="min-height: 740px; min-width: 1080px;" >
</iframe>

<script type="text/javascript">
    var href_name = window.location.href.split('#')[1];
    if (href_name) {
        $('#auditing_statistics_frame').attr('src', '/cimcore/auditing_statistics/#'+href_name);
    } else {
        $('#auditing_statistics_frame').attr('src', '/cimcore/auditing_statistics/#search_button');
    }
</script>

<br><br>
{% endblock %}
