{% extends 'fishuser/index.html' %}
{% block menu %}
    <ul id="menu" value ="/history_engineering/"></ul>
{% endblock %}
{% block content %}
<br><br><br>


<iframe id="history_engineering_frame" src="" style="min-height: 740px; min-width: 1080px;" >
</iframe>

<script type="text/javascript">
    var href_name = window.location.href.split('#')[1];
    if (href_name) {
        $('#history_engineering_frame').attr('src', 'http://fes-history.nchu-cm.com/history_engineering/#'+href_name);
    } else {
        $('#history_engineering_frame').attr('src', 'http://fes-history.nchu-cm.com/history_engineering/#search_button');
    }
</script>

<br><br>
{% endblock %}
