{% extends "fishuser/zh-tw/base.html" %}
{% load i18n %}
{% load humanize %}
{% load utiltags %}

{% block body %}
    <h2>認領工程案</h2>
    <br>        
    <span style="font-size: 18px">
        <br>    
        <br>    
        請向您工程的『主辦工程師』或 『其他已認領帳號』索取工程認領碼
        <br>    
        輸入完畢後，按下『開始認領』按鈕，即可完成認領
        <br>    
        <br>    
        <table class="table table-bordered" style="text-align: center;">
            <tr class="success">
                <td width="50%">
                    公司統一編號
                </td>
                <td width="50%">
                    工程認領碼
                    <br>(大小寫不拘)
                </td>
            </tr>
            <tr>
                <td>
                    <input class="form-control" style="font-size: 40px;height: 80px !important;text-align: center;" id="unit_no" type="text" name="unit_no" maxlength="8" vaiue=""/>
                </td>
                <td>
                    <input class="form-control" style="font-size: 40px;height: 80px !important;text-align: center;" id="code" type="text" name="code" size="8" maxlength="6" value=""/>
                    <input id="user_id" value="{{ user.id }}" type="hidden">
                    <input id="i_group_id" value="{{ i_group.id }}" type="hidden">   
                    <input id="c_group_id" value="{{ c_group.id }}" type="hidden">
                    <input id="today" value="{{ today|date:'Y-m-d' }}" type="hidden">  
                </td>
            </tr>
        </table>
        <br>    
        <button class="btn btn-primary btn-lg" id="claim_project">開始認領</button>    
    </span>  
    <br><br>

<script type="text/javascript">
    function claim_project(){
        var $obj = $(this);
        var unit_no = $.checkCompanyNoFormat('unit_no');
        if (!unit_no){
            return false;
        }
        var code = $('#code').val();
        var i_group_id = $('#i_group_id').val();
        var c_group_id = $('#c_group_id').val();
        var user_id = $('#user_id').val();
        var english_check = /^[a-zA-Z]+$/;
        var today = $('#today').val();
        var string = 'code=' + code;
        string += '&user_id=' + user_id;
        if (english_check.test(code)){
            var group = i_group_id;
        } else {
            var group = c_group_id;
        }
        if (!code){
            alert('請輸入認領碼');
            return false;
        }
        $.ajax({
            url: '/fishuser/api/v2/project/code_search/?' + string,
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                if (data.objects.length == 1){
                    var project_name = data.objects[0]['name'];
                    var project_id = data.objects[0]['id'];
                    if (confirm('您確定要認領"' + project_name + '"此工程嗎?')){
                        var data = {
                            csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
                            user: '/fishuser/api/v2/user/' + user_id + '/',
                            unit_no: unit_no,
                            project: '/fishuser/api/v2/project/' + project_id + '/',
                            group: '/fishuser/api/v2/group/' + group + '/',
                            is_active: true,
                            date: today,
                        }
                        $.ajax({
                            url: '/fishuser/api/v2/frcmusergroup/',
                            type: 'POST',
                            data: JSON.stringify(data),
                            contentType: 'application/json',
                            dataType: 'json',
                            success: function (json, text, xhr) {
                                $obj.hide();
                                alert('認領成功，已可在"我的工程"頁面中進行檢視');
                                window.location = '/frcm/project_profile/' + project_id + '/';
                            },
                            error: function () {}
                        })
                    }
                } else {
                    alert('"查無此工程認領碼"或"重複認領"，請檢查輸入編碼是否正確!!');
                    return false;
                }
            },
            error: REST_ERROR
        })
    }


    $(document).ready(function(){

        $('#claim_project').click(claim_project);
    });

</script>
{% endblock%}