{% extends "fishuser/zh-tw/base.html" %}
{% load i18n %}
{% load humanize %}
{% load utiltags %}

{% block body %}

    {% block content %}
        <h2>
            {% if units.name %}{{ units.name }}{% else %}縣市政府{% endif %}-提案區
            <button class="btn btn-success" id="create_button" onclick="$('#draft_project_table').hide();$('#create_button').hide();$('#create_table').show();">
                <span class="glyphicon glyphicon-hand-up"></span>
                新增提報工程
            </button>
        </h2>
        <table id="draft_project_table" class="table table-bordered" style="font-size: 14px; text-align: center;">
            <tr class="success">
                <th style="text-align: center;" width="4%">刪除</th>
                <th style="text-align: center;" width="6%">年度</th>
                <th style="text-align: center;" width="10%">優先<br>順序</th>
                <th style="text-align: center;" width="10%">縣市</th>
                <th style="text-align: center;" width="34%">工程名稱</th>
                <th style="text-align: center;" width="18%">主管機關</th>
                <th style="text-align: center;" width="18%">初審結果</th>
            </tr>
            {% for p in draft_projects %}
                <tr id="tr_project_{{ p.place.id }}_{{ p.sort }}" project_id="{{ p.id }}">
                    <td>
                        <button class="deleteRow btn btn-danger btn-sm" title="點我刪除"
                            id="delete_btn_{{ p.id }}"
                            row_id="{{ p.id }}"
                            row_name="{{ p.name }}"
                            module_name = "fishuser"
                            table_name = "draft_project"
                            next_url = "{% url 'frcm.views.draft_project' %}"
                            remove_target = "tr_project_{{ p.place.id }}_{{ p.sort }}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                    <td>{{ p.year }}</td>
                    <td>
                        <span id="sort_num_{{ p.id }}" place_id="{{ p.place.id }}" place_dp_num="{{ p.place_dp_num }}">{{ p.sort }}</span>
                        <div class="btn-group-vertical btn-group-xs">
                            <button title="提高優先順序" id="sort_up_btn_{{ p.id }}" type="button" direction="up" class="set_sort_btn btn btn-default" 
                                {% ifequal p.sort 1 %}style="display: none;"{% endifequal %}>
                                <span class="glyphicon glyphicon-chevron-up"></span>
                            </button>
                            <button title="降低優先順序" id="sort_down_btn_{{ p.id }}" type="button" direction="down" class="set_sort_btn btn btn-default" 
                                {% ifequal p.sort p.place_dp_num %}style="display: none;"{% endifequal %}>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </button>
                        </div>
                    </td>
                    <td>{{ p.place }}</td>
                    <td align="left">
                        <a href="/frcm/draft_project_profile/{{ p.id }}/">
                            {{ p.name }}
                        </a>
                    </td>
                    <td align="left">{{ p.unit }}</td>
                    <td align="left" title="主要工作內容：{{ p.info|default_if_none:""|linebreaks }}">
                        {{ p.review_results|default_if_none:"" }}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <table id="create_table" class="table table-bordered" style="font-size: 14px;display: none;">
            <tr>
                <td colspan="4" align="center">
                    <button class="btn btn-lg btn-warning" onclick="$('#draft_project_table').show();$('#create_button').show();$('#create_table').hide();">
                        取消回列表
                    </button>
                </td>
            </tr>
            <tr>
                <td width="22%" class="warning"><span class="glyphicon glyphicon-asterisk text-danger"></span>年度</td>
                <td colspan="3">
                    <select field_name="year" class="form-control draft_field needExist" field_ch_name="年度">
                        {% for y in years %}
                            <option value="{{ y }}" {% ifequal this_year y %}selected{% endifequal %}>{{ y }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td class="warning"><span class="glyphicon glyphicon-asterisk text-danger"></span>工作名稱</td>
                <td colspan="3">
                    <input
                        type="text" class="form-control draft_field needExist"
                        field_name="name"
                        field_ch_name="工作名稱"
                        field_type="str"
                        placeholder="請輸入"
                        value=""/>
                </td>
            </tr>
            <tr>
                <td class="warning">是否為前年度延續工程</td>
                <td colspan="3">
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="input-group">
                                <span class="input-group-addon">工程名稱搜尋</span>
                                <input
                                    id="search_ex_project_name"
                                    type="text" class="form-control"
                                    field_name="search_ex_project_name"
                                    field_type="str"
                                    placeholder="若是，請搜尋前年度工程；若否，則留空"
                                    value=""/>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <button class="btn btn-default" id="search_ex_project">開始搜尋</button>
                        </div>
                    </div>
                    <select class="form-control draft_field" id="ex_project_list" field_name="project">
                        <option value="">搜尋後請選擇前年度工程</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="warning">計畫經費</td>
                <td colspan="3">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <input
                                    type="text" class="form-control draft_field inputcomma"
                                    style="text-align: right;"
                                    field_name="capital_ratify_budget"
                                    field_ch_name="計畫經費"
                                    field_type="int"
                                    placeholder="請輸入"
                                    value=""/>
                                <span class="input-group-addon">元</span>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="warning">經費概算(中央)</td>
                <td colspan="3">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <input
                                    type="text" class="form-control draft_field inputcomma"
                                    style="text-align: right;"
                                    field_name="self_money"
                                    field_ch_name="經費概算(中央)"
                                    field_type="int"
                                    placeholder="請輸入"
                                    value=""/>
                                <span class="input-group-addon">元</span>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="warning">經費概算(地方配合款)</td>
                <td colspan="3">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <input
                                    type="text" class="form-control draft_field inputcomma"
                                    style="text-align: right;"
                                    field_name="local_money"
                                    field_ch_name="經費概算(地方配合款)"
                                    field_type="int"
                                    placeholder="請輸入"
                                    value=""/>
                                <span class="input-group-addon">元</span>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="warning"><span class="glyphicon glyphicon-asterisk text-danger"></span>工程屬性別</td>
                <td colspan="3">
                    <div class="row">
                        <div class="col-lg-6">
                            <select
                                id="project_type"
                                class="form-control draft_field needExist"
                                is_select="true"
                                field_ch_name="工程屬性別"
                                field_name="project_type">
                                <option value="" selected="selected">請選擇</option>
                                {% for type in option.project_type_sort %}
                                    <option value="/fishuser/api/v2/option/{{ type.id }}/">{{ type.value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <select
                                class="form-control draft_field"
                                is_select="true"
                                field_name="project_sub_type">
                                <option value="" selected="selected">請選擇</option>
                                {% for type in option.port_type %}
                                    <option style="display: none;" class="port_type" value="/fishuser/api/v2/option/{{ type.id }}/">{{ type.value }}</option>
                                {% endfor %}
                                {% for type in option.farm_type %}
                                    <option style="display: none;" class="farm_type" value="/fishuser/api/v2/option/{{ type.id }}/">{{ type.value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="warning"><span class="glyphicon glyphicon-asterisk text-danger"></span>縣市</td>
                <td width="28%">
                    <select
                        class="form-control draft_field needExist"
                        is_select="true"
                        field_ch_name="縣市"
                        field_name="place">
                        <option value="" selected="selected">請選擇</option>
                        {% for place in places %}
                            <option value="/fishuser/api/v2/place/{{ place.id }}/">{{ place.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td width="15%" class="warning" rowspan="3">
                    漁港/養殖區 
                    <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#add_fishing_port_dailog">
                        ＋
                    </button>
                </td>
                <td width="35%" rowspan="3" style="vertical-align: top;">
                    <span id="insert_fishing_port"></span>            
                </td>
            </tr>
            <tr>
                <td class="warning"><span class="glyphicon glyphicon-asterisk text-danger"></span>採購類別</td>
                <td>
                    <select
                        class="form-control draft_field needExist"
                        is_select="true"
                        field_ch_name="採購類別"
                        field_name="purchase_type">
                        <option value="" selected="selected">請選擇</option>
                        {% for type in option.purchase_type %}
                            <option value="/fishuser/api/v2/option/{{ type.id }}/">{{ type.value }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td class="warning"><span class="glyphicon glyphicon-asterisk text-danger"></span>承辦方式</td>
                <td>
                    <select
                        class="form-control draft_field needExist"
                        is_select="true"
                        field_ch_name="承辦方式"
                        field_name="undertake_type">
                        <option value="" selected="selected">請選擇</option>
                        {% for type in option.undertake_type %}
                            <option value="/fishuser/api/v2/option/{{ type.id }}/">{{ type.value }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td class="warning"><span class="glyphicon glyphicon-asterisk text-danger"></span>經費種類</td>
                <td>
                    <select
                        class="form-control draft_field needExist"
                        is_select="true"
                        field_ch_name="經費種類"
                        field_name="budget_sub_type">
                        <option value="" selected="selected">請選擇</option>
                        {% for type in option.budget_sub_type %}
                            <option value="/fishuser/api/v2/option/{{ type.id }}/">{{ type.value }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td class="warning"><span class="glyphicon glyphicon-asterisk text-danger"></span>執行機關</td>
                <td>
                    <select
                        class="form-control draft_field needExist"
                        is_select="true"
                        field_ch_name="執行機關"
                        field_name="unit">
                        <option value="" selected="selected">請選擇</option>
                        {% for unit in units %}
                            <option value="/fishuser/api/v2/unit/{{ unit.id }}/">{{ unit.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td class="warning" colspan="4">主要工作內容 (請填主要工作項目之明細及數量，如疏浚土方量、碼頭改善長度、加拋消波塊數量等)</td>
            </tr>
            <tr>
                <td colspan="4">
                    <textarea
                            class="form-control draft_field"
                            field_type="str"
                            type="textarea"
                            field_name="info"
                            placeholder="請輸入"
                            rows="5"></textarea>
                </td>
            </tr>
            <tr>
                <td class="warning" colspan="4">初審結果 (請填優先順序及理由)</td>
            </tr>
            <tr>
                <td colspan="4">
                    <textarea
                            class="form-control draft_field"
                            field_type="str"
                            type="textarea"
                            field_name="review_results"
                            placeholder="請輸入"
                            rows="5"></textarea>
                </td>
            </tr>
            <tr>
                <td class="warning" colspan="4">設計準備情形 (請填報是否已完成設計及是否已報漁業署同意在案)</td>
            </tr>
            <tr>
                <td colspan="4">
                    <textarea
                            class="form-control draft_field"
                            field_type="str"
                            type="textarea"
                            field_name="design"
                            placeholder="請輸入"
                            rows="5"></textarea>
                </td>
            </tr>
            <tr>
                <td class="warning" colspan="2">設籍漁船資料 (最新之設籍各噸級船筏數)</td>
                <td class="warning" colspan="2">實際作業漁船數 (平均每日進出漁船筏資料)</td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea
                            class="form-control draft_field"
                            field_type="str"
                            type="textarea"
                            field_name="fish_boat"
                            placeholder="請輸入"
                            rows="5"></textarea>
                </td>
                <td colspan="2">
                    <textarea
                            class="form-control draft_field"
                            field_type="str"
                            type="textarea"
                            field_name="real_fish_boat"
                            placeholder="請輸入"
                            rows="5"></textarea>
                </td>
            </tr>
            <tr>
                <td class="warning" colspan="4">其他補充說明 (如該港之漁產量/值、魚市場交易資料、設施使用情形)</td>
            </tr>
            <tr>
                <td colspan="4">
                    <textarea
                            class="form-control draft_field"
                            field_type="str"
                            type="textarea"
                            field_name="other_memo"
                            placeholder="請輸入"
                            rows="5"></textarea>
                </td>
            </tr>
            <tr>
                <td class="warning" colspan="4">工程預期效益</td>
            </tr>
            <tr>
                <td colspan="4">
                    <textarea
                            class="form-control draft_field"
                            field_type="str"
                            type="textarea"
                            field_name="fect"
                            placeholder="請輸入"
                            rows="5"></textarea>
                </td>
            </tr>
            <tr>
                <td class="warning" colspan="4">備註</td>
            </tr>
            <tr>
                <td colspan="4">
                    <textarea
                            class="form-control draft_field"
                            field_type="str"
                            type="textarea"
                            field_name="memo"
                            placeholder="請輸入"
                            rows="5"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="4" align="center">
                    <button class="btn btn-lg btn-success" id="create_draft_project" type_value="/fishuser/api/v2/option/287/">
                        填寫完成確定提報
                    </button>
                    <button class="btn btn-lg btn-warning" onclick="$('#draft_project_table').show();$('#create_button').show();$('#create_table').hide();">
                        取消回列表
                    </button>
                </td>
            </tr>
        </table>

        <div class="modal fade" id="add_fishing_port_dailog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">請選擇漁港</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-3">
                                <select class="form-control" id="select_port_or_aquaculture">
                                    <option value="fishing_port_list" selected="selected">漁港</option>
                                    <option value="aquaculture_list">養殖區</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <select class="form-control" id="select_place_for_fishing_port">
                                    <option value="" selected="selected">請選擇縣市區域</option>
                                    {% for p in places %}
                                        <option value="{{ p.id }}"> - {{ p.name }} - </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-6" class="">
                                <select class="form-control fishing_port_list">
                                    <option value="" selected="selected">請選擇漁港</option>
                                    {% for p in fishing_ports %}
                                        <option class="{{ p.place.id }} port" style="display: none;" value="/harbor/api/v2/fishingport/{{ p.id }}/">{{ p.place.name }} - {{ p.name }}</option>
                                    {% endfor %}
                                </select>
                                <select class="form-control aquaculture_list" style="display: none;">
                                    <option value="" selected="selected">請選擇養殖區</option>
                                    {% for p in aquacultures %}
                                        <option class="{{ p.place.id }} aqua" style="display: none;" value="/harbor/api/v2/aquaculture/{{ p.id }}/">{{ p.place.name }} - {{ p.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" id="add_fishing_port_or_aquaculture" class="btn btn-primary">新增漁港</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% endblock %}

<script type="text/javascript">
    function project_type() {
        var $obj = $(this);
        var value = $obj.val();
        if (value=='/fishuser/api/v2/option/227/') {
            $('select[field_name="project_sub_type"]').val('');
            $('.port_type').show();
            $('.farm_type').hide();
        } else if (value=='/fishuser/api/v2/option/228/') {
            $('select[field_name="project_sub_type"]').val('');
            $('.port_type').hide();
            $('.farm_type').show();
        } else {
            $('select[field_name="project_sub_type"]').val('');
            $('.port_type').hide();
            $('.farm_type').hide();
        }
    }

    function search_ex_project() {
        var $obj = $(this);
        var name = $('#search_ex_project_name').val();
        if (!name) {
            alert('請輸入欲搜尋的工程名稱條件!!!');
            return false;
        }
        var string = '&name=' + name;
        $.ajax({
            url: '/fishuser/api/v2/project/search/?limit=1000000000&' + string,
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                $('#ex_project_list').empty();
                $('#ex_project_list').append('<option value="" selected="selected">請選擇工程</option>');
                var options = '<option value="" selected="selected">請選擇工程</option>';
                for (var i=0; i<data.objects.length; i++){
                    $('#ex_project_list').append('<option value="/fishuser/api/v2/project/' + data.objects[i]['id'] + '/">' + data.objects[i]['year'] + '年-' + data.objects[i]['name'] + '</option>');
                }
            },
            error: REST_ERROR
        })
    }

    function select_port_or_aquaculture() {
        var $obj = $(this);
        var value = $obj.val();
        if (value=="fishing_port_list") {
            $('.fishing_port_list').show();
            $('.aquaculture_list').hide();
        } else if (value == 'aquaculture_list') {
            $('.fishing_port_list').hide();
            $('.aquaculture_list').show();
        }
    }

    function select_place_for_fishing_port() {
        var $obj = $(this);
        var value = $obj.val();
        $('.port').hide();
        $('.aqua').hide();
        $('.fishing_port_list').val('');
        $('.' + value).show();
    }

    function add_fishing_port_or_aquaculture() {
        var select_port_or_aquaculture = $('#select_port_or_aquaculture').val();
        if (select_port_or_aquaculture=='fishing_port_list') {
            var value = $('.fishing_port_list').val();
            var text = $('.fishing_port_list').find("option:selected").text();
        } else if (select_port_or_aquaculture=='aquaculture_list'){
            var value = $('.aquaculture_list').val();
            var text = $('.aquaculture_list').find("option:selected").text();
        }
        if (!value) {
            alert('請選擇欲新增的漁港或養殖區');
            return false;
        }
        var type = value.split('/')[4];
        var row_id = value.split('/')[5];
        if (!$('.port_or_aquaculture_' + type + row_id).html()){
            var html = '<div class="input-group port_or_aquaculture_' + type + row_id + '">';
            html += '<select class="form-control ' + select_port_or_aquaculture.replace('_list', '') + '" disabled>';
            html += '<option value="' + value + '">' + text + '</option>';
            html += '</select>';
            html += '<span class="input-group-addon"><button class="btn btn-danger btn-xs delete_port_or_aquaculture" row_id="' + row_id + '">X</button></span></div>';
            $(html).insertBefore($('#insert_fishing_port'));
            $('.delete_port_or_aquaculture').unbind('click');
            $('.delete_port_or_aquaculture').click(function (){
                var $obj = $(this);
                var row_id = $obj.attr('row_id');
                if (confirm('您確定要刪除嗎？')){
                    $('.port_or_aquaculture_' + type + row_id).remove();
                }
            });
        }
        $('#add_fishing_port_dailog').modal('hide');
    }

    function add_or_remove_fishing_port_or_aquaculture_for_draft_project() {
        var $obj = $(this);
        var active = $obj.attr('active');
        var project_id = $obj.attr('project_id');
        var remove_target = $obj.attr('remove_target');
        var select_port_or_aquaculture = $('#select_port_or_aquaculture').val();
        if (active=='add'){
            if (select_port_or_aquaculture=='fishing_port_list') {
                var value = $('.fishing_port_list').val();
                var text_info = $('.fishing_port_list').find("option:selected").text();
            } else if (select_port_or_aquaculture=='aquaculture_list'){
                var value = $('.aquaculture_list').val();
                var text_info = $('.aquaculture_list').find("option:selected").text();
            }
            if (!value) {
                alert('請選擇欲新增的漁港或養殖區');
                return false;
            }
        } else if (active=='remove'){
            var value = $('.' + remove_target + ' select').val();
            var text_info = $('.' + remove_target + ' select').find("option:selected").text();
            if (!confirm('你確定要刪除 ' + text_info + ' 嗎?')){
                return false;
            }
        }
        var type = value.split('/')[4];
        var row_id = value.split('/')[5];
        var data = {
            csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN
        }
        data[select_port_or_aquaculture.replace('list', active)] = row_id;
        $.ajax({
            url: '/fishuser/api/v2/draft_project/' + project_id + '/',
            type: 'PUT',
            data: JSON.stringify(data),
            contentType: 'application/json',
            dataType: 'json',
            success: function (json, text, xhr) {
                var data = {
                    id: row_id,
                    type: type,
                    text: text_info,
                    project_id: project_id
                }
                if (active == 'add'){
                    var $div = $('#HidePort_or_Aqua_div').tmpl(data).insertBefore($('#insert_fishing_port'));
                    $('.add_or_remove_fishing_port_or_aquaculture_for_draft_project').unbind('click');
                    $('.add_or_remove_fishing_port_or_aquaculture_for_draft_project').click(add_or_remove_fishing_port_or_aquaculture_for_draft_project);
                } else {
                    $('.' + remove_target).remove();
                }
            },
            error: function (data) {
            },
        })

        $('#add_fishing_port_dailog').modal('hide');
    }

    function create_draft_project() {
        var $obj = $(this);
        $.each($('.needExist'), function() {
            var $obj = $(this);
            if (!$obj.val()){
                alert($obj.attr('field_ch_name') + ' 欄位不能為空白。');
                return false;
            }
        });
        var data = {
            csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
        };
        data['type'] = $obj.attr('type_value');
        $.each($('.draft_field'), function() {
            var $obj = $(this);
            if (['capital_ratify_budget', 'self_money', 'local_money'].indexOf($obj.attr('field_name')) >= 0) {
                var value = remove_TransformThousands($obj.val());
                if (!value){
                    value = '0';
                }
                if(!(float_check.test(value))){
                    var message = $obj.attr('field_ch_name') + '須為數字！';
                    alert(message);
                    return false;
                }
                data[$obj.attr('field_name')] = value;
            } else if ($obj.val()){
                var value = $obj.val();
                data[$obj.attr('field_name')] = value;
            }
        });
        var port = [];
        $.each($('.fishing_port'), function() {
            var $obj = $(this);
            port.push($obj.val());
        });
        var aqua = [];
        $.each($('.aquaculture'), function() {
            var $obj = $(this);
            aqua.push($obj.val());
        });
        data['fishing_port'] = port;
        data['aquaculture'] = aqua;
        var unit_id = data['unit'].split('/')[5];
        var type_id = data['type'].split('/')[5];
        $.ajax({
            url: '/fishuser/api/v2/draft_project/?unit=' + unit_id + '&type=' + type_id,
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            success: function (json, text, xhr) {
                data['sort'] = json.objects.length + 1;
                $.ajax({
                    url: '/fishuser/api/v2/draft_project/',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (json, text, xhr) {
                        alert('提報工程成功!!');
                        $.each($('.draft_field'), function () {
                            $(this).val('');
                        })
                        window.location.reload();
                    },
                    error: function () {
                    },
                })
            },
            error: function () {
            },
        })
    }

    function set_sort_btn() {
        var $obj = $(this);
        var project_id = $obj.attr('id').split('_')[3];
        var place_id = $('#sort_num_' + project_id).attr('place_id');
        var place_dp_num = $('#sort_num_' + project_id).attr('place_dp_num');
        var direction = $obj.attr('direction');
        var data = {
            csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
        };
        data['sort_' + direction] = true;
        $.ajax({
            url: '/fishuser/api/v2/draft_project/' + project_id + '/',
            type: 'PUT',
            data: JSON.stringify(data),
            contentType: 'application/json',
            dataType: 'json',
            success: function (json, text, xhr) {
                if (direction == 'up'){
                    var sort = $('#sort_num_' + project_id).html();
                    var $self = $('#tr_project_' + place_id + '_' + sort); // 自己
                    var $target = $('#tr_project_' + place_id + '_' + FloatSubtraction(sort, 1)); // 被換的對象
                    var self_sort = FloatSubtraction(sort, 1);
                    var target_sort = FloatAdd(sort, 0);
                    $self.insertBefore($target);
                } else {
                    var sort = $('#sort_num_' + project_id).html();
                    var $self = $('#tr_project_' + place_id + '_' + sort); // 自己
                    var $target = $('#tr_project_' + place_id + '_' + FloatAdd(sort, 1)); // 被換的對象
                    var self_sort = FloatAdd(sort, 1);
                    var target_sort = FloatSubtraction(sort, 0);
                    $self.insertAfter($target);
                }
                var target_project_id = $target.attr('project_id');
                $('#sort_num_' + project_id).html(self_sort);
                $('#sort_num_' + target_project_id).html(target_sort);
                $self.attr('id', 'tr_project_' + place_id + '_' + self_sort);
                $target.attr('id', 'tr_project_' + place_id + '_' + target_sort);
                $('#delete_btn_' + project_id).attr('remove_target', 'tr_project_' + place_id + '_' + self_sort);
                $('#delete_btn_' + target_project_id).attr('remove_target', 'tr_project_' + place_id + '_' + target_sort);

                if ($('#sort_num_' + project_id).html() == '1'){
                    $('#sort_up_btn_' + project_id).hide();
                    $('#sort_down_btn_' + project_id).show();
                } else if ($('#sort_num_' + project_id).html() == place_dp_num) {
                    $('#sort_up_btn_' + project_id).show();
                    $('#sort_down_btn_' + project_id).hide();
                } else {
                    $('#sort_up_btn_' + project_id).show();
                    $('#sort_down_btn_' + project_id).show();
                }
                if ($('#sort_num_' + target_project_id).html() == '1'){
                    $('#sort_up_btn_' + target_project_id).hide();
                    $('#sort_down_btn_' + target_project_id).show();
                } else if ($('#sort_num_' + target_project_id).html() == place_dp_num) {
                    $('#sort_up_btn_' + target_project_id).show();
                    $('#sort_down_btn_' + target_project_id).hide();
                } else {
                    $('#sort_up_btn_' + target_project_id).show();
                    $('#sort_down_btn_' + target_project_id).show();
                }
                $self.effect("highlight", {color: 'red'}, 1500);
            },
            error: function (data) {
            },
        })
    }


    $(document).ready(function(){
        $('#project_type').change(project_type); // 工程屬性別 改變時一併改變後續的選項
        $('#search_ex_project').click(search_ex_project); //搜尋前年度延續工程
        $('#select_port_or_aquaculture').change(select_port_or_aquaculture);
        $('#select_place_for_fishing_port').change(select_place_for_fishing_port); //新增漁港時，選擇縣市後改變漁港選項
        $('#add_fishing_port_or_aquaculture').click(add_fishing_port_or_aquaculture); // 新增漁港或養殖區_新增
        $('.add_or_remove_fishing_port_or_aquaculture_for_draft_project').click(add_or_remove_fishing_port_or_aquaculture_for_draft_project); // 新增漁港或養殖區_編輯
        $('#create_draft_project').click(create_draft_project); // 新增提報工程
        $('.set_sort_btn').click(set_sort_btn); // 設定優先順序
    });

</script>
{% endblock %}