{% extends "fishuser/zh-tw/base.html" %}
{% load i18n %}
{% load humanize %}
{% load utiltags %}

{% block body %}
<h2>匯入工程</h2>
<br>

<div align="left">
    <span style="color: red;" align="left">
        <ol>
            <li>注意：輸入條件越多，符合的資料可能會較少，例如年度選擇"100"、縣市選擇"台南市"，則同時符合兩個條件之工程才會出現。</li>
            <li>可使用空白或半形逗點來一次搜尋多組關鍵字，例如想找工程名稱含有"護岸"及含有"邊坡"的，則輸入"護岸 邊坡"，符合其中一項即會出現。</li>
        </ol>
    </span>
</div>

<table class="table">
    <caption>請輸入搜尋條件</caption>
    <tr>
        <td width="15%" class="warning" align="right">
            年度
        </td>
        <td width="75%" colspan="3" rowspan="1">
            <select id="year" class="form-control input-sm">
                <option value="">全部</option>
                {% for y in years %}
                    <option value="{{ y }}" {% ifequal this_year y %}selected{% endifequal %}>{{ y }}</option>
                {% endfor %}
            </select>
        </td>
        <td width="10%" rowspan="9">
            <input id="user_id" value="{{ user.id }}" type="hidden">
            <input id="responsible_id" value="{{ responsible.id }}" type="hidden">
            <input id="collaborative_id" value="{{ collaborative.id }}" type="hidden">
            <input id="today" value="{{ today|date:'Y-m-d' }}" type="hidden">
            <button id="search_project" class="btn btn-info btn-lg" page=1 ype="button">搜尋工程</button><br></br>
            <button onclick="report_project_name()" class="btn btn-success btn-lg" page=1 ype="button">通報<br>查無工程案</button><br></br>
        </td>
    </tr>
    <tr>
        <td class="warning" align="right">
            經費來源計畫
        </td>
        <td colspan="3" rowspan="1">
            <div class="row">
                <div class="col-xs-8">
                    <select id="plan" class="form-control input-sm">
                        <option value="" selected>－ 全部 －</option>
                        {% for plan in plans %}
                        <option value="{{ plan.id }}">{{ plan.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-xs-4">
                    <select id="sub_plan" class="form-control input-sm">
                        <option value="true">包含下層計畫</option>
                        <option value="false" selected>不包含下層計畫</option>
                    </select>
                </div>
            </div>
            
        </td>
    </tr>
    <tr>
        <td class="warning" align="right">
            工程名稱
        </td>
        <td colspan="3" rowspan="1">
            <input id="name" size="56" type="text" class="form-control input-sm"></td>
    </tr>
    <tr>
        <td class="warning" align="right">標案編號</td>
        <td colspan="3" rowspan="1">
            <input id="pcc_no" size="40" type="text" class="form-control input-sm"></td>
    </tr>
    <tr>
        <td class="warning" align="right">負責工程師</td>
        <td colspan="3" rowspan="1">
            <input id="eng_name" size="40" type="text" class="form-control input-sm"></td>
    </tr>
    <tr>
        <td class="warning" align="right">
            執行機關
        </td>
        <td width="32.5%">
            <select id="unit" class="form-control input-sm">
                {% if perms.fishuser.view_all_project_in_remote_control_system %}
                    <option value="">－ 全部 －</option>
                {% endif %}
                {% for unit in units %}
                    <option value="{{ unit.id }}" {% ifequal user.user_profile.unit.id unit.id %}selected{% endifequal %}>－ {{ unit.name }} －</option>
                {% endfor %}
            </select>
        </td>
        <td class="warning" align="right" width="10%">
            採購類別
        </td>
        <td width="27.5%">
            <div class="row">
                <div class="col-xs-7">
                    <select id="purchase_type" class="form-control input-sm">
                        <option value="" selected>－ 全部 －</option>
                        {% for purchase_type in option.purchase_type %}
                        <option value="{{ purchase_type.id }}">{{ purchase_type.value }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-xs-5" style="font-size: 12px;">
                    (勞務/工程)
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="warning" align="right">
            縣市
        </td>
        <td>
            <select id="place" class="RenewLocationList form-control input-sm">
                <option value="">－ 全部 －</option>
                {% for place in places %}
                    <option value="/fishuser/api/v2/place/{{ place.id }}/">－ {{ place.name }} －</option>
                {% endfor %}
            </select>
        </td>
        <td class="warning" align="right">
            承辦方式
        </td>
        <td>
            <div class="row">
                <div class="col-xs-7">
                    <select id="undertake_type" class="form-control input-sm">
                        <option value="" selected>－ 全部 －</option>
                        {% for undertake_type in option.undertake_type %}
                            <option value="{{ undertake_type.id }}">{{ undertake_type.value }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-xs-5" style="font-size: 12px;">
                    (自/委/補)
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="warning" align="right">
            漁港
        </td>
        <td>
            <select id="fishing_port" class="form-control input-sm">
                <option value="" selected>－ 全部 －</option>
                {% for port in fishing_ports %}
                    <option value="{{ port.id }}">{{ port.place.name }} - {{ port.name }}</option>
                {% endfor %}
            </select>
        </td>
        <td class="warning" align="right">
            是否匯入
        </td>
        <td>
            <select id="is_import" class="form-control input-sm">
                <option value="" selected>－ 全部 －</option>
                <option value="false">尚未被匯入</option>
                <option value="true">已被匯入</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="warning" align="right">
            養殖區
        </td>
        <td>
            <select id="aquaculture" class="form-control input-sm">
                <option value="" selected>－ 全部 －</option>
                {% for aqua in aquacultures %}
                    <option value="{{ port.id }}">{{ aqua.place.name }} - {{ aqua.name }}</option>
                {% endfor %}
            </select>
        </td>
        <td class="warning" align="right">
            每頁顯示
        </td>
        <td>
            <div class="input-group">
                <select id="per_page" class="form-control input-sm">
                    <option value=25 selceted>25</option>
                    <option value=50>50</option>
                    <option value=100>100</option>
                    <option value="">全部</option>
                </select>
                <span class="input-group-addon">筆</span>
            </div>
        </td>
    </tr>
</table>

<hr style="color: #FFC991;" align="center" size="1" width="900">
<br><br>
<ul class="pagination pages_list"></ul> <span class="total_count"></span>
<br>
<table id="SearchResultTable" class="sortable table table-bordered" style="text-align: center; display: none; font-size: 14px;">
    <thead>
        <tr class="success">
            <th width="5%">序<br>號</th>
            <th width="3%" style="text-align: center;">結<br>案</th>
            <th width="12%">匯入</th>
            <th width="68%">經費來源計畫<br>年度-工程名稱</th>
            <th width="15%">執行機關</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<br>
<ul class="pagination pages_list"></ul> <span class="total_count"></span>



<script type="text/x-jquery-tmpl" id="HideSearchTr">
    <tr style="text-align: center;" row_id="${id}" class="${class_name}">
        <td class="active">${sort}</td>
        <td>${is_close}</td>
        <td align="center" id="td_importer_${id}">${importer}</td>
        <td align="left" title="標案編號：『${pcc_no}』">
            ${plan__name__list}<br>
            <a href="/frcm/project_profile/${id}/">
                ${year}年 - ${name}
            </a>
        </td>
        <td align="center">${unit__name}</td>
    </tr>
</script>


<script type="text/javascript">
    function report_project_name(){
        var date_check = /^(([1-9]\d{0,3}|0)\-\d{2}\-\d{2})|(([1-9]\d{0,3}|0)\.\d{2}\.\d{2})|(([1-9]\d{0,3}|0)\/\d{2}\/\d{2})$/;
        var project_name = prompt("請輸入工程案的完整名稱。","")
        if (project_name && project_name != '') {
            var check_date = prompt("請輸入該工程案的核定日期。\n日期範例:2022-01-13","")
            if(check_date) {
                if (!(date_check.test(check_date))){
                    alert("須為日期格式(如2022-01-13)！");
                }else if (!check_date){
                    alert("請填寫工程案的核定日期。");
                }else if (project_name && check_date) {
                    alert("工程案 : "+ project_name + "\n" + "核定日期 : " + check_date + "\n"  + "已寄信通知相關人員。")
                    
                    $.ajax({
                        url:"/frcm/report_name/",
                        type:'POST',
                        data:{
                            project:project_name,
                            check_date:check_date,
                            csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
                            }
                    })
                }
            }
        }else if(project_name == ''){
            alert("請填寫工程案的完整名稱。");  
        }
    }
</script>

<script type="text/javascript">
    function search_project(){
        var $obj = $(this);
        var user_id = $('#user_id').val();
        var string = 'year=' + $('#year').val();
        string += '&plan=' + $('#plan').val();
        string += '&sub_plan=' + $('#sub_plan').val();
        string += '&name=' + $('#name').val();
        string += '&pcc_no=' + $('#pcc_no').val();
        string += '&eng_name=' + $('#eng_name').val();
        string += '&unit=' + $('#unit').val();
        string += '&place=' + $('#place').val();
        string += '&purchase_type=' + $('#purchase_type').val();
        string += '&undertake_type=' + $('#undertake_type').val();
        string += '&fishing_port=' + $('#fishing_port').val();
        string += '&aquaculture=' + $('#aquaculture').val();
        string += '&is_import=' + $('#is_import').val();

        var per_page = $('#per_page').val();
        var page = parseInt($obj.attr('page'));
        if (!per_page){
            per_page = 1000000;
        };
        per_page = parseInt(per_page);
        string += '&offset=' + ((page-1) * per_page);
        string += '&limit=' + per_page;
        url = '/fishuser/api/v2/project/search/?' + string;

        $.ajax({
            url: url,
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                $('.resultTr').remove();
                $('#SearchResultTable').show();
                for (var i=0; i<data.objects.length; i++){
                    data.objects[i]['class_name'] = 'resultTr';
                    data.objects[i]['sort'] = i+1+(page-1)*per_page;
                    if (!data.objects[i]['pcc_no']){
                        data.objects[i]['pcc_no'] = '';
                    }
                    var importer = '負責:' + data.objects[i]['importer'];
                    if (data.objects[i]['importer']==''){
                        importer = '<button class="importProject btn btn-primary" id="importProject_' + data.objects[i]['id'] + '" id="" project_id="' + data.objects[i]['id'] + '" project_name="' + data.objects[i]['name'] + '">我是主辦</button>';
                    } else if (!data.objects[i]['is_self']){
                        importer += '<br><button class="askForShareProject btn btn-warning" id="askForShareProject_' + data.objects[i]['id'] + '" project_id="' + data.objects[i]['id'] + '" project_name="' + data.objects[i]['name'] + '">我是協辦</button>';
                    }
                    if (data.objects[i]['is_close']){
                        data.objects[i]['is_close'] = 'Ｏ';
                    } else {
                        data.objects[i]['is_close'] = '';
                    }
                    var $div = $('#HideSearchTr').tmpl(data.objects[i]).appendTo($('#SearchResultTable > tbody:last'));
                    $('#td_importer_' + data.objects[i]['id']).html(importer);
                }

                //製造分頁
                if (data.meta.total_count){
                    if ($('.pagination').html()) {
                        $('.pagination').twbsPagination('destroy');
                    }
                    $('.pagination').twbsPagination({
                        totalPages: Math.ceil(data.meta.total_count/per_page),
                        startPage: page,
                        visiblePages: Math.min(Math.ceil(data.meta.total_count/per_page), 10),
                        onPageClick: function (event, page) {
                            renew_search(page);
                        }
                    });
                } else {
                    if ($('.pagination').html()) {
                        $('.pagination').twbsPagination('destroy');
                    }
                }
                $('.total_count').html('共有' + Math.ceil(data.meta.total_count/per_page) + '頁，' + data.meta.total_count + '筆資料');
                
                $('.importProject').click(importProject);
                $('.askForShareProject').click(askForShareProject);
                //移除跟自己有關工程的匯入及共管按鈕
                $.ajax({
                    url: '/fishuser/api/v2/frcmusergroup/?limit=100000&user=' + user_id,
                    type: 'GET',
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (data) {
                        for (var i=0; i<data.objects.length; i++){
                            var row_id = data.objects[i]['project'].split('/')[5];
                            $('#importProject_' + row_id).remove();
                            $('#askForShareProject_' + row_id).remove();
                        }
                    },
                    error: function () {
                    },
                })
            },
            error: REST_ERROR
        })
    }

    function renew_search(page){
        $('#search_project').attr('page', page);
        $('#search_project').click();
        $('#search_project').attr('page', '1');
    }

    function importProject(){
        var $obj = $(this);
        var user_id = $('#user_id').val();
        var project_id = $obj.attr('project_id');
        var project_name = $obj.attr('project_name');
        var responsible_id = $('#responsible_id').val();//負責主辦
        var collaborative_id = $('#collaborative_id').val();//協同主辦
        var today = $('#today').val();

        if (confirm('您確定要匯入"' + project_name + '"此工程嗎? 匯入後您的身分為"負責主辦工程師"(可轉移)。')){
            var data = {
                csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
                user: '/fishuser/api/v2/user/' + user_id + '/',
                project: '/fishuser/api/v2/project/' + project_id + '/',
                group: '/fishuser/api/v2/group/' + responsible_id + '/',
                is_active: true,
                date: today
            }
            $.ajax({
                url: '/fishuser/api/v2/frcmusergroup/',
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                dataType: 'json',
                success: function (json, text, xhr) {
                    $obj.hide();
                    alert('匯入成功，已可在"我的工程"頁面中進行檢視。');
                    window.location = '/frcm/my_project/';
                },
                error: function (data) {
                    if (data.responseText){
                        alert(data.responseText);
                    } else {
                        alert('操作失敗，可能系統忙碌中，請稍候重試一次。');
                    }
                    
                }
            })
        }
    }



    function askForShareProject(){
        var $obj = $(this);
        var user_id = $('#user_id').val();
        var project_id = $obj.attr('project_id');
        var project_name = $obj.attr('project_name');
        var responsible_id = $('#responsible_id').val();//負責主辦
        var collaborative_id = $('#collaborative_id').val();//協同主辦
        var today = $('#today').val();

        if (confirm('您確定要申請"' + project_name + '"此工程的共管嗎? \n待負責主辦同意後您的身分為"協同主辦工程師"，您可自行通知負責主辦進行同意以加速作業。')){
            var data = {
                csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
                user: '/fishuser/api/v2/user/' + user_id + '/',
                project: '/fishuser/api/v2/project/' + project_id + '/',
                group: '/fishuser/api/v2/group/' + collaborative_id + '/',
                is_active: false,
                date: today
            }
            $.ajax({
                url: '/fishuser/api/v2/frcmusergroup/',
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                dataType: 'json',
                success: function (json, text, xhr) {
                    $obj.hide();
                    alert('申請成功，已可在"我的工程"頁面中進行檢視申請狀態。');
                    window.location = '/frcm/my_project/';
                },
                error: function (data) {
                    if (data.responseText){
                        alert(data.responseText);
                    } else {
                        alert('操作失敗，可能系統忙碌中，請稍候重試一次。');
                    }
                    
                }
            })
        }
    }


    $(document).ready(function(){

        $('#search_project').click(search_project);
    });

</script>


{% endblock %}
