{% load i18n %}
{% load utiltags %}
{% load humanize %}

<br>
<h3 class="text-primary">工程師列表</h3>
<table class="table table-bordered" style="font-size: 14px; text-align: center;" total_width="860">
    {% for u in project.engineers %}
        <tr>
            <td width="5%">
                {% if not u.is_active %}
                    <img class="chase_light" width="25" src="/media/frcm/v2/image/red_light.gif">
                {% endif %}
            </td>
            <td width="5%">
                <span class="label {% if u.is_active %}label-success{% else %}label-danger{% endif %}">
                    <span class="glyphicon {% if u.is_active %}glyphicon-ok-sign{% else %}glyphicon-minus-sign{% endif %}"></span>
                </span>
            </td>
            <td width="15%">{{ u.group.name }}</td>
            <td width="10%">{{ u.user.user_profile.rName }}</td>
            <td width="15%">{{ u.user.user_profile.phone }}</td>
            <td width="20%">{{ u.user.user_profile.unit.name }}</td>
            <td width="30%" align="left">
                {% ifequal project.your_identity.group.name '負責主辦工程師' %}
                    {% ifequal u.group.name "協同主辦工程師" %}
                        {% if u.is_active %}
                            <button class="btn btn-warning set_engineer_status" set="transfer" row_id="{{ u.id }}" your_id="{{ project.your_identity.id }}">轉移負責權</button>
                        {% else %}
                            <button class="btn btn-success set_engineer_status" set="accept" row_id="{{ u.id }}" your_id="{{ project.your_identity.id }}">允許申請共管</button>
                        {% endif %}
                        <button class="btn btn-danger set_engineer_status" set="quit" row_id="{{ u.id }}" your_id="{{ project.your_identity.id }}">移除此人身分</button>
                    {% endifequal %}
                {% endifequal %}
                {% ifequal project.your_identity.group.name '協同主辦工程師' %}
                    {% ifequal u.user user %}
                        {% if not u.is_active %}
                            <p class="text-warning">尚未接受您的共管申請，您可通知負責主辦進行確認動作。</p>
                        {% endif %}
                        <button class="btn btn-warning set_engineer_status" set="quit" row_id="{{ u.id }}" your_id="{{ project.your_identity.id }}">退出管理</button>
                    {% endifequal %}
                {% endifequal %}
                {% if user.is_staff %}
                    <button class="btn btn-danger set_engineer_status" set="quit" row_id="{{ u.id }}" your_id="{{ user.id }}">移除此人身分</button>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>