{% extends "fishuser/zh-tw/base.html" %}
{% load i18n %}
{% load humanize %}
{% load utiltags %}

{% block js_in_compress %}
    <script type="text/javascript" src="/media/frcm/v2/js/frcm.js"></script>
    <script>
        var edit = {% if edit %}true{% else %}false{% endif %};
        var project_id = "{{ project.id }}";
        var chase_otm_id = "{{ chase_data.id }}";
    </script>
{% endblock %}

{% block body %}
    <h2>{{ project.name }}</h2>

    {% include 'frcm/zh-tw/project_profile_chase_data.html' %}
    <P style='page-break-after:always'></P>

    {% include "frcm/zh-tw/project_profile_milestone.html" %}
    <P style='page-break-after:always'></P>
    
    <br><br>
    <button class="btn {% if chase_data.complete %}btn-success{% else %}btn btn-warning{% endif %} btn-lg" id="set_chase_complete" complete="{% if chase_data.complete %}true{% else %}false{% endif %}">
         {% if chase_data.complete %}
            尚未完成，取消提交!!
         {% else %}
            填寫完畢，申請提交!!
         {% endif %}
    </button>
{% endblock %}