{% extends "fishuser/zh-tw/base.html" %}
{% load i18n %}
{% load humanize %}
{% load staticfiles %}

{% block body %}

<!DOCTYPE html PUBLIC>
<html lang="zh-tw">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link type="image/x-icon" rel="shortcut icon" href="/media/cim/images/fa.ico" />
    <script type="text/javascript" src="{% static 'supervise/v2/Chart.js/Chart.bundle.js' %}{{ SV_ }}"></script>
    <script type="text/javascript" src="{% static 'supervise/v2/Chart.js/utils.js' %}{{ SV_ }}"></script>
    <script type="text/javascript" src="{% static 'supervise/v2/Chart.js/FileSaver.min.js' %}{{ SV_ }}"></script>

</head>
<body style="padding-left:8%;padding-right:8%;text-align: center;font-family: 'Helvetica Neue', Helvetica, '微軟正黑體', 'Microsoft Jhenghei', Arial, sans-serif;">
{% csrf_token %}
<h2>廠商得標金額排行</h2>
<table class="table">
    <tr>
        <td width="20%" align="right">年度</td>
        <td width="20%">
            <select id="select_year" class="form-control get_year" style="width:30%">
                <option value="">請選擇</option>
                {% for y in years %}
                    <option value="{{ y }}">{{ y }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>

</table>
<div align="left" id="div_canvas" style="text-align: center;"></div>
<div id="chart_data"></div>

</body>


<script type="text/javascript">
    function show_chart(){
        var year = $('#select_year').val();
        var $obj = $(this);
        $.ajax({
            url: '/frcm/statisticstable_money_data/',
            type: 'POST',
            data: {
                    csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
                    year: year,
                    },
            dataType: 'json',
            beforeSend: function(XHR) {
                XHR.setRequestHeader('X-CSRFToken', CSRFMIDDLEWARETOKEN);
            },
            success: function (json, text, xhr){
                show_histogram_chart(json);
            },
            error: (msg) => {console.log(msg.responseText)}
        })
    }
    
    var dynamicColors = function() {
        var r = Math.floor(100+Math.random() * 150);
        var g = Math.floor(100+Math.random() * 150);
        var b = Math.floor(100+Math.random() * 150);
        return "rgb(" + r + "," + g + "," + b + ")";
    };

    function show_histogram_chart(json){
        $('#div_canvas').html('<canvas class="chart_canvas" id="canvas"></canvas>');
        var barChartData = json['data'];
        var config = {
            type: 'bar',
            data: barChartData,
            options: {
                maintainAspectRatio: false,
                responsive: true,
                legend: {
                    position: 'top',
                    labels: {
                        fontSize: 24
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                        }
                    }]
                },
                tooltips: {
                    callbacks: {
                        label: function(value, index, values){
                            //console.log(value)
                            return '累計金額(萬元): ' + value['yLabel'].toLocaleString() + '\n\n\n' + '案件數: ' + json['case_list'][value['index']];
                        }
                    }
                }
            }
        };
        config['options']['scales']['xAxes'] = [{
                        display: true,
                        ticks: {
                            autoSkip: false,
                            fontSize: 20,
                            fontFamily: "微軟正黑體",
                        }
                    }];
        config['options']['scales']['yAxes'] = [
                {
                position: 'right',
                display: true,
                ticks: {
                    max: json['right_max_num'],
                    min: 0,
                    fontSize: 20,
                    fontFamily: "微軟正黑體",
                    callback: function(value, index, values) {
                        return value.toLocaleString();
                    }
                },
                scaleLabel: {
                    rotate: -0.5,
                    display: true,
                    labelString: '累\n計\n金\n額\n︵\n萬\n元\n︶\n',
                    fontSize: 30,
                    fontFamily: "微軟正黑體",
                }}
            ];
        
        var ctx = document.getElementById("canvas");
        ctx.height = $('body').height()-150;
        ctx.getContext("2d");
        window.myBar = new Chart(ctx, config);
    }

    $(document).ready(function(){
        $('.get_year').change(show_chart);
    });
</script>

{% endblock %}