<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load utiltags %}
<html xmlns="http://www.w3.org/1999/xhtml">

<head profile="http://gmpg.org/xfn/11">
    <style type="text/css">
    <!--
    
    body,td,th {
        font-size: 1.0em;
    }
    {% block style %}
    {% endblock %}
    -->
    </style>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %}漁業工程管理系統{% endblock %}</title>
    {% block upgradeJqueryUI %}
        <script type="text/javascript" src="/media/jquery.ui-1.5.1/jquery-1.2.6.js"></script>
        <script type="text/javascript" src="/media/jquery.ui-1.5.1/ui/ui.core.js"></script>
        <script type="text/javascript" src="/media/jquery.ui-1.5.1/ui/ui.datepicker.js"></script>
        <script type="text/javascript" src="/media/jquery.ui-1.5.1/ui/i18n/ui.datepicker-zh-TW.js"></script>
        <script type="text/javascript" src="/media/jquery.ui-1.5.1/ui/ui.dialog.js"></script>
        <script type="text/javascript" src="/media/jquery.ui-1.5.1/ui/ui.draggable.js"></script>
        <script type="text/javascript" src="/media/jquery.ui-1.5.1/ui/ui.resizable.js"></script>
        <script type="text/javascript" src="/media/jquery.ui-1.5.1/ui/ui.tabs.js"></script>
        <script type="text/javascript" src="/media/jquery.ui-1.5.1/ui/ui.accordion.js"></script>
        <link rel="stylesheet" type="text/css" href="/media/jquery.ui-1.5.1/themes/flora/flora.all.css" />
    {% endblock %}

    <script type="text/javascript" src="/media/jquery-plugins/ajaxfileupload/ajaxfileupload.js"></script>
    
    <script type="text/javascript" src="/media/supervise/supervise.js"></script>
    
	<link rel="shortcut icon" href="image/favicon.ico" />
    <style type="text/css">
        #menu, #login, #editPassword, #editProfile,
        #creatUser, #editUser,
        #registerUser, .updateStuffToUser, .date_field, .updateHideOrShow,
        #addProject, #reserve, #clearSearchInfo, #count_type, .delete_rf_info,
        #deletePlan, .addPlan, .addSubPlan, .updatePlanInfo, .setDefaultProject, .editable,
        .update_edited, .no_parameter, .makeStatistics, .makeStatistics_unit, .makeStatisticsProjects,
        .count_type, .addProgress, .deleteProgress, .addAppropriate, .deleteAppropriate,
        .switch, #uploadPhoto, .deleteProjectPhoto, .updatePhotoInfo_Show, .updatePhotoInfo_Edit,
        #importProject, .updateFRCMProject, #getProject, #askToShareProject, .answerAskShare, .sendBackProject,
        .transferEngineer, #makeStatistics_Include_sub, #makeStatistics_not_Include_sub,
        .image_map, .HarborMemu, .ShowandHidePlan, .photonow, .photolink, .infomemo, .point,
        .setDisplay, .showTable, .hideTable, .hideCol, .opened_record, .closed_record, .quickedit, .sortPlan, .SumBar, .showProjectMemo,
        .transferEngineer, .deleteProject, .recoverProject, #addMoreFishingPort, .deleteFishingPort, .SwitchDisplay, .singleswitch, .deletePlanBudget,.ShowandHideSubPlan,
        .ptzcb, .Show_Plan_Info, .Hide_Plan_Info, #addPlanBudget, .deletePlanBudget, #autoSum, .Filter_Project_Type, #getMorePlaninfo, #editProjectListBudget,
        .Show_Budget_Info, .Hide_Budget_Info, #Show_ChaseTable, #setChaseComplete, .Show_Chase_Info, .Hide_Chase_Info, updateChaseTotalMoney,
        .setChaseProject, #setAllChaseProject, #addNewChase, .ShowChaseProject
        {
            cursor: pointer;
        }
    </style>
    {% block scriptlib %}

    {% endblock %}

</head>

<body id="id_body">
    {% block bar %}
        <ul id="UserProfile"></ul>
    {% endblock %}
    {% block header %}
	<div id="header">
		<h1><img src="/media/cim/images/fa.png" width="50">漁業工程管理系統</h1>
		<h2>Fishery Engineering System</h2>
	</div>
    {% endblock %}
	
    {% block menu %}
    <div id="navigation">
		<ul>
			<li><a href="/u/">個人基本資料</a></li>
			<li><a href="/project/">工程管考系統</a></li>
            <li><a href="/frcm/">遠端管理系統</a></li>
			<li><a href="/harbor/">漁港資訊系統</a></li>
            <li><a href="/account/">帳號管理</a></li>
		</ul>
	</div>
	<div id="navigation2">
		<ul>
			<li><a href="/u/vp/">登入紀錄</a></li>
			<li><a href="/u/eps/" class="active">修改密碼</a></li>
        </ul>
	</div>
    {% endblock %}
        
    
    
    <div class="content">
        <div align="center">
            {% block content %}
                
                
                <table>
				    <tr>
				        <td>選擇檔案：</td>
				        <td><input id="newfile_file_1" name="newfile_file_1" type="file"/></td>
				    </tr>
				    <tr>
				        <td>名　　稱：</td>
				        <td><input id="newfile_name_1" type="text" size="50" maxlength="70" value=""/></td>
				    </tr>
				    <tr>
				        <td valign="top">備　　註：</td>
				        <td><textarea id="newfile_memo_1" cols="40" rows="5"></textarea></td>
				    </tr>
				    <tr>
				        <td valign="top"></td>
				        <td>
				            <input id="upload_Photo_File" supervise_id="1" type="submit" value="確定上傳照片" />
				            <span id="checked_msg" style="color: red;"></span>
				        </td>
				    </tr>
				</table>
                
                
            {% endblock %}
        </div>
    </div>

	<div id="footer">
		<p>Copyright &copy; <a href="http://www.fa.gov.tw/chnn/" target="_blank">(行政院農業部漁業署)</a>
        <br>2009 | Designed by <a href="http://www.tfm.org.tw/" target="_blank">財團法人臺灣漁業及海洋技術顧問社</a></p>
	<br>客服專線：漁業署(02-3343-6289)
        </div>
    {% get_or_post_div %}
    {% insert_google_analytics %}
</body>
</html>