{% extends 'supervise/index.html' %}
{% block menu %}
    <ul id="menu" value ="/supervise/search/"></ul>
{% endblock %}

{% block content %}
<br>
<h1>搜尋督導紀錄</h1>
<br>
<table border="1" style="border-collapse: collapse">
<tr><td>
<table id="search_table">
	<tr>
		<td width=150 class="search_table_title" width=110>列管計畫名稱：</td>
		<td width=280>
			<input class="search_input_text needExist" id="plan" type="text" name="plan" size=25 value=""/>
		</td>
		<td width=150 class="search_table_title" width=110>督導分數：</td>
		<td width=280>
			<input class="search_input_text ScoreLevel" id="score_from" type="text" name="score_from" size=6 value=""/>
			<span id="score_from_level"></span>
			～ 
			<input class="search_input_text ScoreLevel" id="score_to" type="text" name="score_to" size=6 value=""/>
			<span id="score_to_level"></span>
		</td>
	</tr>
	<tr>
		<td class="search_table_title">標案所屬工程主管機關：</td>
		<td>
			<select class="search_input_text needExist" name="subordinate_agencies_unit" id="subordinate_agencies_unit">
				<option value="">請選擇單位</option>
				{% for i in subordinate_agencies_units %}
					<option value="{{ i.0 }}">{{ i.1 }}</option>
				{% endfor %}
			</select>
		</td>
		<td class="search_table_title">督導日期：</td>
		<td>
			<input id="date_from" name="date_from" class="search_input_text setDateCreate needExist" size="10" type="text" value="">
			～ <input id="date_to" name="date_to" class="search_input_text setDateCreate needExist" size="10" type="text" value="">
		</td>
	</tr>
	<tr>
		<td class="search_table_title">標案名稱：</td>
		<td>
			<input class="search_input_text needExist" id="project" type="text" name="project" size=25 value=""/>
		</td>
		<td class="search_table_title">地點：</td>
		<td>
			<select class="search_input_text needExist" name="place" id="place">
				<option value=""> 請選擇 </option>
				{% for i in places %}
					<option value="{{ i.0 }}">{{ i.1 }}</option>
				{% endfor %}
			</select>
			<span id="change_location">
				
			</span>
		</td>
	</tr>
	<tr>
		<td class="search_table_title">標案主辦機關：</td>
		<td>
			<input class="search_input_text" id="project_organizer_agencies" type="text" name="project_organizer_agencies" size=25 value=""/>
		</td>
		<td align="right" bgcolor="pink">缺失搜尋：</td>
		<td bgcolor="pink">
			<input class="search_input_text" id="error" type="text" name="error" size=25 value=""/>
		</td>
	</tr>
	<tr>
		<td class="search_table_title">專案管理單位：</td>
		<td>
			<input class="search_input_text" id="project_manage_unit" type="text" name="project_manage_unit" size=25 value=""/>
		</td>
		<td class="search_table_title">發包預算：</td>
		<td>
			<input class="search_input_text float" id="budget_price_from" type="text" name="budget_price_from" size=12 value=""/>
			～ <input class="search_input_text float" id="budget_price_to" type="text" name="budget_price_to" size=12 value=""/>(千元)
		</td>
	</tr>
	<tr>
		<td class="search_table_title">設計單位：</td>
		<td>
			<input class="search_input_text" id="designer" type="text" name="designer" size=25 value=""/>
		</td>
		<td class="search_table_title">契約金額：</td>
		<td>
			<input class="search_input_text float" id="contract_price_from" type="text" name="contract_price_from" size=12 value=""/>
			～ <input class="search_input_text float" id="contract_price_to" type="text" name="contract_price_to" size=12 value=""/>(千元)
		</td>
	</tr>
	<tr>
		<td class="search_table_title" width=110>監造單位：</td>
		<td>
			<input class="search_input_text" id="inspector" type="text" name="inspector" size=25 value=""/>
		</td>
		<td class="search_table_title">工程進度預定進度：</td>
		<td>
			<input class="search_input_text float" id="scheduled_progress_from" type="text" name="scheduled_progress_from" size=3 value=""/>％
			～ <input class="search_input_text float" id="scheduled_progress_to" type="text" name="scheduled_progress_to" size=3 value=""/>％
		</td>
	</tr>
	<tr>
		<td class="search_table_title">承包商：</td>
		<td>
			<input class="search_input_text" id="construct" type="text" name="construct" size=25 value=""/>
		</td>
		<td class="search_table_title">工程進度實際進度：</td>
		<td>
			<input class="search_input_text float" id="actual_progress_from" type="text" name="actual_progress_from" size=3 value=""/>％
			～ <input class="search_input_text float" id="actual_progress_to" type="text" name="actual_progress_to" size=3 value=""/>％
		</td>
	</tr>
		<td class="search_table_title">內部委員：</td>
		<td>
			<input class="search_input_text" id="outguides" type="text" name="outguides" size=25 value=""/>
		</td>
		<td class="search_table_title">開工日期：</td>
		<td>
			<input id="start_date_from" name="start_date_from" class="search_input_text setDateCreate" size="10" type="text" value="">
			～ <input id="start_date_to" name="start_date_to" class="search_input_text setDateCreate" size="10" type="text" value="">
		</td>
	</tr>
	</tr>
		<td class="search_table_title">外部委員：</td>
		<td>
			<input class="search_input_text" id="inguides" type="text" name="inguides" size=25 value=""/>
		</td>
		<td class="search_table_title">完工日期：</td>
		<td>
			<input id="expected_completion_date_from" name="expected_completion_date_from" class="search_input_text setDateCreate" size="10" type="text" value="">
			～ <input id="expected_completion_date_to" name="expected_completion_date_to" class="search_input_text setDateCreate" size="10" type="text" value="">
		</td>
	</tr>
</table>
</td></tr></table>
<br>
<input id="search_Supervise_Case" type="submit" value="搜尋督導紀錄" />

<br><br>

<span id="search_Result"></span>

{% endblock %}
