{% extends 'supervise/statisticstable_01.html' %}
{% load utiltags %}

{% block table %}

        
<h1>{{ title }}-<span style="font-size: 16px;">({{ year }} 年度共 {{ all_case_num }} 件))</span></h1>
<hr align="left" width="800" size="1" style="color: #FFC991;">
<br>

{% for row in data %}
    <h2>{{ row.title }}(總缺失次數：{{ row.n }})</h2>
    <table border="1" style="border-collapse: collapse">
        <tr align="center" valign="middle" bgcolor="#CDE5FF">
            <td>排名</td>
            <td>缺失編號</td>
            <td>缺失內容</td>
            <td>缺失次數</td>
            <td>缺失比例</td>
        </tr>
        {% for e in row.data %}
            <tr align="center" valign="middle">
                <td width="40">{{ forloop.counter }}</td>
                <td width="100">{{ e.no }}</td>
                <td width="600" align="left">{{ e.introduction }}</td>
                <td width="80">{{ e.num }}</td>
                <td width="80">{{ e.percent }} %</td>
            </tr>
        {% endfor %}
    </table>
<br><br>
{% endfor %}

{% endblock %}
