{% load utiltags %}
{% load humanize %}
{% load project_tags %}
{% if not data_obj %}
無代碼或代碼不正確，無法聯繫資料。
{% else %}
<div id="detail_list">
    <table style="border-collapse: collapse" border="1" cellpadding="2" cellspacing="2">
        <thead bgcolor="#EEEEEE">
            <tr align="center">
                <th colspan="4">
                    {{ project.name|default_if_none:'無法取得' }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr align="left" height="30">
                <td>計畫名稱</td>
                <td colspan="3">{{ data_obj|getAccData:'計畫名稱'|default_if_none:'無法取得' }}</td>
            </tr>
            <tr align="left" height="30">
                <td>計畫編號</td>
                <td colspan="3">{{ data_obj|getAccData:'計畫編號'|default_if_none:'無法取得' }}</td>
            </tr>
            <tr align="left" height="30">
                <td>計畫代碼</td>
                <td colspan="3">{{ data_obj|getAccData:'計畫代碼'|default_if_none:'無法取得' }}</td>
            </tr>
            <tr align="left" height="30">
                <td>研提日期</td>
                <td>{{ data_obj|getAccData:'研提日期'|default_if_none:'無法取得' }}</td>
                <td>核定日期</td>
                <td colspan="3">{{ data_obj|getAccData:'核定日期'|default_if_none:'無法取得' }}</td>
            </tr>
            <tr align="left" height="30">
                <td>執行單位</td>
                <td>{{ data_obj|getAccData:'執行單位'|default_if_none:'無法取得' }}</td>
                <td>核定金額</td>
                <td align="right">{{ data_obj|getAccData:'核定金額'|default_if_none:'無法取得'|transToThousand|intcomma|cutzero }} (千元)</td>
            </tr>
        </tbody>
    </table>
    <br>
    <table style="border-collapse: collapse" border="1" cellpadding="2" cellspacing="2">
        <thead bgcolor="#EEEEEE">
            <tr align="center">
                <th colspan="4">撥付資料</th>
            </tr>
            <tr align="center">
                <th style="min-width: 100px;">撥付日期</th>
                <th style="min-width: 120px;">經常門</th>
                <th style="min-width: 120px;">資本門</th>
                <th style="min-width: 120px;">合計</th>
            </tr>
        </thead>
        <tbody>
        {% for data in data_obj|getAccData:'撥付資料' %}
            <tr align="left" height="30">
                <td>{{ data|getAccData:'撥付日期'|default_if_none:'無法取得' }}</td>
                <td align="right">{{ data|getAccData:'經常門'|default_if_none:'無法取得'|transToThousand|intcomma|cutzero }}</td>
                <td align="right">{{ data|getAccData:'資本門'|default_if_none:'無法取得'|transToThousand|intcomma|cutzero }}</td>
                <td align="right">{{ data|getAccData:'合計'|default_if_none:'無法取得'|transToThousand|intcomma|cutzero }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

        