
<span id="Draft_Table" style="font-size: 14px;display: none;">
<table style="border-collapse: collapse" border="1" cellpadding="2" cellspacing="2">
    <span id="project_id" value="" style="display: none;"></span>
    <tbody align="left">
        <tr>
            <td bgcolor="#EEEEEE">年度<font color="red">*</font></td>
            <td colspan="3">
                <select id="year" class="needExist">
                    {% for y in years %}
                    <option value="{{ y }}"  {% ifequal this_year y %}selected{% endifequal %}>{{ y }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td bgcolor="#EEEEEE">計畫名稱<font color="red">*</font></td>
            <td colspan="3">
                <select id="plan">
                    <option value=""></option>
                    {% for plan in plans %}
                    <option value="{{ plan.id }}" code="{{ plan.code }}" up_code="{{ plan.up_code }}" serial='{{ plan.serial }}' level="{{ plan.level }}" max_level="{{ max_level }}" {% ifequal carry_info.plan_id plan.id %}selected{% endifequal %}>{{ plan.name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td bgcolor="#EEEEEE">工作名稱<font color="red">*</font></td>
            <td colspan="3" rowspan="1">
                <input id="name" size="80" type="text" class="needExist">
            </td>
        </tr>
        <tr>
            <td bgcolor="#EEEEEE">是否為前年度延續工程<font color="red">*</font></td>
            <td colspan="3" rowspan="1">
                <select id="Is_Inherit_Project">
                    <option value="False" name="否" selected>否</option>
                    <option value="True" name="是">是</option>
                </select>
                <span id="Find_Project_Input" style="display: none;">
                    <input id="Search_Project_Name" 
                       onclick="if(document.getElementById('Search_Project_Name').value=='請輸入工程名稱關鍵字'){document.getElementById('Search_Project_Name').value=''}"
                       size="50" type="text" value="請輸入工程名稱關鍵字">
                    <input id="Search_Project_Name_Button" type="submit" value="搜尋工程" />
                    <br>
                    請選擇工程：<select id="exProject"></select>
                </span>
            </td>
        </tr>
        <tr>
            <td bgcolor="#EEEEEE">計畫經費</td>
            <td colspan="3" rowspan="1">
                <input style="text-align:right" id="capital_ratify_budget" size="20" type="text" class="integer"> (元)
            </td>
        </tr>
        <tr>
            <td bgcolor="#EEEEEE">經費概算(中央)</td>
            <td colspan="3" rowspan="1">
                <input style="text-align:right" id="self_money" size="20" type="text" class="integer"> (元)
            </td>
        </tr>
        <tr>
            <td bgcolor="#EEEEEE">概算經費(地方配合款)</td>
            <td colspan="3" rowspan="1">
                <input style="text-align:right" id="local_money" size="20" type="text" class="integer"> (元)
            </td>
        </tr>
        <tr>
            <td bgcolor="#EEEEEE">工程屬性別<font color="red">*</font></td>

            <td colspan="3">
                <table style="border-collapse: collapse" border="1" frame="vsides" cellpadding="2" cellspacing="2">
                    <tr>
                        <td width="150">
                            <select id="project_type" class="needExist">
                                {% for type in project_type_sorts %}
                                        <option value="{{ type.id }}" name="{{ type.value }}">{{ type.value }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td width="250">
                            <select id="sub_{{ project_type_sorts.0.id }}" class="subType needExist">
                                {% for type in project_sub_types %}
                                <option value="{{ type.id }}" name="{{ type.value }}" {% ifequal target_project.project_sub_type.id type.id %}selected{% endifequal %}>{{ type.value }}</option>
                                {% endfor %}
                            </select>
                            <select id="sub_{{ project_type_sorts.1.id }}" class="subType needExist" style="display: none;">
                                {% for type in farm_types %}
                                <option value="{{ type.id }}" name="{{ type.value }}" {% ifequal target_project.project_sub_type.id type.id %}selected{% endifequal %}>{{ type.value }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td bgcolor="#EEEEEE">縣市<font color="red">*</font></td>
            <td>
                <select id="place" onchange="getSubLocation(renewSubLocation, false)" class="needExist">
                    <option value=""></option>
                    {% for place in place_list %}
                    <option value="{{ place.id }}">{{ place.name }}</option>
                    {% endfor %}
                </select>
            </td>
            <td bgcolor="#EEEEEE" rowspan="3" valign="top">漁港／<br>養殖區</td>
            <td rowspan="3" valign="top">
                <table>
                    <tr valign="top">
                        <td id="SubLocation">
                            <select id="port">
                                <option value="" twdx="" twdy="">請選擇縣市</option>
                            </select>
                            <span id="insertSubLocation"></span>
                        </td>
                        <td>
                            <img id="click_to_add_port" onclick="getSubLocation(addSubLocationOption, false)" src="/media/project/image/plus.png" width="16" title="新增漁港/養殖區">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td bgcolor="#EEEEEE">採購類別<font color="red">*</font></td>
            <td>
                <select id="purchase_type" class="needExist">
                    {% for purchase_type in option.purchase_type %}
                    <option value="{{ purchase_type.id }}" {% ifequal purchase_type.value '工程' %}selected{% endifequal %}>{{ purchase_type.value }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td bgcolor="#EEEEEE">承辦方式<font color="red">*</font></td>
            <td>
                <select id="undertake_type" class="needExist">
                    {% for undertake_type in option.undertake_type %}
                    <option value="{{ undertake_type.id }}" {% ifequal undertake_type.value '補助' %}selected{% endifequal %}>{{ undertake_type.value }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td bgcolor="#EEEEEE">優先順序</td>
            <td colspan="3" rowspan="1">
                <select id="sort" class="sort needExist">
                    {{ html_sort }}
                </select>
            </td>
        </tr>
        <tr>
            <td bgcolor="#EEEEEE">經費種類<font color="red">*</font></td>
            <td>
                <select id="budget_sub_type" class="needExist">
                    {% for sub_type in budget_sub_types %}
                    <option value="{{ sub_type.id }}" {% ifequal sub_type.value '資本門' %}selected{% endifequal %}>{{ sub_type.value }}</option>
                    {% endfor %}
                </select>
            </td>
            <td bgcolor="#EEEEEE">執行機關<font color="red">*</font></td>
            <td>
                <select id="unit" class="needExist">
                    <option value=""></option>
                    {% for n, unit in units %}
                    <option value="{{ n }}">{{ unit }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="4" rowspan="1" bgcolor="#EEEEEE">
                主要工作內容
                (請填主要工作項目之明細及數量，如疏浚土方量、碼頭改善長度、加拋消波塊數量等)
            </td>
        </tr>
        <tr>
            <td colspan="4" rowspan="1">
                <textarea id="info" cols="90" rows="3"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="4" rowspan="1" bgcolor="#EEEEEE">
                初審結果
                (請填優先順序及理由)
            </td>
        </tr>
        <tr>
            <td colspan="4" rowspan="1">
                <textarea id="review_results" cols="90" rows="3"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="4" rowspan="1" bgcolor="#EEEEEE">
                設計準備情形(請填報是否已完成設計及是否已報漁業署同意在案)
            </td>
        </tr>
        <tr>
            <td colspan="4" rowspan="1">
                <textarea id="design" cols="90" rows="3"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2" rowspan="1" bgcolor="#EEEEEE">
                設籍漁船資料(最新之設籍各噸級船筏數)
            </td>
            <td colspan="2" rowspan="1" bgcolor="#EEEEEE">
                實際作業漁船數(平均每日進出漁船筏資料)
            </td>
        </tr>
        <tr>
            <td colspan="2" rowspan="1">
                <textarea id="fish_boat" cols="45" rows="3"></textarea>
            </td>
            <td colspan="2" rowspan="1">
                <textarea id="real_fish_boat" cols="45" rows="3"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="4" rowspan="1" bgcolor="#EEEEEE">
                其他補充說明(如該港之漁產量/值、魚市場交易資料、設施使用情形)
            </td>
        </tr>
        <tr>
            <td colspan="4" rowspan="1">
                <textarea id="other_memo" cols="90" rows="3"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="4" rowspan="1" bgcolor="#EEEEEE">
                工程預期效益
            </td>
        </tr>
        <tr>
            <td colspan="4" rowspan="1">
                <textarea id="fect" cols="90" rows="3"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="4" rowspan="1" bgcolor="#EEEEEE">
                備註
            </td>
        </tr>
        <tr>
            <td colspan="4" rowspan="1">
                <textarea id="memo" cols="90" rows="3"></textarea>
            </td>
        </tr>
    </tbody>
</table>
<br><font color="red">*</font>為必填欄位<br>
<button class="add_Draft_Project" id="add_Draft_Project_add" action="add" draft_type="{{ type }}" 
        next_url="{{ url }}{% ifequal page_title '漁業署提案' %}{% ifequal type '漁業署草稿' %}fishery{% else %}city{% endifequal %}{% endifequal %}">
    --------確定提報工程-------</button>
<button class="add_Draft_Project" id="add_Draft_Project_update" action="update" del_project_id="" draft_type="{{ type }}" style="display: none;"
        next_url="{{ url }}{% ifequal page_title '漁業署提案' %}{% ifequal type '漁業署草稿' %}fishery{% else %}city{% endifequal %}{% endifequal %}">
    --------確定修改內容-------</button>
<button id="cancel_Draft_Project">--------取消-------</button>
</span>
<br><br>
<hr width="800">

