{% load utiltags %}
{% load humanize %}
<table border="1" cellpadding="2" cellspacing="2" style="border-collapse: collapse; font-size: 14px;">
    <thead>
        <tr>
            <th colspan="4" bgcolor="#EEEEEE" align="center" class="title_bar pointer">撥付款</th>
        </tr>
        <tr bgcolor="#EEEEEE">
            <th style="min-width: 200px;">撥付日期</th>
            <th style="min-width: 200px;">撥付數</th>
            {% if edit %}<th width="30"></th>{% endif %}
        </tr>
    </thead>
    <tbody>
        {% for a in appropriate %}
            {% include 'project/appropriate_unit.html' %}
        {% endfor %}
        <tr id="insertAppropriate" style="display: none;">
            <td></td>
        </tr>
        <tr>
            <td colspan="3" align="right">
                <button class="addAppropriate" title="新增紀錄" project_id="{{ target_project.id }}" year="{{ target_year }}"><img src="/media/project/image/addmoney.png" height="14"> 新增撥付紀錄</button>
            </td>
        </tr>
    </tbody>
</table>