{% load utiltags %}
{% load humanize %}
<tr id="appropriate_{{ a.id }}" class="hightlightRow" align="center">


    <td>{{ a.allot_date }}</td>
    <td style=" padding-right: 5px;" align="right">{{ a.num|default_if_none:''|intcomma|cutzero }}</td>
    <!--{% if edit %}
    <td id="allot_date_{{ a.id }}" class="redaction">
        <a class="show_allot_date_{{ a.id }}">{{ a.allot_date|default_if_none:'' }}</a>
        <input editing="allot_date_{{ a.id }}" category="Appropriate" row="{{ a.id }}" class="edit_allot_date_{{ a.id }} updateRedaction setDate" size="10" type="text" value="{{ a.allot_date|default_if_none:'' }}" old_value="{{ a.allot_date|default_if_none:'' }}" style="display: none;">
    </td>
    {% else %}
    <td>{{ a.allot_date }}</td>
    {% endif %}

    {% if edit %}
    <td id="num_{{ a.id }}" class="redaction" style=" padding-right: 55px;" align="right">
        <a class="show_num_{{ a.id }}">{{ a.num|default_if_none:''|intcomma|cutzero }}</a>
        <input editing="num_{{ a.id }}" category="Appropriate" row="{{ a.id }}" class="edit_num_{{ a.id }} updateRedaction" size="15" type="text" value="{{ a.num|default_if_none:''|cutzero }}" old_value="{{ a.num|default_if_none:''|cutzero }}" style="display: none; text-align:right;">
    </td>
    {% else %}
    <td style=" padding-right: 55px;" align="right">{{ a.num|default_if_none:''|intcomma|cutzero }}</td>
    {% endif %}
    -->
    {% if edit %}
    <td id="vouch_no_{{ a.id }}" class="redaction" style=" padding-right: 55px;" align="left">
        <a class="show_vouch_no_{{ a.id }}">{{ a.vouch_no|default_if_none:'' }}</a>
        <input editing="vouch_no_{{ a.id }}" category="Appropriate" row="{{ a.id }}" class="edit_vouch_no_{{ a.id }} updateRedaction" size="20" type="text" value="{{ a.vouch_no|default_if_none:'' }}" old_value="{{ a.vouch_no|default_if_none:'' }}" style="display: none;">
    </td>
    {% else %}
    <td style=" padding-right: 55px;" align="left">{{ a.vouch_no|default_if_none:'' }}</td>
    {% endif %}

	{% if edit %}
    <td id="memo_{{ a.id }}" class="redaction" style=" padding-right: 55px;" align="left">
        <a class="show_memo_{{ a.id }}">{{ a.memo|default_if_none:''|linebreaks }}</a>
		<textarea editing="memo_{{ a.id }}" row="{{ a.id }}" category="Appropriate" class="edit_memo_{{ a.id }} updateRedaction" cols="30" rows="3" value="{{ a.memo|default_if_none:'' }}" old_value="{{ a.memo|default_if_none:'' }}" style="display: none;">{{ a.memo|default_if_none:'' }}</textarea>
    </td>
    {% else %}
    <td style=" padding-right: 55px;" align="left">{{ a.memo|default_if_none:''|linebreaks }}</td>
    {% endif %}




    {% if edit %}
    <td align="center">
        <img id="delete_{{ a.id }}" src="/media/images/delete.png" title="刪除紀錄" appropriate_id="{{ a.id }}" stage="{{ a.allot_date }}" class="deleteProjectAppropriate">
    </td>
    {% endif %}
</tr>
