{% extends 'project/index.html' %}
{% load humanize %}
{% load utiltags %}
{% block menu %}
    <ul id="menu" value ="/project/replan/1/"></ul>
{% endblock %}
{% block style %}

.cetitle {
    background-color: #FDFF73;
}

.strike {
    color: red;
    text-decoration: line-through;
}

.fakeContainer { /* The parent container */
    width: 1000px; /* Required to set */
    height: 600px; /* Required to set */
    overflow: hidden; /* Required to set */
}


{% endblock %}

{% block content %}
<br><span style="display: none;" id="year" value="{{ year }}"></span>
<span style="font-size: 20px;">{{ plan.name }}－{{ year }}年度，共有 {{ num }} 件 工作項目：
    <br><span style="color:blue;">是否包含下層計畫：</span>{{ sub_plan }}
　　<span style="color:blue;">預算別：</span>{{ budget_type }}
　　<span style="color:blue;">經費種類：</span>{{ budget_sub_type }}
　　<span style="color:blue;">承辦方式：</span>{{ undertake_type }}

</span>
<br>

<div class="fakeContainer">
<table id="SuperTable" class="SuperTable" style="border-collapse: collapse;min-width: 2050px;" border="1" cellpadding="2" cellspacing="2">
    <tr class="cetitle" align="center" valign="middle">
        <th width="25">編號</th>
        <th width="110">計畫編號</th>
        <th width="45">縣市別</th>
        <th width="55">漁港別</th>
        <th width="180">工作名稱</th>
        <th width="100">原核定<br>經費<br>(元)</th>
        <th width="100">調整後<br>經費<br>(元)</th>
        <th width="150">計畫書備註</th>
        <th width="150">另備註</th>
        <th width="150">刪除備註</th>
        <th bgcolor="white" width="100">發包金額<br>(元)</th>
        <th bgcolor="white" width="100">空污費<br>(元)</th>
        <th bgcolor="white" width="100">工程<br>管理費<br>(元)</th>
        <th bgcolor="white" width="100">委託<br>設計費<br>(元)</th>
        <th bgcolor="white" width="100">委託<br>監造費<br>(元)</th>
        <th bgcolor="white" width="100">其他<br>(元)</th>
        <th bgcolor="pink" width="100">總工程<br>金額<br>(元)</th>
        <th width="100">延續工程<br>保留金額<br>已撥款<br>(元)</th>
        <th width="100">工程剩餘<br>需今年<br>撥款數<br>(元)</th>
        <th width="100">已撥<br>金額合計<br>(元)</th>
        <th width="100">未撥<br>金額合計<br>(元)</th>
    </tr>

    {% for f in funds %}
        <tr height="50" title="{{ f.project.name }}" class="Change_Backlight" id="Backlight_tr_{{ f.id }}" row_id="{{ f.id }}" align="center" valign="middle">
            <td title="編號" id="td_1_{{ f.id }}" old_bgcolor="white">{{ forloop.counter }}</td>
            <td id="td_2_{{ f.id }}" old_bgcolor="white" field_name="work_no" title="{{ forloop.counter }}-{{ f.project.place }}-{{ f.project.name }}">{{ f.project.work_no|default_if_none:'' }}</td>
            <td title="縣市別" id="td_3_{{ f.id }}" old_bgcolor="white">{{ f.project.place }}</td>
            <td title="漁港別" id="td_4_{{ f.id }}" old_bgcolor="white">{% for port in f.project.rSubLocation %}{{ port.name }}{% endfor %}</td>
            <td title="工作名稱" id="td_5_{{ f.id }}" align="left" bgcolor="#CDFFE7" old_bgcolor="#CDFFE7">
                <a href="/project/fund/{{ f.project.id }}/" target="_blank">
                    <img src="/media/project/image/hyperlink_yellow.png" width="20" title="前往此工作詳細資料">
                </a>{{ f.project.name }}
            </td>
            <td title="原核定經費(元)" id="td_6_{{ f.id }}" align="right" class="Show_Budget_Info" row_id="{{ f.budget.id }}" field_name="capital_ratify_budget" bgcolor="#CDFFE7" old_bgcolor="#CDFFE7">
                <a id="Show_Budget_Info_capital_ratify_budget_{{ f.budget.id }}">{{ f.budget.capital_ratify_budget|default_if_none:''|intcomma|cutzero }}</a>
                <input class="Hide_Budget_Info" row_id="{{ f.budget.id }}" field_name="capital_ratify_budget" input_type="float" table_name="Budget"
                       style="text-align: right; display: none;" id="Edit_Budget_Info_capital_ratify_budget_{{ f.budget.id }}" fund_id="{{ f.id }}"
                       type="text" name="capital_ratify_budget" maxlength="20" size="10"
                       value="{{ f.budget.capital_ratify_budget|default_if_none:''|cutzero }}"
                       old_value="{{ f.budget.capital_ratify_budget|default_if_none:''|cutzero }}"/>
            </td>
            <td title="調整後經費(元)" id="td_7_{{ f.id }}" class="Show_Budget_Info" row_id="{{ f.budget.id }}" field_name="capital_ratify_revision" align="right" bgcolor="pink" old_bgcolor="pink">
                <a id="Show_Budget_Info_capital_ratify_revision_{{ f.budget.id }}">{{ f.budget.capital_ratify_revision|default_if_none:''|intcomma|cutzero }}</a>
                <input class="Hide_Budget_Info" row_id="{{ f.budget.id }}" field_name="capital_ratify_revision" input_type="float" table_name="Budget"
                       style="text-align: right; display: none;" id="Edit_Budget_Info_capital_ratify_revision_{{ f.budget.id }}" fund_id="{{ f.id }}"
                       type="text" name="capital_ratify_revision" maxlength="20" size="10"
                       value="{{ f.budget.capital_ratify_revision|default_if_none:''|cutzero }}"
                       old_value="{{ f.budget.capital_ratify_revision|default_if_none:''|cutzero }}"/>
            </td>
            <td title="計畫書備註" id="td_8_{{ f.id }}" align="left" class="Show_Budget_Info" row_id="{{ f.id }}" field_name="memo_first" bgcolor="#CDFFE7" old_bgcolor="#CDFFE7">
                <a id="Show_Budget_Info_memo_first_{{ f.id }}">{{ f.memo_first|default_if_none:''|linebreaks }}</a>
                <textarea class="Hide_Budget_Info" row_id="{{ f.id }}" field_name="memo_first" table_name="Fund"
                           style="display: none;" id="Edit_Budget_Info_memo_first_{{ f.id }}"
                           old_value="{{ f.memo_first|default_if_none:'' }}"
                           name="memo_first" cols="18" rows="4">{{ f.memo_first|default_if_none:'' }}</textarea>
            </td>
            <td title="另備註" id="td_9_{{ f.id }}" align="left" class="Show_Budget_Info" row_id="{{ f.id }}" field_name="memo_second" bgcolor="#CDFFE7" old_bgcolor="#CDFFE7">
                <a id="Show_Budget_Info_memo_second_{{ f.id }}">{{ f.memo_second|default_if_none:''|linebreaks }}</a>
                <textarea class="Hide_Budget_Info" row_id="{{ f.id }}" field_name="memo_second" table_name="Fund"
                           style="display: none;" id="Edit_Budget_Info_memo_second_{{ f.id }}"
                           old_value="{{ f.memo_second|default_if_none:'' }}"
                           name="memo_second" cols="18" rows="4">{{ f.memo_second|default_if_none:'' }}</textarea>
            </td>
            <td title="刪除備註" id="td_10_{{ f.id }}" align="left" class="Show_Budget_Info" row_id="{{ f.id }}" field_name="memo_del" bgcolor="#CDFFE7" old_bgcolor="#CDFFE7">
                <a id="Show_Budget_Info_memo_del_{{ f.id }}" class="strike">{{ f.memo_del|default_if_none:'' }}</a>
                <textarea class="Hide_Budget_Info" row_id="{{ f.id }}" field_name="memo_del" table_name="Fund"
                           style="display: none;" id="Edit_Budget_Info_memo_del_{{ f.id }}"
                           old_value="{{ f.memo_del|default_if_none:'' }}"
                           name="memo_del" cols="18" rows="4">{{ f.memo_del|default_if_none:'' }}</textarea>
            </td>
            <td title="發包金額(元)" id="td_11_{{ f.id }}" align="right" class="Show_Budget_Info" row_id="{{ f.id }}" field_name="contract" bgcolor="#FFCECD" old_bgcolor="#FFCECD">
                <a id="Show_Budget_Info_contract_{{ f.id }}">{{ f.contract|default_if_none:''|intcomma|cutzero }}</a>
                <input class="Hide_Budget_Info" row_id="{{ f.id }}" field_name="contract" input_type="float" table_name="Fund"
                       style="text-align: right; display: none;" id="Edit_Budget_Info_contract_{{ f.id }}"
                       type="text" name="contract" maxlength="20" size="10"
                       value="{{ f.contract|default_if_none:''|cutzero }}"
                       old_value="{{ f.contract|default_if_none:''|cutzero }}"/>
            </td>
            <td title="空污費(元)" id="td_12_{{ f.id }}" align="right" class="Show_Budget_Info" row_id="{{ f.id }}" field_name="pollution" bgcolor="#FFCECD" old_bgcolor="#FFCECD">
                <a id="Show_Budget_Info_pollution_{{ f.id }}">{{ f.pollution|default_if_none:''|intcomma|cutzero }}</a>
                <input class="Hide_Budget_Info" row_id="{{ f.id }}" field_name="pollution" input_type="float" table_name="Fund"
                       style="text-align: right; display: none;" id="Edit_Budget_Info_pollution_{{ f.id }}"
                       type="text" name="pollution" maxlength="20" size="10"
                       value="{{ f.pollution|default_if_none:''|cutzero }}"
                       old_value="{{ f.pollution|default_if_none:''|cutzero }}"/>
            </td>
            <td title="工程管理費(元)" id="td_13_{{ f.id }}" align="right" class="Show_Budget_Info" row_id="{{ f.id }}" field_name="manage" bgcolor="#FFCECD" old_bgcolor="#FFCECD">
                <a id="Show_Budget_Info_manage_{{ f.id }}">{{ f.manage|default_if_none:''|intcomma|cutzero }}</a>
                <input class="Hide_Budget_Info" row_id="{{ f.id }}" field_name="manage" input_type="float" table_name="Fund"
                       style="text-align: right; display: none;" id="Edit_Budget_Info_manage_{{ f.id }}"
                       type="text" name="manage" maxlength="20" size="10"
                       value="{{ f.manage|default_if_none:''|cutzero }}"
                       old_value="{{ f.manage|default_if_none:''|cutzero }}"/>
            </td>
            <td title="委託設計費(元)" id="td_14_{{ f.id }}" align="right" class="Show_Budget_Info" row_id="{{ f.id }}" field_name="entrust_design" bgcolor="#FFCECD" old_bgcolor="#FFCECD">
                <a id="Show_Budget_Info_entrust_design_{{ f.id }}">{{ f.entrust_design|default_if_none:''|intcomma|cutzero }}</a>
                <input class="Hide_Budget_Info" row_id="{{ f.id }}" field_name="entrust_design" input_type="float" table_name="Fund"
                       style="text-align: right; display: none;" id="Edit_Budget_Info_entrust_design_{{ f.id }}"
                       type="text" name="entrust_design" maxlength="20" size="10"
                       value="{{ f.entrust_design|default_if_none:''|cutzero }}"
                       old_value="{{ f.entrust_design|default_if_none:''|cutzero }}"/>
            </td>
            <td title="委託監造費(元)" id="td_15_{{ f.id }}" align="right" class="Show_Budget_Info" row_id="{{ f.id }}" field_name="entrust_supervision" bgcolor="#FFCECD" old_bgcolor="#FFCECD">
                <a id="Show_Budget_Info_entrust_supervision_{{ f.id }}">{{ f.entrust_supervision|default_if_none:''|intcomma|cutzero }}</a>
                <input class="Hide_Budget_Info" row_id="{{ f.id }}" field_name="entrust_supervision" input_type="float" table_name="Fund"
                       style="text-align: right; display: none;" id="Edit_Budget_Info_entrust_supervision_{{ f.id }}"
                       type="text" name="entrust_supervision" maxlength="20" size="10"
                       value="{{ f.entrust_supervision|default_if_none:''|cutzero }}"
                       old_value="{{ f.entrust_supervision|default_if_none:''|cutzero }}"/>
            </td>
            <td title="其他(元)" id="td_16_{{ f.id }}" align="right" class="Show_Budget_Info" row_id="{{ f.id }}" field_name="other" bgcolor="#FFCECD" old_bgcolor="#FFCECD">
                <a id="Show_Budget_Info_other_{{ f.id }}">{{ f.other|default_if_none:''|intcomma|cutzero }}</a>
                <input class="Hide_Budget_Info" row_id="{{ f.id }}" field_name="other" input_type="float" table_name="Fund"
                       style="text-align: right; display: none;" id="Edit_Budget_Info_other_{{ f.id }}"
                       type="text" name="other" maxlength="20" size="10"
                       value="{{ f.other|default_if_none:''|cutzero }}"
                       old_value="{{ f.other|default_if_none:''|cutzero }}"/>
            </td>
            <td title="總工程金額(元)" id="rTotalProjectBudget_{{ f.id }}" align="right" bgcolor="pink" old_bgcolor="pink">
                {% ifnotequal f.rTotalProjectBudget 0 %}{{ f.rTotalProjectBudget|default_if_none:''|intcomma|cutzero }}{% endifnotequal %}
            </td>
            <td title="延續工程保留金額已撥款(元)" id="rTotalAppropriatebyLastYear_{{ f.id }}" align="right" bgcolor="#E7CDFF" old_bgcolor="#E7CDFF">
                {% ifnotequal f.budget.TotalAppropriatebyLastYear 0 %}{{ f.budget.TotalAppropriatebyLastYear|default_if_none:''|intcomma|cutzero }}{% endifnotequal %}
            </td>
            <td title="工程剩餘需今年撥款數(元)" id="rShouldPayThisYear_{{ f.id }}" align="right" bgcolor="#E7CDFF" old_bgcolor="#E7CDFF">
                {% ifnotequal f.budget.ShouldPayThisYear 0 %}{{ f.budget.ShouldPayThisYear|default_if_none:''|intcomma|cutzero }}{% endifnotequal %}
            </td>
            <td title="已撥金額合計(元)" id="rTotalAppropriatebyThisYear_{{ f.id }}" align="right" bgcolor="#E7CDFF" old_bgcolor="#E7CDFF">
                {% ifnotequal f.budget.TotalAppropriatebyThisYear 0 %}{{ f.budget.TotalAppropriatebyThisYear|default_if_none:''|intcomma|cutzero }}{% endifnotequal %}
            </td>
            <td title="未撥金額合計(元)" id="rTotalProjectNotPayThisYear_{{ f.id }}" align="right" bgcolor="#E7CDFF" old_bgcolor="#E7CDFF">
                {% ifnotequal f.budget.TotalProjectNotPayThisYear 0 %}{{ f.budget.TotalProjectNotPayThisYear|default_if_none:''|intcomma|cutzero }}{% endifnotequal %}
            </td>
        </tr>
    {% endfor %}


</table>
</div>
<br><br>


<script type="text/javascript">
//<![CDATA[

(function() {
	var mySt = new superTable("SuperTable", {
		cssSkin : "sSky",
		fixedCols : 0,
		headerRows : 1,
		onStart : function () {
			this.start = new Date();
		},
		onFinish : function () {
			document.getElementById("SuperDiv").innerHTML += "Finished...<br>" + ((new Date()) - this.start) + "ms.<br>";
		}
	});
})();

//]]>
</script>

{% endblock %}