<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ export_custom_report.name }}報表</title>
    </head>
    <body>
        <a href="/project/export_custom_report/csv/{{ export_custom_report.id }}.xls?{{ querystring }}">下載檔案</a><br/>
        <table border="1">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>標案編號</th>
                    <th>工作名稱</th>
                    {% for field in fields %}
                        <th>{{ field.report_field.name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for data in datas %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        {% for d in data %}
                            <td>{{ d|default_if_none:"&nbsp;" }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>