{% extends 'fishuser/index.html' %}
{% block menu %}
    <ul id="menu" value ="/project/addproject/"></ul>
{% endblock %}
{% block scriptlib %}
    <script type="text/javascript" src="/media/project/js/lib.js"></script>
    <script type="text/javascript" src="/media/project/project.js"></script>
    <script type="text/javascript" src="/media/jquery-plugins/jquery.json-2.2.js"></script>
    
    <link rel="stylesheet" href="/media/project/SuperTable/stylesheets/superTables.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/media/project/SuperTable/javascripts/superTables.js"></script>
    <script type="text/javascript" src="/media/project/sortable/sorttable.js"></script>
{% endblock %}
{% block content %}

{% endblock %}
