{% extends 'project/index.html' %}

{% load utiltags %}
{% block menu %}
    <ul id="menu" value ="/project/makedownloadfile/"></ul>
{% endblock %}
{% block style %}
.style1 {
	color: #CC9900;
	font-size: 24px;
}
.style2 {
	color: #FF0000;
}
.style3 {
	color: #009900;
	font-size: 20px;
}
{% endblock %}

{% block content %}
<br><br>

<select class="makeDownloadFile style3" table_type="1" name="makeDownloadFile" id="makeDownloadFile">
  <option value="">　請選擇　</option>
  <option value="project_progress" {% ifequal 'project_progress' select_type %}selected="selected"{% endifequal %}>　1.工程進度格式表　</option>
  <option value="plan_progress" {% ifequal 'plan_progress' select_type %}selected="selected"{% endifequal %}>　2.計畫執行進度表　</option>
</select>
<br><br><hr width="900" color="#ff8000" noshade title="這不是分隔線"><br>
    
{% block searchtable %}
{% endblock %}

{% endblock %}