<div class="flora" style="overflow: auto">
    <table class="add_plan_table">
        <tr>
            <td>
                <h1>請選擇欲編輯之類別：</h1><br>
                <table>
                    <tr>
                        <td>年度：</td>
                        <td>
                            <select id="year">
                                {% for year in years %}
                                    <option value="{{ year }}" {% ifequal today_year year %}selected{% endifequal %}>{{ year }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>是否包含下層計畫之工程：</td>
                        <td>
                            <select id="sub_plan">
                                <option value="0" selected>否</option>
                                <option value="1">是</option>
                            </select>
                        </td>
                    </tr>
<!--                    <tr>
                        <td>預算別：</td>
                        <td>
                            <select id="budget_type">
                                {% for option in budget_types %}
                                    <option value="{{ option.0 }}">{{ option.1 }}</option>
                                {% endfor %}
                            </select>
                            (公務預算／特別預算)
                        </td>
                    </tr>-->
                    <tr>
                        <td>預算別：</td>
                        <td>
                            <select id="budget_sub_type">
                                {% for option in budget_sub_types %}
                                    <option value="{{ option.0 }}">{{ option.1 }}</option>
                                {% endfor %}
                            </select>
                            (資本門／經常門)
                        </td>
                    </tr>
                    <tr>
                        <td>承辦方式：</td>
                        <td>
                            <select id="undertake_type">
                                {% for option in undertake_types %}
                                    <option value="{{ option.0 }}">{{ option.1 }}</option>
                                {% endfor %}
                            </select>
                            (自辦／委辦／補助)
                        </td>
                    </tr>
                </table>
                <span style="display: none;" id="plan_id" plan_id="{{ plan_id }}"></span>
                <br><input id="editProjectListBudget_Button" type="submit" value="確定" />
            <td>
        <tr>
    </table>
</div>