{% extends 'project/makedownloadfile.html' %}

{% load utiltags %}
{% block searchtable %}
<span style="font-size: 18px">

    <form action="./" method="POST">
        <div style="display: none;" name="type" value="project_progress"></div>
        <table align="center">
            <tr>
            {% for field in form %}
                <th>{{ field.label_tag }}</th>
            {% endfor %}
            </tr>
            <tr>
            {% for field in form %}
                <td>{{ field }}</td>
            {% endfor %}
            </tr>
        </table>
        搜尋結果依照
        <select name="sortBy" id="id_sortBy">
            <option value="year" {% ifequal sortBy 'year' %}selected="selected"{% endifequal %}>年度</option>
            <option value="plan" {% ifequal sortBy 'plan' %}selected="selected"{% endifequal %}>所屬計畫</option>
            <option value="unit" {% ifequal sortBy 'unit' %}selected="selected"{% endifequal %}>執行機關</option>
            <option value="status" {% ifequal sortBy 'status' %}selected="selected"{% endifequal %}>工程狀態</option>
        </select>
        排序<br>

        <input type="submit" name="submit" value="開始搜尋" style="width:100px;height:50px;" onClick="loading(this)">
        {% if projects %}
            <input
               type="submit"
               name="makeWorkExcel"
               id="makeWorkExcel"
               value="將此結果匯出報表"
               title="按下匯出Excel"
               style="color:#336600;width:120px;height:50px;"
               onMouseOver="this.style.color = '#0000FF';"
               onMouseOut="this.style.color = '#336600';"
               onClick="loading(this)">
            <br>
            <div style="display: none;" id="makeWorkExcel_mag">
                <span style="color:#FF0000;">
                <img src="/media/images/uploading.gif" title="讀取中">報表製造將花費數秒時間<br>請勿關閉此頁面或重新整理
                </span>
            </div>
        {% endif %}
        <br>
    </form>

    {% pyif projects_num == 0 %}
        無資料，請重設搜尋條件
    {% endif %}

    {% pyif projects_num > 0 %}
        <div align="right" style="margin-right: 200px">共 {{ projects_num }} 個結果</div>
        {% ifnotequal page_list.all_pages 1 %}
            {% if page_list.previous_page %}
                <a href="./?{{ querystring }}&page={{ page_list.previous_page }}">上一頁</a>
            {% endif %}
            {% for page in page_list.page_list %}
                {% ifequal page page_list.now_page %}
                    <span class="page-number active">{{ page }}</span>
                {% else %}
                    <a href="./?{{ querystring }}&page={{ page }}">{{ page }}</a>
                {% endifequal %}
            {% endfor %}
            {% if page_list.next_page %}
                <a href="./?{{ querystring }}&page={{ page_list.next_page }}">下一頁</a>
            {% endif %}
        {% endifnotequal %}

        <table border="1" style="border-collapse: collapse">
            <thead bgcolor='#BBFFDD'>
                <th>年度</th>
                <th>標案編號</th>
                <th>工作名稱</th>
                <th>縣市</th>
                <th>計畫名稱</th>
                <th>工程狀態</th>
                <th>執行機關</th>
                <th>發文(核定)日期</th>
                <th>連絡人</th>
            </thead>
            <tbody align="left">
                {% for p in projects %}
                    <tr class="{% cycle "odd" "even" %}">
                        <td>{{ p.year }}</td>
                        <td><a href="/project/reproject/{{ p.id }}/" target="_blank">{{ p.bid_no }}</a></td>
                        <td>{{ p.name }}</td>
                        <td>{% if p.place %}{{ p.place.name }}{% endif %}</td>
                        <td>{{ p.plan.name }}</td>
                        <td {% ifequal p.status.value '待審查' %}class='style2'{% endifequal %}>{{ p.status.value }}</td>
                        <td>{% if p.unit %}{{ p.unit.name }}{% endif %}</td>
                        <td>{% if p.vouch_date %}{{ p.vouch_date }}{% endif %}</td>
                        <td>{% if p.self_contacter %}{{ p.self_contacter }}{% endif %}</td>
                    </tr>
                {% endfor %}
            <tbody>
        </table>
        {% ifnotequal page_list.all_pages 1 %}
            {% if page_list.previous_page %}
                <a href="./?{{ querystring }}&page={{ page_list.previous_page }}">上一頁</a>
            {% endif %}
            {% for page in page_list.page_list %}
                {% ifequal page page_list.now_page %}
                    <span class="page-number active">{{ page }}</span>
                {% else %}
                    <a href="./?{{ querystring }}&page={{ page }}">{{ page }}</a>
                {% endifequal %}
            {% endfor %}
            {% if page_list.next_page %}
                <a href="./?{{ querystring }}&page={{ page_list.next_page }}">下一頁</a>
            {% endif %}
        {% endifnotequal %}
        <div align="right" style="margin-right: 200px">共 {{ projects_num }} 個結果</div>
    {% endif %}
    </div>

</span>
{% endblock %}