{% extends 'project/makedownloadfile.html' %}

{% load utiltags %}
{% block searchtable %}
<h2>

    請選擇您需匯出報表的計畫 <br>
    <input
       type="submit"
       name="makeWorkExcel"
       id="makeWorkExcel"
       file_type="{{ select_type }}"
       value="將此結果匯出報表"
       title="按下匯出Excel"
       style="color:#336600;width:120px;height:50px;"
       onMouseOver="this.style.color = '#0000FF';"
       onMouseOut="this.style.color = '#336600';"
       onClick="loading(this)">
    <br><br>
    選擇
    <select name="year" id="select_year" class="selectYearByChage">
      {% for year in years %}
      <option value="{{ year }}" {% ifequal year select_year %}selected="selected"{% endifequal %}>　{{ year }}　</option>
      {% endfor %}
    </select>
    年度，
    並計算至
    <select name="month" id="select_month">
      {% for month in months %}
      <option value="{{ month }}" {% ifequal month select_month %}selected="selected"{% endifequal %}>　{{ month }}　</option>
      {% endfor %}
    </select>
    月份<br><br>
    <div style="display: none;" id="makeWorkExcel_mag">
        <span style="color:#FF0000;">
        <img src="/media/images/uploading.gif" title="讀取中">報表製造將花費數秒時間<br>請勿關閉此頁面或重新整理
        </span>
    </div>
    <table border="1" style="border-collapse: collapse">
        <tr>
            <td bgcolor="#FF9966" align="center">勾選</td>
            <td bgcolor="#FF9966" align="center">計　劃　名　稱</td>
        </tr>
        {% for plan in plans %}
        <tr align="left">
            <td id="setPlanToWorkExcel_{{ plan.id }}" align="center">
                <input class="setPlanToWorkExcel checkbox_{{ plan.id }}"
                {% if p.default %}checked{% endif %} type="checkbox" name="checkbox"
                value="{{ plan.id }}">
            </td>
            <td width="750">
                <span style="padding-left: {{ plan.front }}px;display:inline-block;">{{ plan.name }}</span>
            </td>
        </tr>
        {% endfor %}
    </table>
    

</h2>
{% endblock %}