{% extends 'project/index.html' %}
{% block menu %}
    <ul id="menu" value ="/project/makestatistics/"></ul>
{% endblock %}
{% block style %}
.style0 {
	color: #0099CC;
	font-size: 24px;
}
.style1 {
	color: #009900;
	font-size: 20px;
    background-color:#CCFFCC;
}
.style2 {
	color: #009900;
	font-size: 20px;
}
.style3 {
	color: #0033FF;
}
.style4 {
	color: #0000FF;
	font-size: 18px;
}
{% endblock %}
{% block content %}
<br>
<table>
    <tr>
        <td align="center"><span class="style4">年度</span></td>
        <td align="center"><span class="style4">執行機關</span></td>
        <td align="center"><span class="style4">承辦方式</span></td>
        <td align="center"><span class="style4">漁港</span></td>
    </tr>
    <tr>
        <td>
            <select class="makeStatistics_change style2" name="year" id="select_year">
              {% for year in years %}
              <option value="{{ year }}" {% ifequal year select_year %}selected="selected"{% endifequal %}>　{{ year }}　</option>
              {% endfor %}
            </select>
        </td>
        <td>
            <select class="makeStatistics_change style2" table_type="1" name="unit" id="select_unit">
              <option value="0">　全部單位　</option>
              {% for id,unit in units %}
              <option value="{{ id }}" {% ifequal id select_unit %}selected="selected"{% endifequal %}>　{{ unit }}　</option>
              {% endfor %}
            </select>
        </td>
        <td>
            <select class="makeStatistics_change style2" table_type="1" name="undertake_type" id="select_undertake_type">
              <option value="0">　全部　</option>
              {% for id,type in undertake_types %}
              <option value="{{ id }}" {% ifequal id select_undertake_type %}selected="selected"{% endifequal %}>　{{ type }}　</option>
              {% endfor %}
            </select>
        </td>
        <td>
            <select class="makeStatistics_change style2" table_type="1" name="undertake_type" id="select_fishingport" {% ifequal select_unit 0 %}disabled="true"{% endifequal %} {% if not fishingports %}disabled="true"{% endif %}>
              <option value="0">　全部　</option>
              {% for id,port in fishingports %}
              <option value="{{ id }}" {% ifequal id select_fishingport %}selected="selected"{% endifequal %}>　{{ port }}　</option>
              {% endfor %}
            </select>
        </td>
    </tr>
</table>
      <br><hr width="900" color="#ff8000" noshade title="這不是分隔線"><br>
    <div style="display: none;" select_type="{{ type_id }}" id="type_id"></div>
    <div style="display: none;" befure_select_unit="{{ select_unit }}" id="befure_select_unit"></div>
    <table>
        <tr>
            <td width="320" valign="top">
                <a table_type="1" class='makeStatistics {% ifequal type '各執行機關執行率' %}style1{% endifequal %}'>1.各執行機關執行率</a><br><br>
                <a table_type="2" class='makeStatistics {% ifequal type '各執行機關所屬工程件數金額' %}style1{% endifequal %}'>2.各執行機關所屬工程_件數_金額</a><br><br>
                <a table_type="3" class='makeStatistics {% ifequal type '各執行機關開工月份分佈表' %}style1{% endifequal %}'>3.各執行機關_開工月份_分佈表</a><br><br>
            </td>
            <td width="320" valign="top">
                <a table_type="4" class='makeStatistics {% ifequal type '各執行機關工程金額分佈表' %}style1{% endifequal %}'>4.各執行機關工程_金額區間_分佈表</a><br><br>
            </td>
            <td width="320" valign="top">
            </td>
        </tr>
    </table>
    <hr width="900" color="#ff8000" noshade title="這不是分隔線">
    <span class="style0">以下資料為 "{{ select_year }}" 年之統計</span><br><br>
    {% block table %}
    請選擇您需要的統計表格
    {% endblock %}
<br>
{% endblock %}
