<div class="flora" style="overflow: auto">
    <span style="font-size: 13px;">
    共件 {{ project_num }} 工程案
    <table border="1" style="border-collapse: collapse">
        <thead bgcolor='#BBFFDD'>
            <th></th>
            <th width="30px">年度</th>
            <th width="100px">計畫編號</th>
            <th width="50px">縣市</th>
            <th width="80px">漁港</th>
            <th width="260px">工作名稱</th>
            <th width="60px">承辦方式</th>
            <th width="110px">執行機關</th>
            <th width="60px">執行單位<br>聯絡窗口</th>
            <th width="60px">遠端匯入</th>
        </thead>
        <tbody>
            {% for p in projects %}
                <tr id="tr_project_{{ p.id }}" align="left" class="{% cycle "odd" "even" %}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ p.year }}</td>
                    <td title="{{ p.plan.no }}">{{ p.work_no|default_if_none:'' }}</td>
                    <td align="center">{{ p.place.name|default_if_none:'' }}</td>
                    <td>{% for port in p.rSubLocation %}{{ port.name }}{% endfor %}</td>
                    <td><a href="/project/reproject/{{ p.id }}/" target="_blank" style="color: blue">{{ p.name }}</a></td>
                    <td title="{{ p.undertake_type.value }}" align="center">{{ p.undertake_type.value|default_if_none:'' }}</td>
                    <td>{{ p.unit.name|default_if_none:'' }}</td>
                    <td>{{ p.self_contacter|default_if_none:'' }}</td>
                    <td>
                        {% if p.frcmuser %}
                            <a href="/frcm/{{ p.id }}/profile/" target="_blank" style="color: blue">{{ p.frcmuser.user_profile.rName }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        <tbody>
    </table>
    </span>
</div>