{% extends 'project/project.html' %}
{% block menu %}
{% endblock %}
{% block title %}<title id="title">{{ target_project }} 工程資訊</title>{% endblock %}
{% block style %}
td {padding:3px 5px;}
{% endblock %}
{% block content %}
        <span style="font-size: 18px">
        <form method="POST">
        <ul><h1><a id="{{ target_project.id }}" class="target_project" name="Milestone"></a></h1><br>
            <table  style="border-collapse: collapse" border="1" cellpadding="2" cellspacing="2">
            <tbody align="left">
                <tr>
                    </td>
                    <td width="150" bgcolor="#FFCC33" align="center"><center>里程碑</center></td>
                    <td width="180" bgcolor="#FFCC33" align="center"><center>預定日期</center></td>
                    <td width="180" bgcolor="#FFCC33" align="center"><center>實際日期</center></td>
                </tr>
<!--
                <tr>
                    <td>工程序號</td>
                    <td id="no" class="" colspan="3" rowspan="1">
                        <span id="no" class="" size="56" type="text"><center>{{ target_project.no }}</center></span>
                    </td>
                </tr>
-->
                <tr>
                    <td bgcolor="#FFFF99">招標文件完成</td>
                        {% if edit %}
                            <td id="schedule_final_doc_date" class="editable">
                                <a id="schedule_final_doc_date" class="show_schedule_final_doc_date">{% if target_project.schedule_final_doc_date %}{{ target_project.schedule_final_doc_date }}{% else %}{% endif %}</a>
                                <input id="schedule_final_doc_date"  class="edit_schedule_final_doc_date update_edited chooseDate" size="12" type="text" value="{% if target_project.schedule_final_doc_date %}{{ target_project.schedule_final_doc_date }}{% else %}{% endif %}" old_value="{% if target_project.schedule_final_doc_date %}{{ target_project.schedule_final_doc_date }}{% else %}{% endif %}" style="display: none;">
                            </td>
                        {% else %}
                            <td>
                                {% if target_project.schedule_final_doc_date %}{{ target_project.schedule_final_doc_date }}{% else %}{% endif %}
                            </td>
                        {% endif %}

                        {% if edit %}
                            <td id="actuality_final_doc_date" class="editable">
                                <a id="actuality_final_doc_date" class="show_actuality_final_doc_date">{% if target_project.actuality_final_doc_date %}{{ target_project.actuality_final_doc_date }}{% else %}{% endif %}</a>
                                <input id="actuality_final_doc_date"  class="edit_actuality_final_doc_date update_edited chooseDate" size="12" type="text" value="{% if target_project.actuality_final_doc_date %}{{ target_project.actuality_final_doc_date }}{% else %}{% endif %}" old_value="{% if target_project.actuality_final_doc_date %}{{ target_project.actuality_final_doc_date }}{% else %}{% endif %}" style="display: none;">
                            </td>
                        {% else %}
                            <td>
                                {% if target_project.actuality_final_doc_date %}{{ target_project.actuality_final_doc_date }}{% else %}{% endif %}
                            </td>
                        {% endif %}
                </tr>
                <tr>
                    <td bgcolor="#FFFF99">招標文件核准</td>
                        {% if edit %}
                            <td id="schedule_approve_date" class="editable">
                                <a id="schedule_approve_date" class="show_schedule_approve_date">{% if target_project.schedule_approve_date %}{{ target_project.schedule_approve_date }}{% else %}{% endif %}</a>
                                <input id="schedule_approve_date"  class="edit_schedule_approve_date update_edited chooseDate" size="12" type="text" value="{% if target_project.schedule_approve_date %}{{ target_project.schedule_approve_date }}{% else %}{% endif %}" old_value="{% if target_project.schedule_approve_date %}{{ target_project.schedule_approve_date }}{% else %}{% endif %}" style="display: none;">
                            </td>
                        {% else %}
                            <td>
                                {% if target_project.schedule_approve_date %}{{ target_project.schedule_approve_date }}{% else %}{% endif %}
                            </td>
                        {% endif %}

                        {% if edit %}
                            <td id="actuality_approve_date" class="editable">
                                <a id="actuality_approve_date" class="show_actuality_approve_date">{% if target_project.actuality_approve_date %}{{ target_project.actuality_approve_date }}{% else %}{% endif %}</a>
                                <input id="actuality_approve_date"  class="edit_actuality_approve_date update_edited chooseDate" size="12" type="text" value="{% if target_project.actuality_approve_date %}{{ target_project.actuality_approve_date }}{% else %}{% endif %}" old_value="{% if target_project.actuality_approve_date %}{{ target_project.actuality_approve_date }}{% else %}{% endif %}" style="display: none;">
                            </td>
                        {% else %}
                            <td>
                                {% if target_project.actuality_approve_date %}{{ target_project.actuality_approve_date }}{% else %}{% endif %}
                            </td>
                        {% endif %}
                </tr>
                <tr>
                    <td bgcolor="#FFFF99">上網公告</td>
                        {% if edit %}
                            <td id="schedule_bulletin_date" class="editable">
                                <a id="schedule_bulletin_date" class="show_schedule_bulletin_date">{% if target_project.schedule_bulletin_date %}{{ target_project.schedule_bulletin_date }}{% else %}{% endif %}</a>
                                <input id="schedule_bulletin_date"  class="edit_schedule_bulletin_date update_edited chooseDate" size="12" type="text" value="{% if target_project.schedule_bulletin_date %}{{ target_project.schedule_bulletin_date }}{% else %}{% endif %}" old_value="{% if target_project.schedule_bulletin_date %}{{ target_project.schedule_bulletin_date }}{% else %}{% endif %}" style="display: none;">
                            </td>
                        {% else %}
                            <td>
                                {% if target_project.schedule_bulletin_date %}{{ target_project.schedule_bulletin_date }}{% else %}{% endif %}
                            </td>
                        {% endif %}

                        {% if edit %}
                            <td id="actuality_bulletin_date" class="editable">
                                <a id="actuality_bulletin_date" class="show_actuality_bulletin_date">{% if target_project.actuality_bulletin_date %}{{ target_project.actuality_bulletin_date }}{% else %}{% endif %}</a>
                                <input id="actuality_bulletin_date"  class="edit_actuality_bulletin_date update_edited chooseDate" size="12" type="text" value="{% if target_project.actuality_bulletin_date %}{{ target_project.actuality_bulletin_date }}{% else %}{% endif %}" old_value="{% if target_project.actuality_bulletin_date %}{{ target_project.actuality_bulletin_date }}{% else %}{% endif %}" style="display: none;">
                            </td>
                        {% else %}
                            <td>
                                {% if target_project.actuality_bulletin_date %}{{ target_project.actuality_bulletin_date }}{% else %}{% endif %}
                            </td>
                        {% endif %}
                </tr>
                <tr>
                    <td bgcolor="#FFFF99">評選</td>
                        {% if edit %}
                            <td id="schedule_appraisal_date" class="editable">
                                <a id="schedule_appraisal_date" class="show_schedule_appraisal_date">{% if target_project.schedule_appraisal_date %}{{ target_project.schedule_appraisal_date }}{% else %}{% endif %}</a>
                                <input id="schedule_appraisal_date"  class="edit_schedule_appraisal_date update_edited chooseDate" size="12" type="text" value="{% if target_project.schedule_appraisal_date %}{{ target_project.schedule_appraisal_date }}{% else %}{% endif %}" old_value="{% if target_project.schedule_appraisal_date %}{{ target_project.schedule_appraisal_date }}{% else %}{% endif %}" style="display: none;">
                            </td>
                        {% else %}
                            <td>
                                {% if target_project.schedule_appraisal_date %}{{ target_project.schedule_appraisal_date }}{% else %}{% endif %}
                            </td>
                        {% endif %}

                        {% if edit %}
                            <td id="actuality_appraisal_date" class="editable">
                                <a id="actuality_appraisal_date" class="show_actuality_appraisal_date">{% if target_project.actuality_appraisal_date %}{{ target_project.actuality_appraisal_date }}{% else %}{% endif %}</a>
                                <input id="actuality_appraisal_date"  class="edit_actuality_appraisal_date update_edited chooseDate" size="12" type="text" value="{% if target_project.actuality_appraisal_date %}{{ target_project.actuality_appraisal_date }}{% else %}{% endif %}" old_value="{% if target_project.actuality_appraisal_date %}{{ target_project.actuality_appraisal_date }}{% else %}{% endif %}" style="display: none;">
                            </td>
                        {% else %}
                            <td>
                                {% if target_project.actuality_appraisal_date %}{{ target_project.actuality_appraisal_date }}{% else %}{% endif %}
                            </td>
                        {% endif %}
                </tr>
                <tr>
                    <td bgcolor="#FFFF99">決標</td>
                        {% if edit %}
                            <td id="schedule_award_date" class="editable">
                                <a id="schedule_award_date" class="show_schedule_award_date">{% if target_project.schedule_award_date %}{{ target_project.schedule_award_date }}{% else %}{% endif %}</a>
                                <input id="schedule_award_date"  class="edit_schedule_award_date update_edited chooseDate" size="12" type="text" value="{% if target_project.schedule_award_date %}{{ target_project.schedule_award_date }}{% else %}{% endif %}" old_value="{% if target_project.schedule_award_date %}{{ target_project.schedule_award_date }}{% else %}{% endif %}" style="display: none;">
                            </td>
                        {% else %}
                            <td>
                                {% if target_project.schedule_award_date %}{{ target_project.schedule_award_date }}{% else %}{% endif %}
                            </td>
                        {% endif %}

                        {% if edit %}
                            <td id="actuality_award_date" class="editable">
                                <a id="actuality_award_date" class="show_actuality_award_date">{% if target_project.actuality_award_date %}{{ target_project.actuality_award_date }}{% else %}{% endif %}</a>
                                <input id="actuality_award_date"  class="edit_actuality_award_date update_edited chooseDate" size="12" type="text" value="{% if target_project.actuality_award_date %}{{ target_project.actuality_award_date }}{% else %}{% endif %}" old_value="{% if target_project.actuality_award_date %}{{ target_project.actuality_award_date }}{% else %}{% endif %}" style="display: none;">
                            </td>
                        {% else %}
                            <td>
                                {% if target_project.actuality_award_date %}{{ target_project.actuality_award_date }}{% else %}{% endif %}
                            </td>
                        {% endif %}
                </tr>
                <tr>
                    <td bgcolor="#FFFF99">期初完成</td>
                        {% if edit %}
                            <td id="schedule_primary_date" class="editable">
                                <a id="schedule_primary_date" class="show_schedule_primary_date">{% if target_project.schedule_primary_date %}{{ target_project.schedule_primary_date }}{% else %}{% endif %}</a>
                                <input id="schedule_primary_date"  class="edit_schedule_primary_date update_edited chooseDate" size="12" type="text" value="{% if target_project.schedule_primary_date %}{{ target_project.schedule_primary_date }}{% else %}{% endif %}" old_value="{% if target_project.schedule_primary_date %}{{ target_project.schedule_primary_date }}{% else %}{% endif %}" style="display: none;">
                            </td>
                        {% else %}
                            <td>
                                {% if target_project.schedule_primary_date %}{{ target_project.schedule_primary_date }}{% else %}{% endif %}
                            </td>
                        {% endif %}

                        {% if edit %}
                            <td id="actuality_primary_date" class="editable">
                                <a id="actuality_primary_date" class="show_actuality_primary_date">{% if target_project.actuality_primary_date %}{{ target_project.actuality_primary_date }}{% else %}{% endif %}</a>
                                <input id="actuality_primary_date"  class="edit_actuality_primary_date update_edited chooseDate" size="12" type="text" value="{% if target_project.actuality_primary_date %}{{ target_project.actuality_primary_date }}{% else %}{% endif %}" old_value="{% if target_project.actuality_primary_date %}{{ target_project.actuality_primary_date }}{% else %}{% endif %}" style="display: none;">
                            </td>
                        {% else %}
                            <td>
                                {% if target_project.actuality_primary_date %}{{ target_project.actuality_primary_date }}{% else %}{% endif %}
                            </td>
                        {% endif %}
                </tr>
                <tr>
                    <td bgcolor="#FFFF99">期中完成</td>
                        {% if edit %}
                            <td id="schedule_middle_date" class="editable">
                                <a id="schedule_middle_date" class="show_schedule_middle_date">{% if target_project.schedule_middle_date %}{{ target_project.schedule_middle_date }}{% else %}{% endif %}</a>
                                <input id="schedule_middle_date"  class="edit_schedule_middle_date update_edited chooseDate" size="12" type="text" value="{% if target_project.schedule_middle_date %}{{ target_project.schedule_middle_date }}{% else %}{% endif %}" old_value="{% if target_project.schedule_middle_date %}{{ target_project.schedule_middle_date }}{% else %}{% endif %}" style="display: none;">
                            </td>
                        {% else %}
                            <td>
                                {% if target_project.schedule_middle_date %}{{ target_project.schedule_middle_date }}{% else %}{% endif %}
                            </td>
                        {% endif %}

                        {% if edit %}
                            <td id="actuality_middle_date" class="editable">
                                <a id="actuality_middle_date" class="show_actuality_middle_date">{% if target_project.actuality_middle_date %}{{ target_project.actuality_middle_date }}{% else %}{% endif %}</a>
                                <input id="actuality_middle_date"  class="edit_actuality_middle_date update_edited chooseDate" size="12" type="text" value="{% if target_project.actuality_middle_date %}{{ target_project.actuality_middle_date }}{% else %}{% endif %}" old_value="{% if target_project.actuality_middle_date %}{{ target_project.actuality_middle_date }}{% else %}{% endif %}" style="display: none;">
                            </td>
                        {% else %}
                            <td>
                                {% if target_project.actuality_middle_date %}{{ target_project.actuality_middle_date }}{% else %}{% endif %}
                            </td>
                        {% endif %}
                </tr>
                <tr>
                    <td bgcolor="#FFFF99">期末完成</td>
                        {% if edit %}
                            <td id="schedule_terminal_date" class="editable">
                                <a id="schedule_terminal_date" class="show_schedule_terminal_date">{% if target_project.schedule_terminal_date %}{{ target_project.schedule_terminal_date }}{% else %}{% endif %}</a>
                                <input id="schedule_terminal_date"  class="edit_schedule_terminal_date update_edited chooseDate" size="12" type="text" value="{% if target_project.schedule_terminal_date %}{{ target_project.schedule_terminal_date }}{% else %}{% endif %}" old_value="{% if target_project.schedule_terminal_date %}{{ target_project.schedule_terminal_date }}{% else %}{% endif %}" style="display: none;">
                            </td>
                        {% else %}
                            <td>
                                {% if target_project.schedule_terminal_date %}{{ target_project.schedule_terminal_date }}{% else %}{% endif %}
                            </td>
                        {% endif %}

                        {% if edit %}
                            <td id="actuality_terminal_date" class="editable">
                                <a id="actuality_terminal_date" class="show_actuality_terminal_date">{% if target_project.actuality_terminal_date %}{{ target_project.actuality_terminal_date }}{% else %}{% endif %}</a>
                                <input id="actuality_terminal_date"  class="edit_actuality_terminal_date update_edited chooseDate" size="12" type="text" value="{% if target_project.actuality_terminal_date %}{{ target_project.actuality_terminal_date }}{% else %}{% endif %}" old_value="{% if target_project.actuality_terminal_date %}{{ target_project.actuality_terminal_date }}{% else %}{% endif %}" style="display: none;">
                            </td>
                        {% else %}
                            <td>
                                {% if target_project.actuality_terminal_date %}{{ target_project.actuality_terminal_date }}{% else %}{% endif %}
                            </td>
                        {% endif %}
                </tr>
            </tbody>
            </table>

            <br>
                <span class="notice" id="message">{{ message }}</span>
        </form>
        </span>
    


{% endblock %}
