{% load utiltags %}
{% load humanize %}
{% if not pcc_record %}
<h3>
    <span>此工程尚未與工程會標案管理系統同步。</span><br>
    <span>請至工程基本資料填寫工程會編號以讀取標案管理系統資訊。</span>
</h3>
{% else %}
<table style="border-collapse: collapse" border="1" cellpadding="2" cellspacing="2">
    <thead bgcolor="#EEEEEE">
        <tr>
            <th colspan="6">
                標案系統工程名稱：{{ pcc_record.name }}
            </th>
        </tr>
        <tr align="center">
            <th width="70">年度</th>
            <th width="70">月份</th>
            <th width="150">年累計預定進度</th>
            <th width="150">年累計實際進度</th>
            <th width="150">執行狀態</th>
            <th width="50"></th>
        </tr>
    </thead>
    <tbody>
        {% for progress in pcc_progress %}
        <tr class="hightlightRow" align="center" height="30">
            <td>{{ progress.year }}</td>
            <td>{{ progress.month }}</td>
            <td>{{ progress.total_s_progress }} ％</td>
            <td>{{ progress.total_r_progress }} ％</td>
            <td>{{ progress.status.value }}</td>
            <td>{% if not progress.new_progress_pcc_source.get %}<button class="syncProgress" relay_progress_id="{{ progress.id }}" style="font-size: 12px;">同步</button>{% else %}<span style="font-size: 12px;">已同步</span>{% endif %}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="6" align="right">
                最後更新時間：{{ pcc_record.lastsync }}
            </td>
        </tr>
    </tbody>
</table>
{% endif %}