{% extends 'project/project.html' %}
{% block menu %}
{% endblock %}
{% block title %}<title id="title">{{ target_project }} 工程資訊</title>{% endblock %}

{% block content %}
<span style="font-size: 18px">
<br>
    {% if edit %}
    <table width="800">
        <tbody align="left">
        <tr>
            <td width="100" valign="top">相片名稱：<br>(可留空)</td>
            <td valign="top"><input id="name" type="text" name="name" size="36" value=""></td>
            <td width="400" align="right" rowspan="4">
                {% if in_frcm %}
                    已經在遠端工程系統<br>被匯入並開始管理中<br>
                    遠端工程系統有 {{ frcm_photo_num }} 張相片<br>
                    {% if can_see_photo %}
                    <a href="{% url 'go_photo' project_id=target_project.id %}" target="_blank">
                    <img src="/media/project/image/gotoengphoto.png" width="160" height="80" title="點擊我前往觀看">
                    </a>
                    {% endif %}
                {% else %}
                    此工程尚未在遠端工程系統做管理
                {% endif %}
            </td>
        </tr>
        <tr>
            <td valign="top">相片備註：<br>(可留空)</td>
            <td><textarea id="memo" cols="30" rows="3" name="memo"></textarea></td>
        </tr>
        <tr>
            <td valign="top">選擇檔案：</td>
            <td><input id="file" type="file" name="file"></td>
        </tr>
        <tr>
            <td align="center" colspan="2"><input type="button" project_id="{{ target_project.id }}" id="uploadPhoto" name="uploadPhoto" value="--------確定上傳--------" onClick="submiting(this)"></td>
        </tr>
        </tbody>
    </table>
    {% else %}
    <table width="800">
        <tr>
            <td align="right">
                {% if in_frcm %}
                    已經在遠端工程系統<br>被匯入並開始管理中<br>
                    遠端工程系統有 {{ frcm_photo_num }} 張相片<br>
                    {% if can_see_photo %}
                    <a href="{% url 'go_photo' project_id=target_project.id %}" target="_blank">
                    <img src="/media/project/image/gotoengphoto.png" width="160" height="80" title="點擊我前往觀看">
                    </a>
                    {% endif %}
                {% else %}
                    此工程尚未在遠端工程系統做管理
                {% endif %}
            </td>
        </tr>
    </table>
    {% endif %}
    <hr width="900" color="#ff8000" noshade title="這不是分隔線">
    <br>
    管考系統中 共有　<span id="PhotoCount">{{ photos.count }}</span>　張相片(非遠端系統相片)
    <hr width="400" color="#ff8000" noshade title="這不是分隔線">
    <br id="PhotoTable_start">
    {% for photo in photos %}
    <table id="PhotoTable_{{ photo.id }}">
        <tr>
            <td align="center">第　{{ forloop.counter }}　張</td>
        </tr>
        <tr>
            <td>
                <table border="1" style="border-collapse: collapse">
                    <tr>
                        <td width="100" bgcolor="#FFFF99">相片名稱：</td>
                        <td width="220" {% if edit %}INFO="name_{{ photo.id }}" class="updatePhotoInfo_Show"{% endif %}>
                            {% if edit %}
                                <input id="Edit_name_{{ photo.id }}" class="updatePhotoInfo_Edit" style="display: none;"
                                photo_id="{{ photo.id }}" type="text" name="name" size="28"
                                old_value="{% if photo.name %}{{ photo.name }}{% endif %}"
                                value="{% if photo.name %}{{ photo.name }}{% endif %}">
                                <a id="Show_name_{{ photo.id }}">{{ photo.name }}</a>
                            {% else %}
                                {{ photo.name }}
                            {% endif %}
                        </td>
                        <td width="100" bgcolor="#FFFF99">上傳時間：</td>
                        <td>{{ photo.uploadtime }}</td>
                        <td>
                            {% if edit %}
                                <img class="deleteProjectPhoto" project_id="{{ target_project.id }}" photo_id="{{ photo.id }}" src="/media/images/delete.png" title="刪除相片">
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#FFFF99" valign="top">備註：</td>
                        <td colspan="4" {% if edit %}INFO="memo_{{ photo.id }}" class="updatePhotoInfo_Show"{% endif %}>
                            {% if edit %}
                                <textarea id="Edit_memo_{{ photo.id }}" class="updatePhotoInfo_Edit"
                                style="display: none;" photo_id="{{ photo.id }}" cols="60" rows="3" name="memo"
                                old_value="{% if photo.memo %}{{ photo.memo }}{% endif %}">{% if photo.memo %}{{ photo.memo }}{% endif %}</textarea>
                                <a id="Show_memo_{{ photo.id }}">{{ photo.memo|linebreaks }}</a>
                            {% else %}
                                {{ photo.memo|linebreaks }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5"><img height="480" width="640" src="/{{ photo.rUrl }}" title="{{ photo.name }}"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br>
    {% endfor %}
        




</span>
    


{% endblock %}
