{% extends 'project/index.html' %}

{% load utiltags %}
{% block menu %}
    <ul id="menu" value ="/project/search/"></ul>
{% endblock %}
{% block style %}
.style1 {
	color: #CC9900;
	font-size: 24px;
}
.style2 {
	color: #FF0000;
}
{% endblock %}

{% block content %}
<br><br>
<span style="font-size: 18px;"><a href="/project/search/">回 搜尋管考工程 頁面</a></span>

<br><span id="pagemark" page="search"></span>
<span style="font-size: 16px">
<br>回收區共有 {{ projects.count }} 件工程<br><br>
    <table border="1" style="border-collapse: collapse">
        <thead bgcolor='#BBFFDD'>
            <th>救回</th>
            <th></th>
            <th>年度</th>
            <th>標案編號</th>
            <th width="200">工作名稱</th>
            <th>縣市</th>
            <th>計畫名稱</th>
            <!--<th width="160">工程狀態</th>-->
            <th width="100">工程進度</th>
            <th>執行機關</th>
            <th width="100">發文(核定)文號</th>
            <th>發文(核定)日期</th>
            <th>連絡人</th>
            <th>刪除人</th>
        </thead>
        <tbody>
            {% for p in projects %}
                <tr id="tr_project_{{ p.id }}" align="left" class="{% cycle "odd" "even" %}">
                    <td><img width="25" p_id="{{ p.id }}" p_name="{{ p.name }}" class="recoverProject" src="/media/images/sort.png" title="救回工程"></td>
                    <td>{{ p.order }}</td>
                    <td>{{ p.year }}</td>
                    <td><a href="/project/reproject/{{ p.id }}/" target="_blank">{{ p.bid_no }}</a></td>
                    <td>{{ p.name }}</td>
                    <td>{% if p.place %}{{ p.place.name }}{% endif %}</td>
                    <td title="{{ p.plan.name }}">{{ p.short_plan_name }}</td>
                    <!--<td id="status_{{ p.id }}" class="editable" project_id="{{ p.id }}" item="status" {% ifequal p.status.value '待審查' %}class='style2'{% endifequal %}>
                        <a id="status_{{ p.id }}" class="show_status_{{ p.id }}">{{ p.status.value }}</a>
                        <select id="status_{{ p.id }}" class="edit_status_{{ p.id }} update_edited" project_id="{{ p.id }}" field="status" value="{{ p.status.id }}" old_value="{{ p.status.id }}" style="display: none;">
                            {% for status in option.project_status %}
                                    <option value="{{ status.id }}" {% ifequal p.status.id status.id %}selected{% endifequal %}>{{ status.value }}</option>
                            {% endfor %}
                        </select>
                    </td>-->
                    <td align="center">{% ifequal p.getProgressPercent 0 %}0.00%{% else %}{{ p.getProgressPercent }}%{% endifequal %}</td>
                    <td>{% if p.unit %}{{ p.unit.name }}{% endif %}</td>
                    <td id="vouch_no_{{ p.id }}" class="editable" project_id="{{ p.id }}" item="vouch_no">
                        <a id="vouch_no_{{ p.id }}" class="show_vouch_no_{{ p.id }}">{% if p.vouch_no %}{{ p.vouch_no }}{% endif %}</a>
                        <input id="vouch_no_{{ p.id }}" class="edit_vouch_no_{{ p.id }} update_edited" project_id="{{ p.id }}" field="vouch_no" size="10" type="text" value="{% if p.vouch_no %}{{ p.vouch_no }}{% else %}{% endif %}" old_value="{% if p.vouch_no %}{{ p.vouch_no }}{% else %}{% endif %}" style="display: none;">
                    </td>
                    <td id="vouch_date_{{ p.id }}" class="editable" project_id="{{ p.id }}" item="vouch_date" align="right">
                        <a id="vouch_date_{{ p.id }}" class="show_vouch_date_{{ p.id }}">{% if p.vouch_date %}{{ p.vouch_date }}{% endif %}</a>
                        <input id="vouch_date_{{ p.id }}" class="edit_vouch_date_{{ p.id }} update_edited chooseDate" project_id="{{ p.id }}" field="vouch_date" size="10" type="text" value="{% if p.vouch_date %}{{ p.vouch_date }}{% else %}{% endif %}" old_value="{% if p.vouch_date %}{{ p.vouch_date }}{% else %}{% endif %}" style="display: none;">
                    </td>
                    <td>{% if p.self_contacter %}{{ p.self_contacter }}{% endif %}</td>
                    <td>{{ p.deleter.user_profile.rName }}</td>
                </tr>
            {% endfor %}
        <tbody>
    </table>
</span>
{% endblock %}