{% load utiltags %}
{% load humanize %}
<table  id="delete_ty_info" style="border-collapse: collapse;" border="1" cellpadding="2" cellspacing="2">
    <tr width="540">
        <td colspan="3" height="120">
            撤銷跨年申請將會刪除申請資料以及該年度會計資料，請確定是否真的要撤銷申請。<br>
            為防止誤刪，請輸入下方驗證碼。
        </td>
    </tr>
    <tr>
        <td width="180">請於右欄輸入驗證碼</td>
        <td width="180" id="delete_code" value="{{ delete_code }}"><center>{{ delete_code }}</center></td>
        <td width="180">
            <center><input id="check_code" size="22" type="text" value=""></center>
        </td>
    </tr>
    <tr>
        <td colspan="3" height="50"><center>
            <div id="ProjectSubmenu3">
                <ul>
                    <li><a id="delete_reserve" year="{{ target_year }}" class="delete_rf_info">撤銷跨年度申請</a></li>
                </ul>
            </div>
        </center></td>
    </tr>
</table>