{% load utiltags %}
{% load humanize %}
{% if not edit %}
<select id="{{ location_type }}" class="sub_location setCoord">
    <option value="" twdx="" twdy="">請選擇</option>
    {% for option in sub_options %}
    <option value="{{ option.id }}" twdx="{{ option.twd97.x }}" twdy="{{ option.twd97.y }}">{{ option.name }}</option>
    {% endfor %}
</select>
<span id="insertSubLocation"></span><br>
{% else %}
<tr id="row_{{ edit }}">
    <td id="sub_location_{{ edit }}" class="redaction">
        <a class="show_sub_location_{{ edit }}">請選擇</a>
        <select editing="sub_location_{{ edit }}" category="ProjectBase" class="edit_sub_location_{{ edit }} updateRedaction" value="" old_value="" style="display: none;">
<!--            <option value="" twdx="" twdy="">請選擇</option>-->
            {% for option in sub_options %}
            <option value="{{ option.id }}" twdx="{{ option.twd97.x }}" twdy="{{ option.twd97.y }}">{{ option.name }}</option>
            {% endfor %}
        </select>
    </td>
    <td>
        <img class="dSubLocation" src="/media/images/delete.png" onclick="dSubLocation('{{ edit }}')" title="刪除漁港/養殖區">
    </td>
</tr>
<span id="insertSubLocation"></span>
{% endif %}