{% extends 'project/makestatistics.html' %}
{% load humanize %}
{% load utiltags %}
 {% block table %}
<div id="dialog" title="" style="display:none;">
</div>

 <table>
    <tr>
        <td>
            <button class="makeChart" tp="makepie" table="{{ chart_cache_name }}">顯示圓餅圖</button>
        </td>
        <td>
            <button class="makeChart" tp="makebar" table="{{ chart_cache_name }}">顯示桿狀圖</button>
        </td>
        <td>
            <button class="makeChart" tp="makeplot" table="{{ chart_cache_name }}">顯示折線圖</button>
        </td>
    </tr>
</table>

<br>
    <table border="1" style="border-collapse: collapse">
        <tr>
            <td align="center" valign="middle" bgcolor="#FF9966">
                <input class="makeStatistics_not_Include_sub" id="makeStatistics_not_Include_sub" style="display: none;width:140px;height:35px;" type="button" value="顯示包含子計畫資訊" />
                <input class="makeStatistics_Include_sub" id="makeStatistics_Include_sub" style="width:140px;height:35px;" type="button" value="只顯示計畫所屬件數" />
            </td>
            <td bgcolor="#FF9966" align="center">
                <span class="makeStatistics_Include_sub">包含<br>子計畫件數</span>
                <span class="makeStatistics_not_Include_sub" style="display: none;">不含<br>子計畫件數</span>
            </td>
            <td bgcolor="#FF9966" align="center">
                <span class="makeStatistics_Include_sub">　總金額　</span>
                <span class="makeStatistics_not_Include_sub" style="display: none;">不含子計畫<br>總金額</span>
                <br>單位：千元
            </td>
            <td bgcolor="#333333" width="5"></td>
            {% for status in statuss %}
            <td align="center" width="60" {% ifequal status.value '待審查' %}bgcolor="#FF3333"{% else %}bgcolor="#FF9966"{% endifequal %}>
                <span class="style3 tag" tag="{{ status.value }}">{{ status.value }}{% ifequal status.value '待審查' %}<br>(不列入統計){% endifequal %}</span>
            </td>
            {% endfor %}
        </tr>
        {% for plan in plans %}
        <tr>
            <td align="left" width="280">
                <span style="padding-left: {{ plan.front }}px;display:inline-block;">{{ plan.name }}</span>(
                <img width="12" src="/media/images/repiechart.png" class="jsGetChart makeStatistics_Include_sub" mark="{{ plan.name }}" tp="makepie" tar="withsub_num_{{ plan.id }}" tf="table_2">
                <img width="12" src="/media/images/repiechart.png" class="jsGetChart makeStatistics_not_Include_sub" mark="{{ plan.name }}" tp="makepie" tar="nonesub_num_{{ plan.id }}" tf="table_2" style="display: none;">
                <img width="12" src="/media/images/barchart.png" class="jsGetChart makeStatistics_Include_sub" mark="{{ plan.name }}" tp="makebar" tar="withsub_num_{{ plan.id }}" tf="table_2">
                <img width="12" src="/media/images/barchart.png" class="jsGetChart makeStatistics_not_Include_sub" mark="{{ plan.name }}" tp="makebar" tar="nonesub_num_{{ plan.id }}" tf="table_2" style="display: none;">
                <img width="12" src="/media/images/linechart.png" class="jsGetChart makeStatistics_Include_sub" mark="{{ plan.name }}" tp="makeplot" tar="withsub_num_{{ plan.id }}" tf="table_2">
                <img width="12" src="/media/images/linechart.png" class="jsGetChart makeStatistics_not_Include_sub" mark="{{ plan.name }}" tp="makeplot" tar="nonesub_num_{{ plan.id }}" tf="table_2" style="display: none;">
                )
            </td>
            <td align="center">
                {% ifnotequal plan.total_num 0 %}
                <a class="makeStatisticsProjects makeStatistics_Include_sub"
                unit_id="{{ select_unit }}"
                plan_id="{{ plan.id }}"
                include_sub="True"
                select_year="{{ select_year }}"
                select_undertake_type="{{ select_undertake_type }}"
                select_fishingport="{{ select_fishingport }}"
                >
                    {{ plan.total_num }}</a>
                {% endifnotequal %}
                {% ifnotequal plan.num 0 %}
                <a class="makeStatisticsProjects makeStatistics_not_Include_sub" style="display: none;"
                unit_id="{{ select_unit }}"
                plan_id="{{ plan.id }}"
                include_sub="False"
                select_year="{{ select_year }}"
                select_undertake_type="{{ select_undertake_type }}"
                select_fishingport="{{ select_fishingport }}"
                >
                    {{ plan.num }}</a>
                {% endifnotequal %}
            </td>
            <td align="right">
                {% ifnotequal plan.total_money 0 %}
                    <span class="makeStatistics_Include_sub">{{ plan.total_money|intcomma|cutzero }}</span>
                {% endifnotequal %}
                {% ifnotequal plan.money 0 %}
                    <span class="makeStatistics_not_Include_sub" style="display: none;">{{ plan.money|intcomma|cutzero }}</span>
                {% endifnotequal %}
            </td>
            <td bgcolor="#333333" width="5"></td>
            {% for stat_id, num, total_num in plan.status_num_list %}
            <td align="center">
                <a class="makeStatisticsProjects makeStatistics_Include_sub withsub_num_{{ plan.id }}"
                status_id="{{ stat_id }}"
                unit_id="{{ select_unit }}"
                plan_id="{{ plan.id }}"
                include_sub="True"
                select_year="{{ select_year }}"
                select_undertake_type="{{ select_undertake_type }}"
                select_fishingport="{{ select_fishingport }}"
                num="{{ total_num }}"
                >{% ifnotequal total_num 0 %}{{ total_num }}{% endifnotequal %}</a>
                <a class="makeStatisticsProjects makeStatistics_not_Include_sub nonesub_num_{{ plan.id }}" style="display: none;"
                status_id="{{ stat_id }}"
                unit_id="{{ select_unit }}"
                plan_id="{{ plan.id }}"
                include_sub="False"
                select_year="{{ select_year }}"
                select_undertake_type="{{ select_undertake_type }}"
                select_fishingport="{{ select_fishingport }}"
                num="{{ num }}"
                >{% ifnotequal num 0 %}{{ num }}{% endifnotequal %}</a>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

{% endblock %}