{% extends 'project/makestatistics.html' %}
{% load humanize %}
 {% block table %}
<div id="dialog" title="" style="display:none;">
</div>

 <table>
    <tr>
        <td>
            <button class="makeChart" tp="makepie" table="{{ chart_cache_name }}">顯示圓餅圖</button>
        </td>
        <td>
            <button class="makeChart" tp="makebar" table="{{ chart_cache_name }}">顯示桿狀圖</button>
        </td>
        <td>
            <button class="makeChart" tp="makeplot" table="{{ chart_cache_name }}">顯示折線圖</button>
        </td>
    </tr>
</table>

<br>
    <table border="1" style="border-collapse: collapse">
        <tr bgcolor="#FF9966" align="center">
            <td valign="middle">
                <input class="makeStatistics_not_Include_sub" id="makeStatistics_not_Include_sub" style="display: none;width:140px;height:35px;" type="button" value="顯示包含子計畫資訊" />
                <input class="makeStatistics_Include_sub" id="makeStatistics_Include_sub" style="width:140px;height:35px;" type="button" value="只顯示計畫所屬件數" />
            </td>
            <td>
                <span class="makeStatistics_Include_sub">包含<br>子計畫件數</span>
                <span class="makeStatistics_not_Include_sub" style="display: none;">不含<br>子計畫件數</span>
            </td>
            
            <td width="5"></td>
            
            {% for from_money, to_money in money_range_str %}
                <td width="55"><span class="style3 tag" tag="{{ from_money }}~{{ to_money }}">{{ from_money }}<br>|<br>{{ to_money }}</span></td>
            {% endfor %}

        </tr>
        {% for plan in plans %}
        <tr>
            <td align="left" width="280">
                <span style="padding-left: {{ plan.front }}px;display:inline-block;">{{ plan.name }}</span>(
                <img width="12" src="/media/images/repiechart.png" class="jsGetChart makeStatistics_Include_sub" mark="{{ plan.name }}" tp="makepie" tar="withsub_num_{{ plan.id }}" tf="table_4">
                <img width="12" src="/media/images/repiechart.png" class="jsGetChart makeStatistics_not_Include_sub" mark="{{ plan.name }}" tp="makepie" tar="nonesub_num_{{ plan.id }}" tf="table_4" style="display: none;">
                <img width="12" src="/media/images/barchart.png" class="jsGetChart makeStatistics_Include_sub" mark="{{ plan.name }}" tp="makebar" tar="withsub_num_{{ plan.id }}" tf="table_4">
                <img width="12" src="/media/images/barchart.png" class="jsGetChart makeStatistics_not_Include_sub" mark="{{ plan.name }}" tp="makebar" tar="nonesub_num_{{ plan.id }}" tf="table_4" style="display: none;">
                <img width="12" src="/media/images/linechart.png" class="jsGetChart makeStatistics_Include_sub" mark="{{ plan.name }}" tp="makeplot" tar="withsub_num_{{ plan.id }}" tf="table_4">
                <img width="12" src="/media/images/linechart.png" class="jsGetChart makeStatistics_not_Include_sub" mark="{{ plan.name }}" tp="makeplot" tar="nonesub_num_{{ plan.id }}" tf="table_4" style="display: none;">
                )
            </td>
            <td align="center">
                {% ifnotequal plan.total_num 0 %}
                <a class="makeStatisticsProjects makeStatistics_Include_sub"
                unit_id="{{ select_unit }}"
                plan_id="{{ plan.id }}"
                include_sub="True"
                select_year="{{ select_year }}"
                select_undertake_type="{{ select_undertake_type }}"
                select_fishingport="{{ select_fishingport }}"
                >
                    {{ plan.total_num }}</a>
                {% endifnotequal %}
                {% ifnotequal plan.num 0 %}
                <a class="makeStatisticsProjects makeStatistics_not_Include_sub" style="display: none;"
                unit_id="{{ select_unit }}"
                plan_id="{{ plan.id }}"
                include_sub="False"
                select_year="{{ select_year }}"
                select_undertake_type="{{ select_undertake_type }}"
                select_fishingport="{{ select_fishingport }}"
                >
                    {{ plan.num }}</a>
                {% endifnotequal %}
            </td>

            <td bgcolor="#333333" width="5"></td>
            
            {% for num, total_num, from_money, to_money in plan.money_range %}
            <td align="center">
                <a class="makeStatisticsProjects makeStatistics_Include_sub withsub_num_{{ plan.id }}"
                from_money="{{ from_money }}"
                to_money="{{ to_money }}"
                unit_id="{{ select_unit }}"
                plan_id="{{ plan.id }}"
                include_sub="True"
                select_year="{{ select_year }}"
                select_undertake_type="{{ select_undertake_type }}"
                select_fishingport="{{ select_fishingport }}"
                num="{{ total_num }}"
                >{% ifnotequal total_num 0 %}{{ total_num }}{% endifnotequal %}</a>
                <a class="makeStatisticsProjects makeStatistics_not_Include_sub nonesub_num_{{ plan.id }}" style="display: none;"
                from_money="{{ from_money }}"
                to_money="{{ to_money }}"
                unit_id="{{ select_unit }}"
                plan_id="{{ plan.id }}"
                include_sub="False"
                select_year="{{ select_year }}"
                select_undertake_type="{{ select_undertake_type }}"
                select_fishingport="{{ select_fishingport }}"
                num="{{ num }}"
                >{% ifnotequal num 0 %}{{ num }}{% endifnotequal %}</a>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

{% endblock %}