<h1>目前編輯目標： {{ classification.name }}</h1>
<br>
    <h2>
    <div id="HarborSubmemu2">
        <ul>
            <li><a href="/harbor/portinstallation/new/{{ classification.id }}/" class="{% ifequal page 'New' %}active{% endifequal%}">新增設施查報記錄</a></li>
            <li><a href="/harbor/portinstallation/record/{{ classification.id }}/" class="{% ifequal page 'Record' %}active{% endifequal%}">過往設施查報記錄</a></li>
        </ul>
    </div>
    </h2>
    <br>
    <hr width="800" color="#ff8000" noshade title="這不是分隔線">
    <br><br>