{% extends 'harbor/editmemu.html' %}

{% block sidecontent %}
<a id="location" class="obva"></a><br>

<form enctype="multipart/form-data" action="./" method="POST">
{% include 'harbor/obvaeditmenu.html' %}
<h2>
<table>
    <tr align="left">
        <td>觀測站名稱</td>
        <td><input type="text" name="obs__name" value="{{ obs.name }}"></td>
    </tr>
    <tr align="left">
        <td>風花圖說明</td>
        <td><textarea cols="70" rows="5" name="obs__wind_memo">{{ obs.wind_memo }}</textarea></td>
    </tr>
    <tr align="left">
        <td>月平均降雨日數說明</td>
        <td><textarea cols="70" rows="5" name="obs__rainday_memo">{{ obs.rainday_memo }}</textarea></td>
    </tr>
    <tr align="left">
        <td>風花圖圖檔上傳</td>
        <td><input type="file" name="obs__file"></td>
    </tr>
</table>
</h2>
<br>
<input type="submit" id="submit" name="submit" value="--------填寫完畢確定送出--------" onClick="submiting(this)"><br>
{% if obs.file %}
<img width="400" src="/media/harbor/observatory/{{ obs.id }}.{{ obs.extname }}">
{% endif %}
<br><br><br>

{% endblock %}
