<h1>目前編輯目標： {{ classification.name }}</h1>
<br><br>
    <h2>
    <div id="HarborSubmemu2">
        <ul>
            <li><a href="/harbor/observatory/{{ classification.id }}/" class="{% ifequal page 'ObvaInfo' %}active{% endifequal%}">基本資料</a></li>
            <li><a href="/harbor/observatory/{{ classification.id }}/averagerainfall/" class="{% ifequal page 'averagerainfall' %}active{% endifequal%}">平均降雨量</a></li>
            <li><a href="/harbor/observatory/{{ classification.id }}/averagetemperature/" class="{% ifequal page 'averagetemperature' %}active{% endifequal%}">平均氣溫</a></li>
            <li><a href="/harbor/observatory/{{ classification.id }}/averagepressure/" class="{% ifequal page 'averagepressure' %}active{% endifequal%}">平均氣壓</a></li>
        </ul>
    </div>
    </h2>
    <br><br><br>
    <hr width="800" color="#ff8000" noshade title="這不是分隔線">
    <br><br>