{% extends 'harbor/editmemu.html' %}

{% block style %}
.style0 {
	font-size: 18px;
}
{% endblock %}

{% block sidecontent %}
<a id="location" class="port" loca="{{ port.place.id }}"></a><br>

<form enctype="multipart/form-data" action="./" method="POST">
{% include 'harbor/porteditmenu.html' %}

<h2>
--漁港名稱<br>
<input type="text" name="fishingport_name" value="{% if port.name %}{{ port.name }}{% endif %}">
<br><br>
---漁港類別<br>
<select id="type" name="porttype_type" class="style0">
    {% for type in option.fishingport_type %}
    <option value="{{ type.id }}" {% ifequal type.id port.type.id %}selected{% endifequal %}>　{{ type.value }}　</option>
    {% endfor %}
</select>
<br><br>
---漁港代碼<br>
<input type="text" name="fishingport_code" value="{% if port.code %}{{ port.code }}{% endif %}">
<br><br>
---漁港座標<br>
    <table>
        <tr>
            <td>X：</td>
            <td><input type="text" name="fishingport_xcoord" value="{% if port.xcoord %}{{ port.xcoord }}{% endif %}"></td>
            <td>　　</td>
            <td>Y：</td>
            <td><input type="text" name="fishingport_ycoord" value="{% if port.ycoord %}{{ port.ycoord }}{% endif %}"></td>
        </tr>
    </table>
<br>
---地理位置<br>
<textarea cols="100" rows="10" name="fishingport_location">{% if port.location %}{{ port.location }}{% endif %}</textarea><br>
<br>
---建港沿革<br>
<textarea cols="100" rows="15" name="fishingport_history">{% if port.history %}{{ port.history }}{% endif %}</textarea><br>
<br>
---漁港區域範圍<br>
<textarea cols="100" rows="10" name="fishingport_range">{% if port.range %}{{ port.range }}{% endif %}</textarea><br>
<br>
<input type="submit" id="submit" name="submit" value="--------填寫完畢確定送出--------" onClick="submiting(this)">

<br><br><br></h2>
<h1>圖檔上傳類</h1>
<h3>
相片名稱：<input type="text" name="newphoto_name" value=""><br>
相片類別：<select name="newphoto_type">
    {% for type in photo_type %}
    <option value="{{ type.id }}">{{ type.value }}</option>
    {% endfor %}
</select><br>
相片備註：<textarea cols="70" rows="5" name="newphoto_memo"></textarea><br>
<div>相片檔案：<input type="file" name="newphoto_file"></div>
<input type="submit" id="submit" name="submit" value="--------確定上傳--------" onClick="submiting(this)">
</h3>
<br><br><br>

{% for photo in photos %}
<h2>---{{ photo.name }}--------------------------------------------------------------------------</h2><br>
<div>
<h3>
<table border="1" bordercolor="#9933CC">
    {% for p in photo.list %}
    <tr id="fishingportphoto_{{ p.id }}">
        <td><img src="/{{ p.rThumbUrl }}" width="200" height="150"></td>
        <td>
            <button id="del_fishingportphoto_{{ p.id }}" class="delRow">刪除本相片紀錄</button><br>
            名稱：<input type="text" name="fishingportphoto_name_{{ p.id }}" value="{{ p.name }}"><br>
            備註：<textarea cols="70" rows="3" name="fishingportphoto_memo_{{ p.id }}">{{ p.memo }}</textarea>
        </td>
    </tr>
    {% endfor %}
</table>
</h3>
</div><br>
{% endfor %}


<input type="submit" id="submit" name="submit" value="--------確定修改--------" onClick="submiting(this)">

</form>

{% endblock %}
