{% extends 'harbor/editmemu.html' %}

{% block sidecontent %}
<a id="location" class="port" loca="{{ classification.place.id }}"></a><br>

<form enctype="multipart/form-data" action="./" method="POST">
{% include 'harbor/porteditmenu.html' %}
<h2>
<table style="border-collapse: collapse" border="1" cellpadding="2" cellspacing="2">
  <tr align="left">
    <td width="200">工程名稱</td>
    <td><input size="20" type="text" name="new__name" class="requisite" value=""></td>
  </tr>
  <tr align="left">
    <td>年度</td>
    <td><input type="text" name="new__year" class="integer requisite" value=""></td>
  </tr>
  <tr align="left">
    <td>備註</td>
    <td><textarea cols="30" rows="2" name="new__note"></textarea></td>
  </tr>
  <tr align="left">
    <td>計畫名稱</td>
    <td><input size="20" type="text" name="new__plan" value=""></td>
  </tr>
  <tr align="left">
    <td>預定工作項目</td>
    <td><textarea cols="30" rows="2" name="new__schedule_item"></textarea></td>
  </tr>
  <tr align="left">
    <td>實際工作項目</td>
    <td><textarea cols="30" rows="2" name="new__reality_item"></textarea></td>
  </tr>
  <tr align="left">
    <td>經費來源</td>
    <td><input size="20" type="text" name="new__funds_source" value=""></td>
  </tr>
  <tr align="left">
    <td>經費</td>
    <td><input size="10" type="text" name="new__funds" class="integer" value=""></td>
  </tr>
  <tr align="left">
    <td>計畫經費</td>
    <td><input size="10" type="text" name="new__plan_fund" class="integer" value=""></td>
  </tr>
  <tr align="left">
    <td>實列預算經費</td>
    <td><input size="10" type="text" name="new__reality_budget_fund" class="integer" value=""></td>
  </tr>
  <tr align="left">
    <td>供給材料經費</td>
    <td><input size="10" type="text" name="new__supply_material_fund" class="integer" value=""></td>
  </tr>
  <tr align="left">
    <td>管理經費</td>
    <td><input size="10" type="text" name="new__manage_fund" class="integer" value=""></td>
  </tr>
  <tr align="left">
    <td>其它經費</td>
    <td><input size="10" type="text" name="new__other_fund" class="integer" value=""></td>
  </tr>
  <tr align="left">
    <td>發包工作費</td>
    <td><input size="10" type="text" name="new__contract_fund" class="integer" value=""></td>
  </tr>
  <tr align="left">
    <td>一次追加變更設計費</td>
    <td><input size="10" type="text" name="new__first_change_design" class="integer" value=""></td>
  </tr>
  <tr align="left">
    <td>二次追加變更設計費</td>
    <td><input size="10" type="text" name="new__second_change_design" class="integer" value=""></td>
  </tr>
  <tr align="left">
    <td>結算經費</td>
    <td><input size="10" type="text" name="new__settlement_fund" class="integer" value=""></td>
  </tr>
  <tr align="left">
    <td>發包日期</td>
    <td><input size="10" type="text" name="new__contract_date" value="" class="chooseDate"></td>
  </tr>
  <tr align="left">
    <td>預定完工日期</td>
    <td><input size="10" type="text" name="new__design_finish_date" value="" class="chooseDate"></td>
  </tr>
  <tr align="left">
    <td>第一次追加日期</td>
    <td><input size="10" type="text" name="new__first_change_design_date" value="" class="chooseDate"></td>
  </tr>
  <tr align="left">
    <td>第二次追加日期</td>
    <td><input size="10" type="text" name="new__second_change_design_date" value="" class="chooseDate"></td>
  </tr>
  <tr align="left">
    <td>實際完工日期</td>
    <td><input size="10" type="text" name="new__act_finish_date" value="" class="chooseDate"></td>
  </tr>
</table>
</h2>
<br>
<input type="submit" id="submit" name="submit" class="submit" value="--------確定新增--------" onClick="submiting(this)">
<font id="caution" color="#E100F0" size="2.8">請檢查必填欄位！</font><br><br><br>
<hr width="800" color="#ff8000" noshade title="這不是分隔線">
<br><br>
<h3>
<table align="right">
    {% for project in list %}
    <tr id="project_{{ project.id }}" align="right">
        <td>

        <table border="1" style="border-collapse: collapse">
            <tr>
                <td rowspan="8">{{ forloop.counter }}</td>
                <td bgcolor="#FFFF99">工程名稱</td>
                <td bgcolor="#FFFF99">年度</td>
                <td bgcolor="#FFFF99">預定工作項目</td>
                <td bgcolor="#FFFF99">實際工作項目</td>
                <td bgcolor="#FFFF99">備註</td>
                <td bgcolor="#FFFF99">發包日期</td>
                <td bgcolor="#FFFF99">實際完工日期</td>
            </tr>
            <tr>
                <td><input size="15" type="text" class="requisite" name="project__name__{{ project.id }}" value="{% if project.name %}{{ project.name }}{% endif %}"></td>
                <td><input size="15" type="text" class="integer requisite" name="project__year__{{ project.id }}" value="{% if project.year %}{{ project.year }}{% endif %}"></td>
                <td rowspan="3"><textarea cols="10" rows="2" name="project__schedule_item__{{ project.id }}">{% if project.schedule_item %}{{ project.schedule_item }}{% endif %}</textarea></td>
                <td rowspan="3"><textarea cols="10" rows="2" name="project__reality_item__{{ project.id }}">{% if project.reality_item %}{{ project.reality_item }}{% endif %}</textarea></td>
                <td rowspan="3"><textarea cols="10" rows="2" name="project__note__{{ project.id }}">{% if project.note %}{{ project.note }}{% endif %}</textarea></td>
                <td><input size="10" type="text" name="project__contract_date__{{ project.id }}" value="{% if project.contract_date %}{{ project.contract_date }}{% endif %}" class="chooseDate"</td>
                <td><input size="10" type="text" name="project__act_finish_date__{{ project.id }}" value="{% if project.act_finish_date %}{{ project.act_finish_date }}{% endif %}" class="chooseDate"></td>
            </tr>
            <tr>
                <td bgcolor="#FFFF99">計畫名稱</td>
                <td bgcolor="#FFFF99">經費來源</td>
                <td bgcolor="#FFFF99">預定完工日期</td>
                <td rowspan="6"><center><button id="del_project_{{ project.id }}" class="delRow">刪除紀錄</button></center></td>
            </tr>
            <tr>
                <td><input size="10" type="text" name="project__plan__{{ project.id }}" value="{% if project.plan %}{{ project.plan }}{% endif %}"></td>
                <td><input size="15" type="text" name="project__funds_source__{{ project.id }}" value="{% if project.funds_source %}{{ project.funds_source }}{% endif %}"></td>
                <td><input size="10" type="text" name="project__design_finish_date__{{ project.id }}" value="{% if project.design_finish_date %}{{ project.design_finish_date }}{% endif %}" class="chooseDate"></td>
            </tr>
            <tr>
                <td bgcolor="#FFFF99">經費</td>
                <td bgcolor="#FFFF99">實列預算經費</td>
                <td bgcolor="#FFFF99">發包工作費</td>
                <td bgcolor="#FFFF99">管理經費</td>
                <td bgcolor="#FFFF99">一次追加變更設計費</td>
                <td bgcolor="#FFFF99">第一次追加日期</td>
            </tr>
            <tr>
                <td><input size="10" type="text" class="integer" name="project__funds__{{ project.id }}" value="{% if project.funds %}{{ project.funds }}{% endif %}"></td>
                <td><input size="10" type="text" class="integer" name="project__reality_budget_fund__{{ project.id }}" value="{% if project.reality_budget_fund %}{{ project.reality_budget_fund }}{% endif %}"></td>
                <td><input size="10" type="text" class="integer" name="project__contract_fund__{{ project.id }}" value="{% if project.contract_fund %}{{ project.contract_fund }}{% endif %}"></td>
                <td><input size="10" type="text" class="integer" name="project__manage_fund__{{ project.id }}" value="{% if project.manage_fund %}{{ project.manage_fund }}{% endif %}"></td>
                <td><input size="10" type="text" class="integer" name="project__first_change_design__{{ project.id }}" value="{% if project.first_change_design %}{{ project.first_change_design }}{% endif %}"></td>
                <td><input size="10" type="text" name="project__first_change_design_date__{{ project.id }}" value="{% if project.first_change_design_date %}{{ project.first_change_design_date }}{% endif %}" class="chooseDate"></td>
            </tr>
            <tr>
                <td bgcolor="#FFFF99">計畫經費</td>
                <td bgcolor="#FFFF99">其它經費</td>
                <td bgcolor="#FFFF99">供給材料經費</td>
                <td bgcolor="#FFFF99">結算經費</td>
                <td bgcolor="#FFFF99">二次追加變更設計費</td>
                <td bgcolor="#FFFF99">第二次追加日期</td>
            </tr>
            <tr>
                <td><input size="10" type="text" class="integer" name="project__plan_fund__{{ project.id }}" value="{% if project.plan_fund %}{{ project.plan_fund }}{% endif %}"></td>
                <td><input size="10" type="text" class="integer" name="project__other_fund__{{ project.id }}" value="{% if project.other_fund %}{{ project.other_fund }}{% endif %}"></td>
                <td><input size="10" type="text" class="integer" name="project__supply_material_fund__{{ project.id }}" value="{% if project.supply_material_fund %}{{ project.supply_material_fund }}{% endif %}"></td>
                <td><input size="10" type="text" class="integer" name="project__settlement_fund__{{ project.id }}" value="{% if project.settlement_fund %}{{ project.settlement_fund }}{% endif %}"></td>
                <td><input size="10" type="text" class="integer" name="project__second_change_design__{{ project.id }}" value="{% if project.second_change_design %}{{ project.second_change_design }}{% endif %}"></td>
                <td><input size="10" type="text" name="project__second_change_design_date__{{ project.id }}" value="{% if project.second_change_design_date %}{{ project.second_change_design_date }}{% endif %}" class="chooseDate"></td>
            </tr>
        </table>
        <br>
        </td>
    </tr>
    {% endfor %}
</table>
</h3>
<br>
<input type="submit" id="submit" name="submit" value="--------確定修改--------" onClick="submiting(this)">

</form>

{% endblock %}
