{% extends 'harbor/editmemu.html' %}

{% block sidecontent %}
<a id="location" class="port" loca="{{ classification.place.id }}"></a><br>

<form enctype="multipart/form-data" action="./" method="POST">
{% include 'harbor/porteditmenu.html' %}
<h2>
<table>
    <tr align="left">
        <td>最高潮位</td>
        <td><input type="text" name="new__max_tide" class="float" value=""></td>
    </tr>
    <tr align="left">
        <td>大潮平均高潮位</td>
        <td><input type="text" name="new__big_tide_hign_avg" class="float" value=""></td>
    </tr>
    <tr align="left">
        <td>小潮平均高潮位(M)</td>
        <td><input type="text" name="new__small_tide_hign_avg" class="float" value=""></td>
    </tr>
    <tr align="left">
        <td>平均潮位</td>
        <td><input type="text" name="new__tide_avg" class="float" value=""></td>
    </tr>
    <tr align="left">
        <td>大潮平均低潮位</td>
        <td><input type="text" name="new__big_tide_down_avg" class="float" value=""></td>
    </tr>
    <tr align="left">
        <td>小潮平均低潮位</td>
        <td><input type="text" name="new__small_tide_down_avg" class="float" value=""></td>
    </tr>
    <tr align="left">
        <td>最低潮位</td>
        <td><input type="text" name="new__min_tide" class="float" value=""></td>
    </tr>
    <tr align="left">
        <td>築港高程零點</td>
        <td><input type="text" name="new__zero_elevation" class="float" value=""></td>
    </tr>
    <tr align="left">
        <td>備註欄</td>
        <td><textarea cols="20" rows="1" name="new__memo"></textarea></td>
    </tr>
</table>
</h2>
<br>
<input type="submit" id="submit" name="submit" class="submit" value="--------確定新增--------" onClick="submiting(this)">
<font id="caution" color="#E100F0" size="2.8" style="display:none;">請檢查必填欄位！</font><br><br><br>
<hr width="800" color="#ff8000" noshade title="這不是分隔線">
<br><br>
<h3>
<table style="border-collapse: collapse" border="1" cellpadding="2" cellspacing="2">
    <tr align="center" bgcolor="#FFFF99">
        <td rowspan="2"></td>
        <td rowspan="2">最高潮位</td>
        <td colspan="2">平均高潮位</td>
        <td rowspan="2">平均潮位</td>
        <td colspan="2">平均低潮位</td>
        <td rowspan="2">最低潮位</td>
        <td rowspan="2">築港高程零點</td>
        <td rowspan="2">備註欄</td>
        <td rowspan="2"></td>
    </tr>
    <tr align="center" bgcolor="#FFFF99">
        <td>大潮</td>
        <td>小潮</td>
        <td>大潮</td>
        <td>小潮</td>
    </tr>
    {% for tide in list %}
    <tr id="tide_{{ tide.id }}">
        <td>{{ forloop.counter }}</td>
        <td><input size="9" type="text" class="float" name="tide__max_tide__{{ tide.id }}" value="{% if tide.max_tide %}{{ tide.max_tide}}{% endif %}"></td>
        <td><input size="7" type="text" class="float" name="tide__big_tide_hign_avg__{{ tide.id }}" value="{% if tide.big_tide_hign_avg %}{{ tide.big_tide_hign_avg }}{% endif %}"></td>
        <td><input size="7" type="text" class="float" name="tide__small_tide_hign_avg__{{ tide.id }}" value="{% if tide.small_tide_hign_avg %}{{ tide.small_tide_hign_avg }}{% endif %}"></td>
        <td><input size="7" type="text" class="float" name="tide__tide_avg__{{ tide.id }}" value="{% if tide.tide_avg %}{{ tide.tide_avg}}{% endif %}"></td>
        <td><input size="7" type="text" class="float" name="tide__big_tide_down_avg__{{ tide.id }}" value="{% if tide.big_tide_down_avg %}{{ tide.big_tide_down_avg}}{% endif %}"></td>
        <td><input size="7" type="text" class="float" name="tide__small_tide_down_avg__{{ tide.id }}" value="{% if tide.small_tide_down_avg %}{{ tide.small_tide_down_avg}}{% endif %}"></td>
        <td><input size="7" type="text" class="float" name="tide__min_tide__{{ tide.id }}" value="{% if tide.min_tide %}{{ tide.min_tide}}{% endif %}"></td>
        <td><input size="12" type="text" class="float" name="tide__zero_elevation__{{ tide.id }}" value="{% if tide.zero_elevation %}{{ tide.zero_elevation }}{% endif %}"></td>
        <td><textarea cols="15" rows="1" name="tide__memo__{{ tide.id }}">{% if tide.memo %}{{ tide.memo}}{% endif %}</textarea></td>
        <td><button id="del_tide_{{ tide.id }}" class="delRow">刪除紀錄</button></td>
    </tr>
    {% endfor %}
</table>
</h3>
<br>
<input type="submit" id="submit" name="submit" value="--------確定修改--------" onClick="submiting(this)">

</form>

{% endblock %}
