{% extends 'harbor/index.html' %}
{% block menu %}
    <ul id="menu" value ="/harbor/installation"></ul>
{% endblock %}
{% block style %}
.styleT {
	font-size: 20px;
}
{% endblock %}
{% block content %}
    
<h2>
<center>
<br>
<span class="style0">＝請選擇搜尋條件＝</span><br>
{{year}}
<table>
    <tr>
        <td width="100"></td>
        <td>
            <span class="style0">縣市：</span>
        </td>
        <td width="200">
            <select id="City" class="styleT">
                {% for city in city_list %}
                <option value="{{ city.place.id }}" {% ifequal city.place.id select_city %}selected{% endifequal %}>　{{ city.place.name }}　</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <span class="style0">漁港：</span>
        </td>
        <td id="FishingPort" width="300">
            <select id="Port" class="styleT">
                {% for prot in prot_list %}
                <option value="{{ prot.id }}" {% ifequal prot.id port %}selected{% endifequal %}>　{{ prot.name }}　</option>
                {% endfor %}
            </select>
        </td>
    </tr>
</table>

<br>
<table>
    <tr align="center">
        <td>
            <span class="style0">年度：</span>
        </td>
        <td width="150">
            <select id="year" class="styleT">
                {% for year in years %}
                <option value="{{ year.0 }}" {% ifequal year.0 select_year %}selected{% endifequal %}>　{{ year.1 }}　</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <span class="style0">由</span>
        </td>
        <td width="120">
            <select id="month_from" class="styleT">
                {% for m in month.1 %}
                <option value="{{ m }}" {% ifequal m from_month %}selected{% endifequal %}>　{{ m }}　</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <span class="style0">月 至</span>
        </td>
        <td id="ToMonth" width="120">
            <select id="month_to" class="styleT">
                {% for m in end_month %}
                <option value="{{ m }}" {% ifequal m to_month %}selected{% endifequal %}>　{{ m }}　</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <span class="style0">月</span>
        </td>
    </tr>
</table>

<br>

<input id="searchRecord" type="submit" value="--------搜尋-------" class="styleT" onClick="submiting(this)">

</center>
<br>
<hr widtd="800" color="#ff8000" noshade title="這不是分隔線"/>
</h2>
<br>

<h2>
{% if search %}
{% if record_list %}


<table>
    {% for record in record_list %}
    <tr>
        <td align="left" bgcolor="#E1FF3C">
            　<a id="{{ record.0 }}" class="opened_record open_{{ record.0 }}">▼</a><a id="{{ record.0 }}" class="closed_record close_{{ record.0 }}" style="display:none;">▲</a>
             {{ record.0 }}月份記錄 <span class="open_{{ record.0 }}">>></span><span class="close_{{ record.0 }}" style="display:none;"><<</span>
        </td>
    </tr>
    <tr id="record_{{ record.0 }}">
        <td>
            <table style="border-collapse: collapse" border="1" cellpadding="2" cellspacing="2">
                <tr align="center" bgcolor="#C3FFB4">
                    <td rowspan="2">漁會別</td>
                    <td rowspan="2">日期</td>
                    <td rowspan="2">時間</td>
                    <td colspan="5">船舶艘數</td>
                    <td colspan="2">船隻補給</td>
                    <td rowspan="2">港區環境</td>
                    <td rowspan="2">突發情況</td>
                    <td rowspan="2">突發應變</td>
                    <td rowspan="2" width="150">備註</td>
                </tr>
                <tr align="center" bgcolor="#C3FFB4">
                    <td>進港</td>
                    <td>出港</td>
                    <td>總艘<br>數</td>
                    <td>平均<br>數</td>
                    <td>泊區<br>停泊</td>
                    <td>狀況</td>
                    <td>備註</td>
                </tr>
                {% for data in record.1 %}
                <tr class="{% cycle "odd" "even" %}" align="center">
                    <td>{% if data.organization %}　{{ data.organization }}　{% else %}----{% endif %}</td>
                    <td>{% if data.date %}　{{ data.date }}　{% else %}----{% endif %}</td>
                    <td>{% if data.time %}{{ data.time|time:"H:i" }}{% else %}----{% endif %}</td>
                    <td align="right">{% if data.arrival_port %}{{ data.arrival_port }}{% else %}----{% endif %}</td>
                    <td align="right">{% if data.leave_port %}{{ data.leave_port }}{% else %}----{% endif %}</td>
                    <td align="right">{% if data.rTotalBoat %}{{ data.rTotalBoat }}{% else %}----{% endif %}</td>
                    <td align="right">{% if data.rAvgBoat %}{{ data.rAvgBoat }}{% else %}----{% endif %}</td>
                    <td align="right">{% if data.anchor %}{{ data.anchor }}{% else %}----{% endif %}</td>
                    <td>{% if data.boat_supplies %}{{ data.boat_supplies.value }}{% else %}----{% endif %}</td>
                    <td>{% if data.boat_supplies_memo %}{{ data.boat_supplies_memo|linebreaks }}{% else %}----{% endif %}</td>
                    <td>{% if data.port_environment %}{{ data.port_environment.value }}{% else %}----{% endif %}</td>
                    <td>{% if data.emergency %}{{ data.emergency.value }}{% else %}----{% endif %}</td>
                    <td>{% if data.emergency_measures %}{{ data.emergency_measures.value }}{% else %}----{% endif %}</td>
                    <td>{% if data.memo %}{{ data.memo|linebreaks }}{% else %}----{% endif %}</td>
                </tr>
                {% endfor %}
            </table>
        </td>
        <tr>
            <td height="20"></td>
        </tr>
    </tr>
    {% endfor %}
</table>


<br>



{% else %}
<h2>無符合條件之資料！</h2>
{% endif %}

{% endif %}

</h2>
{% endblock %}

