{% extends 'harbor/mainmemu.html' %}
{% load humanize %}
{% block menu %}
    <ul id="menu" value ="/harbor/view"></ul>
{% endblock %}
{% block sidecontent %}
<table width="850">
    <tr>
        <td width="850" height="140">
            <div id="HarborPortHeader">
                <div id="portname">{{ port.name }}　　<a class="portinfo" href="/harbor/cityinfo/{{ port.place.id }}/">{{ port.place.name }}</a><span class="portinfo">/</span><a class="portinfo" href="/harbor/typeport/{{ port.type.id }}/">{{ port.type.value }}</a></div>
                <div id="HarborSubmemu1" align="right" >
                    <h5>
                    <a href="/harbor/portinfo/{{ port.id }}/" class="{% ifequal page 'PortInfo' %}active{% endifequal %}">基本資料</a><span>｜</span>
                    <a href="/harbor/portsfnc/{{ port.id }}/" class="{% ifequal page 'PortClimate' %}active{% endifequal %}">海相與氣象</a><span>｜</span>
                    <a href="/harbor/portfishery/{{ port.id }}/" class="{% ifequal page 'PortFishery' %}active{% endifequal %}">漁業產量</a><span>｜</span>
                    <a href="/harbor/portboat/{{ port.id }}/" class="{% ifequal page 'PortBoat' %}active{% endifequal %}">船筏數量</a><span>｜</span>
                    <a href="/harbor/portdevelopment/{{ port.id }}/" title="(包含現況工程)" class="{% ifequal page 'PortDevelopment' %}active{% endifequal %}">工程與建設</a><span>｜</span>
                    <a href="/harbor/portphotos/{{ port.id }}/" class="{% ifequal page 'PortPhotos' %}active{% endifequal %}">各式圖資</a><span>｜</span>
                    <!-- <a href="/harbor/portcam/{{ port.id }}/" class="{% ifequal page 'PortCam' %}active{% endifequal %}">即時影像</a><span>｜</span> -->
                    <a href="/harbor/portfiles/{{ port.id }}/" class="{% ifequal page 'PortFiles' %}active{% endifequal %}">檔案上傳</a>
                    </h5>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        {% block portinfocontent %}
        {% endblock %}
    </tr>
</table>



{% endblock %}