{% extends "mobile/_home_base.html" %}
<!-- !PAGE CONTENT! -->
{% block page_content %}
<div class="w3-container w3-padding-8 w3-center" style="background: rgba(0, 0, 0, 0.35);margin-top:32px;">
    <div class="w3-clear"></div>
    <h1 class="w3-text-shadow w3-text-white">漁業工程管理系統</h1>
    <h4 class="w3-text-shadow w3-text-white">Fishery Engineering System</h4>
    <!-- <p class="w3-padding-16">
    <button class="w3-btn" onclick="myFunction()">Toggle Grid Padding</button>
</p>
-->
</div>
</br>
<!-- Photo Grid -->
<div class="w3-row-padding ">
    <div class="w3-col m3">
        <div class="w3-card-2 w3-round w3-white ">
            <div class="w3-container">
                <p> <i class="fa fa-building-o fa-fw w3-margin-right w3-text-theme"></i>
                    帳&emsp;&emsp;號：{{ user.username }}
                </p>
                <p> <i class="fa fa-phone fa-fw w3-margin-right w3-text-theme"></i>
                    名&emsp;&emsp;稱：{{ user_profile.rName }}
                </p>
                <hr>
                <p>
                    <i class="fa fa-building-o fa-fw w3-margin-right w3-text-theme"></i>
                    機關單位：{{ user_profile.unit.name }}
                </p>
                <p>
                    <i class="fa fa-phone fa-fw w3-margin-right w3-text-theme"></i>
                    電&emsp;&emsp;話：{{ user_profile.phone }}
                </p>
                <p>
                    <i class="fa fa-envelope-o fa-fw w3-margin-right w3-text-theme"></i>
                    Email：
                    <a href="mailto：{{ user.email }}">{{ user.email }}</a>
                </p>
                <hr>
                <ul class="w3-ul w3-hoverable">
                    <li class="w3-theme-d2">權限群組</li>
                    {% for g in user.groups.all %}
                    <li>{{ g.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <br>
        <ul class="w3-ul w3-card-4 w3-white">
            <li class="w3-theme-d3">
                <h3>系統公告</h3>
            </li>
            {% for si in system_infos %}
            <li onclick="document.getElementById('sysinfo_modal_{{ si.id }}').style.display='block'">
                <h4>{{ si.start_date }}</h4>
                <p style="margin-top:-8px">{{ si.title }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="w3-clear"></div>
<br>
<br>
{% for si in system_infos %}
<div id="sysinfo_modal_{{ si.id }}" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container">
            <span onclick="document.getElementById('sysinfo_modal_{{ si.id }}').style.display='none'" class="w3-closebtn">&times;</span>
            <p>{{ si.memo|safe }}</p>
        </div>
    </div>
</div>
{% endfor %}
    
{% endblock %}