{% extends "mobile/_base.html" %}
{% load i18n %}
{% load humanize %}
{% load utiltags %}

{% block page_haeder %}
<ul id="project_info_menu" class="w3-navbar w3-left-align w3-light-grey w3-center w3-large w3-top">
    <li class="w3-left" style="width:10% !important" name="index">
        <a href="{% url 'm_index' %}" > <i class="fa fa-home"></i>
        </a>
    </li>
    <li class="w3-left" style="width:30% !important" name="project_info">
        <a href="{% url 'm_project_info' project_id=project.id %}" >基本資料</a>
    </li>
    <li class="w3-left" style="width:30% !important" name="dailyreport">
        <a href="{% url 'm_dailyreport' project_id=project.id %}" >日報表</a>
    </li>
    <li class="w3-left" style="width:30% !important" name="gallary">
        <a class="" href="{% url 'm_gallary' project_id=project.id %}" >施工相片</a>
    </li>
</ul>
{% endblock %}
<!-- Sidenav -->

<!-- !PAGE CONTENT! -->
{% block page_content %}
<script type="text/javascript">
    //選擇自己的目錄
    $(document).ready(function(){
        $('#project_info_menu').find('li[name="project_info"]').find('a').addClass('w3-text-teal');
    });
</script>
<div class="w3-container w3-padding-8 w3-center w3-light-grey w3-card-8" style="margin-top:32px;">
    <div class="w3-clear"></div>
    <h4 class=""> <b>{{ project.year }}年 - {{ project.name }}</b>
    </h4>
</div>
<br>
<div class="w3-row-padding ">
    <div class="w3-card-4">
        <header class="w3-container w3-teal">
            <h5> <b><i class="fa fa-user-secret"></i>
                    &ensp;工程師列表</b> 
            </h5>
        </header>
        <ul class="w3-ul w3-card-4 w3-white">
            {% for u in project.engineers %}
            <li class="w3-padding-8 w3-row">
                <div class="w3-col s4">
                    <span class="w3-xlarge">{{ u.user.user_profile.rName }}</span>
                    <br>
                    <span>{{ u.group.name }}</span>
                    {% if not u.is_active %}
                    <br>
                    <span style="color: red;">尚未開通</span>
                    {% endif %}
                </div>
                <div class="w3-col s8">
                    <span class="w3-text-teal">電話號碼</span>
                    <br>
                    <span>{{ u.user.user_profile.phone }}</span>
                    <br>
                    <span class="w3-text-teal">機關單位</span>
                    <br>
                    <span >{{ u.user.user_profile.unit.name }}</span>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    </br>

    <div class="w3-card-4">
        <header class="w3-container w3-teal">
            <h5>
                <b><i class="fa fa-info"></i>
                    &ensp;專案系統資訊</b> 
            </h5>
        </header>
        <div class="w3-center w3-row">
            <a class="w3-col s6 w3-green w3-padding-16">
                監造認領碼
                <h3>{{ project.inspector_code }}</h3>
            </a>
            <a class="w3-col s6 w3-red w3-padding-16">
                營造認領碼
                <h3>{{ project.contractor_code }}</h3>
            </a>
        </div>
    </div>
    </br>

    <div class="w3-card-4 ">
        <header class="w3-container w3-teal">
            <h5> <b><i class="fa fa-info"></i>
                    &ensp;基本資料</b> 
            </h5>
        </header>
        <ul class="w3-ul w3-card-4 w3-white">
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal"> <b>年&emsp;&emsp;度：</b>
                </span>
                <span>{{ project.year }}年度</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>計畫名稱：</b>
                </span>
                <span>{{ project.name }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>工程會標案編號：</b>
                </span>
                <span>{{ project.pcc_no|default:"未設定" }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>契約編號：</b>
                </span>
                <span>{{ project.bid_no|default:"未設定" }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>採購類別：</b>
                </span>
                <span>{{ project.purchase_type.value }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>計畫經費：</b>
                </span>
                <span>{{ project.read_total_money|default:"0"|intcomma|cutzero }}元</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>發文(核定)日期：</b>
                </span>
                <span>{{ chase_one_by_one.get_vouch_date|default:"未設定" }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>監造方式：</b>
                </span>
                <span>{{ project.frcm_inspector_type.value }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>承辦方式：</b>
                </span>
                <span>{{ project.undertake_type.value }}</span>
                <br></li>
        </ul>
    </div>
    </br>
    
    <div class="w3-card-4 ">
        <header class="w3-container w3-teal">
            <h5> <b><i class="fa fa-info"></i>
                    &ensp;廠商帳號列表</b> 
            </h5>
        </header>
        <ul class="w3-ul w3-card-4 w3-white">
            {% for u in project.ins_and_con %}
                <li class="w3-padding-8 w3-row">
                    <div class="w3-col s4">
                        <span class="w3-xlarge">{{ u.user.user_profile.rName }}</span>
                        <br>
                        <span style="{% if u.group.name == '監造廠商' %}color: blue;{% else %}color: #C86436{% endif %}">{{ u.group.name }}</span>
                        <br>
                        {% if not u.is_active %}<span style="color: red;">關閉中</span>{% endif %}
                    </div>
                    <div class="w3-col s8">
                        <span class="w3-text-teal">帳號</span>
                        <br>
                        <span>{{ u.user.username }}</span>
                    </div>
                </li>
            {% endfor %}
            {% for u in project.contractors %}
                <li class="w3-padding-8 w3-row">
                    <div class="w3-col s4">
                        <span class="w3-xlarge">{{ u.user.user_profile.rName }}</span>
                        <br>
                        <span style="color: blue;">{{ u.group.name }}</span>
                        <br>
                        <span style="color: red;">{% if not u.is_active %}關閉中{% endif %}</span>
                    </div>
                    <div class="w3-col s8">
                        <span class="w3-text-teal">帳號</span>
                        <br>
                        <span>{{ u.user.username }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    </br>

    <div class="w3-card-4 ">
        <header class="w3-container w3-teal">
            <h5> <b><i class="fa fa-info"></i>
                    &ensp;基本資料-聯絡人</b> 
            </h5>
        </header>
        <ul class="w3-ul w3-card-4 w3-white">
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal"> <b>縣市負責人：</b>
                </span>
                <span>{{ project.local_charge|default:"" }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>縣市聯絡人：</b>
                </span>
                <span>{{ project.local_contacter|default:"" }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>聯絡人電話：</b>
                </span>
                <span>{{ project.local_contacter_phone|default:"" }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>聯絡人Email：</b>
                </span>
                <span>{{ project.local_contacter_email|default:"" }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-deep-orange">
                    <b>廠商負責人：</b>
                </span>
                <span>{{ project.contractor_charge|default:"" }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-deep-orange">
                    <b>廠商聯絡人：</b>
                </span>
                <span>{{ project.contractor_contacter|default:"" }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-deep-orange">
                    <b>聯絡人電話：</b>
                </span>
                <span>{{ project.contractor_contacter_phone|default:"" }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-deep-orange">
                    <b>聯絡人Email：</b>
                </span>
                <span>{{ project.contractor_contacter_email|default:"" }}</span>
                <br></li>

        </ul>
    </div>
    </br>

    <div class="w3-card-4 ">
        <header class="w3-container w3-teal">
            <h5>
                <b><i class="fa fa-info"></i>
                &ensp;標案資訊</b> 
            </h5>
        </header>
        <ul class="w3-ul w3-card-4 w3-white">
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal"> <b>投標廠商：</b>
                </span>
                <span>{{ project.bid_on|default:"" }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal"> <b>決標廠商：</b>
                </span>
                <span>{{ project.bid_final|default:"" }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>招標方式：</b>
                </span>
                <span>{{ project.bid_type.value|default:"" }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>發包方式：</b>
                </span>
                <span>{{ project.contract_type.value|default:"" }}</span>
                <br></li>
        </ul>
    </div>
    </br>

    <div class="w3-card-4 ">
        <header class="w3-container w3-teal">
            <h5> <b><i class="fa fa-info"></i>
                    &ensp;標案資訊-金額</b> 
            </h5>
        </header>
        <ul class="w3-ul w3-card-4 w3-white">
            <li class="w3-padding-0 w3-row">
                <div class="w3-col s5 w3-center w3-light-grey">
                    <span class=""> <b>工程金額
                            <br>&ensp;</b>
                    </span>
                </div>
                <div class="w3-col s7">
                    <span class="w3-text-indigo"> <b>契約金額：</b>
                    </span>
                    <span class="w3-right">{{ project.construction_bid|default:"0"|intcomma|cutzero }}元</span>
                    <br>
                    <span class="w3-text-deep-orange">
                        <b>結算金額：</b>
                    </span>
                    <span class="w3-right">{{ project.settlement_construction_bid|default:"0"|intcomma|cutzero }}元</span>
                </div>
            </li>
            <li class="w3-padding-0 w3-row">
                <div class="w3-col s5 w3-center w3-light-grey">
                    <span class="">
                        <b>保險費
                            <br>&ensp;</b>
                    </span>
                </div>
                <div class="w3-col s7">
                    <span class="w3-text-indigo">
                        <b>契約金額：</b>
                    </span>
                    <span class="w3-right">{{ project.safety_fee|default:"0"|intcomma|cutzero }}元</span>
                    <br>
                    <span class="w3-text-deep-orange">
                        <b>結算金額：</b>
                    </span>
                    <span class="w3-right">{{ project.settlement_safety_fee|default:"0"|intcomma|cutzero }}元</span>
                </div>
            </li>
            <li class="w3-padding-0 w3-row">
                <div class="w3-col s5 w3-center w3-light-grey">
                    <span class="">
                        <b>
                            營業稅
                            <br>&ensp;</b>
                    </span>
                </div>
                <div class="w3-col s7">
                    <span class="w3-text-indigo">
                        <b>契約金額：</b>
                    </span>
                    <span class="w3-right">{{ project.business_tax|default:"0"|intcomma|cutzero }}元</span>
                    <br>
                    <span class="w3-text-deep-orange">
                        <b>結算金額：</b>
                    </span>
                    <span class="w3-right">{{ project.settlement_business_tax|default:"0"|intcomma|cutzero }}元</span>
                </div>
            </li>
            <li class="w3-padding-0 w3-row">
                <div class="w3-col s5 w3-center w3-light-grey">
                    <span class="">
                        <b>規劃設計</br>
                        監造費用</b> 
                    </span>
                </div>
                <div class="w3-col s7">
                    <span class="w3-text-indigo">
                        <b>契約金額：</b>
                    </span>
                    <span class="w3-right">{{ project.planning_design_inspect|default:"0"|intcomma|cutzero }}元</span>
                    <br>
                    <span class="w3-text-deep-orange">
                        <b>結算金額：</b>
                    </span>
                    <span class="w3-right">{{ project.settlement_planning_design_inspect|default:"0"|intcomma|cutzero }}元</span>
                </div>
            </li>
            <li class="w3-padding-0 w3-row">
                <div class="w3-col s5 w3-center w3-light-grey">
                    <span class="">
                        <b>工程</br>
                        管理費</b> 
                    </span>
                </div>
                <div class="w3-col s7">
                    <span class="w3-text-indigo">
                        <b>契約金額：</b>
                    </span>
                    <span class="w3-right">{{ project.manage|default:"0"|intcomma|cutzero }}元</span>
                    <br>
                    <span class="w3-text-deep-orange">
                        <b>結算金額：</b>
                    </span>
                    <span class="w3-right">{{ project.settlement_manage|default:"0"|intcomma|cutzero }}元</span>
                </div>
            </li>
            <li class="w3-padding-0 w3-row">
                <div class="w3-col s5 w3-center w3-light-grey">
                    <span class="">
                        <b>
                            空污費
                            <br>&ensp;</b>
                    </span>
                </div>
                <div class="w3-col s7">
                    <span class="w3-text-indigo">
                        <b>契約金額：</b>
                    </span>
                    <span class="w3-right">{{ project.pollution|default:"0"|intcomma|cutzero }}元</span>
                    <br>
                    <span class="w3-text-deep-orange">
                        <b>結算金額：</b>
                    </span>
                    <span class="w3-right">{{ project.settlement_pollution|default:"0"|intcomma|cutzero }}元</span>
                </div>
            </li>
            {% for bid_money in project.projectbidmoney_set.all %}
                <li class="w3-padding-0 w3-row">
                    <div class="w3-col s5 w3-center w3-light-grey">
                        <span class="">
                            <b>
                                {{ bid_money.field_type.value }}
                                <br>&ensp;</b>
                        </span>
                    </div>
                    <div class="w3-col s7">
                        <span class="w3-text-indigo">
                            <b>契約金額：</b>
                        </span>
                        <span class="w3-right">{{ bid_money.value|default:"0"|intcomma|cutzero }}元</span>
                        <br>
                        <span class="w3-text-deep-orange">
                            <b>結算金額：</b>
                        </span>
                        <span class="w3-right">{{ bid_money.settlement_value|default:"0"|intcomma|cutzero }}元</span>
                    </div>
                </li>
            {% endfor %}
            <li class="w3-padding-0 w3-row">
                <div class="w3-col s5 w3-center w3-yellow">
                    <span class="">
                        <b>
                            最後採用之
                            <br>『發包及其他費用』</b>
                    </span>
                </div>
                <div class="w3-col s7">
                    <span class="w3-text-indigo">
                        <b>契約金額：</b>
                    </span>
                    <span class="w3-right w3-text-indigo">{{ project.read_contract_total_money|default:"0"|intcomma|cutzero }}元</span>
                    <br>
                    <span class="w3-text-deep-orange">
                        <b>結算金額：</b>
                    </span>
                    <span class="w3-right w3-text-deep-orange">{{ project.read_settlement_total_money|default:"0"|intcomma|cutzero }}元</span>
                </div>
            </li>
        </ul>
    </div>
    </br>


    <div class="w3-card-4 ">
        <header class="w3-container w3-teal">
            <h5> <b><i class="fa fa-info"></i>
                    &ensp;里程碑資訊</b> 
            </h5>
        </header>
        {% if project.purchase_type.value == '工程' or project.purchase_type.value == '工程勞務' %}
            <ul class="w3-ul w3-card-4 w3-white">
                <li class="w3-padding-0 w3-row">
                    <div class="w3-col s5 w3-center w3-light-grey">
                        <span class=""> <b>核定計畫
                                <br>&ensp;</b>
                        </span>
                    </div>
                    <div class="w3-col s7">
                        <span class="w3-text-indigo">
                            <b>預計日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.sch_eng_plan_approved_plan|default:"" }}</span>
                        <br>
                        <span class="w3-text-deep-orange">
                            <b>實際日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.act_eng_plan_approved_plan|default:"" }}</span>
                    </div>
                </li>
                <li>
                    <span class="w3-text-teal">
                        <b>文號/備註：</b>
                    </span>
                    <span>{{ chase_one_by_one.eng_plan_approved_plan_memo|default:'' }}</span>
                </li>

                <li class="w3-padding-0 w3-row">
                    <div class="w3-col s5 w3-center w3-light-grey">
                        <span class="">
                            <b>
                                簽辦招標
                                <br>&ensp;</b>
                        </span>
                    </div>
                    <div class="w3-col s7">
                        <span class="w3-text-indigo">
                            <b>預計日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.sch_eng_plan_signed_tender|default:"" }}</span>
                        <br>
                        <span class="w3-text-deep-orange">
                            <b>實際日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.act_eng_plan_signed_tender|default:"" }}</span>
                    </div>
                </li>
                <li>
                    <span class="w3-text-teal">
                        <b>文號/備註：</b>
                    </span>
                    <span>{{ chase_one_by_one.eng_plan_signed_tender_memo|default:"" }}</span>
                </li>

                <li class="w3-padding-0 w3-row">
                    <div class="w3-col s5 w3-center w3-light-grey">
                        <span class="">
                            <b>
                                公告招標
                                <br>&ensp;</b>
                        </span>
                    </div>
                    <div class="w3-col s7">
                        <span class="w3-text-indigo">
                            <b>預計日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.sch_eng_plan_announcement_tender|default:"" }}</span>
                        <br>
                        <span class="w3-text-deep-orange">
                            <b>實際日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.act_eng_plan_announcement_tender|default:"" }}</span>
                    </div>
                </li>
                <li>
                    <span class="w3-text-teal">
                        <b>文號/備註：</b>
                    </span>
                    <span>{{ chase_one_by_one.eng_plan_announcement_tender_memo|default:"" }}</span>
                </li>

                <li class="w3-padding-0 w3-row">
                    <div class="w3-col s5 w3-center w3-light-grey">
                        <span class="">
                            <b>
                                公開評選會議
                                <br>(限制性招標)</b>
                        </span>
                    </div>
                    <div class="w3-col s7">
                        <span class="w3-text-indigo">
                            <b>預計日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.sch_eng_plan_selection_meeting|default:"" }}</span>
                        <br>
                        <span class="w3-text-deep-orange">
                            <b>實際日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.act_eng_plan_selection_meeting|default:"" }}</span>
                    </div>
                </li>
                <li>
                    <span class="w3-text-teal">
                        <b>文號/備註：</b>
                    </span>
                    <span>{{ chase_one_by_one.eng_plan_selection_meeting_memo|default:"" }}</span>
                </li>

                <li class="w3-padding-0 w3-row">
                    <div class="w3-col s5 w3-center w3-light-grey">
                        <span class="">
                            <b>
                                定約
                                <br>&ensp;</b>
                        </span>
                    </div>
                    <div class="w3-col s7">
                        <span class="w3-text-indigo">
                            <b>預計日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.sch_eng_plan_promise|default:"" }}</span>
                        <br>
                        <span class="w3-text-deep-orange">
                            <b>實際日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.act_eng_plan_promise|default:"" }}</span>
                    </div>
                </li>
                <li>
                    <span class="w3-text-teal">
                        <b>文號/備註：</b>
                    </span>
                    <span>{{ chase_one_by_one.eng_plan_promise_memo|default:"" }}</span>
                </li>

                <li class="w3-padding-0 w3-row">
                    <div class="w3-col s5 w3-center w3-light-grey">
                        <span class="">
                            <b>
                                基本設計
                                <br>&ensp;</b>
                        </span>
                    </div>
                    <div class="w3-col s7">
                        <span class="w3-text-indigo">
                            <b>預計日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.sch_eng_plan_basic_design|default:"" }}</span>
                        <br>
                        <span class="w3-text-deep-orange">
                            <b>實際日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.act_eng_plan_basic_design|default:"" }}</span>
                    </div>
                </li>
                <li>
                    <span class="w3-text-teal">
                        <b>文號/備註：</b>
                    </span>
                    <span>{{ chase_one_by_one.eng_plan_basic_design_memo|default:"" }}</span>
                </li>

                <li class="w3-padding-0 w3-row">
                    <div class="w3-col s5 w3-center w3-light-grey">
                        <span class="">
                            <b>
                                細部設計
                                <br>&ensp;</b>
                        </span>
                    </div>
                    <div class="w3-col s7">
                        <span class="w3-text-indigo">
                            <b>預計日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.sch_eng_plan_detail_design|default:"" }}</span>
                        <br>
                        <span class="w3-text-deep-orange">
                            <b>實際日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.act_eng_plan_detail_design|default:"" }}</span>
                    </div>
                </li>
                <li>
                    <span class="w3-text-teal">
                        <b>文號/備註：</b>
                    </span>
                    <span>{{ chase_one_by_one.eng_plan_detail_design_memo|default:"" }}</span>
                </li>

                <li class="w3-padding-0 w3-row">
                    <div class="w3-col s5 w3-center w3-light-grey">
                        <span class="">
                            <b>
                                驗收結案
                                <br>&ensp;</b>
                        </span>
                    </div>
                    <div class="w3-col s7">
                        <span class="w3-text-indigo">
                            <b>預計日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.sch_eng_plan_acceptance_closed|default:"" }}</span>
                        <br>
                        <span class="w3-text-deep-orange">
                            <b>實際日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.act_eng_plan_acceptance_closed|default:"" }}</span>
                    </div>
                </li>
                <li>
                    <span class="w3-text-teal">
                        <b>文號/備註：</b>
                    </span>
                    <span>{{ chase_one_by_one.eng_plan_acceptance_closed_memo|default:"" }}</span>
                </li>
                










                <li class="w3-padding-0 w3-row">
                    <div class="w3-col s5 w3-center w3-light-grey">
                        <span class="">
                            <b>
                                簽辦招標
                                <br>&ensp;</b>
                        </span>
                    </div>
                    <div class="w3-col s7">
                        <span class="w3-text-indigo">
                            <b>預計日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.sch_eng_do_signed_tender|default:"" }}</span>
                        <br>
                        <span class="w3-text-deep-orange">
                            <b>實際日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.act_eng_do_signed_tender|default:"" }}</span>
                    </div>
                </li>
                <li>
                    <span class="w3-text-teal">
                        <b>文號/備註：</b>
                    </span>
                    <span>{{ chase_one_by_one.eng_do_signed_tender_memo|default:"" }}</span>
                </li>
                
                <li class="w3-padding-0 w3-row">
                    <div class="w3-col s5 w3-center w3-light-grey">
                        <span class="">
                            <b>
                                公告招標
                                <br>&ensp;</b>
                        </span>
                    </div>
                    <div class="w3-col s7">
                        <span class="w3-text-indigo">
                            <b>預計日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.sch_eng_do_announcement_tender|default:"" }}</span>
                        <br>
                        <span class="w3-text-deep-orange">
                            <b>實際日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.act_eng_do_announcement_tender|default:"" }}</span>
                    </div>
                </li>
                <li>
                    <span class="w3-text-teal">
                        <b>文號/備註：</b>
                    </span>
                    <span>{{ chase_one_by_one.eng_do_announcement_tender_memo|default:"" }}</span>
                </li>
                
                <li class="w3-padding-0 w3-row">
                    <div class="w3-col s5 w3-center w3-light-grey">
                        <span class="">
                            <b>
                                定約
                                <br>&ensp;</b>
                        </span>
                    </div>
                    <div class="w3-col s7">
                        <span class="w3-text-indigo">
                            <b>預計日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.sch_eng_do_promise|default:"" }}</span>
                        <br>
                        <span class="w3-text-deep-orange">
                            <b>實際日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.act_eng_do_promise|default:"" }}</span>
                    </div>
                </li>
                <li>
                    <span class="w3-text-teal">
                        <b>文號/備註：</b>
                    </span>
                    <span>{{ chase_one_by_one.eng_do_promise_memo|default:"" }}</span>
                </li>
                
                <li class="w3-padding-0 w3-row">
                    <div class="w3-col s5 w3-center w3-light-grey">
                        <span class="">
                            <b>
                                開工
                                <br>&ensp;</b>
                        </span>
                    </div>
                    <div class="w3-col s7">
                        <span class="w3-text-indigo">
                            <b>預計日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.sch_eng_do_start|default:"" }}</span>
                        <br>
                        <span class="w3-text-deep-orange">
                            <b>實際日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.act_eng_do_start|default:"" }}</span>
                    </div>
                </li>
                <li>
                    <span class="w3-text-teal">
                        <b>文號/備註：</b>
                    </span>
                    <span>{{ chase_one_by_one.eng_do_start_memo|default:"" }}</span>
                </li>
                
                <li class="w3-padding-0 w3-row">
                    <div class="w3-col s5 w3-center w3-light-grey">
                        <span class="">
                            <b>
                                完工
                                <br>&ensp;</b>
                        </span>
                    </div>
                    <div class="w3-col s7">
                        <span class="w3-text-indigo">
                            <b>預計日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.sch_eng_do_completion|default:"" }}</span>
                        <br>
                        <span class="w3-text-deep-orange">
                            <b>實際日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.act_eng_do_completion|default:"" }}</span>
                    </div>
                </li>
                <li>
                    <span class="w3-text-teal">
                        <b>文號/備註：</b>
                    </span>
                    <span>{{ chase_one_by_one.eng_do_completion_memo|default:"" }}</span>
                </li>
                
                <li class="w3-padding-0 w3-row">
                    <div class="w3-col s5 w3-center w3-light-grey">
                        <span class="">
                            <b>
                                驗收
                                <br>&ensp;</b>
                        </span>
                    </div>
                    <div class="w3-col s7">
                        <span class="w3-text-indigo">
                            <b>預計日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.sch_eng_do_acceptance|default:"" }}</span>
                        <br>
                        <span class="w3-text-deep-orange">
                            <b>實際日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.act_eng_do_acceptance|default:"" }}</span>
                    </div>
                </li>
                <li>
                    <span class="w3-text-teal">
                        <b>文號/備註：</b>
                    </span>
                    <span>{{ chase_one_by_one.eng_do_acceptance_memo|default:"" }}</span>
                </li>
                
                <li class="w3-padding-0 w3-row">
                    <div class="w3-col s5 w3-center w3-light-grey">
                        <span class="">
                            <b>
                                結案
                                <br>&ensp;</b>
                        </span>
                    </div>
                    <div class="w3-col s7">
                        <span class="w3-text-indigo">
                            <b>預計日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.sch_eng_do_closed|default:"" }}</span>
                        <br>
                        <span class="w3-text-deep-orange">
                            <b>實際日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.act_eng_do_closed|default:"" }}</span>
                    </div>
                </li>
                <li>
                    <span class="w3-text-teal">
                        <b>文號/備註：</b>
                    </span>
                    <span>{{ chase_one_by_one.eng_do_closed_memo|default:"" }}</span>
                </li>
                
            </ul>





        {% else %}





            <ul class="w3-ul w3-card-4 w3-white">
                
                <li class="w3-padding-0 w3-row">
                    <div class="w3-col s5 w3-center w3-light-grey">
                        <span class="">
                            <b>
                                核定計畫
                                <br>&ensp;</b>
                        </span>
                    </div>
                    <div class="w3-col s7">
                        <span class="w3-text-indigo">
                            <b>預計日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.sch_ser_approved_plan|default:"" }}</span>
                        <br>
                        <span class="w3-text-deep-orange">
                            <b>實際日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.act_ser_approved_plan|default:"" }}</span>
                    </div>
                </li>
                <li>
                    <span class="w3-text-teal">
                        <b>文號/備註：</b>
                    </span>
                    <span>{{ chase_one_by_one.ser_approved_plan_memo|default:"" }}</span>
                </li>
                
                <li class="w3-padding-0 w3-row">
                    <div class="w3-col s5 w3-center w3-light-grey">
                        <span class="">
                            <b>
                                簽辦招標
                                <br>&ensp;</b>
                        </span>
                    </div>
                    <div class="w3-col s7">
                        <span class="w3-text-indigo">
                            <b>預計日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.sch_ser_signed_tender|default:"" }}</span>
                        <br>
                        <span class="w3-text-deep-orange">
                            <b>實際日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.act_ser_signed_tender|default:"" }}</span>
                    </div>
                </li>
                <li>
                    <span class="w3-text-teal">
                        <b>文號/備註：</b>
                    </span>
                    <span>{{ chase_one_by_one.ser_signed_tender_memo|default:"" }}</span>
                </li>
                
                <li class="w3-padding-0 w3-row">
                    <div class="w3-col s5 w3-center w3-light-grey">
                        <span class="">
                            <b>
                                公告招標
                                <br>&ensp;</b>
                        </span>
                    </div>
                    <div class="w3-col s7">
                        <span class="w3-text-indigo">
                            <b>預計日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.sch_ser_announcement_tender|default:"" }}</span>
                        <br>
                        <span class="w3-text-deep-orange">
                            <b>實際日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.act_ser_announcement_tender|default:"" }}</span>
                    </div>
                </li>
                <li>
                    <span class="w3-text-teal">
                        <b>文號/備註：</b>
                    </span>
                    <span>{{ chase_one_by_one.ser_announcement_tender_memo|default:"" }}</span>
                </li>
                
                <li class="w3-padding-0 w3-row">
                    <div class="w3-col s5 w3-center w3-light-grey">
                        <span class="">
                            <b>
                                公開評選會議
                                <br>(限制性招標)&ensp;</b>
                        </span>
                    </div>
                    <div class="w3-col s7">
                        <span class="w3-text-indigo">
                            <b>預計日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.sch_ser_selection_meeting|default:"" }}</span>
                        <br>
                        <span class="w3-text-deep-orange">
                            <b>實際日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.act_ser_selection_meeting|default:"" }}</span>
                    </div>
                </li>
                <li>
                    <span class="w3-text-teal">
                        <b>文號/備註：</b>
                    </span>
                    <span>{{ chase_one_by_one.ser_selection_meeting_memo|default:"" }}</span>
                </li>
                
                <li class="w3-padding-0 w3-row">
                    <div class="w3-col s5 w3-center w3-light-grey">
                        <span class="">
                            <b>
                                定約
                                <br>&ensp;</b>
                        </span>
                    </div>
                    <div class="w3-col s7">
                        <span class="w3-text-indigo">
                            <b>預計日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.sch_ser_promise|default:"" }}</span>
                        <br>
                        <span class="w3-text-deep-orange">
                            <b>實際日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.act_ser_promise|default:"" }}</span>
                    </div>
                </li>
                <li>
                    <span class="w3-text-teal">
                        <b>文號/備註：</b>
                    </span>
                    <span>{{ chase_one_by_one.ser_promise_memo|default:"" }}</span>
                </li>
                
                <li class="w3-padding-0 w3-row">
                    <div class="w3-col s5 w3-center w3-light-grey">
                        <span class="">
                            <b>
                                工作計畫書
                                <br>&ensp;</b>
                        </span>
                    </div>
                    <div class="w3-col s7">
                        <span class="w3-text-indigo">
                            <b>預計日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.sch_ser_work_plan|default:"" }}</span>
                        <br>
                        <span class="w3-text-deep-orange">
                            <b>實際日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.act_ser_work_plan|default:"" }}</span>
                    </div>
                </li>
                <li>
                    <span class="w3-text-teal">
                        <b>文號/備註：</b>
                    </span>
                    <span>{{ chase_one_by_one.ser_work_plan_memo|default:"" }}</span>
                </li>
                
                <li class="w3-padding-0 w3-row">
                    <div class="w3-col s5 w3-center w3-light-grey">
                        <span class="">
                            <b>
                                期中報告
                                <br>&ensp;</b>
                        </span>
                    </div>
                    <div class="w3-col s7">
                        <span class="w3-text-indigo">
                            <b>預計日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.sch_ser_interim_report|default:"" }}</span>
                        <br>
                        <span class="w3-text-deep-orange">
                            <b>實際日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.act_ser_interim_report|default:"" }}</span>
                    </div>
                </li>
                <li>
                    <span class="w3-text-teal">
                        <b>文號/備註：</b>
                    </span>
                    <span>{{ chase_one_by_one.ser_interim_report_memo|default:"" }}</span>
                </li>
                
                <li class="w3-padding-0 w3-row">
                    <div class="w3-col s5 w3-center w3-light-grey">
                        <span class="">
                            <b>
                                期末報告
                                <br>&ensp;</b>
                        </span>
                    </div>
                    <div class="w3-col s7">
                        <span class="w3-text-indigo">
                            <b>預計日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.sch_ser_final_report|default:"" }}</span>
                        <br>
                        <span class="w3-text-deep-orange">
                            <b>實際日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.act_ser_final_report|default:"" }}</span>
                    </div>
                </li>
                <li>
                    <span class="w3-text-teal">
                        <b>文號/備註：</b>
                    </span>
                    <span>{{ chase_one_by_one.ser_final_report_memo|default:"" }}</span>
                </li>
                
                <li class="w3-padding-0 w3-row">
                    <div class="w3-col s5 w3-center w3-light-grey">
                        <span class="">
                            <b>
                                驗收結案
                                <br>&ensp;</b>
                        </span>
                    </div>
                    <div class="w3-col s7">
                        <span class="w3-text-indigo">
                            <b>預計日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.sch_ser_acceptance_closed|default:"" }}</span>
                        <br>
                        <span class="w3-text-deep-orange">
                            <b>實際日期：</b>
                        </span>
                        <span class="w3-right">{{ chase_one_by_one.act_ser_acceptance_closed|default:"" }}</span>
                    </div>
                </li>
                <li>
                    <span class="w3-text-teal">
                        <b>文號/備註：</b>
                    </span>
                    <span>{{ chase_one_by_one.ser_acceptance_closed_memo|default:"" }}</span>
                </li>
                
            </ul>
        {% endif %}
    </div>
</div>

<div class="w3-clear"></div>
<br>
<br>
{% endblock %}
