{% extends "mobile/_base.html" %}
{% load i18n %}
{% load humanize %}
{% load utiltags %}

{% block page_haeder %}
<ul id="project_info_menu" class="w3-navbar w3-left-align w3-light-grey w3-center w3-large w3-top">
    <li class="w3-left" style="width:10% !important" name="index">
        <a href="{% url 'm_index' %}" > <i class="fa fa-home"></i>
        </a>
    </li>
    <li class="w3-left" style="width:30% !important" name="project_info">
        <a onclick="$('#project_info').show();$('#errors').hide();$('#project_info_menu').find('a').removeClass('w3-text-teal');$(this).addClass('w3-text-teal');">基本資料</a>
    </li>
    <li class="w3-left" style="width:30% !important" name="errors">
        <a onclick="$('#project_info').hide();$('#errors').show();$('#project_info_menu').find('a').removeClass('w3-text-teal');$(this).addClass('w3-text-teal');">缺失</a>
    </li>
</ul>
{% endblock %}
<!-- Sidenav -->

<!-- !PAGE CONTENT! -->
{% block page_content %}
<script type="text/javascript">
    //選擇自己的目錄
    $(document).ready(function(){
        $('#project_info_menu').find('li[name="project_info"]').find('a').addClass('w3-text-teal');
    });
</script>

<div class="w3-container w3-padding-8 w3-center w3-light-grey w3-card-8" style="margin-top:32px;">
    <div class="w3-clear"></div>
    <h4 class=""> <b>{{ project.date }} - {{ project.project }}</b>
    </h4>
</div>
<br>

<div class="w3-row-padding" id="project_info">
    <div class="w3-card-4 ">
        <header class="w3-container w3-teal">
            <h5> <b><i class="fa fa-info"></i>
                    &ensp;基本資料</b> 
            </h5>
        </header>
        <ul class="w3-ul w3-card-4 w3-white">
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal"> <b>督導日期：</b>
                </span>
                <span>{{ project.date }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>地點：</b>
                </span>
                <span>{{ project.place.name|default:"" }}{{ project.location.name|default:"" }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>工程會標案編號：</b>
                </span>
                <span>{{ project.uid|default:"未設定" }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>列管計畫名稱：</b>
                </span>
                <span>{{ project.plan|default:"未設定" }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>工程主管機關：</b>
                </span>
                <span>{{ project.subordinate_agencies_unit|default:"未設定" }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>標案主辦機關：</b>
                </span>
                <span>{{ project.project_organizer_agencies|default:"未設定" }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>專案管理單位：</b>
                </span>
                <span>{{ project.read_total_money|default:"未設定" }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>設計單位：</b>
                </span>
                <span>{{ project.designer|default:"未設定" }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>監造單位：</b>
                </span>
                <span>{{ project.inspector|default:"未設定" }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>承包商：</b>
                </span>
                <span>{{ project.construct|default:"未設定" }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>設計單位：</b>
                </span>
                <span>{{ project.designer|default:"未設定" }}</span>
                <br></li>
        </ul>
    </div>
    </br>
    
    <div class="w3-card-4 ">
        <header class="w3-container w3-teal">
            <h5> <b><i class="fa fa-info"></i>
                    &ensp;工程概要</b> 
            </h5>
        </header>
        <ul class="w3-ul w3-card-4 w3-white">
            <li class="w3-padding-8 w3-row">
                <span>{{ project.info|linebreaks }}</span>
            </li>
        </ul>
    </div>
    </br>

    <div class="w3-card-4 ">
        <header class="w3-container w3-teal">
            <h5> <b><i class="fa fa-info"></i>
                    &ensp;預算進度</b> 
            </h5>
        </header>
        <ul class="w3-ul w3-card-4 w3-white">
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>發包預算：</b>
                </span>
                <span>{{ project.budget_price|intcomma|cutzero }} 千元</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>契約金額：</b>
                </span>
                <span>{{ project.contract_price|intcomma|cutzero }} 千元
                    {% if project.contract_price_change %}
                        <br><span style="color: blue">變更設計後：{{ project.contract_price_change|intcomma|cutzero }} 千元</span>
                    {% endif %}
                </span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>工程進度：</b>
                </span>
                <span>預定：{{ project.scheduled_progress|cutzero }}%；實際：{{ project.actual_progress|cutzero }}%</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>經費支用：</b>
                </span>
                <span>預定：{{ project.scheduled_money|intcomma|cutzero }}仟元；實際：{{ project.actual_money|intcomma|cutzero }}仟元</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>目前施工概況：</b>
                </span>
                <span>{{ project.progress_info|linebreaks }}</span>
                <br></li>
        </ul>
    </div>
    </br>

    <div class="w3-card-4 ">
        <header class="w3-container w3-teal">
            <h5> <b><i class="fa fa-info"></i>
                    &ensp;督導資訊</b> 
            </h5>
        </header>
        <ul class="w3-ul w3-card-4 w3-white">
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>分數：</b>
                </span>
                <span>{{ project.score }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>督導委員(外)：</b>
                </span>
                <span>{{ project.outguide_string }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>督導委員(內)：</b>
                </span>
                <span>{{ project.inguide_string }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>領隊：</b>
                </span>
                <span>{{ project.captain_string }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>工作人員：</b>
                </span>
                <span>{{ project.worker_string }}</span>
                <br></li>
        </ul>
    </div>
    </br>

    <div class="w3-card-4 ">
        <header class="w3-container w3-teal">
            <h5> <b><i class="fa fa-info"></i>
                    &ensp;優點</b> 
            </h5>
        </header>
        <ul class="w3-ul w3-card-4 w3-white">
            <li class="w3-padding-8 w3-row">
                <span>{{ project.merit|linebreaks }}</span>
            </li>
        </ul>
    </div>
    </br>
    
    <div class="w3-card-4 ">
        <header class="w3-container w3-teal">
            <h5> <b><i class="fa fa-info"></i>
                    &ensp;規劃設計問題及建議</b> 
            </h5>
        </header>
        <ul class="w3-ul w3-card-4 w3-white">
            <li class="w3-padding-8 w3-row">
                <span>{{ project.advise|linebreaks }}</span>
            </li>
        </ul>
    </div>
    </br>

    <div class="w3-card-4 ">
        <header class="w3-container w3-teal">
            <h5> <b><i class="fa fa-info"></i>
                    &ensp;其他建議</b> 
            </h5>
        </header>
        <ul class="w3-ul w3-card-4 w3-white">
            <li class="w3-padding-8 w3-row">
                <span>{{ project.other_advise|linebreaks }}</span>
            </li>
        </ul>
    </div>
    </br>

    <div class="w3-card-4 ">
        <header class="w3-container w3-teal">
            <h5> <b><i class="fa fa-info"></i>
                    &ensp;扣點統計</b> 
            </h5>
        </header>
        <ul class="w3-ul w3-card-4 w3-white">
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>承攬廠商：</b>
                </span>
                <span>{{ project.construct_deduction }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>監造廠商：</b>
                </span>
                <span>{{ project.inspector_deduction }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>主辦單位：</b>
                </span>
                <span>{{ project.organizer_deduction }}</span>
                <br></li>
            <li class="w3-padding-8 w3-row">
                <span class="w3-text-teal">
                    <b>專案管理單位：</b>
                </span>
                <span>{{ project.project_manage_deduction }}</span>
                <br></li>
        </ul>
    </div>
    </br>
</div>


<div class="w3-row-padding" id="errors" style="display:none;">
    <div class="w3-card-4 ">
        <header class="w3-container w3-teal">
            <h5> <b><i class="fa fa-info"></i>
                    &ensp;缺失</b> 
            </h5>
        </header>
        <ul class="w3-ul w3-card-4 w3-white">

            {% for e in project.errors %}
                <li class="w3-padding-8 w3-row">
                    <div class="w3-col s4">
                        <span class="w3-xlarge">{{ forloop.counter }}<br></span>
                        <br>
                        <span>{{ e.ec.no }}</span>
                        <span style="font-size: 10px;"><br>({{ e.ec.introduction }})</span>
                    </div>
                    <div class="w3-col s8">
                        <span class="w3-text-teal">程度：</span>
                        <span>{{ e.level.name }}</span>
                        <br>
                        <span class="w3-text-teal">缺失內容</span>
                        <br>
                        <span >{{ e.context }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    </br>

</div>
<div class="w3-clear"></div>
<br>
<br>
{% endblock %}