/* Global */
body {padding:0; margin:0; overflow: hide;}
*{font-family:Arial,Helvetica,sans-serif;}
a{color:#3333ff;text-decoration:none;cursor:pointer;font-size:small;}

.banner {height: 70px;}
.zh_TW {
    color: rgb(136,136,136);
    font-size: 30px;
    padding: 5px;
}

.en_US{
    color: rgb(204,204,204);
    font-size: 20px;
}
.content {
    width: 100%;
    height: 100px;
    overflow: hide;
}

.footer {
	position: absolute;
	width: 100%;
	padding: -5px;
	height: 40px;
	font-size: 12px;
	overflow: hide;
	bottom: 0;
	text-align: center;
}
.footer div:first-child{
    padding-top: 5px;
}
/* Search Panel*/



div.searchPanel {
    height: 100%;
    width: 248px;
    float: left;
    margin: 0 2px;
    padding: 0;
    overflow-y:scroll;
}


div.mapPanel {
    height: 100%;
    margin-left: 254px;
}

div.searchPanel ul{
    margin: 4px;
}

#searchResult{
}

tr.odd {
  background-color: #D5D5D5;
}

div.searchPanel #searchConditions {
    margin: 2px;
	height: 100%;
}

.ui-conditionview {
    border-bottom: 1px gray solid;
    font-size: 12px;
}

.ui-conditionview .ui-cond-list {
}

.ui-conditionview .ui-cond-list .ui-cond-row{
	background-color:#dddddd;
	margin: 2px -2px;
	padding: 3px;
}

.ui-conditionview .ui-cond-list .ui-cond-row .ui-cond-fn{
/*    text-align: right;*/
}

.ui-conditionview .ui-cond-list .ui-cond-row .ui-cond-button{
	font-size: 1px;
	padding: 1px 5px;
}

.ui-conditionview .ui-cond-bottom {
    text-align: right;
    padding-right: 5px;
}

#tags {
    height: 100%;
}

#searchResult div {
	cursor: pointer;
	padding: 2px;
}
#searchResult div:hover {
	background-color: #aaaaff;
}
#searchResult div:active {
	color: red;
}

/* Text In Google Map*/
div.gmapMoreInfo {
	text-align: right;
}

.port_info_err {font-size: 10px; color: #ff0000;}
.port_info_prop {font-size: 12px; color: #333333;}
.port_info_link,.port_info_link a{font-size: 12px; color: #3333ff !important; float: right; clear: both;}


/* hide fisrt button*/
.ui-cond-row:first-child .ui-cond-fn .ui-cond-button {
	display: none;
}

/* gis_image */
.gis_image {}
.gis_image .port,
.gis_image .owner {
    font-size: small;
}
.gis_image .links {
    color: blue;
    text-align: right;
}