{% extends "fishuser/zh-tw/base.html" %}
{% load i18n %}
{% load humanize %}
{% load staticfiles %}
{% load utiltags %}
{% load guardian_tags %}

{% block body %}

<script type="text/javascript" src="{% static 'supervise/v2/js/case_profile.js' %}{{ SV_ }}"></script>

<script type="text/javascript">
    var case_id = "{{ p.id }}";
    var locations = {};
    {% for i in places %}
        locations[{{ i.id }}] = '{{ i.locations|safe }}';
    {% endfor %}
    var default_guide = [{% for dg in default_guide %}"{{ dg }}"{% if not forloop.last %},{% endif %}{% endfor %}];
    $(document).ready(function(){
        $('#location').val('/fishuser/api/v2/place/{{ p.location.id }}/');
    });
</script>


<h3>行政院農業部漁業署工程督導小組督導紀錄</h3>

<div id="side_float_bar" style="display:none;">
    <div id="float_basket_header">
        <h5>缺失搜尋小工具<a href="#" onclick="$('#side_float_bar').hide();">(關閉)</a></h5>
        <input class="form-control" id="error_keyword" type="text" name="error_keyword" value="" oninput="return search_error(event)" placeholder="缺失編號或關鍵字，可用空白逗號隔開">
    </div>
    <div id="float_basket">
        <table style="font-size: 12px; background: white;" class="table table-bordered" id="search_error_result"></table>
    </div>
</div>

<style>
    /*缺失搜尋小工具*/
    #side_float_bar {
      z-index: 1000;
      width: 350px;
      float: right;
      position: fixed;
      top: 52px;
      right: 2px;
    }

    #float_basket_header {
      height:80px;
      border: solid 1px silver;
      -moz-border-radius: 12px;
      -webkit-border-radius: 12px;
      border-radius: 12px 12px 0px 0px;
      padding: 0px 10px 0px 10px;
      background: #C8DAB6;
      position: relative;
    }

    #float_basket {
      height:420px;
      overflow-y: scroll;
      border: solid 1px silver;
      -moz-border-radius: 12px;
      -webkit-border-radius: 12px;
      border-radius: 0px 0px 12px 12px;
      padding: 10px;
      background: #E6F8D4;
      position: relative;
    }

    .click_copy{
        cursor: pointer;
    }

    .lobibox-prompt{
        top:250px !important;
    }
</style>

<input type="hidden" value="{{ p.id }}" id="supervisecase_id">
<table class="table table-bordered" style="font-size: 12px;">
    <tr>
        <td class="active" width="12%">同意結案文號</td>
        <td colspan="5">
            <input
                type="text" class="BlurUpdateInfo form-control"
                field_type="str"
                row_id="{{ p.id }}"
                field_name="finish_no"
                table_name="supervisecase"
                module_name='supervise'
                placeholder="待輸入"
                old_value="{{ p.finish_no|default_if_none:'' }}"
                value="{{ p.finish_no|default_if_none:'' }}"/>
        </td>
    </tr>
    <tr>
        <td class="active" width="12%">標案編號</td>
        <td colspan="5">
            <input
                id="uid"
                type="text" class="BlurUpdateInfo form-control"
                field_type="str"
                row_id="{{ p.id }}"
                field_name="uid"
                table_name="supervisecase"
                module_name='supervise'
                placeholder="待輸入"
                old_value="{{ p.uid|default_if_none:'' }}"
                value="{{ p.uid|default_if_none:'' }}"/>
        </td>
    </tr>
    <tr>
        <td class="active" width="12%">列管計畫名稱</td>
        <td colspan="3">
            <input
                type="text" class="BlurUpdateInfo form-control needExist"
                field_type="str"
                row_id="{{ p.id }}"
                field_name="plan"
                table_name="supervisecase"
                module_name='supervise'
                placeholder="待輸入"
                old_value="{{ p.plan|default_if_none:'' }}"
                value="{{ p.plan|default_if_none:'' }}"/>
        </td>
        <td class="active" width="12%">計畫主辦機關</td>
        <td width="20%">行政院農業部漁業署</td>
    </tr>
    <tr>
        <td class="active">標案所屬<br>工程主管機關</td>
        <td colspan="3">
            <select
                type="text" class="BlurUpdateInfo form-control needExist"
                field_type="str"
                is_select="true"
                row_id="{{ p.id }}"
                field_name="subordinate_agencies_unit"
                table_name="supervisecase"
                module_name='supervise'
                old_value="/fishuser/api/v2/unit/{{ p.subordinate_agencies_unit.id }}/">
                {% for u in units %}
                    <option value="/fishuser/api/v2/unit/{{ u.id }}/" {% if u == p.subordinate_agencies_unit %}selected{% endif %}>{{ u.name }}</option>
                {% endfor %}
            </select>
        </td>
        <td class="active">督導日期</td>
        <td id="supervise_date">
            <input
                type="text" class="BlurUpdateInfo form-control needExist datepicker"
                field_type="str"
                row_id="{{ p.id }}"
                field_name="date"
                table_name="supervisecase"
                module_name='supervise'
                placeholder="待輸入"
                old_value="{{ p.date|default_if_none:'' }}"
                value="{{ p.date|default_if_none:'' }}"/>
        </td>
    </tr>
    <tr>
        <td class="active">標案名稱</td>
        <td colspan="3">
            <input
                type="text" class="BlurUpdateInfo form-control needExist"
                field_type="str"
                row_id="{{ p.id }}"
                field_name="project"
                table_name="supervisecase"
                module_name='supervise'
                placeholder="待輸入"
                old_value="{{ p.project|default_if_none:'' }}"
                value="{{ p.project|default_if_none:'' }}"/>
        </td>
        <td class="active">地點</td>
        <td>
            <select id="place"
                class="BlurUpdateInfo form-control needExist"
                field_type="str"
                is_select='true'
                row_id="{{ p.id }}"
                field_name="place"
                table_name="supervisecase"
                module_name='supervise'
                old_value="{{ p.place|default_if_none:'' }}">
                {% for i in places %}
                    <option value="/fishuser/api/v2/place/{{ i.id }}/" {% ifequal i.id p.place.id %}selected{% endifequal %}>{{ i.name }}</option>
                {% endfor %}
            </select>
            <select id="location"
                class="BlurUpdateInfo form-control"
                field_type="str"
                is_select='true'
                row_id="{{ p.id }}"
                field_name="location"
                table_name="supervisecase"
                module_name='supervise'>
            </select>
        </td>
    </tr>
    <tr>
        <td class="active">標案主辦機關</td>
        <td colspan="3">
            <input
                type="text" class="BlurUpdateInfo form-control"
                field_type="str"
                row_id="{{ p.id }}"
                field_name="project_organizer_agencies"
                table_name="supervisecase"
                module_name='supervise'
                placeholder="待輸入"
                old_value="{{ p.project_organizer_agencies|default_if_none:'' }}"
                value="{{ p.project_organizer_agencies|default_if_none:'' }}"/>
        </td>
        <td class="active">專案管理單位</td>
        <td>
            <input
                type="text" class="BlurUpdateInfo form-control"
                field_type="str"
                row_id="{{ p.id }}"
                field_name="project_manage_unit"
                table_name="supervisecase"
                module_name='supervise'
                placeholder="待輸入"
                old_value="{{ p.project_manage_unit|default_if_none:'' }}"
                value="{{ p.project_manage_unit|default_if_none:'' }}"/>
        </td>
    </tr>
    <tr>
        <td class="active">設計單位</td>
        <td width="20%">
            <input
                type="text" class="BlurUpdateInfo form-control"
                field_type="str"
                row_id="{{ p.id }}"
                field_name="designer"
                table_name="supervisecase"
                module_name='supervise'
                placeholder="待輸入"
                old_value="{{ p.designer|default_if_none:'' }}"
                value="{{ p.designer|default_if_none:'' }}"/>
        </td>
        <td class="active" width="12%">監造單位</td>
        <td>
            <input
                type="text" class="BlurUpdateInfo form-control"
                field_type="str"
                row_id="{{ p.id }}"
                field_name="inspector"
                table_name="supervisecase"
                module_name='supervise'
                placeholder="待輸入"
                old_value="{{ p.inspector|default_if_none:'' }}"
                value="{{ p.inspector|default_if_none:'' }}"/>
        </td>
        <td class="active">承包商</td>
        <td>
            <input
                type="text" class="BlurUpdateInfo form-control"
                field_type="str"
                row_id="{{ p.id }}"
                field_name="construct"
                table_name="supervisecase"
                module_name='supervise'
                placeholder="待輸入"
                old_value="{{ p.construct|default_if_none:'' }}"
                value="{{ p.construct|default_if_none:'' }}"/>
        </td>
    </tr>
    <tr>
        <td class="active">發包預算(千元)</td>
        <td colspan="3">
            <input
                type="text" class="BlurUpdateInfo form-control"
                field_type="float"
                row_id="{{ p.id }}"
                field_name="budget_price"
                table_name="supervisecase"
                module_name='supervise'
                placeholder="待輸入"
                old_value="{{ p.budget_price|default_if_none:'' }}"
                value="{{ p.budget_price|default_if_none:'' }}"/>
        </td>
        <td class="active">契約金額</td>
        <td>
            <input
                type="text" class="BlurUpdateInfo form-control"
                field_type="float"
                row_id="{{ p.id }}"
                field_name="contract_price"
                table_name="supervisecase"
                module_name='supervise'
                placeholder="待輸入"
                old_value="{{ p.contract_price|default_if_none:'' }}"
                value="{{ p.contract_price|default_if_none:'' }}"/>
            變更設計後：
            <input
                type="text" class="BlurUpdateInfo form-control"
                field_type="float"
                row_id="{{ p.id }}"
                field_name="contract_price_change"
                table_name="supervisecase"
                module_name='supervise'
                placeholder="無變更請留空"
                old_value="{{ p.contract_price_change|default_if_none:'' }}"
                value="{{ p.contract_price_change|default_if_none:'' }}"/>
        </td>
    </tr>
    <tr>
        <td class="active">工程概要</td>
        <td colspan="5" id="show_info__info">
            <textarea
                class="BlurUpdateInfo form-control"
                field_type="str"
                rows="10"
                row_id="{{ p.id }}"
                field_name="info"
                table_name="supervisecase"
                module_name='supervise'
                placeholder="待輸入"
                old_value="{{ p.info|default_if_none:'' }}">{{ p.info|default_if_none:'' }}</textarea>
        </td>
    </tr>
    <tr>
        <td class="active">工程進度、<br>經費支用及<br>目前施工概況</td>
        <td colspan="5">
            <div class="row">
                <div class="col-md-5">
                    <div class="input-group">
                        <div class="input-group-addon">截至</div>
                        <input
                            type="text" class="BlurUpdateInfo form-control datepicker"
                            field_type="date"
                            row_id="{{ p.id }}"
                            field_name="progress_date"
                            table_name="supervisecase"
                            module_name='supervise'
                            placeholder="待輸入"
                            old_value="{{ p.progress_date|default_if_none:'' }}"
                            value="{{ p.progress_date|default_if_none:'' }}"/>
                        <div class="input-group-addon">止</div>：<br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" align="right">
                    1.工程累計進度：
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">預定：</div>
                        <input
                            type="text" class="BlurUpdateInfo form-control"
                            field_type="float"
                            row_id="{{ p.id }}"
                            field_name="scheduled_progress"
                            table_name="supervisecase"
                            module_name='supervise'
                            placeholder="待輸入"
                            old_value="{{ p.scheduled_progress|default_if_none:''|cutzero }}"
                            value="{{ p.scheduled_progress|default_if_none:''|cutzero }}"/>
                        <div class="input-group-addon">%</div>、<br>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">實際：</div>
                        <input
                            type="text" class="BlurUpdateInfo form-control"
                            field_type="float"
                            row_id="{{ p.id }}"
                            field_name="actual_progress"
                            table_name="supervisecase"
                            module_name='supervise'
                            placeholder="待輸入"
                            old_value="{{ p.actual_progress|default_if_none:''|cutzero }}"
                            value="{{ p.actual_progress|default_if_none:''|cutzero }}"/>
                        <div class="input-group-addon">%</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" align="right">
                    2.經費累計支用：
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">預定：</div>
                        <input
                            type="text" class="BlurUpdateInfo form-control"
                            field_type="float"
                            row_id="{{ p.id }}"
                            field_name="scheduled_money"
                            table_name="supervisecase"
                            module_name='supervise'
                            placeholder="待輸入"
                            old_value="{{ p.scheduled_money|default_if_none:''|cutzero }}"
                            value="{{ p.scheduled_money|default_if_none:''|cutzero }}"/>
                        <div class="input-group-addon">千元</div>、<br>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">實際：</div>
                        <input
                            type="text" class="BlurUpdateInfo form-control"
                            field_type="float"
                            row_id="{{ p.id }}"
                            field_name="actual_money"
                            table_name="supervisecase"
                            module_name='supervise'
                            placeholder="待輸入"
                            old_value="{{ p.actual_money|default_if_none:''|cutzero }}"
                            value="{{ p.actual_money|default_if_none:''|cutzero }}"/>
                        <div class="input-group-addon">千元</div>
                    </div>
                </div>
            </div>
            　3.目前進行：
            <textarea
                class="BlurUpdateInfo form-control"
                field_type="str"
                rows="10"
                row_id="{{ p.id }}"
                field_name="progress_info"
                table_name="supervisecase"
                module_name='supervise'
                placeholder="待輸入"
                old_value="{{ p.progress_info|default_if_none:'' }}">{{ p.progress_info|default_if_none:'' }}</textarea>
        </td>
    </tr>
    <tr>
        <td class="active" rowspan="2">領隊及工作人員</td>
        <td colspan="3" rowspan="2">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered">
                        <tr align="center">
                            <td colspan="2" bgcolor='#FFE7CD'>領　　隊</td>
                        </tr>
                        {% for captain in p.captain.all %}
                        <tr align="center" id="tr_captain_{{ captain.id }}">
                            <td width="90%">{{ captain.name }}</td>
                            <td>
                                <botton class="btn btn-danger btn-xs remove_guide" case_id="{{ p.id }}" guide_id="{{ captain.id }}" field_name="captain" title="刪除">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </botton>
                            </td>
                        </tr>
                        {% endfor %}

                        <tr id="insert_place_captain" style="display: none;"><td></td></tr>
                        
                        <tr align="center">
                            <td width="90%">
                                <input class="form-control" id="captain" type="text" name="captain" maxlength="10" value=""/>
                            </td>
                            <td>
                                <botton class="btn btn-success btn-xs add_guide" case_id="{{ p.id }}" field_name="captain" title="新增">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </botton>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-bordered">
                        <tr align="center">
                            <td colspan="2" bgcolor='#CDE5FF'>工作人員</td>
                        </tr>
                        {% for worker in p.worker.all %}
                        <tr align="center" id="tr_worker_{{ worker.id }}">
                            <td width="90%">{{ worker.name }}</td>
                            <td>
                                <botton class="btn btn-danger btn-xs remove_guide" case_id="{{ p.id }}" guide_id="{{ worker.id }}" field_name="worker" title="刪除">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </botton>
                            </td>
                        </tr>
                        {% endfor %}

                        <tr id="insert_place_worker" style="display: none;"><td></td></tr>
                        
                        <tr align="center">
                            <td width="90%">
                                <input class="form-control" id="worker" type="text" name="worker" maxlength="10" value=""/>
                            </td>
                            <td>
                                <botton class="btn btn-success btn-xs add_guide" case_id="{{ p.id }}" field_name="worker" title="新增">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </botton>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
        <td class="active">開工及<br>預定完工日期</td>
        <td>
            <div class="input-group">
                <div class="input-group-addon" style="font-size: 10px;">開工：</div>
                <input
                    type="text" class="BlurUpdateInfo form-control datepicker"
                    field_type="date" style="font-size: 12px;"
                    row_id="{{ p.id }}"
                    field_name="start_date"
                    table_name="supervisecase"
                    module_name='supervise'
                    placeholder="待輸入"
                    old_value="{{ p.start_date|default_if_none:'' }}"
                    value="{{ p.start_date|default_if_none:'' }}"/>
            </div>
            <div class="input-group">
                <div class="input-group-addon" style="font-size: 10px;">完工：</div>
                <input
                    type="text" class="BlurUpdateInfo form-control datepicker"
                    field_type="date" style="font-size: 12px;"
                    row_id="{{ p.id }}"
                    field_name="expected_completion_date"
                    table_name="supervisecase"
                    module_name='supervise'
                    placeholder="待輸入"
                    old_value="{{ p.expected_completion_date|default_if_none:'' }}"
                    value="{{ p.expected_completion_date|default_if_none:'' }}"/>
            </div>
            (預定)
            <div class="input-group">
                <div class="input-group-addon" style="font-size: 10px;">變更後至</div>
                <input
                    type="text" class="BlurUpdateInfo form-control datepicker"
                    field_type="date" style="font-size: 12px;"
                    row_id="{{ p.id }}"
                    field_name="expected_completion_date_change"
                    table_name="supervisecase"
                    module_name='supervise'
                    placeholder="無變更請留空"
                    old_value="{{ p.expected_completion_date_change|default_if_none:'' }}"
                    value="{{ p.expected_completion_date_change|default_if_none:'' }}"/>
            </div>
        </td>
    </tr>
    <tr>
        <td class="active">督導分數<br>(等級)</td>
        <td id="case_score">
            <input
                type="text" class="BlurUpdateInfo form-control"
                field_type="float"
                row_id="{{ p.id }}"
                field_name="score"
                table_name="supervisecase"
                module_name='supervise'
                placeholder="待輸入"
                old_value="{{ p.score|default_if_none:''|cutzero }}"
                value="{{ p.score|default_if_none:''|cutzero }}"/>
        </td>
    </tr>
    <tr>
        <td class="active">優點</td>
        <td colspan="5" id="show_info__merit">
            <textarea
                class="BlurUpdateInfo form-control"
                field_type="str"
                rows="10"
                row_id="{{ p.id }}"
                field_name="merit"
                table_name="supervisecase"
                module_name='supervise'
                placeholder="待輸入"
                old_value="{{ p.merit|default_if_none:'' }}">{{ p.merit|default_if_none:'' }}</textarea>
        </td>
    </tr>
    <tr>
        <td class="active" style="vertical-align: top">
            督導委員與缺點<br>
            <button class="btn btn-xs btn-info" style="margin-top:10px;" onclick="$('#error_keyword').val('');$('#search_error_result').html('');$('#side_float_bar').show();">開啟缺失搜尋小工具</button><br>
            <button style="margin-top:8px;" class="btn btn-success btn-sm create_guide" guide_type="out">新增【外部】委員</button><br>
            <button style="margin-top:8px;" class="btn btn-success btn-sm create_guide" guide_type="in">新增【內部】委員</button>
            <br><br>
            <button class="btn btn-xs btn-warning" style="margin-top:10px;" data-toggle="modal" data-target="#default_guide_dialog" data-backdrop="static" data-keyboard="false">設定常見委員名單</button>
        </td>
        <td colspan="5" id="td_guide_and_errors">
            {% for g in p.guides %}
                <div class="div_guide" row_id="{{ g.obj.id }}">
                    <h3>
                        <span name="guide_type">{{ g.type }}：</span><span name="guide_name">{{ g.obj.name }}</span>
                        <button style="float:right" class="btn btn-success btn-sm add_error">新增缺失</button>
                        <button style="float:right;margin-right:8px" class="btn btn-info btn-sm show_error_move_dialog">移動缺失</button>
                        {% if not forloop.last %}
                        <button style="float:right;margin-right:8px" class="btn btn-warning btn-sm guide_rename">更名</button>
                        <button style="float:right;margin-right:8px" class="btn btn-danger btn-sm delete_guide">刪除</button>
                        {% endif %}
                    </h3>
                </div>
                <table class="table table-bordered table_errors" row_id="{{ g.obj.id }}" style="table-layout: fixed;text-align: center;font-size: 12px;">
                    <thead>
                        <tr class="danger">
                            <td width="40px">刪除</td>
                            <td width="80px">缺失編號</td>
                            <td width="80px">缺失<br>程度</td>
                            <td>缺　失　內　容</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for error in g.errors %}
                            {% include 'supervise/zh-tw/create_by_self/tr_error.html' %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td class="active">規劃設計<br>問題及建議</td>
        <td colspan="5" id="show_info__advise">
            <textarea
                class="BlurUpdateInfo form-control"
                field_type="str"
                rows="10"
                row_id="{{ p.id }}"
                field_name="advise"
                table_name="supervisecase"
                module_name='supervise'
                placeholder="待輸入"
                old_value="{{ p.advise|default_if_none:'' }}">{{ p.advise|default_if_none:'' }}</textarea>
        </td>
    </tr>
    <tr>
        <td class="active">其他建議</td>
        <td colspan="5" id="show_info__other_advise">
            <textarea
                class="BlurUpdateInfo form-control"
                field_type="str"
                rows="10"
                row_id="{{ p.id }}"
                field_name="other_advise"
                table_name="supervisecase"
                module_name='supervise'
                placeholder="待輸入"
                old_value="{{ p.other_advise|default_if_none:'' }}">{{ p.other_advise|default_if_none:'' }}</textarea>
        </td>
    </tr>
    <tr>
        <td class="active">扣點統計</td>
        <td colspan="5">
            <div class="row" style="margin-bottom:8px">
                <div class="col-md-5">
                    <div class="input-group">
                        <div class="input-group-addon">　　承攬廠商扣點：</div>
                        <input
                            type="text" class="BlurUpdateInfo form-control"
                            field_type="int"
                            row_id="{{ p.id }}"
                            field_name="construct_deduction"
                            table_name="supervisecase"
                            module_name='supervise'
                            placeholder="待輸入"
                            old_value="{{ p.construct_deduction|default_if_none:''|cutzero }}"
                            value="{{ p.construct_deduction|default_if_none:''|cutzero }}"/>
                        <div class="input-group-addon">點</div>
                    </div>
                </div>
                <div class="col-md-7" style="padding-left:0px">
                    <textarea
                        class="BlurUpdateInfo form-control"
                        field_type="str"
                        row_id="{{ p.id }}"
                        field_name="construct_deduction_memo"
                        table_name="supervisecase"
                        module_name='supervise'
                        placeholder="扣點說明"
                        old_value="{{ p.construct_deduction_memo|default_if_none:'' }}">{{ p.construct_deduction_memo|default_if_none:'' }}</textarea>
                </div>
            </div>
            <div class="row" style="margin-bottom:8px">
                <div class="col-md-5">
                    <div class="input-group">
                        <div class="input-group-addon">　　監造廠商扣點：</div>
                        <input
                            type="text" class="BlurUpdateInfo form-control"
                            field_type="int"
                            row_id="{{ p.id }}"
                            field_name="inspector_deduction"
                            table_name="supervisecase"
                            module_name='supervise'
                            placeholder="待輸入"
                            old_value="{{ p.inspector_deduction|default_if_none:''|cutzero }}"
                            value="{{ p.inspector_deduction|default_if_none:''|cutzero }}"/>
                        <div class="input-group-addon">點</div>
                    </div>
                </div>
                <div class="col-md-7" style="padding-left:0px">
                    <textarea
                        class="BlurUpdateInfo form-control"
                        field_type="str"
                        row_id="{{ p.id }}"
                        field_name="inspector_deduction_memo"
                        table_name="supervisecase"
                        module_name='supervise'
                        placeholder="扣點說明"
                        old_value="{{ p.inspector_deduction_memo|default_if_none:'' }}">{{ p.inspector_deduction_memo|default_if_none:'' }}</textarea>
                </div>
            </div>
            <div class="row" style="margin-bottom:8px">
                <div class="col-md-5">
                    <div class="input-group">
                        <div class="input-group-addon">　　主辦單位扣點：</div>
                        <input
                            type="text" class="BlurUpdateInfo form-control"
                            field_type="int"
                            row_id="{{ p.id }}"
                            field_name="organizer_deduction"
                            table_name="supervisecase"
                            module_name='supervise'
                            placeholder="待輸入"
                            old_value="{{ p.organizer_deduction|default_if_none:''|cutzero }}"
                            value="{{ p.organizer_deduction|default_if_none:''|cutzero }}"/>
                        <div class="input-group-addon">點</div>
                    </div>
                </div>
                <div class="col-md-7" style="padding-left:0px">
                    <textarea
                        class="BlurUpdateInfo form-control"
                        field_type="str"
                        row_id="{{ p.id }}"
                        field_name="organizer_deduction_memo"
                        table_name="supervisecase"
                        module_name='supervise'
                        placeholder="扣點說明"
                        old_value="{{ p.organizer_deduction_memo|default_if_none:'' }}">{{ p.organizer_deduction_memo|default_if_none:'' }}</textarea>
                </div>
            </div>
            <div class="row" style="margin-bottom:8px">
                <div class="col-md-5">
                    <div class="input-group">
                        <div class="input-group-addon">專案管理單位扣點：</div>
                        <input
                            type="text" class="BlurUpdateInfo form-control"
                            field_type="int"
                            row_id="{{ p.id }}"
                            field_name="project_manage_deduction"
                            table_name="supervisecase"
                            module_name='supervise'
                            placeholder="待輸入"
                            old_value="{{ p.project_manage_deduction|default_if_none:''|cutzero }}"
                            value="{{ p.project_manage_deduction|default_if_none:''|cutzero }}"/>
                        <div class="input-group-addon">點</div>
                    </div>
                </div>
                <div class="col-md-7" style="padding-left:0px">
                    <textarea
                        class="BlurUpdateInfo form-control"
                        field_type="str"
                        row_id="{{ p.id }}"
                        field_name="project_manage_deduction_memo"
                        table_name="supervisecase"
                        module_name='supervise'
                        placeholder="扣點說明"
                        old_value="{{ p.project_manage_deduction_memo|default_if_none:'' }}">{{ p.project_manage_deduction_memo|default_if_none:'' }}</textarea>
                </div>
            </div>
            <hr style="margin:8px">
            <div class="row">
                <div class="col-md-5">
                    <div class="input-group">
                        <div class="input-group-addon">　　　　　總扣點：</div>
                        <input
                            type="text" class="BlurUpdateInfo form-control"
                            field_type="int"
                            row_id="{{ p.id }}"
                            field_name="total_deduction"
                            table_name="supervisecase"
                            module_name='supervise'
                            placeholder="待輸入"
                            old_value="{{ p.total_deduction|default_if_none:''|cutzero }}"
                            value="{{ p.total_deduction|default_if_none:''|cutzero }}"/>
                        <div class="input-group-addon">點</div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="active">檢驗拆驗</td>
        <td colspan="5" id="show_info__test">
            <select
                type="text" class="BlurUpdateInfo form-control needExist"
                field_type="str"
                is_select="true"
                row_id="{{ p.id }}"
                field_name="is_test"
                table_name="supervisecase"
                onchange="var $obj=$(this);var test_input=$obj.closest('td').find('textarea');if ($obj.val()=='true'){test_input.prop('disabled', false)}else{test_input.prop('disabled', true);test_input.val('');test_input.blur()}"
                module_name='supervise'>
                    <option value="true" {% if p.is_test %}selected{% endif %}>本次督導【進行鑽心】檢驗</option>
                    <option value="false" {% if not p.is_test %}selected{% endif %}>本次督導【無鑽心】檢驗</option>
            </select>
            <textarea
                class="BlurUpdateInfo form-control"
                field_type="str"
                rows="10"
                row_id="{{ p.id }}"
                {% if not p.is_test %}disabled{% endif %}
                field_name="test"
                table_name="supervisecase"
                module_name='supervise'
                placeholder="待輸入"
                old_value="{{ p.test|default_if_none:'' }}">{{ p.test|default_if_none:'' }}</textarea>
        </td>
    </tr>
</table>



<button class="btn btn-info" onclick="window.location='/supervise/project_profile/{{ p.id }}/'">修改完畢</button>



<div style="position: fixed; top:80px; right:0px; width:70px;font-size: 26px">
    <h4>常用<br>符號</h4>
    <span class="click_copy">【</span>
    <span class="click_copy">】</span>
    <br>
    <span class="click_copy">《</span>
    <span class="click_copy">》</span>
    <br>
    <span class="click_copy">「</span>
    <span class="click_copy">」</span>
    <br>
    <span class="click_copy">，</span>
    <span class="click_copy">、</span>
    <br>
    <span class="click_copy">。</span>
    <span class="click_copy">：</span>
    <br>
    <span class="click_copy">;</span>
    <span class="click_copy">※</span>
    <br>
    <span class="click_copy">○</span>
    <span class="click_copy">●</span>
    <br>
    <span class="click_copy">◎</span>
    <span class="click_copy">□</span>
    <br>
    <span class="click_copy">■</span>
    <span class="click_copy">＆</span>
</div>



<!-- Modal -->
<div class="modal fade" id="default_guide_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="top:-30px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">常用委員管理</h4>
            </div>
            <div class="modal-body" style="overflow-y:auto;height:500px">
                <table class="table table-bordered table-hover" id="table_wait_to_move_errors" style="table-layout: fixed;">
                    <thead>
                        <tr style="background-color: #f2dede">
                            <td width="50px">移除</td>
                            <td>委員名稱</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dg in default_guide %}
                            <tr>
                                <td>
                                    <button class="btn btn-danger remove_default_guide" name="{{ dg }}">X</button>
                                </td>
                                <td>{{ dg }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="add_default_guide">新增常用委員</button>
                <button type="button" class="btn btn-default" onclick="window.location.reload()">關閉</button>
            </div>
        </div>
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="error_move_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document" style="width: 100%;top:-30px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">移動缺失</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8" style="overflow-y: auto;height:100%">
                        <h3 align="left">選擇要移動的缺失：</h3>
                        <table class="table table-bordered table-hover" id="table_wait_to_move_errors" style="table-layout: fixed;font-size: 12px">
                            <thead>
                                <tr style="background-color: #f2dede">
                                    <td width="50px">選擇</td>
                                    <td width="80px">缺失編號</td>
                                    <td width="45px">缺失<br>程度</td>
                                    <td>缺失內容</td>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div align="left" class="col-md-4" style="border-left-style: solid;height:100%">
                        <h3>移動到：</h3>
                        <table class="table table-bordered table-hover" id="table_move_to_target" style="table-layout: fixed">
                            <thead>
                                <tr style="background-color: #cde5ff">
                                    <td width="50px">選擇</td>
                                    <td>委員名稱</td>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="error_move">確定移動</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>


<script type="text/x-jquery-tmpl" id="obj_div_guide">
    <div class="div_guide" row_id="${id}">
        <h3>
            <span name="guide_type">${guide_type}：</span><span name="guide_name">${name}</span>
            <button style="float:right" class="btn btn-success btn-sm add_error">新增缺失</button>
            <button style="float:right;margin-right:8px" class="btn btn-info btn-sm show_error_move_dialog">移動缺失</button>
            <button style="float:right;margin-right:8px" class="btn btn-warning btn-sm guide_rename">更名</button>
            <button style="float:right;margin-right:8px" class="btn btn-danger btn-sm delete_guide">刪除</button>
        </h3>
    </div>
    <table class="table table-bordered table_errors" row_id="${id}" style="table-layout: fixed;text-align: center;font-size: 12px;">
        <thead>
            <tr class="danger">
                <td width="40px">刪除</td>
                <td width="80px">缺失編號</td>
                <td width="80px">缺失<br>程度</td>
                <td>缺　失　內　容</td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</script>


<script type="text/x-jquery-tmpl" id="obj_wait_to_move_error">
    <tr row_id="${id}">
        <td style="text-align:center"><input class="select_error" type="checkbox" style="width:25px;height:25px"></td>
        <td>${ec_no}</td>
        <td style="text-align:center">${level}</td>
        <td>${context}</td>
    </tr>
</script>

<script type="text/x-jquery-tmpl" id="obj_wait_to_move_target">
    <tr row_id="${id}">
        <td style="text-align:center"><input name="select_guide" value="${id}" type="radio" style="width:25px;height:25px"></td>
        <td>${type}${name}</td>
    </tr>
</script>

{% endblock %}
