{% extends "fishuser/zh-tw/base.html" %}
{% load i18n %}
{% load humanize %}
{% load utiltags %}
{% load guardian_tags %}

{% block body %}
<br>
<h2>[自主新增]  工程施工督導小組督導紀錄</h2>
<br>
<table class="table table-bordered">
    <tr>
        <td class="warning" width="15%"><span style="font-size:20px;color: red;">*</span>列管計畫名稱</td>
        <td width="45%" colspan="3">
            <input class="form-control needExist" ch_name="列管計畫名稱" id="plan" type="text" name="plan" value=""/>
        </td>
        <td class="warning" width="15%">計畫主辦機關</td>
        <td width="25%">行政院農業部漁業署</td>
    </tr>
    <tr>
        <td class="warning"><span style="font-size:20px;color: red;">*</span>標案編號</td>
        <td colspan="3">
            <input class="form-control needExist" ch_name="標案編號" id="uid" type="text" name="uid" value="{{ info.uid }}"/>
        </td>
        <td class="warning"></td>
        <td>
        </td>
    </tr>
    <tr>
        <td class="warning"><span style="font-size:20px;color: red;">*</span>標案所屬<br>工程主管機關</td>
        <td colspan="3">
            <select class="form-control needExist" ch_name="標案所屬工程主管機關" name="subordinate_agencies_unit" id="subordinate_agencies_unit">
                <option value="">請選擇單位</option>
                {% for i in subordinate_agencies_units %}
                    <option value="{{ i.0 }}" {% if info.subordinate_agencies_unit == i.0 %}selected{% endif %}>{{ i.1 }}</option>
                {% endfor %}
            </select>
        </td>
        <td class="warning"><span style="font-size:20px;color: red;">*</span>督導日期</td>
        <td>
            <input id="date" name="date" ch_name="督導日期" do_nothing="true" class="form-control datepicker needExist" type="text" value="{{ date }}">
        </td>
    </tr>
    <tr>
        <td class="warning"><span style="font-size:20px;color: red;">*</span>標案名稱</td>
        <td colspan="3">
            <input class="form-control needExist" ch_name="標案名稱" id="project" type="text" name="project" value="{{ info.name|default:'' }}"/>
        </td>
        <td class="warning"><span style="font-size:20px;color: red;">*</span>地點</td>
        <td>
            <select class="form-control needExist" ch_name="地點" name="place" id="place">
                <option value=""> 請選擇 </option>
                {% for i in places %}
                    <option value="{{ i.id }}" {% if info.place == i.id %}selected{% endif %}>{{ i.name }}</option>
                {% endfor %}
            </select>
            <select class="form-control" name="location" id="location">
                <option value=""> 請選擇 </option>
                {% for i in locations %}
                    <option value="{{ i.id }}" {% if info.location == i.id %}selected{% endif %}>{{ i.name }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td class="warning">標案主辦機關</td>
        <td colspan="3">
            <input class="form-control" id="project_organizer_agencies" type="text" name="project_organizer_agencies" value="{{ info.host_department|default:'' }}"/>
        </td>
        <td class="warning">專案管理單位</td>
        <td>
            <input class="form-control" id="project_manage_unit" type="text" name="project_manage_unit" value="{{ info.project_manage_unit|default:'' }}"/>
        </td>
    </tr>
    <tr>
        <td class="warning">設計單位</td>
        <td width="18%">
            <input class="form-control" id="designer" type="text" name="designer" value="{{ info.design_unit|default:'' }}"/>
        </td>
        <td class="warning" width="9%" align="right">監造<br>單位</td>
        <td width="18%">
            <input class="form-control" id="inspector" type="text" name="inspector" value="{{ info.inspector_name|default:'' }}"/>
        </td>
        <td class="warning">承包商</td>
        <td>
            <input class="form-control" id="construct" type="text" name="construct" value="{{ info.constructor|default:'' }}"/>
        </td>
    </tr>
    <tr>
        <td class="warning">發包預算<br>(千元)</td>
        <td colspan="3">
            <input class="form-control float" id="budget_price" type="text" name="budget_price" value="{{ info.contract_budget|cutzero }}"/>
        </td>
        <td class="warning">契約金額<br>(千元)</td>
        <td>
            <input class="form-control float" id="contract_price" type="text" name="contract_price" value="{{ info.decide_tenders_price|cutzero }}"/>
            變更設計後：
            <input type="text" class="form-control float" id="contract_price_change" placeholder="無變更請留空" value="{{ info.decide_tenders_price2|cutzero }}"/>
        </td>
    </tr>
    <tr>
        <td class="warning">工程概要</td>
        <td colspan="5">
            <textarea class="form-control" id="info" name="info" rows="10">{{ info.project_memo|default:'' }}</textarea>
        </td>
    </tr>
    <tr>
        <td class="warning">工程進度、<br>經費支用及<br>目前施工概況</td>
        <td colspan="5">
            <div class="row">
                <div class="col-md-5">
                    <div class="input-group">
                        <div class="input-group-addon">截至</div>
                        <input id="progress_date" name="progress_date" do_nothing="true" class="form-control span2 datepicker" type="text" value="">
                        <div class="input-group-addon">止</div>：<br>
                    </div>
                </div>
               </div>
            <div class="row">
                <div class="col-md-3" align="right">
                    1.工程累計進度：
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">預定：</div>
                        <input class="form-control float" id="scheduled_progress" type="text" name="scheduled_progress" value="{{ info.percentage_of_predict_progress|default:''|cutzero }}"/>
                        <div class="input-group-addon">%</div>、<br>
                    </div>
                </div>
                   <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">實際：</div>
                        <input class="form-control float" id="actual_progress" type="text" name="actual_progress" value="{{ info.percentage_of_real_progress|default:''|cutzero }}"/>
                        <div class="input-group-addon">%</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" align="right">
                    2.經費累計支用：
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">預定：</div>
                        <input class="form-control float" id="scheduled_money" type="text" name="scheduled_money" value=""/>
                        <div class="input-group-addon">千元</div>、<br>
                    </div>
                </div>
                   <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">實際：</div>
                        <input class="form-control float" id="actual_money" type="text" name="actual_money" value=""/>
                        <div class="input-group-addon">千元</div>
                    </div>
                </div>
            </div>
            　3.目前進行：
            <textarea class="form-control" id="progress_info" name="progress_info" rows="4"></textarea>
        </td>
    </tr>
    <tr>
        <td class="warning"></td>
        <td colspan="3">
        </td>
        <td class="warning">開工及<br>預定完工日期</td>
        <td>
            <div class="input-group">
                <div class="input-group-addon">開工：</div>
                <input id="start_date" name="start_date" do_nothing="true" class="form-control datepicker" type="text" value="{{ info.r_start_date|default:'' }}">
            </div>
            <div class="input-group">
                <div class="input-group-addon">完工：</div>
                <input id="expected_completion_date" do_nothing="true" name="expected_completion_date" class="form-control datepicker" type="text" value="{{ info.s_end_date|default:'' }}">
            </div>
            (預定)
        </td>
    </tr>
    <tr>
        <td class="warning">領隊<br>及工作人員</td>
        <td colspan="3">
            領　　隊：<input class="form-control" id="captains" type="text" name="captains" value=""/>
            工作人員：<input class="form-control" id="workers" type="text" name="workers" value=""/>
            (可使用， , 、 _ 空白 隔開)
        </td>
        <td class="warning">督導分數<br>(等級)</td>
        <td>
            <input class="form-control ScoreLevel" id="score" type="text" name="score" value=""/>
            <span id="score_level"></span>
        </td>
    </tr>
    <tr>
        <td class="warning">優點</td>
        <td colspan="5">
            <textarea class="form-control" id="merit" name="merit" rows="10"></textarea>
        </td>
    </tr>
    <tr>
        <td class="warning">規劃設計<br>問題及建議</td>
        <td colspan="5">
            <textarea class="form-control" id="advise" name="advise" rows="10"></textarea>
        </td>
    </tr>
    <tr>
        <td class="warning">其他建議</td>
        <td colspan="5">
            <textarea class="form-control" id="other_advise" name="other_advise" rows="10"></textarea>
        </td>
    </tr>
    <tr>
        <td class="warning">扣點統計</td>
        <td colspan="5">
            <div class="row">
                <div class="col-md-5">
                    <div class="input-group">
                        <div class="input-group-addon">　　承攬廠商扣點：</div>
                        <input class="form-control integer" id="construct_deduction" type="text" name="construct_deduction" value=""/>
                        <div class="input-group-addon">點</div>
                    </div>
                </div>
                <div class="col-md-7" style="padding-left:0px">
                    <textarea
                        class="form-control"
                        field_type="str"
                        id="construct_deduction_memo"
                        placeholder="扣點說明"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="input-group">
                        <div class="input-group-addon">　　監造廠商扣點：</div>
                        <input class="form-control integer" id="inspector_deduction" type="text" name="inspector_deduction" value=""/>
                        <div class="input-group-addon">點</div>
                    </div>
                </div>
                <div class="col-md-7" style="padding-left:0px">
                    <textarea
                        class="form-control"
                        field_type="str"
                        id="inspector_deduction_memo"
                        placeholder="扣點說明"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="input-group">
                        <div class="input-group-addon">　　主辦單位扣點：</div>
                        <input class="form-control integer" id="organizer_deduction" type="text" name="organizer_deduction" value=""/>
                        <div class="input-group-addon">點</div>
                    </div>
                </div>
                <div class="col-md-7" style="padding-left:0px">
                    <textarea
                        class="form-control"
                        field_type="str"
                        id="organizer_deduction_memo"
                        placeholder="扣點說明"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="input-group">
                        <div class="input-group-addon">專案管理單位扣點：</div>
                        <input class="form-control integer" id="project_manage_deduction" type="text" name="project_manage_deduction" value=""/>
                        <div class="input-group-addon">點</div>
                    </div>
                </div>
                <div class="col-md-7" style="padding-left:0px">
                    <textarea
                        class="form-control"
                        field_type="str"
                        id="project_manage_deduction_memo"
                        placeholder="扣點說明"></textarea>
                </div>
            </div>
            <hr style="margin:8px">
            <div class="row">
                <div class="col-md-5">
                    <div class="input-group">
                        <div class="input-group-addon">　　　　　總扣點：</div>
                        <input class="form-control integer" id="total_deduction" type="text" name="project_manage_deduction" value=""/>
                        <div class="input-group-addon">點</div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="warning">檢驗拆驗</td>
        <td colspan="5">
            <select
                type="text" class="form-control"
                field_type="str"
                id="is_test"
                onchange="var $obj=$(this);var test_input=$obj.closest('td').find('textarea');if ($obj.val()=='true'){test_input.prop('disabled', false)}else{test_input.prop('disabled', true);test_input.val('');}">
                    <option value="true">本次督導【進行鑽心】檢驗</option>
                    <option value="false" selected>本次督導【無鑽心】檢驗</option>
            </select>
            <textarea class="form-control" disabled id="test" name="test" rows="10"></textarea>
        </td>
    </tr>
</table>
<br>
<botton id="add_New_Supervise_Case" class="btn btn-success">確定新增紀錄，並繼續新增缺失項目</botton>
<span style="font-size:25px;color: red;">*</span>為必填欄位
<br><br>







<script>
    function add_New_Supervise_Case(){
        var $obj = $(this);
        var num_check=/^-?[0-9]*$/;
        var float_check = /^(-?\d+)(\.\d+)?$/;
        var needExistData = $(".needExist");
        for (var i=0;i<needExistData.length;i++){
            if(needExistData[i].value==""){
                console.log(needExistData[i].id);
                alert("請檢查必填欄位！");
                return false;
            }
        }
        var needBeInteger = $(".integer");
        for (var i=0;i<needBeInteger.length;i++){
            if(needBeInteger[i].value!="" && !(num_check.test(needBeInteger[i].value))){
                alert("扣點統計為整數欄位！");
                return false;
            }
        }
        var needBeFloat = $(".float");
        for (var i=0;i<needBeFloat.length;i++){
            if(needBeFloat[i].value!="" && !(float_check.test(needBeFloat[i].value))){
                $obj = $(this);
                var name = $obj.attr('name');
                alert("請檢查" + char_name + "數字欄位！");
                return false;
            }
        }
        
        var plan = $("#plan").val();
        var uid = $('#uid').val();
        var subordinate_agencies_unit = $("#subordinate_agencies_unit").val();
        var date = $("#date").val();
        var project = $("#project").val();
        var place = $("#place").val();
        var location = $("#location").val();
        var project_organizer_agencies = $("#project_organizer_agencies").val();
        var project_manage_unit = $("#project_manage_unit").val();
        var designer = $("#designer").val();
        var inspector = $("#inspector").val();
        var construct = $("#construct").val();
        var budget_price = $("#budget_price").val();
        var contract_price = $("#contract_price").val();
        var contract_price_change = $("#contract_price_change").val();
        var progress_info = $("#progress_info").val();
        var progress_date = $("#progress_date").val();
        var scheduled_progress = $("#scheduled_progress").val();
        var actual_progress = $("#actual_progress").val();
        var scheduled_money = $("#scheduled_money").val();
        var actual_money = $("#actual_money").val();
        var info = $('#info').val();
        // var outguides = $("#outguides").val();
        // var inguides = $("#inguides").val();
        var start_date = $("#start_date").val();
        var expected_completion_date = $("#expected_completion_date").val();
        var captains = $("#captains").val();
        var workers = $("#workers").val();
        var score = $("#score").val();
        var merit = $("#merit").val();
        var advise = $("#advise").val();
        var other_advise = $("#other_advise").val();
        var construct_deduction = $("#construct_deduction").val();
        var inspector_deduction = $("#inspector_deduction").val();
        var organizer_deduction = $("#organizer_deduction").val();
        var project_manage_deduction = $("#project_manage_deduction").val();
        var construct_deduction_memo = $("#construct_deduction_memo").val();
        var inspector_deduction_memo = $("#inspector_deduction_memo").val();
        var organizer_deduction_memo = $("#organizer_deduction_memo").val();
        var project_manage_deduction_memo = $("#project_manage_deduction_memo").val();
        var total_deduction = $("#total_deduction").val();
        var is_test = $("#is_test").val() == 'true';
        var test = $("#test").val();
        var error_num = parseInt($("#add_New_Error").attr("now_num")); 
        $.ajax({
            url:"/supervise/create_by_self/",
            type: "POST",
            data:{
                csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
                uid: uid,
                plan: plan, subordinate_agencies_unit: subordinate_agencies_unit, date: date, project: project, 
                place: place, location: location, project_organizer_agencies: project_organizer_agencies,
                project_manage_unit: project_manage_unit, info: info, progress_info: progress_info,
                designer: designer, inspector: inspector, construct: construct, budget_price: budget_price, 
                contract_price_change: contract_price_change,
                contract_price: contract_price, progress_date: progress_date, scheduled_progress: scheduled_progress, 
                actual_progress: actual_progress, scheduled_money: scheduled_money, actual_money: actual_money,
                start_date: start_date, expected_completion_date: expected_completion_date, captains: captains, 
                workers: workers, score: score, merit: merit, advise: advise, organizer_deduction: organizer_deduction,
                other_advise: other_advise, construct_deduction: construct_deduction, inspector_deduction: inspector_deduction,
                test: test, project_manage_deduction: project_manage_deduction,
                organizer_deduction_memo: organizer_deduction_memo, construct_deduction_memo: construct_deduction_memo, 
                inspector_deduction_memo: inspector_deduction_memo, project_manage_deduction_memo: project_manage_deduction_memo, total_deduction: total_deduction, is_test: is_test,
            }, dataType:"json", success:function(data){
                if(data["status"]){
                    alert('新增成功');
                    window.location = '/supervise/edit_profile/' + data["case_id"] + '/#add_New_Error';
                }
            }
        });
    }

    function change_location(){
        var $obj = $(this);
        var row_id = $obj.val();
        var locations = {};
        {% for i in places %}
        locations[{{ i.id }}] = '{{ i.locations|safe }}';
        {% endfor %}
        if (row_id){
            $('#location').show();
            $('#location').html(locations[row_id]);
        } else {
            $('#location').hide();
        }
    }

    $(document).ready(function(){
        $("#add_New_Supervise_Case").click(add_New_Supervise_Case);
        $('#place').change(change_location);
        setTimeout(function(){
            $('#place').change();
            {% if info.location %}
                $('#location').val('{{ info.location }}');
            {% endif %}
        }, 1000);
    });
</script>
{% endblock %}
