{% load utiltags %}
{% load humanize %}
<tr id="fundrecord_{{ f.id }}" class="hightlightRow" align="center" title="建立人：{{ f.editer.user_profile.rName }}">
    <td title="建立日期：{{ f.record_date }}" {% if edit %}bgcolor="#B6C8DA"{% endif %}>{{ f.date.year }}／{{ f.date.month }}</td>

        <td style=" padding-right: 20px;" align="right">{{ f.total_s_money|default_if_none:''|intcomma|cutzero }}</td>
    <!--{% if edit %}
    <td id="total_s_money_{{ f.id }}" class="redaction" style=" padding-right: 10px;" align="right">
        <a class="show_total_s_money_{{ f.id }}">{{ f.total_s_money|default_if_none:''|intcomma|cutzero }}</a>
        <input editing="total_s_money_{{ f.id }}" category="FundRecord" row="{{ f.id }}" class="edit_total_s_money_{{ f.id }} updateRedaction" size="7" type="text" value="{{ f.total_s_money|default_if_none:''|cutzero }}" old_value="{{ f.total_s_money|default_if_none:''|cutzero }}" style="display: none; text-align:right;">
    </td>
    {% else %}
    <td style=" padding-right: 20px;" align="right">{{ f.total_s_money|default_if_none:''|intcomma|cutzero }}</td>
    {% endif %}-->

        <td style=" padding-right: 20px;" align="right">{{ f.total_pay|default_if_none:''|intcomma|cutzero }}</td>
    <!--{% if edit %}
    <td id="total_pay_{{ f.id }}" class="redaction" style=" padding-right: 10px;" align="right">
        <a class="show_total_pay_{{ f.id }}">{{ f.total_pay|default_if_none:''|intcomma|cutzero }}</a>
        <input editing="total_pay_{{ f.id }}" category="FundRecord" row="{{ f.id }}" class="edit_total_pay_{{ f.id }} updateRedaction" size="5" type="text" value="{{ f.total_pay|default_if_none:''|cutzero }}" old_value="{{ f.total_pay|default_if_none:''|cutzero }}" style="display: none; text-align:right;">
    </td>
    {% else %}
    <td style=" padding-right: 20px;" align="right" {% if edit %}bgcolor="#B6C8DA"{% endif %}>{{ f.total_pay|default_if_none:''|intcomma|cutzero }}</td>
    {% endif %}-->
    <td style=" padding-right: 10px;" align="right" {% if edit %}bgcolor="#B6C8DA"{% endif %}>{{ f.rSelfPay|default_if_none:''|intcomma|cutzero }}</td>
    <td style=" padding-right: 10px;" align="right" {% if edit %}bgcolor="#B6C8DA"{% endif %}>{{ f.rLocalPay|default_if_none:''|intcomma|cutzero }}</td>
    <td style=" padding-right: 10px;" align="right" {% if edit %}bgcolor="#B6C8DA"{% endif %}>{{ f.rTotalUnpay|default_if_none:''|intcomma|cutzero }}</td>
    <td style=" padding-right: 10px;" align="right" {% if edit %}bgcolor="#B6C8DA"{% endif %}>{{ f.rSelfUnpay|default_if_none:''|intcomma|cutzero }}</td>
    <td style=" padding-right: 10px;" align="right" {% if edit %}bgcolor="#B6C8DA"{% endif %}>{{ f.rLocalUnpay|default_if_none:''|intcomma|cutzero }}</td>
    <!-- 調整排版
    <td style=" padding-right: 10px;" align="right">{{ f.rTotalPassPayout|default_if_none:''|intcomma|cutzero }}</td>
    <td style=" padding-right: 10px;" align="right">{{ f.rSelfPassPayout|default_if_none:''|intcomma|cutzero }}</td>
    <td style=" padding-right: 10px;" align="right">{{ f.rLoaclPassPayout|default_if_none:''|intcomma|cutzero }}</td>
    -->
    <td style=" padding-right: 20px;" align="right" {% if edit %}bgcolor="#B6C8DA"{% endif %}>{{ f.rImplementationRate|default_if_none:'' }} %</td>
    <td style=" padding-right: 20px;" align="right" {% if edit %}bgcolor="#B6C8DA"{% endif %}>{{ f.rAchievementRate|default_if_none:'' }} %</td>
    
<!--    <td align="center">
        {% if edit %}
        <img id="delete_{{ f.id }}" src="/media/images/delete.png" title="刪除紀錄" fundrecord_id="{{ f.id }}" stage="{{ f.date.year }}／{{ f.date.month }}" class="deleteProjectFundRecord">
        {% endif %}
    </td>-->
    
</tr>
