{% extends 'project/project.html' %}
{% block menu %}
{% endblock %}
{% load utiltags %}
{% load humanize %}
{% block title %}<title id="title">{{ target_project }} 工程資訊</title>{% endblock %}
{% block style %}
td {
    padding:3px 5px;
    height: 25px;
}
.cetitle {background-color: #FFFFEB;}
.netitle {background-color: #FFC991;}

.selfinfo {background-color: #EBF5FF;}
.cityinfo {background-color: #F5FFEB;}
.workinfo {background-color: #FCEEEE;}

.hightlightRow:hover {
    background-color: #CDE5FF;
}

{% endblock %}
{% block content %}
<br><br><br>
<span style="font-size: 14px">
<a id="{{ target_project.id }}" class="target_project"></a><br>


<table style="border-collapse: collapse" border="1" cellpadding="2" cellspacing="2">
    <thead>
        <tr bgcolor="#EEEEEE" align="center">
            <th width="110">年度／月份</th>
            <th width="150">累計預定進度(%)</th>
            <th width="150">累計實際進度(%)</th>
            <th width="150">日報表進度(%)</th>
            <th width="190">執行狀態</th>
            {% if edit %}<th width="30"></th>{% endif %}
        </tr>
    </thead>
    <tbody>
        {% for p in progress %}
            {% include 'project/progress_unit.html' %}
        {% endfor %}
        <tr>
            <td colspan="6" align="right">
                <button id="show_pcc_progress_info" project_id="{{ target_project.id }}">顯示工程會標案系統進度資訊</button>
            </td>
        </tr>
    </tbody>
</table>


</span>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
