{% load utiltags %}
{% load humanize %}
<table id="reserve_info" style="border-collapse: collapse;" border="1" cellpadding="2" cellspacing="2">
    <tbody align="left">
        <tr>
            <td class="netitle"　style="min-width: 100px;">工作名稱</td>
            <td colspan="3" style="min-width: 200px;">{{ target_project.name }}</td>
        </tr>
        <tr>
            <td class="netitle">署內標案編號</td>
            <td colspan="3" rowspan="1">{{ target_project.bid_no|default_if_none:'' }}</td>
        </tr>
        <tr>
            <td class="cetitle">申請日期</td>
            {% if edit %}
            <td id="apply_date" class="redaction" align="center">
                <a class="show_apply_date">{{ reserve.apply_date|default_if_none:'' }}</a>
                <input editing="apply_date" category="ReserveInfo" row="{{ reserve.id }}" class="edit_apply_date updateRedaction setDate" size="12" type="text" value="{{ reserve.apply_date|default_if_none:'' }}" old_value="{{ reserve.apply_date|default_if_none:'' }}" style="display: none;">
            </td>
            {% else %}
            <td align="center">{{ reserve.apply_date|default_if_none:'' }}</td>
            {% endif %}
        </tr>
        <tr>
            <td class="cetitle">保留期限</td>
            {% if edit %}
            <td id="reserve_date" class="redaction" align="center">
                <a class="show_reserve_date">{{ reserve.reserve_date|default_if_none:'' }}</a>
                <input editing="reserve_date" category="ReserveInfo" row="{{ reserve.id }}" class="edit_reserve_date updateRedaction setDate" size="12" type="text" value="{{ reserve.reserve_date|default_if_none:'' }}" old_value="{{ reserve.reserve_date|default_if_none:'' }}" style="display: none;">
            </td>
            {% else %}
            <td align="center">{{ reserve.reserve_date|default_if_none:'' }}</td>
            {% endif %}
        </tr>
        <tr>
            <td class="cetitle">申請保留數</td>
            {% if edit %}
            <td id="amount" class="redaction" align="right">
                <a class="show_amount">{{ reserve.amount|default_if_none:''|intcomma|cutzero }}</a>
                <input editing="amount" category="ReserveInfo" row="{{ reserve.id }}" class="edit_amount updateRedaction float" size="22" type="text" value="{{ reserve.amount|default_if_none:''|cutzero }}" old_value="{{ reserve.amount|default_if_none:''|cutzero }}" style="display: none; text-align:right;">
            </td>
            {% else %}
            <td align="right">{{ reserve.amount|default_if_none:''|intcomma|cutzero }}</td>
            {% endif %}
        </tr>
        <tr>
            <td class="cetitle">已撥款尚未支用數</td>
            {% if edit %}
            <td id="allocation" class="redaction" align="right">
                <a class="show_allocation">{{ reserve.allocation|default_if_none:''|intcomma|cutzero }}</a>
                <input editing="allocation" category="ReserveInfo" row="{{ reserve.id }}" class="edit_allocation updateRedaction float" size="22" type="text" value="{{ reserve.allocation|default_if_none:''|cutzero }}" old_value="{{ reserve.allocation|default_if_none:''|cutzero }}" style="display: none; text-align:right;">
            </td>
            {% else %}
            <td align="right">{{ reserve.allocation|default_if_none:''|intcomma|cutzero }}</td>
            {% endif %}
        </tr>
        <tr>
            <td class="cetitle">未撥款尚未支用數</td>
            {% if edit %}
            <td id="un_allocation" class="redaction" align="right">
                <a class="show_un_allocation">{{ reserve.un_allocation|default_if_none:''|intcomma|cutzero }}</a>
                <input editing="un_allocation" category="ReserveInfo" row="{{ reserve.id }}" class="edit_un_allocation updateRedaction float" size="22" type="text" value="{{ reserve.un_allocation|default_if_none:''|cutzero }}" old_value="{{ reserve.un_allocation|default_if_none:''|cutzero }}" style="display: none; text-align:right;">
            </td>
            {% else %}
            <td align="right">{{ reserve.un_allocation|default_if_none:''|intcomma|cutzero }}</td>
            {% endif %}
        </tr>
        <tr>
            <td class="cetitle">保留理由</td>
            {% if edit %}
            <td id="reason" class="redaction" colspan="3">
                <a class="show_reason">{{ reserve.reason|default_if_none:''|linebreaks }}</a>
                <textarea editing="reason" category="ReserveInfo" row="{{ reserve.id }}" class="edit_reason updateRedaction" cols="15" rows="1" size="56" type="text" value="{{ reserve.reason|default_if_none:'' }}" old_value="{{ reserve.reason|default_if_none:'' }}" style="display: none;">{{ reserve.reason|default_if_none:'' }}</textarea>
            </td>
            {% else %}
            <td colspan="3" rowspan="1">{{ reserve.reason|default_if_none:''|linebreaks }}</td>
            {% endif %}
        </tr>
        <tr>
            <td class="cetitle">證明文件</td>
            {% if edit %}
            <td id="prove" class="redaction" colspan="3">
                <a class="show_prove">{{ reserve.prove|default_if_none:''|linebreaks }}</a>
                <textarea editing="prove" category="ReserveInfo" row="{{ reserve.id }}" class="edit_prove updateRedaction" cols="15" rows="1" size="56" type="text" value="{{ reserve.prove|default_if_none:'' }}" old_value="{{ reserve.prove|default_if_none:'' }}" style="display: none;">{{ reserve.prove|default_if_none:'' }}</textarea>
            </td>
            {% else %}
            <td colspan="3" rowspan="1">{{ reserve.prove|default_if_none:''|linebreaks }}</td>
            {% endif %}
        </tr>
        <tr>
            <td class="cetitle">備註</td>
            {% if edit %}
            <td id="memo" class="redaction" colspan="3">
                <a class="show_memo">{{ reserve.memo|default_if_none:''|linebreaks }}</a>
                <textarea editing="memo" category="ReserveInfo" row="{{ reserve.id }}" class="edit_memo updateRedaction" cols="15" rows="1" size="56" type="text" value="{{ reserve.memo|default_if_none:'' }}" old_value="{{ reserve.memo|default_if_none:'' }}" style="display: none;">{{ reserve.memo|default_if_none:'' }}</textarea>
            </td>
            {% else %}
            <td colspan="3" rowspan="1">{{ reserve.memo|default_if_none:''|linebreaks }}</td>
            {% endif %}
        </tr>
    </tbody>
</table>