{% extends 'project/project.html' %}
{% block title %}<title id="title">{{ target_project }} 工程資訊</title>{% endblock %}
{% block style %}
td {padding:3px 5px;}
.cetitle {background-color: #FFFFEB;}
.netitle {background-color: #FFC991;}
{% endblock %}
{% block content %}
    <span style="font-size: 14px">
        <br>
            <table  style="border-collapse: collapse" border="1" cellpadding="2" cellspacing="2">
                <tbody align="left">
                    <tr>
                        <td class="netitle">工作名稱</td>
                        <td colspan="3" rowspan="1">
                            <span id="name" class="show_name">{{ target_project.name }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="netitle">標案編號</td>
                        <td colspan="3" rowspan="1">
                            <span id="bid_no" class="show_bid_no">{{ target_project.bid_no }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="cetitle">申請保留數(元)<font color="red">*</font></td>
                        <td>
                            <input id="amount" size="12" value="" type="text">
                        </td>
                        <td class="cetitle">申請日期</td>
                        <td>
                            <input id="apply_date" size="12" value="" type="text" class="setDate">
                        </td>
                    </tr>
                    <tr>
                        <td class="cetitle">已撥款尚未支用數(元)</td>
                        <td>
                            <input id="allocation" size="12" value="" type="text">
                        </td>
                        <td class="cetitle">保留期限</td>
                        <td>
                            <input id="reserve_date" size="12" value="" type="text" class="setDate">
                        </td>
                    </tr>
                    <tr>
                        <td class="cetitle">未撥款尚未支用數(元)</td>
                        <td>
                            <input id="un_allocation" size="12" value="" type="text">
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="cetitle">保留理由</td>
                        <td colspan="3" rowspan="1" height="60">
                            <center><textarea id="reason" name="reason" cols="62" rows="2" size="56" type="text" value=""></textarea></center>
                        </td>
                    </tr>
                    <tr>
                        <td class="cetitle">證明文件</td>
                        <td colspan="3" rowspan="1" height="60">
                            <center><textarea id="prove" cols="62" rows="2" size="56" type="text" value=""></textarea></center>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" rowspan="1" class="cetitle"><center>備註</center></td>
                    </tr>
                    <tr>
                        <td colspan="4" rowspan="1">
                            <textarea id="memo" cols="90" rows="6"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <br>
            <font color="red">*</font>為必填欄位
            <br>
            <button id="reserve" project_id="{{ target_project.id }}">　　--------跨年度-------　　</button>
        </span>
        


{% endblock %}
