{% extends 'project/index.html' %}
{% load utiltags %}
{% load project_tags %}
{% load common_tags %}

{% block menu %}
    <ul id="menu" value ="/project/search/"></ul>
{% endblock %}

{% block style %}
.style1 {
	color: #CC9900;
	font-size: 24px;
}
.style2 {
	color: #FF0000;
}

.custom_report_field_div {
    float: left;
}

.custom_report_field {
    margin: 5px;
    background-color: #C2C2C2;
    display: inline-block;
    font-size: 1.4em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

span.field_checked {
    background-color: #99CCFF;
}

span.checkedPrevInput {
    cursor: pointer;
    cursor: hand;
}

#id_sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

#id_sortable li {
    cursor: pointer;
    cursor: hand;
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1.4em;
    height: 18px;
    background-color: #C2C2C2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#id_sortable li span {
    position: absolute;
    margin-left: -1.3em;
}

{% endblock %}

{% block content %}
<br><span id="pagemark" page="search"></span>
<span style="font-size: 16px">

    <form action="./" method="POST">
        <table width="900">
            <tr>
                <td align="left">
                    <table align="center">
                        {% for field in form %}
                        <tr>
                            <td align="right">{{ field.label_tag }}</td>
                            <td align="left">{{ field }}　<span style="color: gray; font-size: 12px;">{{ field.help_text }}</span></td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
                <td>
                    <input type="submit" name="submit" value="開始搜尋" style="width:100px;height:50px;">
                    <a href="/project/search/advanced/">進階搜尋</a>
                    <br>
                    <input url="/project/search/" type="button" name="clearSearchInfo" id="clearSearchInfo" value="清空資訊重新查詢"><br>
                    <br>
                    搜尋結果依照
                    <select name="sortBy" id="id_sortBy">
                        <option value="year" {% ifequal sortBy 'year' %}selected="selected"{% endifequal %}>年度</option>
                        <option value="bid_no" {% ifequal sortBy 'bid_no' %}selected="selected"{% endifequal %}>標案編號</option>
                        <option value="name" {% ifequal sortBy 'name' %}selected="selected"{% endifequal %}>工作名稱</option>
                        <option value="plan" {% ifequal sortBy 'plan' %}selected="selected"{% endifequal %}>所屬計畫</option>
                        <option value="undertake_type" {% ifequal sortBy 'undertake_type' %}selected="selected"{% endifequal %}>承辦方式</option>
                        <option value="unit" {% ifequal sortBy 'unit' %}selected="selected"{% endifequal %}>執行機關</option>
                    </select>
                    排序<br><br>
                    {% if delete %}
                        <a href="/project/recover/"><img width="180" src="/media/project/image/trash.png" title="工程回收區"></a>
                    {% endif %}
                </td>
            </tr>
        </table>
    </form>
<br><hr width="900" color="#ff8000" noshade title="這不是分隔線">
    {% pyif projects_num == 0 %}
        無資料，請重設搜尋條件
    {% endif %}
    
    {% pyif projects_num > 0 %}
        <div align="right" style="margin-right: 200px">共 {{ projects_num }} 個結果</div>
        <div align="right" style="margin-right: 200px">
            <button id="ShowBatchEdit" style="color: #5755FF">批次修改所屬計畫</button>
            <span id="BatchEdit" show="False" style="color:#FF5755; display: none;">
                <br>將搜尋結果({{ projects_num }}個)之『所屬計畫』修改為
                <select id="BatchEdit_Plan" p_list_count="{{ projects_num }}" p_list="{{ p_list }}">
                    <option value="0"  name="" selected>請選擇欲修改之計畫名稱</option>
                    {% for plan in plans %}
                            <option value="{{ plan.0 }}" name="{{ plan.1 }}">{{ plan.1 }}</option>
                    {% endfor %}
                </select>
            </span><br>
            <span id="BatchEdit_info" style="color: red; font-size:20px; display: none;">資訊已修改，請重新查詢</span>

        </div>
        {% block choose_exporting_projects %}
            <div align="center" style="margin: 20px; background-color: #CDE5FF; min-width: 500px; max-width: 900px;"><!-- TODO  暫不使用「紀錄」| 使用
                {% recordProjectsProfileSelect request %} 紀錄中的工程案
                ， 並-->
                以 {% exportCustomReportSelect request %}<a href="#" class="uExportCustomReportDialog"></a>
                <a href="#" class="deleteExportCustomReport"></a> 計算整理報表。
                <input type="submit" class="exportCustomReportHTML" value="檢視報表" querystring="{{ querystring }}" />
            </div>
            <!-- TODO  暫不使用「紀錄」 |<div style="margin: 20px">
                <input class="recordAllProjects" type="checkbox" title="全選本次搜尋結果的所有工程案" querystring="{{ querystring }}">
                全選本次搜尋結果的所有工程案<span id="id_record_projects_profile_name"></span>
            </div>
            -->
            {% loading %}
        {% endblock %}

        {% ifnotequal page_list.all_pages 1 %}
            {% if page_list.previous_page %}
                <a href="./?{{ querystring }}&page={{ page_list.previous_page }}">上一頁</a>
            {% endif %}
            {% for page in page_list.page_list %}
                {% ifequal page page_list.now_page %}
                    <span class="page-number active">{{ page }}</span>
                {% else %}
                    <a href="./?{{ querystring }}&page={{ page }}">{{ page }}</a>
                {% endifequal %}
            {% endfor %}
            {% if page_list.next_page %}
                <a href="./?{{ querystring }}&page={{ page_list.next_page }}">下一頁</a>
            {% endif %}
        {% endifnotequal %}

        <table class="sortable" border="1" style="border-collapse: collapse">
            <thead bgcolor='#BBFFDD'>
                <tr>
                <th></th>
                <th></th>
                <th style="min-width: 30px;">追蹤</th>
                <!-- TODO 暫不使用「紀錄」|<th>
                    紀錄至<br/><span id="id_now_record_project_profile_name" title="使用 [ ** 請選擇紀錄名稱 ** ] 的下拉式選單來設定" style="color: blue;">[未設定]</span><br/>
                    <input class="recordThisPageProjects" type="checkbox" title="全選本頁面的工程案">
                </th> -->
                <th style="min-width: 50px;">年度</th>
                <th style="min-width: 100px;">計畫編號</th>
                <th style="min-width: 50px;">縣市</th>
                <th style="min-width: 80px;">漁港</th>
                <th style="min-width: 260px;">工作名稱</th>
                <th style="min-width: 50px;">承辦方式</th>
                <!--<th style="min-width: 100px;">工程狀態</th>-->
                <th style="min-width: 50px;">工程進度</th>
                <th style="min-width: 50px;">執行機關</th>
                <th style="min-width: 50px;">發文(核定)<br>文號</th>
                <th style="min-width: 50px;">發文(核定)<br>日期</th>
                <th style="min-width: 50px;">連絡人</th>
                {% if delete %}
                <th>刪<br>除</th>
                {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for p in projects %}
                    <tr id="tr_project_{{ p.id }}" align="left" class="{% cycle "odd" "even" %}">
                        <td>{{ p.order }}</td>
                        <td id="setDefaultProject_{{ p.id }}"></td>
                        <td align="center"><input class="setDefaultProject checkbox_{{ p.id }}" {% if p.default %}checked{% endif %} {% if p.default %}check="check"{% else %}check=""{% endif %} type="checkbox" name="checkbox" value="{{ p.id }}"></td>
                        <!-- TODO  暫不使用「紀錄」| <td align="center"><input class="recordProjects" type="checkbox" project_id="{{ p.id }}"></td> -->
                        <td>{{ p.year }}</td>
                        <td title="{{ p.plan.no }}">{{ p.work_no|default_if_none:'' }}</td>
                        <td align="center">{{ p.place.name|default_if_none:'' }}</td>
                        <td>{% for port in p.rSubLocation %}{{ port.name }}<br>{% endfor %}</td>
                        <td><a href="/project/reproject/{{ p.id }}/" target="_blank">{{ p.name }}</a></td>
                        <td title="{{ p.undertake_type.value }}" align="center">{{ p.undertake_type.value|default_if_none:'' }}</td>
                        <!--<td title="{{ p.status.value }}">{{ p.status.value|default_if_none:'' }}</td>-->
                        <td align="center">{{ p.rActualProgress|default_if_none:'' }}%</td>
                        <td>{% if p.unit %}{{ p.unit.name }}{% endif %}</td>
                        {% if edit %}
                        <td id="vouch_no_{{ p.id }}" class="editable" project_id="{{ p.id }}" item="vouch_no">
                            <a id="vouch_no_{{ p.id }}" class="show_vouch_no_{{ p.id }}">{% if p.vouch_no %}{{ p.vouch_no }}{% endif %}</a>
                            <input id="vouch_no_{{ p.id }}" class="edit_vouch_no_{{ p.id }} update_edited" project_id="{{ p.id }}" field="vouch_no" size="10" type="text" value="{% if p.vouch_no %}{{ p.vouch_no }}{% else %}{% endif %}" old_value="{% if p.vouch_no %}{{ p.vouch_no }}{% else %}{% endif %}" style="display: none;">
                        </td>
                        {% else %}
                        <td>{% if p.vouch_no %}{{ p.vouch_no }}{% endif %}</td>
                        {% endif %}
                        {% if edit %}
                        <td id="vouch_date_{{ p.id }}" class="editable" project_id="{{ p.id }}" item="vouch_date" align="right">
                            <a id="vouch_date_{{ p.id }}" class="show_vouch_date_{{ p.id }}">{% if p.vouch_date %}{{ p.vouch_date }}{% endif %}</a>
                            <input id="vouch_date_{{ p.id }}" class="edit_vouch_date_{{ p.id }} update_edited chooseDate" project_id="{{ p.id }}" field="vouch_date" size="10" type="text" value="{% if p.vouch_date %}{{ p.vouch_date }}{% else %}{% endif %}" old_value="{% if p.vouch_date %}{{ p.vouch_date }}{% else %}{% endif %}" style="display: none;">
                        </td>
                        {% else %}
                        <td>{% if p.vouch_date %}{{ p.vouch_date }}{% endif %}</td>
                        {% endif %}
                        <td>{% if p.self_contacter %}{{ p.self_contacter }}{% endif %}</td>
                        {% if delete %}
                        <td><img p_id="{{ p.id }}" p_name="{{ p.name }}" class="deleteProject" src="/media/images/delete.png" title="刪除工程"></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            <tbody>
        </table>
        {% ifnotequal page_list.all_pages 1 %}
            {% if page_list.previous_page %}
                <a href="./?{{ querystring }}&page={{ page_list.previous_page }}">上一頁</a>
            {% endif %}
            {% for page in page_list.page_list %}
                {% ifequal page page_list.now_page %}
                    <span class="page-number active">{{ page }}</span>
                {% else %}
                    <a href="./?{{ querystring }}&page={{ page }}">{{ page }}</a>
                {% endifequal %}
            {% endfor %}
            {% if page_list.next_page %}
                <a href="./?{{ querystring }}&page={{ page_list.next_page }}">下一頁</a>
            {% endif %}
        {% endifnotequal %}
        <div align="right" style="margin-right: 200px">共 {{ projects_num }} 個結果</div>
    {% endif %}
    </div>
</span>


{% if default_projects %}
<div align="center">
<br><hr width="900" color="#ff8000" noshade title="這不是分隔線">
    <br><span class="style1">您列入『追蹤』之工程案</span>　　　<a href="/project/show_default_detail/" target="_blank"><span style="font-size: 16px">(點我顯示詳細資訊)</span></a>
    <span style="font-size:16px;">
    <table class="sortable" border="1" style="border-collapse: collapse">
            <thead bgcolor='#BBFFDD'>
                <tr>
                <th></th>
                <th>追蹤</th>
                <th>年度</th>
                <th>標案編號</th>
                <th width="200">工作名稱</th>
                <th>縣市</th>
                <th>計畫名稱</th>
                <!--<th width="160">工程狀態</th>-->
                <th width="100">工程進度</th>
                <th>執行機關</th>
                <th width="100">發文(核定)文號</th>
                <th>發文(核定)日期</th>
                <th>連絡人</th>
                </tr>
            </thead>
            <tbody>
                {% for p in default_projects %}
                    <tr align="left" class="{% cycle "odd" "even" %}">
                        <td>{{ forloop.counter }}</td>
                        <td align="center"><input class="setDefaultProject checkbox_{{ p.id }}" checked type="checkbox" name="checkbox" value="{{ p.id }}"></td>
                        <td>{{ p.year }}</td>
                        <td>{{ p.bid_no|default_if_none:"" }}</td>
                        <td><a href="/project/reproject/{{ p.id }}/" target="_blank">{{ p.name }}</a></td>
                        <td>{% if p.place %}{{ p.place.name }}{% endif %}</td>
                        <td title="{{ p.plan.name }}">{{ p.short_plan_name }}</td>
                        <!--<td {% ifequal p.status.value '待審查' %}class='style2'{% endifequal %}>{{ p.status.value }}</td>-->
                        <td align="center">{% ifequal p.getProgressPercent 0 %}0.00%{% else %}{{ p.getProgressPercent }}%{% endifequal %}</td>
                        <td>{% if p.unit %}{{ p.unit.name }}{% endif %}</td>
                        <td>{% if p.vouch_no %}{{ p.vouch_no }}{% endif %}</td>
                        <td>{% if p.vouch_date %}{{ p.vouch_date }}{% endif %}</td>
                        <td>{% if p.self_contacter %}{{ p.self_contacter }}{% endif %}</td>
                    </tr>
                {% endfor %}
            <tbody>
        </table>
        </span>
</div>
{% endif %}





{% endblock %}

