{% extends 'project/index.html' %}
{% load utiltags %}
{% load project_tags %}
{% load common_tags %}

{% block menu %}
    <ul id="menu" value ="/project/uiyyeu/"></ul>
{% endblock %}

{% block upgradeJqueryUI %}
    {% comment %}
        loadDefaultJqueryUI_1_8_6 需要 common module 68:a0428b9e6510 以上版本
    {% endcomment %}
    {% loadDefaultJqueryUI_1_8_6 %}

{% endblock %}

{% block style %}
.style1 {
	color: #CC9900;
	font-size: 24px;
}
.style2 {
	color: #FF0000;
}

.custom_report_field_div {
    float: left;
}

.custom_report_field {
    margin: 5px;
    background-color: #C2C2C2;
    display: inline-block;
    font-size: 1.4em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

span.field_checked {
    background-color: #99CCFF;
}

span.checkedPrevInput {
    cursor: pointer;
    cursor: hand;
}

#id_sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

#id_sortable li {
    cursor: pointer;
    cursor: hand;
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1.4em;
    height: 18px;
    background-color: #C2C2C2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#id_sortable li span {
    position: absolute;
    margin-left: -1.3em;
}

{% endblock %}

{% block content %}

<span style="font-size:20px;">秘密備註區</span>
<br><span id="pagemark" page="search"></span>
<span style="font-size: 16px">

    <form action="./" method="POST">
        <table width="900">
            <tr>
                <td align="left">
                    <table align="center">
                        {% for field in form %}
                        <tr>
                            <td align="right">{{ field.label_tag }}</td>
                            <td align="left">{{ field }}　<span style="color: gray; font-size: 12px;">{{ field.help_text }}</span></td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
                <td>
                    <input type="submit" name="submit" value="開始搜尋" style="width:100px;height:50px;">
                    <a href="/project/search/advanced/">進階搜尋</a>
                    <br>
                    <input url="/project/search/" type="button" name="clearSearchInfo" id="clearSearchInfo" value="清空資訊重新查詢"><br>
                    <br>
                    搜尋結果依照
                    <select name="sortBy" id="id_sortBy">
                        <option value="year" {% ifequal sortBy 'year' %}selected="selected"{% endifequal %}>年度</option>
                        <option value="bid_no" {% ifequal sortBy 'bid_no' %}selected="selected"{% endifequal %}>標案編號</option>
                        <option value="name" {% ifequal sortBy 'name' %}selected="selected"{% endifequal %}>工作名稱</option>
                        <option value="plan" {% ifequal sortBy 'plan' %}selected="selected"{% endifequal %}>所屬計畫</option>
                        <option value="undertake_type" {% ifequal sortBy 'undertake_type' %}selected="selected"{% endifequal %}>承辦方式</option>
                        <option value="unit" {% ifequal sortBy 'unit' %}selected="selected"{% endifequal %}>執行機關</option>
                    </select>
                    排序<br><br>
                    {% if delete %}
                        <a href="/project/recover/"><img width="180" src="/media/project/image/trash.png" title="工程回收區"></a>
                    {% endif %}
                </td>
            </tr>
        </table>
    </form>
<br><hr width="900" color="#ff8000" noshade title="這不是分隔線">
    {% pyif projects_num == 0 %}
        無資料，請重設搜尋條件
    {% endif %}
    
    {% pyif projects_num > 0 %}
        <div align="right" style="margin-right: 200px">共 {{ projects_num }} 個結果</div>
       
        {% ifnotequal page_list.all_pages 1 %}
            {% if page_list.previous_page %}
                <a href="./?{{ querystring }}&page={{ page_list.previous_page }}">上一頁</a>
            {% endif %}
            {% for page in page_list.page_list %}
                {% ifequal page page_list.now_page %}
                    <span class="page-number active">{{ page }}</span>
                {% else %}
                    <a href="./?{{ querystring }}&page={{ page }}">{{ page }}</a>
                {% endifequal %}
            {% endfor %}
            {% if page_list.next_page %}
                <a href="./?{{ querystring }}&page={{ page_list.next_page }}">下一頁</a>
            {% endif %}
        {% endifnotequal %}




        <table border="1" style="border-collapse: collapse">
            <thead bgcolor='#BBFFDD'>
                <th></th>
                <th width="30px">年度</th>
                <th width="50px">縣市</th>
                <th width="80px">漁港</th>
                <th width="250px">工作名稱</th>
                <th width="40px">是否<br>遠端</th>
                <th width="50px">是否<br>追蹤</th>
                <th width="50px">承辦方式</th>
                <th width="100px">執行機關</th>
                <th width="150px">備註_1</th>
                <th width="150px">備註_2</th>
                <th width="150px">備註_3</th>
            </thead>
            <tbody>
                {% for p in projects %}
                    <tr id="tr_project_{{ p.id }}" align="left" class="{% cycle "odd" "even" %}">
                        <td>{{ p.order }}</td>
                        <td>{{ p.year }}</td>
                        <td align="center">{{ p.place.name|default_if_none:'' }}</td>
                        <td>{% for port in p.rSubLocation %}{{ port.name }}{% endfor %}</td>
                        <td><a href="/project/reproject/{{ p.id }}/" target="_blank">{{ p.name }}</a></td>
                        <td align="center">{% if p.frcm %}<a href="/frcm/{{ p.id }}/profile/" target="_blank">O</a>{% endif %}</td>
                        <td align="center">{% if p.frcm %}O{% endif %}</td>
                        <td title="{{ p.undertake_type.value }}" align="center">{{ p.undertake_type.value|default_if_none:'' }}</td>
                        <td>{% if p.unit %}{{ p.unit.name }}{% endif %}</td>
                        <td align="left" class="Show_Memo_Info" project_id="{{ p.id }}" field_name="memo_1">
                            <a id="Show_Memo_Info_memo_1_{{ p.id }}">{{ p.memo_1|default_if_none:''|linebreaks }}</a>
                            <textarea class="Hide_Memo_Info" project_id="{{ p.id }}" field_name="memo_1" table_name="Project_Secret_Memo"
                                       style="display: none;" id="Edit_Memo_Info_memo_1_{{ p.id }}"
                                       old_value="{{ p.memo_1|default_if_none:'' }}"
                                       name="note" cols="16" rows="4">{{ p.memo_1|default_if_none:'' }}</textarea>
                        </td>
                        <td align="left" class="Show_Memo_Info" project_id="{{ p.id }}" field_name="memo_2">
                            <a id="Show_Memo_Info_memo_2_{{ p.id }}">{{ p.memo_2|default_if_none:''|linebreaks }}</a>
                            <textarea class="Hide_Memo_Info" project_id="{{ p.id }}" field_name="memo_2" table_name="Project_Secret_Memo"
                                       style="display: none;" id="Edit_Memo_Info_memo_2_{{ p.id }}"
                                       old_value="{{ p.memo_2|default_if_none:'' }}"
                                       name="note" cols="16" rows="4">{{ p.memo_2|default_if_none:'' }}</textarea>
                        </td>
                        <td align="left" class="Show_Memo_Info" project_id="{{ p.id }}" field_name="memo_3">
                            <a id="Show_Memo_Info_memo_3_{{ p.id }}">{{ p.memo_3|default_if_none:''|linebreaks }}</a>
                            <textarea class="Hide_Memo_Info" project_id="{{ p.id }}" field_name="memo_3" table_name="Project_Secret_Memo"
                                       style="display: none;" id="Edit_Memo_Info_memo_3_{{ p.id }}"
                                       old_value="{{ p.memo_3|default_if_none:'' }}"
                                       name="note" cols="16" rows="4">{{ p.memo_3|default_if_none:'' }}</textarea>
                        </td>
                    </tr>
                {% endfor %}
            <tbody>
        </table>



        {% ifnotequal page_list.all_pages 1 %}
            {% if page_list.previous_page %}
                <a href="./?{{ querystring }}&page={{ page_list.previous_page }}">上一頁</a>
            {% endif %}
            {% for page in page_list.page_list %}
                {% ifequal page page_list.now_page %}
                    <span class="page-number active">{{ page }}</span>
                {% else %}
                    <a href="./?{{ querystring }}&page={{ page }}">{{ page }}</a>
                {% endifequal %}
            {% endfor %}
            {% if page_list.next_page %}
                <a href="./?{{ querystring }}&page={{ page_list.next_page }}">下一頁</a>
            {% endif %}
        {% endifnotequal %}
        <div align="right" style="margin-right: 200px">共 {{ projects_num }} 個結果</div>
    {% endif %}
    </div>
</span>


{% endblock %}

