{% extends 'project/makestatistics.html' %}
{% load humanize %}
{% load utiltags %}
 {% block table %}
<div id="dialog" title="" style="display:none;">
</div>

<table>
    <tr>
        <td>
            <button class="makeChart" tp="makepie" table="{{ chart_cache_name }}">顯示圓餅圖</button>
        </td>
        <td>
            <button class="makeChart" tp="makebar" table="{{ chart_cache_name }}">顯示桿狀圖</button>
        </td>
        <td>
            <button class="makeChart" tp="makeplot" table="{{ chart_cache_name }}">顯示折線圖</button>
        </td>
    </tr>
</table>

<br>
    <table border="1" style="border-collapse: collapse">
        <tr>
            <td align="center" valign="middle" bgcolor="#FF9966">
                <input class="makeStatistics_not_Include_sub" id="makeStatistics_not_Include_sub" style="display: none;width:140px;height:35px;" type="button" value="顯示包含子計畫資訊" />
                <input class="makeStatistics_Include_sub" id="makeStatistics_Include_sub" style="width:140px;height:35px;" type="button" value="只顯示計畫所屬件數" />
            </td>
            <td bgcolor="#FF9966" align="center">
                <span class="makeStatistics_Include_sub">包含<br>子計畫件數</span>
                <span class="makeStatistics_not_Include_sub" style="display: none;">不含<br>子計畫件數</span>
            </td>
            <td bgcolor="#FF9966" align="center">
                <span class="makeStatistics_Include_sub">　實支數　<br>(本署+地方)</span>
                <span class="makeStatistics_not_Include_sub" style="display: none;">不含子計畫<br>實支數<br>(本署+地方)</span>
                <br>單位：千元
            </td>
            <td bgcolor="#FF9966" align="center">
                <span class="makeStatistics_Include_sub">可支用數　<br>(本署+地方)</span>
                <span class="makeStatistics_not_Include_sub" style="display: none;">不含子計畫<br>可支用數<br>(本署+地方)</span>
                <br>單位：千元
            </td>
            <td bgcolor="#FF9966" align="center">
                <span class="makeStatistics_Include_sub">執行率(付款進度)<br>(本署+地方)</span>
                <span class="makeStatistics_not_Include_sub" style="display: none;">不含子計畫<br>執行率(付款進度)<br>(本署+地方)</span>
                <br>單位：千元
            </td>
            <td bgcolor="#333333" width="5"></td>
            <td bgcolor="#FF9966" align="center"><span class="style3 tag" tag="0 ~ 9 %">實際<br>進度<br>0<br>|<br>9<br>%</span></td>
            <td bgcolor="#FF9966" align="center"><span class="style3 tag" tag="10 ~ 19 %">實際<br>進度<br>10<br>|<br>19<br>%</span></td>
            <td bgcolor="#FF9966" align="center"><span class="style3 tag" tag="20 ~ 29 %">實際<br>進度<br>20<br>|<br>29<br>%</span></td>
            <td bgcolor="#FF9966" align="center"><span class="style3 tag" tag="30 ~ 39 %">實際<br>進度<br>30<br>|<br>39<br>%</span></td>
            <td bgcolor="#FF9966" align="center"><span class="style3 tag" tag="40 ~ 49 %">實際<br>進度<br>40<br>|<br>49<br>%</span></td>
            <td bgcolor="#FF9966" align="center"><span class="style3 tag" tag="50 ~ 59 %">實際<br>進度<br>50<br>|<br>59<br>%</span></td>
            <td bgcolor="#FF9966" align="center"><span class="style3 tag" tag="60 ~ 69 %">實際<br>進度<br>60<br>|<br>69<br>%</span></td>
            <td bgcolor="#FF9966" align="center"><span class="style3 tag" tag="70 ~ 79 %">實際<br>進度<br>70<br>|<br>79<br>%</span></td>
            <td bgcolor="#FF9966" align="center"><span class="style3 tag" tag="80 ~ 89 %">實際<br>進度<br>80<br>|<br>89<br>%</span></td>
            <td bgcolor="#FF9966" align="center"><span class="style3 tag" tag="90 ~ 99 %">實際<br>進度<br>90<br>|<br>99<br>%</span></td>
            <td bgcolor="#FF9966" align="center"><span class="style3 tag" tag="100 %">實際<br>進度<br>100<br>%</span></td>
        </tr>
        {% for plan in plans %}
        <tr>
            <td align="left" width="280">
                <span style="padding-left: {{ plan.front }}px;display:inline-block;">{{ plan.name }}</span>(
                <img width="12" src="/media/images/repiechart.png" class="jsGetChart makeStatistics_Include_sub" mark="{{ plan.name }}" tp="makepie" tar="withsub_num_{{ plan.id }}" tf="table_1">
                <img width="12" src="/media/images/repiechart.png" class="jsGetChart makeStatistics_not_Include_sub" mark="{{ plan.name }}" tp="makepie" tar="nonesub_num_{{ plan.id }}" tf="table_1" style="display: none;">
                <img width="12" src="/media/images/barchart.png" class="jsGetChart makeStatistics_Include_sub" mark="{{ plan.name }}" tp="makebar" tar="withsub_num_{{ plan.id }}" tf="table_1">
                <img width="12" src="/media/images/barchart.png" class="jsGetChart makeStatistics_not_Include_sub" mark="{{ plan.name }}" tp="makebar" tar="nonesub_num_{{ plan.id }}" tf="table_1" style="display: none;">
                <img width="12" src="/media/images/linechart.png" class="jsGetChart makeStatistics_Include_sub" mark="{{ plan.name }}" tp="makeplot" tar="withsub_num_{{ plan.id }}" tf="table_1">
                <img width="12" src="/media/images/linechart.png" class="jsGetChart makeStatistics_not_Include_sub" mark="{{ plan.name }}" tp="makeplot" tar="nonesub_num_{{ plan.id }}" tf="table_1" style="display: none;">
                )
            </td>
            <td align="center">
                {% ifnotequal plan.total_num 0 %}
                <a class="makeStatisticsProjects makeStatistics_Include_sub"
                unit_id="{{ select_unit }}"
                plan_id="{{ plan.id }}"
                include_sub="True"
                select_year="{{ select_year }}"
                select_undertake_type="{{ select_undertake_type }}"
                select_fishingport="{{ select_fishingport }}"
                >
                    {{ plan.total_num }}</a>
                {% endifnotequal %}
                {% ifnotequal plan.num 0 %}
                <a class="makeStatisticsProjects makeStatistics_not_Include_sub" style="display: none;"
                unit_id="{{ select_unit }}"
                plan_id="{{ plan.id }}"
                include_sub="False"
                select_year="{{ select_year }}"
                select_undertake_type="{{ select_undertake_type }}"
                select_fishingport="{{ select_fishingport }}"
                >
                    {{ plan.num }}</a>
                {% endifnotequal %}
            </td>
            <td align="right">
                {% ifnotequal plan.total_payout 0 %}
                    <span class="makeStatistics_Include_sub">{{ plan.total_payout|intcomma|cutzero }}</span>
                {% endifnotequal %}
                {% ifnotequal plan.payout 0 %}
                    <span class="makeStatistics_not_Include_sub" style="display: none;">{{ plan.payout|intcomma|cutzero }}</span>
                {% endifnotequal %}
            </td>
            <td align="right">
                {% ifnotequal plan.total_budget 0 %}
                    <span class="makeStatistics_Include_sub">{{ plan.total_budget|intcomma|cutzero }}</span>
                {% endifnotequal %}
                {% ifnotequal plan.budget 0 %}
                    <span class="makeStatistics_not_Include_sub" style="display: none;">{{ plan.budget|intcomma|cutzero }}</span>
                {% endifnotequal %}
            </td>
            <td align="center">
                    <span class="makeStatistics_Include_sub">{{ plan.total_rate }} %</span>
                    <span class="makeStatistics_not_Include_sub" style="display: none;">{{ plan.rate }} %</span>
            </td>
            <td bgcolor="#333333" width="5"></td>
            {% for n,tn in plan.rate_num_list %}
            <td align="center">
                <a class="makeStatisticsProjects makeStatistics_Include_sub withsub_num_{{ plan.id }}"
                true_rate="{{ forloop.counter }}"
                unit_id="{{ select_unit }}"
                plan_id="{{ plan.id }}"
                include_sub="True"
                select_year="{{ select_year }}"
                select_undertake_type="{{ select_undertake_type }}"
                select_fishingport="{{ select_fishingport }}"
                num="{{ tn }}"
                >{% ifnotequal tn 0 %}{{ tn }}{% endifnotequal %}</a>
                <a class="makeStatisticsProjects makeStatistics_not_Include_sub nonesub_num_{{ plan.id }}" style="display: none;"
                true_rate="{{ forloop.counter }}"
                unit_id="{{ select_unit }}"
                plan_id="{{ plan.id }}"
                include_sub="False"
                select_year="{{ select_year }}"
                select_undertake_type="{{ select_undertake_type }}"
                select_fishingport="{{ select_fishingport }}"
                num="{{ n }}"
                >{% ifnotequal n 0 %}{{ n }}{% endifnotequal %}</a>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

{% endblock %}