<tr id="error_tr_{{ error.id }}">
	<td>
		<img src="/media/images/delete.png" row_id="{{ error.id }}" table_name="Error"
				error_id="{{ error.id }}" class="deleteError"
				title="刪除">
	</td>
	<td><span class="blue_font_style">{{ error.ec.no }}</span></td>

	<td align="center" class="change_edit_type" field_name="error_level_{{ error.id }}">
		<a id="show_info__error_level_{{ error.id }}">{{ error.level.name }}</a>
		<input class="input_text change_view_type_error" id="edit_info__error_level_{{ error.id }}"
		type="text" name="error_level" field_name="error_level_{{ error.id }}"
		table_name="Error" row_id="{{ error.id }}" style="display: none;"
		size=4 value="{{ error.level.name }}" old_value="{{ error.level.name }}"/>
	</td>


	<td class="change_edit_type" field_name="context_{{ error.id }}">
		<a id="show_info__context_{{ error.id }}">{{ error.context }}</a>
		<input class="input_text change_view_type_error" id="edit_info__context_{{ error.id }}"
		type="text" name="context" field_name="context_{{ error.id }}"
		table_name="Error" row_id="{{ error.id }}" style="display: none;"
		size=90 value="{{ error.context }}" old_value="{{ error.context }}"/>
		</td>

</tr>