{% extends 'supervise/statisticstable_01.html' %}
{% load utiltags %}

{% block table %}

		
<h1>{{ title }}-<span style="font-size: 16px;">({{ year }} 年度共 {{ all_case_num }} 件)</span></h1>
<hr align="left" width="800" size="1" style="color: #FFC991;">
<br>

<table border="1" style="border-collapse: collapse">
	<tr align="center" valign="middle">
		{% for i in places %}
			<td	bgcolor="{% ifequal i.bgcolor 1 %}#CDE5FF{% else %}#E5FFCD{% endifequal %}"
				width={% if not i.name %}{% else %}26{% endif %}>
				{% if not i.name %}
					{{ i }}
				{% else %}
					{{ i.name }}
				{% endif %}
			</td>
		{% endfor %}
	</tr>
	{% for i in data %}
		<tr align="center" valign="middle">
			{% for j in i %}
				<td {% ifequal j i.0 %}bgcolor="#FFE7CD"{% endifequal %} deduction='True'
				ids="{% for k in j.1 %}{{ k.id}},{% endfor %}" {% if j.1.count %}class="showFilterCases"{% endif %}
				search_condition="{{ i.0.1 }}"
				>
					{% if not j.1.count %}
						{{ j.1 }}
					{% else %}
						{{ j.0 }}<br>({{ j.1.count }})
					{% endif %}
				</td>
			{% endfor %}
		</tr>

	{% endfor %}
</table>
<br>
{% endblock %}
