{% extends 'supervise/index.html' %}
{% load utiltags %}

{% block menu %}
    <ul id="menu" value ="/supervise/statistics_table/"></ul>
{% endblock %}

{% block content %}

<table>
	<tr>
		<td width=180 align="left" valign="top">
			<br>請選擇年度：
			<select name="select_year" id="select_year">
				<option value="all" {% ifequal year '全部' %}selected="selected"{% endifequal %}>全部</option>
				{% for y in years %}
					<option {% ifequal year y %}selected="selected"{% endifequal %} value="{{ y }}">{{ y }} 年度</option>
				{% endfor %}
			</select>
			<br>
			<br>統計表單列表：<br>
			
			<table>
				<tr><td {% ifequal table_id 1 %}bgcolor="#FFB0AF"{% endifequal %}>　<a class="selectTable" table_id="01">1.「單位-分數-件數」</a></td></tr>
				<tr><td {% ifequal table_id 2 %}bgcolor="#FFB0AF"{% endifequal %}>　<a class="selectTable" table_id="02">2.「單位-扣點」</a></td></tr>
				<!-- <tr><td {% ifequal table_id 3 %}bgcolor="#FFB0AF"{% endifequal %}>　<a class="selectTable" table_id="03">3.「單位-缺失分佈」</a></td></tr> -->
				<tr><td {% ifequal table_id 4 %}bgcolor="#FFB0AF"{% endifequal %}>　<a class="selectTable" table_id="04">3.「單位-缺失排名」</a></td></tr>
				<tr><td {% ifequal table_id 5 %}bgcolor="#FFB0AF"{% endifequal %}>　<a class="selectTable" table_id="05">4.「單位-金額-件數」</a></td></tr>
				<tr><td {% ifequal table_id 6 %}bgcolor="#FFB0AF"{% endifequal %}>　<a class="selectTable" table_id="06">5.「單位-月份-件數」</a></td></tr>
				<tr><td {% ifequal table_id 7 %}bgcolor="#FFB0AF"{% endifequal %}>　<a class="selectTable" table_id="07">6.「分類缺失排名分布表」</a></td></tr>
			</table>
		</td>
		<td width=780>
			{% block table %}
		
			<h1>{{ title }}-<span style="font-size: 16px;">({{ year }} 年度共 {{ all_case_num }} 件)</span></h1>
			<hr align="left" width="800" size="1" style="color: #FFC991;">
			<br>
			
			<table border="1" style="border-collapse: collapse">
				<tr align="center" valign="middle">
					{% for i in places %}
						<td	bgcolor="{% ifequal i.bgcolor 1 %}#CDE5FF{% else %}#E5FFCD{% endifequal %}"
							width={% if not i.name %}{% else %}26{% endif %}>
							{% if not i.name %}
								{{ i }}
							{% else %}
								{{ i.name }}
							{% endif %}
						</td>
					{% endfor %}
				</tr>
				{% for i in data %}
					<tr align="center" valign="middle" {% ifequal i.0 '小計' %}bgcolor="#EEEEDE"{% endifequal %}>
						{% for j in i %}
							<td {% ifequal j i.0 %}bgcolor="#FFE7CD"{% endifequal %}
							ids="{% for k in j %}{{ k.id}},{% endfor %}" {% if j.count %}class="showFilterCases"{% endif %}
							search_condition="{{ i.0 }}"
							>
								{% if not j.count %}
									{{ j }}
								{% else %}
									{{ j.count }}
								{% endif %}
							</td>
						{% endfor %}
					</tr>
			
				{% endfor %}
			</table>
			<br>
			{% endblock %}
			<span id="search_Result"></span>
			
		</td>
	</tr>
</table>





{% endblock %}
