{% extends 'harbor/mainmemu.html' %}

{% block sidecontent %}

<!-- my code -->
        <form action="/harbor/fish_pool/update/">
            <input type="hidden" name="id" value="{{ aquaculture.id }}" />
            <div style="padding: 10px"><h1>你正在編輯的魚塭：{{ aquaculture.name }}</h1></div>
            <div style="padding: 10px">請輸入新的魚塭資訊：</div>
            <div style="padding: 10px">
                 名稱: <input type="text" name="name" value="{{ aquaculture.name }}"/>
            </div>
            <div style="padding: 10px">
                 縣市: <select name="place_id">
                            {% for place in places %}
                                <option value="{{ place.id }}" {% if place == aquaculture.place %}selected="selected"{% endif %}> {{ place.name }} </option>
                            {% endfor %}
                        </select>
            </div>
            <div><input type="submit" value="儲存" /></div>
        </form>
<!-- @my code-->

{% endblock %}