{% extends "project/zh-tw/chase.html" %}
{% load i18n %}
{% load humanize %}
{% load utiltags %}
{% load guardian_tags %}
{% block script %}

{% endblock %}

{% block content %}
<table class="table">
    <caption>請輸入搜尋條件</caption>
    <tr>
        <td width="10%" class="warning" align="right">
            單位
        </td>
        <td width="35%" colspan="3" rowspan="1">
            <select id="unit" class="form-control input-sm">
                <option value="">全部</option>
                {% for u in units %}
                    <option value="{{ u.id }}">{{ u.name }}</option>
                {% endfor %}
            </select>
        </td>
        <td width="10%" class="warning" align="right">
            姓名
        </td>
        <td width="35%" colspan="3" rowspan="1">
            <input id="name" size="56" type="text" class="form-control input-sm">
        </td>
        <td width="10%">
            <button id="search_connecter" class="btn btn-info" page=1 type="button">搜尋</button>
            <br>
            <button class="btn btn-success" type="button" data-toggle="modal" data-target="#create_dialog">新增</button>
        </td>
    </tr>
</table>


<ul class="pagination pages_list"></ul> <span class="total_count"></span>
<br>
<table id="SearchResultTable" class="sortable table table-bordered" style="text-align: center; display: none; font-size: 14px;">
    <thead>
        <tr class="success">
            <th width="3%" style="text-align: center;">序<br>號</th>
            <th width="25%">單位</th>
            <th width="15%" style="text-align: center;">姓名</th>
            <th width="20%" style="text-align: center;">連絡電話</th>
            <th width="40%" style="text-align: center;">Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<br>
<ul class="pagination pages_list"></ul> <span class="total_count"></span>


<script type="text/x-jquery-tmpl" id="HideSearchTr">
    <tr style="text-align: center;" row_id="${id}" class="${class_name}" id="tr_unitmanager_${id}">
        <td class="active">${sort}</td>
        <td align="left">${unit.name}</td>
        <td>
            <input
                type="text" class="BlurUpdateInfo form-control"
                field_type="str"
                row_id="${id}"
                field_name="name"
                table_name="unitmanager"
                module_name='fishuser'
                placeholder="待輸入"
                old_value="${name}"
                value="${name}"/>
        </td>
        <td>
            <input
                type="text" class="BlurUpdateInfo form-control"
                field_type="str"
                row_id="${id}"
                field_name="phone"
                table_name="unitmanager"
                module_name='fishuser'
                placeholder="待輸入"
                old_value="${phone}"
                value="${phone}"/>
        </td>   
        <td>
            <input
                type="text" class="BlurUpdateInfo form-control"
                field_type="str"
                row_id="${id}"
                field_name="email"
                table_name="unitmanager"
                module_name='fishuser'
                placeholder="待輸入"
                old_value="${email}"
                value="${email}"/>
        </td>
        <td>
            <button class="deleteRow btn btn-danger btn-xs"
                        row_id="${id}"
                        message = '確定要刪除此筆紀錄嗎？'
                        module_name = "fishuser"
                        table_name = "unitmanager"
                        remove_target = "tr_unitmanager_${id}"
                        title="刪除">X</button>
        </td>
    </tr>
</script>





<!-- Modal -->
<div class="modal fade" id="create_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                <h4 class="modal-title" id="myModalLabel">新增單位主管</h4> </div>
            <div class="modal-body" style="text-align: left;">
                <table id="table_create" class="table table-bordered" style="text-align: center; font-size: 14px;">
                    <tr>
                        <td class="warning">
                            單位
                        </td>
                        <td>
                            <select name="unit" class="form-control">
                                <option value="">請選擇單位</option>
                                {% for u in units %}
                                    <option value="/fishuser/api/v2/unit/{{ u.id }}/">{{ u.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="warning">
                            姓名
                        </td>
                        <td>
                            <input
                                type="text" class="form-control"
                                name="name"
                                placeholder="待輸入"
                                value=""/>
                        </td>
                    </tr>
                    <tr>
                        <td class="warning">
                            連絡電話
                        </td>
                        <td>
                            <input
                                type="text" class="form-control"
                                name="phone"
                                placeholder="待輸入"
                                value=""/>
                        </td>
                    </tr>
                    <tr>
                        <td class="warning">
                            Email
                        </td>
                        <td>
                            <input
                                type="text" class="form-control"
                                name="email"
                                placeholder="待輸入"
                                value=""/>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-success" id="create_unitmanager">確定新增</button>
            </div>
        </div>
    </div>
</div>












<script type="text/javascript">

    function search_connecter(){
        var $obj = $(this);
        var per_page = 10;
        var page = parseInt($obj.attr('page'));
        per_page = parseInt(per_page);
        var string = 'offset=' + ((page-1) * per_page);
        string += '&limit=' + per_page;
        if ($('#unit').val()){
            string += '&unit=' + $('#unit').val();
        }
        if ($('#name').val()){
            string += '&name__contains=' + $('#name').val();
        }
        url = '/fishuser/api/v2/unitmanager/?' + string;

        $.ajax({
            url: url,
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                $('.resultTr').remove();
                $('#SearchResultTable').show();
                
                for (var i=0; i<data.objects.length; i++){
                    data.objects[i]['class_name'] = 'resultTr';
                    data.objects[i]['sort'] = i+1+(page-1)*per_page;
                    var $div = $('#HideSearchTr').tmpl(data.objects[i]).appendTo($('#SearchResultTable > tbody:last'));
                    $div.find('.BlurUpdateInfo').blur(BlurUpdateInfo);
                    $div.find('.BlurUpdateInfo').keypress(function(event) {
                        var $obj = $(this);
                        if (!$obj.is("textarea") && event.which == 13){
                            $obj.blur();
                        }
                    });
                    $div.find('.deleteRow').click(deleteRow);
                }
                $('#search_result_ids').val(data['all_ids']);

                //製造分頁
                $('.pages_list').html('');
                if (data.meta.previous){
                    $('.pages_list').append('<li class="li_page" page="' + (page-1) + '"><a>&laquo;</a></li>');
                }
                for (var i=1; i<=Math.ceil(data.meta.total_count/per_page); i++){
                    $('.pages_list').append('<li class="li_page li_page_' + i + '" page="' + i + '"><a>' + i + '</a></li>');
                    if (page==i){
                        $('.li_page_' + i).addClass('active');
                    }
                }
                if (data.meta.next){
                    $('.pages_list').append('<li class="li_page" page="' + (page+1) + '"><a>&raquo;</a></li>');
                }

                $('.total_count').html('共有' + data.meta.total_count + '筆資料');

                $('.li_page').click(li_page);
            },
            error: REST_ERROR
        })
    }

    $(window).bind('hashchange', function (e) {
        //由hash取出step參數，決定要顯示哪一個div
        var page = e.getState("page") || "1";
        renew_search(page);
    });

    function renew_search(page){
        $('#search_connecter').attr('page', page);
        $('#search_connecter').click();
        $('#search_connecter').attr('page', '1');
    }

    function li_page(){
        var $obj = $(this);
        var page = $obj.attr('page');
        $.bbq.pushState({ page: page });
    }

    function resultChangePage(){
        var $obj = $(this);
        var all_page = $obj.attr('all_page');
        var page = $obj.attr('page');
        $('.resultChangePage').attr('style', '');
        $('.page_list_' + $obj.html()).attr('style', 'font-size: 25px;');
        for (var i=1; i<all_page; i++){
            if (page==i){
                $('.page' + i).show();
            } else {
                $('.page' + i).hide();
            }
        }
    }

    function create_unitmanager(){
        var table = $('#table_create');
        var data = {
            unit: table.find('select[name="unit"]').val(),
            name: table.find('input[name="name"]').val(),
            phone: table.find('input[name="phone"]').val(),
            email: table.find('input[name="email"]').val(),
        };
        if (!data['unit']){
            Lobibox.notify('warning', {
                title: '系統訊息',
                msg: '請選擇所屬單位',
            });
        } else {
            $.ajax({
                url: '/fishuser/api/v2/unitmanager/',
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                dataType: 'json',
                beforeSend: function(XHR) {
                    XHR.setRequestHeader('X-CSRFToken', CSRFMIDDLEWARETOKEN);
                },
                success: function (json, text, xhr) {
                    json['class_name'] = 'resultTr';
                    json['sort'] = 'NEW';
                    var $div = $('#HideSearchTr').tmpl(json).appendTo($('#SearchResultTable > tbody:last'));
                    $div.find('.BlurUpdateInfo').blur(BlurUpdateInfo);
                    $div.find('.BlurUpdateInfo').keypress(function(event) {
                        var $obj = $(this);
                        if (!$obj.is("textarea") && event.which == 13){
                            $obj.blur();
                        }
                    });
                    $div.find('.deleteRow').click(deleteRow);
                    $('#create_dialog').modal('hide');
                    table.find('input').val('');
                },
                error: function (data) {
                    Lobibox.notify('error', {
                        title: '錯誤訊息',
                        msg: data.responseText,
                    });
                }
            });
        }
    }

    $(document).ready(function(){
        $('#search_connecter').click(search_connecter); //搜尋
        $('#search_connecter').click();
        $('#create_unitmanager').click(create_unitmanager);
    });

</script>


{% endblock %}