{% extends "fishuser/zh-tw/base.html" %}
{% load i18n %}
{% load humanize %}
{% load utiltags %}
{% load guardian_tags %}

{% block body %}
<style>
    td.info {
        background-color: #25D986
    }
    .lobibox-confirm {
        top: 100px;
    }
</style>

<h2>新增工程案</h2>
<br>
<table class="table table-bordered" style="font-size: 14px;">
    <tr>
        <td class="active"><span class="glyphicon glyphicon-asterisk text-danger"></span>工程名稱</td>
        <td align="left" colspan="3">
            <input
                type="text" class="form-control new_project_field needExist"
                field_type="str"
                field_name="name"
                field_ch_name="工程名稱"
                placeholder="待輸入"
                value=""/>
        </td>
    </tr>
    <tr>
        <td width="20%" class="active"><span class="glyphicon glyphicon-asterisk text-danger"></span>年度</td>
        <td width="30%" align="left">
            <select 
                field_name="year"
                is_select="true"
                class="form-control new_project_field needExist" 
                field_ch_name="年度">
                {% for y in years %}
                    <option value="{{ y }}" {% ifequal this_year y %}selected{% endifequal %}>{{ y }}</option>
                {% endfor %}
            </select>
        </td>
        <td width="20%" class="active"><span class="glyphicon glyphicon-asterisk text-danger"></span>縣市</td>
        <td width="30%">
            <select 
                field_name="place"
                is_select="true"
                class="form-control new_project_field needExist" 
                field_ch_name="縣市">
                <option value="" selected="selected">請選擇</option>
                {% for p in places %}
                    <option value="/fishuser/api/v2/place/{{ p.id }}/">{{ p.name }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td class="active"><span class="glyphicon glyphicon-asterisk text-danger"></span>經費來源計畫</td>
        <td align="left" colspan="3">
            <select 
                field_name="plan"
                is_select="true"
                class="form-control new_project_field needExist" 
                field_ch_name="計畫名稱">
                <option value="" selected="selected">請選擇</option>
                {% for p in plans %}
                    <option value="/fishuser/api/v2/plan/{{ p.id }}/">{{ p.name }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td class="active"><span class="glyphicon glyphicon-asterisk text-danger"></span>預計核定日期</td>
        <td>
            <input
                type="text" class="form-control new_project_field datepicker needExist"
                field_type="date"
                do_nothing="true"
                field_ch_name="預計核定日期"
                field_name="sch_approved_plan_date"
                placeholder="待輸入"
                old_value=""
                value=""/>
        </td>
        <td class="active">實際核定日期</td>
        <td>
            <input
                type="text" class="form-control new_project_field datepicker"
                field_type="date"
                do_nothing="true"
                field_name="act_approved_plan_date"
                placeholder="待輸入"
                old_value=""
                value=""/>
        </td>
    </tr>
    <tr>
        <td class="active">契約編號<span style="font-size:12px;">(署內案號)</span></td>
        <td colspan="3">
            <input
                type="text" class="form-control new_project_field"
                field_type="str"
                field_name="bid_no"
                placeholder="待輸入"
                old_value=""
                value=""/>
        </td>
    </tr>
    <tr>
        <td class="active">計畫編號</td>
        <td colspan="3">
            <input
                type="text" class="form-control new_project_field"
                field_type="str"
                field_name="work_no"
                placeholder="待輸入"
                old_value=""
                value=""/>
        </td>
    </tr>
    <tr>
        <td class="active"><span class="glyphicon glyphicon-asterisk text-danger"></span>採購類別<span style="font-size:12px;">(工程/勞務)</span></td>
        <td>
            <select
                field_name="purchase_type"
                is_select="true"
                class="form-control new_project_field needExist" 
                field_ch_name="採購類別">
                <option value="" selected="selected">請選擇</option>
                {% for type in option.purchase_type %}
                    <option value="/fishuser/api/v2/option/{{ type.id }}/"}>{{ type.value }}</option>
                {% endfor %}
            </select>
        </td>
        <td class="active"><span class="glyphicon glyphicon-asterisk text-danger"></span>經費種類<span style="font-size:12px;">(經常/資本)</span></td>
        <td>
            <select
                field_name="budget_sub_type"
                is_select="true"
                class="form-control new_project_field needExist" 
                field_ch_name="經費種類">
                <option value="" selected="selected">請選擇</option>
                {% for type in option.budget_sub_type %}
                    <option value="/fishuser/api/v2/option/{{ type.id }}/">{{ type.value }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td class="active"><span class="glyphicon glyphicon-asterisk text-danger"></span>承辦方式<span style="font-size:12px;">(自/委/補)</span></td>
        <td>
            <select
                field_name="undertake_type"
                is_select="true"
                class="form-control new_project_field needExist" 
                field_ch_name="承辦方式">
                <option value="" selected="selected">請選擇</option>
                {% for type in option.undertake_type %}
                    <option value="/fishuser/api/v2/option/{{ type.id }}/">{{ type.value }}</option>
                {% endfor %}
            </select>
        </td>
        <td class="active"><span class="glyphicon glyphicon-asterisk text-danger"></span>執行機關</td>
        <td>
            <select
                field_name="unit"
                is_select="true"
                class="form-control new_project_field needExist" 
                field_ch_name="執行機關">
                <option value="" selected="selected">請選擇</option>
                {% for u in units %}
                    <option value="/fishuser/api/v2/unit/{{ u.id }}/">{{ u.name }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td class="active"><span class="glyphicon glyphicon-asterisk text-danger"></span>工程屬性別</td>
        <td colspan="3">
            <div class="row">
                <div class="col-lg-6">
                    <select
                        id="project_type"
                        field_name="project_type"
                        is_select="true"
                        class="form-control new_project_field needExist" 
                        field_ch_name="工程屬性別">
                        <option value="" selected="selected">請選擇</option>
                        {% for type in option.project_type_sort %}
                            <option value="/fishuser/api/v2/option/{{ type.id }}/">{{ type.value }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-6">
                    <select
                        field_name="project_sub_type"
                        is_select="true"
                        class="form-control new_project_field needExist" 
                        field_ch_name="工程屬性別">
                        <option value="" selected="selected">請選擇</option>
                        {% for type in option.port_type %}
                            <option style="display: none;" class="port_type" value="/fishuser/api/v2/option/{{ type.id }}/">{{ type.value }}</option>
                        {% endfor %}
                        {% for type in option.farm_type %}
                            <option style="display: none;" class="farm_type" value="/fishuser/api/v2/option/{{ type.id }}/">{{ type.value }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="active">X座標(M)<br>TWD97</td>
        <td>
            <input
                type="text" class="form-control new_project_field"
                field_type="int"
                field_name="x_coord"
                placeholder="待輸入"
                old_value=""
                value=""/>
        </td>
        <td rowspan="3">
            漁港/養殖區 
            <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#add_fishing_port_dailog">
                ＋
            </button>
        </td>
        <td align="left" rowspan="3" style="vertical-align: top;">
            <span id="insert_fishing_port"></span>     
        </td>
    </tr>
    <tr>
        <td class="active">Y座標(M)<br>TWD97</td>
        <td>
            <input
                type="text" class="form-control new_project_field"
                field_type="int"
                field_name="y_coord"
                placeholder="待輸入"
                old_value=""
                value=""/>
        </td>
    </tr>
    <tr>
        <td class="active">工程施作地點</td>
        <td>
            <input
                type="text" class="form-control new_project_field"
                field_type="str"
                field_name="location"
                placeholder="待輸入"
                old_value="{{ project.location }}"
                value="{{ project.location }}"/>
        </td>
    </tr>
    <tr>
        <td class="active">核定數(預算數)</td>
        <td>
            <div class="input-group">
                <input
                    type="text" class="form-control new_project_field inputcomma"
                    field_type="float"
                    style="text-align: right;"
                    field_name="capital_ratify_budget"
                    placeholder="待輸入"
                    old_value=""
                    value=""/>
                <span class="input-group-addon">元</span>
            </div>
        </td>
        <td class="active">本署負擔比例</td>
        <td align="left">
            <div class="input-group">
                <input
                    type="text" class="form-control new_project_field"
                    field_type="float"
                    style="text-align: right;"
                    field_name="allot_rate"
                    placeholder="待輸入"
                    old_value=""
                    value=""/>
                <span class="input-group-addon">%</span>
            </div>
        </td>
    </tr>
    <tr>
        <td class="active">地方核定數(預算數)</td>
        <td align="left">
            <div class="input-group">
                <input
                    type="text" class="form-control new_project_field inputcomma"
                    field_type="float"
                    style="text-align: right;"
                    field_name="capital_ratify_local_budget"
                    placeholder="待輸入"
                    old_value=""
                    value=""/>
                <span class="input-group-addon">元</span>
            </div>
        </td>
        <td class="active">署內負責人</td>
        <td align="left">
            <input
                type="text" class="form-control new_project_field"
                field_type="str"
                field_name="self_charge"
                placeholder="待輸入"
                old_value=""
                value=""/>
        </td>
    </tr>
    <tr>
        <td class="info">縣市主管</td>
        <td align="left">
            <input
                type="text" class="form-control new_project_field"
                field_type="str"
                field_name="local_manager"
                placeholder="待輸入"
                old_value=""
                value=""/>
        </td>
        <td class="active">署內聯絡人</td>
        <td align="left">
            <input
                type="text" class="form-control new_project_field"
                field_type="str"
                field_name="self_contacter"
                placeholder="待輸入"
                old_value=""
                value=""/>
        </td>
    </tr>
    <tr>
        <td class="info">縣市主管電話</td>
        <td align="left">
            <input
                type="text" class="form-control new_project_field"
                field_type="str"
                field_name="local_manager_phone"
                placeholder="待輸入"
                old_value=""
                value=""/></td>
        <td class="active">署內聯絡人電話</td>
        <td align="left">
            <input
                type="text" class="form-control new_project_field"
                field_type="str"
                field_name="self_contacter_phone"
                placeholder="待輸入"
                old_value=""
                value=""/>
        </td>
    </tr>
    <tr>
        <td class="info">縣市主管Email</td>
        <td align="left">
            <input
                type="text" class="form-control new_project_field"
                field_type="str"
                field_name="local_manager_email"
                placeholder="待輸入"
                old_value=""
                value=""/>
        </td>
        <td class="active">署內聯絡人Email</td>
        <td align="left">
            <input
                type="text" class="form-control new_project_field"
                field_type="str"
                field_name="self_contacter_email"
                placeholder="待輸入"
                old_value=""
                value=""/>
        </td>
    </tr>
    <tr>
        <td bgcolor="#D6FFAF">縣市負責人</td>
        <td align="left">
            <input
                type="text" class="form-control new_project_field"
                field_type="str"
                field_name="local_charge"
                placeholder="待輸入"
                old_value=""
                value=""/>
        </td>
        <td bgcolor="#FFE7CD">廠商負責人</td>
        <td align="left">
            <input
                type="text" class="form-control new_project_field"
                field_type="str"
                field_name="contractor_charge"
                placeholder="待輸入"
                old_value=""
                value=""/>
        </td>
    </tr>
    <tr>
        <td bgcolor="#D6FFAF">縣市聯絡人</td>
        <td align="left">
            <input
                type="text" class="form-control new_project_field"
                field_type="str"
                field_name="local_contacter"
                placeholder="待輸入"
                old_value="{{ project.local_contacter }}"
                value="{{ project.local_contacter }}"/>
        </td>
        <td bgcolor="#FFE7CD">廠商聯絡人</td>
        <td align="left">
            <input
                type="text" class="form-control new_project_field"
                field_type="str"
                field_name="contractor_contacter"
                placeholder="待輸入"
                old_value=""
                value=""/>
        </td>
    </tr>
    <tr>
        <td bgcolor="#D6FFAF">縣市聯絡人電話</td>
        <td align="left">
            <input
                type="text" class="form-control new_project_field"
                field_type="str"
                field_name="local_contacter_phone"
                placeholder="待輸入"
                old_value="{{ project.local_contacter_phone }}"
                value="{{ project.local_contacter_phone }}"/>
        </td>
        <td bgcolor="#FFE7CD">廠商聯絡人電話</td>
        <td align="left">
            <input
                type="text" class="form-control new_project_field"
                field_type="str"
                field_name="contractor_contacter_phone"
                placeholder="待輸入"
                old_value=""
                value=""/>
        </td>
    </tr>
    <tr>
        <td bgcolor="#D6FFAF">縣市聯絡人Email</td>
        <td align="left">
            <input
                type="text" class="form-control new_project_field"
                field_type="str"
                field_name="local_contacter_email"
                placeholder="待輸入"
                old_value=""
                value=""/>
        </td>
        <td bgcolor="#FFE7CD">廠商聯絡人Email</td>
        <td align="left">
            <input
                type="text" class="form-control new_project_field"
                field_type="str"
                field_name="contractor_contacter_email"
                placeholder="待輸入"
                old_value=""
                value=""/>
        </tr>
    </tr>
    <tr>
        <td class="active" colspan="4" align="center">備註</td>
    </tr>
    <tr>
        <td align="left" colspan="4">
            <textarea
                class="form-control new_project_field"
                field_type="str"
                type="textarea"
                field_name="project_memo"
                placeholder="請輸入"
                old_value=""
                rows="8"></textarea>
        </td>
    </tr>
</table>

<span class="glyphicon glyphicon-asterisk text-danger"></span>為必填欄位<br>
<button class="btn btn-lg btn-success" id="create_project">填寫完畢，新增工程案</button>




<div class="modal fade" id="add_fishing_port_dailog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">請選擇漁港/養殖區</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <select class="form-control" id="select_port_or_aquaculture">
                            <option value="fishing_port_list" selected="selected">漁港</option>
                            <option value="aquaculture_list">養殖區</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <select class="form-control" id="select_place_for_fishing_port">
                            <option value="" selected="selected">請選擇縣市區域</option>
                            {% for p in places %}
                                <option value="{{ p.id }}"> - {{ p.name }} - </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-6" class="">
                        <select class="form-control fishing_port_list">
                            <option value="" selected="selected">請選擇漁港</option>
                        </select>
                        <select class="form-control aquaculture_list" style="display: none;">
                            <option value="" selected="selected">請選擇養殖區</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="add_fishing_port_or_aquaculture" class="btn btn-primary">新增</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/x-jquery-tmpl" id="HidePortOption">
    <option class="${place__id} port" value="/harbor/api/v2/fishingport/${id}/">${place__name} - ${name}</option>
</script>

<script type="text/x-jquery-tmpl" id="HideAquaOption">
    <option class="{{ p.place.id }} aqua" value="/harbor/api/v2/aquaculture/${id}/">${place__name} - ${name}</option>
</script>

<script type="text/javascript">
    function project_type() {
        var $obj = $(this);
        var value = $obj.val();
        if (value=='/fishuser/api/v2/option/227/') {
            $('select[field_name="project_sub_type"]').val('');
            $('.port_type').show();
            $('.farm_type').hide();
        } else if (value=='/fishuser/api/v2/option/228/') {
            $('select[field_name="project_sub_type"]').val('');
            $('.port_type').hide();
            $('.farm_type').show();
        } else {
            $('select[field_name="project_sub_type"]').val('');
            $('.port_type').hide();
            $('.farm_type').hide();
        }
    }

    function select_port_or_aquaculture() {
        var $obj = $(this);
        var value = $obj.val();
        if (value=="fishing_port_list") {
            $('.fishing_port_list').show();
            $('.aquaculture_list').hide();
        } else if (value == 'aquaculture_list') {
            $('.fishing_port_list').hide();
            $('.aquaculture_list').show();
        }
    }

    function select_place_for_fishing_port() {
        var $obj = $(this);
        var value = $obj.val();
        $('.fishing_port_list').html('<option value="" selected="selected">請選擇漁港</option>');
        $('.fishing_port_list').val('');
        $.ajax({
            url: '/harbor/api/v2/fishingport/?limit=1000000000&place=' + value,
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                for (var i=0; i<data.objects.length; i++){
                    var $div = $('#HidePortOption').tmpl(data.objects[i]).appendTo($('.fishing_port_list'));
                }
            },
            error: function () {
            },
        })
        $('.aquaculture_list').html('<option value="" selected="selected">請選擇養殖區</option>');
        $('.aquaculture_list').val('');
        $.ajax({
            url: '/harbor/api/v2/aquaculture/?limit=1000000000&place=' + value,
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                for (var i=0; i<data.objects.length; i++){
                    var $div = $('#HideAquaOption').tmpl(data.objects[i]).appendTo($('.aquaculture_list'));
                }
            },
            error: function () {
            },
        })
    }

    function add_fishing_port_or_aquaculture() {
        var select_port_or_aquaculture = $('#select_port_or_aquaculture').val();
        if (select_port_or_aquaculture=='fishing_port_list') {
            var value = $('.fishing_port_list').val();
            var text = $('.fishing_port_list').find("option:selected").text();
        } else if (select_port_or_aquaculture=='aquaculture_list'){
            var value = $('.aquaculture_list').val();
            var text = $('.aquaculture_list').find("option:selected").text();
        }
        if (!value) {
            alert('請選擇欲新增的漁港或養殖區');
            return false;
        }
        var type = value.split('/')[4];
        var row_id = value.split('/')[5];
        if (!$('.port_or_aquaculture_' + type + row_id).html()){
            var html = '<div class="input-group port_or_aquaculture_' + type + row_id + '">';
            html += '<select class="form-control ' + select_port_or_aquaculture.replace('_list', '') + '" disabled>';
            html += '<option value="' + value + '">' + text + '</option>';
            html += '</select>';
            html += '<span class="input-group-addon"><button class="btn btn-danger btn-xs delete_port_or_aquaculture" row_id="' + row_id + '">X</button></span></div>';
            $(html).insertBefore($('#insert_fishing_port'));
            $('.delete_port_or_aquaculture').unbind('click');
            $('.delete_port_or_aquaculture').click(function (){
                var $obj = $(this);
                var row_id = $obj.attr('row_id');
                if (confirm('您確定要刪除嗎？')){
                    $('.port_or_aquaculture_' + type + row_id).remove();
                }
            });
        }
        $('#add_fishing_port_dailog').modal('hide');
    }

    function create_project(){
        var $obj = $(this);
        $.each($('.needExist'), function() {
            var $obj = $(this);
            if (!$obj.val()){
                Lobibox.notify('error', {
                    title: '錯誤訊息',
                    msg: $obj.attr('field_ch_name') + ' 欄位不能為空白。',
                });
                return false;
            }
        });
        var data = {
            csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
        };
        $.each($('.new_project_field'), function() {
            var $obj = $(this);
            var value = $obj.val();
            if (!value) {value = null;}
            var field_type = $obj.attr('field_type');
            var field_name = $obj.attr('field_name');
            if (field_type=='int' && value){
                value = remove_TransformThousands($obj.val());
                if(!(int_check.test(value))){
                    var message = field_name + '須為整數！';
                    Lobibox.notify('error', {
                        title: '錯誤訊息',
                        msg: message,
                    });
                    return false;
                }
            };
            if (field_type=='float' && value){
                value = remove_TransformThousands($obj.val());
                if(!(float_check.test(value))){
                    var message = field_name + '須為數字！';
                    Lobibox.notify('error', {
                        title: '錯誤訊息',
                        msg: message,
                    });
                    return false;
                }
            };
            data[field_name] = value;
        });
        var port = [];
        $.each($('.fishing_port'), function() {
            var $obj = $(this);
            port.push($obj.val());
        });
        var aqua = [];
        $.each($('.aquaculture'), function() {
            var $obj = $(this);
            aqua.push($obj.val());
        });
        data['fishing_port'] = port;
        data['aquaculture'] = aqua;
        if (!data['x_coord']){
            data['x_coord'] = null;
        }
        if (!data['y_coord']){
            data['y_coord'] = null;
        }
        $.ajax({
            url: '/fishuser/api/v2/project/',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            dataType: 'json',
            success: function (json, text, xhr) {
                Lobibox.confirm({
                    msg: '新增工程案成功!!\n按『確定』可繼續新增\n按『取消』會開啟-基本資料頁面',
                    buttons: {
                        accept: {
                            'class': 'lobibox-btn lobibox-btn-yes',
                            text: '新增下一筆',
                            closeOnClick: true
                        },
                        cancel: {
                            'class': 'lobibox-btn lobibox-btn-no',
                            text: '到工程基本資料',
                            closeOnClick: true
                        },
                    },
                    callback: function ($this, type, ev) {
                        if(type=="accept"){
                            $.each($('.new_project_field'), function () {
                                $(this).val('');
                            })
                            window.location.reload();
                        }else{
                            var $url = $.url(xhr.getResponseHeader('Location'));
                            var id = $url.segment(-1);
                            window.location = '/project/project_profile/' + id + '/';
                        }
                    }
                });
            },
            error: function () {
            },
        })
    }

    $(document).ready(function(){
        $('#project_type').change(project_type); // 工程屬性別 改變時一併改變後續的選項

        $('#select_port_or_aquaculture').change(select_port_or_aquaculture);
        $('#select_place_for_fishing_port').change(select_place_for_fishing_port); //新增漁港時，選擇縣市後改變漁港選項
        $('#add_fishing_port_or_aquaculture').click(add_fishing_port_or_aquaculture); // 新增漁港或養殖區_新增

        $('#create_project').click(create_project); //新增工程案
    });

</script>
{% endblock %}
