{% load i18n %}
{% load utiltags %}
{% load humanize %}



{% ifequal project.undertake_type.value '自辦' %}
    <br>
    <h3 class="text-primary">
        撥付資訊
        <br><small>(自辦工程為自主新增)</small><br>
        <button class="btn btn-success create_appropriate"
                        type_id="312"
                        project_id="{{ project.id }}"
                        module_name = "fishuser"
                        table_name = "appropriate"
                        title="工程款撥付數">新增"工程款"撥付數</button>
        <button class="btn btn-success create_appropriate"
                        type_id="313"
                        project_id="{{ project.id }}"
                        module_name = "fishuser"
                        table_name = "appropriate"
                        title="勞務類撥付數">新增"勞務類"撥付數</button>
    </h3>
    <table id="TableAppropriate" class="table table-bordered" style="font-size: 14px; text-align: center;" total_width="860">
        <tr class="success">
            <td width="15%">日期</td>
            <td width="20%">名稱</td>
            <td width="10%">種類</td>
            <td width="20%">撥付數</td>
            <td width="15%">文號</td>
            <td width="20%">備註</td>
            {% if edit %}
                <td width="1%">刪除</td>
            {% endif %}
        </tr>
        {% for appr in appropriates %}
            <tr id="tr_Appropriate_{{ appr.id }}">
                <td>
                    {% if edit %}
                        <input
                            type="text" class="BlurUpdateInfo form-control datepicker"
                            field_type="date"
                            row_id="{{ appr.id }}"
                            field_name="allot_date"
                            table_name="appropriate"
                            module_name='fishuser'
                            placeholder="待輸入"
                            old_value="{{ appr.allot_date|default_if_none:'' }}"
                            value="{{ appr.allot_date|default_if_none:'' }}"/>
                    {% else %}
                        {{ appr.allot_date|default_if_none:'' }}
                    {% endif %}
                </td>
                <td>
                    {% if edit %}
                        <input
                            type="text" class="BlurUpdateInfo form-control"
                            field_type="str"
                            row_id="{{ appr.id }}"
                            field_name="name"
                            table_name="appropriate"
                            module_name='fishuser'
                            placeholder="待輸入"
                            old_value="{{ appr.name|default_if_none:'' }}"
                            value="{{ appr.name|default_if_none:'' }}"/>
                    {% else %}
                        {{ appr.name|default_if_none:'' }}
                    {% endif %}
                </td>
                <td>
                    {{ appr.type.value }}
                </td>
                <td align="right">
                    {% if edit %}
                        <div class="input-group">
                            <input
                                id="num"
                                type="text" class="BlurUpdateInfo form-control inputcomma appropriate_field"
                                field_type="float" style="text-align: right;"
                                row_id="{{ appr.id }}"
                                field_name="num"
                                table_name="appropriate"
                                module_name='fishuser'
                                placeholder="待輸入"
                                old_value="{{ appr.num|default_if_none:''|cutzero }}"
                                value="{{ appr.num|default_if_none:''|cutzero }}"/>
                            <span class="input-group-addon">元</span>
                        </div>
                    {% else %}
                        {{ appr.num|default_if_none:''|intcomma|cutzero }} 元
                    {% endif %}
                </td>
                <td>
                    {% if edit %}
                        <input
                            type="text" class="BlurUpdateInfo form-control"
                            field_type="str"
                            row_id="{{ appr.id }}"
                            field_name="vouch_no"
                            table_name="appropriate"
                            module_name='fishuser'
                            placeholder="待輸入"
                            old_value="{{ appr.vouch_no|default_if_none:'' }}"
                            value="{{ appr.vouch_no|default_if_none:'' }}"/>
                    {% else %}
                        {{ appr.vouch_no|default_if_none:'' }}
                    {% endif %}
                </td>
                <td align="left" style="max-width: 157px;">
                    {% if edit %}
                        <textarea
                            class="BlurUpdateInfo form-control"
                            field_type="str"
                            type="textarea"
                            row_id="{{ appr.id }}"
                            field_name="memo"
                            table_name="appropriate"
                            module_name='fishuser'
                            placeholder="待輸入"
                            style="height: 34px;"
                            old_value="{{ appr.memo|default_if_none:'' }}">{{ appr.memo|default_if_none:'' }}</textarea>
                    {% else %}
                        {{ appr.memo|default_if_none:'' }}
                    {% endif %}
                </td>
                {% if edit %}
                    <td>
                        <button class="deleteRow btn btn-danger btn-xs"
                            row_id="{{ appr.id }}"
                            module_name = "fishuser"
                            table_name = "appropriate"
                            row_name = "此撥付數"
                            do_change_action = '.appropriate_field'
                            remove_target = "tr_Appropriate_{{ appr.id }}"
                            title="刪除">X</button>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        <tr id="tr_total_appropriate">
            <td colspan="3" align="right">總計撥付數：</td>
            <td class="total_appropriate" align="right"></td>
            <td colspan="{% if edit %}3{% else %}2{% endif %}"></td>
        </tr>
    </table>

    <script type="text/x-jquery-tmpl" id="HideAppropriateTr">
        <tr id="tr_Appropriate_${id}">
            <td>
                <input
                    type="text" class="BlurUpdateInfo form-control datepicker"
                    field_type="date"
                    row_id="${id}"
                    field_name="allot_date"
                    table_name="appropriate"
                    module_name='fishuser'
                    placeholder="待輸入"
                    old_value=""
                    value=""/>
            </td>
            <td>
                <input
                    type="text" class="BlurUpdateInfo form-control"
                    field_type="str"
                    row_id="${id}"
                    field_name="name"
                    table_name="appropriate"
                    module_name='fishuser'
                    placeholder="待輸入"
                    old_value=""
                    value=""/>
            </td>
            <td>
                ${type__value}
            </td>
            <td align="right">
                <div class="input-group">
                    <input
                        id="num"
                        type="text" class="BlurUpdateInfo form-control inputcomma appropriate_field"
                        field_type="float" style="text-align: right;"
                        row_id="${id}"
                        field_name="num"
                        table_name="appropriate"
                        module_name='fishuser'
                        placeholder="待輸入"
                        old_value=""
                        value=""/>
                    <span class="input-group-addon">元</span>
                </div>
            </td>
            <td>
                <input
                    type="text" class="BlurUpdateInfo form-control"
                    field_type="str"
                    row_id="${id}"
                    field_name="vouch_no"
                    table_name="appropriate"
                    module_name='fishuser'
                    placeholder="待輸入"
                    old_value=""
                    value=""/>
            </td>
            <td align="left">
                <textarea
                    class="BlurUpdateInfo form-control"
                    field_type="str"
                    type="textarea"
                    row_id="${id}"
                    field_name="memo"
                    table_name="appropriate"
                    module_name='fishuser'
                    placeholder="待輸入"
                    style="height: 34px;"
                    old_value=""></textarea>
            </td>
            <td>
                <button class="deleteRow btn btn-danger btn-xs"
                    row_id="${id}"
                    module_name = "fishuser"
                    table_name = "appropriate"
                    row_name = "此撥付數"
                    do_change_action = '.appropriate_field'
                    remove_target = "tr_Appropriate_${id}"
                    title="刪除">X</button>
            </td>
        </tr>
    </script>


{% else %}
    <br>
    <h3 class="text-primary">撥付資訊<br>
        <small>(來源為會計系統同步，會計系統工作代碼：{% if project.no %}{{ project.no }}{% else %}未填寫{% endif %})</small>
        <button class="btn btn-success create_appropriate"
        type_id="312"
        project_id="{{ project.id }}"
        module_name = "fishuser"
        table_name = "appropriate"
        title="工程款撥付數">新增撥付數</button>
    </h3>
    <table id="TableAllocation" class="table table-bordered" style="font-size: 14px; text-align: center;" total_width="860">
        <tr class="success">
            <td width="20%">日期</td>
            <td width="20%">名稱</td>
            <td width="20%">撥付數</td>
            <td width="20%">文號</td>
            <td width="20%">備註</td>
            {% if edit %}
                <td width="1%">刪除</td>
            {% endif %}
        </tr>
        {% for appr in appropriates %}
            <tr id="tr_Appropriate_{{ appr.id }}">
                <td>
                    {% if edit %}
                        <input
                            type="text" class="BlurUpdateInfo form-control datepicker"
                            field_type="date"
                            row_id="{{ appr.id }}"
                            field_name="allot_date"
                            table_name="appropriate"
                            module_name='fishuser'
                            placeholder="待輸入"
                            old_value="{{ appr.allot_date|default_if_none:'' }}"
                            value="{{ appr.allot_date|default_if_none:'' }}"/>
                    {% else %}
                        {{ appr.allot_date|default_if_none:'' }}
                    {% endif %}
                </td>
                <td>
                    {% if edit %}
                        <input
                            type="text" class="BlurUpdateInfo form-control"
                            field_type="str"
                            row_id="{{ appr.id }}"
                            field_name="name"
                            table_name="appropriate"
                            module_name='fishuser'
                            placeholder="待輸入"
                            old_value="{{ appr.name|default_if_none:'' }}"
                            value="{{ appr.name|default_if_none:'' }}"/>
                    {% else %}
                        {{ appr.name|default_if_none:'' }}
                    {% endif %}
                </td>
                <td align="right">
                    <div class="input-group">
                        <input
                            id="num"
                            type="text" class="BlurUpdateInfo form-control inputcomma appropriate_field"
                            field_type="float" style="text-align: right;"
                            row_id="{{ appr.id }}"
                            field_name="num"
                            table_name="appropriate"
                            module_name='fishuser'
                            placeholder="待輸入"
                            old_value="{{ appr.num|default_if_none:''|cutzero }}"
                            value="{{ appr.num|default_if_none:''|cutzero }}"/>
                        <span class="input-group-addon">元</span>
                    </div>
                </td>
                <td>
                    {% if edit %}
                        <input
                            type="text" class="BlurUpdateInfo form-control"
                            field_type="str"
                            row_id="{{ appr.id }}"
                            field_name="vouch_no"
                            table_name="appropriate"
                            module_name='fishuser'
                            placeholder="待輸入"
                            old_value="{{ appr.vouch_no|default_if_none:'' }}"
                            value="{{ appr.vouch_no|default_if_none:'' }}"/>
                    {% else %}
                        {{ appr.vouch_no|default_if_none:'' }}
                    {% endif %}
                </td>
                <td align="left" style="max-width: 157px;">
                    {% if edit %}
                        <textarea
                            class="BlurUpdateInfo form-control"
                            field_type="str"
                            type="textarea"
                            row_id="{{ appr.id }}"
                            field_name="memo"
                            table_name="appropriate"
                            module_name='fishuser'
                            placeholder="待輸入"
                            style="height: 34px;"
                            old_value="{{ appr.memo|default_if_none:'' }}">{{ appr.memo|default_if_none:'' }}</textarea>
                    {% else %}
                        {{ appr.memo|default_if_none:'' }}
                    {% endif %}
                </td>
                {% if edit %}
                    <td>
                        <button class="deleteRow btn btn-danger btn-xs"
                            row_id="{{ appr.id }}"
                            module_name = "fishuser"
                            table_name = "appropriate"
                            row_name = "此撥付數"
                            do_change_action = '.appropriate_field'
                            remove_target = "tr_Appropriate_{{ appr.id }}"
                            title="刪除">X</button>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        <tr id="tr_total_appropriate">
            <td align='right'>總計撥付數：</td>
            <td align="right" colspan="2"><span class="total_appropriate" style="font-size: 16px; color: #DC7100;"></span> 元</td>
            <td align="right" colspan="3"></td>
        </tr>
    </table>
    <script type="text/x-jquery-tmpl" id="HideAppropriateTr">
        <tr id="tr_Appropriate_${id}">
            <td>
                <input
                    type="text" class="BlurUpdateInfo form-control datepicker"
                    field_type="date"
                    row_id="${id}"
                    field_name="allot_date"
                    table_name="appropriate"
                    module_name='fishuser'
                    placeholder="待輸入"
                    old_value=""
                    value=""/>
            </td>
            <td>
                <input
                    type="text" class="BlurUpdateInfo form-control"
                    field_type="str"
                    row_id="${id}"
                    field_name="name"
                    table_name="appropriate"
                    module_name='fishuser'
                    placeholder="待輸入"
                    old_value=""
                    value=""/>
            </td>
            <td align="right">
                <div class="input-group">
                    <input
                        id="num"
                        type="text" class="BlurUpdateInfo form-control inputcomma appropriate_field"
                        field_type="float" style="text-align: right;"
                        row_id="${id}"
                        field_name="num"
                        table_name="appropriate"
                        module_name='fishuser'
                        placeholder="待輸入"
                        old_value=""
                        value=""/>
                    <span class="input-group-addon">元</span>
                </div>
            </td>
            <td>
                <input
                    type="text" class="BlurUpdateInfo form-control"
                    field_type="str"
                    row_id="${id}"
                    field_name="vouch_no"
                    table_name="appropriate"
                    module_name='fishuser'
                    placeholder="待輸入"
                    old_value=""
                    value=""/>
            </td>
            <td align="left">
                <textarea
                    class="BlurUpdateInfo form-control"
                    field_type="str"
                    type="textarea"
                    row_id="${id}"
                    field_name="memo"
                    table_name="appropriate"
                    module_name='fishuser'
                    placeholder="待輸入"
                    style="height: 34px;"
                    old_value=""></textarea>
            </td>
            <td>
                <button class="deleteRow btn btn-danger btn-xs"
                    row_id="${id}"
                    module_name = "fishuser"
                    table_name = "appropriate"
                    row_name = "此撥付數"
                    do_change_action = '.appropriate_field'
                    remove_target = "tr_Appropriate_${id}"
                    title="刪除">X</button>
            </td>
        </tr>
    </script>
{% endifequal %}