{% load i18n %}
{% load utiltags %}
{% load humanize %}

<br>
<h3 class="text-primary">工程管理費實支資訊<br><small>(僅顯示自辦工程實支資訊)</small>
{% ifequal project.undertake_type.value '自辦' %}
    <button class="btn btn-success mb-1" data-toggle="modal" id="btn_add_managemoney" data-target="#add_managemoney_dialog" onclick="">新增支出</button>
{% endifequal %}
</h3>
<table id="TableManageMoney" class="table table-bordered" style="font-size: 14px; text-align: center;" total_width="860">
    <thead>
        <tr class="success">
            <td width="20%">日期</td>
            <td width="50%">支付項目</td>
            <td width="30%">金額</td>
            {% if edit %}
            <td width="10%">刪除</td>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for row in project.projectmanagemoney_set.all %}
        <tr id="tr_manage_money_{{ row.managemoney_id }}">
            <td>{{ row.managemoney.date }}</td>
            <td align="left">{{ row.managemoney.name }}</td>
            <td align="right">
                {{ row.money|default_if_none:""|intcomma|cutzero }} 元
            </td>
            {% if edit %}
            <td>
                <button class="btn btn-danger btn-xs" onclick="deleteRow(this)" title="點我刪除" row_id="{{ row.managemoney_id }}" row_name="{{ row.managemoney.name }}" row_money="{{ row.money }}" module_name = "fishuser" table_name = "managemoney" do_change_action="#already_user_money" remove_target = "tr_manage_money_{{ row.managemoney_id }}" title="刪除">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="modal fade" id="add_managemoney_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 800px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">增加支出</h4>
            </div>
            <div class="modal-body" align="left">
                目前選擇的支出年度：<span style="color: blur; font-size: 18px;">{{ project.year }}</span><br>
                此工程案剩餘管理費：<span id="limit_money" style="color: blur; font-size: 18px;">{{ limit_money|default_if_none:0|intcomma|cutzero }}</span>元<br>
                日期：<input class="form-control datepicker" do_nothing="true" value="" id="managemoney_date" style="width:30%">
                支出項目名稱： <input class="form-control" value="" id="managemoney_name">
                金額： <input class="form-control" value="" id="managemoney_money" style="width:30%">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="add_managemoney">新增支出</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function add_managemoney(){
        var num_check=/^[0-9]*$/;
        var project_id = {{ project.id }};
        var year = {{ project.year }};
        var limit_money = {{ limit_money }} ;
        var date = $('#managemoney_date').val();
        var name = $('#managemoney_name').val();
        var money = $('#managemoney_money').val();
        if (!(num_check.test(money))){
            alert('金額欄位需為數字。')
            return false;
        }
        if (!date || !name){
            alert('請輸入日期與支出名稱');
            return false;
        }
        if (money > limit_money){
            alert('金額不可大於可用管理費。');
            return false;
        }
        if (money == 0){
            alert('金額不可為0。');
        }

        var data = {
            project_id: project_id,
            year: year,
            date: date,
            name: name,
            money: money,
        };
        $.ajax({
            url: '/project/add_manage_money/',
            type: 'POST',
            data: data,
            headers: {'X-CSRFToken': CSRFMIDDLEWARETOKEN},
            dataType: 'json',
            success: function (json) {
                $('#add_managemoney_dialog').modal('hide');
                var html = `<tr id="tr_manage_money_${json['id']}">
                                <td>${json['date']}</td>
                                <td align="left">${json['name']}</td>
                                <td align="right">
                                    ${TransformThousands(parseInt(json['money']))}元
                                </td>
                                {% if edit %}
                                <td>
                                    <button class="btn btn-danger btn-xs" title="點我刪除" onclick="deleteRow(this)" row_id="${json['id']}" row_name="${json['name']}" row_money="${money}" module_name = "fishuser" table_name = "managemoney" do_change_action="#already_user_money" remove_target = "tr_manage_money_${json['id']}" title="刪除">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </td>
                                {% endif %}
                            </tr>`;
                $('#TableManageMoney tbody').append(html);
                // 從可用管理費中扣除該管理費
                limit_money_html = changeNumber($('#limit_money').text());
                $("#limit_money").html(limit_money_html - money);   //將值放入span
            },
            error: REST_ERROR
        })

    }

    function deleteRow(obj){
        $obj =  $(obj);
        var module_name = $obj.attr('module_name');
        var table_name = $obj.attr('table_name');
        var remove_target = $obj.attr('remove_target'); //刪除完畢後要移除的物件
        var hide_target = $obj.attr('hide_target'); //刪除完畢後要隱藏的物件
        var next_url = $obj.attr('next_url'); //刪除完畢後頁面轉移的連結
        var do_change_action = $obj.attr('do_change_action'); //刪除完畢後什麼物件要執行.change()的動作
        var modal_hide = $obj.attr('modal_hide'); // 隱藏彈出的dialog
        var row_id = $obj.attr('row_id');
        var message = $obj.attr('message');
        var row_name = $obj.attr('row_name');
        var row_money = changeNumber($obj.attr('row_money'));
        if (!message){
            message = '您確定要刪除『 '+row_name+' 』嗎?';
        }
        var data = {csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN};
        if (confirm(message)){
            $.ajax({
                url: '/' + module_name + '/api/v2/' + table_name + '/' + row_id + '/',
                type: 'DELETE',
                data: JSON.stringify(data),
                contentType: 'application/json',
                dataType: 'json',
                success: function (json, text, xhr) {
                    if (remove_target != '' && remove_target != undefined) {
                        $('#' + remove_target).remove();
                        $('.' + remove_target).remove();
                    }
                    if (next_url != '' && next_url != undefined){
                        window.location = next_url;
                    }
                    if (hide_target != '' && hide_target != undefined){
                        $('#' + hide_target).hide();
                    }
                    if (do_change_action != '' && do_change_action != undefined){
                        $(do_change_action).change();
                    }
                    if (modal_hide != '' &&　modal_hide != undefined){
                        $(modal_hide).modal('hide');
                    }
                    
                    // 將該管理費加回可用管理費中
                    limit_money_html = changeNumber($('#limit_money').text());
                    $("#limit_money").html(limit_money_html + row_money);   //將值放入span
                },
                error: function (data) {
                    if (data.responseText){
                        alert(data.responseText);
                    } else {
                        alert('操作失敗，可能系統忙碌中，請稍候重試一次。');
                    }
                },
            })
        } else {
            return false;
        }
    }

    function TransformThousands(num) {
    //用來轉換成為千分位表示的數字用的
        var date_check=/^(([1-9]\d{0,3}|0)\-\d{2}\-\d{2})|(([1-9]\d{0,3}|0)\.\d{2}\.\d{2})|(([1-9]\d{0,3}|0)\/\d{2}\/\d{2})$/;
        if (date_check.test(num)){
            return num;
        }
        num = num + "";
        var re = /(-?\d+)(\d{3})/;
        while (re.test(num)) {
            num = num.replace(re,"$1,$2")
        }
        return num;
    }

    function changeNumber(val){
        if (val) {
            let a = (val +"").replace(/,/g,"");
            return Number(a);
        }else {
            return val;
        }
    };

    $(document).ready(function(){
        $('#add_managemoney').click(add_managemoney);
        $('.deleteRow').unbind('click');
        $('.deleteRow').click(deleteRow);
    });

</script>