

<!-- Modal -->
<div class="modal fade" id="show_pcc_information_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 950px; margin-left: -200px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">工程會標案管理系統同步資料</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered" id="pcc_information_table">
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


    
<script type="text/x-jquery-tmpl" id="HideSearchTr">
    <caption><button class="btn btn-info" onclick="window.location='/frcm/print_pcc_information/${uid}/';">到列印頁面</button></caption>
    <tr>
        <td class="active" width="17%">標案編號</td>
        <td width="33%">${uid}</td>
        <td class="active" width="17%">最後更新時間</td>
        <td width="33%">${lastsync}</td>
    </tr>
    <tr>
        <td class="active">標案名稱</td>
        <td colspan="3">${name}</td>
    </tr>
    <tr>
        <td class="active">執行機關</td>
        <td>${implementation_department}</td>
        <td class="active">聯絡人</td>
        <td>${manager}</td>
    </tr>
    <tr>
        <td class="active">主管機關</td>
        <td>${head_department}</td>
        <td class="active">聯絡電話</td>
        <td>${telphone}</td>
    </tr>
    <tr>
        <td class="active">主辦機關</td>
        <td>${host_department}</td>
        <td class="active">縣市別</td>
        <td>${engineering_county}</td>
    </tr>
    <tr>
        <td class="active">經費來源機關</td>
        <td>${budget_from}</td>
        <td class="active">施工地點</td>
        <td>${engineering_location}</td>
    </tr>
    <tr>
        <td class="active">招標公告<br>單位代碼</td>
        <td>${host_department_code}</td>
        <td class="success">工程總預算</td>
        <td align="right">${total_budget} 元</td>
    </tr>
    <tr>
        <td class="active">監造單位</td>
        <td>${inspector_name}</td>
        <td class="success">發包預算</td>
        <td align="right">${contract_budget} 元</td>
    </tr>
    <tr>
        <td class="active">承造廠商</td>
        <td>${constructor}</td>
        <td class="success">決標金額</td>
        <td align="right">${decide_tenders_price} 元</td>
    </tr>
    <tr>
        <td class="active">契約編號</td>
        <td>${contract_id}</td>
        <td class="success">變更設計後之<br>契約金額</td>
        <td align="right">${decide_tenders_price2} 元</td>
    </tr>
    <tr>
        <td class="active">預定招標方式</td>
        <td>${s_tenders_method}</td>
        <td class="success">預估底價</td>
        <td align="right">${s_base_price} 元</td>
    </tr>
    <tr>
        <td class="active">實際招標方式</td>
        <td>${r_tenders_method}</td>
        <td class="success">會核底價</td>
        <td align="right">${r_base_price} 元</td>
    </tr>

    <tr>
        <td class="active">決標方式</td>
        <td>${decide_tenders_method}</td>
        <td class="warning">預定完成規劃<br>設計日期</td>
        <td>${s_design_complete_date}</td>
    </tr>
    <tr>
        <td class="active">契約費用<br>給付方式</td>
        <td>${pay_method}</td>
        <td class="warning">實際完成規劃<br>設計日期</td>
        <td>${r_design_complete_date}</td>
    </tr>
    <tr>
        <td class="warning">預定公告日期</td>
        <td>${s_public_date}</td>
        <td class="warning">預定決標日期</td>
        <td>${s_decide_tenders_date}</td>
    </tr>
    <tr>
        <td class="warning">實際公告日期</td>
        <td>${r_public_date}</td>
        <td class="warning">實際決標日期</td>
        <td>${r_decide_tenders_date}</td>
    </tr>
    <tr>
        <td class="warning">預定開工日期</td>
        <td>${s_start_date}</td>
        <td class="warning">預定決算日期</td>
        <td>${s_last_pay_date}</td>
    </tr>
    <tr>
        <td class="warning">實際開工日期</td>
        <td>${r_start_date}</td>
        <td class="warning">實際決算日期</td>
        <td>${r_last_pay_date}</td>
    </tr>
    <tr>
        <td class="warning">預定完工日期</td>
        <td>${s_end_date}</td>
        <td class="success">結算金額</td>
        <td align="right">${balancing_price} 元</td>
    </tr>
    <tr>
        <td class="warning">變更後<br>預定完工日期</td>
        <td>${s_end_date2}</td>
        <td class="success">決算金額</td>
        <td align="right">${last_pay_price} 元</td>
    </tr>
    <tr>
        <td class="warning">實際完工日期</td>
        <td>${r_end_date}</td>
        <td class="active"></td>
        <td></td>
    </tr>
    <tr>
        <td class="warning">實際<br>完成驗收日期</td>
        <td>${r_checked_and_accepted_date}</td>
        <td class="active"></td>
        <td></td>
    </tr>
</script>