{% load i18n %}
{% load humanize %}
{% load utiltags %}
{% load project_tags %}
{% load guardian_tags %}

{% for i in plans %}
<tr {% ifequal plan i %}bgcolor="gray"{% endifequal %}>
    <td>
        <div class="row">
            <div class="col-md-{{ i.front_tag }}"></div>
            <div class="col-md-{{ i.back_tag }}">
                {% if not i.no_bitton %}
                        <button class="btn btn-success btn-xs update_sort" row_id="{{ i.id }}" site="front">前方</button>
                    {% endif %}
                    <button class="btn btn-warning btn-xs update_sort" row_id="{{ i.id }}" site="sub">下層</button>
                {% else %}
                    <!-- 全形空白5個 -->　　　　　
                {% endif %}
                <span class="glyphicon glyphicon-chevron-right"></span>
                ({{ i.budget_type.value.0 }}) {{ i.name }}
            </div>
        </div>
    </td>
</tr>
{% endfor %}