{% load i18n %}
{% load humanize %}
{% load utiltags %}
{% load project_tags %}
{% load guardian_tags %}


<div class="jumbotron" align="left" style="font-size: 12px; padding: 10 15 10 10;">
    <div class="row">
        <div class="col-md-1" align="right">
            計畫年度
        </div>
        <div class="col-md-6">
            <select 
                row_id="{{ p.id }}"
                field_name="year"
                table_name="plan"
                module_name="fishuser"
                is_select="true"
                class="form-control BlurUpdateInfo" 
                field_ch_name="年度">
                {% for y in years %}
                    <option value="{{ y }}" {% ifequal p.year y %}selected{% endifequal %}>{{ y }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1" align="right">
            計畫名稱
        </div>
        <div class="col-md-11">
            <input
                type="text" class="BlurUpdateInfo form-control needExist plan_name" {% if not edit %}disabled{% endif %}
                field_type="str"{% if edit %}
                row_id="{{ p.id }}"
                field_name="name"
                table_name="plan"
                module_name='fishuser'{% endif %}
                placeholder="待輸入"
                old_value="{{ p.name|default_if_none:'' }}"
                value="{{ p.name|default_if_none:'' }}"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1" align="right">
            計畫編號
        </div>
        <div class="col-md-6">
            <input
                type="text" class="BlurUpdateInfo form-control" {% if not edit %}disabled{% endif %}
                field_type="str"{% if edit %}
                row_id="{{ p.id }}"
                field_name="no"
                table_name="plan"
                module_name='fishuser'{% endif %}
                placeholder="待輸入"
                old_value="{{ p.no|default_if_none:'' }}"
                value="{{ p.no|default_if_none:'' }}"/>
        </div>
        <div class="col-md-1" align="right">
            主辦機關
        </div>
        <div class="col-md-4">
            <input
                type="text" class="BlurUpdateInfo form-control" {% if not edit %}disabled{% endif %}
                field_type="str"{% if edit %}
                row_id="{{ p.id }}"
                field_name="host"
                table_name="plan"
                module_name='fishuser'{% endif %}
                placeholder="待輸入"
                old_value="{{ p.host|default_if_none:'' }}"
                value="{{ p.host|default_if_none:'' }}"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1" align="right">
            預算類別
        </div>
        <div class="col-md-6">
            <select
                row_id="{{ p.id }}" {% if not edit %}disabled{% endif %}
                field_name="budget_type"{% if edit %}
                table_name="plan"
                module_name="fishuser"
                is_select="true"{% endif %}
                class="form-control BlurUpdateInfo budget_type" 
                field_ch_name="工程屬性別">
                {% for type in option.budget_type %}
                    <option value="/fishuser/api/v2/option/{{ type.id }}/" {% ifequal p.budget_type type %}selected="selected"{% endifequal %}>{{ type.value }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-1" align="right">
            總預算
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input
                    type="text" class="BlurUpdateInfo form-control inputcomma" {% if not edit %}disabled{% endif %}
                    style="text-align: right;"
                    field_type="int"{% if edit %}
                    row_id="{{ p.id }}"
                    field_name="budget"
                    table_name="plan"
                    module_name='fishuser'{% endif %}
                    placeholder="待輸入"
                    old_value="{{ p.budget|default_if_none:''|cutzero }}"
                    value="{{ p.budget|default_if_none:''|cutzero }}"/>
                <span class="input-group-addon">元</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1" align="right">
            計畫類別
        </div>
        <div class="col-md-6">
            <select
                row_id="{{ p.id }}" 
                field_name="plan_class"
                table_name="plan"
                module_name="fishuser"
                is_select="true"
                class="form-control BlurUpdateInfo plan_class" 
                field_ch_name="計畫類別">
                <option value="" selected="selected">請選擇</option>
                {% for type in option.plan_class %}
                    <option value="/fishuser/api/v2/option/{{ type.id }}/" {% ifequal p.plan_class type %}selected="selected"{% endifequal %}>{{ type.value }}</option>
                {% endfor %}
            </select>
        </div>
        <a class="plan_type_edit" style="margin-left: 20px">
            <button class="btn btn-success" type="button">
                編輯計畫類別
            </button>
        </a>
    </div>
    <div class="row">
        <div class="col-md-1" align="right">
            計畫說明
        </div>
        <div class="col-md-11">
            <textarea
                class="form-control BlurUpdateInfo" {% if not edit %}disabled{% endif %}
                table_name="plan"{% if edit %}
                module_name="fishuser"
                row_id="{{ p.id }}" 
                field_type="str"
                field_name="note"{% endif %}
                type="textarea"
                placeholder="請輸入"
                old_value="{{ p.note|default_if_none:"" }}"
                rows="5">{{ p.note|default_if_none:"" }}</textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1" align="right">
            計畫工程
        </div>
        <div class="col-md-11">
        {% for project in projects %}
        {% if project.plan_id == p.id %}
        <a style="margin-left: 0px">
            <button class="btn btn-success" type="button" onclick="window.open('/project/project_profile/{{project.id}}/')" style="margin-bottom:5px">
                {{project.name}}
            </button>
            <br/>
            
        </a>
        {% endif %}
        {% endfor %}
        </div>
        <br/>
    </div>
    
    {% if edit %}
        <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#create_plan_budget_dialog"
        onclick="$('#create_plan_id').val({{ p.id }});">
            新增年度預算
        </button>
        <button class="btn btn-info btn-sm create_sub_plan" row_id="{{ p.id }}">新增下層計畫</button>
        {% if p.uplevel %}
            <button class="btn btn-warning btn-sm make_sort_table" data-toggle="modal" data-target="#sort_plan_dialog"
                row_id="{{ p.id }}" onclick="$('#want_sort_plan_id').val({{ p.id }});">
                階層調整
            </button>
            <button class="deleteRow btn btn-danger btn-sm"
                row_id="{{ p.id }}"
                module_name = "fishuser"
                row_name="{{ p.name }}"
                table_name = "plan"
                remove_target = "div_plan_{{ p.id }}"
                title="刪除">刪除計畫</button>
        {% endif %}
    {% endif %}

    <table class="table table-bordered" style="text-align: center; font-size: 12px;">
        <caption>年度預算紀錄(僅留存記錄用)</caption>
        <tr class="info">
            <td rowspan="2" width="10%">年度</td>
            <td colspan="3" class="warning">資本門</td>
            <td colspan="3" class="danger">經常門</td>
            {% if edit %}
                <td rowspan="2" class="danger">刪除</td>
            {% endif %}
        </tr>
        <tr>
            <td width="15%" class="warning">自辦(元)</td>
            <td width="15%" class="warning">委辦(元)</td>
            <td width="15%" class="warning">補助(元)</td>
            <td width="15%" class="danger">自辦(元)</td>
            <td width="15%" class="danger">委辦(元)</td>
            <td width="15%" class="danger">補助(元)</td>
        </tr>
        {% for b in budgets %}
            <tr id="tr_planbudget_{{ b.id }}">
                <td align="right">
                    <input
                        type="text" class="form-control input-sm"
                        style="text-align: right;" disabled
                        value="{{ b.year }} 年"/>
                    {% if p.have_sub_plan %}
                        <input
                            type="text" class="form-control input-sm" title="加總下層一個層級子計畫之金額"
                            style="text-align: right;" disabled
                            value="已分配"/>
                    {% endif %}
                </td>
                <td align="right">
                    <input
                        type="text" class="BlurUpdateInfo form-control inputcomma input-sm check_budget_num_over"
                        style="text-align: right;" {% if not edit %}disabled{% endif %}
                        field_type="int"{% if edit %}
                        row_id="{{ b.id }}"
                        field_name="capital_self"
                        table_name="planbudget"
                        module_name='fishuser'{% endif %}
                        placeholder="待輸入"
                        old_value="{{ b.capital_self|default_if_none:''|cutzero }}"
                        value="{{ b.capital_self|default_if_none:''|cutzero }}"/>
                    {% if p.have_sub_plan %}
                        <input
                            type="text" class="form-control inputcomma input-sm"
                            style="text-align: right;" disabled
                            field_type="int"
                            id="plan_budget_sum_capital_self_{{ b.id }}"
                            value="{{ b.sum_budget.capital_self|cutzero }}"/>
                    {% endif %}
                </td>
                <td align="right">
                    <input
                        type="text" class="BlurUpdateInfo form-control inputcomma input-sm check_budget_num_over"
                        style="text-align: right;" {% if not edit %}disabled{% endif %}
                        field_type="int"{% if edit %}
                        row_id="{{ b.id }}"
                        field_name="capital_trust"
                        table_name="planbudget"
                        module_name='fishuser'{% endif %}
                        placeholder="待輸入"
                        old_value="{{ b.capital_trust|default_if_none:''|cutzero }}"
                        value="{{ b.capital_trust|default_if_none:''|cutzero }}"/>
                    {% if p.have_sub_plan %}
                        <input
                            type="text" class="form-control inputcomma input-sm"
                            style="text-align: right;" disabled
                            field_type="int"
                            id="plan_budget_sum_capital_trust_{{ b.id }}"
                            value="{{ b.sum_budget.capital_trust|cutzero }}"/>
                    {% endif %}
                </td>
                <td align="right">
                    <input
                        type="text" class="BlurUpdateInfo form-control inputcomma input-sm check_budget_num_over"
                        style="text-align: right;" {% if not edit %}disabled{% endif %}
                        field_type="int"{% if edit %}
                        row_id="{{ b.id }}"
                        field_name="capital_grant"
                        table_name="planbudget"
                        module_name='fishuser'{% endif %}
                        placeholder="待輸入"
                        old_value="{{ b.capital_grant|default_if_none:''|cutzero }}"
                        value="{{ b.capital_grant|default_if_none:''|cutzero }}"/>
                    {% if p.have_sub_plan %}
                        <input
                            type="text" class="form-control inputcomma input-sm"
                            style="text-align: right;" disabled
                            field_type="int"
                            id="plan_budget_sum_capital_grant_{{ b.id }}"
                            value="{{ b.sum_budget.capital_grant|cutzero }}"/>
                    {% endif %}
                </td>
                <td align="right">
                    <input
                        type="text" class="BlurUpdateInfo form-control inputcomma input-sm check_budget_num_over"
                        style="text-align: right;" {% if not edit %}disabled{% endif %}
                        field_type="int"{% if edit %}
                        row_id="{{ b.id }}"
                        field_name="regular_self"
                        table_name="planbudget"
                        module_name='fishuser'{% endif %}
                        placeholder="待輸入"
                        old_value="{{ b.regular_self|default_if_none:''|cutzero }}"
                        value="{{ b.regular_self|default_if_none:''|cutzero }}"/> 
                    {% if p.have_sub_plan %}
                        <input
                            type="text" class="form-control inputcomma input-sm"
                            style="text-align: right;" disabled
                            field_type="int"
                            id="plan_budget_sum_regular_self_{{ b.id }}"
                            value="{{ b.sum_budget.regular_self|cutzero }}"/>
                    {% endif %}
                </td>
                <td align="right">
                    <input
                        type="text" class="BlurUpdateInfo form-control inputcomma input-sm check_budget_num_over"
                        style="text-align: right;" {% if not edit %}disabled{% endif %}
                        field_type="int"{% if edit %}
                        row_id="{{ b.id }}"
                        field_name="regular_trust"
                        table_name="planbudget"
                        module_name='fishuser'{% endif %}
                        placeholder="待輸入"
                        old_value="{{ b.regular_trust|default_if_none:''|cutzero }}"
                        value="{{ b.regular_trust|default_if_none:''|cutzero }}"/>
                    {% if p.have_sub_plan %}
                        <input
                            type="text" class="form-control inputcomma input-sm"
                            style="text-align: right;" disabled
                            field_type="int"
                            id="plan_budget_sum_regular_trust_{{ b.id }}"
                            value="{{ b.sum_budget.regular_trust|cutzero }}"/>
                    {% endif %}
                </td>
                <td align="right">
                    <input
                        type="text" class="BlurUpdateInfo form-control inputcomma input-sm check_budget_num_over"
                        style="text-align: right;" {% if not edit %}disabled{% endif %}
                        field_type="int"{% if edit %}
                        row_id="{{ b.id }}"
                        field_name="regular_grant"
                        table_name="planbudget"
                        module_name='fishuser'{% endif %}
                        placeholder="待輸入"
                        old_value="{{ b.regular_grant|default_if_none:''|cutzero }}"
                        value="{{ b.regular_grant|default_if_none:''|cutzero }}"/>
                    {% if p.have_sub_plan %}
                        <input
                            type="text" class="form-control inputcomma input-sm has-error"
                            style="text-align: right;" disabled
                            field_type="int"
                            id="plan_budget_sum_regular_grant_{{ b.id }}"
                            value="{{ b.sum_budget.regular_grant|cutzero }}"/>
                    {% endif %}
                </td>
                {% if edit %}
                <td>
                    <button class="deleteRow btn btn-danger btn-xs"
                        row_id="{{ b.id }}"
                        message="你確定要刪除此筆預算紀錄嗎？"
                        module_name = "fishuser"
                        table_name = "planbudget"
                        remove_target = "tr_planbudget_{{ b.id }}"
                        title="刪除">X</button>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    {% if edit %}
        <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#create_plan_reserve_dialog"
        onclick="$('#reserve_plan_id').val({{ p.id }});">
            新增年度保留數
        </button>
    {% endif %}
    <table class="table table-bordered" style="text-align: center; font-size: 12px;">
        <caption>年度保留數設定</caption>
        <tr class="info">
            <td width="15%" class="warning">保留至年度</td>
            <td width="25%" class="warning">保留金額</td>
            <td width="50%" class="warning">備註</td>
            {% if edit %}
                <td class="danger">刪除</td>
            {% endif %}
        </tr>
        {% for r in reserves %}
            <tr id="tr_planreserve_{{ r.id }}">
                <td align="right">
                    <select 
                        row_id="{{ r.id }}" {% if not edit %}disabled{% endif %}
                        field_name="year"{% if edit %}
                        table_name="planreserve"
                        module_name="fishuser"
                        is_select="true"{% endif %}
                        class="form-control BlurUpdateInfo" 
                        field_ch_name="年度">
                        {% for y in years %}
                            <option value="{{ y }}" {% ifequal r.year y %}selected{% endifequal %}>{{ y }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td align="right">
                    <input
                        type="text" class="BlurUpdateInfo form-control inputcomma input-sm"
                        style="text-align: right;" {% if not edit %}disabled{% endif %}
                        field_type="int"{% if edit %}
                        row_id="{{ r.id }}"
                        field_name="value"
                        table_name="planreserve"
                        module_name='fishuser'{% endif %}
                        placeholder="待輸入"
                        old_value="{{ r.value|default_if_none:''|cutzero }}"
                        value="{{ r.value|default_if_none:''|cutzero }}"/>
                </td>
                <td align="right">
                    <input
                        type="text" class="BlurUpdateInfo form-control input-sm"
                        {% if not edit %}disabled{% endif %}
                        field_type="str"{% if edit %}
                        row_id="{{ r.id }}"
                        field_name="memo"
                        table_name="planreserve"
                        module_name='fishuser'{% endif %}
                        placeholder="待輸入"
                        old_value="{{ r.memo|default_if_none:'' }}"
                        value="{{ r.memo|default_if_none:'' }}"/>
                </td>
                {% if edit %}
                <td>
                    <button class="deleteRow btn btn-danger btn-xs"
                        row_id="{{ b.id }}"
                        message="你確定要刪除此筆保留數紀錄嗎？"
                        module_name = "fishuser"
                        table_name = "planbudget"
                        remove_target = "tr_planbudget_{{ b.id }}"
                        title="刪除">X</button>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>

<script>
    function plan_type_edit(){
        window.open('/project/plan_type_edit')
    }
    $(document).ready(function(){
        $('.plan_type_edit').click(plan_type_edit)
    });
</script>