{% extends "fishuser/zh-tw/base.html" %}
{% load i18n %}
{% load humanize %}
{% load utiltags %}

{% block js_in_compress %}
    <script type="text/javascript" src="/media/frcm/v2/js/frcm.js"></script>
    <script src="/media/frcm/v2/plupload/jquery.plupload.queue/jquery.plupload.queue.js{{ settings.SV_ }}"></script>
    <script src="/media/frcm/v2/plupload/js/plupload.full.js{{ settings.SV_ }}"></script>
{% endblock %}

{% block body %}

<h2>{{ project.name }}
    {% if project.purchase_type.value == '一般勞務' %}
        {% if chase_one_by_one.act_ser_acceptance_closed %}
            <br><span class="text-danger">※此工程已結案※</span>
        {% else %}
            <button style="float:right" class="btn btn-info" id="show_set_project_close_dialog" target="act_ser_acceptance_closed"  data-toggle="modal" data-target="#set_project_close_dialog">設定工程結案</button>
        {% endif %}
    {% else %}
        {% if chase_one_by_one.act_eng_do_closed %}
            <br><span class="text-danger">※此工程已結案※</span>
        {% else %}
            <button style="float:right" class="btn btn-info" id="show_set_project_close_dialog" target="act_eng_do_closed"  data-toggle="modal" data-target="#set_project_close_dialog">設定工程結案</button>
        {% endif %}
    {% endif %}
</h2>

<!-- Modal -->
<div class="modal fade" id="set_project_close_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">設定工程結案</h4>
            </div>
            <div class="modal-body">
                請輸入結案日期 及 文號
                <table class="table table-bordered">
                    <thead>
                        <tr class="warning">
                            <th width="30%"><span class="glyphicon glyphicon-asterisk text-danger"></span>實際結案日期</th>
                            <th width="70%">文號</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" class="form-control datepicker" do_nothing="true" id="project_close_date">
                            </td>
                            <td>
                                <textarea type="text" class="form-control" id="project_close_memo" style="height: 34px;">{% if project.purchase_type.value == '一般勞務' %}{{ chase_one_by_one.ser_acceptance_closed_memo|default_if_none:'' }}{% else %}{{ chase_one_by_one.eng_do_closed_memo|default_if_none:'' }}{% endif %}</textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="set_project_close">確定結案</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#set_project_close').click(function(){
        if (!$('#project_close_date').val()){
            Lobibox.notify('warning', {
                title: '資訊錯誤',
                msg: '請輸入結案日期',
            });
        } else {
            var target = $('#show_set_project_close_dialog').attr('target');
            $('input[field_name="' + target + '"]').val($('#project_close_date').val());
            $('input[field_name="' + target + '"]').blur();
            $('textarea[field_name="' + target.slice(4, target.length) + '_memo"]').val($('#project_close_memo').val());
            $('textarea[field_name="' + target.slice(4, target.length) + '_memo"]').blur();
            Lobibox.notify('success', {
                title: '設定完成',
                msg: '請等待頁面重整',
            });
            setTimeout(function(){ window.location.reload() }, 1000);
        }
    });
</script>

<input type="hidden" id="project_id" value="{{ project.id }}">
<input type="hidden" id="undertake_type" value="{{ project.undertake_type.value }}">
<button class="btn btn-sm btn-warning" onclick="$('#project_page_tab').hide();$('.pages').show();">資訊『合併為一頁』顯示</button>
<button class="btn btn-sm btn-warning" onclick="$('#project_page_tab').show();$('.pages').hide();$('#base_info_page').click();">資訊『分頁』顯示</button>
<br>
<ul class="nav nav-tabs nav-justified" id="project_page_tab">
    <li class="change_page_tab active" id="base_info_page" page_name="page_profile"><a>工程基本資料</a></li>
    <li class="change_page_tab" page_name="page_bid_info"><a>標案資訊</a></li>
    <li class="change_page_tab" page_name="page_milestone"><a>里程碑</a></li>
    <li class="change_page_tab" page_name="page_money"><a>金額資訊</a></li>
    <li class="change_page_tab" page_name="page_progress"><a>進度資訊</a></li>
    <li class="change_page_tab" page_name="page_photo"><a>工程相片/檔案</a></li>
</ul>

<div id="page_profile" class="pages">
    {% include "project/zh-tw/page_profile.html" %}
</div>
<div id="page_bid_info" class="pages" style="display: none;">
    {% include "project/zh-tw/page_bid_info.html" %}
</div>
<div id="page_milestone" class="pages" style="display: none;">
    {% include "project/zh-tw/page_milestone.html" %}
</div>
<div id="page_money" class="pages" style="display: none;">
    {% include "project/zh-tw/page_money.html" %}
</div>
<div id="page_progress" class="pages" style="display: none;">
    {% include "project/zh-tw/page_progress.html" %}
</div>
<div id="page_photo" class="pages" style="display: none;">
    {% include "project/zh-tw/page_photo.html" %}
</div>



<script type="text/javascript">
    function project_type() {
        var $obj = $(this);
        var value = $obj.val();
        $('.port_type').hide();
        $('.farm_type').hide();
        $('.reef_type').hide();
        if (value=='/fishuser/api/v2/option/227/') {
            $('.port_type').show();
        } else if (value=='/fishuser/api/v2/option/228/') {
            $('.farm_type').show();
        } if (value=='/fishuser/api/v2/option/314/') {
            $('.reef_type').show();
        }
    }

    function bid_money_field(update_manage=true) {
        var $obj = $(this);
        var project_id = $('#project_id').val();
        var undertake_type = $('#undertake_type').val();
        var fields = ['construction_bid', 'planning_design_inspect', 'manage', 'pollution'];
        var ok = false;
        var disabled = false;
        if ($('.add_bid_money_value').length>0){
            $.each($('.add_bid_money_value'), function(){
                var $obj = $(this);
                var listname_field_name = $obj.attr('listname_field_name');
                if (listname_field_name == '規劃費' || listname_field_name == '設計金額' || listname_field_name == '監造金額'){
                    disabled = true;
                }

                ok = true;
            });
        } else {
            ok = true;
        }
        if (ok){
            $('input[field_name=planning_design_inspect]').attr('disabled', disabled);
            $('input[field_name=settlement_planning_design_inspect]').attr('disabled', disabled);
        }

        if (update_manage && undertake_type=='自辦' &&  ['construction_bid', 'safety_fee', 'business_tax'].indexOf($obj.attr('field_name')) != -1){
            if ($('input[field_name=construction_bid]').val()){
                var A = remove_TransformThousands($('input[field_name=construction_bid]').val());
            } else {
                var A = 0;
            }
            if ($('input[field_name=safety_fee]').val()){
                var B = remove_TransformThousands($('input[field_name=safety_fee]').val());
            } else {
                var B = 0;
            }
            if ($('input[field_name=business_tax]').val()){
                var C = remove_TransformThousands($('input[field_name=business_tax]').val());
            } else {
                var C = 0;
            }

            var D = parseFloat(A) - parseFloat(B) - parseFloat(C);
            if (D < 5000000){
                var E = D * 0.03;
            } else if (D < 25000000){
                var E = 5000000 * 0.03 + (D-5000000) * 0.015;
            } else if (D < 100000000){
                var E = 5000000 * 0.03 + (25000000-5000000) * 0.015 + (D-25000000) * 0.01;
            } else if (D < 500000000){
                var E = 5000000 * 0.03 + (25000000-5000000) * 0.015 + (100000000-25000000) * 0.01 + (D-100000000) * 0.007;
            } else {
                var E = 5000000 * 0.03 + (25000000-5000000) * 0.015 + (100000000-25000000) * 0.01 + (500000000-100000000) * 0.007 + (D-500000000) * 0.005;
            }
            if (E<0){
                E = 0;
            }
            $('input[field_name=manage]').val(TransformThousands(parseInt(E)));
        }
        if (update_manage && undertake_type=='自辦' &&  ['settlement_construction_bid', 'settlement_safety_fee', 'settlement_business_tax'].indexOf($obj.attr('field_name')) != -1){
            if ($('input[field_name=settlement_construction_bid]').val()){
                var A = remove_TransformThousands($('input[field_name=settlement_construction_bid]').val());
            } else {
                var A = 0;
            }
            if ($('input[field_name=settlement_safety_fee]').val()){
                var B = remove_TransformThousands($('input[field_name=settlement_safety_fee]').val());
            } else {
                var B = 0;
            }
            if ($('input[field_name=settlement_business_tax]').val()){
                var C = remove_TransformThousands($('input[field_name=settlement_business_tax]').val());
            } else {
                var C = 0;
            }
            var D = parseFloat(A) - parseFloat(B) - parseFloat(C);
            if (D < 5000000){
                var E = D * 0.03;
            } else if (D < 25000000){
                var E = 5000000 * 0.03 + (D-5000000) * 0.015;
            } else if (D < 100000000){
                var E = 5000000 * 0.03 + (25000000-5000000) * 0.015 + (D-25000000) * 0.01;
            } else if (D < 500000000){
                var E = 5000000 * 0.03 + (25000000-5000000) * 0.015 + (100000000-25000000) * 0.01 + (D-100000000) * 0.007;
            } else {
                var E = 5000000 * 0.03 + (25000000-5000000) * 0.015 + (100000000-25000000) * 0.01 + (500000000-100000000) * 0.007 + (D-500000000) * 0.005;
            }
            if (E<0){
                E = 0;
            }
            $('input[field_name=settlement_manage]').val(TransformThousands(parseInt(E)));
        }
        recount_total_money();
        setTimeout("renew_bid_money_statistic_table()", 1000);

        function recount_total_money(){
            var fields = ['construction_bid', 'planning_design_inspect', 'manage', 'pollution'];
            var settlement_total_money = $('#bid_settlement_total_money').val();
            if (settlement_total_money && settlement_total_money != '0'){
                $('.final_settlement_total_money').html(TransformThousands(settlement_total_money));
            } else {
                var money_sum = 0;
                for (i=0; i<fields.length; i++){
                    if ($('input[field_name=settlement_' + fields[i] + ']').val()){
                        var num = remove_TransformThousands($('input[field_name=settlement_' + fields[i] + ']').val());
                    } else {
                        var num = 0;
                    }
                    money_sum = FloatAdd(money_sum, num);
                }
                $.each($('.add_bid_money_settlement_value'), function() {
                    money_sum = FloatAdd(money_sum, $(this).val());
                });

                $('.final_settlement_total_money').html(TransformThousands(money_sum));
            }
            var total_money = $('#bid_total_money').val();
            if (total_money && total_money != '0'){
                $('.final_total_money').html(TransformThousands(total_money));
            } else {
                var money_sum = 0;
                for (i=0; i<fields.length; i++){
                    if ($('input[field_name=' + fields[i] + ']').val()){
                        var num = remove_TransformThousands($('input[field_name=' + fields[i] + ']').val());
                    } else {
                        var num = 0;
                    }
                    money_sum = FloatAdd(money_sum, num);
                }
                $.each($('.add_bid_money_value'), function() {
                    if ($(this).val()){
                        money_sum = FloatAdd(money_sum, remove_TransformThousands($(this).val()));
                    }
                });
                $('.final_total_money').html(TransformThousands(money_sum));
            }
        }
            
    }

    function allocation_field() {
        var $obj = $(this);
        var money_sum = 0;

        $.each($('.allocation_field'), function() {
            var num = remove_TransformThousands($(this).val());
            money_sum = FloatAdd(money_sum, num);
        });
        $('.total_allocation').html(TransformThousands(money_sum));
    }

    function appropriate_field() {
        var $obj = $(this);
        var money_sum = 0;

        $.each($('.appropriate_field'), function() {
            var num = remove_TransformThousands($(this).val());
            money_sum = FloatAdd(money_sum, num);
        });
        $('.total_appropriate').html(TransformThousands(money_sum));
        setTimeout("renew_bid_money_statistic_table()", 1000);
    }

    function create_allocation() {
        var $obj = $(this);
        var module_name = $obj.attr('module_name');
        var table_name = $obj.attr('table_name');
        var project_id = $obj.attr('project_id');
        var data = {
            csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
            project: '/fishuser/api/v2/project/' + project_id + '/'
        };

        $.ajax({
            url: '/' + module_name + '/api/v2/' + table_name + '/',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            dataType: 'json',
            success: function (json, text, xhr) {
                var $url = $.url(xhr.getResponseHeader('Location'));
                var id = $url.segment(-1);
                var data = {'id' : id};
                var $tr = $('#HideAllocationTr').tmpl(data).insertBefore($('#tr_total_allocation'));
                $('.BlurUpdateInfo').unbind('blur');
                $('.allocation_field').unbind('change');
                $('.inputcomma').unbind('blur');
                $('.inputcomma').unbind('click');
                $('.deleteRow').unbind('click');
                $('.BlurUpdateInfo').blur(BlurUpdateInfo);
                $('.BlurUpdateInfo').keypress(function(event) {
                    var $obj = $(this);
                    if (!$obj.is("textarea") && event.which == 13){
                        $obj.blur();
                    }
                });
                $('.allocation_field').change(allocation_field);
                $('.inputcomma').blur(inputcomma);
                $('.inputcomma').click(remove_inputcomma);
                $('.deleteRow').click(deleteRow);
                $(".datepicker").datepicker({
                    changeMonth: true,
                    changeYear: true,
                    onClose: BlurUpdateInfo
                });
            },
            error: function () {
            },
        })
    }

    function create_appropriate() {
        var $obj = $(this);
        var module_name = $obj.attr('module_name');
        var table_name = $obj.attr('table_name');
        var project_id = $obj.attr('project_id');
        var type_id = $obj.attr('type_id');
        var Today = new Date();
        var data = {
            csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
            project: '/fishuser/api/v2/project/' + project_id + '/',
            type: '/fishuser/api/v2/option/' + type_id + '/',
            record_date: Today.getFullYear() + '-' + (Today.getMonth()+1) + "-" + Today.getDate(),
        };

        $.ajax({
            url: '/' + module_name + '/api/v2/' + table_name + '/',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            dataType: 'json',
            success: function (json, text, xhr) {
                var $url = $.url(xhr.getResponseHeader('Location'));
                var id = $url.segment(-1);
                var data = {'id' : id};
                if (type_id==312){
                    data['type__value']='工程款';
                } else if (type_id==313){
                    data['type__value']='勞務類';
                }
                var $tr = $('#HideAppropriateTr').tmpl(data).insertBefore($('#tr_total_appropriate'));
                // $('#tr_Appropriate_' + id + ' .BlurUpdateInfo').unbind('blur');
                // $('.allocation_field').unbind('change');
                // $('.inputcomma').unbind('blur');
                // $('.inputcomma').unbind('click');
                // $('.deleteRow').unbind('click');
                $('#tr_Appropriate_' + id).find('.BlurUpdateInfo').blur(BlurUpdateInfo);
                $('#tr_Appropriate_' + id).find('.BlurUpdateInfo').keypress(function(event) {
                    var $obj = $(this);
                    if (!$obj.is("textarea") && event.which == 13){
                        $obj.blur();
                    }
                });
                $('#tr_Appropriate_' + id).find('.appropriate_field').change(appropriate_field);
                $('#tr_Appropriate_' + id).find('.inputcomma').blur(inputcomma);
                $('#tr_Appropriate_' + id).find('.inputcomma').click(remove_inputcomma);
                $('#tr_Appropriate_' + id).find('.deleteRow').click(deleteRow);
                $('#tr_Appropriate_' + id).find(".datepicker").datepicker({
                    changeMonth: true,
                    changeYear: true,
                    onClose: BlurUpdateInfo
                });
            },
            error: function () {
            },
        })
    }

    function set_print_page() {
        var $obj = $(this);
        $obj.hide();
        $('nav').hide();
        $('.panel').hide();
        $('.print_hide').hide();
        $('.col-xs-2').attr('class', 'col-xs-0');
        $('.col-xs-10').attr('class', 'col-xs-12');
        $('#footer').hide();
        $('body').css('padding-top', '0px');
        
        window.print();

        $obj.show();
        $('nav').show();
        $('.panel').show();
        $('.print_hide').show();
        $('.col-xs-0').attr('class', 'col-xs-2');
        $('.col-xs-12').attr('class', 'col-xs-10');
        $('#footer').show();
        $('body').css('padding-top', '70px');
    }

    function update_chase_data_one_by_one(){
        var $obj = $(this);
        var set = $obj.attr('set');
        var row_id = $obj.attr('row_id');
        var data = {
            csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
            set_total_money: set
        };

        $.ajax({
            url: '/fishuser/api/v2/countychaseprojectonebyone/' + row_id + '/',
            type: 'PUT',
            data: JSON.stringify(data),
            contentType: 'application/json',
            dataType: 'json',
            success: function (json, text, xhr) {
                $('#chase_data_one_by_one_total_money').html(TransformThousands(json['total_money'].replace('.000', '')));
            },
            error: function () {
            },
        })
    }

    function change_inspector_type() {
        var $obj = $(this);
        var row_id = $obj.attr('row_id');
        var value = $obj.val().split('/')[5];
        if (value == '180'){// 代表委外監造，要把所有監造帳號權限關閉
            $.each($('.inspectors'), function() {
                var $obj = $(this);
                var now_set = $obj.attr('now_set');
                if (now_set == 'true'){
                    $obj.click();
                }
            });
        }
    }

    function change_page_tab() {
        var $obj = $(this);
        var page_name = $obj.attr('page_name');
        $('.change_page_tab').attr('class', 'change_page_tab');
        $obj.attr('class', 'change_page_tab active');
        $('.pages').hide();
        $('#' + page_name).show();
    }

    function select_port_or_aquaculture() {
        var $obj = $(this);
        var value = $obj.val();
        if (value=="fishing_port_list") {
            $('.fishing_port_list').show();
            $('.aquaculture_list').hide();
        } else if (value == 'aquaculture_list') {
            $('.fishing_port_list').hide();
            $('.aquaculture_list').show();
        }
    }

    function select_place_for_fishing_port() {
        var $obj = $(this);
        var value = $obj.val();
        $('.fishing_port_list').html('<option value="" selected="selected">請選擇漁港</option>');
        $('.fishing_port_list').val('');
        $.ajax({
            url: '/harbor/api/v2/fishingport/?limit=1000000000&place=' + value,
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                for (var i=0; i<data.objects.length; i++){
                    var $div = $('#HidePortOption').tmpl(data.objects[i]).appendTo($('.fishing_port_list'));
                }
            },
            error: function () {
            },
        })
        $('.aquaculture_list').html('<option value="" selected="selected">請選擇養殖區</option>');
        $('.aquaculture_list').val('');
        $.ajax({
            url: '/harbor/api/v2/aquaculture/?limit=1000000000&place=' + value,
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                for (var i=0; i<data.objects.length; i++){
                    var $div = $('#HideAquaOption').tmpl(data.objects[i]).appendTo($('.aquaculture_list'));
                }
            },
            error: function () {
            },
        })
    }

    function add_fishing_port_or_aquaculture() {
        var select_port_or_aquaculture = $('#select_port_or_aquaculture').val();
        if (select_port_or_aquaculture=='fishing_port_list') {
            var value = $('.fishing_port_list').val();
            var text = $('.fishing_port_list').find("option:selected").text();
        } else if (select_port_or_aquaculture=='aquaculture_list'){
            var value = $('.aquaculture_list').val();
            var text = $('.aquaculture_list').find("option:selected").text();
        }
        if (!value) {
            alert('請選擇欲新增的漁港或養殖區');
            return false;
        }
        var type = value.split('/')[4];
        var row_id = value.split('/')[5];
        if (!$('.port_or_aquaculture_' + type + row_id).html()){
            var html = '<div class="input-group port_or_aquaculture_' + type + row_id + '">';
            html += '<select class="form-control ' + select_port_or_aquaculture.replace('_list', '') + '" disabled>';
            html += '<option value="' + value + '">' + text + '</option>';
            html += '</select>';
            html += '<span class="input-group-addon"><button class="btn btn-danger btn-xs delete_port_or_aquaculture" row_id="' + row_id + '">X</button></span></div>';
            $(html).insertBefore($('#insert_fishing_port'));
            $('.delete_port_or_aquaculture').unbind('click');
            $('.delete_port_or_aquaculture').click(function (){
                var $obj = $(this);
                var row_id = $obj.attr('row_id');
                if (confirm('您確定要刪除嗎？')){
                    $('.port_or_aquaculture_' + type + row_id).remove();
                }
            });
        }
        $('#add_fishing_port_dailog').modal('hide');
    }

    function add_or_remove_fishing_port_or_aquaculture_for_project() {
        var $obj = $(this);
        var active = $obj.attr('active');
        var project_id = $obj.attr('project_id');
        var remove_target = $obj.attr('remove_target');
        var select_port_or_aquaculture = $('#select_port_or_aquaculture').val();
        if (active=='add'){
            if (select_port_or_aquaculture=='fishing_port_list') {
                var value = $('.fishing_port_list').val();
                var text_info = $('.fishing_port_list').find("option:selected").text();
            } else if (select_port_or_aquaculture=='aquaculture_list'){
                var value = $('.aquaculture_list').val();
                var text_info = $('.aquaculture_list').find("option:selected").text();
            }
            if (!value) {
                alert('請選擇欲新增的漁港或養殖區');
                return false;
            }
        } else if (active=='remove'){
            var value = $('.' + remove_target + ' select').val();
            var text_info = $('.' + remove_target + ' select').find("option:selected").text();
            if (!confirm('你確定要刪除 ' + text_info + ' 嗎?')){
                return false;
            }
        }
        var type = value.split('/')[4];
        var row_id = value.split('/')[5];
        var data = {
            csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN
        }
        data[select_port_or_aquaculture.replace('list', active)] = row_id;
        $.ajax({
            url: '/fishuser/api/v2/project/' + project_id + '/',
            type: 'PUT',
            data: JSON.stringify(data),
            contentType: 'application/json',
            dataType: 'json',
            success: function (json, text, xhr) {
                var data = {
                    id: row_id,
                    type: type,
                    text: text_info,
                    project_id: project_id
                }
                if (active == 'add'){
                    var $div = $('#HidePort_or_Aqua_div').tmpl(data).insertBefore($('#insert_fishing_port'));
                    $('.add_or_remove_fishing_port_or_aquaculture_for_project').unbind('click');
                    $('.add_or_remove_fishing_port_or_aquaculture_for_project').click(add_or_remove_fishing_port_or_aquaculture_for_project);
                } else {
                    $('.' + remove_target).remove();
                }
            },
            error: function (data) {
            },
        })

        $('#add_fishing_port_dailog').modal('hide');
    }

    function fund_money_field() {
        var $obj = $(this);
        var field_name = $obj.attr('field_name');
        var fields = ['fund_contract', 'fund_pollution', 'fund_manage', 'fund_entrust_design', 'fund_entrust_supervision', 'fund_other'];
        var money_sum = 0;
        for (i=0; i<fields.length; i++){
            var num = remove_TransformThousands($('#' + fields[i]).val());
            money_sum = FloatAdd(money_sum, num);
        }
        $('#fund_total_money').html(TransformThousands(money_sum));
    }

    function NewFileUploader($buttom, project_id, table_name){
        var buttom_id = $buttom.attr('id');

        var uploader = new plupload.Uploader({
            runtimes: 'html5',
            browse_button: buttom_id,
            url: '/project/new_file_upload/',
            multi_selection: true,
            max_file_size : '100mb',
            multipart: true,
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
            },
            multipart_params : {
                csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
                table_name: table_name,
                project_id: project_id
            },
            init:{
                FilesAdded:function(up, files){
                    var file_num = files.length;
                    if (confirm('確定上傳這' + file_num + '個檔案?，按下確定後，上傳進度將顯示在下方，尚未結束前請勿關閉視窗!!!')){
                        // up.settings.multipart_params.sop_id = sop_id;
                        // up.settings.multipart_params.file_type = file_type;
                        for (i=0;i<file_num;i++){
                            $('#waitting_for_upload').append('<li id="li_fileupload_' + files[i].id + '">' + files[i].name + '，上傳進度：<div class="progress progress-striped active"><div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" id="file_percent_' + files[i].id + '" style="width: 0%"></div></div></li>');
                        }
                        up.start();
                    }else{
                        return false
                    }
                },
                FileUploaded:function(up, file, res){
                    var json = $.parseJSON(res.response);
                    if (!json["status"]){
                        alert(json['msg']);
                        $('#li_fileupload_' + file.id).remove();
                        return false;
                    }
                    var data = {
                        'id': json["id"],
                        'rExt': json["rExt"],
                        'name': json["name"],
                        'rUrl': json["rUrl"],
                        'memo': json["memo"]
                    };
                    var $tr = $('#HideFileTr').tmpl(data).insertAfter($('#tr_insert_file'));
                    $(".deleteRow").unbind('click');
                    $(".BlurUpdateInfo").unbind('blur');
                    $(".deleteRow").click(deleteRow);
                    $('.BlurUpdateInfo').blur(BlurUpdateInfo);
                    $('.BlurUpdateInfo').keypress(function(event) {
                        var $obj = $(this);
                        if (!$obj.is("textarea") && event.which == 13){
                            $obj.blur();
                        }
                    });
                    $('#li_fileupload_' + file.id).remove();
                },
                UploadProgress:function(up, file) {
                    $('#file_percent_' + file.id).attr('style', 'width: ' + file.percent + "%");
                    $('#file_percent_' + file.id).html(file.percent + "%");
                }
            }
        });
        uploader.init();
    }

    function renew_bid_money_statistic_table(){
        if ($('#bid_money_statistic_table').length == 0){
            return false;
        }
        var project_id = $('#project_id').val();
        var data = {
            csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
            project_id: project_id,
        }
        $.ajax({
            url: '/project/renew_bid_money_statistic_table/',
            type: 'POST',
            data: data,
            dataType: 'json',
            success: function (json, text, xhr) {
                for (i=0; i<json['result'].length; i++){
                    $('#' + json['result'][i][0]).html(TransformThousands(json['result'][i][1]));
                }
                if (parseFloat(remove_TransformThousands($('#construction_bid_left').html())) < 0){
                    $('#construction_bid_left').attr('bgcolor', 'pink');
                    $('#construction_bid_left_percent').attr('bgcolor', 'pink');
                }
                if (parseFloat(remove_TransformThousands($('#planning_design_inspect_left').html())) < 0){
                    $('#planning_design_inspect_left').attr('bgcolor', 'pink');
                    $('#planning_design_inspect_left_percent').attr('bgcolor', 'pink');
                }
                if (parseFloat(remove_TransformThousands($('#manage_left').html())) < 0){
                    $('#manage_left').attr('bgcolor', 'pink');
                    $('#manage_left_percent').attr('bgcolor', 'pink');
                }
            },
            error: function (data) {
            },
        })
    }

    $(document).ready(function(){
        {% if not edit %}
            $('.ClickShowInfo').unbind('click');
            $('.BlurUpdateInfo').unbind('blur');
        {% endif %}
        $('#project_type').change(project_type); // 工程屬性別 改變時一併改變後續的選項
        $('#project_type').change();

        $('.bid_money_field').change(bid_money_field); // 工程基本資料頁面 的 標案資訊，根據輸入的金額改變最後採用之『發包及其他費用』
        $('#total_money').change();
        $('#settlement_total_money').change();
        $('.fund_money_field').change(fund_money_field); // 工程金額資訊頁面 的 工程預算，根據輸入的金額改變『總工程費』
        $('#fund_contract').change();

        $('.allocation_field').change(allocation_field); // 金額資訊頁面 的 分配數，根據輸入的金額進行總計
        $('.allocation_field').change();
        $('.appropriate_field').change(appropriate_field); // 金額資訊頁面 的 撥付數，根據輸入的金額進行總計
        $('.appropriate_field').change();

        $('#create_allocation').click(create_allocation);//新增分配數
        $('.create_appropriate').click(create_appropriate);//新增撥付數

        $('#set_print_page').click(set_print_page); //列印按鈕
        $('.update_chase_data_one_by_one').click(update_chase_data_one_by_one); //設定進度資料使用 計畫經費 還是 發包及其他費用

        $('.change_page_tab').click(change_page_tab);//切換分頁

        $('#select_port_or_aquaculture').change(select_port_or_aquaculture);
        $('#select_place_for_fishing_port').change(select_place_for_fishing_port); //新增漁港時，選擇縣市後改變漁港選項
        $('#add_fishing_port_or_aquaculture').click(add_fishing_port_or_aquaculture); // 新增漁港或養殖區_新增
        $('.add_or_remove_fishing_port_or_aquaculture_for_project').click(add_or_remove_fishing_port_or_aquaculture_for_project); // 新增漁港或養殖區_編輯
        renew_bid_money_statistic_table();

        $('.change_page_tab').click(function(){
            $('textarea').blur();
        });
        
        $(".uploader").each(function(){
            var $obj = $(this);
            var project_id = $obj.attr('project_id');
            var table_name = $obj.attr("table_name");
            NewFileUploader($obj, project_id, table_name);
        }); // 檔案上傳
        
    });

</script>


{% endblock %}
