{% load i18n %}
{% load utiltags %}
{% load humanize %}
{% load project_tags %}

{% if edit %}
    <div style="text-align: right">
    <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#add_projectbidmoneyversion_dialog" onclick="$('#get_projectbidmoneyversion_dialog').modal('hide');">新增契約變更紀錄</button>
    </div>
{% endif %}

<ul class="nav nav-tabs">
    {% for v in versions %}
        <li class="{% if forloop.first %}active{% endif %} bidmoneyversion_{{ v.id }}">
            <a href="#bidmoneyversion_{{ v.id }}" data-toggle="tab">
                {{ v.version_name }}
            </a>
        </li>
    {% endfor %}
</ul>

<div class="tab-content">
    {% for v in versions %}
        <div class="tab-pane {% if forloop.first %}active{% endif %} bidmoneyversion_{{ v.id }}" id="bidmoneyversion_{{ v.id }}" style="padding-top:8px">
            {% if not forloop.first and edit %}
                <button class="deleteRow btn btn-danger btn-xs"
                    style="float: right"
                    row_id="{{ v.id }}"
                    module_name = "fishuser"
                    table_name = "projectbidmoneyversion"
                    remove_target = "bidmoneyversion_{{ v.id }}"
                    message="確定要刪除此版本紀錄嗎？"
                    title="刪除">刪除此紀錄</button>
            {% endif %}
            <span align="left" style="font-size: 18px;color:blue;">
                {% if not forloop.last %}
                    <table class="table">
                        <tr>
                            <td width="20%">變更日期：</td>
                            <td width="80%">{{ v.pre_version.date }}</td>
                        </tr>
                        <tr>
                            <td>文　　號：</td>
                            <td>{{ v.pre_version.no|default_if_none:"" }}</td>
                        </tr>
                        <tr>
                            <td>備　　註：</td>
                            <td>{{ v.pre_version.memo|default_if_none:""|linebreaks }}</td>
                        </tr>
                    </table>
                {% endif %}
            </span>

            {% if forloop.first and edit %}
                <h3 class="text-primary">修改金額請至基本資料頁面</h3>
            {% endif %}
            <table class="table table-bordered">
                <tr class="warning">
                    <td width="40%">名稱</td>
                    <td width="25%">契約金額</td>
                    <td width="35%">備註</td>
                </tr>
                {% if forloop.first %}
                    {% for d in v.details %}
                        <tr>
                            <td>{{ d.field_name }}</td>
                            <td align="right">{{ d.value|default_if_none:''|intcomma|cutzero }}</td>
                            <td>{{ d.memo|default_if_none:"" }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for d in v.details %}
                        <tr>
                            <td>{{ d.field_name }}</td>
                            <td align="right">
                                {% if edit %}
                                    <div class="input-group">
                                        <input
                                            type="text" class="BlurUpdateInfo form-control inputcomma"
                                            field_type="float" style="text-align: right;"
                                            field_name="value"
                                            row_id="{{ d.id }}"
                                            table_name="projectbidmoneyversiondetail"
                                            module_name='fishuser'
                                            placeholder="待輸入"
                                            old_value="{{ d.value|default_if_none:''|cutzero }}"
                                            value="{{ d.value|default_if_none:''|cutzero }}"/>
                                        <span class="input-group-addon">元</span>
                                    </div>
                                {% else %}
                                    {{ d.value|default_if_none:''|intcomma|cutzero }}
                                {% endif %}
                            </td>
                            <td>
                                {% if edit %}
                                    <textarea
                                        class="BlurUpdateInfo form-control"
                                        field_type="str"
                                        type="textarea"
                                        row_id="{{ d.id }}"
                                        field_name="memo"
                                        table_name="projectbidmoneyversiondetail"
                                        module_name='fishuser'
                                        placeholder="待輸入"
                                        style="height: 34px;"
                                        old_value="{{ d.memo|default_if_none:'' }}">{{ d.memo|default_if_none:'' }}</textarea>
                                {% else %}
                                    {{ d.memo|default_if_none:"" }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    {% endfor %}
</div>