{% extends "fishuser/zh-tw/base.html" %}
{% load i18n %}
{% load humanize %}
{% load utiltags %}
{% load guardian_tags %}

{% block body %}
<h2>自辦工程管理費-保留款設定<small><a class="pointer" onclick="window.location='{% url 'project.views.set_manage_money' %}'">←回管理費頁面</a></small></h2>
<br>
<table class="table">
    <tr>
        <td width="20%" align="right">年度</td>
        <td width="20%">
            <select id="select_year" class="form-control get_manage_info">
                <option value="">請選擇</option>
                {% for y in years %}
                    <option value="{{ y }}">{{ y }}</option>
                {% endfor %}
            </select>
        </td>
        <td width="20%" align="right"></td>
        <td width="40%">
        </td>
    </tr>

</table>

<table class="table">
    <tr>
        <td class="warning" width="25%" align="right">工程管理費剩餘數：</td>
        <td width="25%" align="right"><span id="limit_manage_money"></span>元</td>
        <td class="warning" width="25%" align="right">設定保留款</td>
        <td width="25%" align="right">
            <input class="form-control" id="remain_money" style="text-align: right" value="">
        </td>
    </tr>
    <tr>
        <td class="warning" align="right">保留款-實支數</td>
        <td align="right"><span id="already_user_money"></span>元</td>
        <td class="warning" align="right">保留款-剩餘數</td>
        <td align="right"><span id="un_use_money"></span>元</td>
    </tr>
</table>

<button class="btn btn-success" data-toggle="modal" id="btn_add_managemoney" data-target="#add_managemoney_dialog" onclick="$('#span_select_year').html($('#select_year').val())" style="display:none;">新增支出</button>
<button class="btn btn-info" type="button" id="btn_project_managemoney" onclick="window.location='/project/project_for_manage_money/?year=' + $('#select_year').val();" style="display:none;">觀看本年度工程管理費</button>
<table class="table table-bordered" id="table_manage_money_projects" style="display:none;">
    <thead>
        <tr class="success">
            <td width="15%">日期</td>
            <td width="20%">支出項目</td>
            <td width="15%">總經費(元)</td>
            <td width="50%">支出明細</td>
            <td width="5%"></td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

                    


<!-- 增加支出 -->
<div class="modal fade" id="add_managemoney_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 800px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">增加支出</h4>
            </div>
            <div class="modal-body" align="left">
                目前選擇的支出年度：<span style="color: blur; font-size: 18px;" id="span_select_year"></span><br>
                日期：<input class="form-control datepicker" do_nothing="true" value="" id="managemoney_date" style="width:30%">
                支出項目名稱： <input class="form-control" value="" id="managemoney_name">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="add_managemoney">新增支出</button>
            </div>
        </div>
    </div>
</div>



<!-- 增加工程實支數 -->
<div class="modal fade" id="add_projectmanagemoney_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 800px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">增加工程實支數</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" value="" id="target_managemoney">
                <table class="table table-bordered" id="table_select_project_add_money">
                    <thead>
                        <tr class="success">
                            <td width="50%">工程名稱</td>
                            <td width="15%">可用管理費</td>
                            <td width="15%">已用管理費</td>
                            <td width="15%">剩餘管理費</td>
                            <td width="5%">新增</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function get_manage_info(){
        var year = $('#select_year').val();
        var unit = $('#select_unit').val();
        if (year){
            $('#btn_add_managemoney').show();
            $('#btn_project_managemoney').show();
        } else {
            $('#btn_add_managemoney').hide();
            $('#btn_project_managemoney').hide();
        }
        if (!year && !unit){
            $('#table_manage_money_projects tbody').html('');
            $('#limit_manage_money').html('');
            $('#already_user_money').html('');
            $('#remain_money').val('');
            $('#un_use_money').html('');
            return false;
        } else {
            var data = {
                csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
                year: year,
                unit: unit,
                is_remain: 'true'
            };
            $.ajax({
                url: '/project/get_manage_info/',
                type: 'POST',
                data: data,
                dataType: 'json',
                success: function (json) {
                    $('#limit_manage_money').html(TransformThousands(parseInt(json['limit_manage_money'])));
                    $('#already_user_money').html(TransformThousands(parseInt(json['already_user_money'])));
                    $('#un_use_money').html(TransformThousands(parseInt(json['un_use_money'])));
                    $('#remain_money').val(TransformThousands(parseInt(json['remain_money'])));

                    $('#table_manage_money_projects tbody').html('');
                    for (i=0; i<json['data'].length; i++){
                        var html = '<tr id="tr_manage_money_' + json['data'][i]['id'] + '"><td>' + json['data'][i]['date'] + '</td><td>' + json['data'][i]['name'] + '</td><td align="right" id="td_total_money_' + json['data'][i]['id'] + '">' + TransformThousands(parseInt(json['data'][i]['total_money'])) + '</td><td id="td_project_manage_money_' + json['data'][i]['id'] + '">';
                        for (j=0; j<json['data'][i]['projects_manage_money'].length; j++){
                            html += '<div id="div_project_manage_money_' + json['data'][i]['projects_manage_money'][j]['id'] + '"><a target="_blank" href="/project/project_profile/' + json['data'][i]['projects_manage_money'][j]['project_id'] + '/">' + json['data'][i]['projects_manage_money'][j]['project_name'] + '</a>：' + TransformThousands(parseInt(json['data'][i]['projects_manage_money'][j]['money'])) + '元 <button class="deleteRow btn btn-danger btn-xs" title="點我刪除" row_id="' + json['data'][i]['projects_manage_money'][j]['id'] + '" row_name="工程實支" module_name = "fishuser" table_name = "projectmanagemoney" do_change_action="#already_user_money" remove_target = "div_project_manage_money_' + json['data'][i]['projects_manage_money'][j]['id'] + '" title="刪除"><span class="glyphicon glyphicon-remove"></span></button></div>';
                        }
                        html += '</td><td><button data-toggle="modal" data-target="#add_projectmanagemoney_dialog" class="show_projectmanagemoney_dialog btn btn-success btn-xs" title="增加工程實支數" row_id="' + json['data'][i]['id'] + '"><span class="glyphicon glyphicon-plus"></span></button><br><button class="deleteRow btn btn-danger btn-xs" title="點我刪除" row_id="' + json['data'][i]['id'] + '" row_name="' + json['data'][i]['name'] + '" module_name = "fishuser" table_name = "managemoney" do_change_action="#already_user_money" remove_target = "tr_manage_money_' + json['data'][i]['id'] + '" title="刪除"><span class="glyphicon glyphicon-remove"></span></button></td></tr>';
                        $('#table_manage_money_projects tbody').append(html);
                    }
                    $('.deleteRow').unbind('click');
                    $('.show_projectmanagemoney_dialog').unbind('click');
                    $('.deleteRow').click(deleteRow);
                    $('.show_projectmanagemoney_dialog').click(show_projectmanagemoney_dialog);
                    $('#table_manage_money_projects').show();
                },
                error: REST_ERROR
            })
        }
    }

    function show_projectmanagemoney_dialog(){
        var $obj = $(this);
        var row_id = $obj.attr('row_id');
        var year = $('#select_year').val();
        var data = {
            csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
            year: year,
        };
        $.ajax({
            url: '/project/get_project_for_manage_money/',
            type: 'POST',
            data: data,
            dataType: 'json',
            success: function (json) {
                $('#table_select_project_add_money tbody').html(json['html']);
                $('.add_projectmanagemoney').click(add_projectmanagemoney);
            },
            error: REST_ERROR
        })

        $('#target_managemoney').val(row_id);
    }

    function add_projectmanagemoney(){
        var $obj = $(this);
        var managemoney_id = $('#target_managemoney').val();
        var project_id = $obj.attr('project_id');
        var limit_money = parseInt($obj.attr('limit_money'));
        var project_name = $obj.attr('project_name');
        var money = prompt('請輸入要新增的實支金額(不可超過' + limit_money + '元)', '0');
        if (!money || money=='0'){
            alert('輸入數值錯誤!!');
            return false;
        } else if (parseInt(money)>limit_money){
            alert('輸入值超過可使用上限!!');
            return false;
        } else {
            var data = {
                csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
                managemoney: '/fishuser/api/v2/managemoney/' + managemoney_id + '/',
                project: '/fishuser/api/v2/project/' + project_id + '/',
                money: parseInt(money)
            };
            $.ajax({
                url: '/fishuser/api/v2/projectmanagemoney/',
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                dataType: 'json',
                success: function (json, text, xhr) {
                    var html = '<div id="div_project_manage_money_' + json['id'] + '"><a target="_blank" href="/project/project_profile/' + project_id + '/">' + project_name + '</a>：' + TransformThousands(parseInt(money)) + '元 <button class="deleteRow btn btn-danger btn-xs" title="點我刪除" row_id="' + json['id'] + '" row_name="工程實支" module_name = "fishuser" table_name = "projectmanagemoney" do_change_action="#already_user_money" remove_target = "div_project_manage_money_' + json['id'] + '" title="刪除"><span class="glyphicon glyphicon-remove"></span></button></div>';
                    $('#td_project_manage_money_' + managemoney_id).append(html);
                    $('.deleteRow').unbind('click');
                    $('.deleteRow').click(deleteRow);
                    update_use_money();
                    $('#add_projectmanagemoney_dialog').modal('hide');
                },
                error: function () {
                },
            })
        }
    }

    function update_use_money(){
        var year = $('#select_year').val();
        var unit = $('#select_unit').val();
        var data = {
            csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
            year: year,
            unit: unit,
            is_remain: 'true'
        };
        $.ajax({
            url: '/project/get_manage_info/',
            type: 'POST',
            data: data,
            dataType: 'json',
            success: function (json) {
                $('#limit_manage_money').html(TransformThousands(parseInt(json['limit_manage_money'])));
                $('#already_user_money').html(TransformThousands(parseInt(json['already_user_money'])));
                $('#un_use_money').html(TransformThousands(parseInt(json['un_use_money'])));
                for (i=0; i<json['data'].length; i++){
                    $('#td_total_money_' + json['data'][i]['id']).html(TransformThousands(parseInt(json['data'][i]['total_money'])));
                }
            },
            error: REST_ERROR
        })
    }

    function add_managemoney(){
        var year = parseInt($('#select_year').val());
        var date = $('#managemoney_date').val();
        var name = $('#managemoney_name').val();
        if (!date || !name){
            alert('請輸入日期與支出名稱');
            return false;
        }
        var date_year = parseInt(date.split('-')[0]) - 1911;
        var data = {
            csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
            year: year,
            date: date,
            name: name,
            is_remain: true
        };
        $.ajax({
            url: '/fishuser/api/v2/managemoney/',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            dataType: 'json',
            success: function (json) {
                var html = '<tr id="tr_manage_money_' + json['id'] + '"><td>' + date + '</td><td>' + name + '</td><td align="right" id="td_total_money_' + json['id'] + '">0</td><td id="td_project_manage_money_' + json['id'] + '">';
                    html += '</td><td><button data-toggle="modal" data-target="#add_projectmanagemoney_dialog" class="show_projectmanagemoney_dialog btn btn-success btn-xs" title="增加工程實支數" row_id="' + json['id'] + '"><span class="glyphicon glyphicon-plus"></span></button><br><button class="deleteRow btn btn-danger btn-xs" title="點我刪除" row_id="' + json['id'] + '" row_name="' + name + '" module_name = "fishuser" table_name = "managemoney" do_change_action="#already_user_money" remove_target = "tr_manage_money_' + json['id'] + '" title="刪除"><span class="glyphicon glyphicon-remove"></span></button></td></tr>';
                $('#table_manage_money_projects tbody').html(html+$('#table_manage_money_projects tbody').html());
                $('.deleteRow').unbind('click');
                $('.show_projectmanagemoney_dialog').unbind('click');
                $('.deleteRow').click(deleteRow);
                $('.show_projectmanagemoney_dialog').click(show_projectmanagemoney_dialog);
                $('#table_manage_money_projects').show();
                $('#managemoney_name').val('');
                $('#add_managemoney_dialog').modal('hide');
            },
            error: REST_ERROR
        })
    }

    function remain_money(){
        var $obj = $(this);
        var year = $('#select_year').val();
        if (!year){
            alert('請先選擇年度!!');
            $obj.val('');
            return false;
        }
        var limit_manage_money = parseInt(remove_TransformThousands($('#limit_manage_money').html()));
        var money = parseInt($obj.val());
        if (money > limit_manage_money){
            alert('你只能輸入最高 ' + $('#limit_manage_money').html() + '元');
            money = limit_manage_money;
        }
        var data = {
            csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
            money: money,
        };
        $.ajax({
            url: '/fishuser/api/v2/managemoneyremain/' + year + '/',
            type: 'PUT',
            data: JSON.stringify(data),
            contentType: 'application/json',
            dataType: 'json',
            success: function (json, text, xhr) {
                $obj.val(TransformThousands(money));
            },
            error: function (data) {
                $obj.val(old_value);
                if (data.responseText){
                    alert(data.responseText);
                } else {
                    alert('操作失敗，可能系統忙碌中，請稍候重試一次。');
                }
            },
        })
    }


    $(document).ready(function(){
        $('.get_manage_info').change(get_manage_info);
        $('#already_user_money').change(update_use_money);
        $('#add_managemoney').click(add_managemoney);
        $('#remain_money').change(remain_money);
        $('#remain_money').click(remove_inputcomma);
    });

</script>



{% endblock body %}
