<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta NAME="author"CONTENT="Amon Ho(hoamon/阿蒙):http://www.hoamon.info/" />
	<meta name="keywords" content="" />
	<meta Name="description" content="" />
	<meta NAME="rating"CONTENT="general" />
	<meta NAME="robots"CONTENT="All">
	<link rel="stylesheet" title="default" type="text/css" media="screen"
		href="" />
	<script type="text/javascript" src=""></script>
    <title>FIXME</title>
    <!--
        <link rel="stylesheet" type="text/css" href="FIXME" />
        <script type="text/javascript" src="FIXME" />
        <style type="text/css">
        /* <![CDATA[ */
        /* ]]> */
        </style>
    -->
</head>
<body>
你的檔案超過 xx 。
</body>
</html>
