{% load i18n %}
{% load humanize %}
{% load utiltags %}
{% load project_tags %}
{% load guardian_tags %}

<div id="div_plan_{{ p.id }}">
    <div id="row_plan_{{ p.id }}" row_id="{{ p.id }}" class="row plan_row pointer" info_status="hide">
        <div class="col-md-{{ p.front_tag }}"></div>
        <div class="col-md-{{ p.back_tag }}" align="left">
            <div class="alert alert-{{ p.class_name }}" style="padding: 5px; margin-bottom: 2px;">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span id="plan_budget_type_firststring_{{ p.id }}">({{ p.budget_type.value.0 }})</span>
                <span id="plan_name_{{ p.id }}">{{ p.name }}</span>
            </div>
        </div>
    </div>

    <div id="row_plan_info_{{ p.id }}">
        
    </div>
</div>
