<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load utiltags %}<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>漁業署GIS</title>
    <script src="https://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=ABQIAAAAso2G68I2IaMou_bR6rh9_BQEkUQia9UI9IZdZJpbYUdNAegMghR9M6S-IhPGK-PkqNU7y1YeGjj4Dw" type="text/javascript"></script>
    <script src="/media/gis/jquery-1.3.2.min.js" type="text/javascript"></script>
    <script src="/media/gis/jquery-ui-1.7.2.min.js" type="text/javascript"></script>
    <script src="/media/gis/ajaxuploadfile.js"type="text/javascript"></script>
    <script src="/media/gis/hoshi.js" type="text/javascript"></script>
    <script src="/media/gis/hoshi.conditionview.js" type="text/javascript"></script>

    <script src="/media/gis/googlemap.js" type="text/javascript"></script>
    <script src="/media/gis/googlemap.markermanager.js" type="text/javascript"></script>
    <script src="/media/gis/gis.js" type="text/javascript"></script>
    <script src="/media/gis/photo.js" type="text/javascript"></script>
    <script src="/media/gis/ptz.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="/media/gis/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="/media/gis/gis.css" />
  </head>
  <body  onunload="GUnload()">
    <div class="banner">
        <div class="zh_TW">漁業漁港地理資訊系統</div>
        <div class="en_US">Fishery Harbor Information System</div>
        <div style="position: absolute;width:40%;text-align:center;z-index:999;padding:0 30%">
            <div id="plot_image_msg" style="background-color: #333;color: #ccc;-moz-border-radius: 5px; -webkit-border-radius: 5px;display: none;">請在地圖上選擇照片位置</div>
        </div>
    </div>
    <div class="content">
        <div id="pictureController" style="z-index:999; position: absolute; right: 8px;margin-top: 30px">
            <span><div><input type="button" value="上傳照片" id="upload_image" /></div><div><input type="button" value="上傳帶有GPS座標的照片" id="upload_image_with_gps" /></div><div><input type="checkbox" id="showPhotoUI" />顯示照片</div><div><input type="checkbox" id="showPTZUI" />顯示攝影機</div></span>
        </div>
        <div id="searchPanel" class="searchPanel">
            <ul><li><a href="#searchConditions">搜尋</a></li><li><a href="#searchResult">搜尋結果</a></li></ul>
            <div id="searchConditions">
                <div id="conditionPanel" class="conditionPanel">
                </div>
                <div class="conditionListButton"><input type="button"  id="searchData" value="搜尋"/></div>
            </div>
            <div id="searchResult">
                搜尋結果
            </div>
        </div>
        <div class="mapPanel" id="map_canvas"></div>
    </div>
    <div class="footer">
        <div>Copyright &copy; <a href="http://www.fa.gov.tw/chnn/" target="_blank">(行政院農業部漁業署)</a></div>
<div>2009 | Designed by <a href="http://www.tfm.org.tw/" target="_blank">財團法人臺灣漁業及海洋技術顧問社</a></div>
    </div>
    <div id="port_dialog">
        漁港
    </div>
{% insert_google_analytics %}
  </body>
</html>
