{% extends "fishuser/zh-tw/base.html" %}

{% load url from future %}
{% load i18n %}
{% load humanize %}
{% load guardian_tags %}
{% load auditing_tags %}
{% load project_tags %}

{% block body %}
<h2 align="center">{{ case.auditing_group }}施工查核小組查核紀錄</h2>
<br>
<input type="hidden" id="case_id" value="{{ case.id }}">
<input type="hidden" id="project_id" value="{{ case.project.id }}">

<table class="table table-bordered" style="vertical-align: middle;">
    <tr>
        <td align="right" class="success" width="10%">標案名稱</td>
        <td width="45%" colspan="3">
            {{ case.project_name }}
        </td>
        <td align="right" class="success" width="10%"><span style="font-size:20px;color: red;">*</span>查核日期</td>
        <td width="18%">
            {{ case.date|default_if_none:'' }}
        </td>
    </tr>
    <tr>
        <td align="right" class="success" width="10%">標案所屬工程主管機關</td>
        <td colspan="3">
            {{ case.manage_unit.name }}
        </td>
        <td align="right" class="success" width="10%" style="vertical-align: middle;">標案編號</td>
        <td style="vertical-align: middle;">
            {{ case.pcc_no }}
        </td>
    </tr>
    <tr>
        <td align="right" class="success">主辦機關</td>
        <td colspan="3">
            {{ case.unit.name }}
        </td>
        <td align="right" class="success">專案管理廠商</td>
        <td>
            {{ case.project_manage_unit|default_if_none:'' }}
        </td>
    </tr>
    <tr>
        <td align="right" class="success">設計單位</td>
        <td width="18%">
            {{ case.designer|default_if_none:'' }}
        </td>
        <td align="right" class="success" width="9%" align="right">監造單位</td>
        <td width="18%">
            {{ case.inspector|default_if_none:'' }}
        </td>
        <td align="right" class="success">承包商</td>
        <td>
            {{ case.construct|default_if_none:'' }}
        </td>
    </tr>
    <tr>
        <td align="right" class="success">發包預算</td>
        <td colspan="3">
            {{ case.budget_price|floatformat:3|intcomma|default_if_none:""|cutzero }} 元
        </td>
        <td align="right" class="success">契約金額</td>
        <td>
            {{ case.contract_price|floatformat:3|intcomma|default_if_none:""|cutzero }} 元
            {% if case.contract_price_change %}
                <br><span style="color: blur">變更設計後： {{ case.contract_price_change|floatformat:3|intcomma|default_if_none:""|cutzero }} 元</span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td align="right" class="success">工程概要</td>
        <td colspan="5" style="padding: 0px;">
            {{ case.info|linebreaks|default_if_none:'' }}
        </td>
    </tr>
    <tr>
        <td align="right" class="success">工程進度、<br>經費支用及<br>目前施工概況</td>
        <td colspan="5">
            {{ case.progress|linebreaks|default_if_none:'' }}
        </td>
    </tr>
    <tr>
        <td align="right" class="success">查核人員</td>
        <td colspan="3">
            外部：{{ case.supervisors_outside|default_if_none:'' }}<br>
            內部：{{ case.supervisors_inside|default_if_none:'' }}
        </td>
        <td align="right" class="success">開工及預定完工日期</td>
        <td>
           {{ case.start_date }} 至 {{ case.expected_completion_date }}
            {% if case.expected_completion_date_change %}
                <br><span style="color: blur">變更後至： {{ case.expected_completion_date_change }}</span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td align="right" class="success">領隊及工作人員</td>
        <td colspan="3">
            領隊：{{ case.captain|default_if_none:'' }}<br>
            工作人員：{{ case.workers|default_if_none:'' }}
        </td>
        <td align="right" class="success" style="vertical-align: middle;">查核分數</td>
        <td align="right" style="vertical-align: middle;">
            <span id="score">{{ case.score|cutzero }}</span>分<span id="score_level"></span>
        </td>
    </tr>
    <tr>
        <td align="right" class="success">優點</td>
        <td colspan="5" style="padding: 0px;">
            {{ case.merit|linebreaks|default_if_none:'' }}
        </td>
    </tr>
    <tr>
        <td align="right" class="success">
            缺點
        </td>
        <td colspan="5" style="padding: 0px;">
            {% if case.errors %}
                <table class="table table-bordered" id="table_errors" style="margin-bottom: 0px !important;">
                    <tr class="danger">
                        <td width="7%" style="font-size: 12px;vertical-align: middle;">序號</td>
                        <td width="15%" style="text-align: center;vertical-align: middle;">缺失編號</td>
                        <td width="70%" style="text-align: center;vertical-align: middle;">缺失內容</td>
                    </tr>
                    {% for error in case.errors %}
                        <tr id="tr_error_{{ error.id }}">
                            <td style="text-align: right;vertical-align: middle;">{{ forloop.counter }}.</td>
                            <td>
                                <span data-toggle="tooltip" data-placement="top" title="{{ error.errorcontent.no }} [{{ error.errorcontent.point_range1 }}, {{ error.errorcontent.point_range2 }}] {{ error.errorcontent.introduction }}">{{ error.errorcontent.no }}</span>
                            </td>
                            <td>
                                {{ error.context|default_if_none:'' }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                無缺失紀錄
            {% endif %}
        </td>
    </tr>
    <tr>
        <td align="right" class="success">
            規劃設計問題及建議
        </td>
        <td colspan="5" style="padding: 0px;">
            {{ case.advise|linebreaks|default_if_none:'' }}
        </td>
    </tr>
    <tr>
        <td align="right" class="success">
            品質指標  
        </td>
        <td colspan="5" style="padding: 0px;">
            {{ case.quality_indicators|linebreaks|default_if_none:'' }}
        </td>
    </tr>
    <tr>
        <td align="right" class="success">
            規劃設計問題及建議
        </td>
        <td colspan="5" style="padding: 0px;">
            {{ case.other_advise|linebreaks|default_if_none:'' }}
        </td>
    </tr>
    <tr>
        <td align="right" class="success">
            扣點統計
        </td>
        <td colspan="5" style="padding: 0px;">
            <table class="table" style="margin-bottom: 0px !important;">
                監造廠商扣點，共 {{ case.deduction_i_point }}點<br>
                施工廠商扣點，共 {{ case.deduction_c_point }}點
            </table>  
        </td>
    </tr>
    <tr>
        <td align="right" class="success">
            檢驗拆驗
        </td>
        <td colspan="5" style="padding: 0px;">
            {{ case.test|linebreaks|default_if_none:'' }}
        </td>
    </tr>
</table>






















<script>


    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        var score = parseFloat("{{ case.score|cutzero }}");
        if (score >= 90){
            score_level = '(優等)';
        } else if (score >= 80){
            score_level = '(甲等)';
        } else if (score >= 70){
            score_level = '(乙等)';
        } else if (score >= 60){
            score_level = '(丙等)';
        } else if (score > 1){
            score_level = '(丁等)';
        } else {
            score_level = '不評分';
        }
        $('#score_level').html(score_level);
    });
</script>
{% endblock %}
