{% load humanize %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>{{ unit.name }}::{{ unit.no }}</title>
</head>
<body bgcolor="#88AACC">
    <h1>{{ message }}</h1>
    {% if unit %}
        <table border="1" style="border-collapse:collapse"
        border-color="#111111">
            <tr><th>公司名稱　　</th><td>{{ unit.name }}</td></tr>
            <tr><th>統一編號　　</th><td>{{ unit.no }}</td></tr>
            <tr><th>負責人　　　</th><td>{{ unit.chairman }}</td></tr>
            <tr><th>資本額（元）</th><td>{{ unit.capital|intcomma }}</td></tr>
            <tr><th>郵遞區號　　</th><td>{{ unit.place.zipcode }}</td></tr>
            <tr><th>地址　　　　</th><td>{{ unit.address }}</td></tr>
            <tr><th>公司類型　　</th><td>{{ unit.kind.value }}</td></tr>
            <tr><th>設立時間　　</th><td>{{ unit.birthday }}</td></tr>
            <tr><th>營業項目　　</th><td>{{ unit.operation }}</td></tr>
        </table>
    {% endif %}
</body>
</html>
