table {
    border-collapse: collapse;
}

tr.odd {
  background-color: #FFFFFF;
}

tr.even {
  background-color: #F0F0F0;
}

li {
    list-style:none;
}

.no_js_message {
    width: 250px;
    border: 2px solid red;
}

.show_with_js, .hidden, #id_next {
    display: none;
}

.notice {
    color: red;
}

.warnning_input {
    border: 2px solid red;
}

.warnning_message {
    width: 250px;
    border: 2px solid red;
}

.form_message {
    display: none;
    width: 500px;
    border: 2px solid red;
}

.break-line {
    clear:left;
    height:1px;
    width:1px;
    margin-bottom:5px;
}

a:hover {
    background-color: #969696;
    color: yellow;
}

img#loading {
    position: absolute;
    top: 50%;
    left: 50%;
}

.digits {
    text-align: right;
}