{% extends "fishuser/zh-tw/base.html" %}
{% load i18n %}
{% load humanize %}
{% load utiltags %}
{% load guardian_tags %}

{% block js_in_compress %}
    <script src="/media/frcm/v2/plupload/jquery.plupload.queue/jquery.plupload.queue.js{{ settings.SV_ }}"></script>
    <script src="/media/frcm/v2/plupload/js/plupload.full.js{{ settings.SV_ }}"></script>
    <!-- Include docxgen js lib -->
    <script type="text/javascript" src="/media/supervise/v2/filemaker/js/base64.js"></script>
    <script type="text/javascript" src="/media/supervise/v2/filemaker/js/jszip.js"></script>
    <script type="text/javascript" src="/media/supervise/v2/filemaker/js/jszip-load.js"></script>
    <script type="text/javascript" src="/media/supervise/v2/filemaker/js/jszip-inflate.js"></script>
    <script type="text/javascript" src="/media/supervise/v2/filemaker/js/docxgen.js"></script>
    <script type="text/javascript" src="/media/supervise/v2/filemaker/js/generant.js"></script>
    <script type="text/javascript" src="/media/supervise/v2/filemaker/js/webodf-debug.js"></script>
  

    <script>
        $(document).ready(function(){
            var guide = '{% for g in p.outguide.all %}外部委員：{{ g.name }}<w:br />{% endfor %}{% for g in p.inguide.all %}內部委員：{{ g.name }}<w:br />{% endfor %}###'.replace('<w:br />###', '');
            var captain = '{{ p.captain_string }}';
            var worker = '{{ p.worker_string }}';
            var score = "{{ p.score|cutzero }}";
            if ({{ p.score }} >= 90){
                score += '(優等)';
            } else if ({{ p.score }} >= 80){
                score += '(甲等)';
            } else if ({{ p.score }} >= 70){
                score += '(乙等)';
            } else if ({{ p.score }} >= 60){
                score += '(丙等)';
            } else if ({{ p.score }} > 1){
                score += '(丁等)';
            } else {
                score = '不評分';
            }
            var data = {
                'plan': "{{ p.plan }}", 'subordinate_agencies_unit': "{{ p.subordinate_agencies_unit.name }}",
                'date': "{{ p.date }}", 'project': "{{ p.project }}", 'place': "{{ p.place.name }}", 'location': "{{ p.location|default_if_none:"" }}", 
                'project_organizer_agencies': "{{ p.project_organizer_agencies }}", 'project_manage_unit': "{{ p.project_manage_unit }}",
                'designer': "{{ p.designer }}", 'inspector': "{{ p.inspector }}", 'construct': "{{ p.construct }}",
                'budget_price': "{{ p.budget_price|intcomma|cutzero }}", 'contract_price': "{{ p.contract_price|intcomma|cutzero }}",
                'info': $('#show_info__info').html(), 'progress_date': "{{ p.progress_date }}",
                'scheduled_progress': "{{ p.scheduled_progress|cutzero }}", 
                'actual_progress': "{{ p.actual_progress|cutzero }}", 
                'scheduled_money': "{{ p.scheduled_money|intcomma|cutzero }}", 
                'actual_money': "{{ p.actual_money|intcomma|cutzero }}", 
                'guide': guide,
                'captain': captain,
                'worker': worker,
                'score': score,
                'progress_info': $('#progress_info').html(),
                'start_date': "{{ p.start_date }}", 
                'expected_completion_date': "{{ p.expected_completion_date }}",
                'merit': $('#show_info__merit').html(),
                'advise': $('#show_info__advise').html(),
                'other_advise': $('#show_info__other_advise').html(),
                'test': $('#show_info__test').html(),
                'construct_deduction': "{{ p.construct_deduction }}",
                'inspector_deduction': "{{ p.inspector_deduction }}",
                'organizer_deduction': "{{ p.organizer_deduction }}",
                'project_manage_deduction': "{{ p.project_manage_deduction }}",
                'total_deduction': "{{ p.total_deduction }}"
            };
            {% if p.contract_price_change %}
                data['contract_price_change'] = "<w:br />變更後:{{ p.contract_price_change|intcomma|cutzero }}"
            {% endif %}
            {% if p.expected_completion_date_change %}
                data['expected_completion_date_change'] = "<w:br />變更後:{{ p.expected_completion_date_change }}"
            {% endif %}
            
            {% for e in p.errors %}
                data['error' + {{ forloop.counter }}] = `【{{ forloop.counter }}】{{ e.ec.no }}({{ e.level.name }}) - {{ e.context }}<w:br />`;
            {% endfor %}
            
     

            $("#makeDocSuperviseCase").DocxGenerant(
                "/media/supervise/v2/filemaker/123.docx", 
                data,
                "{{ p.date }}-{{ p.place.name }}-{{ p.project }}督導紀錄表.docx",
                "(檔案準備中...)",
                "(下載Odt檔案)"
             )
        });
    </script>

{% endblock %}

{% block body %}


<h3>行政院農業部漁業署工程督導小組督導紀錄</h3>

<a id="makeDocSuperviseCase"><button class="btn btn-success">(檔案準備中...)</button></a>

{% if edit %}
　　<botton class="btn btn-warning" onclick="window.location='/supervise/edit_profile/{{ p.id }}/'">編輯內容</botton>
{% endif %}
　　
<button class="btn btn-danger" onclick="window.location='/supervise/error_imporve/{{ p.id }}/';">缺失改善紀錄頁面</button>

<input type="hidden" value="{{ p.id }}" id="supervisecase_id">

<ul class="nav nav-tabs nav-justified" id="page_tab" style="margin-top:8px">
    <li class="change_page_tab active" page_name="page_profile"><a>督導紀錄</a></li>
    <li class="change_page_tab" page_name="page_file_fes"><a>督導相關檔案(漁業署用)</a></li>
    <li class="change_page_tab" page_name="page_file_public"><a>督導相關檔案(公用)</a></li>
</ul>

<script type="text/javascript">
    $('.change_page_tab').click(function(){
        var $obj = $(this);
        var page_name = $obj.attr('page_name');
        $('.change_page_tab').removeClass('active');
        $obj.addClass('active');
        $('.pages').hide();
        $('#' + page_name).show();
    });
</script>




<div id="page_profile" class="pages" style="padding-top: 16px">
    <table class="table table-bordered" style="font-size: 12px;">
        {% if edit %}
            <tr>
                <td class="active" width="13%">同意結案文號</td>
                <td colspan="5">
                    <input
                        type="text" class="BlurUpdateInfo form-control"
                        field_type="str"
                        row_id="{{ p.id }}"
                        field_name="finish_no"
                        table_name="supervisecase"
                        module_name='supervise'
                        placeholder="待輸入"
                        old_value="{{ p.finish_no|default_if_none:'' }}"
                        value="{{ p.finish_no|default_if_none:'' }}"/>
                </td>
            </tr>
        {% else %}
            <tr>
                <td class="active" width="13%">同意結案文號</td>
                <td colspan="5">
                    {{ p.finish_no|default_if_none:'' }}
                </td>
            </tr>
        {% endif %}
        <tr>
            <td class="active" width="13%">標案編號</td>
            <td colspan="5">
                {{ p.uid|default_if_none:'' }}
            </td>
        </tr>
        <tr>
            <td class="active" width="13%">列管計畫名稱</td>
            <td colspan="3">
                {{ p.plan|default_if_none:'' }}
            </td>
            <td class="active" width="12%">計畫主辦機關</td>
            <td width="20%">行政院農業部漁業署</td>
        </tr>
        <tr>
            <td class="active">標案所屬<br>工程主管機關</td>
            <td colspan="3">{{ p.subordinate_agencies_unit }}</td>
            <td class="active">督導日期</td>
            <td id="supervise_date">{{ p.date }}</td>
        </tr>
        <tr>
            <td class="active">標案名稱</td>
            <td colspan="3">
                {{ p.project|default_if_none:'' }}
            </td>
            <td class="active">地點</td>
            <td>{{ p.place|default_if_none:'' }}{{ p.location|default_if_none:'' }}</td>
        </tr>
        <tr>
            <td class="active">對應FES系統<br>工程案</td>
            <td colspan="5">
                {% if edit %}
                    <button class="btn btn-info btn-xs" data-toggle="modal" data-target="#choose_fes_project_dialog">選擇/變更</button>
                {% endif %}
                <span id="fes_project" style="color: blue;">
                    {% if p.fes_project %}
                        <a href="/frcm/project_profile/{{ p.fes_project.id }}/">{{ p.fes_project.year }}年度-{{ p.fes_project.name }}</a>
                    {% else %}
                        尚未選擇
                    {% endif %}
                </span>
            </td>
        </tr>
        <tr>
            <td class="active">標案主辦機關</td>
            <td colspan="3">{{ p.project_organizer_agencies }}</td>
            <td class="active">專案管理單位</td>
            <td>{{ p.project_manage_unit }}</td>
        </tr>
        <tr>
            <td class="active">設計單位</td>
            <td width="20%">{{ p.designer }}</td>
            <td class="active" width="12%">監造單位</td>
            <td>{{ p.inspector }}</td>
            <td class="active">承包商</td>
            <td>{{ p.construct }}</td>
        </tr>
        <tr>
            <td class="active">發包預算</td>
            <td colspan="3">{{ p.budget_price|intcomma|cutzero }} 千元</td>
            <td class="active">契約金額</td>
            <td>
                {{ p.contract_price|intcomma|cutzero }} 千元
                {% if p.contract_price_change %}
                    <br><span style="color: blue">變更設計後：{{ p.contract_price_change|intcomma|cutzero }} 千元</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="active">工程概要</td>
            <td colspan="5" id="show_info__info">{{ p.info|linebreaks }}</td>
        </tr>
        <tr>
            <td class="active">工程進度、<br>經費支用及<br>目前施工概況</td>
            <td colspan="5">
                截至 {{ p.progress_date }} 止：<br>
                <ol>
                    <li>工程累計進度：預定： {{ p.scheduled_progress|cutzero }} %；實際： {{ p.actual_progress|cutzero }} %</li>
                    <li>經費累計支用：預定： {{ p.scheduled_money|intcomma|cutzero }} 仟元；實際： {{ p.actual_money|intcomma|cutzero }} 仟元</li>
                    <li id="progress_info">{{ p.progress_info|linebreaks }}</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td class="active" rowspan="2">領隊及工作人員</td>
            <td colspan="3" rowspan="2">
                {% if p.captain.all %}
                    領　　隊：{% for u in p.captain.all %}{{ u.name }}{% if not forloop.last %}、{% endif %}{% endfor %}<br>
                {% endif %}
                {% if p.worker.all %}
                    工作人員：{% for u in p.worker.all %}{{ u.name }}{% if not forloop.last %}、{% endif %}{% endfor %}
                {% endif %}
            </td>
            <td class="active">開工及<br>預定完工日期</td>
            <td>
                開工：{{ p.start_date }}<br>
                完工：{{ p.expected_completion_date }}
                {% if p.expected_completion_date_change %}
                    <br><span style="color: blue">變更後至{{ p.expected_completion_date_change }}</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="active">督導分數<br>(等級)</td>
            <td id="case_score">{{ p.score }}</td>
        </tr>
        <tr>
            <td class="active">優點</td>
            <td colspan="5" id="show_info__merit">{{ p.merit|linebreaks }}</td>
        </tr>
        <tr>
            <td class="active" style="vertical-align: top">督導委員與缺點</td>
            <td colspan="5">
                {% for g in p.guides %}
                    <div class="div_guide" row_id="{{ g.obj.id }}">
                        <h3>
                            <span name="guide_type">{{ g.type }}：</span><span name="guide_name">{{ g.obj.name }}</span>
                        </h3>
                    </div>
                    <table class="table table-bordered table_errors" row_id="{{ g.obj.id }}" style="table-layout: fixed;text-align: center;font-size: 12px;">
                        <thead>
                            <tr class="danger">
                                <td width="80px">缺失編號</td>
                                <td width="45">缺失<br>程度</td>
                                <td>缺　失　內　容</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for e in g.errors %}
                                <tr>
                                    <td width="15%" align="left" class="info" title="{{ e.ec.introduction }}">{{ e.ec.no }}</td>
                                    <td width="5%">{{ e.level.name }}</td>
                                    <td width="80%" align="left">{{ e.context }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td class="active">規劃設計<br>問題及建議</td>
            <td colspan="5" id="show_info__advise">{{ p.advise|linebreaks }}</td>
        </tr>
        <tr>
            <td class="active">其他建議</td>
            <td colspan="5" id="show_info__other_advise">{{ p.other_advise|linebreaks }}</td>
        </tr>
        <tr>
            <td class="active">扣點統計</td>
            <td colspan="5">
                　　 承攬廠商扣點： {{ p.construct_deduction }}{% if p.construct_deduction_memo %}，說明：{{ p.construct_deduction_memo }}{% endif %}<br>
                　　 監造廠商扣點： {{ p.inspector_deduction }}{% if p.inspector_deduction_memo %}，說明：{{ p.inspector_deduction_memo }}{% endif %}<br>
                　　 主辦單位扣點： {{ p.organizer_deduction }}{% if p.organizer_deduction_memo %}，說明：{{ p.organizer_deduction_memo }}{% endif %}<br>
                專案管理單位 扣點： {{ p.project_manage_deduction }}{% if p.project_manage_deduction_memo %}，說明：{{ p.project_manage_deduction_memo }}{% endif %}
                <hr style="margin:0px">
                　　 　　　總扣點： {{ p.total_deduction|default_if_none:''|cutzero }}

            </td>
        </tr>
        <tr>
            <td class="active">檢驗拆驗</td>
            <td colspan="5" id="show_info__test">{% if p.is_test %}(本次督導有進行鑽心檢驗)<br>{% endif %}{{ p.test|linebreaks }}</td>
        </tr>
    </table>
</div>










<div id="page_file_public" class="pages" style="display:none;padding-top: 16px">
    {% if edit %}
        <button row_id="{{ p.id }}" table_name="ErrorPhotoFile" class="btn btn-primary uploader" id="new_file_{{ p.id }}">上傳督導相關檔案(公用)</button>
        <br><span style="color:blue">(註：照片類型檔案請合併為壓縮檔後再上傳)</span>
        <ol id="waitting_for_upload"></ol>
    {% endif %}
    <ol id="col_insert_file" style="text-align: left">
        {% for i in p.photos %}
            <li id="li_file_{{ i.id }}">
                <button class="deleteRow btn btn-danger btn-xs"
                    row_id="{{ i.id }}"
                    message="你確定要刪除嗎？"
                    module_name = "supervise"
                    table_name = "errorphotofile"
                    remove_target = "li_file_{{ i.id }}"
                    title="刪除"><span class="glyphicon glyphicon-remove"></span></button>
                <a target="_blank" href='/supervise/download_file/ErrorPhotoFile/{{ i.id }}/'>{{ i.name }}.{{ i.rExt }}({{ i.calSize }})</a>
            </li>
        {% endfor %}
    </ol>
</div>











<div id="page_file_fes" class="pages" style="display:none;padding-top: 16px">
    {% if edit %}
        <button row_id="{{ p.id }}" table_name="CaseFile" class="btn btn-info uploader2" id="new_file2_{{ p.id }}">上傳督導相關檔案(漁業署專用)</button>
        <br><span style="color:blue">(註：照片類型檔案請合併為壓縮檔後再上傳)</span>
        <ol id="waitting_for_upload2"></ol>
    {% endif %}
    <ol id="col_insert_file2" style="text-align: left">
        {% for i in p.files %}
            <li id="li_file_{{ i.id }}">
                <button class="deleteRow btn btn-danger btn-xs"
                    row_id="{{ i.id }}"
                    message="你確定要刪除嗎？"
                    module_name = "supervise"
                    table_name = "casefile"
                    remove_target = "li_file_{{ i.id }}"
                    title="刪除"><span class="glyphicon glyphicon-remove"></span></button>
                <a target="_blank" href='/supervise/download_file/CaseFile/{{ i.id }}/'>{{ i.name }}.{{ i.rExt }}({{ i.calSize }})</a>
            </li>
        {% endfor %}
    </ol>
</div>




















<script type="text/x-jquery-tmpl" id="HideFileCol">
    <li id="li_file_${id}">
        <button class="deleteRow btn btn-danger btn-xs"
            row_id="${id}"
            message="你確定要刪除嗎？"
            module_name = "supervise"
            table_name = "errorphotofile"
            remove_target = "li_file_${id}"
            title="刪除"><span class="glyphicon glyphicon-remove"></span></button>
        <a target="_blank" href='/supervise/download_file/ErrorPhotoFile/${id}/'>${name}.${ext}(${calSize})</a>
    </li>
</script>

<script type="text/x-jquery-tmpl" id="HideFileCol2">
    <li id="li_file_${id}">
        <button class="deleteRow btn btn-danger btn-xs"
            row_id="${id}"
            message="你確定要刪除嗎？"
            module_name = "supervise"
            table_name = "casefile"
            remove_target = "li_file_${id}"
            title="刪除"><span class="glyphicon glyphicon-remove"></span></button>
        <a target="_blank" href='/supervise/download_file/CaseFile/${id}/'>${name}.${ext}(${calSize})</a>
    </li>
</script>















<div class="modal fade" id="show_big_photo_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">檢視缺失相片</h4>
            </div>
            <div class="modal-body">
                <img id="bigphoto" width="750" src="" border="1">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="choose_fes_project_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:800px; margin-left:-100px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">選擇FES對應工程案</h4>
            </div>
            <div class="modal-body">
                <input id="create_plan_id" style="display: none;" value="">
                <table class="table table-bordered">
                    <tr>
                        <td class="warning" width="20%" align="right">年度</td>
                        <td width="80%">
                            <select id="year" class="form-control input-sm">
                                <option value="">全部</option>
                                {% for y in years %}
                                    <option value="{{ y }}" {% ifequal this_year y %}selected{% endifequal %}>{{ y }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="warning" align="right">
                            工程名稱
                        </td>
                        <td>
                            <input id="name" size="56" type="text" class="form-control input-sm"></td>
                    </tr>
                    <tr>
                        <td class="warning" align="right">
                            標案編號
                        </td>
                        <td>
                            <input id="pcc_no" size="56" type="text" class="form-control input-sm"></td>
                    </tr>
                    <tr>
                        <td class="warning" align="right">
                            執行機關
                        </td>
                        <td>
                            <select id="unit" class="form-control input-sm">
                                <option value="">－ 全部 －</option>
                                {% for unit in units %}
                                    <option value="{{ unit.id }}">－ {{ unit.name }} －</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>
                <button id="search_project" class="btn btn-info btn-lg" page=1 type="button">搜尋工程</button>

                <div class="pages_list"></div>
                <br>
                <table id="SearchResultTable" class="sortable table table-bordered" style="text-align: center; display: none; font-size: 14px;">
                    <thead>
                        <tr class="success">
                            <th width="5%" style="text-align: center;">序<br>號</th>
                            <th width="10%" style="text-align: center;">選擇</th>
                            <th width="60%">所屬計畫<br>年度-工程名稱</th>
                            <th width="18%" style="text-align: center;">主辦機關</th>
                            <th width="10%" style="text-align: center;">遠端系統<br>負責主辦</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <br>
                <div class="pages_list"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/x-jquery-tmpl" id="HideSearchTr">
    <tr id="tr_project_${id}" style="text-align: center;" row_id="${id}" class="${class_name}" style="display: none;">
        <td class="active">${sort}</td>
        <td>
            <button class="btn btn-warning choose_fes_project_button" year="${year}" name="${name}" row_id="${id}">
                選擇
            </button>
        </td>
        <td align="left" title="標案編號：『${bid_no}』">
            ${plan__name}<br>
            <a id="project_name_${id}" href="/project/project_profile/${id}/">
                ${year}年 - ${name}
            </a>
        </td>
        <td>${unit__name}</td>
        <td>
            <a href="/frcm/project_profile/${id}/" title="點我到遠端管理系統">
                ${importer}
            </a>
        </td>
    </tr>
</script>























<script type="text/javascript">
    function get_supervise_info_from_pcc(){
        var date = $('#supervise_date').html();
        var uid = $('#uid').val();
        var name = $('#project').val();
        if (!date){
            alert('請填寫督導日期!!!');
            return false;
        }
        if (!uid){
            alert('請填寫標案編號!!!');
            return false;
        }
        $.ajax({
        url: '/supervise/get_supervise_info_from_pcc/',
            type: "POST",
            data: {
                csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN, 
                date: date, 
                uid: uid
            },
            dataType: "json",
            success: function(json) {
                if (json['status']) {
                    if (json['msg']){
                        alert(json['msg']);
                    } else {
                        alert('同步並匯入成功!!');
                    }
                    window.location = "/supervise/project_profile/" + json['case_id'] + '/';
                } else {
                    alert(json['msg']);
                }
            }
        });
    }

    function NewFileUploader($buttom, row_id){
        var buttom_id = $buttom.attr('id');
        var table_name = $buttom.attr('table_name');

        var uploader = new plupload.Uploader({
            runtimes: 'html5',
            browse_button: buttom_id,
            url: '/supervise/new_file_upload/',
            multi_selection: true,
            max_file_size : '100mb',
            multipart: true,
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
            },
            multipart_params : {
                csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
                table_name: table_name,
                row_id: row_id
            },
            init:{
                FilesAdded:function(up, files){
                    var file_num = files.length;
                    if (confirm('確定上傳這' + file_num + '個檔案?，按下確定後，上傳進度將顯示在下方，尚未結束前請勿關閉視窗!!!')){
                        // up.settings.multipart_params.sop_id = sop_id;
                        // up.settings.multipart_params.file_type = file_type;
                        for (i=0;i<file_num;i++){
                            $('#waitting_for_upload').append('<li id="li_fileupload_' + files[i].id + '">' + files[i].name + '，上傳進度：<div class="progress progress-striped active"><div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" id="file_percent_' + files[i].id + '" style="width: 0%"></div></div></li>');
                        }
                        up.start();
                    }else{
                        return false
                    }
                },
                FileUploaded:function(up, file, res){
                    var json = $.parseJSON(res.response);
                    var size = file.size;
                    if (size <= 1024){
                        size = size + ' B';
                    } else if (size/1024 <= 1024){
                        size = parseInt(size/1024) + ' KB';
                    } else if (size/Math.pow(1024,2) <= 1024){
                        size = parseInt(size/Math.pow(1024,2)) + ' MB';
                    } else if (size/Math.pow(1024,3) <= 1024){
                        size = parseInt(size/Math.pow(1024,3)) + ' GB';
                    }
                    var data = {
                        'id': json["id"],
                        'url': json["url"],
                        'thumb_url': json["thumb_url"],
                        'name': json['name'],
                        'ext': json['ext'],
                        'calSize': size,
                    };
                    var $col = $('#HideFileCol').tmpl(data).appendTo($('#col_insert_file'));
                    
                    $('#li_fileupload_' + file.id).remove();
                    $(".deleteRow").unbind('click');
                    $(".deleteRow").click(deleteRow);
                },
                UploadProgress:function(up, file) {
                    $('#file_percent_' + file.id).attr('style', 'width: ' + file.percent + "%");
                    $('#file_percent_' + file.id).html(file.percent + "%");
                }
            }
        });
        uploader.init();
    }

    function NewFileUploader2($buttom, row_id){
        var buttom_id = $buttom.attr('id');
        var table_name = $buttom.attr('table_name');

        var uploader = new plupload.Uploader({
            runtimes: 'html5',
            browse_button: buttom_id,
            url: '/supervise/new_file_upload/',
            multi_selection: true,
            max_file_size : '100mb',
            multipart: true,
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
            },
            multipart_params : {
                csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
                table_name: table_name,
                row_id: row_id
            },
            init:{
                FilesAdded:function(up, files){
                    var file_num = files.length;
                    if (confirm('確定上傳這' + file_num + '個檔案?，按下確定後，上傳進度將顯示在下方，尚未結束前請勿關閉視窗!!!')){
                        // up.settings.multipart_params.sop_id = sop_id;
                        // up.settings.multipart_params.file_type = file_type;
                        for (i=0;i<file_num;i++){
                            $('#waitting_for_upload2').append('<li id="li_fileupload_' + files[i].id + '">' + files[i].name + '，上傳進度：<div class="progress progress-striped active"><div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" id="file_percent_' + files[i].id + '" style="width: 0%"></div></div></li>');
                        }
                        up.start();
                    }else{
                        return false
                    }
                },
                FileUploaded:function(up, file, res){
                    var json = $.parseJSON(res.response);
                    var size = file.size;
                    if (size <= 1024){
                        size = size + ' B';
                    } else if (size/1024 <= 1024){
                        size = parseInt(size/1024) + ' KB';
                    } else if (size/Math.pow(1024,2) <= 1024){
                        size = parseInt(size/Math.pow(1024,2)) + ' MB';
                    } else if (size/Math.pow(1024,3) <= 1024){
                        size = parseInt(size/Math.pow(1024,3)) + ' GB';
                    }
                    var data = {
                        'id': json["id"],
                        'url': json["url"],
                        'name': json['name'],
                        'ext': json['ext'],
                        'calSize': size,
                    };
                    var $col = $('#HideFileCol2').tmpl(data).appendTo($('#col_insert_file2'));
                    
                    $('#li_fileupload_' + file.id).remove();
                    $(".deleteRow").unbind('click');
                    $(".deleteRow").click(deleteRow);
                },
                UploadProgress:function(up, file) {
                    $('#file_percent_' + file.id).attr('style', 'width: ' + file.percent + "%");
                    $('#file_percent_' + file.id).html(file.percent + "%");
                }
            }
        });
        uploader.init();
    }

    function search_project(){
        var $obj = $(this);

        var string = 'year=' + $('#year').val();
        string += '&name=' + $('#name').val();
        string += '&unit=' + $('#unit').val();
        string += '&pcc_no=' + $('#pcc_no').val();

        $.ajax({
            url: '/fishuser/api/v2/project/search/?limit=1000000000&' + string,
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                $('.resultTr').remove();
                $('#SearchResultTable').show();
                var ids = '';
                for (var i=0; i<data.objects.length; i++){
                    data.objects[i]['class_name'] = 'resultTr';
                    data.objects[i]['sort'] = i+1;
                    if (!data.objects[i]['importer']){
                        data.objects[i]['importer'] = '→';
                    }
                    var $div = $('#HideSearchTr').tmpl(data.objects[i]).appendTo($('#SearchResultTable > tbody:last'));
                }

                $('.pages_list').html('共有' + data.objects.length + '筆資料');
                $('.choose_fes_project_button').click(choose_fes_project_button);
            },
            error: REST_ERROR
        })
    }

    function choose_fes_project_button() {
        var $obj = $(this);
        var fes_id = $obj.attr('row_id');
        var case_id = $('#supervisecase_id').val();
        var year = $obj.attr('year');
        var name = $obj.attr('name');
        var data = {
            csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
            fes_project: '/fishuser/api/v2/project/' + fes_id + '/'
        };
        $.ajax({
            url: '/supervise/api/v2/supervisecase/' + case_id + '/',
            type: 'PUT',
            data: JSON.stringify(data),
            contentType: 'application/json',
            dataType: 'json',
            success: function (json, text, xhr) {
                $('#choose_fes_project_dialog').modal('hide');
                $('#fes_project').html('<a href="/frcm/project_profile/' + fes_id + '/">' + year + '年度 - ' + name + '</a>');
            },
            error: function (data) {
                if (data.responseText){
                    alert(data.responseText);
                } else {
                    alert('操作失敗，可能系統忙碌中，請稍候重試一次。');
                }
            },
        })
    }


    $(document).ready(function(){
        var score = parseInt($('#case_score').html());
        if (score >= 90){
            score += '分 (優等)';
        } else if (score >= 80){
            score += '分 (甲等)';
        } else if (score >= 70){
            score += '分 (乙等)';
        } else if (score >= 60){
            score += '分 (丙等)';
        } else if (score >= 1){
            score += '分 (丁等)';
        } else {
            score = '不評分';
        }
        $('#case_score').html(score);

        $('#get_supervise_info_from_pcc').click(get_supervise_info_from_pcc);
        $(".uploader").each(function(){
            var $obj = $(this);
            var row_id = $obj.attr("row_id");
            NewFileUploader($obj, row_id);
        });
        $(".uploader2").each(function(){
            var $obj = $(this);
            var row_id = $obj.attr("row_id");
            NewFileUploader2($obj, row_id);
        });
        $('#search_project').click(search_project); //搜尋
    });

</script>
{% endblock%}
