{% extends "supervise/zh-tw/statisticstable.html" %}
{% load i18n %}
{% load staticfiles %}
{% load humanize %}
{% load utiltags %}
{% load guardian_tags %}

{% block table %}

<script type="text/javascript" src="{% static 'supervise/v2/Chart.js/Chart.bundle.js' %}{{ SV_ }}"></script>
<script type="text/javascript" src="{% static 'supervise/v2/Chart.js/utils.js' %}{{ SV_ }}"></script>
<script type="text/javascript" src="{% static 'supervise/v2/Chart.js/FileSaver.min.js' %}{{ SV_ }}"></script>
<script type="text/javascript" src="{% static 'supervise/v2/Chart.js/chartjs-plugin-labels.js' %}{{ SV_ }}"></script>

<style type="text/css">
    #ul-chart-list li{
        line-height: 36px;
        cursor: pointer;
    }
</style>
        
<h2>{{ subpage_name }}-<small>({{ date_from }} ~ {{ date_to }})</small></h2>
<br>
<div class="row">-
    <div class="col-md-5">
        <div class="input-group">
            <span class="input-group-addon">起</span>
            <input class="form-control datepicker date_relation" id="date_from" do_nothing="true" field_name="date" value="{{ date_from }}" placeholder="請輸入開始日期">
        </div>
    </div>
    <div class="col-md-5">
        <div class="input-group">
            <span class="input-group-addon">訖</span>
            <input class="form-control datepicker date_relation" id="date_to" do_nothing="true" field_name="date" value="{{ date_to }}" placeholder="請輸入結束日期">
        </div>
    </div>
</div>
<br>





<script type="text/javascript">
    function show_chart(){
        var $obj = $(this);
        var date_from = $('#date_from').val();
        var date_to = $('#date_to').val();
        var chart_name = $obj.attr('name');
        var sub_type = $obj.attr('sub_type');
        if (!date_check.test(date_from)||!date_check.test(date_to)){
            alert('日期格式錯誤');
        } else {
            window.open(`/supervise/statistics_only_chart/?date_from=${date_from}&date_to=${date_to}&chart_name=${chart_name}&sub_type=${sub_type}`);
        }
    };

    $(document).ready(function(){
        $('#ul-chart-list > li').click(show_chart);
    });

</script>









{% endblock %}
