{% extends "supervise/zh-tw/statisticstable.html" %}
{% load i18n %}
{% load humanize %}
{% load utiltags %}
{% load guardian_tags %}

{% block table %}

        
<h2>{{ subpage_name }}-<small>({{ date_from }} ~ {{ date_to }})</small></h2>
<br>
<div class="row">
    <div class="col-md-5">
        <div class="input-group">
            <span class="input-group-addon">起</span>
            <input class="form-control datepicker date_relation" id="date_from" do_nothing="true" field_name="date" value="{{ date_from }}" placeholder="請輸入開始日期">
        </div>
    </div>
    <div class="col-md-5">
        <div class="input-group">
            <span class="input-group-addon">訖</span>
            <input class="form-control datepicker date_relation" id="date_to" do_nothing="true" field_name="date" value="{{ date_to }}" placeholder="請輸入結束日期">
        </div>
    </div>
    <div class="col-md-2">
        <button class="btn btn-success" id="search_statistic_project" table_id="6">開始篩選</button>
    </div>
</div>
<br>

{% for row in data %}
    <h3>{{ row.title }}<small>(總缺失次數：{{ row.n }}次)</small></h3>
    <table class="table table-bordered" style="font-size: 13px;">
        <tr align="center" valign="middle" class="success">
            <td width="8%">排名</td>
            <td width="10%">缺失編號</td>
            <td width="55%">缺失內容</td>
            <td width="10%">缺失次數</td>
            <td width="10%">缺失比例</td>
        </tr>
        {% for e in row.data %}
            <tr align="center" valign="middle" class="tr_hover">
                <td>{{ forloop.counter }}</td>
                <td align="left">{{ e.no }}</td>
                <td align="left">{{ e.introduction }}</td>
                <td align="right" table_name="{{ e.no }} - {{ e.introduction }}"
                    {% if e.num %}
                        class="pointer search_error"
                        data-toggle="modal" data-target="#show_search_dialog"
                    {% endif %}
                    ids="{% for i in e.num %}{{ i.id }},{% endfor %}">
                    {% if e.num %}
                        <a>{{ e.num.count }}</a>
                    {% else %}
                        {{ e.num.count }}
                    {% endif %}
                </td>
                <td align="right">{{ e.percent }} %</td>
            </tr>
        {% endfor %}
    </table>
<br><br>
{% endfor %}


<div class="modal fade" id="show_search_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:900px; margin-left:-200px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">缺失詳細列表</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-info" align="left" id="search_table_name">
                </div>
                <table class="sortable table table-bordered" id="SearchResultTable" style="font-size:14px;">
                    <tr class="success">
                        <th width="5%" style="text-align: center;">序<br>號</th>
                        <th width="30%" style="text-align: center;">工程名稱</th>
                        <th width="7%" style="text-align: center;">內聘<br>委員</th>
                        <th width="7%" style="text-align: center;">外聘<br>委員</th>
                        <th width="35%" style="text-align: center;">缺失內容</th>
                        <th width="8%" style="text-align: center;">等級</th>
                    </tr>
                </table>
                <tbody>
                </tbody>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script type="text/x-jquery-tmpl" id="HideSearchTr">
    <tr style="text-align: center;" row_id="${id}" class="${class_name} tr_hover" style="display: none;">
        <td class="active">${sort}</td>
        <td align="left">
            <a id="project_name_${id}" href="/supervise/project_profile/${case_id}/">
                ${case_name}
            </a>
        </td>
        <td>${case_inguide_list}</td>
        <td>${case_outguide_list}</td>
        <td align="left">${context}</td>
        <td>${listname_level}</td>
    </tr>
</script>


<script type="text/javascript">
    function search_error(){
        var $obj = $(this);
        var string = '&ids=' + $obj.attr('ids');
        var table_name = $obj.attr('table_name');
        $.ajax({
            url: '/supervise/api/v2/error/search/?limit=1000000000' + string,
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                $('.resultTr').remove();
                for (var i=0; i<data.objects.length; i++){
                    data.objects[i]['class_name'] = 'resultTr';
                    data.objects[i]['sort'] = i+1;
                    var $div = $('#HideSearchTr').tmpl(data.objects[i]).appendTo($('#SearchResultTable > tbody:last'));
                }
                $('#search_table_name').html(table_name);
                //處理分頁，其實所有資料都撈出來了
                $('.pages_list').html('');
            },
            error: REST_ERROR
        })
    }


    $(document).ready(function(){
        $('.search_error').click(search_error); //搜尋
    });

</script>










{% endblock %}
