{% extends "fishuser/zh-tw/base.html" %}
{% load i18n %}
{% load humanize %}
{% load utiltags %}
{% load guardian_tags %}

{% block body %}



{% block table %}
{% endblock %}



<script type="text/javascript">
    function search_project(){
        var $obj = $(this);
        var string = '&ids=' + $obj.attr('ids');
        var per_page = 25;
        var page = 1;
        if (!per_page){
            per_page = 1000000000;
        };
        var table_name = $obj.attr('table_name');
        $.ajax({
            url: '/supervise/api/v2/supervisecase/search/?limit=1000000000' + string,
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                $('.resultTr').remove();
                $('#SearchResultTable').show();

                var ids = '';
                for (var i=0; i<data.objects.length; i++){
                    var page_num = parseInt(i/per_page, 10) + 1;
                    data.objects[i]['class_name'] = 'resultTr page' + page_num;
                    data.objects[i]['sort'] = i+1;
                    data.objects[i]['score'] = parseInt(data.objects[i]['score']);
                    if (data.objects[i]['score'] < 1){
                        data.objects[i]['score'] = '不評分';
                    }
                    data.objects[i]['budget_price'] = TransformThousands(data.objects[i]['budget_price'].replace('.000', ''));
                    data.objects[i]['contract_price'] = TransformThousands(data.objects[i]['contract_price'].replace('.000', ''));
                    var $div = $('#HideSearchTr').tmpl(data.objects[i]).appendTo($('#SearchResultTable > tbody:last'));
                }
                $('#search_result_ids').val(ids);
                $('#search_table_name').html(table_name);
                //處理分頁，其實所有資料都撈出來了
                $('.pages_list').html('');

                if (per_page){
                    for (var i=1; i<data.objects.length/per_page + 1; i++){
                        $('.pages_list').append('<a class="resultChangePage page_list_' + i + '" all_page=' + (data.objects.length/per_page + 1) + ' page=' + i + '>' + i + '</a>　');
                        $('.page' + i).hide();
                    }
                    $('.page_list_1').attr('style', 'font-size: 25px;');
                }
                $('.page' + page).show();

                $('.pages_list').append('共有' + data.objects.length + '筆資料');

                $('.resultChangePage').unbind('click');
                $('.resultChangePage').click(resultChangePage);
            },
            error: REST_ERROR
        })
    }

    function resultChangePage(){
        var $obj = $(this);
        var all_page = $obj.attr('all_page');
        var page = $obj.attr('page');
        $('.resultChangePage').attr('style', '');
        $('.page_list_' + $obj.html()).attr('style', 'font-size: 25px;');
        for (var i=1; i<all_page; i++){
            if (page==i){
                $('.page' + i).show();
            } else {
                $('.page' + i).hide();
            }
        }
    }

    function date_relation(){
        var $obj = $(this);
        var id = $obj.attr('id');
        var field_name = $obj.attr('field_name');
        var from = $('#' + field_name + '_from').val();
        var to = $('#' + field_name + '_to').val();
        if (!$obj.val()){
            $('#' + field_name + '_from').val('');
            $('#' + field_name + '_to').val('');
            return false;
        }
        if (id==field_name + '_from'){
            if (!to) {
                $('#' + field_name + '_to').val(from);
            } else {
                var startArray = from.split("-");
                var endArray = to.split("-");
                var start = new Date(startArray[0], startArray[1], startArray[2]);
                var end = new Date(endArray[0], endArray[1], endArray[2]);
                if (start > end) {
                    $('#' + field_name + '_to').val(from);
                }
            }
        } else if (id==field_name + '_to'){
            if (!from) {
                $('#' + field_name + '_from').val(to);
            } else {
                var startArray = from.split("-");
                var endArray = to.split("-");
                var start = new Date(startArray[0], startArray[1], startArray[2]);
                var end = new Date(endArray[0], endArray[1], endArray[2]);
                if (start > end) {
                    $('#' + field_name + '_from').val(to);
                }
            }
        }
    }

    function search_statistic_project(){
        var $obj = $(this);
        var table_id = $obj.attr('table_id');
        var date_from = $('#date_from').val();
        var date_to = $('#date_to').val();
        if (!date_from || !date_to){
            return false;
        }
        window.location = '/supervise/statistics/' + table_id + '/' + date_from + '/' + date_to + '/';
    }

    $(document).ready(function(){
        $('.search_project').click(search_project); //搜尋
        $('.show_tooltip').tooltip();
        $('#search_statistic_project').click(search_statistic_project);
        $('.date_relation').change(date_relation); //日期 的時間邏輯
    });

</script>



{% endblock %}