.container { width: 1024px !important; }

.list-group .list-group-item a { color: black !important;}

table input[type='text'], table textarea{
    width: 100%;
    line-height: 1;
}

.tr_hover:hover {
    background-color: #FFE7CD;
}

.lobibox-confirm {
    top: 100px !important;
}

.hide_long_string{
    overflow:hidden;
    text-overflow:ellipsis;
    word-break:keep-all;
    white-space:nowrap;
}

#menu_sub .list-group-item.active, #menu_sub .list-group-item.active:hover, #menu_sub .list-group-item.active:focus{
    color: white !important;
}

#menu_sub .list-group-item.active a, #menu_sub .list-group-item.active:hover a, #menu_sub .list-group-item.active:focus a{
    color: white !important;
}