{% extends 'fishuser/index.html' %}

{% block style %}
    .style1 {color: #0066FF}
{% endblock %}
{% block bar %}
{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
<br><br><br>
<ul><h1>申請人基本資料</h1></ul><br><br>
    <span style="font-size: 18px">
    <form method="POST">
        <span class="notice" id="message">{{ message }}</span>
	    <table border="0">
		  <tr align="right">
		    <td>帳　號：</td>
            <td><input id="id_username" type="text" name="username" maxlength="32" vlaue=""/></td>
		  </tr>
        </table>
        <table border="0">
            <tr>
                <td>
                    <ul>
                        <span class="notice">
                            <li><span class="style1">1.帳號需使用『手機號碼』或『室內電話』。</span></li>
                            <li><span class="style1">2.室內電話如有分機則加上"#分機號碼"，例如：(0412345678#001)。</span></li>
                            <li><span class="style1">3.密碼預設與帳號一樣，第一次登入將強制要求修改。</span></li>
                        </span>
                    </ul>
                </td>
            </tr>
        </table>
        <table border="0">
          <tr align="right">
		    <td>姓　(必填)：</td>
		    <td><input id="id_last_name" type="text" name="last_name" maxlength="32" 
		    	value=""/></td>
		  </tr>
		  <tr align="right">
		    <td>名　(必填)：</td>
		    <td><input id="id_first_name" type="text" name="first_name" maxlength="32" 
		    	value=""/></td>
		  </tr>
		  <tr align="right">
		    <td>E-mail(必填)：</td>
		    <td><input id="id_email" type="text" name="email" maxlength="75"
		    	value=""/></td>
		  </tr>
		  <tr align="right">
		    <td>職　稱：</td>
		    <td><input id="id_title" type="text" name="title" maxlength="32" 
		    	value=""/></td>
		  </tr>
		  <tr align="right">
		    <td>電　話：</td>
		    <td><input id="id_phone" type="text" name="phone" maxlength="32" 
		    	value=""/></td>
		  </tr>
		  <tr align="right">
		    <td>傳　真：</td>
		    <td><input id="id_fax" type="text" name="fax" maxlength="32" 
		    	value=""/></td>
		  </tr>
		</table>
        <br>
		<input id="registerUser" type="submit" value="遞出申請" />
        <a href="/u/">取消-回登入頁面</a>
	</form>
    </span>
<br><br><br>

<script type="text/javascript">
    $(document).ready(function(){
        alert('特別注意：監造、營造廠商專用，(漁業署、縣市政府、漁會人員)請洽詢相關帳號管理者!!');
    });
</script>
{% endblock %}
