.now {
    background-color: #FFCCCC;
}
.page {
    margin-left:5px;
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}
.caneditcheckpoint:hover {
    cursor: url(/media/engphoto/images/edit_note.gif);
    font-size: 28px;
}
.menu {
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#big {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(/media/engphoto/images/big.png);
    background-repeat: no-repeat;
    z-index: 400;
}
#level {
    position: absolute;
    width: 20px;
    height: 143px;
    background-image: url(/media/engphoto/images/level.png);
    background-repeat: no-repeat;
    z-index: 400;
}
#small {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(/media/engphoto/images/small.png);
    background-repeat: no-repeat;
    z-index: 400;
}
#CH {
    position: absolute;
    width: 26px;
    height: 10px;
    background-image: url(/media/engphoto/images/CH.png);
    background-repeat: no-repeat;
    z-index: 400;
}
#rightone {
    position: absolute;
    width: 40px;
    height: 61px;
    background-image: url(/media/images/right.png);
    background-repeat: no-repeat;
    z-index: 400;
}
#rightone:hover {
    position: absolute;
    width: 40px;
    height: 61px;
    background-image: url(/media/images/right_hover.png);
    background-repeat: no-repeat;
    z-index: 400;
}
#leftone {
    position: absolute;
    width: 47px;
    height: 61px;
    background-image: url(/media/images/left.png);
    background-repeat: no-repeat;
    z-index: 400;
}
#leftone:hover {
    position: absolute;
    width: 47px;
    height: 61px;
    background-image: url(/media/images/left_hover.png);
    background-repeat: no-repeat;
    z-index: 400;
}
#coordinate { 
    position: absolute;
    z-index: 200;
}
#picture { 
    position: absolute;
}
#picture-container {
    position: absolute;
    display: block;
    overflow: hidden;
}
#menu-container {
    position: absolute;
    display: block;
    overflow: auto;
}
#right-picture {
    left: 2000;
    display: none;
}
#left-picture {
    display: none;
    left: 2000;
}
#left-dialog {
    float: left;
    width: 400px;
    overflow: hidden;
}
#right-dialog {
    float: right;
    width: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}
#upload_fieldlist {
    margin-left: 3px;
    padding: 3px;
}
#upload_photolist {
    margin-left: 3px;
    padding: 3px;
}
