<tr>
    <td align="center" bgcolor="#FFC991">
        統一編號
    </td>
    <td>
        <input
            id="create_no"
            style="border: none"
            size=35/>
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#FFC991">
        負責人姓名
    </td>
    <td>
        <input
            id="create_chairman"
            style="border: none"
            size=35/>
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#FFC991">
        廠商或機關名稱
    </td>
    <td>
        <input
            id="create_name"
            style="border: none"
            size=35/>
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#FFC991">
        廠商或機關全名
    </td>
    <td>
        <input
            id="create_fullname"
            style="border: none"
            size=35/>
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#FFC991">
        廠商或機關地址
    </td>
    <td>
        <input
            id="create_address"
            style="border: none"
            size=35/>
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#FFC991">
        資本額
    </td>
    <td>
        <input
            id="create_capital"
            style="border: none"
            size=35/>
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#FFC991">
        設立日期
    </td>
    <td>
        <input
            id="create_birthday"
            style="border: none"
            type="date"
            size=35/>
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#FFC991">
        營業項目
    </td>
    <td>
        <input
            id="create_operation"
            style="border: none"
            size=35/>
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#FFC991">
        電話
    </td>
    <td>
        <input
            id="create_phone"
            style="border: none"
            size=35/>
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#FFC991">
        傳真
    </td>
    <td>
        <input
            id="create_fax"
            style="border: none"
            size=35/>
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#FFC991">
        網站
    </td>
    <td>
        <input
            id="create_website"
            style="border: none"
            size=35/>
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#FFC991">
        E-mail
    </td>
    <td>
        <input
            id="create_email"
            style="border: none"
            size=35/>
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#FFC991">
        是否為主管(執行)機關
    </td>

    <td>
        <input
            id="create_exec"
            class="checkbox"
            style="border: none"
            type="checkbox"
            size=35
            value="1"/>
    </td>
</tr>



