<tr>
    <td align="center" bgcolor="#FFC991">
        統一編號
    </td>
    <td>
        <input
            style="border: none"
            type="text" class="BlurUpdateInfo needExist"
            field_type="str"
            row_id="${id}"
            field_name="no"
            table_name="unit"
            module_name='fishuser'
            size=35
            old_value="${no}"
            value="${no}"/>
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#FFC991">
        負責人姓名
    </td>
    <td>
        <input
            style="border: none"
            type="text" class="BlurUpdateInfo"
            field_type="str"
            row_id="${id}"
            field_name="chairman"
            table_name="unit"
            module_name='fishuser'
            size=35
            old_value="${chairman}"
            value="${chairman}"/>
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#FFC991">
        廠商或機關名稱
    </td>
    <td>
        <input
            style="border: none"
            type="text" class="BlurUpdateInfo"
            field_type="str"
            row_id="${id}"
            field_name="name"
            table_name="unit"
            module_name='fishuser'
            size=35
            old_value="${name}"
            value="${name}"/>
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#FFC991">
        廠商或機關全名
    </td>
    <td>
        <input
            style="border: none"
            type="text" class="BlurUpdateInfo"
            field_type="str"
            row_id="${id}"
            field_name="fullname"
            table_name="unit"
            module_name='fishuser'
            size=35
            old_value="${fullname}"
            value="${fullname}"/>
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#FFC991">
        廠商或機關地址
    </td>
    <td>
        <input
            style="border: none"
            type="text" class="BlurUpdateInfo"
            field_type="str"
            row_id="${id}"
            field_name="address"
            table_name="unit"
            module_name='fishuser'
            size=35
            old_value="${address}"
            value="${address}"/>
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#FFC991">
        資本額
    </td>
    <td>
        <input
            style="border: none"
            type="text" class="BlurUpdateInfo"
            field_type="str"
            row_id="${id}"
            field_name="capital"
            table_name="unit"
            module_name='fishuser'
            size=35
            old_value="${capital}"
            value="${capital}"/>
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#FFC991">
        設立日期
    </td>
    <td>
        <input
            style="border: none"
            type="text" class="BlurUpdateInfo"
            field_type="str"
            row_id="${id}"
            field_name="birthday"
            table_name="unit"
            module_name='fishuser'
            size=35
            old_value="${birthday}"
            value="${birthday}"/>
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#FFC991">
        營業項目
    </td>
    <td>
        <input
            style="border: none"
            type="text" class="BlurUpdateInfo"
            field_type="str"
            row_id="${id}"
            field_name="operation"
            table_name="unit"
            module_name='fishuser'
            size=35
            old_value="${operation}"
            value="${operation}"/>
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#FFC991">
        電話
    </td>
    <td>
        <input
            style="border: none"
            type="text" class="BlurUpdateInfo"
            field_type="str"
            row_id="${id}"
            field_name="phone"
            table_name="unit"
            module_name='fishuser'
            size=35
            old_value="${phone}"
            value="${phone}"/>
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#FFC991">
        傳真
    </td>
    <td>
        <input
            style="border: none"
            type="text" class="BlurUpdateInfo"
            field_type="str"
            row_id="${id}"
            field_name="fax"
            table_name="unit"
            module_name='fishuser'
            size=35
            old_value="${fax}"
            value="${fax}"/>
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#FFC991">
        網站
    </td>
    <td>
        <input
            style="border: none"
            type="text" class="BlurUpdateInfo"
            field_type="str"
            row_id="${id}"
            field_name="website"
            table_name="unit"
            module_name='fishuser'
            size=35
            old_value="${website}"
            value="${website}"/>
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#FFC991">
        E-mail
    </td>
    <td>
        <input
            style="border: none"
            type="text" class="BlurUpdateInfo"
            field_type="str"
            row_id="${id}"
            field_name="email"
            table_name="unit"
            module_name='fishuser'
            size=35
            old_value="${email}"
            value="${email}"/>
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#FFC991">
        是否為主管(執行)機關
    </td>

    <td>
        <input
            id="myCheckBox"
            class="checkbox"
            style="border: none"
            type="checkbox"
            row_id="${id}"
            size=35
            value="1"
            onblur="my_update('${id}')"/>
    </td>
</tr>



