{% extends "fishuser/zh-tw/base.html" %}
{% load i18n %}
{% load humanize %}
{% load utiltags %}

{% block js_in_compress %}
    <script type="text/javascript" src="/media/frcm/v2/js/frcm.js"></script>
    <script>
        var edit = {% if edit %}true{% else %}false{% endif %};
        var project_id = '{{ project.id }}';
    </script>
{% endblock %}

{% block body %}
<style>
    td.info{
        background-color: #25D986
    }
    a {
        text-decoration: none !important;
    }
    .align_right {
        text-align: right;
    }
    .get_dailyreport_pcc_info{
        margin-bottom: 8px;
    }
</style>

<h2>{{ project.name }}</h2>
<div class="profile">
    <input type="hidden" id="project_id" value="{{ project.id }}">
    <input type="hidden" id="undertake_type" value="{{ project.undertake_type.value }}">
    <table>
        <tr>
            <td width="200">
                <a class="print_hide" href="/media/project/v1/file/chase_example.zip"><button class="btn btn-success">監造提供資料範例表格下載!!</button></a>
            </td>
            <td width="420">
                <a id="set_print_page"><button class="btn btn-info">列印此頁</button></a>
            </td>
            <td width="100" align="center" class="print_hide" style="vertical-align: top">
                <a href="{% url 'go_photo' project_id=project.id %}" target="_blank">
                <img src="/media/frcm/v2/image/eng-photo.png" width="50" title="施工相片">
                </a>
                <br>施工相片
            </td>
            <td width="100" align="center" class="print_hide" style="vertical-align: top">
                <a href="/dailyreport/start_page/{{ project.id }}/" target="_blank">
                <img src="/media/frcm/v2/image/daily-report.png" width="50" title="日報表">
                </a>
                <br>日報表
            </td>
            <td width="100" align="center" class="print_hide" style="vertical-align: top">
                <a href="/frcm/file_upload_project/base/{{ project.id }}/" target="_blank">
                <img src="/media/frcm/v2/image/file-upload.png" width="50" title="檔案上傳">
                </a>
                <br>檔案上傳
            </td>
            <td width="100" align="center" class="print_hide" style="vertical-align: top">
                <a href="#" data-toggle="modal" data-target="#pcc_report_info">
                <img src="/media/frcm/v2/image/pcc.png" width="50" title="標案系統填報參考">
                </a>
                <br>標案系統<br>填報參考
            </td>
        </tr>
    </table>

    <div class="modal fade print_hide" id="pcc_report_info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:950px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">標案系統填報參考</h4>
                </div>
                <div class="modal-body" align="left" style="font-size: 16px;">
                    {% if engprofile %}
                        <h3>請選擇結算基準日期</h3>
                        {% for d in engprofile.months %}
                            <button class="btn btn-info get_dailyreport_pcc_info" type="button">{{ d|date:"Y-m-d" }}</button>
                        {% endfor %}
                        <table class="table table-bordered" id="table_pcc_info_progress" style="table-layout: fixed;display:none">
                            <caption>進度資訊</caption>
                            <col width="150px">
                            <col>
                            <col width="150px">
                            <col>
                            <col width="150px">
                            <col>
                            <tr>
                                <td class="warning">累計已用工期</td>
                                <td colspan="5"><span name="accumulated"></span> 天</td>
                            </tr>
                            <tr>
                                <td class="warning">累計預定進度</td>
                                <td class="align_right"><span name="schedule_progress"></span> %</td>
                                <td class="warning">累計實際進度<br>(監造)</td>
                                <td class="align_right"><span name="actual_progress_i"></span> %</td>
                                <td class="warning">累計實際進度<br>(施工)</td>
                                <td class="align_right"><span name="actual_progress_c"></span> %</td>
                            </tr>
                            <tr>
                                <td class="warning">累計預定完成金額</td>
                                <td class="align_right"><span name="schedule_cost"></span> 元</td>
                                <td class="warning">累計實際完成金額<br>(監造)</td>
                                <td class="align_right"><span name="actual_cost_i"></span> 元</td>
                                <td class="warning">累計實際完成金額<br>(施工)</td>
                                <td class="align_right"><span name="actual_cost_c"></span> 元</td>
                            </tr>
                            <tr>
                                <td class="warning">年度累計預定進度</td>
                                <td class="align_right"><span name="year_schedule_progress"></span> %</td>
                                <td class="warning">年度累計實際進度<br>(監造)</td>
                                <td class="align_right"><span name="year_actual_progress_i"></span> %</td>
                                <td class="warning">年度累計實際進度<br>(施工)</td>
                                <td class="align_right"><span name="year_actual_progress_c"></span> %</td>
                            </tr>
                            <tr>
                                <td class="warning">年度累計預定完成金額</td>
                                <td class="align_right"><span name="year_schedule_cost"></span> 元</td>
                                <td class="warning">年度累計實際完成金額<br>(監造)</td>
                                <td class="align_right"><span name="year_actual_cost_i"></span> 元</td>
                                <td class="warning">年度累計實際完成金額<br>(施工)</td>
                                <td class="align_right"><span name="year_actual_cost_c"></span> 元</td>
                            </tr>
                        </table>
                        <br>
                        <table class="table table-bordered" id="table_pcc_info_equipment_and_crew" style="table-layout: fixed;display:none">
                            <caption>機具及人員資訊</caption>
                            <col width="150px">
                            <col>
                            <col width="250px">
                            <thead>
                                <tr class="warning">
                                    <th>類別</th>
                                    <th>名稱</th>
                                    <th>當月數量</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    {% else %}
                        <h3 style="color: blue">資料來源整理於日報表系統，此工程尚未完整填報日報表系統。</h3>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>


    <div align="right" class="print_hide">
        <button class="btn btn-info" data-toggle="modal" data-target="#msg_invite_i_c">
            <span class="glyphicon glyphicon-star-empty"></span>
            小提示：邀請監造與營造
            <span class="glyphicon glyphicon-star-empty"></span>
        </button>
    </div>
    <div class="modal fade print_hide" id="msg_invite_i_c" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">邀請監造與營造</h4>
                </div>
                <div class="modal-body" align="left" style="font-size: 16px;">
                    <ol>
                        <li>通知監造/營造，並告知此工程之監造/營造認領碼(見工程基本資料)。</li>
                        <li>營造廠商於本系統首頁『自行申請帳號』。</li>
                        <li>監造/營造於《遠端管理系統/認領工程》分頁中，輸入認領碼即可完成認領。</li>
                        <li>提醒：監造認領碼為『6碼英文』、營造認領碼為『6碼數字』。</li>
                        <li>提醒：監造/營造可申請多組帳號進行管理。</li>
                    </ol>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    {% if edit_supervise %}
        <span class="print_hide">
        <br>
        {% if project.supervisecase_set.all %}
            {% for case in project.supervisecase_set.all %}
                <button class="btn btn-warning print_hide" onclick="window.location='/supervise/error_imporve/{{ case.id }}/';">
                    本工程於『{{ case.date }}』經漁業署督導，請點我填寫『缺失改善紀錄表』
                </button>
                <br><br>
            {% endfor %}
        {% endif %}
        </span>
    {% endif %}
</div>

{% if chase_data %}
    <div class="profile print_hide">
        <a href="/frcm/project_chase/{{ project.id }}/">
            <button name="btn_not_complete" class="btn btn-danger btn-lg" type="button" {% if chase_data.complete %}style="display:none"{% endif %}>
                <img class="chase_light" src="/media/frcm/v2/image/{% if not chase_data.complete %}red_light.gif{% else %}green_light.gif{% endif %}">
                您本次縣市進度追蹤尚未填寫，點我至填寫頁面
                <img class="chase_light" src="/media/frcm/v2/image/{% if not chase_data.complete %}red_light.gif{% else %}green_light.gif{% endif %}">
            </button>
            <button name="btn_complete" {% if not chase_data.complete %}style="display:none"{% endif %} class="btn btn-info btn-lg" type="button">您縣市進度追蹤已填寫提交，點我觀看填寫內容</button>
        </a>
    </div>
{% endif %}

<div class="profile print_hide">
    {% include 'frcm/zh-tw/project_profile_engineer.html' %}
    <P style='page-break-after:always'></P>
</div>

<div class="profile">
    {% if user.is_superuser %}
    <h3 class="text-primary print_hide">工程設定</h3>
    <table class="table table-bordered print_hide" style="font-size: 14px;">
        <tr>
            <td width="17%" class="active">使用新式相片系統</td>
            <td width="33%" align="center">
                {% if edit %}
                    <select
                        id='use_gallery'
                        class="BlurUpdateInfo form-control"
                        is_select="true"
                        row_id="{{ project.id }}"
                        field_name="use_gallery"
                        table_name="project"
                        module_name='fishuser'
                        old_value="{% if project.use_gallery %}true{% else %}false{% endif %}">
                            <option value="true" {% if project.use_gallery %}selected="selected"{% endif %}>是</option>
                            <option value="false" {% if not project.use_gallery %}selected="selected"{% endif %}>否</option>
                    </select>
                {% else %}
                    {% if project.use_gallery %}是{% else %}否{% endif %}
                {% endif %}
            </td>
            <td width="17%" class="active"></td>
            <td width="33%"></td>
        </tr>
    </table>
    {% endif %}
</div>

<div class="profile">
    <h3 class="text-primary">工程基本資料</h3>
    <table class="table table-bordered" style="font-size: 14px;">
        <tr>
            <td width="17%" class="active">年度</td>
            <td width="33%" align="left">{{ project.year }}</td>
            <td width="17%" class="active">縣市</td>
            <td width="33%">{{ project.place.name }}</td>
        </tr>
        <tr>
            <td class="active">計畫經費來源</td>
            <td align="left" colspan="3">{{ project.get_plan_name }}</td>
        </tr>
        <tr>
            <td width="150" class="active">工程會標案編號</td>
            <td colspan="3" {% if not project.pcc_no %}bgcolor="#FFB0AF"{% endif %}>
                <div class="row">
                    <div class="col-md-8">
                        {% if edit %}
                            <input
                                id="project_pcc_no_{{ project.id }}"
                                type="text" class="BlurUpdateInfo form-control"
                                field_type="str"
                                row_id="{{ project.id }}"
                                field_name="pcc_no"
                                table_name="project"
                                module_name='fishuser'
                                placeholder="請填入工程會編號(重要)"
                                old_value="{{ project.pcc_no|default_if_none:'' }}"
                                value="{{ project.pcc_no|default_if_none:'' }}"/>
                        {% else %}
                            <input
                                id="project_pcc_no_{{ project.id }}"
                                type="text" class="form-control" disabled
                                placeholder="尚未填寫"
                                value="{{ project.pcc_no|default_if_none:'' }}"/>
                        {% endif %}
                    </div>
                    <div class="col-md-4" align="right">
                        <button class="btn btn-info" onclick="window.open('/frcm/print_pcc_information/{{ project.pcc_no }}/')"  {% if not project.pcc_no %}style="display:none;"{% endif %}>顯示工程會資料</button>
                        {% if edit and project.pcc_no %}
                            <button title="重新同步" class="btn btn-warning" style="height:34px" onclick="$('#project_pcc_no_{{ project.id }}').attr('old_value', '');$('#project_pcc_no_{{ project.id }}').blur();"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                        {% endif %}
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="active">契約編號<span style="font-size:12px;">(署內案號)</span></td>
            {% if edit %}
                <td colspan="3">
                    <input
                        type="text" class="BlurUpdateInfo form-control"
                        field_type="str"
                        row_id="{{ project.id }}"
                        field_name="bid_no"
                        table_name="project"
                        module_name='fishuser'
                        placeholder="待輸入"
                        old_value="{{ project.bid_no|default_if_none:'' }}"
                        value="{{ project.bid_no|default_if_none:'' }}"/>
                </td>
            {% else %}
                <td colspan="3">
                    {{ project.bid_no|default_if_none:'' }}
                </td>
            {% endif %}
        </tr>
        <tr>
            <td class="active">採購類別<span style="font-size:12px;">(工程/勞務)</span></td>
            <td colspan="3">
                {{ project.purchase_type.value }}
            </td>
        </tr>
        <tr>
            <td class="active"></td>
            <td align="left"></td>
            <td class="active">發文(核定)日期</td>
            <td align="left">{{ chase_one_by_one.get_vouch_date|default_if_none:'' }}</td>
        </tr>
        <tr>
            <td class="active">執行機關</td>
            <td align="left">{{ project.unit.name }}</td>
            <td bgcolor="#92D3B5">工期計算方式</td>
            <td align="left">
                {% if edit %}
                    <select
                        class="BlurUpdateInfo form-control select_duration_type"
                        is_select="true"
                        row_id="{{ project.id }}"
                        field_name="frcm_duration_type"
                        table_name="project"
                        module_name='fishuser'
                        old_value="/fishuser/api/v2/option/{{ project.frcm_duration_type.id }}/">
                        {% for type in option.duration_type %}
                            <option value="/fishuser/api/v2/option/{{ type.id }}/" {% ifequal project.frcm_duration_type.id type.id %}selected="selected"{% endifequal %}>{{ type.value }}</option>
                        {% endfor %}
                    </select>
                    <div id="div_frcm_duration" {% ifequal project.frcm_duration_type.value '限期完工(日曆天每日施工)' %}style="display: none;"{% endifequal %}>
                        <div class="input-group">
                            <span class="input-group-addon">工期：</span>
                            <input
                                type="text" class="BlurUpdateInfo form-control"
                                field_type="int" style="text-align: right;"
                                row_id="{{ project.id }}"
                                field_name="frcm_duration"
                                table_name="project"
                                module_name='fishuser'
                                placeholder="待輸入"
                                old_value="{{ project.frcm_duration|default_if_none:'' }}"
                                value="{{ project.frcm_duration|default_if_none:'' }}"/>
                            <span class="input-group-addon">天</span>
                        </div>
                    </div>
                    <div id="div_frcm_duration_limit" {% ifnotequal project.frcm_duration_type.value '限期完工(日曆天每日施工)' %}style="display: none;"{% endifnotequal %}>
                        <div class="input-group">
                            <span class="input-group-addon">完工日期：</span>
                            <input
                                type="text" class="BlurUpdateInfo datepicker form-control"
                                field_type="date" style="text-align: right;"
                                row_id="{{ project.id }}"
                                field_name="frcm_duration_limit"
                                table_name="project"
                                module_name='fishuser'
                                placeholder="待輸入"
                                old_value="{{ project.frcm_duration_limit|default_if_none:'' }}"
                                value="{{ project.frcm_duration_limit|default_if_none:'' }}"/>
                            <span class="input-group-addon">天</span>
                        </div>
                    </div>
                {% else %}
                    {{ project.frcm_inspector_type.value }}
                    {% ifnotequal project.frcm_duration_type.value '限期完工(日曆天每日施工)' %}
                        工期：{{ project.frcm_duration }} 天
                    {% else %}
                        完工日期：{{ project.frcm_duration_limit }}
                    {% endifnotequal %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="active">X座標(M)<br>TWD97</td>
                {% if edit %}
                    <td>
                        <input
                            type="text" class="BlurUpdateInfo form-control"
                            field_type="int"
                            row_id="{{ project.id }}"
                            field_name="x_coord"
                            table_name="project"
                            module_name='fishuser'
                            placeholder="待輸入"
                            old_value="{{ project.x_coord|default_if_none:'' }}"
                            value="{{ project.x_coord|default_if_none:'' }}"/>
                    </td>
                {% else %}
                    <td>
                        {{ project.x_coord|default_if_none:'' }}
                    </td>
                {% endif %}
            <td bgcolor="#92D3B5">監造方式</td>
            <td align="left">
                {% if edit %}
                    <select
                        id='inspector_type'
                        class="BlurUpdateInfo form-control"
                        is_select="true"
                        row_id="{{ project.id }}"
                        field_name="frcm_inspector_type"
                        table_name="project"
                        module_name='fishuser'
                        old_value="/fishuser/api/v2/option/{{ project.frcm_inspector_type.id }}/">
                        {% for type in option.inspector_type %}
                            <option value="/fishuser/api/v2/option/{{ type.id }}/" {% ifequal project.frcm_inspector_type.id type.id %}selected="selected"{% endifequal %}>{{ type.value }}</option>
                        {% endfor %}
                    </select>
                {% else %}
                    {{ project.frcm_inspector_type.value }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="active">Y座標(M)<br>TWD97</td>
                {% if edit %}
                    <td>
                        <input
                            type="text" class="BlurUpdateInfo form-control"
                            field_type="int"
                            row_id="{{ project.id }}"
                            field_name="y_coord"
                            table_name="project"
                            module_name='fishuser'
                            placeholder="待輸入"
                            old_value="{{ project.y_coord|default_if_none:'' }}"
                            value="{{ project.y_coord|default_if_none:'' }}"/>
                    </td>
                {% else %}
                    <td>
                        {{ project.y_coord }}
                    </td>
                {% endif %}
            <td class="active">承辦方式</td>
            <td align="left">{{ project.undertake_type }}</td>
        </tr>
        <tr>
            <td class="active">工程相片公開</td>
            <td align="left">
                {% if edit %}
                    <select
                        class="BlurUpdateInfo form-control"
                        is_select="true"
                        row_id="{{ project.id }}"
                        field_name="is_public"
                        table_name="project"
                        module_name='fishuser'
                        old_value="{% if project.is_public %}true{% else %}false{% endif %}">
                            <option value="false" {% if not project.is_public %}selected="selected"{% endif %}>非公開</option>
                            <option value="true" {% if project.is_public %}selected="selected"{% endif %}>公開</option>
                    </select>
                {% else %}
                    {% if project.is_public %}公開{% else %}非公開{% endif %}
                {% endif %}
            </td>
            <td class="active">署內負責人</td>
            <td align="left">{{ project.self_charge|default_if_none:'' }}</td>
        </tr>
        <tr>
            <td class="info">縣市主管</td>
            <td align="left">
                {% if edit %}
                    <input
                        type="text" class="BlurUpdateInfo form-control"
                        field_type="str"
                        row_id="{{ project.id }}"
                        field_name="local_manager"
                        table_name="project"
                        module_name='fishuser'
                        placeholder="待輸入"
                        old_value="{{ project.local_manager|default_if_none:'' }}"
                        value="{{ project.local_manager|default_if_none:'' }}"/>
                {% else %}
                    {{ project.local_manager|default_if_none:'' }}
                {% endif %}
            </td>
            <td class="active">署內聯絡人</td>
            <td align="left">
                {{ project.self_contacter|default_if_none:'' }}
            </td>
        </tr>
        <tr>
            <td class="info">縣市主管電話</td>
            <td align="left">
                {% if edit %}
                    <input
                        type="text" class="BlurUpdateInfo form-control"
                        field_type="str"
                        row_id="{{ project.id }}"
                        field_name="local_manager_phone"
                        table_name="project"
                        module_name='fishuser'
                        placeholder="待輸入"
                        old_value="{{ project.local_manager_phone|default_if_none:'' }}"
                        value="{{ project.local_manager_phone|default_if_none:'' }}"/>
                {% else %}
                    {{ project.local_manager_phone|default_if_none:'' }}
                {% endif %}
            </td>
            <td class="active">署內聯絡人電話</td>
            <td align="left">
                {{ project.self_contacter_phone|default_if_none:'' }}
            </td>
        </tr>
        <tr>
            <td class="info">縣市主管Email</td>
            <td align="left">
                {% if edit %}
                    <input
                        type="text" class="BlurUpdateInfo form-control"
                        field_type="str"
                        row_id="{{ project.id }}"
                        field_name="local_manager_email"
                        table_name="project"
                        module_name='fishuser'
                        placeholder="待輸入"
                        old_value="{{ project.local_manager_email|default_if_none:'' }}"
                        value="{{ project.local_manager_email|default_if_none:'' }}"/>
                {% else %}
                    {{ project.local_manager_email|default_if_none:'' }}
                {% endif %}
            </td>
            <td class="active">署內聯絡人Email</td>
            <td align="left">
                {{ project.self_contacter_email|default_if_none:'' }}
            </td>
        </tr>
        <tr>
            <td bgcolor="#D6FFAF">縣市負責人</td>
                {% if edit %}
                    <td>
                        <input
                            type="text" class="BlurUpdateInfo form-control"
                            field_type="str"
                            row_id="{{ project.id }}"
                            field_name="local_charge"
                            table_name="project"
                            module_name='fishuser'
                            placeholder="待輸入"
                            old_value="{{ project.local_charge|default_if_none:'' }}"
                            value="{{ project.local_charge|default_if_none:'' }}"/>
                    </td>
                {% else %}
                    <td>
                        {{ project.local_charge }}
                    </td>
                {% endif %}
            <td bgcolor="#FFE7CD">廠商負責人</td>
                {% if edit %}
                    <td>
                        <input
                            type="text" class="BlurUpdateInfo form-control"
                            field_type="str"
                            row_id="{{ project.id }}"
                            field_name="contractor_charge"
                            table_name="project"
                            module_name='fishuser'
                            placeholder="待輸入"
                            old_value="{{ project.contractor_charge|default_if_none:'' }}"
                            value="{{ project.contractor_charge|default_if_none:'' }}"/>
                    </td>
                {% else %}
                    <td>
                        {{ project.contractor_charge }}
                    </td>
                {% endif %}
        </tr>
        <tr>
            <td bgcolor="#D6FFAF">縣市聯絡人</td>
                {% if edit %}
                    <td>
                        <input
                            type="text" class="BlurUpdateInfo form-control"
                            field_type="str"
                            row_id="{{ project.id }}"
                            field_name="local_contacter"
                            table_name="project"
                            module_name='fishuser'
                            placeholder="待輸入"
                            old_value="{{ project.local_contacter|default_if_none:'' }}"
                            value="{{ project.local_contacter|default_if_none:'' }}"/>
                    </td>
                {% else %}
                    <td>
                        {{ project.local_contacter }}
                    </td>
                {% endif %}
            <td bgcolor="#FFE7CD">廠商聯絡人</td>
                {% if edit %}
                    <td>
                        <input
                            type="text" class="BlurUpdateInfo form-control"
                            field_type="str"
                            row_id="{{ project.id }}"
                            field_name="contractor_contacter"
                            table_name="project"
                            module_name='fishuser'
                            placeholder="待輸入"
                            old_value="{{ project.contractor_contacter|default_if_none:'' }}"
                            value="{{ project.contractor_contacter|default_if_none:'' }}"/>
                    </td>
                {% else %}
                    <td>
                        {{ project.contractor_contacter }}
                    </td>
                {% endif %}
        </tr>

        <tr>
            <td bgcolor="#D6FFAF">縣市聯絡人電話</td>
                {% if edit %}
                    <td>
                        <input
                            type="text" class="BlurUpdateInfo form-control"
                            field_type="str"
                            row_id="{{ project.id }}"
                            field_name="local_contacter_phone"
                            table_name="project"
                            module_name='fishuser'
                            placeholder="待輸入"
                            old_value="{{ project.local_contacter_phone|default_if_none:'' }}"
                            value="{{ project.local_contacter_phone|default_if_none:'' }}"/>
                    </td>
                {% else %}
                    <td>
                        {{ project.local_contacter_phone }}
                    </td>
                {% endif %}
            <td bgcolor="#FFE7CD">廠商聯絡人電話</td>
                {% if edit %}
                    <td>
                        <input
                            type="text" class="BlurUpdateInfo form-control"
                            field_type="str"
                            row_id="{{ project.id }}"
                            field_name="contractor_contacter_phone"
                            table_name="project"
                            module_name='fishuser'
                            placeholder="待輸入"
                            old_value="{{ project.contractor_contacter_phone|default_if_none:'' }}"
                            value="{{ project.contractor_contacter_phone|default_if_none:'' }}"/>
                    </td>
                {% else %}
                    <td>
                        {{ project.contractor_contacter_phone }}
                    </td>
                {% endif %}
        </tr>
        <tr>
            <td bgcolor="#D6FFAF">縣市聯絡人Email</td>
            <td align="left">
                {% if edit %}
                    <input
                        type="text" class="BlurUpdateInfo form-control"
                        field_type="str"
                        row_id="{{ project.id }}"
                        field_name="local_contacter_email"
                        table_name="project"
                        module_name='fishuser'
                        placeholder="待輸入"
                        old_value="{{ project.local_contacter_email|default_if_none:'' }}"
                        value="{{ project.local_contacter_email|default_if_none:'' }}"/>
                {% else %}
                    {{ project.local_contacter_phone|default_if_none:'' }}
                {% endif %}
            </td>
            <td bgcolor="#FFE7CD">廠商聯絡人Email</td>
            <td align="left">
                {% if edit %}
                    <input
                        type="text" class="BlurUpdateInfo form-control"
                        field_type="str"
                        row_id="{{ project.id }}"
                        field_name="contractor_contacter_email"
                        table_name="project"
                        module_name='fishuser'
                        placeholder="待輸入"
                        old_value="{{ project.contractor_contacter_email|default_if_none:'' }}"
                        value="{{ project.contractor_contacter_email|default_if_none:'' }}"/>
                {% else %}
                    {{ project.contractor_contacter_phone|default_if_none:'' }}
                {% endif %}
            </tr>
        </tr>
        <tr>
            <td class="active">監造認領密碼</td>
            <td align="left">
                {% if user.is_staff %}
                    {{ project.inspector_code }}
                {% else %}
                    {% ifequal project.identity '負責主辦工程師' %}
                        {{ project.inspector_code }}
                    {% endifequal %}
                    {% ifequal project.identity '協同主辦工程師' %}
                        {{ project.inspector_code }}
                    {% endifequal %}
                    {% ifequal project.identity '自辦主辦工程師' %}
                        {{ project.inspector_code }}
                    {% endifequal %}
                    {% ifequal project.identity '監造廠商' %}
                        {{ project.inspector_code }}
                    {% endifequal %}
                {% endif %}
            </td>
            <td class="active">營造認領密碼</td>
            <td align="left">
                {% if user.is_staff %}
                    {{ project.contractor_code }}
                {% else %}
                    {% ifequal project.identity '負責主辦工程師' %}
                        {{ project.contractor_code }}
                    {% endifequal %}
                    {% ifequal project.identity '協同主辦工程師' %}
                        {{ project.contractor_code }}
                    {% endifequal %}
                    {% ifequal project.identity '自辦主辦工程師' %}
                        {{ project.contractor_code }}
                    {% endifequal %}
                    {% ifequal project.identity '營造廠商' %}
                        {{ project.contractor_code }}
                    {% endifequal %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="active">監造帳號列表</td>
            <td align="left">
                {% for u in project.inspectors %}
                    <div id="div_user_{{ u.id }}">
                        {{ u.user.user_profile.rName }}({{ u.user.username }})
                        {% if edit %}
                            <button class="deleteRow btn btn-sm btn-danger"
                                    module_name="fishuser"
                                    table_name="frcmusergroup"
                                    row_id="{{ u.id }}"
                                    remove_target="div_user_{{ u.id }}"
                                    message="按此剔除({{ u.user.username }})的存取權限"
                                    title="按此剔除({{ u.user.username }})的存取權限">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        {% endif %}
                        {% ifequal u.user user %}
                            <button class="btn btn-danger btn-sm set_engineer_status" set="quit" row_id="{{ u.id }}">放棄</button>
                        {% endifequal %}
                        <br>
                    </div>
                {% endfor %}
            </td>
            <td class="active">營造帳號列表</td>
            <td align="left">
                {% for u in project.contractors %}
                    <div id="div_user_{{ u.id }}">
                        {{ u.user.user_profile.rName }}({{ u.user.username }})
                        {% if edit %}
                            <button class="deleteRow btn btn-sm btn-danger"
                                    module_name="fishuser"
                                    table_name="frcmusergroup"
                                    row_id="{{ u.id }}"
                                    remove_target="div_user_{{ u.id }}"
                                    message="按此剔除({{ u.user.username }})的存取權限"
                                    title="按此剔除({{ u.user.username }})的存取權限">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        {% endif %}
                        {% ifequal u.user user %}
                            <button class="btn btn-danger btn-sm set_engineer_status" set="quit" row_id="{{ u.id }}">放棄</button>
                        {% endifequal %}
                        <br>
                    </div>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td class="active" colspan="4" align="center">備註</td>
        </tr>
        <tr>
            <td align="left" colspan="4">
                {{ project.project_memo|linebreaks }}
            </td>
        </tr>
    </table>
</div>

<div class="profile">
    <P style='page-break-after:always'></P>
    {% include "frcm/zh-tw/project_profile_bid_info.html" %}
    <P style='page-break-after:always'></P>
</div>
<div class="profile_and_chase">
    {% include "frcm/zh-tw/project_profile_milestone.html" %}
    <P style='page-break-after:always'></P>
</div>
<div class="profile">
    {% include "frcm/zh-tw/project_profile_allocation.html" %}
</div>

{% include 'project/zh-tw/page_pcc_information.html' %}


<script type="text/javascript">
    function select_duration_type() {
        var $obj = $(this);
        var value = $obj.val();
        if (value == '/fishuser/api/v2/option/185/'){
            //代表選了"限期完工(日曆天每日施工)"
            $('#div_frcm_duration_limit').show();
            $('#div_frcm_duration').hide();
        } else {
            $('#div_frcm_duration_limit').hide();
            $('#div_frcm_duration').show();
        }
    }

    function bid_money_field(update_manage=true) {
        var $obj = $(this);
        var project_id = $('#project_id').val();
        var undertake_type = $('#undertake_type').val();
        var fields = ['construction_bid', 'planning_design_inspect', 'manage', 'pollution'];
        var ok = false;
        var disabled = edit == false;
        if ($('.add_bid_money_value').length>0){
            $.each($('.add_bid_money_value'), function(){
                var $obj = $(this);
                var listname_field_name = $obj.attr('listname_field_name');
                if ((listname_field_name == '規劃費' || listname_field_name == '設計金額' || listname_field_name == '監造金額') || !edit){
                    disabled = true;
                }
                ok = true;
            });
        } else {
            ok = true;
        }
        if (ok){
            $('input[field_name=planning_design_inspect]').attr('disabled', disabled);
            $('input[field_name=settlement_planning_design_inspect]').attr('disabled', disabled);
        }

        if (update_manage && undertake_type=='自辦' &&  ['construction_bid', 'safety_fee', 'business_tax'].indexOf($obj.attr('field_name')) != -1){
            if ($('input[field_name=construction_bid]').val()){
                var A = remove_TransformThousands($('input[field_name=construction_bid]').val());
            } else {
                var A = 0;
            }
            if ($('input[field_name=safety_fee]').val()){
                var B = remove_TransformThousands($('input[field_name=safety_fee]').val());
            } else {
                var B = 0;
            }
            if ($('input[field_name=business_tax]').val()){
                var C = remove_TransformThousands($('input[field_name=business_tax]').val());
            } else {
                var C = 0;
            }
            var D = parseFloat(A) - parseFloat(B) - parseFloat(C);
            if (D < 5000000){
                var E = D * 0.03;
            } else if (D < 25000000){
                var E = 5000000 * 0.03 + (D-5000000) * 0.015;
            } else if (D < 100000000){
                var E = 5000000 * 0.03 + (25000000-5000000) * 0.015 + (D-25000000) * 0.01;
            } else if (D < 500000000){
                var E = 5000000 * 0.03 + (25000000-5000000) * 0.015 + (100000000-25000000) * 0.01 + (D-100000000) * 0.007;
            } else {
                var E = 5000000 * 0.03 + (25000000-5000000) * 0.015 + (100000000-25000000) * 0.01 + (500000000-100000000) * 0.007 + (D-500000000) * 0.005;
            }
            if (E<0){
                E = 0;
            }
            $('input[field_name=manage]').val(TransformThousands(parseInt(E)));
        }
        if (update_manage && undertake_type=='自辦' &&  ['settlement_construction_bid', 'settlement_safety_fee', 'settlement_business_tax'].indexOf($obj.attr('field_name')) != -1){
            if ($('input[field_name=settlement_construction_bid]').val()){
                var A = remove_TransformThousands($('input[field_name=settlement_construction_bid]').val());
            } else {
                var A = 0;
            }
            if ($('input[field_name=settlement_safety_fee]').val()){
                var B = remove_TransformThousands($('input[field_name=settlement_safety_fee]').val());
            } else {
                var B = 0;
            }
            if ($('input[field_name=settlement_business_tax]').val()){
                var C = remove_TransformThousands($('input[field_name=settlement_business_tax]').val());
            } else {
                var C = 0;
            }
            var D = parseFloat(A) - parseFloat(B) - parseFloat(C);
            if (D < 5000000){
                var E = D * 0.03;
            } else if (D < 25000000){
                var E = 5000000 * 0.03 + (D-5000000) * 0.015;
            } else if (D < 100000000){
                var E = 5000000 * 0.03 + (25000000-5000000) * 0.015 + (D-25000000) * 0.01;
            } else if (D < 500000000){
                var E = 5000000 * 0.03 + (25000000-5000000) * 0.015 + (100000000-25000000) * 0.01 + (D-100000000) * 0.007;
            } else {
                var E = 5000000 * 0.03 + (25000000-5000000) * 0.015 + (100000000-25000000) * 0.01 + (500000000-100000000) * 0.007 + (D-500000000) * 0.005;
            }
            if (E<0){
                E = 0;
            }
            $('input[field_name=settlement_manage]').val(TransformThousands(parseInt(E)));
        }
        recount_total_money();

        function recount_total_money(){
            var fields = ['construction_bid', 'planning_design_inspect', 'manage', 'pollution'];
            var total_money_settlement = $('#bid_settlement_total_money').val();
            if (total_money_settlement && total_money_settlement != '0'){
                $('#final_settlement_total_money').html(TransformThousands(total_money_settlement));
            } else {
                var money_sum = 0;
                for (i=0; i<fields.length; i++){
                    if ($('input[field_name=settlement_' + fields[i] + ']').val()){
                        var num = remove_TransformThousands($('input[field_name=settlement_' + fields[i] + ']').val());
                    } else {
                        var num = 0;
                    }
                    money_sum = FloatAdd(money_sum, num);
                }
                $.each($('.add_bid_money_settlement_value'), function() {
                    money_sum = FloatAdd(money_sum, $(this).val());
                });
                $('#final_settlement_total_money').html(TransformThousands(money_sum));
            }
            var total_money = $('#bid_total_money').val();
            if (total_money && total_money != '0'){
                $('#final_total_money').html(TransformThousands(total_money));
            } else {
                var money_sum = 0;
                for (i=0; i<fields.length; i++){
                    if ($('input[field_name=' + fields[i] + ']').val()){
                        var num = remove_TransformThousands($('input[field_name=' + fields[i] + ']').val());
                    } else {
                        var num = 0;
                    }
                    money_sum = FloatAdd(money_sum, num);
                }
                $.each($('.add_bid_money_value'), function() {
                    money_sum = FloatAdd(money_sum, $(this).val());
                });
                $('#final_total_money').html(TransformThousands(money_sum));
            }
        }
            
    }

    function allocation_field() {
        var $obj = $(this);
        var money_sum = 0;

        $.each($('.allocation_field'), function() {
            var num = remove_TransformThousands($(this).val());
            money_sum = FloatAdd(money_sum, num);
        });
        $('.total_allocation').html(TransformThousands(money_sum));
    }

    function create_allocation() {
        var $obj = $(this);
        var module_name = $obj.attr('module_name');
        var table_name = $obj.attr('table_name');
        var project_id = $obj.attr('project_id');
        var data = {
            csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
            project: '/fishuser/api/v2/project/' + project_id + '/'
        };

        $.ajax({
            url: '/' + module_name + '/api/v2/' + table_name + '/',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            dataType: 'json',
            success: function (json, text, xhr) {
                var $url = $.url(xhr.getResponseHeader('Location'));
                var id = $url.segment(-1);
                var data = {'id' : id};
                var $tr = $('#HideAllocationTr').tmpl(data).insertBefore($('#tr_total_allocation'));
                $('.BlurUpdateInfo').unbind('blur');
                $('.allocation_field').unbind('change');
                $('.inputcomma').unbind('blur');
                $('.inputcomma').unbind('click');
                $('.deleteRow').unbind('click');
                $('.BlurUpdateInfo').blur(BlurUpdateInfo);
                $('.BlurUpdateInfo').keypress(function(event) {
                    var $obj = $(this);
                    if (!$obj.is("textarea") && event.which == 13){
                        $obj.blur();
                    }
                });
                $('.allocation_field').change(allocation_field);
                $('.inputcomma').blur(inputcomma);
                $('.inputcomma').click(remove_inputcomma);
                $('.deleteRow').click(deleteRow);
                $(".datepicker").datepicker({
                    changeMonth: true,
                    changeYear: true,
                    onClose: BlurUpdateInfo
                });
            },
            error: function () {
            },
        })
    }

    function set_print_page() {
        var $obj = $(this);
        $obj.hide();
        $('nav').hide();
        $('.panel').hide();
        $('.print_hide').hide();
        $('.col-xs-2').attr('class', 'col-xs-0');
        $('.col-xs-10').attr('class', 'col-xs-12');
        $('#footer').hide();
        $('body').css('padding-top', '0px');
        
        window.print();

        $obj.show();
        $('nav').show();
        $('.panel').show();
        $('.print_hide').show();
        $('.chase').hide();
        $('.profile_and_chase').show();
        $('.col-xs-0').attr('class', 'col-xs-2');
        $('.col-xs-12').attr('class', 'col-xs-10');
        $('#footer').show();
        $('body').css('padding-top', '70px');
    }

    function change_inspector_type() {
        var $obj = $(this);
        var row_id = $obj.attr('row_id');
        var value = $obj.val().split('/')[5];
        if (value == '180'){// 代表委外監造，要把所有監造帳號權限關閉
            $.each($('.inspectors'), function() {
                var $obj = $(this);
                var now_set = $obj.attr('now_set');
                if (now_set == 'true'){
                    $obj.click();
                }
            });
        }
    }

    function set_engineer_status() {
        var $obj = $(this);
        var row_id = $obj.attr('row_id');
        var your_id = $obj.attr('your_id');
        var set = $obj.attr('set');
        var data = {
            csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
        };
        if (set == 'quit'){
            if (!confirm('您確定要移除權限嗎？')){
                return false;
            }
            var type = 'DELETE';
        } else if (set == 'transfer') {
            if (!confirm('您確定要轉移"負責主辦"的權限嗎？ 轉換後您將自動變為"協同主辦"')){
                return false;
            }
            data['group'] = '/fishuser/api/v2/group/2/'; 
            $.ajax({
                url: '/fishuser/api/v2/frcmusergroup/' + your_id + '/',
                type: 'PUT',
                data: JSON.stringify(data),
                contentType: 'application/json',
                dataType: 'json',
                success: function (json, text, xhr) {},
                error: function () {},
            })
            var type = 'PUT';
            data['group'] = '/fishuser/api/v2/group/14/'; 
        } else if (set == 'accept') {
            if (!confirm('您確定要允許此人的申請嗎？ 確定後此人將成為"協同主辦"')){
                return false;
            }
            var type = 'PUT';
            data['is_active'] = true; 
        }
        $.ajax({
            url: '/fishuser/api/v2/frcmusergroup/' + row_id + '/',
            type: type,
            data: JSON.stringify(data),
            contentType: 'application/json',
            dataType: 'json',
            success: function (json, text, xhr) {
                window.location.reload();
            },
            error: function () {
            }
        })
    }

    function get_pcc_information(){
        var $obj = $(this);
        var project_id = $obj.attr('project_id');
        var pcc_no = $('#project_pcc_no_' + project_id).val();
        $('#pcc_information_table').html('');
        if (!pcc_no) {
            var html = '<tr><td><h3>尚未輸入工程會編號，無法取得資訊 !!!</h3></td></tr>';
            $('#pcc_information_table').html(html);
        } else {
            var data = {
                csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN
            }
            $.ajax({
                url: '/pccmating/api/v2/pcc_project/' + pcc_no + '/',
                type: 'GET',
                data: JSON.stringify(data),
                contentType: 'application/json',
                dataType: 'json',
                success: function (json, text, xhr) {
                    json['lastsync'] = json['lastsync'].replace('T', ' ');
                    json['total_budget'] = TransformThousands(json['total_budget']);
                    json['contract_budget'] = TransformThousands(json['contract_budget']);
                    json['decide_tenders_price'] = TransformThousands(json['decide_tenders_price']);
                    json['decide_tenders_price2'] = TransformThousands(json['decide_tenders_price2']);
                    json['s_base_price'] = TransformThousands(json['s_base_price']);
                    json['r_base_price'] = TransformThousands(json['r_base_price']);
                    json['balancing_price'] = TransformThousands(json['balancing_price']);
                    json['last_pay_price'] = TransformThousands(json['last_pay_price']);
                    var html = $('#HideSearchTr').tmpl(json).appendTo($('#pcc_information_table'));
                },
                error: function (data) {
                },
            })
        }
    }

    function get_dailyreport_pcc_info(){
        var $obj = $(this);
        var date = $obj.html().split('-');
        var year = parseInt(date[0]);
        var month = parseInt(date[1]);
        $('.get_dailyreport_pcc_info').removeClass('btn-success');
        $('.get_dailyreport_pcc_info').removeClass('btn-lg');
        $('.get_dailyreport_pcc_info').addClass('btn-info');
        $obj.removeClass('btn-info');
        $obj.addClass('btn-success');
        $obj.addClass('btn-lg');
        $('#loading').show();
        $('#table_pcc_info_progress').hide();
        $('#table_pcc_info_equipment_and_crew').hide();
        $('#table_pcc_info_equipment_and_crew').find('tbody').find('tr').remove();
        $.ajax({
            url: '/dailyreport/api/v1/engprofile/' + project_id + '/get_monthly_info/?year=' + year + '&month=' + month,
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            beforeSend: function(XHR) {
                XHR.setRequestHeader('X-CSRFToken', CSRFMIDDLEWARETOKEN);
            },
            success: function (json, text, xhr) {
                $('#loading').hide();
                $('#table_pcc_info_progress').show();
                $.each(json, function(k, v){
                    if (k.indexOf('cost') != -1){
                        v = TransformThousands(v);
                    }
                    $('#table_pcc_info_progress').find('[name="' + k + '"]').html(v)
                });
            },
            error: function (json) {
                Lobibox.notify('error', {
                    title: '錯誤訊息',
                    msg: json.responseText,
                });
            }
        });
        $.ajax({
            url: '/dailyreport/api/v1/engprofile/' + project_id + '/get_monthly_equipment_and_crew/?year=' + year + '&month=' + month,
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            beforeSend: function(XHR) {
                XHR.setRequestHeader('X-CSRFToken', CSRFMIDDLEWARETOKEN);
            },
            success: function (json, text, xhr) {
                $('#loading').hide();
                $('#table_pcc_info_equipment_and_crew').show();
                $.each(json['crew'], function(k, v){
                    var name = v['name'];
                    var quantity = v['quantity'];
                    $(`<tr><td class="success">機具</td><td>${name}</td><td class="align_right">${quantity}</td></tr>`).appendTo($('#table_pcc_info_equipment_and_crew > tbody'));
                });
                $.each(json['equipment'], function(k, v){
                    var name = v['name'];
                    var quantity = v['quantity'];
                    $(`<tr><td class="active">人員</td><td>${name}</td><td class="align_right">${quantity}</td></tr>`).appendTo($('#table_pcc_info_equipment_and_crew > tbody'));
                });
            },
            error: function (json) {
                Lobibox.notify('error', {
                    title: '錯誤訊息',
                    msg: json.responseText,
                });
            }
        });
    }

    $(document).ready(function(){
        $('.get_dailyreport_pcc_info').click(get_dailyreport_pcc_info);
        $('.select_duration_type').click(select_duration_type);//選擇工期計算方式
        $('.bid_money_field').change(bid_money_field); // 工程基本資料頁面 的 標案資訊，根據輸入的金額改變最後採用之『發包及其他費用』
        bid_money_field(update_manage=false);
        $('#settlement_total_money').change();

        $('.allocation_field').change(allocation_field); // 工程基本資料頁面 的 分配數，根據輸入的金額進行總計
        $('.allocation_field').change();

        $('#create_allocation').click(create_allocation);//新增分配數
        $('#set_print_page').click(set_print_page); //列印按鈕

        $('#inspector_type').change(change_inspector_type); //判斷監造方式，若為自辦監造則自動關閉所有監造帳號
        $('.set_engineer_status').click(set_engineer_status);//設定工程師轉移退出等狀態

        $('.chase').hide();
        $('.profile_and_chase').show();
        $('#get_pcc_information').click(get_pcc_information); //顯示工程會同步資料
        $('#project_pcc_no_{{ project.id }}').blur(function(){
            if ($(this).val()){
                $('#get_pcc_information').show();
            } else {
                $('#get_pcc_information').hide();
            }
        });
        {% if edit %}
            if (!$('input[field_name="local_manager"]').val() || !$('input[field_name="local_manager_phone"]').val() || !$('input[field_name="local_manager_email"]').val() || !$('input[field_name="local_contacter"]').val() || !$('input[field_name="local_contacter_phone"]').val() || !$('input[field_name="local_contacter_email"]').val()){
                Lobibox.notify('warning', {
                    title: '漁業署通知訊息',
                    msg: '請補齊 縣市主管 及 縣市聯絡人 資訊欄位!!!',
                });
            }
        {% endif %}
    });

</script>


{% endblock %}