{% load i18n %}
{% load utiltags %}
{% load humanize %}

<br>
<h3 class="text-primary">分配數資訊</h3>
<table id="TableAllocation" class="table table-bordered" style="font-size: 14px; text-align: center;" total_width="860">
    <tr class="success">
        <td width="25%">日期</td>
        <td width="25%">分配數</td>
        <td width="44%">備註</td>
        {% if edit %}
            <td width="6%">刪除</td>
        {% endif %}
    </tr>
    {% for allo in allocations %}
        <tr id="tr_Allocation_{{ allo.id }}">
            <td>
                <input
                    type="text" class="BlurUpdateInfo form-control datepicker"
                    field_type="date"
                    {% if edit %}
                        row_id="{{ allo.id }}"
                        field_name="date"
                        table_name="allocation"
                        module_name='fishuser'
                        placeholder="待輸入"
                    {% else %}
                        disabled
                    {% endif %}
                    old_value="{{ allo.date|default_if_none:'' }}"
                    value="{{ allo.date|default_if_none:'' }}"/>
            </td>
            <td>
                <div class="input-group">
                    <input
                        id="total_money"
                        type="text" class="BlurUpdateInfo form-control inputcomma allocation_field"
                        {% if edit %}
                            field_type="float" style="text-align: right;"
                            row_id="{{ allo.id }}"
                            field_name="allocation"
                            table_name="allocation"
                            module_name='fishuser'
                            placeholder="待輸入"
                        {% else %}
                            disabled
                        {% endif %}
                        old_value="{{ allo.allocation|default_if_none:''|cutzero }}"
                        value="{{ allo.allocation|default_if_none:''|cutzero }}"/>
                    <span class="input-group-addon">元</span>
                </div>
            </td>
            <td align="left">
                {% if edit %}
                    <textarea
                        class="BlurUpdateInfo form-control"
                        field_type="str"
                        type="textarea"
                        row_id="{{ allo.id }}"
                        field_name="memo"
                        table_name="allocation"
                        module_name='fishuser'
                        placeholder="待輸入"
                        style="height: 34px;"
                        old_value="{{ allo.memo|default_if_none:'' }}">{{ allo.memo|default_if_none:'' }}</textarea>
                {% else %}
                    {{ allo.memo|default_if_none:'' }}
                {% endif %}
            </td>
            {% if edit %}
                <td>
                    <button class="deleteRow btn btn-danger btn-xs"
                        row_id="{{ allo.id }}"
                        module_name = "fishuser"
                        table_name = "allocation"
                        remove_target = "tr_Allocation_{{ allo.id }}"
                        do_change_action = '.allocation_field'
                        title="刪除">X</button>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    <tr id="tr_total_allocation">
        <td align='right'>總計分配數：</td>
        <td align="right"><span class="total_allocation" style="font-size: 16px; color: #DC7100;"></span> 元</td>
        <td align="right">
            {% if edit %}
                <button id="create_allocation" class="btn btn-success"
                            project_id="{{ project.id }}"
                            module_name = "fishuser"
                            table_name = "allocation"
                            title="按此新增分配數">新增分配數</button>
            {% endif %}
        </td>
        {% if edit %}
            <td></td>
        {% endif %}
    </tr>
</table>

<script type="text/x-jquery-tmpl" id="HideAllocationTr">
    <tr id="tr_Allocation_${id}">
        <td>
            <input
                type="text" class="BlurUpdateInfo form-control datepicker"
                field_type="date"
                row_id="${id}"
                field_name="date"
                table_name="allocation"
                module_name='fishuser'
                placeholder="待輸入"
                old_value=""
                value=""/>
        </td>
        <td>
            <div class="input-group">
                <input
                    id="total_money"
                    type="text" class="BlurUpdateInfo form-control inputcomma allocation_field"
                    field_type="float" style="text-align: right;"
                    row_id="${id}"
                    field_name="allocation"
                    table_name="allocation"
                    module_name='fishuser'
                    placeholder="待輸入"
                    old_value=""
                    value=""/>
                <span class="input-group-addon">元</span>
            </div>
        </td>
        <td>
            <textarea
                class="BlurUpdateInfo form-control"
                field_type="str"
                type="textarea"
                row_id="${id}"
                field_name="memo"
                table_name="allocation"
                module_name='fishuser'
                placeholder="待輸入"
                style="height: 34px;"
                old_value=""></textarea>
        </td>
        <td>
            <button class="deleteRow btn btn-danger btn-xs"
                row_id="${id}"
                module_name = "fishuser"
                table_name = "allocation"
                remove_target = "tr_Allocation_${id}"
                title="刪除">X</button>
        </td>
    </tr>
</script>