<tr id="tr_ProjectFile_{{ f.id }}" class="tr_hover tag_all {% for t in f.tag.all %}tag_{{ t.id }} {% endfor %}" title="上傳者：{{ user.projectup_user.get.rName }}">
    <td bgcolor="#FEFF91" align="center">{{ forloop.counter }}</td>
    <td align="center">
        <span class="glyphicon glyphicon-cloud-download pointer" aria-hidden="true" onclick="window.location='/frcm/download_file/ProjectFile/{{ f.id }}/'"></span>
    </td>
    <td>
        {% if f.web_review %}
            <span class="glyphicon glyphicon-eye-open show_file_view_dialog pointer" aria-hidden="true" type="{{ f.web_review }}" url="/frcm/download_file/ProjectFile/{{ f.id }}/"></span>
        {% endif %}
    </td>
    <td class="ClickShowInfo" row_id="{{ f.id }}" field_name="name">
        {% if edit %}
            <a id="show_part_name_{{ f.id }}">
                {{ f.name|default_if_none:"" }}
            </a>
            <input
                id="edit_part_name_{{ f.id }}"
                type="text" class="BlurUpdateInfo needExist" style="display: none;"
                field_type="str"
                row_id="{{ f.id }}"
                field_name="name"
                table_name="projectfile"
                module_name='frcm'
                size="40"
                old_value="{{ f.name|default_if_none:"" }}"
                value="{{ f.name|default_if_none:"" }}"/>
        {% else %}
            {{ f.name|default_if_none:"" }}
        {% endif %}
    </td>
    <td align="center">{{ f.ext }}</td>
    <td align="right" style="font-size: 10px;">{{ f.calSize }}</td>
    <td align="center" style="font-size: 10px;">{{ f.upload_time }}</td>
    <td id="td_tag_info_{{ f.id }}" style="font-size:10px;">
        {% if edit %}
            <a href="#projectfile_tag_dialog_div" role="button" data-toggle="modal" projectfile_id="{{ f.id }}" have_tags="{% for t in f.tag.all %}{{ t.id }},{% endfor %}" class="edit_projectfile_tag" id="edit_projectfile_tag_{{ f.id }}">
                <img class="ImageButtonHover" src="/media/frcm/v2/image/tag.png" width="25" file_id="{{ f.id }}" tags="{% for t in f.tag.all %}{{ t.id }},{% endfor %}" title="編輯檔案標籤">
            </a>
        {% endif %}
        <span id="span_tags_{{ f.id }}">
            {% for t in f.tag.all %}
                {{ t.value }}<br>
            {% endfor %}
        </span>
    </td>
    <td class="ClickShowInfo" row_id="{{ f.id }}" field_name="memo">
        {% if edit %}
            <a id="show_part_memo_{{ f.id }}">{{ f.memo|default_if_none:"" }}</a>
            <textarea id="edit_part_memo_{{ f.id }}"
                class="BlurUpdateInfo" style="display: none;"
                field_type="str"
                row_id="{{ f.id }}"
                field_name="memo"
                table_name="projectfile"
                module_name='frcm'
                type="textarea"
                old_value="{{ f.memo|default_if_none:"" }}"
                cols="30" rows="3">{{ f.memo|default_if_none:"" }}</textarea>
        {% else %}
            {{ f.memo|default_if_none:'' }}
        {% endif %}
    </td>
    <td align="center">
        {% if edit %}
            <img class="deleteRow pointer ImageButtonHover" src="/media/frcm/v2/image/delete.png" width="20" table_name="projectfile" row_id="{{ f.id }}" row_name="{{ f.name }}" module_name="frcm" remove_target="tr_ProjectFile_{{ f.id }}" title="刪除檔案">
        {% endif %}
    </td>
</tr>