{% extends "fishuser/zh-tw/base.html" %}
{% load i18n %}
{% load humanize %}
{% load utiltags %}
{% load guardian_tags %}

{% block js_in_compress %}
{% endblock %}

{% block body %}

<h3>行政院農業部漁業署工程督導小組督導紀錄</h3>

<h4>{{ p.project }}</h4>
<table class="table table-bordered" style="font-size: 12px;">
    <caption>同步紀錄</caption>
    <thead>
        <tr>
            <th>同步者</th>
            <th>時間</th>
            <th>IP</th>
            <th>動作/欄位</th>
            <th>原值</th>
            <th>新值</th>
        </tr>
    </thead>
    <tbody>
        {% for r in records %}
            <tr>
                <td>{{ r.user.last_name }}{{ r.user.first_name }} ({{ r.user.username }})</td>
                <td>{{ r.update_time }}</td>
                <td>{{ r.ip }}</td>
                <td class="td_field_name">{{ r.field_name }}</td>
                <td>{{ r.old_value|default_if_none:"" }}</td>
                <td>{{ r.new_value|default_if_none:"" }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>



<script type="text/javascript">
    var fields = {
            'uid' : '標案編號',
            'date' : '督導日期',
            'plan' : '列管計畫名稱',
            'project' : '標案名稱',
            'subordinate_agencies_unit' : '標案所屬工程主管機關',
            'project_organizer_agencies' : '標案主辦機關',
            'project_manage_unit' : '專案管理單位',
            'place' : '縣市',
            'location' : '地點',
            'designer' : '設計單位',
            'inspector' : '監造單位',
            'construct' : '承包商',
            'budget_price' : '預算金額(千元)',
            'contract_price' : '契約金額(千元)',
            'contract_price_change' : '契約金額(千元)變更後',
            'info' : '工程概要',
            'progress_date' : '進度紀錄日期',
            'scheduled_progress' : '工程預計累計進度',
            'actual_progress' : '工程實際累計進度',
            'scheduled_money' : '工程預定累計金額(千元)',
            'actual_money' : '工程實際累計金額(千元)',
            'progress_info' : '目前施工概況',
            'outguide' : '外聘委員',
            'inguide' : '內聘委員',
            'captain' : '領隊',
            'worker' : '工作人員',
            'start_date' : '開工日期',
            'expected_completion_date' : '預計完工日期',
            'expected_completion_date_change' : '預計完工日期變更後',
            'score' : '督導分數',
            'merit' : '優點',
            'advise' : '建議事項(規劃設計問題)',
            'advise_improve_result' : '改善對策及結果',
            'advise_date' : '改善日期',
            'advise_memo' : '備註',
            'other_advise' : '建議事項(其他建議)',
            'other_improve_result' : '改善對策及結果',
            'other_date' : '改善日期',
            'other_memo' : '備註',
            'cdate' : '匯入日期',
            'inspector_deduction' : '監造扣點',
            'construct_deduction' : '營造扣點',
            'organizer_deduction' : '主辦扣點',
            'project_manage_deduction' : '專案管理扣點',
            'test' : '檢驗拆驗',
            'fes_project' : '對應FES系統工程案',

            'error_ec' : '缺失',
            'error_context' : '缺失內容',
            'error_level' : '缺失等級',
            'error_improve_result' : '改善對策及結果',
            'error_date' : '匯入日期',
            'error_memo' : '備註',
    };

    $(document).ready(function(){
        $.each($('.td_field_name'), function(){
            var $obj = $(this);
            var field_name = $obj.html();
            $obj.html(fields[field_name]);
        });
    });

</script>
{% endblock%}