{% extends "fishuser/zh-tw/base.html" %}
{% load i18n %}
{% load humanize %}
{% load utiltags %}
{% load guardian_tags %}

{% block body %}

<h2>搜尋廠商統計</h2>
<br>


<table class="table" style="table-layout: fixed">
    <caption>請輸入搜尋條件</caption>
    <col width="100px">
    <col width="250px">
    <col>
    <tr>
        <td class="warning" align="right">
            督導日期{{ start_date|date:'Y-m-d' }}
        </td>
        <td colspan="2">
            <div class="row">
                <div class="col-md-3">
                    <input class="form-control input-sm datepicker date_relation" field_name="date" do_nothing="true" id="start_date" value="{{ start_date }}">
                </div>
                <div class="col-md-1">~</div>
                <div class="col-md-3">
                    <input class="form-control input-sm datepicker date_relation" field_name="date" do_nothing="true" id="end_date" value="{{ end_date }}">
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="warning" align="right">
            搜尋單位
        </td>
        <td align="right">
            <select class="form-control input-sm" id="unit_type">
                <option value="subordinate_agencies_unit" {% if unit_type == "subordinate_agencies_unit" %}selected{% endif %}>主管機關</option>
                <option value="project_organizer_agencies" {% if unit_type == "project_organizer_agencies" %}selected{% endif %}>主辦機關</option>
                <option value="project_manage_unit" {% if unit_type == "project_manage_unit" %}selected{% endif %}>專案管理單位</option>
                <option value="designer" {% if unit_type == "designer" %}selected{% endif %}>設計單位</option>
                <option value="inspector" {% if unit_type == "inspector" %}selected{% endif %}>監造單位</option>
                <option value="construct" {% if unit_type == "construct" %}selected{% endif %}>承包廠商</option>
            </select>
        </td>
    </tr>
</table>
<button class="search btn btn-info btn-lg" type="button">搜尋</button>
<br><br><br>

{% if analysis %}
    <h3>統計資訊<small>(以分數排序)</small></h3>
    <table class="table table-bordered">
        <thead>
            <tr class="warning">
                <td>單位</td>
                <td>件數</td>
                <td>平均分數</td>
                <td>優等</td>
                <td>甲等</td>
                <td>乙等</td>
                <td>丙等</td>
                <td>丁等</td>
                <td>不評分</td>
                <td>缺失排行</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>日期區間內所有紀錄統計<br>(不分單位)</td>
                <td align="right"><a href="#" data-toggle="modal" data-target="#show_search_dialog" class="search_case" ids="{% for i in analysis.total.results %}{{ i.id }},{% endfor %}">{{ analysis.total.num }}</a></td>
                <td align="right">{{ analysis.total.avarage }}</td>
                <td align="right">{{ analysis.total.A }}</td>
                <td align="right">{{ analysis.total.B }}</td>
                <td align="right">{{ analysis.total.C }}</td>
                <td align="right">{{ analysis.total.D }}</td>
                <td align="right">{{ analysis.total.E }}</td>
                <td align="right">{{ analysis.total.F }}</td>
                <td align="center"></td>
            </tr>
            {% for d in data %}
                <tr>
                    <td name="name">{{ d.name }}</td>
                    <td align="right"><a href="#" data-toggle="modal" data-target="#show_search_dialog" class="search_case" ids="{% for i in d.results %}{{ i.id }},{% endfor %}">{{ d.num }}</a></td>
                    <td align="right">{{ d.avarage }}</td>
                    <td align="right">{{ d.A }}</td>
                    <td align="right">{{ d.B }}</td>
                    <td align="right">{{ d.C }}</td>
                    <td align="right">{{ d.D }}</td>
                    <td align="right">{{ d.E }}</td>
                    <td align="right">{{ d.F }}</td>
                    <td align="center"><button class="btn btn-info btn-sm open_unit_error_sort" type="button">開啟分析</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endif %}



<div class="modal fade" id="show_search_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 10001">
    <div class="modal-dialog">
        <div class="modal-content" style="width:900px; margin-left:-200px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">缺失相關工程詳細列表</h4>
            </div>
            <div class="modal-body">
                <table class="sortable table table-bordered" id="SearchResultTable" style="font-size:14px;">
                    <tr class="success">
                        <th width="5%" style="text-align: center;">序<br>號</th>
                        <th width="80%" style="text-align: center;">工程名稱</th>
                        <th width="7%" style="text-align: center;">內聘<br>委員</th>
                        <th width="7%" style="text-align: center;">外聘<br>委員</th>
                    </tr>
                </table>
                <tbody>
                </tbody>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<script type="text/x-jquery-tmpl" id="HideSearchTr">
    <tr style="text-align: center;" row_id="${id}" class="${class_name} tr_hover" style="display: none;">
        <td class="active">${sort}</td>
        <td align="left">
            <a id="project_name_${id}" href="/supervise/project_profile/${id}/">
                ${project}
            </a>
        </td>
        <td>${inguide_list}</td>
        <td>${outguide_list}</td>
    </tr>
</script>



<div class="modal fade" id="unit_error_info_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 10000">
    <div class="modal-dialog">
        <div class="modal-content" style="width:900px; margin-left:-200px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">各別廠商缺失排行</h4>
            </div>
            <div class="modal-body" align="left">
                <h4>廠商類別：<span name="unit_type"></span></h4>
                <h4>廠商名稱：<span name="unit_name"></span></h4>
                <h4>期　　間：<span name="start_date"></span> ~ <span name="end_date"></span></h4>
                <table class="sortable table table-bordered" id="table_unit_error_info" style="font-size:14px;table-layout: fixed">
                    <tr class="success">
                        <th width="5%" style="text-align: center;">排<br>名</th>
                        <th width="10%" style="text-align: center;">缺失編號</th>
                        <th style="text-align: center;">缺失內容</th>
                        <th width="12%" style="text-align: center;">缺失(件數)<br>缺失比例</th>
                        <th width="12%" style="text-align: center;">缺失(次數)<br>缺失比例</th>
                        <th width="3%" style="text-align: center;">嚴重</th>
                        <th width="3%" style="text-align: center;">中等</th>
                        <th width="3%" style="text-align: center;">輕微</th>
                        <th width="3%" style="text-align: center;">未填</th>
                    </tr>
                </table>
                <tbody>
                </tbody>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="show_error_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 10002">
    <div class="modal-dialog">
        <div class="modal-content" style="width:900px; margin-left:-200px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">各別廠商缺失排行</h4>
            </div>
            <div class="modal-body" align="left">
                <h4>缺失編號：<span name="no"></span></h4>
                <h4>缺失內容：<span name="introduction"></span></h4>
                <table class="sortable table table-bordered" id="table_errors" style="font-size:14px;table-layout: fixed">
                    <tr class="success">
                        <th width="5%" style="text-align: center;">序號</th>
                        <th width="35%" style="text-align: center;">工程名稱</th>
                        <th width="5%" style="text-align: center;">缺失程度</th>
                        <th style="text-align: center;">缺失說明</th>
                    </tr>
                </table>
                <tbody>
                </tbody>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>


<script type="text/x-jquery-tmpl" id="obj_error">
    <tr style="text-align: center;" row_id="${id}" class="tr_hover">
        <td class="active" align="center">${sort}</td>
        <td align="left">
            <a id="project_name_${id}" href="/supervise/project_profile/${case_id}/">
                ${case_name}
            </a>
        </td>
        <td align="center">${listname_level}</td>
        <td align="left">${context}</td>
    </tr>
</script>


<script type="text/javascript">
    function date_relation(){
        var $obj = $(this);
        var id = $obj.attr('id');
        var field_name = $obj.attr('field_name');
        var from = $('#' + field_name + '_from').val();
        var to = $('#' + field_name + '_to').val();
        if (!$obj.val()){
            $('#' + field_name + '_from').val('');
            $('#' + field_name + '_to').val('');
            return false;
        }
        if (id==field_name + '_from'){
            if (!to) {
                $('#' + field_name + '_to').val(from);
            } else {
                var startArray = from.split("-");
                var endArray = to.split("-");
                var start = new Date(startArray[0], startArray[1], startArray[2]);
                var end = new Date(endArray[0], endArray[1], endArray[2]);
                if (start > end) {
                    $('#' + field_name + '_to').val(from);
                }
            }
        } else if (id==field_name + '_to'){
            if (!from) {
                $('#' + field_name + '_from').val(to);
            } else {
                var startArray = from.split("-");
                var endArray = to.split("-");
                var start = new Date(startArray[0], startArray[1], startArray[2]);
                var end = new Date(endArray[0], endArray[1], endArray[2]);
                if (start > end) {
                    $('#' + field_name + '_from').val(to);
                }
            }
        }
    }

    function search(){
        var start_date = $('#start_date').val();
        var end_date = $('#end_date').val();
        var unit_type = $('#unit_type').val();
        if (!start_date || !end_date){
            Lobibox.notify('warning', {
                title: '條件錯誤',
                msg: '請選擇督導日期區間!!!',
            });
        } else {
            window.location = "/supervise/search_unit/?start_date=" + start_date + '&end_date=' + end_date + '&unit_type=' + unit_type;
        }
    }

    function search_case(){
        var $obj = $(this);
        var string = '&ids=' + $obj.attr('ids');
        var table_name = $obj.attr('table_name');
        $.ajax({
            url: '/supervise/api/v2/supervisecase/search/?limit=1000000000' + string,
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                $('.resultTr').remove();
                for (var i=0; i<data.objects.length; i++){
                    data.objects[i]['class_name'] = 'resultTr';
                    data.objects[i]['sort'] = i+1;
                    var $div = $('#HideSearchTr').tmpl(data.objects[i]).appendTo($('#SearchResultTable > tbody:last'));
                }
                // $('#search_table_name').html(table_name);
                // //處理分頁，其實所有資料都撈出來了
                // $('.pages_list').html('');
            },
            error: REST_ERROR
        })
    }

    function open_unit_error_sort(){
        var $obj = $(this);
        var name = $obj.closest('tr').find('[name="name"]').html();
        var start_date = $('#start_date').val();
        var end_date = $('#end_date').val();
        var unit_type = $('#unit_type').val();
        if (!start_date || !end_date){
            Lobibox.notify('warning', {
                title: '條件錯誤',
                msg: '請選擇督導日期區間!!!',
            });
        } else {
            $.ajax({
                url: "/supervise/unit_error_sort/?name=" + name + "&start_date=" + start_date + '&end_date=' + end_date + '&unit_type=' + unit_type,
                type: 'GET',
                contentType: 'application/json',
                dataType: 'json',
                beforeSend: function(XHR) {
                    XHR.setRequestHeader('X-CSRFToken', CSRFMIDDLEWARETOKEN);
                },
                success: function (json, text, xhr) {
                    var $dialog = $('#unit_error_info_dialog');
                    var $table = $('#table_unit_error_info');
                    $table.find('tbody').find('tr').remove();
                    $dialog.find('[name="unit_type"]').html($('#unit_type > option:selected').text());
                    $dialog.find('[name="unit_name"]').html(name);
                    $dialog.find('[name="start_date"]').html(start_date);
                    $dialog.find('[name="end_date"]').html(end_date);
                    for (i=0; i<json['ecs'].length;i++){
                        var row = json['ecs'][i];
                        $table.find('tbody').append(
                        `<tr>
                            <td align="center">${i+1}</td>
                            <td name="no">${row['no']}</td>
                            <td name="introduction">${row['introduction']}</td>
                            <td align="right">
                                <a href="#" data-toggle="modal" data-target="#show_error_dialog" class="search_error" ids="${row['error_ids']},">${row['case_num']}</a>
                                    <br>${row['percent_case']} %
                            </td>
                            <td align="right">
                                <a href="#" data-toggle="modal" data-target="#show_error_dialog" class="search_error" ids="${row['error_ids']},">${row['num']}</a>
                                    <br>${row['percent_error']} %
                            </td>
                            <td align="right">${row['s']}</td>
                            <td align="right">${row['m']}</td>
                            <td align="right">${row['l']}</td>
                            <td align="right">${row['n']}</td>
                        </tr>`
                        );
                    };
                    $dialog.modal('show');
                },
                error: function (json) {
                    Lobibox.notify('error', {
                        title: '錯誤訊息',
                        msg: json.responseText,
                    });
                }
            });
        }
    }

    function search_error(){
        var $obj = $(this);
        var $tr = $obj.closest('tr');
        var no = $tr.find('[name="no"]').html();
        var introduction = $tr.find('[name="introduction"]').html();
        var string = '&ids=' + $obj.attr('ids');
        var table_name = $obj.attr('table_name');
        $.ajax({
            url: '/supervise/api/v2/error/search/?limit=1000000000' + string,
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                var $dialog = $('#show_error_dialog');
                $dialog.find('[name="no"]').html(no);
                $dialog.find('[name="introduction"]').html(introduction);
                $('#table_errors > tbody').find('tr').remove();
                for (var i=0; i<data.objects.length; i++){
                    data.objects[i]['sort'] = i+1;
                    var $div = $('#obj_error').tmpl(data.objects[i]).appendTo($('#table_errors > tbody:last'));
                }
            },
            error: function (json) {
                Lobibox.notify('error', {
                    title: '錯誤訊息',
                    msg: json.responseText,
                });
            }
        })
    }

    $(document).ready(function(){
        $('.date_relation').change(date_relation); //日期 的時間邏輯
        $('.search').click(search);
        $(document).on('click', '.search_case', search_case); //搜尋case
        $(document).on('click', '.search_error', search_error); //搜尋缺失
        $(document).on('click', '.open_unit_error_sort', open_unit_error_sort); //缺失排行
    });

</script>

{% endblock%}