{% extends "supervise/zh-tw/statisticstable.html" %}
{% load i18n %}
{% load staticfiles %}
{% load humanize %}
{% load utiltags %}
{% load guardian_tags %}

{% block table %}

<script type="text/javascript" src="{% static 'supervise/v2/Chart.js/Chart.bundle.js' %}{{ SV_ }}"></script>
<script type="text/javascript" src="{% static 'supervise/v2/Chart.js/utils.js' %}{{ SV_ }}"></script>
<script type="text/javascript" src="{% static 'supervise/v2/Chart.js/FileSaver.min.js' %}{{ SV_ }}"></script>
<script type="text/javascript" src="{% static 'supervise/v2/Chart.js/chartjs-plugin-labels.js' %}{{ SV_ }}"></script>

<style type="text/css">
    #ul-chart-list li{
        line-height: 36px;
        cursor: pointer;
    }
</style>
        
<h2>{{ subpage_name }}-<small>({{ date_from }} ~ {{ date_to }})</small></h2>
<br>
<div class="row">
    <div class="col-md-5">
        <div class="input-group">
            <span class="input-group-addon">起</span>
            <input class="form-control datepicker date_relation" id="date_from" do_nothing="true" field_name="date" value="{{ date_from }}" placeholder="請輸入開始日期">
        </div>
    </div>
    <div class="col-md-5">
        <div class="input-group">
            <span class="input-group-addon">訖</span>
            <input class="form-control datepicker date_relation" id="date_to" do_nothing="true" field_name="date" value="{{ date_to }}" placeholder="請輸入結束日期">
        </div>
    </div>
</div>
<br>

<h3>
    <ul id="ul-chart-list" style="text-align: left">
        <li name="pie-1" sub_type="1">圓餅圖-缺失分類《次數》統計(品質管理制度)</li>
        <li name="pie-1" sub_type="2">圓餅圖-缺失分類《次數》統計(施工品質/施工進度/規劃設計)</li>
        <li name="histogram-1" sub_type="1">柱狀圖-缺失分類《次數》統計(品質管理制度)</li>
        <li name="histogram-1" sub_type="2">柱狀圖-缺失分類《次數》統計(施工品質/施工進度/規劃設計)</li>
        <li name="histogram-2">柱狀圖-【主辦機關】缺失《件數》排名統計</li>
        <li name="histogram-3">柱狀圖-【監造單位】缺失《件數》排名統計</li>
        <li name="histogram-4">柱狀圖-【承攬廠商】缺失《件數》排名統計</li>
        <li name="histogram-5">柱狀圖-施工缺失(品質、進度、規劃設計)《次數》排名統計</li>
    </ul>
</h3>



<script type="text/javascript">
    function show_chart(){
        var $obj = $(this);
        var date_from = $('#date_from').val();
        var date_to = $('#date_to').val();
        var chart_name = $obj.attr('name');
        var sub_type = $obj.attr('sub_type');
        if (!date_check.test(date_from)||!date_check.test(date_to)){
            alert('日期格式錯誤');
        } else {
            window.open(`/supervise/statistics_only_chart/?date_from=${date_from}&date_to=${date_to}&chart_name=${chart_name}&sub_type=${sub_type}`);
        }
    };

    $(document).ready(function(){
        $('#ul-chart-list > li').click(show_chart);
    });

</script>









{% endblock %}
