{% extends "supervise/zh-tw/statisticstable.html" %}
{% load i18n %}
{% load humanize %}
{% load utiltags %}
{% load guardian_tags %}

{% block table %}


<h2>{{ subpage_name }}-<small>({{ date_from }} ~ {{ date_to }}共 {{ data.num }} 件)</small></h2>
<br>
<div class="row">
    <div class="col-md-5">
        <div class="input-group">
            <span class="input-group-addon">起</span>
            <input class="form-control datepicker date_relation" id="date_from" do_nothing="true" field_name="date" value="{{ date_from }}" placeholder="請輸入開始日期">
        </div>
    </div>
    <div class="col-md-5">
        <div class="input-group">
            <span class="input-group-addon">訖</span>
            <input class="form-control datepicker date_relation" id="date_to" do_nothing="true" field_name="date" value="{{ date_to }}" placeholder="請輸入結束日期">
        </div>
    </div>
    <div class="col-md-2">
        <button class="btn btn-success" id="search_statistic_project" table_id="3">開始篩選</button>
    </div>
</div>
<br>

<table class="table table-bordered" style="font-size:12px;">
    <tr align="center" valign="middle">
        <td width="12%"></td>
        {% for n in data.range10 %}
            <td class="success">
                第{{ n }}名
            </td>
        {% endfor %}
    </tr>
    {% for p in data.places %}
	    <tr align="center" valign="middle">
	        <td bgcolor="{% if p.north %}#F8E6D4{% else %}#D4E6F8{% endif %}">{{ p.name }}</td>
	        {% for e in p.errors %}
	            <td {% if e.cases %}class="search_project pointer" table_name="{{ p.name }}-第{{ forloop.counter }}名-{{ e.no }}-{{ e.introduction }}"{% endif %} ids="{% for c in e.cases %}{{ c.id}},{% endfor %}">
	            	{% if e.cases %}
	                	<span class="show_tooltip" data-toggle="tooltip" data-placement="bottom" title="{{ e.no }}-{{ e.introduction }}">{{ e.no }}<br>({{ e.times }}次)</span>
	                {% endif %}
	            </td>
	        {% endfor %}
	    </tr>
    {% endfor %}


</table>









<div class="pages_list"></div>
<table id="SearchResultTable" class="sortable table table-bordered" style="text-align: center; display: none; font-size: 14px;">
    <caption><h3 id="search_table_name"></h3></caption>
    <thead>
        <tr class="success">
            <th width="5%" style="text-align: center;">序<br>號</th>
            <th width="10%" style="text-align: center;">督導日期</th>
            <th width="5%" style="text-align: center;">分數</th>
            <th width="35%">列管計畫名稱<br>標案名稱</th>
            <th width="8%" style="text-align: center;">縣市</th>
            <th width="35%" style="text-align: center;">主管機關<br>主辦機關<br>監造單位<br>承包廠商</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<br>
<div class="pages_list"></div>

<script type="text/x-jquery-tmpl" id="HideSearchTr">
    <tr id="tr_project_${id}" style="text-align: center;" row_id="${id}" class="${class_name}" style="display: none;">
        <td class="active">${sort}</td>
        <td>${date}</td>
        <td>${score}</td>
        <td align="left">
            ${plan}<br>
            <a id="project_name_${id}" href="/supervise/project_profile/${id}/">
                ${project}
            </a>
        </td>
        <td>${listname_place}</td>
        <td align="left">
            主管：${listname_subordinate_agencies_unit}<br>
            主辦：${project_organizer_agencies}<br>
            監造：${inspector}<br>
            承包：${construct}
        </td>
    </tr>
</script>

{% endblock %}