#filter_item .filter-buttoms .w3-btn-floating-large {
  font-family: Verdana, sans-serif;
}

#filter_item .filter-buttoms {
  transition: all 0.5s ease;
  bottom: 10px;
  right: 10px;
  position: fixed;
}

#filter_item .filter-buttoms:nth-child(1) {
  z-index: 10;
}

#filter_item .filter-buttoms:nth-child(2) {
  z-index: 9;
}

#filter_item .filter-buttoms:nth-child(3) {
  z-index: 8;
}

#filter_item .filter-buttoms:nth-child(4) {
  z-index: 7;
}

#filter_item.active .filter-buttoms:nth-child(2) {
  bottom: 76px;
}

#filter_item.active .filter-buttoms:nth-child(3) {
  bottom: 142px;
}

#filter_item.active .filter-buttoms:nth-child(4) {
  bottom: 208px;
}

.filter-buttoms .filter-text {
  position: absolute;
  right: 56px;
  white-space: nowrap;
  line-height: 56px;
  opacity: 0;
  transition: opacity 0.5s ease 0.2s;
}

#filter_item.active .filter-text {
  opacity: 1;
}

#filter_item.active .fa-angle-down, #filter_item .fa-filter {
  display: inherit;
}

#filter_item .fa-angle-down, #filter_item.active .fa-filter {
  display: none;
}

#filter_item .filter-mask {
  position: fixed;
  height: 100%;
  width: 100%;
  background: white;
  opacity: 0.9;
  display: none;
  top: 0px;
  left: 0px;
  z-index: 5;
  transition: all 0.5s ease;
}

#filter_item.active .filter-mask {
  display: block;
}