{% extends "mobile/_base.html" %}
<!-- !PAGE CONTENT! -->
{% load static %}
{% block page_content %}
<div class="w3-container w3-padding-8 w3-center" style="background: rgba(0, 0, 0, 0.35);">
    <div class="w3-clear"></div>
    <h1 class="w3-text-shadow w3-text-white">漁業工程管理系統</h1>
    <h4 class="w3-text-shadow w3-text-white">Fishery Engineering System</h4>
</div>
<div id="id01" class="w3-modal" style="">
    <div id="login_panel" class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width:600px;top:90px;">
        <div class="w3-center"><br>
            <img src="{% static 'cim/images/fa.png' %}" alt="Fes" style="width:30%" class="w3-circle w3-margin-top">
        </div>
        <form class="w3-container" action="form.asp">
            <div class="w3-section">
                <label><b>帳號</b></label>
                <input id="username" class="w3-input w3-border w3-margin-bottom" type="text" placeholder="請輸入帳號" name="username" required>
                <label><b>密碼</b></label>
                <input id="password" class="w3-input w3-border w3-margin-bottom" type="password" placeholder="請輸入密碼" name="password" required>
                <div class="w3-row">
                    <div class="w3-col s6" style="text-align: center;">
                        <img id="verify_image" border="3" bordercolor="white" src="" alt="下載中"/>
                    </div>
                    <div class="w3-col s6">
                        <input id="verifycode_id" name="verifycode_id" value="" style="display: none;" />
                        <input id="verify" class="w3-input w3-border" type="text" placeholder="請輸入左側數字" name="verify" required>
                    </div>
                </div>
            </div>
        </form>
        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            {% csrf_token %}
            <div id="message" style="text-align: center;">　　</div>
            <button id="login" class="w3-btn-block w3-green w3-section w3-padding" type="submit">登入</button>
            <span class="w3-padding">您忘記<a id="forget_password">密碼</a>嗎?</span>
        </div>
    </div>

    <div id="forget_password_panel" class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width:600px;top:90px;display:none;">
        <div class="w3-center"><br>
            <img src="{% static 'cim/images/fa.png' %}" alt="Fes" style="width:30%" class="w3-circle w3-margin-top">
        </div>
        <form class="w3-container" action="form.asp">
            <div class="w3-section">
                <label><b>請輸入您的帳號</b></label>
                <input id="need_reset_username" class="w3-input w3-border w3-margin-bottom" type="text" placeholder="請輸入您的帳號" name="need_reset_username" required>
            </div>
        </form>
        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <div id="reset_message" style="text-align: center;">　　</div>
            <button id="back_login" class="w3-green w3-section w3-padding" style="width: 49%" type="button">返回登入</button>
            <button id="send_reset_password_email" class="w3-green w3-section w3-padding" style="width: 49%" type="submit">傳送密碼信</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="/media/fishuser/v2/js/md5.js"></script>
<script>
     document.getElementById('id01').style.display='block'
</script>
<script>
    function md5password(password) {
        password = password.toLowerCase();
        var first_str = password.substring(0,1);
        var last_str = password.substring(password.length-1, password.length);
        return $.md5(first_str + last_str + '+' + password);
    }

    function ask_new_number() {
        $.ajax({
            url: '/common/ann/',
            type: 'GET',
            data:{IE: Math.random()},
            dataType: 'json',
            success: function(json){
                var verifycode_id = json['verifycode_id'];
                var $img = $('#verify_image');
                $img.attr('src', '');
                setTimeout('update_number('+verifycode_id+')', 100);
            }
        });
        return false;
    }


    function update_number(verifycode_id) {
        $('#verify_image').attr('src', '/common/vi/'+verifycode_id+'.png');
        $('#verifycode_id').val(verifycode_id);
        $('#verify').val('');

        if(!$('#username').is(':focus') && !$('#password').is(':focus')) {
            $('#verify').focus();
        }
    }


    function login(){
        var username = $('#username').val(),
            password = $('#password').val(),
            verifycode_id = $('#verifycode_id').val(),
            verify = $('#verify').val();

        if (!username) {
            $('#message').html('請輸入帳號');
            $('#username').focus();
            return false;
        }

        if (!password) {
            $('#message').html('請輸入密碼');
            $('#password').focus();
            return false;
        }

        if (!verify) {
            $('#message').html('請輸入驗證碼');
            $('#verify').focus();
            return false;
        }

        if (username && password && verify) {
            $('#message').html('驗證帳號/密碼中');
            $('#login').prop('disabled', true);

            var data = {
                submit: 'login',
                csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                username: username,
                password: md5password(password),
                verifycode_id: verifycode_id,
                verify: verify
            }

            $.ajax({
                url: '/mobile/login/',
                type: 'POST',
                data: data,
                dataType: 'json',
                beforeSend: function(XHR) {
                    XHR.setRequestHeader('X-CSRFToken', $('input[name="csrfmiddlewaretoken"]').val());
                },
                success: function (json, text, xhr) {
                    console.log(json)
                    if (json['status'] == true) {
                        $('#message').html(' 登入中..... ');
                        window.location = json['next'];
                        // if (json['next']){
                        //     window.location = json['next'];
                        // } else {
                        //     var next = $('#next').html();
                        //     if (next == ''){
                        //         window.location = '/fishuser/user_profile/?need_check_ip=True';
                        //     } else {
                        //         window.location = next + '?need_check_ip=True';
                        //     }
                        // }
                    } else {
                        $('#login').prop('disabled', false);
                        $('#message').html(' '+json['message']+' ');
                        $('#id_verify').val('');
                        ask_new_number();
                    }
                },
                error: function (data) {
                    $('#login').prop('disabled', false);
                },
            })
        }
        return false;
    }


    function show_reset() {
        $('#login_panel').hide();
        $('#forget_password_panel').show();
    }


    function back_login() {
        $('#forget_password_panel').hide();
        $('#login_panel').show();
    }


    function send_reset_password_email() {
        var data = {
            csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
            username: $('#need_reset_username').val(),
        };

        if (!data.username){
            $('#reset_message').html('請輸入您的帳號！');
            $('#need_reset_username').focus();
            return false;
        }

        
        $('#reset_message').html('系統會將密碼設定信件寄到您帳號所屬的Email。因郵件伺服器速度，請等候3-5分鐘再收信。');
        $.ajax({
            url: '/fishuser/send_reset_password_email/',
            type: 'POST',
            data: data,
            dataType: 'json',
            success: function (json, text, xhr) {
                if (!json['status']){
                    $('#reset_password_msg').html(json['msg']);
                }
            },
            error: function (data) {
            },
        })
    }


    $(document).ready(function(){
        $('#verify_image').click(ask_new_number);
        $('#login').click(login);
        $('#forget_password').click(show_reset);
        $('#back_login').click(back_login);
        $('#send_reset_password_email').click(send_reset_password_email);
        ask_new_number();
    });
</script>
{% endblock %}
