{% extends "mobile/_home_base.html" %}
{% block page_haeder %}
    <ul class="w3-navbar w3-left-align w3-light-grey w3-center w3-large w3-top">
        <li class="w3-left" style="width:20% !important"><a href="{% url 'm_index' %}" ><i class="fa fa-home"></i></a></li>
        <li class="w3-left" style="width:60% !important"><a href="{% url 'm_search_supervise' %}" class="w3-text-teal">搜尋督導案</a></li>
        <li class="w3-left" style="width:20% !important"><a class="w3-hover-white w3-large" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-filter"></i></a></li>
    </ul>
    <nav class="w3-sidenav w3-collapse w3-animate-left search_condition" style="z-index:3;width:100%;top:0px;" id="mySidenav">
        <div class="w3-container w3-teal">
            <h2>
            請輸入篩選條件
            <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-hover-black w3-hide-large" title="close menu">
                <i class="fa fa-remove"></i>
            </a>
            </h2>
        </div>
        <form class="w3-container">
            <label class="w3-label w3-text-teal"><b>計畫名稱</b></label>
            <input class="w3-input" type="text" name="plan">
            <div class="w3-row">
                <div class="w3-col s5">
                    <label class="w3-label w3-text-teal"><b>督導日期</b></label>
                    <input class="w3-input" field_name="date" type='date' name="date_from" value="">
                </div>
                <div class="w3-col s1" style="text-align: center;">
                    <br><br>~
                </div>
                <div class="w3-col s5">
                    <br>
                    <input class="w3-input" field_name="date" type='date' name="date_to" value="">
                </div>
            </div>
            <label class="w3-label w3-text-teal"><b>標案名稱</b></label>
            <input class="w3-input" type="text" name="project">
            <div class="w3-row">
                <div class="w3-col s5">
                    <label class="w3-label w3-text-teal"><b>督導分數</b></label>
                    <input class="w3-input" type='date' name="score_from" value="">
                </div>
                <div class="w3-col s1" style="text-align: center;">
                    <br><br>~
                </div>
                <div class="w3-col s5">
                    <br>
                    <input class="w3-input" type='date' name="score_to" value="">
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col s5">
                    <label class="w3-label w3-text-teal"><b>開工日期</b></label>
                    <input class="w3-input" type='date' name="start_date_from" value="">
                </div>
                <div class="w3-col s1" style="text-align: center;">
                    <br><br>~
                </div>
                <div class="w3-col s5">
                    <br>
                    <input class="w3-input" type='date' name="start_date_to" value="">
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col s6">
                    <label class="w3-label w3-text-teal"><b>主管機關</b></label>
                    <select class="w3-select" name="unit">
                        <option value="">－ 全部 －</option>
                        {% for unit in units %}
                            <option value="{{ unit.id }}">－ {{ unit.name }} －</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="w3-col s6">
                    <label class="w3-label w3-text-teal"><b>縣市</b></label>
                    <select class="w3-select" name="place">
                        <option value="">－ 全部 －</option>
                        {% for place in places %}
                            <option value="{{ place.id }}">－ {{ place.name }} －</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <label class="w3-label w3-text-teal"><b>主管機關</b></label>
            <select class="w3-select" name="unit">
                <option value="">－ 全部 －</option>
                {% for unit in units %}
                    <option value="{{ unit.id }}">－ {{ unit.name }} －</option>
                {% endfor %}
            </select>
            <label class="w3-label w3-text-teal"><b>主辦機關</b></label>
            <input class="w3-input" type="text" name="project_organizer_agencies">
            <label class="w3-label w3-text-teal"><b>專案管理單位</b></label>
            <input class="w3-input" type="text" name="project_manage_unit">
            <label class="w3-label w3-text-teal"><b>設計單位</b></label>
            <input class="w3-input" type="text" name="designer">
            <label class="w3-label w3-text-teal"><b>監造單位</b></label>
            <input class="w3-input" type="text" name="inspector">
            <label class="w3-label w3-text-teal"><b>承包廠商</b></label>
            <input class="w3-input" type="text" name="construct">
            <label class="w3-label w3-text-teal"><b>內部委員</b></label>
            <input class="w3-input" type="text" name="inguide">
            <label class="w3-label w3-text-teal"><b>外部委員</b></label>
            <input class="w3-input" type="text" name="outguide">
            <label class="w3-label w3-text-teal"><b>缺失搜尋</b></label>
            <input class="w3-input" type="text" name="error">
            <hr>
            <button class="w3-btn w3-blue-grey" type="button" id="search_supervise" page="1" onclick="w3_close()">搜尋</button>
        </form>
    </nav>
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
    
{% endblock %}
<!-- Sidenav -->
<!-- !PAGE CONTENT! -->
{% block page_content %}
    <div class="w3-container w3-padding-32 w3-center">
    </div>
    <div class="w3-row-padding " id="projects_list" style="height: 100%;">
        <div class="w3-center">
            <ul class="w3-pagination w3-border w3-round w3-white">
                <li><a class="pre_page">&#10094; 上一頁</a></li>
                <li><a class="page_info">1/1</a></li>
                <li><a class="next_page">下一頁 &#10095;</a></li>
            </ul>
        </div>
        <div id="search_result">
        </div>
        <div class="w3-center">
            <ul class="w3-pagination w3-border w3-round w3-white">
                <li><a class="pre_page">&#10094; 上一頁</a></li>
                <li><a class="page_info">1/1</a></li>
                <li><a class="next_page">下一頁 &#10095;</a></li>
            </ul>
        </div>
    </div>
    <div class="w3-clear"></div><br><br>

<script type="text/x-jquery-tmpl" id="HideSearchTr">
    <div class="w3-card-4 w3-animate-zoom project-card resultTr">
        <header class="w3-container w3-white">
            <h4><b>${date}-${project}</b></h4>
        </header>
        <div class="w3-container w3-light-grey">
            <p>主辦機關：${project_organizer_agencies}</p>
        </div>
        <ul class="w3-ul">
            <li class="w3-white">
                <div class="w3-row">
                    <div class="w3-col s6">
                        <p class="w3-text-teal"><b>縣市</b></p>
                        <p>${listname_place}${listname_location}</p>
                    </div>
                    <div class="w3-col s6">
                        <p class="w3-text-teal"><b>分數</b></p>
                        <p>${score}</p>
                    </div>
                </div>
            </li>
            <li class="w3-white">
                <div class="w3-row">
                    <div class="w3-col s3">
                        <p class="w3-text-teal"><b>監造單位</b></p>
                    </div>
                    <div class="w3-col s9">
                        <p>${inspector}</p>
                    </div>
                    <div class="w3-col s3">
                        <p class="w3-text-teal"><b>承包商</b></p>
                    </div>
                    <div class="w3-col s9">
                        <p>${construct}</p>
                    </div>
                </div>
            </li>
        </ul>
        <a class="w3-btn-block w3-teal" href="/mobile/supervise_info/${id}"><h5><b>進入督導案&ensp;<i class="fa fa-arrow-circle-right"></i></b></h5></a>
    </div>
    <br class="resultTr">
</script>
{% endblock %}
{% block page_script %}
    <style type="text/css">
        .project-card{
            transition: opacity 0.5s ease;
            opacity: 0.6;
        }
        #projects_list .project-card:nth-child(1){
            opacity: 1;
        }
    </style>

    <script>
        var mySidenav = document.getElementById("mySidenav");
        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");
        function w3_open() {
            if (mySidenav.style.display === 'block') {
                mySidenav.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidenav.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }
        // Close the sidenav with the close button
        function w3_close() {
            mySidenav.style.display = "none";
            overlayBg.style.display = "none";
        }
        
        function search_supervise(){
            var $obj = $(this);
            var per_page = 15;
            var page = parseInt($obj.attr('page'));

            var string = 'limit=' + per_page + '&offset=' + ((page-1) * per_page);
            $.each($('.search_condition').find('input, select'), function(){
                var $obj = $(this);
                var name = $obj.attr('name');
                var value = $obj.val();
                string += '&' + name + '=' + value;
            });
            
            $.ajax({
                url: '/supervise/api/v2/supervisecase/search/?' + string,
                type: 'GET',
                contentType: 'application/json',
                dataType: 'json',
                success: function (data) {
                    $('.resultTr').remove();
                    for (var i=0; i<data.objects.length; i++){
                        data.objects[i]['sort'] = i+1+(page-1)*per_page;
                        data.objects[i]['score'] = parseInt(data.objects[i]['score']);
                        if (data.objects[i]['score'] < 1){
                            data.objects[i]['score'] = '不評分';
                        }
                        var $div = $('#HideSearchTr').tmpl(data.objects[i]).appendTo($('#search_result'));
                    }
                    $('.page_info').attr('page', page);
                    $('.page_info').attr('total_page', Math.ceil(data.meta.total_count/per_page));
                    $('.page_info').html(page + '/' + Math.ceil(data.meta.total_count/per_page));
                },
                error: function (json){
                }
            })
        }

        function pre_page(){
            var page = parseInt($('.page_info').attr('page'));
            var total_page = parseInt($('.page_info').attr('total_page'));
            if (page!=1){
                $('#search_supervise').attr('page', page-1);
                $('#search_supervise').click();
            }
        }

        function next_page(){
            var page = parseInt($('.page_info').attr('page'));
            var total_page = parseInt($('.page_info').attr('total_page'));
            if (page!=total_page){
                $('#search_supervise').attr('page', page+1);
                $('#search_supervise').click();
            }
        }

        function date_relation(){
            var $obj = $(this);
            var id = $obj.attr('id');
            var field_name = $obj.attr('field_name');
            var from = $('#' + field_name + '_from').val();
            var to = $('#' + field_name + '_to').val();
            if (!$obj.val()){
                $('#' + field_name + '_from').val('');
                $('#' + field_name + '_to').val('');
                return false;
            }
            if (id==field_name + '_from'){
                if (!to) {
                    $('#' + field_name + '_to').val(from);
                } else {
                    var startArray = from.split("-");
                    var endArray = to.split("-");
                    var start = new Date(startArray[0], startArray[1], startArray[2]);
                    var end = new Date(endArray[0], endArray[1], endArray[2]);
                    if (start > end) {
                        $('#' + field_name + '_to').val(from);
                    }
                }
            } else if (id==field_name + '_to'){
                if (!from) {
                    $('#' + field_name + '_from').val(to);
                } else {
                    var startArray = from.split("-");
                    var endArray = to.split("-");
                    var start = new Date(startArray[0], startArray[1], startArray[2]);
                    var end = new Date(endArray[0], endArray[1], endArray[2]);
                    if (start > end) {
                        $('#' + field_name + '_from').val(to);
                    }
                }
            }
        }
        $( document ).ready(function() {
            $(window).scroll(function(){
                var margin_h = 200;
                $(".project-card").each(function(i){
                    card = $(this);
                    card_top = card.offset().top;
                    card_bottom = card.offset().top + card.height();
                    window_bottom = $( window ).scrollTop() + $( window ).height();
                    if((card_top - margin_h) < $( window ).scrollTop()){
                        card.css("opacity",1);
                        if((card_bottom - margin_h) < $( window ).scrollTop()){
                            card.css("opacity",0.6);
                        }
                    } else if(card_top + margin_h >window_bottom){
                        card.css("opacity",0.6);
                    }
                })
            });
            $('#search_supervise').click(search_supervise);
            $('#search_supervise').click();
            $('.pre_page').click(pre_page);
            $('.next_page').click(next_page);
        });
    </script>
{% endblock %}