{% extends "fishuser/zh-tw/base.html" %}
{% block menu %}
{% endblock %}
{% load humanize %}
{% block body %}
<br><br>
<table class="table table-bordered">
    <tr align="center">
        <td width="120">
            錯誤編號
        </td>
        <td>
            發生時間
        </td>
        <td>
            url
        </td>
    </tr>
    {% for bug in bugs_notyet %}
    <tr align="center">
        <td>
            {{ bug.id }} . <a href="/common/bugpage/{{ bug.code }}/" target="_blank"> {{ bug.code }} </a>
        </td>
        <td>
            <span style="font-size: 12px;">{{ bug.create_time }}</span>
        </td>
        <td align="left">{{ bug.rTitle }} </td>
    </tr>
    {% endfor %}
</table>
<br><br>
<script type="text/javascript">
    
</script>
{% endblock %}
