<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Expando Model</title>
</head>
<body>
    <ul>
        <li>o.no： {{ o.no }}</li>
        <li>o.name： {{ o.name }}</li>
        <li>o.integer： {{ o.integer }}</li>
        <li>o.float： {{ o.float }}</li>
        <li>o.datetime： {{ o.datetime|date:"Y (M) d H:i:s" }}</li>
        <li>o.測試： {{ o.測試 }}</li>
        <li>o.不存在： {{ o.不存在|default_if_none:"" }}</li>
        <li>隨機產生屬性 o.{{ key }}： {{ value }}</li>
    </ul>
    <ul>
        <li>漁港資訊</li>
        <li>h.no： {{ h.no }}</li>
        <li>h.name： {{ h.name }}</li>
        <li>h.integer： {{ h.integer }}</li>
        <li>h.float： {{ h.float }}</li>
        <li>h.datetime： {{ h.datetime|date:"Y (M) d H:i:s" }}</li>
        <li>h.漁港測試： {{ h.漁港測試 }}</li>
        <li>h.不存在： {{ h.不存在|default_if_none:"" }}</li>
    </ul>
</body>
</html>
