<img id="PTZCmdSender" machine_no="" src="/favicon.ico" ip="" login="" style="display: none;">
<table align="center">
    <tr>
        <td>
            <div id="left_up_button" class="pointer" OnMouseDown="sendPTZCmd('UL')" OnMouseUp="sendPTZCmd('Stop')" OnMouseOut="sendPTZCmd('Stop')"></div>
        </td>
        <td>
            <div id="up_button" class="pointer" OnMouseDown="sendPTZCmd('Up')" OnMouseUp="sendPTZCmd('Stop')" OnMouseOut="sendPTZCmd('Stop')"></div>
        </td>
        <td>
            <div id="right_up_button" class="pointer" OnMouseDown="sendPTZCmd('UR')" OnMouseUp="sendPTZCmd('Stop')" OnMouseOut="sendPTZCmd('Stop')"></div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="left_button" class="pointer" OnMouseDown="sendPTZCmd('Left')" OnMouseUp="sendPTZCmd('Stop')" OnMouseOut="sendPTZCmd('Stop')"></div>
        </td>
        <td>
            <img title="點我停止" class="pointer" id="marvin" OnMouseDown="sendPTZCmd('Stop')" OnMouseUp="sendPTZCmd('Stop')" OnClick="sendPTZCmd('Stop')" src="/media/weblive/image/marvin_r1.png" width="50" alt="">
        </td>
        <td>
            <div id="right_button" class="pointer" OnMouseDown="sendPTZCmd('Right')" OnMouseUp="sendPTZCmd('Stop')" OnMouseOut="sendPTZCmd('Stop')"></div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="left_down_button" class="pointer" OnMouseDown="sendPTZCmd('DL')" OnMouseUp="sendPTZCmd('Stop')" OnMouseOut="sendPTZCmd('Stop')"></div>
        </td>
        <td>
            <div id="down_button" class="pointer" OnMouseDown="sendPTZCmd('Down')" OnMouseUp="sendPTZCmd('Stop')" OnMouseOut="sendPTZCmd('Stop')"></div>
        </td>
        <td>
            <div id="right_down_button" class="pointer" OnMouseDown="sendPTZCmd('DR')" OnMouseUp="sendPTZCmd('Stop')" OnMouseOut="sendPTZCmd('Stop')"></div>
        </td>
    </tr>
</table>
<table align="center">
    <tr>
        <td>
            <div id="zoom_in_button" class="pointer" OnMouseDown="sendPTZCmd('ZoomIn')" OnMouseUp="sendPTZCmd('Stop')" OnMouseOut="sendPTZCmd('Stop')"></div>
        </td>
        <td>
            <div id="zoom_out_button" class="pointer" OnMouseDown="sendPTZCmd('ZoomOut')" OnMouseUp="sendPTZCmd('Stop')" OnMouseOut="sendPTZCmd('Stop')"></div>
        </td>
    </tr>
</table>
<div id="select_preset"></div>
<div id="select_quality"></div>
