{% extends "fishuser/zh-tw/base.html" %}
{% load i18n %}
{% load humanize %}

{% block body %}


<div class="modal-header">
    <h3 class="modal-title" id="myModalLabel">滿意度調查表</h3>
</div>
<div class="modal-body">
    <h4>對工程管理的幫助</h4>
    <div class="rate_project rate" data-rate-value = 5></div>
    <h4>功能使用</h4>
    <div class="rate_app rate" data-rate-value = 5></div>
    <h4>整體滿意度</h4>
    <div class="rate_all rate" data-rate-value = 5></div>
    <h4>對系統的建議</h4>
    <input  type="radio" name="opinion" value="yes">有
    <input  type="radio" name="opinion" value="no" checked>無<p>
    <textarea id="system_memo_1" name="system_memo_1" rows="5" cols="20" style="width:70%; display:none;"></textarea>
</div>
<div class="modal-footer" style="display: flex; justify-content: center; align-items: center; ">
    <button type="button" title="送出" class="btn btn-default" onclick="satisfaction()">送出</button>
</div>



<script src="/media/fishuser/v2/js/rater.js" charset="utf-8"></script>
<script type="text/javascript">
    $('input[type=radio]').change(function(){
	if($(this).val() == 'yes'){
        $('#system_memo_1').show();
        memo_status = true
    }
    else{
        $('#system_memo_1').hide();
        memo_status = false
    }
    });
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    }
    var memo_status = false
    var project_score = 0;
    var app_score = 0;
    var all_score = 0;
    var CSRFMIDDLEWARETOKEN = getCookie('csrftoken');
    var options = {
    max_value: 5,
    step_size: 1,
    }
    $(document).ready(function(){
        $(".rate_project").rate(options);
        $(".rate_project").on("change", function(ev, data){
                project_score = data.to;
        })
        $(".rate_app").rate(options);
        $(".rate_app").on("change", function(ev, data){
                app_score = data.to;
        })
        $(".rate_all").rate(options);
        $(".rate_all").on("change", function(ev, data){
                all_score = data.to;
        })
    })
    function satisfaction(){
        if (project_score == 0){
            project_score += 5
        }
        if (app_score == 0){
            app_score += 5
        }
        if (all_score == 0){
            all_score += 5
        }
        //console.log(memo_status)
        if(memo_status && document.getElementById("system_memo_1").value == ''){
            alert('請填寫系統意見')
        }
        else{
            var memo = document.getElementById("system_memo_1").value;
            $.ajax({
                url: '/fishuser/satisfaction/',
                type:'POST',
                data:{
                        project_score: project_score,
                        app_score: app_score,
                        all_score: all_score,
                        system_memo: memo,
                        is_satisfaction: true,
                        csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
                        }
            })
            $('#satisfaction_dialog').modal('hide')
            document.location.href="/fishuser/";
        }
      }
</script>
{% endblock %}
