{% load humanize %}

<br><br>
<h2 align="center">攝影機帳密</h2>
<table class="table table-bordered" style="font-size: 14px;">
    <tr class="warning">
        <td>縣市<br>漁港<br>攝影機名稱</td>
        <td>經度<br>緯度<br>位置敘述</td>
        <td>IP位置</td>
        <td width="25%">帳號<br>密碼</td>
        <td width="6%">啟用與否</td>
        <td>帳號類別</td>
    </tr>
    {% for a in accounts %}
        <tr>
            <td>
                {{ a.monitor.place.name }}<br>
                {{ a.monitor.port.name }}<br>
                {{ a.monitor.name }}
            </td>
            <td style="font-size: 10px;">
                {{ a.monitor.lng }}<br>
                {{ a.monitor.lat }}<br>
                {{ a.monitor.location }}
            </td>
            <td style="font-size: 10px;">{{ a.monitor.ip }}</td>
            <td>
                <input
                        type="text" class="BlurUpdateInfo form-control"
                        field_type="str"
                        row_id="{{ a.id }}"
                        field_name="account"
                        table_name="account"
                        module_name='harbor'
                        placeholder="待輸入"
                        old_value="{{ a.account|default_if_none:'' }}"
                        value="{{ a.account|default_if_none:'' }}"/>
                <input
                        type="text" class="BlurUpdateInfo form-control"
                        field_type="str"
                        row_id="{{ a.id }}"
                        field_name="passwd"
                        table_name="account"
                        module_name='harbor'
                        placeholder="待輸入"
                        old_value="{{ a.passwd|default_if_none:'' }}"
                        value="{{ a.passwd|default_if_none:'' }}"/>
            </td>
            <td bgcolor="{% if a.monitor.active %}#CDFFCE{% else %}#FFCECD{% endif %}" align="center">
                {% if a.monitor.active %}啟用{% else %}關閉{% endif %}
            </td>
            <td>{{ a.type.value }}</td>
        </tr>
    {% endfor %}
</table>