{% load humanize %}
<br><br>
<h2 align="center">
    編輯養殖區
    <button class="btn btn-success" type="button" data-toggle="modal" data-target="#create_aquaculture_dialog">新增『養殖區』</button>
</h2>

<select id="edit_aquaculture_select_place" class="form-control">
    <option value="">請選擇縣市</option>
    {% for place in places %}
        <option value="{{ place.id }}">{{ place.name }} ({{ place.aquaculture_set.all.count }})</option>
    {% endfor %}
</select>

<table class="table table-bordered sortable" id="AquacultureSearchResultTable">
    <thead>
        <tr class="warning" align="center">
            <td></td>
            <td>
                養殖區名稱
            </td>
            <td>
                養殖區代碼
            </td>
            <td>
                縣市
            </td>
            <td>
                刪除
            </td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script type="text/x-jquery-tmpl" id="HideAquacultureSearchTr">
    <tr id="tr_aquaculture_${id}" style="text-align: center;" row_id="${id}" class="${class_name}">
        <td>${sort}</td>
        <td>
            <input
                type="text" class="BlurUpdateInfo form-control"
                field_type="str"
                row_id="${id}"
                field_name="name"
                table_name="aquaculture"
                module_name='harbor'
                placeholder="待輸入"
                old_value="${name}"
                value="${name}"/>
        </td>
        <td>
            <input
                type="text" class="BlurUpdateInfo form-control"
                field_type="str"
                row_id="${id}"
                field_name="code"
                table_name="aquaculture"
                module_name='harbor'
                placeholder="待輸入"
                old_value="${code}"
                value="${code}"/>
        </td>
        <td>
            <select
                id="aquaculture_place_${id}"
                class="BlurUpdateInfo form-control"
                is_select="true"
                row_id="${id}"
                field_name="place"
                table_name="aquaculture"
                module_name='harbor'
                old_value="${place__id}">
                {% for place in places %}
                    <option value="/fishuser/api/v2/place/{{ place.id }}/">{{ place.name }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <button class="deleteRow btn btn-danger btn-sm" title="點我刪除"
                row_id="${id}"
                row_name="${name}"
                message="刪除此養殖區將一併刪除所有相關資料及圖資!!!! 且將無法恢復!!!"
                module_name = "harbor"
                table_name = "aquaculture"
                remove_target = "tr_aquaculture_${id}"
                title="刪除"><span class="glyphicon glyphicon-remove"></span></button>
        </td>
    </tr>
</script>



<div class="modal fade" id="create_aquaculture_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">
                    新增養殖區
                </h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                        <td width="20%">養殖區名稱</td>
                        <td width="80%">
                            <input class="form-control" id="aquaculture_name" value="">
                        </td>
                    </tr>
                    <tr>
                        <td>養殖區代碼</td>
                        <td>
                            <input class="form-control" id="aquaculture_code" value="">
                        </td>
                    </tr>
                    <tr>
                        <td>縣市</td>
                        <td>
                            <select
                                id="aquaculture_place"
                                class="form-control"
                                is_select="true">
                                <option value="">請選擇縣市</option>
                                {% for place in places %}
                                    <option value="/fishuser/api/v2/place/{{ place.id }}/">{{ place.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="create_aquaculture" class="btn btn-primary">新增</button>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    function edit_aquaculture_select_place(){
        var $obj = $(this);
        var place_id = $obj.val();
        if (!place_id){
            $('.resultTr').remove();
            return false;
        }
        $.ajax({
            url: '/harbor/api/v2/aquaculture/?limit=1000000000&place=' + place_id,
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                $('.resultTr').remove();
                for (var i=0; i<data.objects.length; i++){
                    data.objects[i]['sort'] = i+1;
                    data.objects[i]['class_name'] = 'resultTr';
                    var $div = $('#HideAquacultureSearchTr').tmpl(data.objects[i]).appendTo($('#AquacultureSearchResultTable > tbody:last'));
                    $('#aquaculture_place_' + data.objects[i]['id']).val(data.objects[i]['place']);
                    $('#aquaculture_type_' + data.objects[i]['id']).val('/harbor/api/v2/option/' + data.objects[i]['type__id'] + '/');
                    $('#aquaculture_observatory_' + data.objects[i]['id']).val(data.objects[i]['observatory']);
                    $('.ClickShowInfo').unbind('click');
                    $('.BlurUpdateInfo').unbind('blur');
                    $('.BlurUpdateInfo').unbind('keypress');
                    $('.deleteRow').unbind('click');
                    $('.ClickShowInfo').click(ClickShowInfo);
                    $('.BlurUpdateInfo').blur(BlurUpdateInfo);
                    $('.BlurUpdateInfo').keypress(function(event) {
                        var $obj = $(this);
                        if (!$obj.is("textarea") && event.which == 13){
                            $obj.blur();
                        }
                    });
                    $('.deleteRow').click(deleteRow);
                }
            },
            error: function (data) {
                if (data.responseText){
                    alert(data.responseText);
                } else {
                    alert('操作失敗，可能系統忙碌中，請稍候重試一次。');
                }
            },
        })
    }

    function create_aquaculture() {
        var aquaculture = $('#aquaculture').val();
        
        if (!$('#aquaculture_name').val()){
            alert('請輸入養殖區名稱');
            return false;
        }
        if (!$('#aquaculture_code').val()){
            alert('請輸入養殖區代碼');
            return false;
        }
        if (!$('#aquaculture_place').val()){
            alert('請選擇縣市');
            return false;
        }
        var data = {
            csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
            name: $('#aquaculture_name').val(),
            code: $('#aquaculture_code').val(),
            place: $('#aquaculture_place').val()
        }
        $.ajax({
            url: '/harbor/api/v2/aquaculture/',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                $('#aquaculture_name').val('');
                $('#aquaculture_code').val('');
                $('#aquaculture_place').val('');
                $('#create_aquaculture_dialog').modal('hide');
                alert('新增養殖區成功!!');
            },
            error: function (data) {}
        })
    }

    $(document).ready(function(){
        $('#edit_aquaculture_select_place').change(edit_aquaculture_select_place);
        $('#create_aquaculture').click(create_aquaculture);
    });

</script>