{% extends "fishuser/zh-tw/base.html" %}
{% load i18n %}
{% load humanize %}
{% load utiltags %}

{% block js_in_compress %}
    <script src="/media/harbor/v2/plupload/jquery.plupload.queue/jquery.plupload.queue.js{{ settings.SV_ }}"></script>
    <script src="/media/harbor/v2/plupload/js/plupload.full.js{{ settings.SV_ }}"></script>
{% endblock %}



{% block body %}
<h2>編輯資訊</h2>


<ul class="nav nav-tabs nav-justified">
    <li class="active change_page_tab" page_name="page_observatory"><a>觀測站</a></li>
    <li class="change_page_tab" page_name="page_fishingport"><a>漁港</a></li>
    <li class="change_page_tab" page_name="page_aquaculture"><a>養殖區</a></li>
    <li class="change_page_tab" page_name="page_reef"><a>魚礁區</a></li>
    <li class="change_page_tab" page_name="page_webcam_account"><a>攝影機帳密</a></li>
    <li class="change_page_tab" page_name="page_webcam_edit"><a>編輯攝影機</a></li>
</ul>

<div id="page_observatory" class="pages" align="left">
    {% include "harbor/zh-tw/edit_page_observatory.html" %}
</div>
<div id="page_fishingport" class="pages" align="left" style="display: none;">
    {% include "harbor/zh-tw/edit_page_fishingport.html" %}
</div>
<div id="page_aquaculture" class="pages" align="left" style="display: none;">
    {% include "harbor/zh-tw/edit_page_aquaculture.html" %}
</div>
<div id="page_reef" class="pages" align="left" style="display: none;">
    {% include "harbor/zh-tw/edit_page_reef.html" %}
</div>
<div id="page_webcam_account" class="pages" align="left" style="display: none;">
    {% include "harbor/zh-tw/edit_page_webcam_account.html" %}
</div>
<div id="page_webcam_edit" class="pages" align="left" style="display: none;">
    {% include "harbor/zh-tw/edit_page_webcam_edit.html" %}
</div>



<script type="text/javascript">
    function change_page_tab() {
        var $obj = $(this);
        var page_name = $obj.attr('page_name');
        $('.change_page_tab').attr('class', 'change_page_tab');
        $obj.attr('class', 'change_page_tab active');
        $('.pages').hide();
        $('#' + page_name).show();
    }

    $(document).ready(function(){
        $('.change_page_tab').click(change_page_tab);//切換分頁
    });

</script>
{% endblock%}