{% load humanize %}
<br><br>
<h3>
    <span class="label label-success">
        <span class="glyphicon glyphicon-paperclip"></span>
        養殖漁業公共工程
    </span>
    {% if edit %}　<button class="btn btn-info btn-sm" data-toggle="modal" data-target="#create_aquaculturepublicwork_dialog">新增</button><br>{% endif %}
</h3>
<table class="table table-bordered" id="aquaculturepublicwork_table">
    <tr class="warning" align="center">
        <td width="11%">
            年度
        </td>
        <td>
            工程項目
        </td>
        <td width="15%">
            生產區
        </td>
        <td width="8%">
            單位
        </td>
        <td>
            工程數量
        </td>
        <td>
            工程經費<br>(萬元)
        </td>
        <td>
            備註
        </td>
        {% if edit %}
            <td width="5%">刪除</td>
        {% endif %}
    </tr>
    {% for i in place.aquaculturepublicworks %}
        <tr align="center" id="tr_aquaculturepublicwork_{{ i.id }}">
            <td>{{ i.year }}</td>
            <td align="left">{{ i.project_item|default_if_none:"" }}</td>
            <td>{{ i.area|default_if_none:"" }}</td>
            <td>{{ i.unit|default_if_none:"" }}</td>
            <td align="right">{{ i.project_num|default_if_none:"" }}</td>
            <td align="right">{{ i.project_cost|default_if_none:"" }}</td>
            <td align="left">{{ i.memo|linebreaks }}</td>
            {% if edit %}
                <td>
                    <button class="deleteRow btn btn-danger btn-sm" title="點我刪除"
                        row_id="{{ i.id }}"
                        module_name = "harbor"
                        table_name = "aquaculturepublicwork"
                        remove_target = "tr_aquaculturepublicwork_{{ i.id }}"
                        title="刪除"><span class="glyphicon glyphicon-remove"></span></button>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
</table>

{% if edit %}
    <script type="text/x-jquery-tmpl" id="HideAquaculturePublicWorkTr">
        <tr align="center" id="tr_aquaculturepublicwork_${id}">
            <td>${year}</td>
            <td align="left">${project_item}</td>
            <td>${area}</td>
            <td>${unit}</td>
            <td align="right">${project_num}</td>
            <td align="right">${project_cost}</td>
            <td align="left">${memo}</td>
            <td>
                <button class="deleteRow btn btn-danger btn-sm" title="點我刪除"
                    row_id="${id}"
                    module_name = "harbor"
                    table_name = "aquaculturepublicwork"
                    remove_target = "tr_aquaculturepublicwork_${id}"
                    title="刪除"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
    </script>

    <div class="modal fade" id="create_aquaculturepublicwork_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">新增養殖漁業公共工程</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-border">
                        <tr>
                            <td width="25%">年度</td>
                            <td width="75%">
                                <input id="aquaculturepublicwork_year" class="form-control" value="">
                            </td>
                        </tr>
                        <tr>
                            <td>工程項目</td>
                            <td>
                                <input id="aquaculturepublicwork_project_item" class="form-control" value="">
                            </td>
                        </tr>
                        <tr>
                            <td>生產區</td>
                            <td>
                                <input id="aquaculturepublicwork_area" class="form-control" value="">
                            </td>
                        </tr>
                        <tr>
                            <td>單位</td>
                            <td>
                                <input id="aquaculturepublicwork_unit" class="form-control" value="">
                            </td>
                        </tr>
                        <tr>
                            <td>工程數量</td>
                            <td>
                                <input id="aquaculturepublicwork_project_num" class="form-control" value="">
                            </td>
                        </tr>
                        <tr>
                            <td>工程經費<br>(萬元)</td>
                            <td>
                                <input id="aquaculturepublicwork_project_cost" class="form-control" value="">
                            </td>
                        </tr>
                        <tr>
                            <td>備註</td>
                            <td>
                                <textarea id="aquaculturepublicwork_memo" class="form-control"></textarea>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="create_aquaculturepublicwork" class="btn btn-primary">新增</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}















<br>
<h3>
    <span class="label label-success">
        <span class="glyphicon glyphicon-paperclip"></span>
        養殖工程歷年公共設施項目
    </span>
    {% if edit %}　<button class="btn btn-info btn-sm" data-toggle="modal" data-target="#create_aquaculturepublic_dialog">新增</button><br>{% endif %}
</h3>
<table class="table table-bordered" id="aquaculturepublic_table">
    <tr class="warning" align="center">
        <td width="11%">
            年度
        </td>
        <td>
            工程項目
        </td>
        <td>
            工程項目
        </td>
        <td>
            工程經費<br>(萬元)
        </td>
        <td>
            備註
        </td>
        {% if edit %}
            <td width="5%">刪除</td>
        {% endif %}
    </tr>
    {% for i in place.aquaculturepublics %}
        <tr align="center" id="tr_aquaculturepublic_{{ i.id }}">
            <td>{{ i.year }}</td>
            <td align="left">{{ i.project_name|default_if_none:"" }}</td>
            <td align="left">{{ i.contents|default_if_none:"" }}</td>
            <td align="right">{{ i.value|default_if_none:"" }}</td>
            <td align="left">{{ i.memo|linebreaks }}</td>
            {% if edit %}
                <td>
                    <button class="deleteRow btn btn-danger btn-sm" title="點我刪除"
                        row_id="{{ i.id }}"
                        module_name = "harbor"
                        table_name = "aquaculturepublic"
                        remove_target = "tr_aquaculturepublic_{{ i.id }}"
                        title="刪除"><span class="glyphicon glyphicon-remove"></span></button>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
</table>

{% if edit %}
    <script type="text/x-jquery-tmpl" id="HideAquaculturePublicTr">
        <tr align="center" id="tr_aquaculturepublic_${id}">
            <td>${year}</td>
            <td align="left">${project_name}</td>
            <td align="left">${contents}</td>
            <td align="right">${value}</td>
            <td align="left">${memo}</td>
            <td>
                <button class="deleteRow btn btn-danger btn-sm" title="點我刪除"
                    row_id="${id}"
                    module_name = "harbor"
                    table_name = "aquaculturepublic"
                    remove_target = "tr_aquaculturepublic_${id}"
                    title="刪除"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
    </script>

    <div class="modal fade" id="create_aquaculturepublic_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">新增養殖工程歷年公共設施項目</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-border">
                        <tr>
                            <td width="25%">年度</td>
                            <td width="75%">
                                <input id="aquaculturepublic_year" class="form-control" value="">
                            </td>
                        </tr>
                        <tr>
                            <td>工程名稱</td>
                            <td>
                                <input id="aquaculturepublic_project_name" class="form-control" value="">
                            </td>
                        </tr>
                        <tr>
                            <td>工程項目</td>
                            <td>
                                <input id="aquaculturepublic_contents" class="form-control" value="">
                            </td>
                        </tr>
                        <tr>
                            <td>工程經費<br>(萬元)</td>
                            <td>
                                <input id="aquaculturepublic_value" class="form-control" value="">
                            </td>
                        </tr>
                        <tr>
                            <td>備註</td>
                            <td>
                                <textarea id="aquaculturepublic_memo" class="form-control"></textarea>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="create_aquaculturepublic" class="btn btn-primary">新增</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
















<script type="text/javascript">
    function create_aquaculturepublicwork() {
        var place = $('#place').val();;
        var data = {
            csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
            place: place,
        }
        if ($('#aquaculturepublicwork_year').val()){
            data['year'] = $('#aquaculturepublicwork_year').val();
        }
        if ($('#aquaculturepublicwork_project_item').val()){
            data['project_item'] =  $('#aquaculturepublicwork_project_item').val();
        }
        if ($('#aquaculturepublicwork_area').val()){
            data['area'] =  $('#aquaculturepublicwork_area').val();
        }
        if ($('#aquaculturepublicwork_unit').val()){
            data['unit'] =  $('#aquaculturepublicwork_unit').val();
        }
        if ($('#aquaculturepublicwork_project_num').val()){
            data['project_num'] =  $('#aquaculturepublicwork_project_num').val();
        }
        if ($('#aquaculturepublicwork_project_cost').val()){
            data['project_cost'] =  $('#aquaculturepublicwork_project_cost').val();
        }
        if ($('#aquaculturepublicwork_memo').val()){
            data['memo'] =  $('#aquaculturepublicwork_memo').val();
        }
        $.ajax({
            url: '/harbor/api/v2/aquaculturepublicwork/',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                var $div = $('#HideAquaculturePublicWorkTr').tmpl(data).appendTo($('#aquaculturepublicwork_table'));
                $('#aquaculturepublicwork_year').val('');
                $('#aquaculturepublicwork_project_item').val('');
                $('#aquaculturepublicwork_area').val('');
                $('#aquaculturepublicwork_unit').val('');
                $('#aquaculturepublicwork_project_num').val('');
                $('#aquaculturepublicwork_project_cost').val('');
                $('#aquaculturepublicwork_memo').val('');
                $('#create_aquaculturepublicwork_dialog').modal('hide');
                $('.deleteRow').unbind('click');
                $('.deleteRow').click(deleteRow);
            },
            error: function (data) {}
        })
    }

    function create_aquaculturepublic() {
        var place = $('#place').val();;
        var data = {
            csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
            place: place,
        }
        if ($('#aquaculturepublic_year').val()){
            data['year'] = $('#aquaculturepublic_year').val();
        }
        if ($('#aquaculturepublic_project_name').val()){
            data['project_name'] =  $('#aquaculturepublic_project_name').val();
        }
        if ($('#aquaculturepublic_contents').val()){
            data['contents'] =  $('#aquaculturepublic_contents').val();
        }
        if ($('#aquaculturepublic_value').val()){
            data['value'] =  $('#aquaculturepublic_value').val();
        }
        if ($('#aquaculturepublic_memo').val()){
            data['memo'] =  $('#aquaculturepublic_memo').val();
        }
        $.ajax({
            url: '/harbor/api/v2/aquaculturepublic/',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                var $div = $('#HideAquaculturePublicTr').tmpl(data).appendTo($('#aquaculturepublic_table'));
                $('#aquaculturepublic_year').val('');
                $('#aquaculturepublic_project_name').val('');
                $('#aquaculturepublic_contents').val('');
                $('#aquaculturepublic_value').val('');
                $('#aquaculturepublic_memo').val('');
                $('#create_aquaculturepublic_dialog').modal('hide');
                $('.deleteRow').unbind('click');
                $('.deleteRow').click(deleteRow);
            },
            error: function (data) {}
        })
    }


    $(document).ready(function(){
        $('#create_aquaculturepublicwork').click(create_aquaculturepublicwork);
        $('#create_aquaculturepublic').click(create_aquaculturepublic);
    });

</script>