<br><br>
<h3>
    <span class="label label-success">
        <span class="glyphicon glyphicon-paperclip"></span>
        人文概述
    </span>
    {% if edit %}　<button class="btn btn-info btn-sm ClickShowInfo" row_id="{{ city.id }}" field_name="people">編輯</button><br>{% endif %}
</h3>

<span id="show_part_people_{{ city.id }}">
    {{ city.people|default_if_none:""|linebreaks }}
</span>
{% if edit %}
    <textarea id="edit_part_people_{{ city.id }}"
        class="BlurUpdateInfo form-control" style="display: none;"
        field_type="str"
        row_id="{{ city.id }}"
        field_name="people"
        table_name="city"
        module_name='harbor'
        type="textarea"
        old_value="{{ city.people|default_if_none:"" }}"
        cols="100" rows="15">{{ city.people|default_if_none:"" }}</textarea>
{% endif %}

<br>
<h3>
    <span class="label label-success">
        <span class="glyphicon glyphicon-paperclip"></span>
        漁港位置
    </span> 
    {% if edit %}　<button class="btn btn-info btn-sm ClickShowInfo" row_id="{{ city.id }}" field_name="fishingport_location">編輯</button><br>{% endif %}
</h3>
<span id="show_part_fishingport_location_{{ city.id }}">
    {{ city.fishingport_location|default_if_none:""|linebreaks }}
</span>
{% if edit %}
    <textarea id="edit_part_fishingport_location_{{ city.id }}"
        class="BlurUpdateInfo form-control" style="display: none;"
        field_type="str"
        row_id="{{ city.id }}"
        field_name="fishingport_location"
        table_name="city"
        module_name='harbor'
        type="textarea"
        old_value="{{ city.fishingport_location|default_if_none:"" }}"
        cols="100" rows="10">{{ city.fishingport_location|default_if_none:"" }}</textarea>
{% endif %}
