{% load humanize %}
<br><br>
<h3>
    <span class="label label-success">
        <span class="glyphicon glyphicon-paperclip"></span>
        各式圖資
    </span>
    {% if edit %}　<button class="btn btn-info btn-sm" data-toggle="modal" data-target="#create_fishingportphoto_dialog">新增</button><br>{% endif %}
</h3>
<div class="row">
    <div class="col-md-3">
        {% for type in option.photo_type %}
            {% if type.photo %}
            <div class="panel panel-warning">
                <div class="panel-heading" style="padding-left: 0;padding-right: 0;">
                    {{ type.value }}<span class="badge">{{ type.photo.count }}</span>
                </div>
                {% for p in type.photo %}
                    <div class="panel-body photo_list pointer" style="padding: 0px;" url="/{{ p.rUrl }}" id="div_fishingportphoto_{{ p.id }}"
                        onclick="
                            $obj=$(this);
                            $('#show_photo').show();
                            $('.photo_list').css('background-color', '');
                            $obj.css('background-color', '#FFB0AF');
                            $('#show_photo').attr('src', $obj.attr('url'));
                            $('#show_photo_title').html($obj.html());
                            window.location='#nav';">
                        {% if edit %}
                            <button class="deleteRow btn btn-danger btn-xs" title="點我刪除"
                                row_id="{{ p.id }}"
                                module_name = "harbor"
                                table_name = "fishingportphoto"
                                remove_target = "div_fishingportphoto_{{ p.id }}"
                                title="刪除"><span class="glyphicon glyphicon-remove"></span></button>
                        {% endif %}
                        {{ p.name }}
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-md-9">
        <h4 id="show_photo_title"></h4>
        <img id="show_photo" src="" width="600" class="img-thumbnail" style="display: none;">
    </div>
</div>



{% if edit %}
    <div class="modal fade" id="create_fishingportphoto_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">新增圖資</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-border">
                        <tr>
                            <td width="25%">照片種類</td>
                            <td width="75%">
                                <select id="fishingportphoto_type" class="form-control">
                                    {% for type in option.photo_type %}
                                        <option value="/harbor/api/v2/option/{{ type.id }}/">{{ type.value }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">檔案名</td>
                            <td width="75%">
                                <input id="fishingportphoto_name" class="form-control" value="">
                            </td>
                        </tr>
                        <tr>
                            <td>選擇檔案</td>
                            <td>
                                <button table_name="FishingPortPhoto" class="btn btn-info uploader_image" id="new_image_file">上傳檔案</button>(可多選)
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}



<script type="text/javascript">
    function NewImageFileUploader($buttom, row_id){
        var buttom_id = $buttom.attr('id');
        var name = $('#fishingportphoto_name').val();
        var fishingport = $('#fishingport').val();
        var type = $('#fishingportphoto_type').val();;

        var uploader = new plupload.Uploader({
            runtimes: 'html5',
            browse_button: buttom_id,
            url: '/harbor/new_file_upload/',
            multi_selection: true,
            max_file_size : '100mb',
            multipart: true,
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
            },
            multipart_params : {
                csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
                fishingport: fishingport,
                type: type,
                name: name,
                table_name: 'FishingPortPhoto',
            },
            init:{
                FilesAdded:function(up, files){
                    var file_num = files.length;
                    if (confirm('確定上傳這' + file_num + '個檔案?上傳完成後需重新整理頁面!!!')){
                        // up.settings.multipart_params.sop_id = sop_id;
                        // up.settings.multipart_params.file_type = file_type;
                        up.start();
                    }else{
                        return false
                    }
                },
                FileUploaded:function(up, file, res){
                    alert('上傳完成');
                    $('#create_fishingportphoto_dialog').modal('hide');
                },
                UploadProgress:function(up, file) {
                }
            }
        });
        uploader.init();
    }  



    $(document).ready(function(){
        $(".uploader_image").each(function(){
            var $obj = $(this);
            NewImageFileUploader($obj);
        });
    });

</script>