{% load i18n %}
{% load humanize %}
{% load utiltags %}
{% load guardian_tags %}

<br>
<h3>
    <span class="label label-success">
        <span class="glyphicon glyphicon-paperclip"></span>
        相關工程計畫
    </span>
    {% if edit %}　<button class="btn btn-info btn-sm" data-toggle="modal" data-target="#create_project_dialog">新增</button><br>{% endif %}
</h3>
<table class="table table-bordered" style="font-size: 14px;" id="project_table">
    <tr class="warning" align="center">
        <td width="7%">
            年度
        </td>
        <td width="60%">
            工程名稱
        </td>
        <td width="30%">
            工程經費
        </td>
        {% if edit %}
            <td width="5%">刪除</td>
        {% endif %}
    </tr>
    {% for p in reef.projects %}
        <tr align="center" id="tr_project_{{ p.id }}">
            <td>{{ p.year }}</td>
            <td align="left">
                {{ p.name|default_if_none:"" }}
            </td>
            <td align="right">{{ p.price|default_if_none:""|intcomma }} 元</td>
            {% if edit %}
                <td>
                    <button class="deleteRow btn btn-danger btn-sm" title="點我刪除"
                        row_id="{{ p.id }}"
                        module_name = "harbor"
                        table_name = "reefproject"
                        message="確定要刪除此筆紀錄嗎？"
                        remove_target = "tr_project_{{ p.id }}"
                        title="刪除"><span class="glyphicon glyphicon-remove"></span></button>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
</table>


{% if edit %}
    <script type="text/x-jquery-tmpl" id="HideProjectTr">
        <tr align="center" id="tr_project_${id}">
            <td>${year}</td>
            <td align="left">${name}</td>
            <td align="right">${price}</td>
            <td>
                <button class="deleteRow btn btn-danger btn-sm" title="點我刪除"
                    row_id="${id}"
                    module_name = "harbor"
                    table_name = "reefproject"
                    message="確定要刪除此筆紀錄嗎？"
                    remove_target = "tr_project_${id}"
                    title="刪除"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
    </script>

    <div class="modal fade" id="create_project_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">新增相關工程計畫</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered" style="font-size: 14px;">
                        <tr>
                            <td width="20%" class="active">年度*</td>
                            <td width="80%" align="left">
                                <input id="project_year" class="form-control project_field" value="">
                            </td>
                        </tr>
                        <tr>
                            <td class="active">工程名稱*</td>
                            <td align="left">
                                <input id="project_name" class="form-control project_field" value="">
                            </td>
                        </tr>
                        <tr>
                            <td class="active">工程經費(元)</td>
                            <td align="left">
                                <input id="project_price" class="form-control project_field" value="">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="create_project" class="btn btn-primary">新增</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}




<script type="text/javascript">
    function create_project() {
        var reef = $('#reef').val();;
        var data = {
            csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
            reef: reef,
        }
        $.each($('.project_field'), function(){
            var $obj = $(this);
            var field_name = $obj.attr('id').replace('project_', '');
            if ($obj.val()){
                data[field_name] = $obj.val();
            }
        });

        $.ajax({
            url: '/harbor/api/v2/reefproject/',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                var $div = $('#HideProjectTr').tmpl(data).appendTo($('#project_table'));
                $('.project_field').val('');
                $('#create_project_dialog').modal('hide');
                $('.deleteRow').unbind('click');
                $('.deleteRow').click(deleteRow);
            },
            error: function (data) {}
        })
    }


    $(document).ready(function(){
        $('#create_project').click(create_project);
    });

</script>