<script type="text/javascript" src="/media/monitor/js/lib.js"></script>
<table>
    <tr>
        <td>縣市：</td>
        <td>
            <select id="place" class="form-control">
                <option value=""></option>
                {% for place in places %}
                    <option value="{{ place.id }}">{{ place.name }}</option>
                {% endfor %}
            </select>
        </td>
        <td>漁港：</td>
        <td id="FishingPort">
            <select id="port" class="form-control">
                <option value="" lat="" lng="">請選擇縣市</option>
            </select>
        </td>
    </tr>
</table>
{% include 'monitor/mapforaddcam.html' %}
<table>
    <tr>
        <td>攝影機座標：</td>
        <td colspan="3">
            <div id="coord" align="center" style="width: 500px; height: 20px;line-height:20px; border: 1px black solid;font-size: 12px;disabled: true;">請選擇漁港後移動標記</div>
            <div id="lat" class="cam_need" style="display: none;" value=""></div>
            <div id="lng" class="cam_need" style="display: none;" value=""></div>
        </td>
        <td>
            <img id="check_coord" src="/media/monitor/image/uncheck.png" width="20" style="vertical-align:middle;" alt="位置檢查">
        </td>
    </tr>
    <tr>
        <td>攝影機名稱：</td>
        <td colspan="3">
            <input id="name" class="cam_need form-control" size="60">
        </td>
        <td>
            <img id="check_name" src="/media/monitor/image/uncheck.png" width="20" style="vertical-align:middle;" alt="名稱檢查">
        </td>
    </tr>
    <tr>
        <td>攝影機型號：</td>
        <td colspan="4">
            <select id="machine_no" class="cam_need">
                <option value="BE3204">Blue Eyes BE3204(2010 年架設，共 6 台)</option>
                <option value="PELCO-D">Eyeview PELCO-D(2011 年架設，共 15 台)</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>攝影機備註：</td>
        <td colspan="4">
            <input id="note" class="form-control" size="60">
        </td>
    </tr>
    <tr>
        <td>攝影機 IP 位置：</td>
        <td>
            <input id="IP" class="cam_need form-control" size="25">
        </td>
        <td colspan="3">
            <img id="check_IP" src="/media/monitor/image/uncheck.png" width="20" style="vertical-align:middle;" alt="IP 檢查">
        </td>
    </tr>
    <tr>
        <td>攝影機預設帳號：</td>
        <td>
            <input id="account" class="cam_need form-control" size="25">
        </td>
        <td colspan="3">
            <img id="check_account" src="/media/monitor/image/uncheck.png" width="20" style="vertical-align:middle;" alt="帳號檢查">
        </td>
    </tr>
    <tr>
        <td>攝影機預設密碼：</td>
        <td>
            <input id="passwd" class="cam_need form-control" type="password" size="25">
        </td>
        <td>密碼驗證：</td>
        <td>
            <input id="passwd_check" class="cam_need form-control" type="password" size="25">
        </td>
        <td>
            <img id="check_passwd" src="/media/monitor/image/uncheck.png" width="20" style="vertical-align:middle;" alt="密碼檢查">
        </td>
    </tr>
    <tr>
        <td>錄影檔儲存位置：</td>
        <td>
            <input id="video_url" class="cam_need" size="25">
        </td>
        <td colspan="3">
            <img id="check_video_url" src="/media/monitor/image/uncheck.png" width="20" style="vertical-align:middle;" alt="影片儲存位置檢查">
        </td>
    </tr>
    <tr>
        <td colspan="4" height="70" align="right">
            <button id="cam_submit" class="btn btn-success" disabled=true>送出</button>
        </td>
    </tr>
</table>