<table>
    <tr>
        <td>縣市：</td>
        <td>
            <select id="place_for_edit" class="form-control">
                <option value=""></option>
                {% for place in place_list %}
                    <option value="{{ place.id }}">{{ place.name }}</option>
                {% endfor %}
            </select>
        </td>
        <td>漁港：</td>
        <td id="FishingPort_for_edit">
            <select id="port_for_edit" class="form-control">
                <option value="" lat="" lng="">請選擇縣市</option>
            </select>
        </td>
    </tr>
</table>
