<STYLE type="text/css">
    .button {text-align: center;}
</STYLE>
<body onLoad="onLive();">
<table width="800">
    <tr>
        <td>
            <button id="returnToCamMap" title="返回港區地圖" style="font-size: 18px; text-align: center;" onmousedown="returnToCamMap()"><img src="/media/monitor/image/return.png" height="20"><span>返回地圖　</span></button>
        </td>
        <td align="center">
            <span style="font-size: 14px;">攝影機名稱：{{ cam.name }}　　位置說明：{{ cam.location }}　　型號：{{ cam.machine_no }}</span>
        </td>
    </tr>
    <tr valign="top">
        {% if connect %}
        <td align="center" width="150">
            <img id="PTZCmdSender" width="0" height="0" border="0" src="">
            <table>
                <tr></tr>
                <tr>
                    <td>
                        <div id="PTZCTRL_ptzul" OnMouseDown="sendPTZCmd('UL')" OnMouseUp="sendPTZCmd('Stop')" OnMouseOut="sendPTZCmd('Stop');document.ptzul.src='/media/monitor/image/direction_ul.png'" onMouseOver="document.ptzul.src='/media/monitor/image/direction_ul_on.png'">
                            <img name="ptzul" src="/media/monitor/image/direction_ul.png" width="35" alt="Up-Left" class="ptzcb">
                        </div>
                    </td>
                    <td>
                        <div id="PTZCTRL_ptzup" OnMouseDown="sendPTZCmd('Up')" OnMouseUp="sendPTZCmd('Stop')" OnMouseOut="sendPTZCmd('Stop');document.ptzup.src='/media/monitor/image/direction_up.png'" onMouseOver="document.ptzup.src='/media/monitor/image/direction_up_on.png'">
                            <img name="ptzup" src="/media/monitor/image/direction_up.png" width="35" alt="Tilt Up" class="ptzcb">
                        </div>
                    </td>
                    <td>
                        <div id="PTZCTRL_ptzur" OnMouseDown="sendPTZCmd('UR')" OnMouseUp="sendPTZCmd('Stop')" OnMouseOut="sendPTZCmd('Stop');document.ptzur.src='/media/monitor/image/direction_ur.png'" onMouseOver="document.ptzur.src='/media/monitor/image/direction_ur_on.png'">
                            <img name="ptzur" src="/media/monitor/image/direction_ur.png" width="35" alt="Up-Right" class="ptzcb">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="PTZCTRL_ptzleft" OnMouseDown="sendPTZCmd('Left')" OnMouseUp="sendPTZCmd('Stop')" OnMouseOut="sendPTZCmd('Stop');document.ptzleft.src='/media/monitor/image/direction_left.png'" onMouseOver="document.ptzleft.src='/media/monitor/image/direction_left_on.png'">
                            <img name="ptzleft" src="/media/monitor/image/direction_left.png" width="35" alt="Pan Left" class="ptzcb">
                        </div>
                    </td>
                    <td>
                    </td>
                    <td>
                        <div id="PTZCTRL_ptzright" OnMouseDown="sendPTZCmd('Right')" OnMouseUp="sendPTZCmd('Stop')" OnMouseOut="sendPTZCmd('Stop');document.ptzright.src='/media/monitor/image/direction_right.png'" onMouseOver="document.ptzright.src='/media/monitor/image/direction_right_on.png'">
                            <img name="ptzright" src="/media/monitor/image/direction_right.png" width="35" alt="Pan Right" class="ptzcb">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="PTZCTRL_ptzdl" OnMouseDown="sendPTZCmd('DL')" OnMouseUp="sendPTZCmd('Stop')" OnMouseOut="sendPTZCmd('Stop');document.ptzdl.src='/media/monitor/image/direction_dl.png'" onMouseOver="document.ptzdl.src='/media/monitor/image/direction_dl_on.png'">
                            <img name="ptzdl" src="/media/monitor/image/direction_dl.png" width="35" alt="Down-Left" class="ptzcb">
                        </div>
                    </td>
                    <td>
                        <div id="PTZCTRL_ptzdown" OnMouseDown="sendPTZCmd('Down')" OnMouseUp="sendPTZCmd('Stop')" OnMouseOut="sendPTZCmd('Stop');document.ptzdown.src='/media/monitor/image/direction_down.png'" onMouseOver="document.ptzdown.src='/media/monitor/image/direction_down_on.png'">
                            <img name="ptzdown" src="/media/monitor/image/direction_down.png" width="35" alt="Tilt Down" class="ptzcb">
                        </div>
                    </td>
                    <td>
                        <div id="PTZCTRL_ptzdr" OnMouseDown="sendPTZCmd('DR')" OnMouseUp="sendPTZCmd('Stop')" OnMouseOut="sendPTZCmd('Stop');document.ptzdr.src='/media/monitor/image/direction_dr.png'" onMouseOver="document.ptzdr.src='/media/monitor/image/direction_dr_on.png'">
                            <img name="ptzdr" src="/media/monitor/image/direction_dr.png" width="35" alt="Down-Right" class="ptzcb">
                        </div>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <div id="PTZCTRL_ptzzoomout" OnMouseDown="sendPTZCmd('ZoomOut')" OnMouseUp="sendPTZCmd('Stop')" OnMouseOut="sendPTZCmd('Stop');document.ptzzoomout.src='/media/monitor/image/zoom_out.png'" onMouseOver="document.ptzzoomout.src='/media/monitor/image/zoom_out_on.png'">
                            <img name="ptzzoomout" src="/media/monitor/image/zoom_out.png" width="50" alt="Zoom Out" class="ptzcb">
                        </div>
                    </td>
                    <td>
                        <div id="PTZCTRL_ptzzoomin" OnMouseDown="sendPTZCmd('ZoomIn')" OnMouseUp="sendPTZCmd('Stop')" OnMouseOut="sendPTZCmd('Stop');document.ptzzoomin.src='/media/monitor/image/zoom_in.png'" onMouseOver="document.ptzzoomin.src='/media/monitor/image/zoom_in_on.png'">
                            <img name="ptzzoomin" src="/media/monitor/image/zoom_in.png" width="50" alt="Zoom In" class="ptzcb">
                        </div>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td id="PresetBolck" align="left">
                        <select id="preset">
                            <option value="">請選擇預設場景　</option>
                            {% for set in preset %}
                            <option value="{{ set.no }}">{{ set.no }}. {{ set.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                {% if edit %}
                <tr>
                    <td align="left">
                        <button id="addPreset" title="新增" style="font-size: 14px; text-align: center;" onmousedown="ctlSetCamPreset('Add')"><img src="/media/monitor/image/plus.png" height="20"><span>新增　</span></button>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <table id="AddCamPreset" style="display: none;" state="hide">
                            <tr>
                                <td>請輸入場景名稱：</td>
                            </tr>
                            <tr>
                                <td><input id="new_preser_name" type="text" size="12"></td>
                            </tr>
                            <tr align="right">
                                <td><button style="font-size: 12px; text-align: center;" onmousedown="setCamPreset('Add')"><span>確定送出</span></button></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <button id="editPreset" title="修改" style="font-size: 14px; text-align: center;" onmousedown="ctlSetCamPreset('Edit')"><img src="/media/monitor/image/setting.png" height="20"><span>修改　</span></button>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <table id="EditCamPreset" style="display: none;" state="hide">
                            <tr>
                                <td>場景名稱：</td>
                            </tr>
                            <tr>
                                <td><input id="selected_preser_name" type="text" size="12"></td>
                            </tr>
                            <tr align="right">
                                <td><button style="font-size: 12px; text-align: center;" onmousedown="setCamPreset('Edit')"><span>重設場景</span></button></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <button id="removePreset" title="刪除" style="font-size: 14px; text-align: center;" onmousedown="setCamPreset('Remove')"><img src="/media/monitor/image/remove.png" height="20"><span>刪除　</span></button>
                    </td>
                </tr>
                {% endif %}
            </table>
        </td>
        <td>
            <table bordercolor="#99CCFF" border="3">
                <tr>
                    <td>
                        <div id="film" cam="{{ cam.id }}">
                            {% ifequal cam.machine_no "BE3204" %}{% if IE %}
                                <object id="PTZimage" CLASSID="CLSID:F47E687B-551F-4043-89B3-F6E3F5DAD01E"
                                    CODEBASE="http://{{ cam.ip }}/VDControl.CAB" width="640" height="480">
                                </object>
                            {% else %}
                                <!-- TODO: root:pass@ 為應急用法。-->
                                <img id="PTZimage" width="640"
                                    src="http://{{ VAccount.account }}:{{ VAccount.passwd }}@{{ cam.ip }}/ipcam/mjpeg.cgi" />
                            {% endif %}{% else %}{% ifequal cam.machine_no 'PELCO-D' %}{% if IE %}
                                <object id="LiveShow" classid="clsid:f9bf64a0-5a65-43e0-acdb-b223e7f9ddd9"
                                    codebase="WEBWATCH2.cab#version=1,1,1,68"></object>
                            {% else %}
                                <img id="PTZimage" width="640"
                                     src="http://{{ VAccount.account }}:{{ VAccount.passwd }}@{{ cam.ip }}/GetData.cgi?CH=1" />
                            {% endif %}{% endifequal %}{% endifequal %}
                        </div>
                    </td>
                </tr>
            </table>
        </td>
        {% else %}
            <td width="800" align="center" colspan="2">
                <span style="font-size: 16px;">無法連繫攝影機，請稍候再試。{{ look }}</span>
            </td>
        {% endif %}
    </tr>
</table>
{% if IE %}<SCRIPT LANGUAGE="JavaScript">
    {% ifequal cam.machine_no "BE3204" %}
        var onLive = function(){
            var obj = document.getElementById("PTZimage");
            obj.LiveURL='http://{{ cam.ip }}/ipcam/mjpeg.cgi';
            obj.MediaUsername='{{ VAccount.account }}';
            obj.MediaPassword='{{ VAccount.passwd }}';
            obj.IsDrawIcon=0;
            obj.IsZoomEnable=1;
            obj.IsShowTitle = 0;
            obj.Start();
        }
    {% else %}{% ifequal cam.machine_no 'PELCO-D' %}
        function onLive() {
            var ret;
            var obj = document.getElementById('LiveShow');

            obj.Author('{{ VAccount.account }}', '{{ VAccount.passwd }}');
            obj.SetDateFormat(0);
            obj.SingleAudio=0;

            if(0 == 1) obj.SetStrOnBar(top.titlename);

            obj.VideoPath=0;
            obj.UnderScan=0;
            obj.ROILEFT=0;
            obj.ROITOP=0;
            obj.ROIRIGHT=0;
            obj.ROIBOTTOM=0;
            obj.width=640;
            obj.height=480;
            obj.MaxFPS=30;

            if(1==0) {
                obj.MenuMute(0);
            }
            if(1 == 0) get_by_id("Speck").disabled = true;

            //ret=obj.LivePlay(sDomainURL, sDomainPort ,sDomainPort,0);
            ret = obj.LivePlay("{{ cam.ip }}", 80, 80, 0);
        }
    {% endifequal %}{% endifequal %}
</SCRIPT>{% endif %}

</body>
