<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script type="text/javascript" src="/media/monitor/js/lib.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    var map;
    function initialize() {
        var myLatlng = new google.maps.LatLng(23.740097900696778, 120.95123303515625);
        var map = new google.maps.Map(document.getElementById('map_canvas'), {
            zoom: 7,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
    }
</script>

<div id="ViewCamBlock" area="{{ port.id }}"></div>

<body onload="initialize()">
    <div id="no_cams" style="display: none"><h2>本港暫無攝影機</h2><br><br><br><br><br></div>
    <div id="map_canvas" style="width:800px; height:500px;"></div>
    <div id="img_canvas"></div>
</body>