{% extends 'harbor/editmemu.html' %}

{% block sidecontent %}
<a id="location" class="obva" loca="add_obva"></a><br>
<form enctype="multipart/form-data" action="./" method="POST">
<h1>新增觀測站</h1>
<hr width="800" color="#ff8000" noshade title="這不是分隔線">
<br><br>
<h2>
<table>
    <tr align="left">
        <td>測站名稱</td>
        <td><input type="text" name="new__observatory" value=""></td>
    </tr>
</table>
</h2>
<br>
<input type="submit" id="submit" name="submit" value="--------確定新增--------" onClick="submiting(this)">
<br><br><br>
<hr width="800" color="#ff8000" noshade title="這不是分隔線">
<br><br>
<h3>現有觀測站</h3><br>
<h3>
<table border="1">
    {% for ob in observatory_list %}
        {{ ob.name }}<br>
    {% endfor %}
</table>
</h3>
</form>

{% endblock %}
