{% extends 'harbor/editmemu.html' %}

{% block sidecontent %}
<a id="location" class="city"></a><br>

<form enctype="multipart/form-data" action="./" method="POST">
{% include 'harbor/cityeditmenu.html' %}
<h2>
<table>
    <tr align="left">
        <td width="200">年度</td>
        <td width="200">生產區</td>
        <td>工程項目</td>
    </tr>
    <tr align="left">
        <td><input type="text" name="new__year" class="integer requisite" value=""></td>
        <td><input type="text" name="new__area" class="requisite" value=""></td>
        <td><input type="text" name="new__project_item" class="requisite" value=""></td>
    </tr>
    <tr align="left">
        <td>單位</td>
        <td>工程數量</td>
        <td>工程金額</td>
    </tr>
    <tr align="left">
        <td><input type="text" name="new__unit" value=""></td>
        <td><input type="text" class="float" name="new__project_num" value=""></td>
        <td><input type="text" class="float" name="new__project_cost" value=""></td>
    </tr>
    <tr><td><br></td></tr>
    <tr align="left">
        <td>備註</td>
        <td colspan="3"><textarea cols="50" rows="5" name="new__memo"></textarea></td>
    </tr>
</table>
<br>
</h2>
<br>
<input type="submit" id="submit" name="submit" class="submit" value="--------確定新增--------" onClick="submiting(this)">
<font id="caution" color="#E100F0" size="2.8">請檢查必填欄位！</font><br><br><br>
<hr width="800" color="#ff8000" noshade title="這不是分隔線">
<br><br>
<h3>
<table>
    {% for aquapubdnd in list %}
    <tr id="aquapubdnd_{{ aquapubdnd.id }}">
        <td colspan="15" align="left">
            <table style="border-collapse: collapse" border="1" cellpadding="2" cellspacing="2">
                <tr align="center" bgcolor="#FFFF99">
                    <td rowspan="4">{{ forloop.counter }}</td>
                    <td>年度</td>
                    <td>生產區</td>
                    <td>工程項目</td>
                    <td>備註</td>
                    <td rowspan="4"><button id="del_aquapubdnd_{{ aquapubdnd.id }}" class="delRow">刪除紀錄</button></td>
                </tr>
                <tr>
                    <td><input size="16" class="integer requisite" type="text" name="aquapubdnd__year__{{ aquapubdnd.id }}" value="{% if aquapubdnd.year %}{{ aquapubdnd.year}}{% endif %}"></td>
                    <td><input size="16" class="requisite" type="text" name="aquapubdnd__area__{{ aquapubdnd.id }}" value="{% if aquapubdnd.area %}{{ aquapubdnd.area}}{% endif %}"></td>
                    <td><input size="16" class="requisite" type="text" name="aquapubdnd__project_item__{{ aquapubdnd.id }}" value="{% if aquapubdnd.project_item %}{{ aquapubdnd.project_item }}{% endif %}"></td>
                    <td rowspan="3"><textarea cols="30" rows="3" name="aquapubdnd__memo__{{ aquapubdnd.id }}">{% if aquapubdnd.memo %}{{ aquapubdnd.memo }}{% endif %}</textarea></td></td>
                </tr>
                <tr align="center" bgcolor="#FFFF99">
                    <td>單位</td>
                    <td>工程數量</td>
                    <td>工程金額</td>
                </tr>
                <tr>
                    <td><input size="16" class="" type="text" name="aquapubdnd__unit__{{ aquapubdnd.id }}" value="{% if aquapubdnd.unit %}{{ aquapubdnd.unit}}{% endif %}"></td>
                    <td><input size="16" class="float" type="text" name="aquapubdnd__project_num__{{ aquapubdnd.id }}" value="{% if aquapubdnd.project_num %}{{ aquapubdnd.project_num}}{% endif %}"></td>
                    <td><input size="16" class="float" type="text" name="aquapubdnd__project_cost__{{ aquapubdnd.id }}" value="{% if aquapubdnd.project_cost %}{{ aquapubdnd.project_cost}}{% endif %}"></td>
                </tr>
            </table>
            <br>
        </td>
    </tr>
    {% endfor %}
</table>
</h3>
<br>
<input type="submit" id="submit" name="submit" value="--------確定修改--------" onClick="submiting(this)">

</form>

{% endblock %}
