{% extends 'harbor/editmemu.html' %}

{% block sidecontent %}
<a id="location" class="obva"></a><br>

<form enctype="multipart/form-data" action="./" method="POST">
{% include 'harbor/obvaeditmenu.html' %}
<h2>
<table>
    <tr align="left">
        <td>月 份</td>
        <td><input type="text" name="new__month" class="integer requisite" value=""></td>
    </tr>
    <tr align="left">
        <td>平均降雨量</td>
        <td><input type="text" name="new__rain_average" class="float" value=""></td>
    </tr>
    <tr align="left">
        <td>平均雨量說明</td>
        <td><textarea cols="30" rows="2" name="new__rain_memo"></textarea></td>
    </tr>
    <tr align="left">
        <td>平均降雨日數</td>
        <td><input type="text" name="new__day_average" class="float" value=""></td>
    </tr>
    <tr align="left">
        <td>平均降雨日數說明</td>
        <td><textarea cols="30" rows="2" name="new__day_memo"></textarea></td>
    </tr>
</table>
</h2>
<br>
<input type="submit" id="submit" name="submit" class="submit" value="--------確定新增--------" onClick="submiting(this)">
<font id="caution" color="#E100F0" size="2.8">請檢查必填欄位！</font><br><br><br>
<hr width="800" color="#ff8000" noshade title="這不是分隔線">
<br><br>
<h3>
<table style="border-collapse: collapse" border="1" cellpadding="2" cellspacing="2">
    <tr align="center" bgcolor="#FFFF99">
        <td></td>
        <td>月 份</td>
        <td>平均降雨量</td>
        <td>平均雨量說明</td>
        <td>平均降雨日數</td>
        <td>平均降雨日數說明</td>
        <td></td>
    </tr>
    {% for averagerainfall in list %}
    <tr id="averagerainfall_{{ averagerainfall.id }}">
        <td>{{ forloop.counter }}</td>
        <td><input size="6" type="text" class="integer requisite" name="averagerainfall__month__{{ averagerainfall.id }}" value="{% if averagerainfall.month %}{{ averagerainfall.month}}{% else %}0{% endif %}"></td>
        <td><input size="10" type="text" class="float" name="averagerainfall__rain_average__{{ averagerainfall.id }}" value="{% if averagerainfall.rain_average %}{{ averagerainfall.rain_average }}{% endif %}"></td>
        <td><textarea name="averagerainfall__rain_memo__{{ averagerainfall.id }}" cols="30" rows="2" wrap="physical">{% if averagerainfall.rain_memo %}{{ averagerainfall.rain_memo }}{% endif %}</textarea></td>
        <td><input size="10" type="text" class="float" name="averagerainfall__day_average__{{ averagerainfall.id }}" value="{% if averagerainfall.day_average %}{{ averagerainfall.day_average }}{% endif %}"></td>
        <td><textarea cols="30" rows="2" name="averagerainfall__day_memo__{{ averagerainfall.id }}" >{% if averagerainfall.day_memo %}{{ averagerainfall.day_memo }}{% endif %}</textarea></td>
        <td><button id="del_averagerainfall_{{ averagerainfall.id }}" class="delRow">刪除紀錄</button></td>
    </tr>
    {% endfor %}
</table>
</h3>
<br>
<input type="submit" id="submit" name="submit" value="--------確定修改--------" onClick="submiting(this)">

</form>

{% endblock %}
