{% extends 'harbor/editmemu.html' %}

{% block sidecontent %}
<a id="location" class="obva"></a><br>

<form enctype="multipart/form-data" action="./" method="POST">
{% include 'harbor/obvaeditmenu.html' %}
<h2>
<table>
    <tr align="left">
        <td width="98" height="21" valign="top">平均氣溫說明</td>
        <td><textarea name="new__memo" cols="30" rows="3" wrap="physical">{{ new__memo }}</textarea></td>
	</tr>
    <tr align="left">
        <td height="21" valign="top">月    份</td>
        <td><input type="text" name="new__month" class="integer requisite" value="" /></td>
    </tr>
    <tr align="left">
        <td height="21" valign="top">測站最低氣溫
        <td><input type="text" name="new__min" class="float" value="" /></td>
    </tr>
    <tr align="left">
        <td height="21" valign="top">測站最高氣溫</td>
        <td><input type="text" name="new__max" class="float" value="" /></td>
    </tr>
    <tr align="left">
        <td height="21" valign="top">測站平均氣溫</td>
        <td><input type="text" name="new__average" class="float" value="" /></td>
    </tr>
</table>
</h2>
<br>
<input type="submit" id="submit" name="submit" class="submit" value="--------確定新增--------" onClick="submiting(this)">
<font id="caution" color="#E100F0" size="2.8">請檢查必填欄位！</font><br><br><br>
<hr width="800" color="#ff8000" noshade title="這不是分隔線">
<br><br>
<h3>
<table style="border-collapse: collapse" border="1" cellpadding="2" cellspacing="2">
    <tr align="center" bgcolor="#FFFF99">
        <td></td>
        <td>平均氣溫說明</td>
        <td>月份</td>
        <td>測站最低氣溫</td>
        <td>測站最高氣溫</td>
        <td>測站平均氣溫</td>  
        <td></td>
    </tr>
    {% for averagetemperature in list %}
    <tr id="averagetemperature_{{ averagetemperature.id }}">
        <td>{{ forloop.counter }}</td>
        <td><textarea cols="20" rows="3" name="averagetemperature__memo__{{ averagetemperature.id }}">{% if averagetemperature.memo %}{{ averagetemperature.memo }}{% endif %}</textarea></td>
        <td><input size="6" type="text" class="integer requisite" name="averagetemperature__month__{{ averagetemperature.id }}" value="{% if averagetemperature.month %}{{ averagetemperature.month }}{% else %}0{% endif %}"></td>
        <td><input size="13" type="text" class="float" name="averagetemperature__min__{{ averagetemperature.id }}" value="{% if averagetemperature.min %}{{ averagetemperature.min }}{% endif %}"></td>
        <td><input size="13" type="text" class="float" name="averagetemperature__max__{{ averagetemperature.id }}" value="{% if averagetemperature.max %}{{ averagetemperature.max }}{% endif %}"></td>
        <td><input size="13" type="text" class="float" name="averagetemperature__average__{{ averagetemperature.id }}" value="{% if averagetemperature.average %}{{ averagetemperature.average }}{% endif %}"></td>
        <td><button id="del_averagetemperature_{{ averagetemperature.id }}" class="delRow">刪除紀錄</button></td>
    </tr>
    {% endfor %}
</table>
</h3>
<br>
<input type="submit" id="submit" name="submit" value="--------確定修改--------" onClick="submiting(this)">

</form>

{% endblock %}
	
       
        
    
