{% extends 'harbor/editmemu.html' %}

{% block style %}
.style0 {
	font-size: 14px;
}
{% endblock %}

{% block sidecontent %}
<a id="location" class="port" loca="{{ classification.place.id }}"></a><br>

<form enctype="multipart/form-data" action="./" method="POST">
{% include 'harbor/porteditmenu.html' %}
<h2>
<table>
    <tr align="left">
        <td width="110">年度</td>
        <td><input type="text" name="new__year" class="integer requisite" value=""></td>
    </tr>
    <tr align="left">
        <td>漁船種類</td>
        <td>
            <select name="new__boat_type" class="style0">
                {% for type in option.boat_type %}
                <option value="{{ type.id }}">{{ type.value }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr align="left">
        <td>數量</td>
        <td><input type="text" name="new__num" class="integer" value=""></td>
    </tr>
</table>
</h2>
<br>
<input type="submit" id="submit" name="submit" class="submit" value="--------確定新增--------" onClick="submiting(this)">
<font id="caution" color="#E100F0" size="2.8">請檢查必填欄位！</font><br><br><br>
<hr width="800" color="#ff8000" noshade title="這不是分隔線">
<br><br>
<h3>
<table style="border-collapse: collapse" border="1" cellpadding="2" cellspacing="2">
    <tr align="center" bgcolor="#FFFF99">
        <td></td>
        <td>年度</td>
        <td width="160">漁船種類</td>
        <td>數量</td>
        <td></td>
    </tr>
    {% for boat in list %}
    <tr id="boat_{{ boat.id }}">
        <td>{{ forloop.counter }}</td>
        <td><input size="10" type="text" class="integer requisite" name="boat__year__{{ boat.id }}" value="{% if boat.year %}{{ boat.year }}{% endif %}"></td>
        <td align="center">
            <select name="boat__boat_type__{{ boat.id }}" class="style0">
                {% for type in option.boat_type %}
                <option value="{{ type.id }}" {% ifequal type.id boat.boat_type.id %}selected{% endifequal %}>{{ type.value }}</option>
                {% endfor %}
            </select>
        </td>
        <td><input size="18" type="text" class="integer" name="boat__num__{{ boat.id }}" value="{% if boat.num %}{{ boat.num }}{% endif %}"></td>
        <td><button id="del_boat_{{ boat.id }}" class="delRow">刪除紀錄</button></td>
    </tr>
    {% endfor %}
</table>
</h3>
<br>
<input type="submit" id="submit" name="submit" value="--------確定修改--------" onClick="submiting(this)">

</form>

{% endblock %}
