{% extends 'harbor/editmemu.html' %}

{% block sidecontent %}
<a id="location" class="city"></a><br>

<form enctype="multipart/form-data" action="./" method="POST">
{% include 'harbor/cityeditmenu.html' %}

<h2>
---人文概述<br>
<textarea cols="100" rows="30" name="city__people">{% if city.people %}{{ city.people }}{% endif %}</textarea><br>
<br>
---漁港位置<br>
<textarea cols="100" rows="15" name="city__fishingport_location">{% if city.fishingport_location %}{{ city.fishingport_location }}{% endif %}</textarea><br>
<br>
<br>
</h2>
<input type="submit" id="submit" name="submit" value="--------填寫完畢確定送出--------" onClick="submiting(this)">
</form>

{% endblock %}
