<h1>目前編輯目標： {{ classification.name }}</h1>
<br><br>
    <h2>
    <div id="HarborSubmemu2">
        <ul>
            <li><a href="/harbor/city/{{ classification.id }}/" class="{% ifequal page 'CityInfo' %}active{% endifequal%}">文字說明類</a></li>
            <li><a href="/harbor/city/{{ classification.id }}/fisherytype/" class="{% ifequal page 'fisherytype' %}active{% endifequal%}">漁業別</a></li>
            <li><a href="/harbor/city/{{ classification.id }}/fishtype/" class="{% ifequal page 'fishtype' %}active{% endifequal%}">魚類別</a></li>
            <li><a href="/harbor/city/{{ classification.id }}/fisheryoutput/" class="{% ifequal page 'fisheryoutput' %}active{% endifequal%}">歷年漁業產量</a></li>
            <li><a href="/harbor/city/{{ classification.id }}/aquapubdnd/" class="{% ifequal page 'aquapubdnd' %}active{% endifequal%}">養殖漁業公共工程</a></li>
            <li><a href="/harbor/city/{{ classification.id }}/aquapubrec/" class="{% ifequal page 'aquapubrec' %}active{% endifequal%}">養殖工程公共設施</a></li>
        </ul>
    </div>
    </h2>
    <br><br><br>
    <hr width="800" color="#ff8000" noshade title="這不是分隔線">
    <br><br>