{% extends 'harbor/editmemu.html' %}

{% block sidecontent %}
<a id="location" class="city"></a><br>

<form enctype="multipart/form-data" action="./" method="POST">
{% include 'harbor/cityeditmenu.html' %}
<h2>
<table>
    <tr align="left">
        <td>年度</td>
        <td><input type="text" name="new__year" class="requisite" value=""></td>
    </tr>
    <tr align="left">
        <td>養殖數量(噸數)</td>
        <td><input type="text" name="new__aquaculture_num" class="integer" value=""></td>
        <td>　　</td>
        <td>養殖價值(仟元)</td>
        <td><input type="text" name="new__aquaculture_value" class="integer" value=""></td>
    </tr>
    <tr align="left">
        <td>沿岸數量(噸數)</td>
        <td><input type="text" name="new__coastwise_num" class="integer" value=""></td>
        <td>　　</td>
        <td>沿岸價值(仟元)</td>
        <td><input type="text" name="new__coastwise_value" class="integer" value=""></td>
    </tr>
    <tr align="left">
        <td>近海數量(噸數)</td>
        <td><input type="text" name="new__inshore_num" class="integer" value=""></td>
        <td>　　</td>
        <td>近海價值(仟元)</td>
        <td><input type="text" name="new__inshore_value" class="integer" value=""></td>
    </tr>
    <tr align="left">
        <td>遠洋數量(噸數)</td>
        <td><input type="text" name="new__pelagic_num" class="integer" value=""></td>
        <td>　　</td>
        <td>遠洋價值(仟元)</td>
        <td><input type="text" name="new__pelagic_value" class="integer" value=""></td>
    </tr>
</table>
<br>
<input type="submit" id="submit" name="submit" class="submit" value="--------確定新增--------" onClick="submiting(this)">
<font id="caution" color="#E100F0" size="2.8">請檢查必填欄位！</font><br><br><br>
<hr width="800" color="#ff8000" noshade title="這不是分隔線">
<br><br>
<h3>
<table border="1" style="border-collapse: collapse">
    <tr align="center" bgcolor="#FFFF99">
        <td rowspan="2"></td>
        <td rowspan="2">年度</td>
        <td colspan="2">養殖</td>
        <td colspan="2">沿岸</td>
        <td colspan="2">近海</td>
        <td colspan="2">遠洋</td>
        <td rowspan="2"></td>
    </tr>
    <tr align="center" bgcolor="#FFFF99">
        <td>數量(噸數)</td>
        <td>價值(仟元)</td>
        <td>數量(噸數)</td>
        <td>價值(仟元)</td>
        <td>數量(噸數)</td>
        <td>價值(仟元)</td>
        <td>數量(噸數)</td>
        <td>價值(仟元)</td>
    </tr>
    {% for fisheryoutput in list %}
    <tr id="fisheryoutput_{{ fisheryoutput.id }}">
        <td>{{ forloop.counter }}</td>
        <td><input size="3" type="text" class="requisite" name="fisheryoutput__year__{{ fisheryoutput.id }}" value="{{ fisheryoutput.year}}"></td>
        <td><input size="9" type="text" class="integer" name="fisheryoutput__aquaculture_num__{{ fisheryoutput.id }}" value="{% if fisheryoutput.aquaculture_num %}{{ fisheryoutput.aquaculture_num }}{% else %}0{% endif %}"></td>
        <td><input size="9" type="text" class="integer" name="fisheryoutput__aquaculture_value__{{ fisheryoutput.id }}" value="{% if fisheryoutput.aquaculture_value %}{{ fisheryoutput.aquaculture_value }}{% else %}0{% endif %}"></td>
        <td><input size="9" type="text" class="integer" name="fisheryoutput__coastwise_num__{{ fisheryoutput.id }}" value="{% if fisheryoutput.coastwise_num %}{{ fisheryoutput.coastwise_num }}{% else %}0{% endif %}"></td>
        <td><input size="9" type="text" class="integer" name="fisheryoutput__coastwise_value__{{ fisheryoutput.id }}" value="{% if fisheryoutput.coastwise_value %}{{ fisheryoutput.coastwise_value }}{% else %}0{% endif %}"></td>
        <td><input size="9" type="text" class="integer" name="fisheryoutput__inshore_num__{{ fisheryoutput.id }}" value="{% if fisheryoutput.inshore_num %}{{ fisheryoutput.inshore_num }}{% else %}0{% endif %}"></td>
        <td><input size="9" type="text" class="integer" name="fisheryoutput__inshore_value__{{ fisheryoutput.id }}" value="{% if fisheryoutput.inshore_value %}{{ fisheryoutput.inshore_value }}{% else %}0{% endif %}"></td>
        <td><input size="9" type="text" class="integer" name="fisheryoutput__pelagic_num__{{ fisheryoutput.id }}" value="{% if fisheryoutput.pelagic_num %}{{ fisheryoutput.pelagic_num }}{% else %}0{% endif %}"></td>
        <td><input size="9" type="text" class="integer" name="fisheryoutput__pelagic_value__{{ fisheryoutput.id }}" value="{% if fisheryoutput.pelagic_value %}{{ fisheryoutput.pelagic_value }}{% else %}0{% endif %}"></td>
        <td><button id="del_fisheryoutput_{{ fisheryoutput.id }}" class="delRow">刪除紀錄</button></td>
    </tr>
    {% endfor %}
</table>
</h3>
<br>
<input type="submit" id="submit" name="submit" value="--------確定修改--------" onClick="submiting(this)">

</form>

{% endblock %}
