{% extends 'harbor/editmemu.html' %}

{% block sidecontent %}
<a id="location" class="city"></a><br>

<form enctype="multipart/form-data" action="./" method="POST">
{% include 'harbor/cityeditmenu.html' %}
<h2>
<table>
    <tr align="left" >
        <td width="130">漁業別</td>
        <td><input type="text" name="new__fishery" class="requisite" value=""></td>
    </tr>
    <tr align="left">
        <td>產量(公噸)</td>
        <td><input type="text" name="new__output" class="integer" value=""></td>
    </tr>
    <tr align="left">
        <td>產值(千元)</td>
        <td><input type="text" name="new__value" class="integer" value=""></td>
    </tr>
</table>
<br>
<input type="submit" id="submit" name="submit" class="submit" value="--------確定新增--------" onClick="submiting(this)">
<font id="caution" color="#E100F0" size="2.8">請檢查必填欄位！</font><br><br><br>
<hr width="800" color="#ff8000" noshade title="這不是分隔線">
<br><br>
<h3>
<table border="1" style="border-collapse: collapse">
    <tr align="center" bgcolor="#FFFF99">
        <td></td>
        <td>漁業別</td>
        <td>產量(公噸)</td>
        <td>產值(千元)</td>
        <td></td>
    </tr>
    {% for fisherytype in list %}
    <tr id="fisherytype_{{ fisherytype.id }}" align="left">
        <td>{{ forloop.counter }}</td>
        <td><input size="10" type="text" class="requisite" name="fisherytype__fishery__{{ fisherytype.id }}" value="{% if fisherytype.fishery %}{{ fisherytype.fishery }}{% endif %}"></td>
        <td><input size="16" type="text" class="integer" name="fisherytype__output__{{ fisherytype.id }}" value="{% if fisherytype.output %}{{ fisherytype.output }}{% endif %}"></td>
        <td><input size="16" type="text" class="integer" name="fisherytype__value__{{ fisherytype.id }}" value="{% if fisherytype.value %}{{ fisherytype.value }}{% endif %}"></td>
        <td><button id="del_fisherytype_{{ fisherytype.id }}" class="delRow">刪除紀錄</button></td>
    </tr>
    {% endfor %}
</table>
</h3>
<br>
<input type="submit" id="submit" name="submit" value="--------確定修改--------" onClick="submiting(this)">

</form>

{% endblock %}
