{% extends 'harbor/mainmemu.html' %}

{% block sidecontent %}
<a id="location" class="city"></a><br>

<form enctype="multipart/form-data" action="./" method="POST">
{% include 'harbor/cityeditmenu.html' %}
<h2>
<table>
    <tr align="left">
        <td width="130">魚類別</td>
        <td><input type="text" name="new__fish" class="requisite" value=""></td>
    </tr>
    <tr align="left">
        <td>產量(公噸)</td>
        <td><input type="text" name="new__output" class="integer" value=""></td>
    </tr>
    <tr align="left">
        <td>產值(千元)</td>
        <td><input type="text" name="new__value" class="integer" value=""></td>
    </tr>
</table>
<br>
<input type="submit" id="submit" name="submit" class="submit" value="--------確定新增--------" onClick="submiting(this)">
<font id="caution" color="#E100F0" size="2.8">請檢查必填欄位！</font><br><br><br>
<hr width="800" color="#ff8000" noshade title="這不是分隔線">
<br><br>
<h3>
<br>
<table border="1" style="border-collapse: collapse">
    <tr align="center" bgcolor="#FFFF99">
        <td></td>
        <td>魚類別</td>
        <td>產量(公噸)</td>
        <td>產值(千元)</td>
        <td></td>
    </tr>
    {% for fishtype in list %}
    <tr id="fishtype_{{ fishtype.id }}">
        <td>{{ forloop.counter }}</td>
        <td><input size="10" type="text" class="requisite" name="fishtype__fish__{{ fishtype.id }}" value="{% if fishtype.fish %}{{ fishtype.fish }}{% endif %}"></td>
        <td><input size="16" type="text" class="integer" name="fishtype__output__{{ fishtype.id }}" value="{% if fishtype.output %}{{ fishtype.output }}{% endif %}"></td>
        <td><input size="16" type="text" class="integer" name="fishtype__value__{{ fishtype.id }}" value="{% if fishtype.value %}{{ fishtype.value }}{% endif %}"></td>
        <td><button id="del_fishtype_{{ fishtype.id }}" class="delRow">刪除紀錄</button></td>
    </tr>
    {% endfor %}
</table>
</h3>
<br>
<input type="submit" id="submit" name="submit" value="--------確定修改--------" onClick="submiting(this)">

</form>

{% endblock %}
