{% extends 'harbor/editmemu.html' %}

{% block sidecontent %}
<a id="location" class="port" loca="{{ classification.place.id }}"></a><br>
    
<form enctype="multipart/form-data" action="./" method="POST">
{% include 'harbor/insteditmenu.html' %}
<h2>
<table>
    <tr align="left">
        <td>漁會別</td>
        <td colspan="3">
            <select name="organization" class="style0">
                <option checked value=""></option>
                {% for unit in units %}
                <option value="{{ unit.0 }}">　{{ unit.1 }}　</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr align="left">
        <td>日期</td>
        <td colspan="3"><input size="16" type="text" name="date" value="" class="requisite chooseDate Pass"></td>
    </tr>
    <tr align="left">
        <td>時間</td>
        <td><input size="6" type="text" name="hour" class="integer" value=""></td>
        <td>：</td>
        <td><input size="6" type="text" id="test-1" name="minute" class="integer" value=""></td>
        <td>(請填 24 時制之時分)</td>
    </tr>
</table>
<br>
<table>
    <tr align="left">
        <td>船舶進港艘數</td>
        <td><input type="text" name="arrival_port" class="integer" value=""></td>
    <tr>
    <tr align="left">
        <td>船舶出港艘數</td>
        <td><input type="text" name="leave_port" class="integer" value=""></td>
    <tr>
    <tr align="left">
        <td>泊區停泊艘數</td>
        <td><input type="text" name="anchor" class="integer" value=""></td>
    </tr>
</table>
<br>
<table>
    <tr align="left">
        <td>船隻補給情形</td>
        <td>
            <select name="boat_supplies" class="style0">
                <option value=""></option>
                {% for status in option.boat_supplies %}
                <option value="{{ status.id }}">　{{ status.value }}　</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr align="left">
        <td>船隻補給備註</td>
        <td><textarea cols="30" rows="2" name="boat_supplies_memo"></textarea></td>
    </tr>
</table>
<br>
<table>
    <tr align="left">
        <td>港區環境清潔情形</td>
        <td>
            <select name="port_environment" class="style0">
                <option value=""></option>
                {% for status in option.port_environment %}
                <option value="{{ status.id }}">　{{ status.value }}　</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr align="left">
        <td>港區突發情況</td>
        <td>
            <select name="emergency" class="style0">
                <option value=""></option>
                {% for status in option.emergency %}
                <option value="{{ status.id }}">　{{ status.value }}　</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr align="left">
        <td>突發情形處理方式</td>
        <td>
            <select name="emergency_measures" class="style0">
                <option value=""></option>
                {% for status in option.emergency_measures %}
                <option value="{{ status.id }}">　{{ status.value }}　</option>
                {% endfor %}
            </select>
        </td>
    </tr>
</table>
<br>
<table>
    <tr align="left">
        <td>記錄備註</td>
        <td><textarea cols="30" rows="2" name="memo"></textarea></td>
    </tr>
</table>
</h2>
<br>
<input type="submit" id="submit" name="submit" class="submit" value="--------確定新增--------" onClick="submiting(this)">
<font id="caution" color="#E100F0" size="2.8" style="display:none;">請檢查必填欄位！</font><br><br><br>
<hr width="800" color="#ff8000" noshade title="這不是分隔線">
{% endblock %}

