{% extends 'harbor/index.html' %}
{% block menu %}
    <ul id="menu" value ="/harbor/webcam/"></ul>
{% endblock %}
{% block content %}

<br><br><br>
<span style="font-size:26px;">港區『即時監控』系統</span>
<br><br>
<a href="http://live.nchu-cm.com/?allow={{ allow_list }}&now={{ now }}&verify_key={{ verify_key }}" target="live_webcam_link">
<button style="width:200px;height:180px;font-size:16pt;"><img src= "/media/harbor/image/inside.png"></button>
</a>　　
<!-- <a href="http://weblive.nchu-cm.com/2/" target="_blank">
<button style="width:200px;height:180px;font-size:16pt;">署外適用<img src= "/media/harbor/image/outside.png"></button>
</a> -->

<br><br><br>

{% endblock %}
