{% extends 'harbor/index.html' %}

{% block menu %}
    <ul id="menu" value ="/harbor/view"></ul>
{% endblock %}
{% block content %}

<table width="980">
<tr valign="top">
<td width="130" align="left">
    <table>
        <tr>
            <td height="20" align="left">
            </td>
        </tr>
        <tr>
            <td align="left">
                <div class="HarborMemu">
                        <li><a href="/harbor/" class="{% ifequal page 'City' %}active{% endifequal %}">地區漁港</a></li>
                </div>
            </td>
        </tr>
        <tr>
            <td align="left">
                <div class="HarborMemu">
                        <li><a href="/harbor/typeport/1" class="{% ifequal page 'First' %}active{% endifequal %}">第一類漁港</a></li>
                </div>
            </td>
        </tr>
        <tr>
            <td align="left">
                <div class="HarborMemu">
                        <li><a href="/harbor/typeport/2" class="{% ifequal page 'Second' %}active{% endifequal %}">第二類漁港</a></li>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="HarborMemu">
                        <li><a href="/harbor/fish_pool/list/" class="{% ifequal page 'edit_pond' %}active{% endifequal %}">編輯魚塭資料</a></li>
                </div>
            </td>
        </tr>
        <!--
        <tr>
            <td>
                <div class="HarborMemu">
                        <li><a href="/harbor/typeport/3" class="{% ifequal page 'Third' %}active{% endifequal %}">第三類漁港</a></li>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="HarborMemu">
                        <li><a href="/harbor/typeport/4" class="{% ifequal page 'Fourth' %}active{% endifequal %}">第四類漁港</a></li>
                </div>
            </td>
        </tr>
        -->
    </table>
</td>
<td width="850">
    {% block sidecontent%}

    {% endblock %}
</td>
</tr>
</table>


{% endblock %}
