{% extends 'harbor/editmemu.html' %}

{% block sidecontent %}
<a id="location" class="port" loca="{{ classification.place.id }}"></a><br>

<form enctype="multipart/form-data" action="./" method="POST">
{% include 'harbor/porteditmenu.html' %}
<h2>
<table>
    <tr align="left">
        <td width="130">年度</td>
        <td><input type="text" name="new__year" class="integer requisite" value=""></td>
    </tr>
    <tr align="left">
        <td>產量(公噸)</td>
        <td><input type="text" name="new__output" class="integer" value=""></td>
    </tr>
    <tr align="left">
        <td>產值(千元)</td>
        <td><input type="text" name="new__value" class="integer" value=""></td>
    </tr>
</table>
</h2>
<br>
<input type="submit" id="submit" name="submit" class="submit" value="--------確定新增--------" onClick="submiting(this)">
<font id="caution" color="#E100F0" size="2.8">請檢查必填欄位！</font><br><br><br>
<hr width="800" color="#ff8000" noshade title="這不是分隔線">
<br><br>
<h3>
<table style="border-collapse: collapse" border="1" cellpadding="2" cellspacing="2">
    <tr align="center" bgcolor="#FFFF99">
        <td></td>
        <td>年度</td>
        <td>產量(公噸)</td>
        <td>產值(千元)</td>
        <td></td>
    </tr>
    {% for portfisheryoutput in list %}
    <tr id="portfisheryoutput_{{ portfisheryoutput.id }}">
        <td>{{ forloop.counter }}</td>
        <td><input size="10" type="text" class="integer requisite" name="portfisheryoutput__year__{{ portfisheryoutput.id }}" value="{% if portfisheryoutput.year %}{{ portfisheryoutput.year }}{% endif %}"></td>
        <td><input size="20" type="text" class="integer" name="portfisheryoutput__output__{{ portfisheryoutput.id }}" value="{% if portfisheryoutput.output %}{{ portfisheryoutput.output }}{% endif %}"></td>
        <td><input size="20" type="text" class="integer" name="portfisheryoutput__value__{{ portfisheryoutput.id }}" value="{% if portfisheryoutput.value %}{{ portfisheryoutput.value }}{% endif %}"></td>
        <td><button id="del_portfisheryoutput_{{ portfisheryoutput.id }}" class="delRow">刪除紀錄</button></td>
    </tr>
    {% endfor %}
</table>
</h3>
<br>
<input type="submit" id="submit" name="submit" value="--------確定修改--------" onClick="submiting(this)">

</form>

{% endblock %}
