<h1>目前編輯目標： {{ classification.name }}</h1>
<br><br>
    <div id="HarborSubmemu2">
        <ul>
            <li><a href="/harbor/port/{{ classification.id }}/" class="{% ifequal page 'PortInfo' %}active{% endifequal%}">文字及圖類</a></li>
            <li><a href="/harbor/port/{{ classification.id }}/waves/" class="{% ifequal page 'waves' %}active{% endifequal%}">波浪</a></li>
            <li><a href="/harbor/port/{{ classification.id }}/tide/" class="{% ifequal page 'tide' %}active{% endifequal%}">潮汐</a></li>
            <li><a href="/harbor/port/{{ classification.id }}/boat/" class="{% ifequal page 'boat' %}active{% endifequal%}">歷年船筏數</a></li>
            <li><a href="/harbor/port/{{ classification.id }}/mainproject/" class="{% ifequal page 'mainproject' %}active{% endifequal%}">建設計畫</a></li>
            <li><a href="/harbor/port/{{ classification.id }}/project/" class="{% ifequal page 'project' %}active{% endifequal%}">主要工程</a></li>
            <li><a href="/harbor/port/{{ classification.id }}/portfisheryoutput/" class="{% ifequal page 'portfisheryoutput' %}active{% endifequal%}">漁業生產量</a></li>
        </ul>
    </div>
    <br><br><br>
    <hr width="800" color="#ff8000" noshade title="這不是分隔線">
    <br><br>