{% extends 'harbor/mainmemu.html' %}

{% block sidecontent %}
<br><br>
<h2>

<table valign="top">
    {% for city in place_list %}
    {% if city.port_list %}
    <tr>
        <td colspan="2" align="left" bgcolor="#FFFF99">
            {{ city.place.name }}

        </td>
    </tr>
    <tr>
        <td width="20">
        </td>
        <td>
        <table>
            {% for ports in city.port_list %}
            <tr>
                {% for p in ports %}
                <td width="200" align="left">
                    {% if p.name %}<img width="20" heigth="20" src="/media/harbor/image/enter.gif">{% endif %}
                    <a href="/harbor/portinfo/{{ p.id }}">{{ p.name }}</a>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <br>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
    
</table>
</h2>

{% endblock %}
