{% extends 'harbor/vcity.html' %}

{% load humanize %}
{% block menu %}
    <ul id="menu" value ="/harbor/view"></ul>
{% endblock %}
{% block portinfocontent %}

{% if port_list %}
<table width="800">
    <tr>
        <td align="center">
            <h2>
            <table>
                {% for type in port_list %}
                <tr>
                    <td colspan="5" bgcolor="#FFFF99">
                        {{ type.0 }}
                    </td>
                </tr>
                    {% for ports in type.1 %}
                    <tr>
                        <td width="30"></td>
                        {% for port in ports %}
                        <td width="190" align="left">
                            <img heigth="20" src="/media/harbor/image/enter.gif" width="20">
                            <a href="/harbor/portinfo/{{ port.id }}/">{{ port.name }}</a>
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                <tr><td height="20"></td></tr>
                {% endfor %}
            </table>
            </h2>
        </td>
    </tr>
</table>
{% else %}
<h2><center>暫無資料</center></h2>
{% endif %}

{% endblock %}