{% extends 'harbor/vcity.html' %}

{% load humanize %}
{% block menu %}
    <ul id="menu" value ="/harbor/view"></ul>
{% endblock %}
{% block portinfocontent %}

{% if fisheryop_list %}
<table width="800">
    <tr>
        <td align="center">
            <h2>
            <table style="border-collapse: collapse" border="1" cellpadding="2" cellspacing="2">
                <tr align="center" bgcolor="#FFFF99">
                    <td rowspan="2" width="60">
                        年度
                    </td>
                    <td colspan="2" width="175">
                        養殖漁業
                    </td>
                    <td colspan="2" width="175">
                        沿岸漁業
                    </td>
                    <td colspan="2" width="175">
                        近海漁業
                    </td>
                    <td colspan="2" width="175">
                        遠洋漁業
                    </td>
                </tr>
                <tr align="center" bgcolor="#FFFF99">
                    <td>
                        <h5>數量(噸數)</h5>
                    </td>
                    <td>
                        <h5>價值(仟元)</h5>
                    </td>
                    <td>
                        <h5>數量(噸數)</h5>
                    </td>
                    <td>
                        <h5>價值(仟元)</h5>
                    </td>
                    <td>
                        <h5>數量(噸數)</h5>
                    </td>
                    <td>
                        <h5>價值(仟元)</h5>
                    </td>
                    <td>
                        <h5>數量(噸數)</h5>
                    </td>
                    <td>
                        <h5>價值(仟元)</h5>
                    </td>
                </tr>
                {% for fisheryop in fisheryop_list %}
                <tr class="{% cycle "odd" "even" %}">
                    <td align="center">
                        {% if fisheryop.year %}{{ fisheryop.year }}{% else %}暫無資料{% endif %}
                    </td>
                    <td align="right">
                        {% if fisheryop.aquaculture_num %}{{ fisheryop.aquaculture_num|intcomma }}{% else %}<center>暫無資料</center>{% endif %}
                    </td>
                    <td align="right">
                        {% if fisheryop.aquaculture_value %}{{ fisheryop.aquaculture_value|intcomma }}{% else %}<center>暫無資料</center>{% endif %}
                    </td>
                    <td align="right">
                        {% if fisheryop.coastwise_num %}{{ fisheryop.coastwise_num|intcomma }}{% else %}<center>暫無資料</center>{% endif %}
                    </td>
                    <td align="right">
                        {% if fisheryop.coastwise_value %}{{ fisheryop.coastwise_value|intcomma }}{% else %}<center>暫無資料</center>{% endif %}
                    </td>
                    <td align="right">
                        {% if fisheryop.inshore_num %}{{ fisheryop.inshore_num|intcomma }}{% else %}<center>暫無資料</center>{% endif %}
                    </td>
                    <td align="right">
                        {% if fisheryop.inshore_value %}{{ fisheryop.inshore_value|intcomma }}{% else %}<center>暫無資料</center>{% endif %}
                    </td>
                    <td align="right">
                        {% if fisheryop.pelagic_num %}{{ fisheryop.pelagic_num|intcomma }}{% else %}<center>暫無資料</center>{% endif %}
                    </td>
                    <td align="right">
                        {% if fisheryop.pelagic_value %}{{ fisheryop.pelagic_value|intcomma }}{% else %}<center>暫無資料</center>{% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            </h2>
        </td>
    </tr>
</table>
{% else %}
<h2><center>暫無資料</center></h2>
{% endif %}

{% endblock %}