{% extends 'harbor/vcity.html' %}

{% load humanize %}
{% block menu %}
    <ul id="menu" value ="/harbor/view"></ul>
{% endblock %}
{% block portinfocontent %}

{% if fish_list %}
<table width="800">
    <tr>
        <td align="center">
            <h2>
            <table style="border-collapse: collapse" border="1" cellpadding="2" cellspacing="2">
                <tr>
                    <td width="100" align="center" bgcolor="#FFFF99">
                        魚類別
                    </td>
                    <td width="200" align="center" bgcolor="#FFFF99">
                        產量(公噸)
                    </td>
                    <td width="200" align="center" bgcolor="#FFFF99">
                        產值(千元)
                    </td>
                </tr>
                {% for fish in fish_list %}
                <tr class="{% cycle "odd" "even" %}">
                    <td align="center">
                        {% if fish.fish %}{{ fish.fish }}{% else %}暫無資料{% endif %}
                    </td>
                    <td align="right">
                        {% if fish.output %}{{ fish.output|intcomma }}{% else %}暫無資料{% endif %}
                    </td>
                    <td align="right">
                        {% if fish.value %}{{ fish.value|intcomma }}{% else %}暫無資料{% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            </h2>
        </td>
    </tr>
</table>
{% else %}
<h2><center>暫無資料</center></h2>
{% endif %}

{% endblock %}