{% extends 'harbor/vcity.html' %}
{% load utiltags %}

{% block menu %}
    <ul id="menu" value ="/harbor/view"></ul>
{% endblock %}
{% block portinfocontent %}

<table width="800">
    <tr>
        <td align="left">
            <span class="HarborTitle">人文概述</span>
        </td>
    </tr>
    <tr>
        <td align="left">
            <span class="HarborArticle">
                {% if city.people %}
                    {% if airphoto %}
                        <img src="/{{ airphoto.rThumbUrl }}"
                            title="{{ airphoto.fishingport.place.name }}：{{ airphoto.fishingport.name }}({{ airphoto.name }})"
                            width="450" style='float:left;margin:15px'>
                    {% endif %}
                    {{ city.people|linebreaks }}
                {% else %}
                    暫無資料
                {% endif %}
            </span>
            <br>
        </td>
    </tr>
    <tr>
        <td align="left">
            <span class="HarborTitle">漁港位置</span>
        </td>
    </tr>
    <tr>
        <td align="left">
            <span class="HarborArticle">{% if city.fishingport_location %}{{ city.fishingport_location|linebreaks }}{% else %}暫無資料{% endif %}</span>
        </td>
    </tr>
</table>


{% endblock %}