{% extends 'harbor/mainmemu.html' %}

{% load humanize %}
{% block menu %}
    <ul id="menu" value ="/harbor/view"></ul>
{% endblock %}
{% block sidecontent %}
<table width="850">
    <tr>
        <td width="850" height="140">
            <div id="HarborCityHeader">
                <div id="portname">{{ place.name }}<span style="font-size:20px;">　　擁有 <a href="/harbor/cityports/{{ place.id }}/">{{ city.rPortNum }}</a> 座漁港</span></div>
                <div id="HarborSubmemu1" align="right" >
                    <a href="/harbor/cityinfo/{{ place.id }}/" class="{% ifequal page 'CityInfo' %}active{% endifequal %}">基本資料</a><span>｜</span>
                    <!--
                    <a href="/harbor/cityfishery/{{ place.id }}/" class="{% ifequal page 'FisheryType' %}active{% endifequal %}">漁業別</a><span>｜</span>
                    <a href="/harbor/cityfish/{{ place.id }}/" class="{% ifequal page 'FishType' %}active{% endifequal %}">魚類別</a><span>｜</span>
                    -->
                    <a href="/harbor/cityfishop/{{ place.id }}/" class="{% ifequal page 'FisheryOutput' %}active{% endifequal %}">漁業產量</a><span>｜</span>
                    <a href="/harbor/cityaquapub/{{ place.id }}/" class="{% ifequal page 'AquaculturePublicWorks' %}active{% endifequal %}">養殖漁業公共工程</a><span>｜</span>
                    <a href="/harbor/cityports/{{ place.id }}/" class="{% ifequal page 'CityPorts' %}active{% endifequal %}">涵蓋漁港</a>
                    
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td align="center">
            {% block portinfocontent %}
            {% endblock %}
        </td>
    </tr>
</table>



{% endblock %}