{% extends 'harbor/vport.html' %}

{% load humanize %}
{% block menu %}
    <ul id="menu" value ="/harbor/view"></ul>
{% endblock %}
{% block style %}
.style0 {
	font-size: 13px;
}
.photolink {
	font-size: 18px;
    color: #788778;
}
.photolink a:hover {
	font-size: 18px;
    color: #5AF000;
}
.photonow {
	font-size: 18px;
    color: #F04B00;
}
{% endblock %}
{% block portinfocontent %}

<table width="800">
    <tr>
        <td align="left">
            {% if type_list %}
            <table rules="cols">
                <tr>
                    <td width="200" valign="top" align="left">
                        
                        <select id="photo_type_select" dn="{{ port.id }}" class="style0">
                            {% for type in type_list %}
                                <option value="{{ type.id }}" {% ifequal phototype.id type.id %}selected{% endifequal %}>　{{ type.value }}　</option>
                            {% endfor %}
                        </select>
                        
                        <h3>
                        {% if photo_list %}
                        <table id="photo_type_table" width="200" align="left">
                            <tr>
                                <td align="right">
                                    此類有{{ photo_num }}張圖資<span style="font-size:10px;">（全部{{ total }}張）</span>
                                    <br><hr width="180" color="#ff8000" noshade title="這不是分隔線"><br>
                                </td>
                            </tr>
                            {% for photo in photo_list %}
                            <tr>
                                <td align="left">
                                    <div id="{{ photo.id }}" {% ifequal photo.id preinstall.id %}class="photonow"{% else %}class="photolink"{% endifequal %}>{% if photo.name %}{{ photo.name }}{% else %}{{ photo.type.value }}{% endif %}</div>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                        {% endif %}
                        {% block photolist %}
                        {% endblock %}
                        </h3>
                    </td>
                    <td width="600" height="400" valign="top" align="center">
                        <br>
                            {% if preinstall %}
                            <table id="show_photo" width="600">
                                <tr>
                                    <td>
                                        <a href="/{{ preinstall.rUrl }}" target="_blank"><img src="/{{ preinstall.rUrl }}" title="{{ preinstall.name }}{% if preinstall.name and preinstall.memo %}：{% endif %}{{ preinstall.memo }}" width="600" style='float:left;margin:15px'></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2>{% if preinstall.memo %}{{ preinstall.memo }}{% endif %}</h2>
                                    </td>
                                </tr>
                            </table>
                            {% endif %}
                            {% block photocontent %}
                            {% endblock %}
                    </td>
                </tr>
            </table>
            {% else %}
            <center><h2>暫無資料</h2></center>
            <br><br><br><br><br>
            {% endif %}
        </td>
    </tr>
</table>

{% endblock %}