{% extends 'harbor/vport.html' %}


{% block menu %}
    <ul id="menu" value ="/harbor/view"></ul>
{% endblock %}
{% block portinfocontent %}

<table width="800">
    <tr>
        <td align="left">
            <span class="HarborTitle">建港沿革</span>
        </td>
    </tr>
    <tr>
        <td align="left">
            <table>
                <tr>
                    <td align="left">
                        <span class="HarborArticle">{% if port.history %}{% if airphoto %}<img src="/{{ airphoto.rThumbUrl }}" title="{{ airphoto.fishingport.place.name }}：{{ airphoto.fishingport.name }}({{ airphoto.name }})" width="400" style='float:left;margin:15px'>{% endif %}{{ port.history|linebreaks }}{% else %}暫無資料{% endif %}</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <br>
        </td>
    </tr>
    <tr>
        <td align="left">
            <span class="HarborTitle">地理位置</span>
        </td>
    </tr>
    {% if port.xcoord and port.ycoord %}
    <tr>
        <td>
            <h2>　　　　本港座標( TW97 )位置：（ {{ port.twd97.x }} , {{ port.twd97.y }} ）</h2>
        </td>
    </tr>
    {% endif %}
    <tr>
        <td align="left">
            <table>
                <tr>
                    <td align="left">
                        {% if location %}<img src="/{{ location.rUrl }}" title="{{ location.fishingport.place.name }}：{{ location.fishingport.name }}{{ location.type.value }}" width="800">{% endif %}
                        <span class="HarborArticle">{% if port.location %}{{ port.location|linebreaks }}{% endif %}</span>
                        <span class="HarborArticle">{% if not port.location and not location %}暫無資料{% endif %}</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <br>
        </td>
    </tr>
    <tr>
        <td align="left">
            <span class="HarborTitle">漁港區域範圍</span>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr align="left">
                    <td>
                        <span class="HarborArticle">{% if port.range %}{% if area %}<img src="/{{ area.rThumbUrl }}" title="{{ area.fishingport.place.name }}：{{ area.fishingport.name }}{{ area.type.value }}" width="530" style='float:left;margin:15px'>{% endif %}{{ port.range|linebreaks }}{% endif %}</span>
                        <span class="HarborArticle">{% if not port.range and not area %}暫無資料{% endif %}</span>
                    </td>
                </tr>
            </table>
            
        </td>
    </tr>
</table>


{% endblock %}