{% extends 'harbor/vport.html' %}

{% block scriptlib %}
    <script type="text/javascript" src="/media/harbor/js/lib.js"></script>
{% endblock %}
{% block menu %}
    <ul id="menu" value ="/harbor/view"></ul>
{% endblock %}
{% block portinfocontent %}
<table width="800">
    <tr>
        <td align="center">
            <h3><br><br>
            {% if boat %}
            <table style="border-collapse: collapse" border="1" cellpadding="2" cellspacing="2">
                <tr align="center" bgcolor="#FFFF99">
                    <td>年度</td>
                    {% for type in boat_type %}
                    <td>
                        {{ type }}
                    </td>
                    {% endfor %}
                </tr>
                {% for year in boat_list %}
                <tr class="{% cycle "odd" "even" %}" align="center">
                    {% for boat in year %}
                    <td>
                        {{ boat }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <h2>暫無資料</h2>
            {% endif %}
            </h3>
        </td>
    </tr>
</table>
<br>





{% endblock %}
