{% extends "sop/zh-tw/web/base.html" %}
{% load staticfiles %}
{% block js%}
	<script type="text/x-jquery-tmpl" id="file_list_tmpl">
		<tr id='file_${file_id}'>
			<td><input type="radio" name="file_radio_${item_id}" value=${file_id} ${checked}></td>
			<td><a>${version}</a></td>
			<td>${name}</td>
			<td>${ext}</td>
			<td>${upload_time}</td>
		</tr>
	</script>
  <script type="text/javascript">
      $(document).ready(function(){
      	$('.release_date').each(function(){
      		var date = new Date($(this).text());
      		var date_c = '中華民國'+(date.getFullYear()-1911)+'年'+(parseInt(date.getMonth())+1)+'月'+date.getDate()+'日';
      		$(this).text(date_c);
      	});
        $('[full]').click(function(){
          	$('#full_sop_modal div.modal-body img').attr('src',$(this).attr('png-url'));
          	$("#modal_zip_dw").attr('href','/sop/download_zip_file/'+$(this).parents(".sop-tr").attr('sop_id'));
            $('#full_sop_modal').find('.modal-body').css({maxHeight:($(window).height()*0.85-110)+'px'});
          	$('#full_sop_modal').modal('show');
        });

          $('[forms]').click(function(){
          	var $that = $(this);
          	var sop_id = $(this).parents(".sop-tr").attr('sop_id');
          		$.ajax({
								url:"/sop/api/v1/item/?type=2&order_by=id&files__is_use=True&sop="+sop_id,
								type:"GET",
								dataType: 'json',
								contentType: "application/json",
								success: function(data){
									$('#forms_modal div.modal-body').html("");
									$('#forms_modal div.modal-header h4').html($that.parents(".sop-tr").attr('sop-name')+' 標準作業流程</br>表單列表');
									$.each(data.objects,function(i,item){
										$('#forms_modal div.modal-body').append('<h4><a href="/sop/download_file/'+item.use_file+'/">'+item.name+'</a></h4>');
									});

									$('#forms_modal').modal('show');
									$('#forms_modal').on('hidden',function(){
										$('#forms_modal div.modal-body').html("");
									});
								},
							});	
          });

      })
  </script>
{% endblock%}
{% block css%}
  <style>
/*    tr td,tr th{text-align: center;
    	overflow:hidden;
    }*/
    #sop_table tr td{
    	text-align: center;
    }
    .modal-body h4{
    	text-align: left;
    }
    .modal-body{
    	padding:15px 30px;
    }
    .modal-header h4{
    	text-align: center;

    }
    #sop_tbody tr td{
    	line-height:30px;
    }
    col{height:1px;}
  </style>
{% endblock %}
{% block content%}

<div class="btn-group" style="position:absolute;top:0px;right:0%;visibility:visible;">
    <button class="btn btn-info btn-large" onclick="window.location = '/';">回系統首頁</button>
</div>
<div class="row-fluid" >
	<div class="span12" >
		<table id="sop_table" class="table table-bordered" style="table-layout:fixed">
		    <col width="30px" />
            <col width="230px" />
		    <col width="140px" />
		   	<col width="120px" />
		    <col width="80px" />
		    <col width="80px" />
		    <col width="80px" />
			<thead style="text-align:center;font-size:16px;">
				<tr style="background-color:#555;color:white;font-size:1.5em;">
                    <td width="5%"><strong>項次</strong></td>
				    <td><strong>標準作業程序名稱</strong></td>
				    <td ><strong>發布時間</strong></th>
				    <td ><strong>流程圖(下載)</strong></td>
				    <td ><strong>作業書</strong></td>
				    <td ><strong>表單</strong></td>
				    <td ><strong>zip檔</strong></td>
				 </tr>
			</thead>
			<tbody id="sop_tbody">
			{% for i in res%}
				<tr class="sop-tr" sop_id= "{{i.sop.id}}" sop-name="{{ i.sop.title }}" style="height:50px;vertical-align:middle;font-size:1.5em;" >
                    <td>{{ forloop.counter }}</td>
					<td style="text-align: right;">
					    <span class="sop-name"><strong>{{ i.sop.title }}</strong></span>
					</td>
					<td class='release_date' style="font-size:14px;">{{ i.sop.release_date }}</td>
					<td>
                        <a full png-url="/sop/view_file/{{ i.png_file.id }}/" class='btn btn-mini'><i class=" icon-picture"></i></a>
						<a href="/sop/download_file/{{ i.png_file.id }}/ " style='margin-left:25px;' class='stb btn btn-mini'><i class=" icon-circle-arrow-down"></i></a>
					</td>
					<td>
						<a href="/sop/download_file/{{ i.stb_file.id }}/"  class='stb btn btn-mini uploader'><i class="icon-circle-arrow-down"></i></a>
					</td>
					<td>
						<a forms items_id="{{ i.forms }}" file_type="2" class='btn btn-mini forms-modal-uploader-buttom'><i class=" icon-th-list"></i></a>
					</td>
					<td>
						<a href="/sop/download_zip_file/{{i.sop.id}}/" class='btn btn-mini item-list'><i class="icon-shopping-cart"></i></a>
					</td>
				</tr>
			{% endfor%}
			</tbody>
		</table>
	</div>
</div>
<div id="full_sop_modal" style="width:940px;margin-left:-470px;top:5%;" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 style="text-align:center">&nbsp;</h3>
  </div>
  <div class="modal-body">
  	<div class="row-fluid">
  		<div class="span12" style="overflow:auto;"><img style='width:100%' src=""></img></div>
  		<!-- <div class="span3"></div> -->
  	</div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">關閉</button>
    <a id="modal_zip_dw"><button class="btn btn-primary">下載ZIP</button></a>
  </div>
</div>


<div id="forms_modal"  style="width:480px;margin-left:-160px;top:30%" class="modal hide fade" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4>Modal header</h4>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">關閉</button>
  </div>
</div>
{% endblock %}