body {
    background-color: #F2F5F8;
}

.pointer {
    cursor: pointer;
    cursor: hand;
}

#container {
    position: relative;
    width: 50%;
    left: 50%;
    margin-left: -450px;
}

#title_board {
    position: relative;
}

#menu {
    font-weight: bold;
    font-size: 20px;
}

#menu span {
    color: #FFFFFF;
}

#menu a {
    color: #FFFFFF;
    text-decoration: none;
}

#menu a:hover {
    color: red;
    text-decoration: none;
}

#left_top {
    background-image: url(/media/weblive/image/title_left_top.png);
    width: 64px;
    height: 64px;
    position: absolute;
    
}

#mid_top {
    background-image: url(/media/weblive/image/title_mid_top.png);
    width: 772px;
    height: 64px;
    position: absolute;
    left: 64px;
}

#right_top {
    background-image: url(/media/weblive/image/title_right_top.png);
    width: 64px;
    height: 64px;
    position: absolute;
    left: 836px;
}

#left_bottom {
    background-image: url(/media/weblive/image/title_left_bottom.png);
    width: 64px;
    height: 64px;
    position: absolute;
    top: 64px;

}

#mid_bottom {
    background-image: url(/media/weblive/image/title_mid_bottom.png);
    width: 772px;
    height: 64px;
    position: absolute;
    left: 64px;
    top: 64px;
}

#right_bottom {
    background-image: url(/media/weblive/image/title_right_bottom.png);
    width: 64px;
    height: 64px;
    position: absolute;
    left: 836px;
    top: 64px;
}

#logo {
    position: absolute;
    left: 50px;
    top: 25px;
}

#main_title {
    position: absolute;
    left: 180px;
    top: 20px;
    width: 600px;
    font-size: 45px;
    font-style: italic;
}

#sub_title {
    position: absolute;
    left: 200px;
    top: 70px;
    width: 600px;
    font-size: 20px;
    font-style: italic;
}

#menu_board {
    width: 220px;
    height: 600px;
    background-color:#FFFFFF;
    background-image: url(/media/weblive/image/metal.png);
    border-width: 2px;
    border-style: solid;
    border-color: #B5B5B5;
    position: absolute;
    top: 150px;
    left: 10px;
    margin: auto;
}

.selection {
    min-width: 150px;
    font-size: 16px;
    margin: 2px;
}

#ctrpanel {
    text-align:center;
    vertical-align:middle;
    position: relative;
    top: 10px;
}

#left_up_button {
    width: 50px;
    height: 50px;
    background-image: url(/media/weblive/image/left_up_init.png);
}

#left_up_button:hover {
    background-image: url(/media/weblive/image/left_up_hover.png);
}

#up_button {
    width: 50px;
    height: 50px;
    background-image: url(/media/weblive/image/up_init.png);
}

#up_button:hover {
    background-image: url(/media/weblive/image/up_hover.png);
}

#right_up_button {
    width: 50px;
    height: 50px;
    background-image: url(/media/weblive/image/right_up_init.png);
}

#right_up_button:hover {
    background-image: url(/media/weblive/image/right_up_hover.png);
}

#left_button {
    width: 50px;
    height: 50px;
    background-image: url(/media/weblive/image/left_init.png);
}

#left_button:hover {
    background-image: url(/media/weblive/image/left_hover.png);
}

#right_button {
    width: 50px;
    height: 50px;
    background-image: url(/media/weblive/image/right_init.png);
}

#right_button:hover {
    background-image: url(/media/weblive/image/right_hover.png);
}

#left_down_button {
    width: 50px;
    height: 50px;
    background-image: url(/media/weblive/image/left_down_init.png);
}

#left_down_button:hover {
    background-image: url(/media/weblive/image/left_down_hover.png);
}

#down_button {
    width: 50px;
    height: 50px;
    background-image: url(/media/weblive/image/down_init.png);
}

#down_button:hover {
    background-image: url(/media/weblive/image/down_hover.png);
}

#right_down_button {
    width: 50px;
    height: 50px;
    background-image: url(/media/weblive/image/right_down_init.png);
}

#right_down_button:hover {
    background-image: url(/media/weblive/image/right_down_hover.png);
}

#zoom_in_button {
    width: 64px;
    height: 64px;
    background-image: url(/media/weblive/image/zoom_in_init.png);
}

#zoom_in_button:hover {
    background-image: url(/media/weblive/image/zoom_in_hover.png);
}

#zoom_out_button {
    width: 64px;
    height: 64px;
    background-image: url(/media/weblive/image/zoom_out_init.png);
}

#zoom_out_button:hover {
    background-image: url(/media/weblive/image/zoom_out_hover.png);
}

#screen_board {
    border-width: 5px;
    border-style: solid;
    border-color: #B5B5B5;
    width: 640px;
    height: 430px;
    position: absolute;
    top: 150px;
    left: 240px;
    text-align:center;
    vertical-align:middle;
}

#ctr_layer {
    width: 640px;
    height: 400px;
    position: absolute;
    top: 155px;
    left: 245px;
	z-index: 1000;
}

#film_area {
    position: absolute;
    top: 0px;
    left: 0px;
}

#cam_note {
    position: relative;
    top: 20px;
    font-size: 16px;
}

#init_field {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 640px;
    height: 400px;
    background-color: black;
    filter:Alpha(Opacity=80, FinishOpacity=80, Style=2);
    -moz-opacity:0.8;
    opacity:0.8;
    text-align: center;
}

#footer {
    position: relative;
    top: 760px;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    border-top:1px solid #000000;
}

.it_is_living_monitor {
    color: red;
}
