{% extends "fishuser/zh-tw/base.html" %}
{% load i18n %}
{% load humanize %}
{% load utiltags %}
{% load guardian_tags %}

{% block body %}


<style>
.speech-bubble {
	position: relative;
	background: #c9dede;
	border-radius: .4em;
        width: 300;
        height: 120;
        text-align:center;
        display:flex;
        justify-content:center;
}

.list-group-item {
    z-index: 1;
}


.visualize {
	position: absolute;
	background: #F3FFFF;
	border-radius: .4em;
    width: 200;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

/* .visualize:after {
    content: '';
    width: 0;
    height: 0;
    bottom: 55%;
    left: -35%;
    border-style: solid;
    border-width: 17px 10px 0 70px;
    border-color: #F3FFFF transparent transparent;
    position: absolute;
    content: '';

    width: 0;
    height: 0;
    bottom: 43%;
    left: -55%;
    border-style: solid;
    border-width: 14px 0px 20 110px;
    border-color: transparent transparent #F3FFFF transparent;
    position: absolute;
} */

/* .visualize::before{
    content: '';
    width: 0;
    height: 0;
    bottom: 53.8%;
    left: -37%;
    border-style: solid;
    border-width: 20.5px 0px 2px 74px;
    border-color: #B6BFBF transparent transparent;
    position: absolute;
    
    content: '';
    width: 0;
    height: 0;
    bottom: 42.6%;
    left: -60.9%;
    border-style: solid;
    border-width: 20.5px 0px 23px 121px;
    border-color: transparent transparent #B6BFBF transparent;
    position: absolute;
} */
/* 向上對話框 */
.visualize:after {
	content: '';
	position: absolute;
	top: 0;
	left: 20%;
	width: 0;
	height: 0;
	border: 18px solid transparent;
	border-bottom-color: #F3FFFF;
	border-top: 0;
	margin-left: -18px;
	margin-top: -18px;
}

.visualize::before{
	content: '';
	position: absolute;
	top: 0;
	left: 20%;
	width: 0;
	height: 0;
	border: 19px solid transparent;
	border-bottom-color: #B6BFBF;
	border-top: 0;
	margin-left: -19.3px;
	margin-top: -18.8px;
}

</style>

<table class="table">
    <tr>
        
        <td width="75%" style="vertical-align: top;">
            <div class="project_taiwan speech-bubble">
                <h4>
                    <strong>全台灣地區</strong><br><br>
                    本年度總工程案件為: <strong>{{ project_total }}</strong><br>
                    本年度未結案之工程: <strong><a data-toggle="modal" data-target="#project_nofinish_list_dialog" id="modal_pointer_all"  class="pointer">{{ project_nofinish }}</a></strong> 件<br>
                    本年度已結案之工程: <strong><a data-toggle="modal" data-target="#project_finish_list_dialog" id="modal_pointer_all"  class="pointer">{{ project_finish }}</a></strong> 件
                </h4>
            </div>
            {% for p in places %}
            <div id="counties_{{ p.name }}" class="counties speech-bubble" style="display:none;"  place_id = "{{ p.id }}" >
                <h4>
                    <strong>{{ p.name }}</strong><br><br>
                    本年度未結案之工程: <strong><a data-toggle="modal" data-target="#project_nofinish_list_dialog" id="modal_pointer"  class="pointer">{{ p.nofinish_names|length }}</a></strong> 件<br>
                    本年度已結案之工程: <strong><a data-toggle="modal" data-target="#project_finish_list_dialog" id="modal_pointer"  class="pointer">{{ p.finish_names|length }}</a></strong> 件

                </h4>  
            </div>
            {% endfor %}
            <br>
                       
            <img src="/media/harbor/v2/images/taiwan_map.png" width="576" height="673" border="0" usemap="#Map" />
            <center>
                <map name="Map" id="Map">
                    <area shape="poly" onmouseover="image_map_hover(this, true)" coords="435,58,449,46,489,38,525,44,533,69,520,77,484,79,465,84,456,100,435,94,426,76" id="4" class="image_map pointer" title="基隆市" />
                    <area shape="poly" onmouseover="image_map_hover(this, true)" coords="349,32,422,30,428,65,430,88,453,101,478,85,492,100,404,154,390,128,382,130,377,104,385,96,369,83,352,60" id="3" class="image_map pointer" title="新北市" />
                    <area shape="poly" onmouseover="image_map_hover(this, true)" coords="318,114,277,110,278,79,364,82,375,96,369,109,378,130,398,154,393,163,384,143,349,122" id="9" class="image_map pointer" title="桃園市" />
                    <area shape="poly" onmouseover="image_map_hover(this, true)" coords="306,116,321,134,313,149,313,166,368,181,377,193,391,172,381,147,366,139,348,127" id="8" class="image_map pointer" title="新竹縣" />
                    <area shape="poly" onmouseover="image_map_hover(this, true)" coords="229,116,298,119,315,134,310,155,235,151,226,133" id="7" class="image_map pointer" title="新竹市" />
                    <area shape="poly" onmouseover="image_map_hover(this, true)" coords="217,187,216,162,298,157,356,184,366,203,337,221,298,215,276,214,266,203,226,197" id="10" class="image_map pointer" title="苗栗縣" />
                    <area shape="poly" onmouseover="image_map_hover(this, true)" coords="196,219,200,205,263,207,280,220,337,224,376,200,397,209,389,241,362,230,339,243,305,253,296,263,279,270,255,249,244,237,197,238" id="11" class="image_map pointer" title="臺中市" />
                    <area shape="poly" onmouseover="image_map_hover(this, true)" coords="165,251,243,239,267,265,275,308,208,304,163,286" id="14" class="image_map pointer" title="彰化縣" />
                    <area shape="poly" onmouseover="image_map_hover(this, true)" coords="140,304,142,338,196,356,237,335,265,342,290,341,293,334,271,326,276,315,205,309" id="17" class="image_map pointer" title="雲林縣" />
                    <area shape="poly" onmouseover="image_map_hover(this, true)" coords="144,357,130,389,182,389,201,390,233,375,255,375,260,397,280,407,321,364,301,342,254,346,234,344,203,364,177,359" id="16" class="image_map pointer" title="嘉義縣" />
                    <area shape="poly" onmouseover="image_map_hover(this, true)" coords="131,403,132,435,202,460,237,458,275,409,254,392,244,380,213,396,185,397" id="18" class="image_map pointer" title="臺南市" />
                    <area shape="poly" onmouseover="image_map_hover(this, true)" coords="168,464,152,496,250,535,252,475,278,460,323,460,329,399,345,381,338,360,296,393,282,414,242,461" id="23" class="image_map pointer" title="高雄市" />
                    <area shape="poly" onmouseover="image_map_hover(this, true)" coords="244,537,234,572,295,583,320,625,338,625,347,568,320,547,310,513,319,488,328,481,329,463,282,466,259,479,256,516,257,534" id="26" class="image_map pointer" title="屏東縣" />
                    <area shape="poly" onmouseover="image_map_hover(this, true)" coords="341,558,316,517,322,495,334,474,330,442,338,394,349,387,386,411,412,357,431,361,423,420,437,432,436,456,387,463,360,504" id="25" class="image_map pointer" title="臺東縣" />
                    <area shape="poly" onmouseover="image_map_hover(this, true)" coords="384,398,346,368,358,342,379,332,387,252,404,210,462,215,445,268,482,285,481,313,429,325,429,346,407,353" id="27" class="image_map pointer" title="花蓮縣" />
                    <area shape="poly" onmouseover="image_map_hover(this, true)" coords="383,193,413,209,466,209,476,188,509,180,518,156,478,150,475,118,440,137,402,160" id="5" class="image_map pointer" title="宜蘭縣" />
                    <area shape="poly" onmouseover="image_map_hover(this, true)" coords="13,286,99,286,119,336,106,364,96,387,78,396,58,341,8,329" id="21" class="image_map pointer" title="澎湖縣" />
                    <area shape="poly" onmouseover="image_map_hover(this, true)" coords="24,196,136,198,143,157,114,151,33,151,23,161" id="22" class="image_map pointer" title="金門縣" />
                    <area shape="poly" onmouseover="image_map_hover(this, true)" coords="87,141,148,121,164,90,164,59,77,62,76,94" id="6" class="image_map pointer"  title="連江縣" />
                </map>
            </center>
        </td>

        {% comment %} <td width="25%" style="vertical-align: top;">
            {% for p in places %}
                <div id="place_port_list_{{ p.name }}" class="place_port_list" style="display:none;">
                    <div class="list-group" align="center">
                        <h4>
                            <a class="list-group-item" style="background-color: #D8AFFF !important;"
                             href="{% url 'harbor.views.place_profile' place_id=p.id %}">
                                {{ p.name }}
                            </a>
                        </h4>
                    </div>
                    {% if p.first_port %}
                        <div class="list-group">
                            <a class="pointer list-group-item change_show_and_hide" style="background-color: #98BED1 !important;" place_id="{{ p.id }}" type_name="first_port" now="show"><img id="img_first_port_{{ p.id }}" src="/media/harbor/v2/images/arrow_down.png">第一類漁港({{ p.first_port.count }})</a>
                            {% for port in p.first_port %}
                                <a href="{% url 'harbor.views.port_profile' port_id=port.id %}" class="list-group-item first_port_{{ p.id }}">{{ port.name }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if p.second_port %}
                        <div class="list-group">
                            <a class="pointer list-group-item change_show_and_hide" style="background-color: #BED198 !important;" place_id="{{ p.id }}" type_name="second_port" now="hide"><img id="img_second_port_{{ p.id }}" src="/media/harbor/v2/images/arrow_right.png">第二類漁港({{ p.second_port.count }})</a>
                            {% for port in p.second_port %}
                                <a style="display:none;" href="{% url 'harbor.views.port_profile' port_id=port.id %}" class="list-group-item second_port_{{ p.id }}">{{ port.name }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if p.delete_port %}
                        <div class="list-group">
                            <a class="pointer list-group-item change_show_and_hide" style="background-color: #F7D9ED !important;" place_id="{{ p.id }}" type_name="delete_port" now="hide"><img id="img_delete_port_{{ p.id }}" src="/media/harbor/v2/images/arrow_right.png">廢除、合併或其他({{ p.delete_port.count }})</a>
                            {% for port in p.delete_port %}
                                <a style="display:none;" href="{% url 'harbor.views.port_profile' port_id=port.id %}" class="list-group-item delete_port_{{ p.id }}">{{ port.name }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if p.fourth_port %}
                        <div class="list-group">
                            <a class="pointer list-group-item change_show_and_hide" style="background-color: #D1AB98 !important;" place_id="{{ p.id }}" type_name="fourth_port" now="hide"><img id="img_fourth_port_{{ p.id }}" src="/media/harbor/v2/images/arrow_right.png">第四類漁港({{ p.fourth_port.count }})</a>
                            {% for port in p.fourth_port %}
                                <a style="display:none;" href="{% url 'harbor.views.port_profile' port_id=port.id %}" class="list-group-item fourth_port_{{ p.id }}">{{ port.name }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if p.reef %}
                        <div class="list-group">
                            <a class="pointer list-group-item change_show_and_hide" style="background-color: #D8BAF4 !important;" place_id="{{ p.id }}" type_name="reef" now="hide"><img id="img_reef_{{ p.id }}" src="/media/harbor/v2/images/arrow_right.png">魚礁區({{ p.reef.count }})</a>
                            {% for reef in p.reef %}
                                <a style="display:none;" href="{% url 'harbor.views.reef_profile' reef_id=reef.id %}" class="list-group-item reef_{{ p.id }}">{{ reef.name }}{% if reef.marked_point %}({{ reef.marked_point }}){% endif %}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </td> {% endcomment %}
    </tr>
</table>

<div class="visualize" style="display: none; z-index: 3; padding: 10px; font-size: 16px;">
    {% for p in places %}
        <div id="place_port_list_{{ p.name }}" class="place_port_list" style="display:none;">
            <div class="list-group" align="center">
                <h4>
                    <a class="list-group-item" style="background-color: #D8AFFF !important;"
                    href="{% url 'harbor.views.place_profile' place_id=p.id %}">
                        {{ p.name }}
                    </a>
                </h4>
            </div>
            {% if p.first_port %}
                <div class="list-group" align="left">
                    <a class="pointer list-group-item change_show_and_hide" style="background-color: #98BED1 !important;" place_id="{{ p.id }}" type_name="first_port" now="show"><img id="img_first_port_{{ p.id }}" src="/media/harbor/v2/images/arrow_down.png">第一類漁港({{ p.first_port.count }})</a>
                    {% for port in p.first_port %}
                        <a href="{% url 'harbor.views.port_profile' port_id=port.id %}" class="list-group-item first_port_{{ p.id }}">{{ port.name }}</a>
                    {% endfor %}
                </div>
            {% endif %}
            {% if p.second_port %}
                <div class="list-group" align="left">
                    <a class="pointer list-group-item change_show_and_hide" style="background-color: #BED198 !important;" place_id="{{ p.id }}" type_name="second_port" now="hide"><img id="img_second_port_{{ p.id }}" src="/media/harbor/v2/images/arrow_right.png">第二類漁港({{ p.second_port.count }})</a>
                    {% for port in p.second_port %}
                        <a style="display:none;" href="{% url 'harbor.views.port_profile' port_id=port.id %}" class="list-group-item second_port_{{ p.id }}">{{ port.name }}</a>
                    {% endfor %}
                </div>
            {% endif %}
            {% if p.delete_port %}
                <div class="list-group" align="left">
                    <a class="pointer list-group-item change_show_and_hide" style="background-color: #F7D9ED !important;" place_id="{{ p.id }}" type_name="delete_port" now="hide"><img id="img_delete_port_{{ p.id }}" src="/media/harbor/v2/images/arrow_right.png">廢除、合併或其他({{ p.delete_port.count }})</a>
                    {% for port in p.delete_port %}
                        <a style="display:none;" href="{% url 'harbor.views.port_profile' port_id=port.id %}" class="list-group-item delete_port_{{ p.id }}">{{ port.name }}</a>
                    {% endfor %}
                </div>
            {% endif %}
            {% if p.fourth_port %}
                <div class="list-group" align="left">
                    <a class="pointer list-group-item change_show_and_hide" style="background-color: #D1AB98 !important;" place_id="{{ p.id }}" type_name="fourth_port" now="hide"><img id="img_fourth_port_{{ p.id }}" src="/media/harbor/v2/images/arrow_right.png">第四類漁港({{ p.fourth_port.count }})</a>
                    {% for port in p.fourth_port %}
                        <a style="display:none;" href="{% url 'harbor.views.port_profile' port_id=port.id %}" class="list-group-item fourth_port_{{ p.id }}">{{ port.name }}</a>
                    {% endfor %}
                </div>
            {% endif %}
            {% if p.reef %}
                <div class="list-group" align="left">
                    <a class="pointer list-group-item change_show_and_hide" style="background-color: #D8BAF4 !important;" place_id="{{ p.id }}" type_name="reef" now="hide"><img id="img_reef_{{ p.id }}" src="/media/harbor/v2/images/arrow_right.png">魚礁區({{ p.reef.count }})</a>
                    {% for reef in p.reef %}
                        <a style="display:none;" href="{% url 'harbor.views.reef_profile' reef_id=reef.id %}" class="list-group-item reef_{{ p.id }}">{{ reef.name }}{% if reef.marked_point %}({{ reef.marked_point }}){% endif %}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
<div style="display: flex;"></div>

<div class="modal fade" id="project_nofinish_list_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 850px; margin-left: -150px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title image_map" id="myModalLabel">本年度未結案之工程</h4>
            </div>
            <div class="modal-body">
             <table class="table table-bordered sortable"> 
                <thead bgcolor='#BBFFDD'>
                    <tr align="center">
                        <td width="25%">工程名稱</td>
                        <td width="17%">工程進度</td>
                        <td width="25%">工程日期</td>
                        <td width="15%">契約金額</td>
                        <td width="30%">日報表備註</td>
                    </tr>
                </thead>
             {% for p in places %}   
                {% for names, progress_design, progress_act_inspector, progress_act_contractor, start_date, completion_date, total_money, engprofile_status,id in p.nofinish_total %}
                    <tbody  id="table_counties_{{ p.name }}">
                        <tr>
                            <td><a href="/project/project_profile/{{id}}/">{{ names }}</a></td>
                            <td>預定進度:{{ progress_design }}%<br>監造進度:{{ progress_act_inspector }}%<br>施工進度:{{ progress_act_contractor }}%</td>
                            <td>{{ start_date }} ~ {{ completion_date }}</td>
                            <td>{{ total_money }}</td>
                            <td>{{ engprofile_status }}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            {% endfor %}
            </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="project_finish_list_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 850px; margin-left: -150px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title image_map" id="myModalLabel">本年度已結案之工程</h4>
            </div>
            <div class="modal-body">
             <table class="table table-bordered sortable"> 
                <thead bgcolor='#BBFFDD'>
                    <tr align="center">
                        <td width="25%">工程名稱</td>
                        <td width="17%">工程進度</td>
                        <td width="25%">工程日期</td>
                        <td width="15%">契約金額</td>
                        <td width="30%">日報表備註</td>
                    </tr>
                </thead>
             {% for p in places %}   
                {% for names, progress_design, progress_act_inspector, progress_act_contractor, start_date, completion_date, total_money, engprofile_status, id in p.finish_total %}
                    <tbody id="table_counties_{{ p.name }}">
                        <tr>
                            <td><a href="/project/project_profile/{{id}}/">{{ names }}</a></td>
                            <td>預定進度:{{ progress_design }}%<br>監造進度:{{ progress_act_inspector }}%<br>施工進度:{{ progress_act_contractor }}%</td>
                            <td>{{ start_date }} ~ {{ completion_date }}</td>
                            <td>{{ total_money }}</td>
                            <td>{{ engprofile_status }}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            {% endfor %}
            </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    let check_click = false;

    $('.project_taiwan').show();
    $('a#modal_pointer').on('click',function(){
        //alert('test');
       {% for p in places %}
           $('#table_counties_{{ p.name }}').hide();
       {% endfor %}
       //console.log("Parent Div: "+ $(this).closest('div').attr('id'));
       $('#table_'+ $(this).closest('div').attr('id')).show();
    });
    $('a#modal_pointer_all').on('click',function(){
       {% for p in places %}
           $('#table_counties_{{ p.name }}').show();
       {% endfor %}
       $('#table_counties_臺灣地區').hide();
       $('#table_counties_臺北市').hide();
    });


    function image_map(){
        check_click = true;
        const $obj = $(this);
        const place_id = $obj.attr('id');
        const title = $obj.attr('title');
        coordinate_visualize(title);
        $('.project_taiwan').hide();
        $('.counties').hide();
        $('.place_port_list' ).hide();
        $('#counties_'+ title).show();
        $('#place_port_list_' + title).show();
        
    }
    function image_map_hover(obj, over){
        const place_id = obj.id;
        const title = obj.title;
        if(!check_click) {
            if(over) {
                coordinate_visualize(title);
                $('.project_taiwan').hide();
                $('.counties').hide();
                $('.place_port_list' ).hide();
                $('.visualize').show();
                $('#counties_'+ title).show();
                $('#place_port_list_' + title).show();
                }
        }
    }

    function change_show_and_hide(){
        var $obj = $(this);
        var place_id = $obj.attr('place_id');
        var now = $obj.attr('now');
        var type_name = $obj.attr('type_name');
        if (now=='hide'){
            $('.' + type_name + '_' + place_id).show();
            $('#img_' + type_name + '_' + place_id).attr('src', '/media/harbor/v2/images/arrow_down.png');
            $obj.attr('now', 'show');
        } else {
            $('.' + type_name + '_' + place_id).hide();
            $('#img_' + type_name + '_' + place_id).attr('src', '/media/harbor/v2/images/arrow_right.png');
            $obj.attr('now', 'hide');
        }
    }

    function coordinate_visualize(title) {
        let visualize = document.querySelector('.visualize');
        if(title == '基隆市') {
            visualize.style.marginTop = "-61rem";
            visualize.style.marginLeft = "45.5rem";
            // visualize.style.marginTop = "-79rem";
            // visualize.style.marginLeft = "60.5rem";
        }else if(title == '新北市'){
            visualize.style.marginTop = "-62rem";
            visualize.style.marginLeft = "35.5rem";
            // visualize.style.marginTop = "-83rem";
            // visualize.style.marginLeft = "54.5rem";
        }else if(title == '桃園市'){
            visualize.style.marginTop = "-57.5rem";
            visualize.style.marginLeft = "28.3rem";
        }else if(title == '新竹縣'){
            visualize.style.marginTop = "-51.5rem";
            visualize.style.marginLeft = "31.7rem";
        }else if(title == '新竹市'){
            visualize.style.marginTop = "-53.5rem";
            visualize.style.marginLeft = "23.7rem";
        }else if(title == '苗栗縣'){
            visualize.style.marginTop = "-49rem";
            visualize.style.marginLeft = "22.5rem";
        }else if(title == '臺中市'){
            visualize.style.marginTop = "-45rem";
            visualize.style.marginLeft = "20.5rem";
        }else if(title == '彰化縣'){
            visualize.style.marginTop = "-39.5rem";
            visualize.style.marginLeft = "17rem";
        }else if(title == '雲林縣'){
            visualize.style.marginTop = "-34.5rem";
            visualize.style.marginLeft = "14.7rem";
        }else if(title == '嘉義縣'){
            visualize.style.marginTop = "-29.5rem";
            visualize.style.marginLeft = "14rem";
        }else if(title == '臺南市'){
            visualize.style.marginTop = "-25.5rem";
            visualize.style.marginLeft = "14rem";
        }else if(title == '高雄市'){
            visualize.style.marginTop = "-18.5rem";
            visualize.style.marginLeft = "17rem";
        }else if(title == '屏東縣'){
            visualize.style.marginTop = "-10.5rem";
            visualize.style.marginLeft = "24.5rem";
        }else if(title == '臺東縣'){
            visualize.style.marginTop = "-22.5rem";
            visualize.style.marginLeft = "36.5rem";
        }else if(title == '花蓮縣'){
            visualize.style.marginTop = "-37.5rem";
            visualize.style.marginLeft = "41rem";
        }else if(title == '宜蘭縣'){
            visualize.style.marginTop = "-50rem";
            visualize.style.marginLeft = "44.7rem";
        }else if(title == '澎湖縣'){
            visualize.style.marginTop = "-35.5rem";
            visualize.style.marginLeft = "0rem";
        }else if(title == '金門縣'){
            visualize.style.marginTop = "-49.5rem";
            visualize.style.marginLeft = "1rem";
        }else if(title == '連江縣'){
            visualize.style.marginTop = "-59.5rem";
            visualize.style.marginLeft = "9rem";
        }
    }

    $(document).ready(function(){
        $('.image_map').click(image_map);
        $('.change_show_and_hide').click(change_show_and_hide);
    });

    $(document).click(function (event) {
        //目標
        const image_map = $('.image_map');
        const change_show_and_hide = $('.change_show_and_hide');
        if (!image_map.is(event.target) && !change_show_and_hide.is(event.target)) {
            check_click = false;
            $('.visualize').hide();
        }
    });

   
</script>
{% endblock %}
