{% load humanize %}
<br><br>
<h3>
    <span class="label label-success">
        <span class="glyphicon glyphicon-paperclip"></span>
        漁業產量
    </span>
    {% if edit %}　<button class="btn btn-info btn-sm" data-toggle="modal" data-target="#create_portfisheryoutput_dialog">新增</button><br>{% endif %}
</h3>
<table class="table table-bordered" id="portfisheryoutput_table">
    <tr class="warning" align="center">
        <td>
            年度
        </td>
        <td>
            產量(公噸) 
        </td>
        <td>
            產值(千元) 
        </td>
        {% if edit %}
            <td width="5%">刪除</td>
        {% endif %}
    </tr>
    {% for i in port.portfisheryoutput_set.all %}
        <tr align="center" id="tr_portfisheryoutput_{{ i.id }}">
            <td>{{ i.year }}</td>
            <td>{{ i.output|intcomma }}</td>
            <td>{{ i.value|intcomma }}</td>
            {% if edit %}
                <td>
                    <button class="deleteRow btn btn-danger btn-sm" title="點我刪除"
                        row_id="{{ i.id }}"
                        module_name = "harbor"
                        table_name = "portfisheryoutput"
                        remove_target = "tr_portfisheryoutput_{{ i.id }}"
                        title="刪除"><span class="glyphicon glyphicon-remove"></span></button>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
{% if edit %}
    <script type="text/x-jquery-tmpl" id="HidePortFisheryOutputTr">
        <tr align="center" id="tr_portfisheryoutput_${id}">
            <td>${year}</td>
            <td>${output}</td>
            <td>${value}</td>
            <td>
                <button class="deleteRow btn btn-danger btn-sm" title="點我刪除"
                    row_id="${id}"
                    module_name = "harbor"
                    table_name = "portfisheryoutput"
                    remove_target = "tr_portfisheryoutput_${id}"
                    title="刪除"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
    </script>

    <div class="modal fade" id="create_portfisheryoutput_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">新增漁業產量</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-border">
                        <tr>
                            <td width="25%">年度</td>
                            <td width="75%">
                                <input id="portfisheryoutput_year" class="form-control" value="">
                            </td>
                        </tr>
                        <tr>
                            <td>產量(公噸)</td>
                            <td>
                                <input id="portfisheryoutput_output" class="form-control" value="">
                            </td>
                        </tr>
                        <tr>
                            <td>產值(千元)</td>
                            <td>
                                <input id="portfisheryoutput_value" class="form-control" value="">
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="create_portfisheryoutput" class="btn btn-primary">新增</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}




<script type="text/javascript">
    function create_portfisheryoutput() {
        var fishingport = $('#fishingport').val();
        var data = {
            csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN,
            fishingport: fishingport,
        }
        if ($('#portfisheryoutput_year').val()){
            data['year'] = $('#portfisheryoutput_year').val();
        }
        if ($('#portfisheryoutput_output').val()){
            data['output'] =  $('#portfisheryoutput_output').val();
        }
        if ($('#portfisheryoutput_value').val()){
            data['value'] =  $('#portfisheryoutput_value').val();
        }
        $.ajax({
            url: '/harbor/api/v2/portfisheryoutput/',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                var $div = $('#HidePortFisheryOutputTr').tmpl(data).appendTo($('#portfisheryoutput_table'));
                $('#portfisheryoutput_year').val('');
                $('#portfisheryoutput_output').val('');
                $('#portfisheryoutput_value').val('');
                $('#create_portfisheryoutput_dialog').modal('hide');
                $('.deleteRow').unbind('click');
                $('.deleteRow').click(deleteRow);
            },
            error: function (data) {}
        })
    }



    $(document).ready(function(){
        $('#create_portfisheryoutput').click(create_portfisheryoutput);
    });

</script>