<br><br>
<h3>
    <span class="label label-success">
        <span class="glyphicon glyphicon-paperclip"></span>
        建港沿革
    </span>
    {% if edit %}　<button class="btn btn-info btn-sm ClickShowInfo" row_id="{{ port.id }}" field_name="history">編輯</button><br>{% endif %}
</h3>

<span id="show_part_history_{{ port.id }}">
    {{ port.history|default_if_none:""|linebreaks }}
</span>
{% if edit %}
    <textarea id="edit_part_history_{{ port.id }}"
        class="BlurUpdateInfo form-control" style="display: none;"
        field_type="str"
        row_id="{{ port.id }}"
        field_name="history"
        table_name="fishingport"
        module_name='harbor'
        type="textarea"
        old_value="{{ port.history|default_if_none:"" }}"
        cols="100" rows="15">{{ port.history|default_if_none:"" }}</textarea>
{% endif %}

<br>
<h3>
    <span class="label label-success">
        <span class="glyphicon glyphicon-paperclip"></span>
        地理位置
    </span> 
    {% if edit %}　<button class="btn btn-info btn-sm ClickShowInfo" row_id="{{ port.id }}" field_name="location">編輯</button><br>{% endif %}
</h3>
座標( TW97 )位置：({{ port.twd97.x }}, {{ port.twd97.y }})<br>
{% if edit %}
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">經度：</span>
                <input
                    class="BlurUpdateInfo form-control"
                    field_type="float"
                    row_id="{{ port.id }}"
                    field_name="xcoord"
                    table_name="fishingport"
                    module_name='harbor'
                    type="textarea"
                    old_value="{{ port.xcoord|default_if_none:"" }}"
                    value="{{ port.xcoord|default_if_none:"" }}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">緯度：</span>
                <input
                    class="BlurUpdateInfo form-control"
                    field_type="float"
                    row_id="{{ port.id }}"
                    field_name="ycoord"
                    table_name="fishingport"
                    module_name='harbor'
                    type="textarea"
                    old_value="{{ port.ycoord|default_if_none:"" }}"
                    value="{{ port.ycoord|default_if_none:"" }}">
            </div>
        </div>
    </div>
{% endif %}
<span id="show_part_location_{{ port.id }}">
    {{ port.location|default_if_none:""|linebreaks }}
</span>
{% if edit %}
    <textarea id="edit_part_location_{{ port.id }}"
        class="BlurUpdateInfo form-control" style="display: none;"
        field_type="str"
        row_id="{{ port.id }}"
        field_name="location"
        table_name="fishingport"
        module_name='harbor'
        type="textarea"
        old_value="{{ port.location|default_if_none:"" }}"
        cols="100" rows="10">{{ port.location|default_if_none:"" }}</textarea>
{% endif %}


<br>
<h3>
    <span class="label label-success">
        <span class="glyphicon glyphicon-paperclip"></span>
        漁港區域範圍
    </span>
    {% if edit %}　<button class="btn btn-info btn-sm ClickShowInfo" row_id="{{ port.id }}" field_name="range">編輯</button><br>{% endif %}
</h3>
<span id="show_part_range_{{ port.id }}">
    {{ port.range|default_if_none:""|linebreaks }}
</span>
{% if edit %}
    <textarea id="edit_part_range_{{ port.id }}"
        class="BlurUpdateInfo form-control" style="display: none;"
        field_type="str"
        row_id="{{ port.id }}"
        field_name="range"
        table_name="fishingport"
        module_name='harbor'
        type="textarea"
        old_value="{{ port.range|default_if_none:"" }}"
        cols="100" rows="15">{{ port.range|default_if_none:"" }}</textarea>
{% endif %}
