{% load utiltags %}
{% load humanize %}
<tr id="tr_EmailList_{{ u.id }}" height="35" style="font-size: 10px;">
    <td>{{ forloop.counter }}</td>
    
    <td>
        <button class="deleteRow btn btn-danger btn-xs"
        row_id="{{ u.id }}"
        module_name = "fishuser"
        table_name = "emaillist"
        remove_target = "tr_EmailList_{{ u.id }}"
        message="你確定要刪除『{{ u.name }}』這個使用者嗎？"
        title="刪除">X</button>
    </td>
    
    <td>
        <a href="/fishuser/email_list_info/?place_id={{ u.place.id }}" row_id="{{ u.id }}" user_name="{{ u.name }}" target="_blank">
            <button class="btn btn-info btn-xs" title="看信件內容">→</button>
        </a>
    </td>

    <td class="ClickShowInfo" row_id="{{ u.id }}" field_name="need_email">
        <a id="show_part_need_email_{{ u.id }}" class="style_title">
            {% if u.need_email %}
                是
            {% else %}
                否
            {% endif %}
        </a>
        <select
            id="edit_part_need_email_{{ u.id }}"
            class="BlurUpdateInfo" style="display: none;"
            field_type="str"
            is_select="True"
            row_id="{{ u.id }}"
            field_name="need_email"
            table_name="emaillist"
            module_name='fishuser'
            old_value="{{ u.need_email }}">
                <option {% if u.need_email %}selected="selected"{% endif %} value="true">是</option>
                <option {% if not u.need_email %}selected="selected"{% endif %} value="false">否</option>
        </select>
    </td>
    
    <td class="ClickShowInfo" row_id="{{ u.id }}" field_name="place">
        <a id="show_part_place_{{ u.id }}" class="style_title">
            {{ u.place.name|default_if_none:"" }}
        </a>
        <select
            id="edit_part_place_{{ u.id }}"
            class="BlurUpdateInfo" style="display: none;"
            field_type="str"
            is_select="True"
            row_id="{{ u.id }}"
            field_name="place"
            table_name="emaillist"
            module_name='fishuser'
            old_value="/fishuser/api/v2/place/{{ u.place.id }}/">
            <option value=""></option>
            {% for p in places %}
                <option {% ifequal p.id u.place.id %}selected="selected"{% endifequal %} value="/fishuser/api/v2/place/{{ p.id }}/">{{ p.name }}</option>
            {% endfor %}
        </select>
    </td>
    
    <td class="ClickShowInfo" row_id="{{ u.id }}" field_name="name">
        <a id="show_part_name_{{ u.id }}" class="style_title">
            {{ u.name|default_if_none:"" }}
        </a>
        <input
            id="edit_part_name_{{ u.id }}"
            type="text" class="BlurUpdateInfo" style="display: none;"
            field_type="str"
            row_id="{{ u.id }}"
            field_name="name"
            table_name="emaillist"
            module_name='fishuser'
            old_value="{{ u.name|default_if_none:"" }}"
            value="{{ u.name|default_if_none:"" }}"/>
    </td>
    
    <td class="ClickShowInfo" row_id="{{ u.id }}" field_name="departments">
        <a id="show_part_departments_{{ u.id }}" class="style_title">
            {{ u.departments|default_if_none:"" }}
        </a>
        <input
            id="edit_part_departments_{{ u.id }}"
            type="text" class="BlurUpdateInfo" style="display: none;"
            field_type="str"
            row_id="{{ u.id }}"
            field_name="departments"
            table_name="emaillist"
            module_name='fishuser'
            old_value="{{ u.departments|default_if_none:"" }}"
            value="{{ u.departments|default_if_none:"" }}"/>
    </td>

    <td class="ClickShowInfo" row_id="{{ u.id }}" field_name="title">
        <a id="show_part_title_{{ u.id }}" class="style_title">
            {{ u.title|default_if_none:"" }}
        </a>
        <input
            id="edit_part_title_{{ u.id }}"
            type="text" class="BlurUpdateInfo" style="display: none;"
            field_type="str"
            row_id="{{ u.id }}"
            field_name="title"
            table_name="emaillist"
            module_name='fishuser'
            old_value="{{ u.title|default_if_none:"" }}"
            value="{{ u.title|default_if_none:"" }}"/>
    </td>

    <td class="ClickShowInfo" row_id="{{ u.id }}" field_name="tel">
        <a id="show_part_tel_{{ u.id }}" class="style_title">
            {{ u.tel|default_if_none:"" }}
        </a>
        <input
            id="edit_part_tel_{{ u.id }}"
            type="text" class="BlurUpdateInfo" style="display: none;"
            field_type="str"
            row_id="{{ u.id }}"
            field_name="tel"
            table_name="emaillist"
            module_name='fishuser'
            old_value="{{ u.tel|default_if_none:"" }}"
            value="{{ u.tel|default_if_none:"" }}"/>
    </td>

    <td class="ClickShowInfo" row_id="{{ u.id }}" field_name="phone">
        <a id="show_part_phone_{{ u.id }}" class="style_title">
            {{ u.phone|default_if_none:"" }}
        </a>
        <input
            id="edit_part_phone_{{ u.id }}"
            type="text" class="BlurUpdateInfo" style="display: none;"
            field_type="str"
            row_id="{{ u.id }}"
            field_name="phone"
            table_name="emaillist"
            module_name='fishuser'
            old_value="{{ u.phone|default_if_none:"" }}"
            value="{{ u.phone|default_if_none:"" }}"/>
    </td>

    <td class="ClickShowInfo" row_id="{{ u.id }}" field_name="fax">
        <a id="show_part_fax_{{ u.id }}" class="style_title">
            {{ u.fax|default_if_none:"" }}
        </a>
        <input
            id="edit_part_fax_{{ u.id }}"
            type="text" class="BlurUpdateInfo" style="display: none;"
            field_type="str"
            row_id="{{ u.id }}"
            field_name="fax"
            table_name="emaillist"
            module_name='fishuser'
            old_value="{{ u.fax|default_if_none:"" }}"
            value="{{ u.fax|default_if_none:"" }}"/>
    </td>

    <td class="ClickShowInfo" row_id="{{ u.id }}" field_name="email">
        <a id="show_part_email_{{ u.id }}" class="style_title">
            {{ u.email|default_if_none:"" }}
        </a>
        <input
            id="edit_part_email_{{ u.id }}"
            type="text" class="BlurUpdateInfo" style="display: none;"
            field_type="str"
            row_id="{{ u.id }}"
            field_name="email"
            table_name="emaillist"
            module_name='fishuser'
            old_value="{{ u.email|default_if_none:"" }}"
            value="{{ u.email|default_if_none:"" }}"/>
    </td>

    <td class="ClickShowInfo" row_id="{{ u.id }}" field_name="memo">
        <a id="show_part_memo_{{ u.id }}" class="style_title">
            {{ u.memo|default_if_none:"" }}
        </a>
        <textarea
            id="edit_part_memo_{{ u.id }}"
            type="text" class="BlurUpdateInfo" style="display: none;"
            field_type="str"
            row_id="{{ u.id }}"
            field_name="memo"
            table_name="emaillist"
            module_name='fishuser'
            rows="3"
            old_value="{{ u.memo|default_if_none:"" }}">{{ u.memo|default_if_none:"" }}</textarea>
    </td>
</tr>