{% extends "fishuser/zh-tw/base.html" %}
{% load i18n %}
{% load humanize %}

{% block body %}
    
<div align="left">
    <span style="color: red;" align="left">
        <ul>
            <li>注意：輸入條件越多，符合的資料可能會較少。</li>
        </ul>
    </span>
    
    <h4>請輸入搜尋條件</h4>
    <div class="row">
        <div class="col-xs-7" align="right">
            <div class="row">
                <div class="col-xs-3" align="right">
                    帳號
                </div>
                <div class="col-xs-7" align="left">
                    <input id="username" class="form-control" size="40" type="text">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3" align="right">
                    姓
                </div>
                <div class="col-xs-3" align="left">
                    <input id="last_name" class="form-control" size="20" type="text">
                </div>
                <div class="col-xs-1" align="right">
                    名
                </div>
                <div class="col-xs-3" align="left">
                    <input id="first_name" class="form-control" size="20" type="text">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3" align="right">
                    群組
                </div>
                <div class="col-xs-9" align="left">
                    <select id="group" class="form-control">
                        <option value="">全部</option>
                        {% for group in groups %}
                        <option value="{{ group.id }}">－ {{ group.name }} －</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3" align="right">
                    機關
                </div>
                <div class="col-xs-9" align="left">
                    <select id="unit" class="form-control">
                        <option value="">全部</option>
                        {% for unit in units %}
                        <option value="{{ unit.id }}">－ {{ unit.name }} －</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3" align="right">
                    每頁顯示
                </div>
                <div class="col-xs-3" align="left">
                    <select id="per_page" class="form-control" width="100">
                        <option value=25 selceted>25 筆</option>
                        <option value=50>50 筆</option>
                        <option value=100>100 筆</option>
                        <option value="">全部</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs5" align="left" style="padding-top: 80px;">
            <input id="user_id" value="{{ user.id }}" type="hidden"/>
            <input id="searchAccount" page=1 value="搜尋" type="button" style="width: 100; height: 50;">
        </div>
    </div>

<hr style="color: #FFC991;" align="center" size="1" width="900">
<br>

<script type="text/x-jquery-tmpl" id="HideUserInfo">
    {% include "fishuser/zh-tw/account_edit_user_info_table.html" %}
</script>

<div id="DivUserInfoTable" style="display: none;">
    帳號資訊修改
    <table id="UserInfoTable" style="border-collapse: collapse;" border="1">
    </table>

    <br>
    <span class="notice">
        <li>密碼格式須同時混合英文字母及數字。</li>
        <li>不可含有標點符號及全形字。</li>
        <li>總字數須在 8 個以上。</li>
    </span>
    <hr style="color: #FFC991;" align="center" size="1" width="900">
    <br><br>
</div>

<ul class="pagination pages_list"></ul> <span class="total_count"></span>
<br>
<table id="SearchResultTable" style="border-collapse: collapse;display: none;font-size: 12px;" border="1" class="sortable">
    <thead bgcolor='#FFAC55'>
        <tr>
            {% if user.is_staff %}<th>轉換</th>{% endif %}
            <th align="center" width="25">序<br>號</th>
            <th align="center" width="80">帳號</th>
            <th align="center" align="center" width="70">姓名</th>
            <th align="center" width="120">群組</th>
            <th align="center" width="40">帳號<br>狀態</th>
            <th align="center" width="40">登入<br>次數</th>
            <th align="center" width="110">機關</th>
            <th align="center" width="110">職稱</th>
            <th align="center" width="90">電話<br>傳真</th>
            <th align="center" width="180">信箱</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<br>
<ul class="pagination pages_list"></ul> <span class="total_count"></span>


<script type="text/x-jquery-tmpl" id="HideSearchTr">
    <tr height="38" align="center" row_id="${id}" class="${class_name}">
        {% if user.is_staff %}
            <td>
                <input class="updateStuffToUser" username="${username}" user_fullname="${last_name}${first_name}" type="button" value="轉換">
            </td>
        {% endif %}
        <td align="center" bgcolor="#E5FFCD">${sort}</td>
        <td>
            <a class="editUserInfo" row_id="${id}">
                ${username}
            </a>
        </td>
        <td align="center">${last_name}${first_name}</td>
        <td align="center" id="td_groups_name_${id}">${groups_name}</td>
        <td align="center" bgcolor="${active_color}">${is_active}</td>
        <td align="center">${login_times}</td>
        <td align="center">${listname_unit}</td>
        <td align="center">${title}</td>
        <td align="center">${phone}<br>${fax}</td>
        <td>${email}</td>
    </tr>
</script>

<script type="text/javascript">
    function searchAccount(){
        var $obj = $(this);

        var string = 'username=' + $('#username').val().toLowerCase();
        string += '&user_id=' + $('#user_id').val();
        string += '&first_name=' + $('#first_name').val();
        string += '&last_name=' + $('#last_name').val();
        string += '&group=' + $('#group').val();
        string += '&unit=' + $('#unit').val();
        var per_page = $('#per_page').val();
        var page = parseInt($obj.attr('page'));
        if (!per_page){
            per_page = 1000000;
        };
        per_page = parseInt(per_page);
        string += '&offset=' + ((page-1) * per_page);
        string += '&limit=' + per_page;
        url = '/fishuser/api/v2/user/search/?' + string;
        $.ajax({
            url: url,
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                $('.resultTr').remove();
                $('#DivUserInfoTable').hide();
                $('#SearchResultTable').show();
                for (var i=0; i<data.objects.length; i++){
                    data.objects[i]['sort'] = i+1+(page-1)*per_page;
                    data.objects[i]['class_name'] = 'resultTr';
                    if (data.objects[i]['is_active']) {
                        data.objects[i]['is_active'] = '開啟';
                        data.objects[i]['active_color'] = '#5AFFB4';
                    } else {
                        data.objects[i]['is_active'] = '關閉';
                        data.objects[i]['active_color'] = '#FF7573';
                    }
                    if (data.objects[i]['in_mail_list']) {
                        data.objects[i]['mailcheck_name'] = '移除';
                        data.objects[i]['mailcheck_color'] = '#5AFFB4';
                        data.objects[i]['mailcheck_color_tr'] = '#5AFFB4';
                    } else {
                        data.objects[i]['mailcheck_name'] = '加入';
                        data.objects[i]['mailcheck_color'] = '#FF7573';
                        data.objects[i]['mailcheck_color_tr'] = '';
                    }
                    var $div = $('#HideSearchTr').tmpl(data.objects[i]).appendTo($('#SearchResultTable > tbody:last'));
                    
                    $('#td_groups_name_' + data.objects[i]['id']).html(data.objects[i]['groups_name']);
                }

                //製造分頁
                if (data.meta.total_count){
                    if ($('.pagination').html()) {
                        $('.pagination').twbsPagination('destroy');
                    }
                    $('.pagination').twbsPagination({
                        totalPages: Math.ceil(data.meta.total_count/per_page),
                        startPage: page,
                        visiblePages: Math.min(Math.ceil(data.meta.total_count/per_page), 10),
                        onPageClick: function (event, page) {
                            renew_search(page);
                        }
                    });
                } else {
                    if ($('.pagination').html()) {
                        $('.pagination').twbsPagination('destroy');
                    }
                }
                $('.total_count').html('共有' + Math.ceil(data.meta.total_count/per_page) + '頁，' + data.meta.total_count + '筆資料');


                $('.editUserInfo').unbind('click');
                $('.updateStuffToUser').unbind('click');
                $('.editUserInfo').click(editUserInfo);
                $('.updateStuffToUser').click(updateStuffToUser);
                // window.location = '#page=' + page;
            },
            error: REST_ERROR
        })
    }

    function renew_search(page){
        $('#searchAccount').attr('page', page);
        $('#searchAccount').click();
        $('#searchAccount').attr('page', '1');
    }
    function send_reset_password_email(username) {
        var data = {
            csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
            username: username,
        };
        
        alert('系統已將密碼設定信件寄到該帳號所屬的Email。因郵件伺服器速度，請等候3-5分鐘再收信。');
        $.ajax({
            url: '/fishuser/send_reset_password_email/',
            type: 'POST',
            data: data,
            dataType: 'json',
            success: function (json, text, xhr) {
                if (!json['status']){
                    $('#reset_password_msg').html(json['msg']);
                }
            },
            error: function (data) {
            },
        })
    }
    $(document).ready(function(){
        $('#searchAccount').click(searchAccount);
        $('#send_reset_password_email').click(send_reset_password_email);
    });

</script>
{% endblock body %}