<tr>
    <td align="center" bgcolor="#FFC991" width="100">
        帳號
    </td>
    <td width="250">
        ${username}
    </td>
</tr>

<tr>
    <td align="center" bgcolor="#FFC991" width="100">
        密碼
    </td>
    <td width="250">
        <input
            id="password_${id}"
            type="password"
            field_type="str"
            row_id="${id}"
            size=20
            value=""/>
        <input type="button" next_url="#" no_need_re_password="true" user_id="${id}" class="account_reset_password" value="重設密碼">
        <!-- <input type="button" next_url="#" no_need_re_password="true" user_id="${id}" class="account_reset_password" value="寄送密碼重設信件"> -->
        <button onclick="send_reset_password_email('${username}')" class="w3-green w3-section w3-padding" style="width: 60%" type="submit">寄送密碼重設信件</button>
    </td>
    
</tr>

<tr>
    <td align="center" bgcolor="#FFC991">
        姓
    </td>
    <td class="ClickShowInfo" row_id="${id}" field_name="last_name">
        <a id="show_part_last_name_${id}" class="style_title">
            ${last_name}
        </a>
        <input
            id="edit_part_last_name_${id}"
            type="text" class="BlurUpdateInfo needExist" style="display: none;"
            field_type="str"
            row_id="${id}"
            field_name="last_name"
            table_name="user"
            module_name='fishuser'
            size=35
            old_value="${last_name}"
            value="${last_name}"/>
    </td>
</tr>

<tr>
    <td align="center" bgcolor="#FFC991">
        名
    </td>
    <td class="ClickShowInfo" row_id="${id}" field_name="first_name">
        <a id="show_part_first_name_${id}" class="style_title">
            ${first_name}
        </a>
        <input
            id="edit_part_first_name_${id}"
            type="text" class="BlurUpdateInfo needExist" style="display: none;"
            field_type="str"
            row_id="${id}"
            field_name="first_name"
            table_name="user"
            module_name='fishuser'
            size=35
            old_value="${first_name}"
            value="${first_name}"/>
    </td>
</tr>

<tr>
    <td align="center" bgcolor="#FFC991">
        信箱
    </td>
    <td class="ClickShowInfo" row_id="${id}" field_name="email">
        <a id="show_part_email_${id}" class="style_title">
            ${email}
        </a>
        <input
            id="edit_part_email_${id}"
            type="text" class="BlurUpdateInfo needExist" style="display: none;"
            field_type="email"
            row_id="${id}"
            field_name="email"
            table_name="user"
            module_name='fishuser'
            size=35
            old_value="${email}"
            value="${email}"/>
    </td>
</tr>

<tr id="EditUserTableUnitTr_${id}">
    <td align="center" bgcolor="#FFC991">
        機關單位
    </td>
    <td class="ClickShowInfo" row_id="${projectup_id}" field_name="unit">
        <a id="show_part_unit_${projectup_id}" class="style_title">
            ${listname_unit}
        </a>
        <select
            id="edit_part_unit_${projectup_id}"
            class="BlurUpdateInfo" style="display: none;"
            field_type="str"
            is_select="True"
            row_id="${projectup_id}"
            field_name="unit"
            table_name="userprofile"
            module_name='fishuser'
            old_value="/fishuser/api/v2/unit/${unit_id}/">
            <option value=""></option>
            {% for unit in units %}
            <option value="/fishuser/api/v2/unit/{{ unit.id }}/"> {{ unit.name }} </option>
            {% endfor %}
        </select>
    </td>
</tr>

<tr>
    <td align="center" bgcolor="#FFC991">
        職稱
    </td>
    <td class="ClickShowInfo" row_id="${projectup_id}" field_name="title">
        <a id="show_part_title_${projectup_id}" class="style_title">
            ${title}
        </a>
        <input
            id="edit_part_title_${projectup_id}"
            type="text" class="BlurUpdateInfo" style="display: none;"
            field_type="str"
            row_id="${projectup_id}"
            field_name="title"
            table_name="userprofile"
            module_name='fishuser'
            size=35
            old_value="${title}"
            value="${title}"/>
    </td>
</tr>

<tr>
    <td align="center" bgcolor="#FFC991">
        電話
    </td>
    <td class="ClickShowInfo" row_id="${projectup_id}" field_name="phone">
        <a id="show_part_phone_${projectup_id}" class="style_phone">
            ${phone}
        </a>
        <input
            id="edit_part_phone_${projectup_id}"
            type="text" class="BlurUpdateInfo" style="display: none;"
            field_type="str"
            row_id="${projectup_id}"
            field_name="phone"
            table_name="userprofile"
            module_name='fishuser'
            size=35
            old_value="${phone}"
            value="${phone}"/>
    </td>
</tr>

<tr>
    <td align="center" bgcolor="#FFC991">
        傳真
    </td>
    <td class="ClickShowInfo" row_id="${projectup_id}" field_name="fax">
        <a id="show_part_fax_${projectup_id}" class="style_fax">
            ${fax}
        </a>
        <input
            id="edit_part_fax_${projectup_id}"
            type="text" class="BlurUpdateInfo" style="display: none;"
            field_type="str"
            row_id="${projectup_id}"
            field_name="fax"
            table_name="userprofile"
            module_name='fishuser'
            size=35
            old_value="${fax}"
            value="${fax}"/>
    </td>
</tr>

<tr>
    <td align="center" bgcolor="#FFC991">
        帳號狀態
    </td>
    <td class="ClickShowInfo" row_id="${id}" field_name="is_active">
        <a id="show_part_is_active_${id}" class="style_phone">
            ${listname_is_active}
        </a>
        <select
            id="edit_part_is_active_${id}"
            class="BlurUpdateInfo" style="display: none;"
            field_type="str"
            is_select="True"
            row_id="${id}"
            field_name="is_active"
            table_name="user"
            module_name='fishuser'
            old_value="${is_active}">
            <option value="true"> 開啟 </option>
            <option value="false"> 關閉 </option>
        </select>
    </td>
</tr>


<tr id="EditUserTableGroupTr_${id}">
    <td align="center" bgcolor="#FFC991">
        群組
        <button class="ShowAddGroupDialog btn btn-primary btn-xs" user_id="${id}">
            +
        </button>
    </td>
    <td id='user_groups_list_${id}'>
        
    </td>
</tr>


