{% extends "fishuser/zh-tw/base.html" %}
{% load i18n %}
{% load humanize %}

{% block body %}

<h3>請輸入帳號資訊</h3>
<form class="form-inline" role="form">
<table align="center">
    <tr>
        <td align="right">帳　號：</td>
        <td align="left">
            <div class="form-group">
            <label class="col-sm-2 control-label" align="right" style="font-size: 22px;">{{ city_title }}</label>
            <div class="col-sm-10">
                <input id="id_username" type="text" name="username" maxlength="32" class="form-control" value=""/>
            </div>
        </td>
    </tr>
    <tr>
        <td>密　碼：</td>
        <td><input id="id_password" type="password" name="password" class="form-control" maxlength="32" /></td>
    </tr>
    <tr>
        <td colspan="2">
            <ol>
                <span class="notice">
                    <li>密碼格式須同時混合英文字母及數字。</li>
                    <li>帳號第二個字元不可為 "_"。</li>
                    <li>不可含有標點符號及全形字。</li>
                    <li>總字數須在 8 個以上。</li>
                </span>
            </ol>
        </td>
    </tr>
    <tr>
        <td align="right">姓　：</td>
        <td>
            <input id="id_last_name" type="text" class="form-control" name="last_name" maxlength="32" value=""/>
        </td>
    </tr>
    <tr>
        <td align="right">名　：</td>
        <td><input id="id_first_name" type="text" class="form-control" name="first_name" maxlength="32" value=""/></td>
    </tr>
    <tr>
        <td>E-mail：</td>
        <td><input id="id_email" type="text" class="form-control" name="email" maxlength="32" value=""/></td>
    </tr>
    <tr>
        <td>職　稱：</td>
        <td><input id="id_title" type="text" class="form-control" name="title" maxlength="32" value=""/></td>
    </tr>
    <tr>
        <td>電　話：</td>
        <td><input id="id_phone" type="text" class="form-control" name="phone" maxlength="32" value=""/></td>
    </tr>
    <tr>
        <td>傳　真：</td>
        <td><input id="id_fax" type="text" class="form-control" name="fax" maxlength="32" value=""/></td>
    </tr>
    <tr>
        <td>單　位：</td>
        <td>
            <select name="unit" id="id_unit" class="form-control">
                {% for unit in units %}
                    <option value="{{ unit.id }}">{{ unit.name }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td>群　組：</td>
        <td>
            <select name="group" id="id_group" class="form-control">
                {% for group in groups %}
                    <option value="{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td>狀　態：</td>
        <td>
            <select name="is_active" id="id_is_active" class="form-control">
                <option value="True" selected="selected">啟用</option>
                <option value="False">關閉</option>
            </select>
        </td>
    </tr>
</table>
</form>
<br>
<span id="message" style="color: red; font-size: 18px;"></span>
<br>
<button class="btn btn-primary" id="creatUser">確定新增</button>
<button class="btn btn-warning" onclick="window.location='{% url 'fishuser.views.account_search' %}';">取消->回帳戶搜尋</button>



{% endblock body %}