{% load i18n %}
<!DOCTYPE html PUBLIC>
<html lang="zh-tw">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <!-- jquery -->
    <script type="text/javascript" src="/media/fishuser/v2/jquery/smoothness/jquery-ui-1.10.3.custom.css{{ settings.SV_ }}"></script>
    <script type="text/javascript" src="/media/fishuser/v2/jquery/jquery-1.10.2.js{{ settings.SV_ }}"></script>
    <script type="text/javascript" src="/media/fishuser/v2/jquery/jquery-ui-1.10.3.custom.js{{ settings.SV_ }}" ></script>
    <link rel="stylesheet" type="text/css" href="/media/fishuser/v2/jquery/smoothness/jquery-ui-1.10.3.custom.css{{ settings.SV_ }}" charset="utf-8"/>

    <style type="text/css">
        {% block style %}{% endblock %}
        .pointer { cursor: pointer;}
        td a {background: none !important;}
    </style>
    
    <script type="text/javascript">
        var DEBUG = {% if settings.DEBUG %}true{% else %}false{% endif %};
        var CSRFMIDDLEWARETOKEN;
        var SUB_PAGE_LIST = '';
    </script>

    <link rel="stylesheet" type="text/css" href="/media/fishuser/v2/css/style.css{{ settings.SV_ }}" charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/media/fishuser/v2/bootstrap/css/bootstrap.css{{ settings.SV_ }}"/>
    <link rel="stylesheet" type="text/css" href="/media/fishuser/v2/bootstrap/css/bootstrap-theme.css{{ settings.SV_ }}"/>
    {% block css_in_compress %}{% endblock %}

    <script type="text/javascript" src="/media/fishuser/v2/js/fishuser.js{{ settings.SV_ }}"></script>
    <script type="text/javascript" src="/media/fishuser/v2/js/purl.js{{ settings.SV_ }}"></script>
    <script type="text/javascript" src="/media/fishuser/v2/js/jquery.contextmenu.r2.js{{ settings.SV_ }}" ></script>
    <script type="text/javascript" src="/media/fishuser/v2/jstree/jquery.hotkeys.js{{ settings.SV_ }}"></script>
    <script type="text/javascript" src="/media/fishuser/v2/jstree/jquery.cookie.js{{ settings.SV_ }}"></script>
    <script type="text/javascript" src="/media/fishuser/v2/sorttable/sorttable.js{{ settings.SV_ }}"></script>
    <script type="text/javascript" src="/media/fishuser/v2/bootstrap/js/bootstrap.js{{ settings.SV_ }}"></script>
    <script type="text/javascript" src="/media/fishuser/v2/js/md5.js"></script>
    <script type="text/javascript" src="/media/fishuser/v2/js/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="/media/fishuser/v2/jquery-elastic-1.6.10/jquery.elastic.source.js"></script>
    {% block js_in_compress %}{% endblock %}


    {% block script %}{% endblock %}

    <title>{% block title %}漁業工程管理系統{% endblock %}</title>
</head>
<body style="padding-top: 30px; text-align: center;font-family: 'Helvetica Neue', Helvetica, '微軟正黑體', 'Microsoft Jhenghei', Arial, sans-serif;">
    <img id="loading" src="/media/dailyreport/images/loading.gif" width="50" style="display:none;" />
    {% csrf_token %}
    <div style="display: none;" id='next'>{{ next }}</div>

    <div class="alert alert-info">
        <h1>
            <img src="/media/cim/images/fa.png" width="80">
            漁業工程管理系統
            <small>Fishery Engineering System</small>
        </h1>
    </div>

    <table class="table" style="text-align: center;">
        <tr>
            <td width="35%"></td>
            <td width="30%">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span> 密　　碼</span>
                            <input id="id_password" class="form-control input-lg" type="password" name="password" placeholder="請輸入您的新密碼">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span> 重複密碼</span>
                            <input id="id_re_password" class="form-control input-lg" type="password" name="re_password" placeholder="請重複您的新密碼">
                        </div>
                    </div>
                </div>
                <button class="btn btn-info btn-lg" id="reset_password" type="button">重新設定密碼</button>
            </td>
            <td width="35%"></td>
        </tr>
    </table>
        
    <br>

    <br><br>
    <div id="footer">
        <hr width="800">
        <h5>漁業工程管理系統(Fishery Engineering System)</h5>
        <h6>
            Copyright &copy; 2021 <a href="http://www.fa.gov.tw/cht/" target="_blank">(行政院農業部漁業署)</a>
            <br>
            Designed by 
            <a href="http://www.toff.org.tw/" target="_blank">財團法人臺灣海洋保育與漁業永續基金會</a>
            <br><br>
            客服專線：漁業署(02-2383-5796)
			<br>
			客服專線：海漁基金會(02-2309-9177)
			<br>
            客服服務時間：周一到周五 08:00~17:00
        </h6>
    </div>
    <br><br><br><br>
</body>




<script type="text/javascript">
    function reset_password(){
        var user_id = {{ reset.user.id }};
        var code = '{{ reset.code }}';
        var password = $('#id_password').val();
        var re_password = $('#id_re_password').val();
        if (password != re_password){
            alert('您輸入的密碼不一致，請檢查您輸入的資訊!!');
            return false;
        }
        var password = $.checkPasswordFormat('id_password', '密碼格式不正確');
        $.ajax({
            url: '/fishuser/email_reset_password/reset/',
            type: "POST",
            data: {
                csrfmiddlewaretoken: CSRFMIDDLEWARETOKEN, 
                submit: 'email_reset_password', 
                user_id: user_id, 
                code: code,
                password: md5password(password)},
            dataType: "json",
            success: function(json) {
                if (json['status']) {
                    alert('密碼修改成功，下次登入請使用新密碼!!');
                    window.location = '/';
                } else {
                    alert(json['message']);
                }
            }
        });
    }

    $(document).ready(function(){
        $('#reset_password').click(reset_password);
    });

</script>