{% load guardian_tags %}
{% load i18n %}
<div align="left" id="menu_sub" style="width:162px; border-radius:5px; font-size: 16px;position: fixed;">
    {% ifequal toppage_name '工程管考系統' %}
        <div class="panel panel-danger">
            <div class="panel-heading" style="font-size: 20px;" align="center">工程管考系統</div>
            <ul class="list-group">
                <li class="list-group-item {% ifequal subpage_name '追蹤工程' %}active{% endifequal %}">
                    <a href="{% url 'project.views.default_project' %}">我追蹤的工程案</a>
                </li>
                {% if perms.fishuser.sub_menu_management_system_search %}
                    <li class="list-group-item {% ifequal subpage_name '搜尋管考工程' %}active{% endifequal %}">
                        <a href="{% url 'project.views.search_project' %}">搜尋管考工程</a>
                    </li>
                {% endif %}
                {% if perms.fishuser.sub_menu_management_system_plan %}
                    <li class="list-group-item {% ifequal subpage_name '計畫列表' %}active{% endifequal %}">
                        <a href="{% url 'project.views.plan_list' %}">計畫列表</a>
                    </li>
                {% endif %}
                {% if perms.fishuser.sub_menu_management_system_draft %}
                    <li class="list-group-item {% ifequal subpage_name '草稿匣' %}active{% endifequal %}">
                        <a href="{% url 'project.views.draft_project' %}">草稿匣</a>
                    </li>
                {% endif %}
                {% if perms.fishuser.sub_menu_management_system_create %}
                    <li class="list-group-item {% ifequal subpage_name '新增工程案' %}active{% endifequal %}">
                        <a href="{% url 'project.views.create_project' %}">新增工程案</a>
                    </li>
                {% endif %}
                {% if perms.fishuser.sub_menu_management_system_city %}
                    <li class="list-group-item {% ifequal subpage_name '縣市進度追蹤' %}active{% endifequal %}">
                        <a href="{% url 'project.views.chase' %}">縣市進度追蹤</a>
                    </li>
                {% endif %}
                {% if perms.fishuser.sub_menu_management_system_manage_money %}
                    <li class="list-group-item {% ifequal subpage_name '自辦工程管理費' %}active{% endifequal %}">
                        <a href="{% url 'project.views.set_manage_money' %}">自辦工程管理費</a>
                    </li>
                {% endif %}
                {% if perms.fishuser.sub_menu_management_system_manage_money_commission %}
                    <li class="list-group-item {% ifequal subpage_name '委辦工程管理費' %}active{% endifequal %}">
                        <a href="{% url 'project.views.set_manage_money_commission' %}">委辦工程管理費</a>
                    </li>
                {% endif %}
                {% if perms.fishuser.sub_menu_management_system_control_form %}
                    <li class="list-group-item {% ifequal subpage_name '漁港管控表' %}active{% endifequal %}">
                        <a href="{% url 'project.views.control_form' %}">漁港管控表</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endifequal %}
        
    {% ifequal toppage_name '遠端管理系統' %}
        <div class="panel panel-success">
            <div class="panel-heading" style="font-size: 20px;" align="center">遠端管理系統</div>
            <ul class="list-group">
                {% if perms.fishuser.sub_menu_remote_control_system_my %}
                    <li class="list-group-item {% ifequal subpage_name '我的工程' %}active{% endifequal %}">
                        <a href="{% url 'frcm.views.my_project' %}">我的工程</a>
                    </li>
                {% endif %}
                {% if perms.fishuser.sub_menu_remote_control_system_import %}
                    <li class="list-group-item {% ifequal subpage_name '匯入工程' %}active{% endifequal %}">
                        <a href="{% url 'frcm.views.import_project' %}">匯入工程</a>
                    </li>
                {% endif %}
                {% if perms.fishuser.sub_menu_remote_control_system_claim %}
                    <li class="list-group-item {% ifequal subpage_name '認領工程' %}active{% endifequal %}">
                        <a href="{% url 'frcm.views.claim_project' %}">認領工程</a>
                    </li>
                {% endif %}
                {% if perms.fishuser.sub_menu_remote_control_system_search %}
                    <li class="list-group-item {% ifequal subpage_name '搜尋遠端工程' %}active{% endifequal %}">
                        <a href="{% url 'frcm.views.search_project' %}">搜尋遠端工程</a>
                    </li>
                {% endif %}
                {% if perms.fishuser.sub_menu_remote_control_system_search %}
                    <li class="list-group-item {% ifequal subpage_name '縣市進度追蹤工程' %}active{% endifequal %}">
                        <a href="{% url 'frcm.views.chase_projects' %}">縣市進度追蹤工程</a>
                    </li>
                {% endif %}
                {% if perms.fishuser.sub_menu_warning_system_warninginfo %}
                    <li class="list-group-item {% ifequal subpage_name '預警內容' %}active{% endifequal %}">
                        <a href="{% url 'frcm.views.warning_info' %}">預警內容</a>
                    </li>
                {% endif %}
                {% if perms.fishuser.sub_menu_remote_control_system_file %}
                    <li class="list-group-item {% ifequal subpage_name '檔案管理' %}active{% endifequal %}">
                        <a href="{% url 'frcm.views.file_upload' %}">臨時檔案管理</a>
                    </li>
                {% endif %}
                {% if perms.fishuser.sub_menu_remote_control_system_proposal %}
                    <li class="list-group-item {% ifequal subpage_name '工程提案區' %}active{% endifequal %}">
                        <a href="{% url 'frcm.views.draft_project' %}">工程提案區</a>
                    </li>
                {% endif %}
                {% if not perms.fishuser.sub_menu_remote_control_system_import or user.is_staff %}
                    <li class="list-group-item {% ifequal subpage_name '編輯廠商資訊' %}active{% endifequal %}">
                        <a id="goto_unit_info" class="pointer" no="{{ user.user_profile.unit.no }}" onclick="goto_unit_info()">編輯廠商資訊</a>
                    </li>
                {% endif %}
                {% if perms.fishuser.sub_menu_remote_control_system_statisticstable_money %}
                    <li class="list-group-item {% ifequal subpage_name '廠商得標金額排行' %}active{% endifequal %}">
                        <a href="{% url 'frcm.views.statisticstable_money' %}">廠商得標金額排行</a>
                    </li>
                {% endif %}
                <script type="text/javascript">
                    //公司統一編號格試驗證
                    jQuery.checkUnitNo = function(value) {
                        function valid(n) {
                           return (n%10 == 0)?true:false;
                        }
                        function cal(n) {
                           var sum=0;
                           while (n!=0) {
                              sum += (n % 10);
                              n = (n - n%10) / 10;  // 取整數
                             }
                           return sum;
                        }
                        function nochk(novalue) {
                           var tmp = new String("12121241");
                           var sum = 0;
                           for (i=0; i< 8; i++) {
                             s1 = parseInt(novalue.substr(i,1));
                             s2 = parseInt(tmp.substr(i,1));
                             sum += cal(s1*s2);
                           }
                           if (!valid(sum)) {
                              if (novalue.substr(6,1)=="7") return(valid(sum+1));
                           }
                           return(valid(sum));
                        }
                        var no = /^[0-9]{8}$/.exec(value);
                        if (no == null){
                            alert('統一編號須為 8 碼數字，您所填寫的則是「'+value+'」');
                            return false;
                        } else if (nochk(value) == false) {
                            alert(no + ' 此為不合法的統一編號，請確認!');
                            return false;
                        }
                        return value
                    }

                    function goto_unit_info(){
                        var $obj = $('#goto_unit_info');
                        if ($obj.attr('no')){
                            window.location = '{% url 'frcm.views.my_unit' %}';
                        } else {
                            Lobibox.prompt('text', //Any input type will be valid
                                {
                                    title: '請輸入統一編號',
                                    //Attributes of <input>
                                    attrs: {
                                        placeholder: "統一編號(8碼)"
                                    },
                                    callback : function($this,type,ev){
                                        if (type == 'ok'){
                                            var value = $this.getValue();
                                            {% if not user.is_staff %}
                                                var value = $.checkUnitNo(value);
                                            {% endif %}
                                            if (!value){
                                                Lobibox.notify('warning', {
                                                    title: '錯誤資訊',
                                                    msg: '請輸入統一編號.'
                                                });
                                            } else {
                                                window.location = '{% url 'frcm.views.my_unit' %}' + '?no=' + value;
                                            }
                                        }
                                    }
                                }
                            );
                        }
                    }
                </script>
            </ul>
        </div>
    {% endifequal %}
    
    {% ifequal toppage_name '查核系統' %}
        <div class="panel panel-success">
            <div class="panel-heading" style="font-size: 20px;" align="center">查核系統</div>
            <ul class="list-group">
                {% if perms.project.top_menu_supervise_system %}
                    <li class="list-group-item {% ifequal subpage_name '搜尋' %}active{% endifequal %}">
                        <a href="{% url 'auditing.views.search_page' %}">搜尋紀錄</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endifequal %}

    {% ifequal toppage_name '督導系統' %}
        <div class="panel panel-warning">
            <div class="panel-heading" style="font-size: 20px;" align="center">督導系統</div>
            <ul class="list-group">
                <li class="list-group-item {% ifequal subpage_name '搜尋' %}active{% endifequal %}">
                    <a href="{% url 'supervise.views.search' %}">搜尋督導案</a>
                </li>
                {% if perms.fishuser.sub_menu_supervise_system_create %}
                    <li class="list-group-item {% ifequal subpage_name '搜尋工程會標案' %}active{% endifequal %}">
                        <a href="{% url 'supervise.views.search_supervise_form_pcc' %}">搜尋工程會標案</a>
                    </li>
                {% endif %}
                {% if perms.fishuser.sub_menu_supervise_system_create %}
                    <li class="list-group-item {% ifequal subpage_name '從工程會新增' %}active{% endifequal %}">
                        <a href="{% url 'supervise.views.create_from_pcc' %}">新增督導案</a>
                    </li>
                {% endif %}
                <li class="list-group-item {% ifequal subpage_name '搜尋廠商' %}active{% endifequal %}">
                    <a href="{% url 'supervise.views.search_unit' %}">搜尋廠商統計</a>
                </li>
                <li class="list-group-item {% ifequal subpage_name '統計表單' %}active{% endifequal %}">
                    <a href="{% url 'supervise.views.statistics' table_id=1 date_from='this_year' date_to='this_year' %}">快速統計表單</a>
                </li>
                <li class="list-group-item {% ifequal subpage_name '單位-分數-件數' %}active{% endifequal %}" style="padding-left: 20px;">
                    <a href="{% url 'supervise.views.statistics' table_id=1 date_from='this_year' date_to='this_year' %}" style="font-size: 12px;">
                        <span class="glyphicon glyphicon-th-list"></span>
                        單位-分數-件數
                    </a>
                </li>
                <li class="list-group-item {% ifequal subpage_name '單位-扣點' %}active{% endifequal %}" style="padding-left: 20px;">
                    <a href="{% url 'supervise.views.statistics' table_id=2 date_from='this_year' date_to='this_year' %}" style="font-size: 12px;">
                        <span class="glyphicon glyphicon-th-list"></span>
                        單位-扣點
                    </a>
                </li>
                <li class="list-group-item {% ifequal subpage_name '單位-缺失排名' %}active{% endifequal %}" style="padding-left: 20px;">
                    <a href="{% url 'supervise.views.statistics' table_id=3 date_from='this_year' date_to='this_year' %}" style="font-size: 12px;">
                        <span class="glyphicon glyphicon-th-list"></span>
                        單位-缺失排名
                    </a>
                </li>
                <li class="list-group-item {% ifequal subpage_name '單位-金額-件數' %}active{% endifequal %}" style="padding-left: 20px;">
                    <a href="{% url 'supervise.views.statistics' table_id=4 date_from='this_year' date_to='this_year' %}" style="font-size: 12px;">
                        <span class="glyphicon glyphicon-th-list"></span>
                        單位-金額-件數
                    </a>
                </li>
                <li class="list-group-item {% ifequal subpage_name '單位-月份-件數' %}active{% endifequal %}" style="padding-left: 20px;">
                    <a href="{% url 'supervise.views.statistics' table_id=5 date_from='this_year' date_to='this_year' %}" style="font-size: 12px;">
                        <span class="glyphicon glyphicon-th-list"></span>
                        單位-月份-件數
                    </a>
                </li>
                <li class="list-group-item {% if subpage_name == '分類缺失次數排名' or subpage_name == '分類缺失件數排名' %}active{% endif %}" style="padding-left: 20px;padding-right: 0px;font-size: 12px;" title="分類缺失">
                    <span class="glyphicon glyphicon-th-list"></span>分類缺失
                    <br>
                    <a href="{% url 'supervise.views.statistics' table_id=6 date_from='this_year' date_to='this_year' %}" style="font-size: 12px;">[次數排名]</a>　
                    <a href="{% url 'supervise.views.statistics' table_id=9 date_from='this_year' date_to='this_year' %}" style="font-size: 12px;">[件數排名]</a>
                </li>
                <li class="list-group-item {% if subpage_name == '不分類缺失次數排名' or subpage_name == '不分類缺失件數排名' %}active{% endif %}" style="padding-left: 20px;padding-right: 0px;font-size: 12px;" title="不分類缺失">
                    <span class="glyphicon glyphicon-th-list"></span>
                    不分類缺失<br>
                    <a href="{% url 'supervise.views.statistics' table_id=7 date_from='this_year' date_to='this_year' %}" style="">[次數排名]</a>　
                    <a href="{% url 'supervise.views.statistics' table_id=8 date_from='this_year' date_to='this_year' %}" style="font-size: 12px;">[件數排名]</a>
                </li>
                <li class="list-group-item {% ifequal subpage_name '統計圖表' %}active{% endifequal %}" style="padding-left: 20px;padding-right: 0px" title="統計圖表">
                    <a href="{% url 'supervise.views.statistics_chart' %}" style="font-size: 12px;">
                        <span class="glyphicon glyphicon-th-list"></span>
                        統計圖表
                    </a>
                </li>
                <!--
                <li class="list-group-item {% ifequal subpage_name '完工之工程案的總體效益表' %}active{% endifequal %}" style="padding-left: 20px;padding-right: 0px" title="完工之工程案的總體效益表">
                    <a href="{% url 'supervise.views.statistics_chart_a' %}" style="font-size: 12px;">
                        <span class="glyphicon glyphicon-th-list"></span>
                        完工之工程案的總體效益表
                    </a>
                </li>
                -->
            </ul>
        </div>
    {% endifequal %}
            
    {% ifequal toppage_name '漁港資訊系統' %}
        <div class="panel panel-info">
            <div class="panel-heading" style="font-size: 20px;" align="center">漁港資訊系統</div>
            <ul class="list-group">
                <li class="list-group-item {% ifequal subpage_name '資訊主頁' %}active{% endifequal %}">
                    <a href="{% url 'harbor.views.index' %}">資訊主頁</a>
                </li>    
                <!-- <li class="list-group-item {% ifequal subpage_name '漁港搜尋' %}active{% endifequal %}">
                    <a href="/gis/">漁港搜尋</a>
                </li> -->
                <li class="list-group-item {% ifequal subpage_name '漁港設施記錄' %}active{% endifequal %}">
                    <a href="{% url 'harbor.views.portinstallationrecord' %}">漁港設施記錄</a>
                </li>
                {% if perms.fishuser.sub_menu_harbor_system_edit %}
                    <li class="list-group-item {% ifequal subpage_name '編輯資訊' %}active{% endifequal %}">
                        <a href="{% url 'harbor.views.edit_information' %}">編輯資訊</a>
                    </li>
                {% endif %}
                <!-- <li class="list-group-item {% ifequal subpage_name '港區監控系統' %}active{% endifequal %}">
                    <a href="{% url 'harbor.views.webcam' %}">港區即時監控系統</a>
                </li> -->
                <!-- <li class="list-group-item {% ifequal subpage_name '港區錄影系統' %}active{% endifequal %}">
                    <a href="{% url 'harbor.views.webcam_record' %}">港區錄影系統</a>
                </li> -->
                <li class="list-group-item {% ifequal subpage_name '資料交換區' %}active{% endifequal %}">
                    <a href="{% url 'harbor.views.datashare' %}">資料交換區</a>
                </li>
            </ul>
        </div>
    {% endifequal %}

    {% ifequal toppage_name '帳號管理' %}
        <div class="panel panel-info">
            <div class="panel-heading" style="font-size: 20px;" align="center">帳號管理</div>
            <ul class="list-group">
                <li class="list-group-item {% ifequal subpage_name '帳號搜尋' %}active{% endifequal %}">
                    <a href="{% url 'fishuser.views.account_search' %}">帳號搜尋</a>
                </li>
                <li class="list-group-item {% ifequal subpage_name '創新帳號' %}active{% endifequal %}">
                    <a href="{% url 'fishuser.views.account_create' %}">創新帳號</a>
                </li> 
                <li class="list-group-item {% ifequal subpage_name '叮催系統帳號管理' %}active{% endifequal %}">
                    <a href="{% url 'fishuser.views.email_list' %}">叮催系統帳號管理</a>
                </li>
            </ul>
        </div>
    {% endifequal %}

    {% ifequal toppage_name '線上問答' %}
        <div class="panel panel-info">
            <div class="panel-heading" style="font-size: 20px;" align="center">線上問答</div>
            <ul class="list-group">
                <li class="list-group-item {% ifequal subpage_name '常見問題' %}active{% endifequal %}">
                    <a href="{% url 'help.views.faq' %}">常見問題</a>
                </li>
                <!-- <li class="list-group-item {% ifequal subpage_name '線上提問' %}active{% endifequal %}">
                    <a href="{% url 'help.views.i_have_question' %}">線上提問</a>
                </li>  -->
                {% if user.is_staff %}
                <li class="list-group-item {% ifequal subpage_name '管理者回答問題' %}active{% endifequal %}">
                    <a href="{% url 'help.views.answer_question' %}">管理者回答問題</a>
                </li>
                {% endif %}
            </ul>
        </div>
    {% endifequal %}
</div>
