{% extends "fishuser/zh-tw/base.html" %}
{% load i18n %}
{% load humanize %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <br>
        <span style="color: red;" align="left">
            <ul>
                <li>注意：因漁業署規定，密碼必須至少為8碼以上，並混合英文與數字。</li>
            </ul>
        </span>

        請輸入您的新密碼<br><br>
        <form class="form-inline" role="form">
            <div class="form-group">
                密　　碼：<input id="password_{{ user.id }}" class="form-control" name="password" maxlength="32" value="" type="password"><br>
                重複密碼：<input id="re_password_{{ user.id }}" class="form-control" name="re_password" maxlength="32" value="" type="password">
            </div>
        <br>
        <br>
        <input class="reset_password" next_url="{% url 'fishuser.views.user_profile' %}" user_id="{{ user.id }}" value="確定修改" type="button">
        <br><br>
        </form>
    </div>
</div>

<br><br><br>
{% endblock %}